<div class="m-subheader" appunwraptag="" *ngIf="role !== 'student' && role !== 'teacher'">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Events
      </h3>
    </div>
    <div>
      <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
           data-dropdown-toggle="hover" aria-expanded="true">
        <a href="#"
           class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
          <i class="la la-plus m--hide"></i>
          <i class="la la-ellipsis-h"></i>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
          <div class="m-dropdown__inner">
            <div class="m-dropdown__body">
              <div class="m-dropdown__content">
                <ul class="m-nav">
                  <li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-share"></i>
                      <span class="m-nav__link-text">
												Activity
											</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="m-content" *ngIf="role !== 'student' && role !== 'teacher'">
  <div class="row">
    <div class="col-lg-12">
      <!--begin::Portlet-->
      <div class="m-portlet" id="m_portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-map-location"></i>
							</span>
              <h3 class="m-portlet__head-text">
                Events
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools" *ngIf="role === 'school'">
            <ul class="m-portlet__nav">
              <li class="m-portlet__nav-item">
                <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air"
                   data-toggle="modal" data-target="#m_modal_5">
									<span>
										<i class="la la-plus"></i>
										<span>
											Add Event
										</span>
									</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-portlet__body">
          <div id="m_calendar_event"></div>
          <!--<div id="m_calendar_notice"></div>-->
        </div>
       <!-- <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
             aria-hidden="true">
          <div class="modal-dialog modal-md" role="document">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">&lt;!&ndash;[formGroup]="userForm" (ngSubmit)="onSubmit()"&ndash;&gt;
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel4">
                    Reoprt
                  </h5>
                  <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="recipient-name" class="form-control-label">
                      Events and functions
                    </label>
                    <input type="text" class="form-control" placeholder="Title of event" id="recipient-name"
                           formControlName="title">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="form-control-label">
                    </label>
                    <textarea class="form-control" placeholder="Description of event" id="message-text"
                              formControlName="description"></textarea>
                  </div>
                </div>

                <label style="text-align: center;">Specify audiance for this event</label>
               &lt;!&ndash; <pre>Form values: {{userForm.value.audience | json}}</pre>&ndash;&gt;
                <a href="#" data-toggle="modal" data-target="#m_modal_4" tabindex="-1" role="dialog"
                   aria-labelledby="exampleModalLabel3" aria-hidden="true"
                   style="margin-left: 50%; margin-bottom: 10px"><i class="fa fa-users set-circle"
                                                                    aria-hidden="true"></i></a>
                <table style="width: 100%">

                  <tr>
                    date
                    <td><input name="setTodaysDate" class="search_categories" style="width: 70%;!important;" type="date"
                               formControlName="date"></td>
                    time
                    <td><input class="search_categories" type="time" formControlName="time"></td>

                  </tr>
                </table>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Submit Report
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
             aria-hidden="true">
          <div class="modal-dialog modal-md" role="document">
            <form [formGroup]="userForm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel1">
                    Select Audience
                  </h5>
                  <div class="modal-body">
                    <div *ngFor="let data of audience">
                      <input type="checkbox" (change)="onChange(data.audiences, $event.target.checked)"
                             [formControlName]="audience"> {{data.audiences}}<br>
                    </div>
                    <pre>Form values: {{userForm.value.audience | json}}</pre>

                    <div class="modal-footer">
                      &lt;!&ndash;<button (click)="cancel(userForm)">Cancel</button>&ndash;&gt;

                      <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        CANCEL
                      </button>
                      <button type="submit" class="btn btn-primary" on-click="event()">
                        OK
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
