<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Action Bars
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Forms
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Form Layouts
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Action Bars
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-md-6">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Default Action Bar
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form">
					<div class="m-portlet__body">
						<div class="form-group m-form__group">
							<label for="example_input_full_name">
								Full Name:
							</label>
							<input type="email" class="form-control m-input" placeholder="Enter full name">
							<span class="m-form__help">
								Please enter your full name
							</span>
						</div>
						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Email address:
							</label>
							<input type="email" class="form-control m-input" placeholder="Enter email">
							<span class="m-form__help">
								We'll never share your email with anyone else
							</span>
						</div>
						<div class="m-form__group form-group">
							<label for="">
								Communication:
							</label>
							<div class="m-checkbox-list">
								<label class="m-checkbox">
									<input type="checkbox">
									Email
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									SMS
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									Phone
									<span></span>
								</label>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions">
							<button type="reset" class="btn btn-primary">
								Submit
							</button>
							<button type="reset" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Right Action Bar
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form">
					<div class="m-portlet__body">
						<div class="form-group m-form__group">
							<label for="example_input_full_name">
								Full Name:
							</label>
							<input type="email" class="form-control m-input" placeholder="Enter full name">
							<span class="m-form__help">
								Please enter your full name
							</span>
						</div>
						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Email address:
							</label>
							<input type="email" class="form-control m-input" placeholder="Enter email">
							<span class="m-form__help">
								We'll never share your email with anyone else
							</span>
						</div>
						<div class="m-form__group form-group">
							<label for="">
								Communication:
							</label>
							<div class="m-checkbox-list">
								<label class="m-checkbox">
									<input type="checkbox">
									Email
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									SMS
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									Phone
									<span></span>
								</label>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions--right">
							<button type="reset" class="btn btn-brand">
								Submit
							</button>
							<button type="reset" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Multiple Buttons
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form">
					<div class="m-portlet__body">
						<div class="form-group m-form__group">
							<label for="example_input_full_name">
								Full Name:
							</label>
							<input type="email" class="form-control m-input" placeholder="Enter full name">
							<span class="m-form__help">
								Please enter your full name
							</span>
						</div>
						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Email address:
							</label>
							<input type="email" class="form-control m-input" placeholder="Enter email">
							<span class="m-form__help">
								We'll never share your email with anyone else
							</span>
						</div>
						<div class="m-form__group form-group">
							<label for="">
								Communication:
							</label>
							<div class="m-checkbox-list">
								<label class="m-checkbox">
									<input type="checkbox">
									Email
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									SMS
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									Phone
									<span></span>
								</label>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions--right">
							<div class="row">
								<div class="col m--align-left">
									<button type="reset" class="btn btn-brand">
										Submit
									</button>
									<button type="reset" class="btn btn-secondary">
										Cancel
									</button>
								</div>
								<div class="col m--align-right">
									<button type="reset" class="btn btn-danger">
										Delete
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Action Button & Link
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form">
					<div class="m-portlet__body">
						<div class="form-group m-form__group">
							<label for="example_input_full_name">
								Full Name:
							</label>
							<input type="email" class="form-control m-input" placeholder="Enter full name">
							<span class="m-form__help">
								Please enter your full name
							</span>
						</div>
						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Email address:
							</label>
							<input type="email" class="form-control m-input" placeholder="Enter email">
							<span class="m-form__help">
								We'll never share your email with anyone else
							</span>
						</div>
						<div class="m-form__group form-group">
							<label for="">
								Communication:
							</label>
							<div class="m-checkbox-list">
								<label class="m-checkbox">
									<input type="checkbox">
									Email
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									SMS
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									Phone
									<span></span>
								</label>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions--right">
							<button type="reset" class="btn btn-primary">
								Submit
							</button>
							<span class="m--margin-left-10">
								or
								<a href="#" class="m-link m--font-bold">
									Cancel
								</a>
							</span>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-md-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--space">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Layout With Space
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form">
					<div class="m-portlet__body">
						<div class="form-group m-form__group">
							<label for="example_input_full_name">
								Full Name:
							</label>
							<input type="email" class="form-control m-input" placeholder="Enter full name">
							<span class="m-form__help">
								Please enter your full name
							</span>
						</div>
						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Email address:
							</label>
							<input type="email" class="form-control m-input" placeholder="Enter email">
							<span class="m-form__help">
								We'll never share your email with anyone else
							</span>
						</div>
						<div class="m-form__group form-group">
							<label for="">
								Communication:
							</label>
							<div class="m-checkbox-list">
								<label class="m-checkbox">
									<input type="checkbox">
									Email
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									SMS
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									Phone
									<span></span>
								</label>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions--right">
							<div class="row">
								<div class="col m--align-left">
									<button type="reset" class="btn btn-brand">
										Submit
									</button>
									<button type="reset" class="btn btn-secondary">
										Cancel
									</button>
								</div>
								<div class="col m--align-right">
									<button type="reset" class="btn btn-danger">
										Delete
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Solid Bar
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form">
					<div class="m-portlet__body">
						<div class="form-group m-form__group">
							<label for="example_input_full_name">
								Full Name:
							</label>
							<input type="email" class="form-control m-input" placeholder="Enter full name">
							<span class="m-form__help">
								Please enter your full name
							</span>
						</div>
						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Email address:
							</label>
							<input type="email" class="form-control m-input" placeholder="Enter email">
							<span class="m-form__help">
								We'll never share your email with anyone else
							</span>
						</div>
						<div class="m-form__group form-group">
							<label for="">
								Communication:
							</label>
							<div class="m-checkbox-list">
								<label class="m-checkbox">
									<input type="checkbox">
									Email
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									SMS
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									Phone
									<span></span>
								</label>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions--solid m-form__actions--right">
							<button type="reset" class="btn btn-brand">
								Submit
							</button>
							<button type="reset" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Top & Bottom Actions Bars
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form">
					<div class="m-portlet__foot m-portlet__foot--top m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions--solid">
							<div class="row align-items-center">
								<div class="col m--align-left m--valign-middle">
									Top Actions:
								</div>
								<div class="col m--align-right">
									<button type="reset" class="btn btn-success">
										Submit
									</button>
									<button type="reset" class="btn btn-secondary">
										Cancel
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="m-portlet__body">
						<div class="form-group m-form__group">
							<label for="example_input_full_name">
								Full Name:
							</label>
							<input type="email" class="form-control m-input" placeholder="Enter full name">
							<span class="m-form__help">
								Please enter your full name
							</span>
						</div>
						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Email address:
							</label>
							<input type="email" class="form-control m-input" placeholder="Enter email">
							<span class="m-form__help">
								We'll never share your email with anyone else
							</span>
						</div>
						<div class="m-form__group form-group">
							<label for="">
								Communication:
							</label>
							<div class="m-checkbox-list">
								<label class="m-checkbox">
									<input type="checkbox">
									Email
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									SMS
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									Phone
									<span></span>
								</label>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions--solid m-form__actions--right">
							<button type="reset" class="btn btn-success">
								Submit
							</button>
							<button type="reset" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->				<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Hirozontal Form Layout
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form">
					<div class="m-portlet__body">
						<div class="form-group m-form__group row">
							<label for="example-text-input" class="col-3 col-form-label">
								Full Name:
							</label>
							<div class="col-9">
								<input type="email" class="form-control m-input" placeholder="Enter full name">
								<span class="m-form__help">
									Please enter your full name
								</span>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label for="example-text-input" class="col-3 col-form-label">
								Email address:
							</label>
							<div class="col-9">
								<input type="email" class="form-control m-input" placeholder="Enter email">
								<span class="m-form__help">
									We'll never share your email with anyone else
								</span>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label for="example-text-input" class="col-3 col-form-label">
								Communication:
							</label>
							<div class="col-9">
								<div class="m-checkbox-inline">
									<label class="m-checkbox">
										<input type="checkbox">
										Email
										<span></span>
									</label>
									<label class="m-checkbox">
										<input type="checkbox">
										SMS
										<span></span>
									</label>
									<label class="m-checkbox">
										<input type="checkbox">
										Phone
										<span></span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions--solid">
							<div class="row">
								<div class="col-3"></div>
								<div class="col-9">
									<button type="reset" class="btn btn-brand">
										Submit
									</button>
									<button type="reset" class="btn btn-secondary">
										Cancel
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>
