<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Result
      </h3>
    </div>
    <!-- BEGIN: Class Dropdown -->
  <!--  <div
      class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;small m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;custom"
      data-dropdown-toggle="click">
      <div class="m-dropdown__wrapper">
        <span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;right"></span>
        <div class="m-dropdown__inner">
          <div class="m-dropdown__body">
            <div class="m-dropdown__content">
              <div class="m-scrollable" data-scrollable="true" data-max-height="250">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <!-- END: Class Dropdown -->
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <!--Begin::Main Portlet-->
  <div class="row">
    <div class="col-xl-12">
      <!--begin:: Widgets/New Users-->
      <div class="m-portlet m-portlet--full-height">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Result
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="tab-content">
            <div class="tab-pane active" id="m_widget4_tab1_content">
              <h1>{{myName}}</h1>
              <!--begin::Widget 14-->
              <div class="m-widget4" *ngFor="let result of result_data">
                <!--begin::Widget 14 Item-->
                <div class="m-widget4__item">
                  <div class="m-widget4__img m-widget4__img--pic">
                    <img src="{{result.avtarURL}}" alt="">
                  </div>
                  <div class="m-widget4__info">
										<span class="m-widget4__title">
											{{result.name}}
										</span>
                  </div>
                  <div class="m-widget4__ext">
                    <!--<span>{{current_date | date: 'yyyy-MM-dd'}}</span>-->
                   <!-- <div  *ngIf="this.date < current_date">-->
                    <span class="m-widget4__title float-right" aria-hidden="true" data-toggle="modal" data-target="#m_modal_5" on-click="assignUid(result.uid)">
                      {{result.score}}/{{this.totalMarks}}
                    </span>
                   <!-- </div>-->

                  </div>
                </div>
                <br>
                <!--end::Widget 14 Item-->
              </div>
              <div *ngIf="role !== 'student'" class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document" *ngIf="this.datePipe.transform(this.today, 'yyyy-MM-dd') > this.date">
                  <form [formGroup]="userForm" (ngSubmit)="marks(selected_uid)"><!-- -->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel5">
                          Report
                        </h5>
                        <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                          <label>Enter Marks</label>
                          <input type="number" class="form-control" placeholder="" formControlName="marks" min="0" max="{{this.totalMarks}}">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                          Close
                        </button>
                        <button type="submit" class="btn btn-primary">
                          Confirm
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <!--end::Widget 14-->
            </div>

          </div>
        </div>
      </div>
      <!--end:: Widgets/New Users-->
    </div>
  </div>
  <!--End::Main Portlet-->
</div>
