/*.text-center{
  text-align: center !important;
  padding: 0% 20% 0% 20% !important
}*/
.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 30px;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #000;
}

.date-picker {
  width: 70% !important;
}

.m-subheader-event {
  padding: 30px 30px 0px 42px !important;
}

.time-picker {
  width: 70% !important;
}

.modal_style {
  width: 10% !important;
  margin-left: 0% !important;
}

.audiance-style {
  margin-left: 0% !important;
  margin-bottom: 0px !important;
  /*padding: 0% 45% 0% 45% !important*/
}

.m-widget4__item {
  border-bottom: none !important;
}

.float-right {
  margin-top: 1%;
}

.event-form {
  width: 100%;
  margin-top: 2%;
}

/*........................................ css code for events ...........................................*/

.heading {
  font-size: 30px;
  font-family: Segoe UI;

}


.sub-heading {
  color: #FF9100;
  font-size: 16px;
  font-weight: 500;
  font-family: Segoe UI;
  margin-top: -6px;
}

.create-btn {
  border: 2px solid #FF9100;
  background-color: #FF9100;
  color: #ffffff;
  float: right;
  border-radius: 25px;
  padding: 8px 25px 8px 25px;
  font-weight: 800;
  font-family: Segoe UI;
  font-size: 12px;
  text-decoration: none !important;
  letter-spacing: 1px;
  filter: drop-shadow(2px 5px 6px #bcbcbc);
}

.create-btn img {
  height: 12px;
  /* vertical-align: middle; */
  margin-top: -4px;
}

.main-heading {
  font-size: 20px;
  color: #6B6B73
}

.fix-heading {
  font-size: 20px;
  color: #6B6B73;

  background-color: #ffffff;
}

.date-heading {
  font-size: 20px;
  color: #6B6B73;
  font-family: Segoe UI;

}

.desc-box {
  margin-top: 20px;
  height: 151px;
  padding: 20px;
  width: 100%;
  background-color: #ffffff;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
  border-radius: 10px;
}

a:hover {
  text-decoration: none;
}

.desc-heading {
  font-size: 15px;
  font-weight: 600;
  font-family: Segoe UI;
}

.desc-subheading {
  font-size: 12px;

  color: #6B6B73;
  font-family: Segoe UI;
}

.desc-subheading-location {
  font-size: 12px;
  font-weight: 400;
  color: #6B6B73;
  font-family: Segoe UI;


}

.audience-btn {
  font-size: 10px;
  border: 2px solid #6B6B73;
  border-radius: 25px;
  padding: 5px 15px;


}

.modal-side-text {
  color: #6B6B73;
  font-size: 12px;
}

.events {
  background-color: #ffffff;
  padding: 0px 40px 40px 40px;
  overflow-y: scroll;
  height: 300px;
  width: 100%;
  filter: drop-shadow(2px 4px 6px #D9D9D9);


}

.events-subheading {
  font-size: 12px;
  color: #6B6B73;
  font-weight: bold;
}

.events-sub-heading {
  font-size: 10px;
  color: #6B6B73;
  margin-top: -20px;

}

.Notice {
  background-color: #ffffff;
  padding: 0px 40px 40px 40px;
  overflow-y: scroll;
  height: 350px;
  width: 100%;
  filter: drop-shadow(2px 4px 6px #D9D9D9);

}

.notice-content {
  font-size: 10px;
  color: #6B6B73;

}

.see-more {
  color: #FF9100 !important;
  font-size: 10px;
  font-weight: 500;
  font-family: Segoe UI;
  float: right;
  text-decoration: none !important;
}

.time {
  font-size: 10px;
  color: #A0A0A2;
  margin-top: -20px;
  float: right;

}

.fix-box {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 20px 0px 20px 0px;
}

.dateTiming {
  float: right;
  font-size: 12px;

  color: #6B6B73;
  font-family: Segoe UI;
}

.white-box {
  background-color: #fff;
  padding: 5%;
  border-radius: 10px;
}

.btn-view {
  float: right;
  border: 1px solid #FF9100;
  background: none;
  font-weight: 500;
  border-radius: 7px;
  color: #FF9100;
  padding: 5px 10px;
  font-size: 10px;
  position: absolute;
  bottom: 20px;
  margin-left: 71%;
}

.botton-view {
  position: absolute;
  bottom: 0px;
}

.header-size {
  padding-top: 20px !important;
  padding-bottom: 10px !important;

}

.header-size-view {
  padding-top: 20px !important;
  padding-bottom: 10px !important;

}

.modal-heading {
  color: #FF9100;
  font-size: 25px;
  font-weight: 500;
  font-family: Segoe UI;
}

.text-box {
  border: 2px solid #DEE3E9 !important;
  border-left: transparent !important;
  border-top: transparent !important;
  border-right: transparent !important;
  font-size: 14px !important;
  color: #000000 !important;
}

.text-box:focus {
  border: 2px solid #FF9100 !important;
  border-left: transparent !important;
  border-top: transparent !important;
  border-right: transparent !important;
  font-size: 14px !important;
  color: #000000 !important;
}

.event-title {
  text-transform: capitalize;
  font-size: 16px;
}

.btn-close {
  color: #FF9100;
  background-color: #fff;
  border: 1px solid #f0f1f6;
  border-radius: 28px;
  width: 83px !important;
  float: right;
}

.btn-close:hover {
  color: #000;
  background-color: #f0f1f6;

  border-radius: 28px;
}

.btn-submit {
  color: #fff;
  border: 2px solid #FF9100;
  background-color: #FF9100;
  border-radius: 28px;
  width: 83px;
  float: right;

}

.input-group-addon-custom {
  background-color: transparent !important;

  border: 2px solid #DEE3E9;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
}

.modal-content-padding {
  padding: 10px !important;
}

.modal-content-sizing {
  padding: 0px !important;
}

.error-message {
  color: red;
  font-size: 11px;
  font-weight: 600;
}

.event-title-box {
  display: inline-block;
  box-sizing: border-box;
  width: 50% !important;
  padding: 0px 15px;
}

.event-addbtn-box {
  display: inline-block;
  box-sizing: border-box;
  width: 49% !important;
}

textarea {
  font-size: 14px !important;
}

/*.......................................media query code .............................................*/

@media(min-width:992px) and (max-width:1024px) {}


@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {
  .btn-view {
    float: right;
    border: 1px solid #FF9100;
    background: none;
    font-weight: 500;
    border-radius: 7px;
    color: #FF9100;
    padding: 5px 10px;
    font-size: 10px;
    position: absolute;
    bottom: 20px;
    margin-left: 72%;
  }
}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {}

@media(max-width:479px) {
  .event-addbtn-box {
    display: inline-block;
    box-sizing: border-box;
    width: 47% !important;
  }

  .m-subheader .m-subheader__title {
    display: inline-block;
    padding: 7px 25px 7px 0;
    font-family: "Segoe UI" !important;
    font-weight: bold !important;
    font-size: 25px;
    vertical-align: middle;
    margin: 0 15px 0 0;
    color: #000;
  }

  .m-subheader-event {
    padding: 30px 19px 0px 19px !important;
  }

  .create-btn {
    border: 2px solid #FF9100;
    background-color: #FF9100;
    color: #ffffff;
    float: right;
    border-radius: 25px;
    padding: 7px 12px 7px 12px;
    font-weight: 800;
    font-family: Segoe UI;
    font-size: 12px;
    text-decoration: none !important;
    letter-spacing: 1px;
}
}
