<!-- BEGIN: Subheader -->
<!--<div class="m-subheader" appunwraptag="" *ngIf="role !== 'student' && role !== 'teacher'">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title&#45;&#45;separator">
        Events
      </h3>
    </div>
    <div>
      <div class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;align-push"
           data-dropdown-toggle="hover" aria-expanded="true">
        <a href="#"
           class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;outline-2x m-btn&#45;&#45;air m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">
          <i class="la la-plus m&#45;&#45;hide"></i>
          <i class="la la-ellipsis-h"></i>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;right m-dropdown__arrow&#45;&#45;adjust"></span>
          <div class="m-dropdown__inner">
            <div class="m-dropdown__body">
              <div class="m-dropdown__content">
                <ul class="m-nav">
                  <li class="m-nav__section m-nav__section&#45;&#45;first m&#45;&#45;hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-share"></i>
                      <span class="m-nav__link-text">
												Activity
											</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!-- END: Subheader -->
<!--<div class="m-content" *ngIf="role !== 'student' && role !== 'teacher'">
  <div class="row">
    <div class="col-lg-12">
      &lt;!&ndash;begin::Portlet&ndash;&gt;
      <div class="m-portlet" id="m_portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-map-location"></i>
							</span>
              <h3 class="m-portlet__head-text">
                Events
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools" *ngIf="role === 'school'">
            <ul class="m-portlet__nav">
              <li class="m-portlet__nav-item">
                <a href="#" class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air"
                   data-toggle="modal" data-target="#m_modal_5">
									<span>
										<i class="la la-plus"></i>
										<span>
											Add Event
										</span>
									</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-portlet__body">
          <div id="m_calendar_event"></div>
        </div>
        <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
             aria-hidden="true">
          <div class="modal-dialog modal-md" role="document">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">&lt;!&ndash;[formGroup]="userForm" (ngSubmit)="onSubmit()"&ndash;&gt;
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel4">
                    Reoprt
                  </h5>
                  <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="recipient-name" class="form-control-label">
                      Events and functions
                    </label>
                    <input type="text" class="form-control" placeholder="Title of event" id="recipient-name"
                           formControlName="title">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="form-control-label">
                    </label>
                    <textarea class="form-control" placeholder="Description of event" id="message-text"
                              formControlName="description"></textarea>
                  </div>
                </div>

                <label style="text-align: center;">Specify audiance for this event</label>
               &lt;!&ndash; <pre>Form values: {{userForm.value.audience | json}}</pre>&ndash;&gt;
                <a href="#" data-toggle="modal" data-target="#m_modal_4" tabindex="-1" role="dialog"
                   aria-labelledby="exampleModalLabel3" aria-hidden="true"
                   style="margin-left: 50%; margin-bottom: 10px"><i class="fa fa-users set-circle"
                                                                    aria-hidden="true"></i></a>
                <table style="width: 100%">

                  <tr>
                    date
                    <td><input name="setTodaysDate" class="search_categories" style="width: 70%;!important;" type="date"
                               formControlName="date"></td>
                    time
                    <td><input class="search_categories" type="time" formControlName="time"></td>

                  </tr>
                </table>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Submit Report
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
             aria-hidden="true">
          <div class="modal-dialog modal-md" role="document">
            <form [formGroup]="userForm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel1">
                    Select Audience
                  </h5>
                  <div class="modal-body">
                    <div *ngFor="let data of audience">
                      <input type="checkbox" (change)="onChange(data.audiences, $event.target.checked)"
                             [formControlName]="audience"> {{data.audiences}}<br>
                    </div>
                    <pre>Form values: {{userForm.value.audience | json}}</pre>

                    <div class="modal-footer">
                      &lt;!&ndash;<button (click)="cancel(userForm)">Cancel</button>&ndash;&gt;

                      <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        CANCEL
                      </button>
                      <button type="submit" class="btn btn-primary" on-click="event()">
                        OK
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->


<div class="m-subheader m-subheader-event">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
            <div class="event-title-box">
                <h3 class="m-subheader__title">Events</h3>
                <!--<p class="sub-heading">so far</p>-->
              </div>
              <div class="event-addbtn-box" *ngIf="role == 'admin' || role == 'coadmin'  || role == 'school'">
                
                  <a class=" create-btn text-white mt-3 btn-sm " href=" #" data-toggle="modal" data-target="#m_modal_7"><img src="././assets/images/plus.png">
                    &nbsp;CREATE</a>
              </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-6" *ngFor="let event of event_list1; let i=index">

                <div class="desc-box">
                  <span class="desc-subheading-location pull-right">
                    {{ (event.location.length>6)? (event.location | slice:0:10)+'..':(event.location) }}</span>
                  <p class="desc-heading event-title">{{event.title}}</p>
                  <p class="desc-subheading ">
                    {{ (event.description.length>6)? (event.description | slice:0:45)+'..':(event.description) }}</p>
                  <p class="desc-subheading botton-view font-weight-bold "
                    (change)="onChange(event.audiences, $event.target.checked)">
                    <!-- Sent To: {{event.audience}} -->
                  </p>
                  <a href="#" class="btn-view pull-right" data-toggle="modal" data-target=""
                    on-click="getEventDetails(event)" >VIEW</a>
                </div>
              </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-4 col-md-6" *ngFor="let event of event_list2; let i=index">

              <div class="desc-box">
                <span class="desc-subheading-location pull-right">
                  {{ (event.location.length>6)? (event.location | slice:0:10)+'..':(event.location) }}</span>
                <p class="desc-heading event-title">{{event.title}}</p>
                <p class="desc-subheading ">
                  {{ (event.description.length>6)? (event.description | slice:0:45)+'..':(event.description) }}</p>
                <p class="desc-subheading botton-view font-weight-bold "
                  (change)="onChange(event.audiences, $event.target.checked)">
                  <!-- Sent To: {{event.audience}} -->
                </p>
                <a href="#" class="btn-view pull-right" data-toggle="modal" data-target=""
                  on-click="getEventDetails(event)" >VIEW</a>
              </div>
            </div>
      </div>
      </div>
    </div>
  </div>




<div class="modal fade" id="m_modal_7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <!--[formGroup]="userForm" (ngSubmit)="onSubmit()"-->
      <div class="modal-content modal-content-padding">
        <div class="modal-header header-size-view">
          <p class="modal-heading font-weight-bold" id="exampleModalLabel4">
            New Event
          </p>
          <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <p class="modal-side-text">Create an event in minutes, no matter how big or small the occasion </p>
            </div>
            <div class="col-lg-6">
              <a href="#" data-toggle="modal" data-target="#m_modal_4" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel3" aria-hidden="true"
                class="audiance-style audience-btn pull-right mb-2">Audience</a>
            </div>
          </div>
          <pre class="text-center">{{userForm.value.audience}}</pre>
          <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    <!--<label for="recipient-name" class="form-control-label">-->
                    <!--Events and functions-->
                    <!--</label>-->
                    <input type="text" class="form-control text-box" placeholder="Title of event" id="recipient-name"
                      formControlName="title" required>
                    <span *ngIf="userForm.get('title').errors && (userForm.get('title').touched || userForm.get('title').dirty)"
                      class="help-block">
                      <span *ngIf="userForm.get('title').errors.required" class="error-message">
                        Please fill title!
                      </span>
                    </span>
                  </div>
            </div>
          </div>
          
          <div class="form-group">

            <textarea class="form-control" placeholder="Description of event" id="message-text "
              formControlName="description" required></textarea>
            <span
              *ngIf="userForm.get('description').errors && (userForm.get('description').touched || userForm.get('description').dirty)"
              class="help-block">
              <span *ngIf="userForm.get('description').errors.required" class="error-message">
                Please fill description!
              </span>
            </span>
          </div>

          <!--<label class="text-center">Specify audiance for this event</label>
                  <pre class="text-center">{{userForm.value.audience}}</pre>
                  <a href="#" data-toggle="modal" data-target="#m_modal_4" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel3" aria-hidden="true"
                     class="audiance-style"><i class="fa fa-users set-circle"
                                               aria-hidden="true"></i></a>-->

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <!--<input placeholder="Start Date" class="form-control" type="text" onfocus="(this.type='date')"
                  onblur="(this.type='text')" id="date" formControlName="startDate">-->

                <input type="text" formControlName="startDate" placeholder="Start Date" class="form-control text-box"
                  onfocus="(this.type='date')" onblur="(this.type='text')" required>
                <span *ngIf=" userForm.get('startDate').errors && (userForm.get('startDate').touched ||
                  userForm.get('startDate').dirty)" class="help-block">
                  <span *ngIf="userForm.get('startDate').errors.required" class="error-message">
                    Please fill startDate!
                  </span>
                </span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" formControlName="endDate" placeholder="End Date" class="form-control text-box"
                  onfocus="(this.type='date')" onblur="(this.type='text')" required>
                <span
                  *ngIf="userForm.get('endDate').errors && (userForm.get('endDate').touched || userForm.get('endDate').dirty)"
                  class="help-block">
                  <span *ngIf="userForm.get('endDate').errors.required" class="error-message">
                    Please fill endDate!
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" formControlName="startTime" placeholder="Start Time" class="form-control text-box"
                  onfocus="(this.type='time')" onblur="(this.type='text')" required>
                <span
                  *ngIf="userForm.get('startTime').errors && (userForm.get('startTime').touched || userForm.get('startTime').dirty)"
                  class="help-block">
                  <span *ngIf="userForm.get('startTime').errors.required" class="error-message">
                    Please fill startTime!
                  </span>
                </span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" formControlName="endTime" placeholder="End Time" class="form-control text-box"
                  onfocus="(this.type='time')" onblur="(this.type='text')" required>
                <span
                  *ngIf="userForm.get('endTime').errors && (userForm.get('endTime').touched || userForm.get('endTime').dirty)"
                  class="help-block">
                  <span *ngIf="userForm.get('endTime').errors.required" class="error-message">
                    Please fill endTime!
                  </span>
                </span>
              </div>
            </div>

          </div>


          <div class="input-group">
            <!--<label for="recipient-name" class="form-control-label">-->
            <!--Events and functions-->
            <!--</label>-->

            <span class="input-group-addon input-group-addon-custom"><i class="fa fa-map-marker"></i></span>
            <input type="text" class="form-control text-box" placeholder="Location" formControlName="location" required>
            <span
              *ngIf="userForm.get('location').errors && (userForm.get('location').touched || userForm.get('location').dirty)"
              class="help-block">
              <span *ngIf="userForm.get('location').errors.required" class="error-message">
                Please fill location!
              </span>
            </span>

          </div>

          <!--<table class="event-form">
                    <tr valign="center">
                      <td> Date: <input name="setTodaysDate" class="search_categories date-picker" type="date"
                                        formControlName="date"></td>
                      <td>Time: <input class="search_categories time-picker" type="time" formControlName="time" min="00:00:00"></td>
                    </tr>
                  </table>-->

          <div class="row mt-3">
            <div class="col-lg-12">
              <button type="submit" class="btn btn-submit btn-sm mr-2">
                SAVE
              </button>
              <button type="button" class="btn btn-close btn-sm mr-2" data-dismiss="modal" [disabled]= "userForm.valid">
                CANCEL
              </button>
            </div>
          </div>
        </div>
        <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">
          Submit Report
        </button>
      </div>-->
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <form [formGroup]="userForm">
      <div class="modal-content modal-content-sizing">
        <div class="modal-header">

          <div class="modal-body">
            <h5 id="exampleModalLabel1" class="font-weight-bold">
              Select Audience
            </h5>
            <!-- <div *ngFor="let data of audience">
              <input type="checkbox" (change)="onChange(data.audiences, $event.target.checked)"
                [formControlName]="audience"> {{data.audiences}}<br>
            </div> -->
            <div *ngFor="let data of audience">
              <input type="checkbox" (change)="onChange(data.audiences, $event.target.checked)"
              > {{data.audiences}}<br>
            </div>

            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">
                        CANCEL
                      </button>
                      <button type="submit" class="btn btn-primary" on-click="event()">
                        OK
                      </button>-->

            <div class="row mt-1 mb-3">
              <div class="col-lg-12">
                <!--<button type="submit" class="btn btn-submit btn-sm mr-2">
                              SAVE
                            </button>-->
                <button type="button" class="btn btn-submit btn-sm mr-2" data-dismiss="modal">
                  SAVE
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-------------------------------------------- modal view-------------------------------------------->

<div class="container" *ngIf="eventDetails">
  <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header header-size-view">
          <h2 class="modal-heading font-weight-bold">Events</h2>
          <a href="#" class="close" data-dismiss="modal">&times;</a>
        </div>
        <div class="modal-body">
          
          <h5 class="font-weight-bold event-title">{{eventDetails.title}}</h5>
          
          <p class="desc-subheading ">{{eventDetails.description}}</p>
          <p class="desc-subheading-location"><i
            class="fa fa-map-marker mr-1"></i>{{eventDetails.location}}</p>

          <div class="row">
            <div class="col-lg-12">
              <span class="desc-subheading"><span class="text-dark font-weight-bold">Date:</span>
                {{eventDetails.startDate |date : "dd.MM.yy" }}-{{eventDetails.endDate |date : "dd.MM.yy" }}</span>
              <span class="desc-subheading pull-right text-lowercase"><span
                  class="text-dark font-weight-bold text-capitalize">Timing:</span>
                {{eventDetails.startTime |date : 'h:mm a' }}-{{eventDetails.endTime |date : 'h:mm a' }}</span>
            </div>
          </div>
          <span class="desc-subheading font-weight-bold mt-3" >Sent To: {{eventDetails.audience}}</span>


        </div>
      </div>
    </div>
  </div>

</div>
