<!-- END: Subheader -->
<div class="m-content-custom">
  <!--Begin::Main Portlet-->
  <div class="col-xl-12">
    <div class="row">
      <div class="col-xl-12 col-10-action">
        <!--begin:: Widgets/New Users-->
        <div class="m-portlet m-portlet-custom m-portlet--full-height">
          <div class="m-portlet__head m-portlet__head-border-remove m-portlet__head-dashboard">
            <div class="m-portlet__head-caption m-portlet__head-caption-dashboard">
              <div class="m-portlet__head-title">
                <h1 class="m-portlet__head-text heading-style font-weight-bold">
                  Activities
                  <p class="heading-sub font-weight-bold">
                    Do Almost
                  </p>
                  <p class="sub-heading-1 sub-heading-1-dashboard text-dark" *ngIf="stats && role !== 'clerk'">
                    {{ stats.dailyThought.description }}
                  </p>
                </h1>
              </div>
              <div>
              </div>

            </div>
            <div class="m-portlet__head-tools m-portlet__head-tools-dashboard">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item text-left m-portlet__nav-item-activities">
                  <span class="activities-sub-heading-date">{{myDate | date: 'd MMM y'}}</span>
                  <br>
                  <span class=" activities-sub-heading"> Today's overview</span>
                </li>
              </ul>
            </div>

          </div>
          <!-- <div class="m-portlet__head">
            <div class="m-portlet__head-caption m-portlet__head-caption-activities">
              <div class="m-portlet__head-title">
                <h1 class="m-portlet__head-text heading-style font-weight-bold">
                  Activities
                  <p class="heading-sub font-weight-bold">
                    Do Almost
                  </p>
                </h1>
              </div>
              <div>
                <p class="sub-heading-1 text-dark" *ngIf="stats">
                  {{ stats.dailyThought.description }}
                </p>
              </div>

            </div>
            <div class="m-portlet__head-tools m-portlet__head-tools-activities">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item text-left">
                  <span class="sub-heading-date">{{myDate | date:'dd-MM-yyyy'}}</span>
                  <br>
                  <span class="sub-heading-activity"> Today's overview</span>
                </li>
              </ul>
            </div>

          </div> -->
          <div class="m-portlet__body">
            <div class="tab-content">
              <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-12">
                  <div class="activities_container">
                    <h5 class="sub-heading-activity">Student & Staff</h5>
                    <!-- <div class="row row-actions">
                        <div class="col-md-4  col-menu-name text-center">
                            <div class="box">
                                  <img class="mx-auto d-block" src="././assets/images/dashboard-icon/time-table.svg" onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Teachers">
                                    
                                </div>
                                Teachers
                        </div>
                        <div class="col-md-4  col-menu-name text-center">
                          <div class="box">
                              <img class="mx-auto d-block" src="././assets/images/dashboard-icon/time-table.svg" onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Non Teaching">
                               
                            </div>
                            Non Teaching
                        </div> 
                        <div class="col-md-4  col-menu-name text-center">
                          <div class="box">
                              <img class="mx-auto d-block" src="././assets/images/dashboard-icon/time-table.svg" onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Students">
                           
                            </div>
                            Students
                        </div>
  
                    </div> -->
                    <div class="row row-actions">
                      <div class="col-lg-4 col-md-4 col-menu-name text-center justify-content-center d-flex"
                        *ngIf="role != 'clerk' && role !== 'librarian' && role !== 'security' && role !== 'driver'">
                        <a class="a-custom" routerLink="/teachers">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/Teacher3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Time Table">
                          </div>
                          <span class="action-text-type">Teachers</span>
                        </a>
                      </div>
                      <div class="col-lg-4 col-md-4  col-menu-name text-center justify-content-center d-flex"
                        *ngIf="role != 'clerk' && role !== 'librarian'  && role !== 'security' && role !== 'student' && role !== 'parent'  && role !== 'driver'">
                        <a class="a-custom" routerLink="/non-teaching-staff">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/NonTeaching3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Attendance">
                          </div>
                          <span class="action-text-type">Non Teaching</span>
                        </a>
                      </div>
                      <div class="col-lg-4 col-md-4  col-menu-name text-center justify-content-center d-flex"
                        *ngIf="role !== 'clerk' && role !== 'librarian'  && role !== 'security' && role !== 'student' && role !== 'parent' && role !== 'driver'">
                        <a class="a-custom" routerLink="/students">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/Student3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Classes">
                          </div>
                          <span class="action-text-type-student text-center">Student</span>
                        </a>
                      </div>
                     
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-12">
                  <div class="container">
                    <h5 class="sub-heading-activity">Academics</h5>
                    <div class="row row-actions">
                      <div class="  col-menu-name col-md-4 col-lg-4 justify-content-center d-flex"
                        *ngIf="role !=='coadmin' && role !=='clerk'  && role !== 'librarian'  && role !== 'security' && role !== 'driver'">
                        <a class="a-custom" routerLink="/timetable">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/Timetable3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Time Table">
                          </div>
                          <span class="action-text-type-timetable">Timetable</span>
                        </a>
                      </div>
                      <div class="  col-md-4 col-lg-4 col-menu-name text-center justify-content-center d-flex"
                        *ngIf="role !=='clerk' && role !== 'librarian'  && role !== 'security' && role !== 'driver'">
                        <a class="a-custom" routerLink="/attendance/classes">
                          <div class="activities-box">
                            <img class="img-fluid" src="././assets/images/dash_3d_icons/Attendance3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Attendance">
                          </div>
                          <span class="action-text-type-examination">Attendance</span>
                        </a>
                      </div>
                      <!--<div class="col-md-4 col-lg-4  col-menu-name text-center justify-content-center d-flex"  *ngIf="role == 'school'">
                        <a class="a-custom" routerLink="/classes" >
                          <div class="box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/Class3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Classes">
                          </div>
                          <span class="action-text-type-examination">Classes</span>
                        </a>
                      </div>-->
                      <div class="col-md-4 col-lg-4  col-menu-name text-center justify-content-center d-flex"
                        *ngIf="role == 'school' && role !== 'driver'">
                        <a class="a-custom" routerLink="/classes">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/Class3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Classes">
                          </div>
                          <span class="action-text-type-examination">Classes</span>
                        </a>
                      </div>
                      <div class="col-md-4 col-lg-4  col-menu-name text-center justify-content-center d-flex"
                        *ngIf="role != 'coadmin' && role != 'clerk' && role !== 'librarian' && role !== 'security' && role !== 'driver'">
                        <a class="a-custom" routerLink="/examination">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/Examination3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Time Table">
                          </div>
                          <span class="action-text-type-examination">Examination</span>
                        </a>
                      </div>
                      <div class="col-md-4 col-lg-4  col-menu-name text-center justify-content-center d-flex"
                        *ngIf="role !== 'clerk' && role !== 'coadmin' && role !== 'librarian' && role !== 'security' && role !== 'driver'">
                        <a class="a-custom" routerLink="/homework">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/Homework3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Classes">
                          </div>
                          <span class="action-text-type">Homework</span>
                        </a>
                      </div>
                      <div class="col-md-4  col-menu-name text-center justify-content-center d-flex"
                        *ngIf="role !== 'clerk' && role !== 'security' && role !== 'driver'">
                        <a class="a-custom" routerLink="/library">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/Library3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Library">
                          </div>
                          <span class="action-text-type">Library</span>
                        </a>
                      </div>
                      <div class="col-md-4 col-lg-4 col-menu-name text-center justify-content-center d-flex"
                        *ngIf="role == 'clerk' || role == 'parent' || role == 'school' && role !== 'driver'">
                        <a class="a-custom" routerLink="/assign-fees">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/Payment3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Event">
                          </div>
                          <span class="action-text-type">Fees</span>
                        </a>
                      </div>
                      <div class="col-md-4 col-lg-4 col-menu-name text-center justify-content-center d-flex"
                        *ngIf="role == 'security'">
                        <a class="a-custom" routerLink="/security">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/security.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Event">
                          </div>
                          <span class="action-text-type">Security</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-12">
                  <div class="container">
                    <h5 class="sub-heading-activity">Utilities</h5>
                    <div class="row row-actions">
                      <div class="col-md-4  col-menu-name text-center justify-content-center d-flex"
                        *ngIf="role == 'school' || role == 'coadmin' || role== 'teacher'|| role== 'student'">
                        <a class="a-custom" routerLink="/track-buses">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/BusTracking3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Track Bus">
                          </div>
                          <span class="action-text-type-utilities">Track Bus</span>
                        </a>
                      </div>
                      <div class="col-md-4  col-menu-name text-center justify-content-center d-flex"
                        *ngIf="role !== 'clerk'">
                        <a class="a-custom" routerLink="/Discuss">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/Discuss3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Discuss">
                          </div>
                          <span class="action-text-type-utilities">Discuss</span>
                        </a>
                      </div>
                      <div class="col-md-4  col-menu-name text-center justify-content-center d-flex">
                        <a class="a-custom" routerLink="/inbox">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/Inbox3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Inbox">
                          </div>
                          <span class="action-text-type-utilities">Inbox</span>
                        </a>
                      </div>
                      <div class="col-md-4 col-menu-name text-center justify-content-center d-flex"
                        *ngIf="role !== 'clerk' && role !== 'security'">
                        <a class="a-custom" routerLink="/events">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/Event3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Event">
                          </div>
                          <span class="action-text-type-utilities">Event</span>
                        </a>
                      </div>
                      <div class="col-md-4 col-lg-4 col-menu-name text-center justify-content-center d-flex"
                      *ngIf="role !== 'student'">
                      <!-- *ngIf="role == 'parent' || role == 'school' || role == 'coadmin' || role == 'teacher' || role == 'admin' || role == 'clerk' || role == 'librarian'" -->
                      <a class="a-custom" routerLink="/my-child">
                        <div class="activities-box">
                          <img class="img-fluid" src="././assets/images/dash_3d_icons/MyChild3d.png"
                            onError="this.src='././assets/app/media/img/logos/logo.png'" alt="">
                        </div>
                        <span class="action-text-type-myChild">My Child</span>
                      </a>
                    </div>
                    <div class="col-md-4 col-lg-4 col-menu-name text-center justify-content-center d-flex"
                        *ngIf="role !=='clerk' && role !== 'security'">
                        <a class="a-custom" routerLink="/notice">
                          <div class="activities-box">
                            <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/NoticeBoard3d.png"
                              onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Attendance">
                          </div>
                          <span class="action-text-type">Notice Board</span>
                        </a>
                      </div>
                      <!-- <div class="col-md-4 col-menu-name text-center" *ngIf="role == 'clerk'" >
                        <div class="box">
                          <img class="mx-auto d-block" src="././assets/images/dash_3d_icons/Payment3d.png"
                            onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Event">
                        </div>
                        <span class="action-text-type">Payment</span>
                      </div> -->
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end:: Widgets/New Users-->
    </div>
  </div>
  <!--End::Main Portlet-->
