.m-body .m-content-custom  {
    padding: 0px 0px 0px 0px !important;   
}

.col-10-action .col-2-notice {
    position: relative;
    width: 100%;
    min-height: 100% ;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.col-10-action {
    padding-right: 0px !important;
    padding-left: 0px !important;
}


.col-notice {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.event-notice-list {
    height: 50%;
}

.event-notice-title {
    height: 20%;
    overflow-y: hidden;
}
.event-notice-text {
    height: 80%;
    overflow-y: auto;
    padding-right:10px;
}

.sub-heading-date {
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 500;
}

.sub-heading-1 {
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 400;
    color: #000 !important;
    width: 400px
}


.sub-heading-activity {
    font-family: 'Segoe UI';
    font-size: 18px;
    color: #6B6B73;
    font-weight: 600;
    margin: 0px 0px;
}

/* Activities Title  */
.m-portlet__head-caption-activities {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: left; 
}

.m-portlet__head-tools-activities {
    text-align: right;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    float: right;
    padding: 10px;
  }

.heading-sub {
    font-family: 'Segoe UI';
    font-size: 12px;
    color: #FF9100;
    font-weight: 500;
    padding-top: 5px;
}

.heading-style {
    font-family: 'Segoe UI' !important;
    font-size: 30px !important;
    padding-top: 20px;
    color: #000 !important;
}

.activities-box {
    height: 60%;
    width: 80%;
    border-radius: 10px;
   
    padding: 10% 10% 15% 10%;
}

.a-custom {
    color: #575962;
    text-decoration: none !important;
    font-size: 13px ;
    font-family: 'Segoe UI' !important;
    /* font-weight: bolder; */
}

.col-menu-name {   
    font-size: 13px;
    font-family: 'Segoe UI' !important;
    font-weight: bolder;
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.row-actions {
    margin-top: 15px;
    margin-left: -21px;
}

.m-portlet-custom {
    /* margin-bottom: 0px !important; */
    background-color: #f1f2f7 !important;
    box-shadow: none;
}

.m-portlet-full-height-custom {
    /* height: 100% !important; */
    background-color: #F8F8F8;
}

.mx-auto {
    height: 142% !important;
    width: 94% !important;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 10px 0 !important;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
  }

  .topright-style {
    font-family: 'Segoe UI';
    font-size: 12px;
    color: #FF9100;
    font-weight: 500;
}

.notice-title {
    font-weight: bold;
    font-size: 14px;
    color: #575962;
    font-family: 'Segoe UI';
}

.notice-text {
    font-size: 12px;
    margin: 0;
    color: #74788d;
}
.arrow{
    margin-top: 200%;
    
}


/* @media (min-width: 993px){
    .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-aside-right, .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-wrapper {
        margin-bottom: 25px;
    }
} */

.action-text-type {
    margin: 0px 0px 0px -14px;
    color: #A0A0A2;
    font-weight: 500;
    font-size: 12px;
    font-weight: 500;
    font-family: segoe UI;
}
.action-text-type-student{
    margin: 0px 0px 0px -14px;
    color: #A0A0A2;
    font-weight: 500;
    font-size: 12px;
    font-weight: 500;
    font-family: segoe UI;

}
.action-text-type-utilities{
    margin: 0px 0px 0px -14px;
    color: #A0A0A2;
    font-weight: 500;
    font-size: 12px;
    font-weight: 500;
    font-family: segoe UI;

}
.action-text-type-timetable{
    margin: 0px 0px 0px 9px;
    color: #A0A0A2;
    font-weight: 500;
    font-size: 12px;
    font-weight: 500;
    font-family: segoe UI;
}
.action-text-type-myChild{
    margin: 0px 0px 0px -14px;
    color: #A0A0A2;
    font-weight: 500;
    font-size: 12px;
    font-weight: 500;
    font-family: segoe UI;

}
.action-text-type-examination{
    margin: 0px 0px 0px -14px;
    color: #A0A0A2;
    font-weight: 500;
    font-size: 12px;
    font-weight: 500;
    font-family: segoe UI;

}

.notice-date {
    font-size: 12px;
    color: #74788d;
    font-family: 'Segoe UI';
}
.m-portlet__body-padding{
    padding: 2.2rem 1.2rem !important;
}

.m-portlet .m-portlet__head {
    /*border-bottom: 1px solid transparent !important;*/
    border: none !important;
}

.activities_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}

.activities-sub-heading-date {
    font-size: 12px;
    font-weight: 600;
    font-family: segoe UI;
}

.activities-sub-heading {
    font-size: 22px;
    font-weight: bold;
    font-family: segoe UI;
    color: #969698;
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item-activities {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 0px !important; 
  }

/*.......................................media query code .............................................*/

    @media(min-width:992px)
    {
        /*.m-stack.m-stack--general.m-stack--ver > .m-stack__item.m-stack__item--middle {
            vertical-align: middle;
            display: none;
        }*/
    
      
    }
    @media(min-width:768px) and (max-width:991px){
      
     
      
    }
    @media(min-width:575px) and (max-width:767px){
      
      
    }
    @media(min-width:480px) and (max-width:574px){
    
    
      
    }
    @media(max-width:479px){
        .activities-sub-heading {
            font-size: 15px;
            font-weight: 500; 
            font-family: segoe UI;
            color: #969698;
        }
        
        .mx-auto {
            height: 142% !important;
            width: 94% !important;
        }
        .activities-box{
            height: 69%;
            width: 109%;
            border-radius: 10px;
            padding: 10% 0% 15% 0%;
        }

        .action-text-type-student {
            margin: 0px 0px 0px 11px;
        }
        .action-text-type-examination{
            margin: 0px 0px 0px 38px;
        
        }
        .action-text-type-utilities{
            margin: 0px 0px 0px 9px;
        
        }
        .action-text-type-timetable{
            margin: 0px 0px 0px 37px;
        }
        .action-text-type-myChild{
            margin: 0px 0px 0px 28px;

        }
        
      
    }
    
    