<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Pricing Tables v4
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							General
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Pricing Tables
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Pricing Tables v4
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__body m-portlet__body--no-padding">
			<!--begin::Basic Pricing 4-->
			<div class="m-pricing-table-4">
				<div class="m-pricing-table-4__top">
					<div class="m-pricing-table-4__top-container m-pricing-table-4__top-container--fixed">
						<div class="m-pricing-table-4__top-header">
							<div class="m-pricing-table-4__top-title m--font-light">
								<h1>
									Transparent & Simple Pricing
								</h1>
							</div>
						</div>
						<div class="m-pricing-table-4__top-body">
							<!--begin::Pricing Items-->
							<div class="m-pricing-table-4__top-items">
								<!--begin::Pricing Item-->
								<div class="m-pricing-table-4__top-item">
									<span class="m-pricing-table-4__icon m--font-info">
										<i class="fa flaticon-rocket"></i>
									</span>
									<h2 class="m-pricing-table-4__subtitle">
										Basic Plan
									</h2>
									<div class="m-pricing-table-4__features">
										<span>
											Lorem ipsum dolor adipiscing
										</span>
										<br>
										<span>
											do eiusmod tempors
										</span>
									</div>
									<span class="m-pricing-table-4__price">
										69
									</span>
									<span class="m-pricing-table-4__label">
										$
									</span>
									<div class="m-pricing-table-4__btn">
										<button type="button" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
											Purchase
										</button>
									</div>
									<!--begin::Mobile Pricing Table-->
									<div class="m-pricing-table-4__top-items-mobile">
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Number Of Users
											</span>
											<br>
											<span>
												Up to 10k
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Domains
											</span>
											<br>
											<span>
												1
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Projects
											</span>
											<br>
											<span>
												5
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Storage
											</span>
											<br>
											<span>
												5GB
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Supporet
											</span>
											<br>
											<span>
												No
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Tutorials
											</span>
											<br>
											<span>
												No
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Cancelation
											</span>
											<br>
											<span>
												Yes
											</span>
										</div>
										<div class="m-pricing-table-4__top-btn">
											<button type="button" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
												Purchase
											</button>
										</div>
									</div>
									<!--end::Mobile Pricing Table-->
								</div>
								<!--end::Pricing Items-->							<!--begin::Pricing Items-->
								<div class="m-pricing-table-4__top-item">
									<span class="m-pricing-table-4__icon m--font-info">
										<i class="fa flaticon-confetti"></i>
									</span>
									<h2 class="m-pricing-table-4__subtitle">
										For Business
									</h2>
									<div class="m-pricing-table-4__features">
										<span>
											Lorem ipsum dolor adipiscing
										</span>
										<br>
										<span>
											do eiusmod tempors
										</span>
									</div>
									<span class="m-pricing-table-4__price">
										169
									</span>
									<span class="m-pricing-table-4__label">
										$
									</span>
									<div class="m-pricing-table-4__btn">
										<button type="button" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
											Purchase
										</button>
									</div>
									<!--begin::Mobile Pricing Table-->
									<div class="m-pricing-table-4__top-items-mobile">
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Number Of Users
											</span>
											<br>
											<span>
												Up to 100k
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Domains
											</span>
											<br>
											<span>
												20
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Projects
											</span>
											<br>
											<span>
												100
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Storage
											</span>
											<br>
											<span>
												200GB
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Supporet
											</span>
											<br>
											<span>
												Yes
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Tutorials
											</span>
											<br>
											<span>
												Yes
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Cancelation
											</span>
											<br>
											<span>
												Yes
											</span>
										</div>
										<div class="m-pricing-table-4__top-btn">
											<button type="button" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
												Purchase
											</button>
										</div>
									</div>
									<!--end::Mobile Pricing Table-->
								</div>
								<!--end::Pricing Items-->							<!--begin::Pricing Items-->
								<div class="m-pricing-table-4__top-item">
									<span class="m-pricing-table-4__icon m--font-info">
										<i class="fa flaticon-gift"></i>
									</span>
									<h2 class="m-pricing-table-4__subtitle">
										Enterprise
									</h2>
									<div class="m-pricing-table-4__features">
										<span>
											Lorem ipsum dolor adipiscing
										</span>
										<br>
										<span>
											do eiusmod tempors
										</span>
									</div>
									<span class="m-pricing-table-4__price">
										669
									</span>
									<span class="m-pricing-table-4__label">
										$
									</span>
									<div class="m-pricing-table-4__btn">
										<button type="button" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
											Purchase
										</button>
									</div>
									<!--begin::Mobile Pricing Table-->
									<div class="m-pricing-table-4__top-items-mobile">
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Number Of Users
											</span>
											<br>
											<span>
												Unlimited
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Domains
											</span>
											<br>
											<span>
												100
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Projects
											</span>
											<br>
											<span>
												500
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Storage
											</span>
											<br>
											<span>
												Unlimited
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Supporet
											</span>
											<br>
											<span>
												Yes
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Tutorials
											</span>
											<br>
											<span>
												Yes
											</span>
										</div>
										<div class="m-pricing-table-4__top-item-mobile">
											<span>
												Cancelation
											</span>
											<br>
											<span>
												Yes
											</span>
										</div>
										<div class="m-pricing-table-4__top-btn">
											<button type="button" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
												Purchase
											</button>
										</div>
									</div>
									<!--end::Mobile Pricing Table-->
								</div>
								<!--end::Pricing Items-->
							</div>
							<!--end::Pricing Items-->
						</div>
					</div>
				</div>
				<div class="m-pricing-table-4__bottom">
					<div class="m-pricing-table-4__bottom-container m-pricing-table-4__bottom-container--fixed">
						<div class="m-pricing-table-4__bottom-items">
							<div class="m-pricing-table-4__bottom-item">
								Number Of Users
							</div>
							<div class="m-pricing-table-4__bottom-item">
								Up to 10k
							</div>
							<div class="m-pricing-table-4__bottom-item">
								Up to 100k
							</div>
							<div class="m-pricing-table-4__bottom-item">
								Unlimited
							</div>
						</div>
						<div class="m-pricing-table-4__bottom-items">
							<div class="m-pricing-table-4__bottom-item">
								Domains
							</div>
							<div class="m-pricing-table-4__bottom-item">
								1
							</div>
							<div class="m-pricing-table-4__bottom-item">
								20
							</div>
							<div class="m-pricing-table-4__bottom-item">
								100
							</div>
						</div>
						<div class="m-pricing-table-4__bottom-items">
							<div class="m-pricing-table-4__bottom-item">
								Projects
							</div>
							<div class="m-pricing-table-4__bottom-item">
								5
							</div>
							<div class="m-pricing-table-4__bottom-item">
								100
							</div>
							<div class="m-pricing-table-4__bottom-item">
								500
							</div>
						</div>
						<div class="m-pricing-table-4__bottom-items">
							<div class="m-pricing-table-4__bottom-item">
								Storage
							</div>
							<div class="m-pricing-table-4__bottom-item">
								5GB
							</div>
							<div class="m-pricing-table-4__bottom-item">
								200GB
							</div>
							<div class="m-pricing-table-4__bottom-item">
								Unlimited
							</div>
						</div>
						<div class="m-pricing-table-4__bottom-items">
							<div class="m-pricing-table-4__bottom-item">
								Supporet
							</div>
							<div class="m-pricing-table-4__bottom-item">
								No
							</div>
							<div class="m-pricing-table-4__bottom-item">
								Yes
							</div>
							<div class="m-pricing-table-4__bottom-item">
								Yes
							</div>
						</div>
						<div class="m-pricing-table-4__bottom-items">
							<div class="m-pricing-table-4__bottom-item">
								Tutorials
							</div>
							<div class="m-pricing-table-4__bottom-item">
								No
							</div>
							<div class="m-pricing-table-4__bottom-item">
								Yes
							</div>
							<div class="m-pricing-table-4__bottom-item">
								Yes
							</div>
						</div>
						<div class="m-pricing-table-4__bottom-items">
							<div class="m-pricing-table-4__bottom-item">
								Cancelation
							</div>
							<div class="m-pricing-table-4__bottom-item">
								Yes
							</div>
							<div class="m-pricing-table-4__bottom-item">
								Yes
							</div>
							<div class="m-pricing-table-4__bottom-item">
								Yes
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end::Basic Pricing 4-->
		</div>
	</div>
	<!--end::Portlet-->
</div>
