<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Members Info
      </h3>
    </div>
  </div>
</div>

<div class="m-content">

  <div class="row">
    <div class="col-xl-12">

      <div class="m-portlet m-portlet--full-height">

        <div class="m-portlet__body">
          <div class="tab-content">

            <div class="tab-pane active" id="m_widget4_tab1_content">

              <div class="m-widget4" *ngFor="let mg of myGroup">

                <div class="m-widget4__item">
                  <div class="m-widget4__img m-widget4__img--pic">
                    <img alt="profile picture" src="{{mg.avtar}}">
                  </div>
                  <div class="m-widget4__info">
										<span class="m-widget4__title">
											{{mg.name}}
										</span>
                    <span class="m-widget4__sub" >
											{{mg.title}}
                    </span>
                  </div>
                </div>
                <br>

              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
