<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Bootstrap Touchspin
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Forms
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Form Widgets
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Touchspin
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Bootstrap Touchspin Examples
					</h3>
				</div>
			</div>
		</div>
		<!--begin::Form-->
		<form class="m-form m-form--fit m-form--label-align-right">
			<div class="m-portlet__body">
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Minimum Setup
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input id="m_touchspin_1" type="text" class="form-control" value="55" name="demo1" placeholder="Select time">
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						With Prefix
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input id="m_touchspin_2" type="text" class="form-control" value="0" name="demo1" placeholder="Select time">
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						With Postfix
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input id="m_touchspin_3" type="text" class="form-control" value="0" name="demo1" placeholder="Select time">
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Vertical Icons:
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input id="m_touchspin_4" type="text" class="form-control bootstrap-touchspin-vertical-btn" value="" name="demo1" placeholder="40">
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Vertical Custom Icons:
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input id="m_touchspin_5" type="text" class="form-control bootstrap-touchspin-vertical-btn" value="" name="demo1" placeholder="30">
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions">
					<div class="row">
						<div class="col-lg-9 ml-lg-auto">
							<button type="reset" class="btn btn-brand">
								Submit
							</button>
							<button type="reset" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--end::Form-->
	</div>
	<!--end::Portlet--><!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Bootstrap Touchspin Brand Color Skin
					</h3>
				</div>
			</div>
		</div>
		<!--begin::Form-->
		<form class="m-form m-form--fit m-form--label-align-right">
			<div class="m-portlet__body">
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Minimum Setup
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class="m-bootstrap-touchspin-brand">
							<input id="m_touchspin_2_1" type="text" class="form-control" value="55" name="demo1" placeholder="Select time">
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						With Prefix
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class="m-bootstrap-touchspin-brand">
							<input id="m_touchspin_2_2" type="text" class="form-control" value="0" name="demo1" placeholder="Select time">
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						With Postfix
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class="m-bootstrap-touchspin-brand">
							<input id="m_touchspin_2_3" type="text" class="form-control" value="0" name="demo1" placeholder="Select time">
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Vertical Icons:
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class="m-bootstrap-touchspin-brand">
							<input id="m_touchspin_2_4" type="text" class="form-control bootstrap-touchspin-vertical-btn" value="" name="demo1" placeholder="40">
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Vertical Custom Icons:
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class="m-bootstrap-touchspin-brand">
							<input id="m_touchspin_2_5" type="text" class="form-control bootstrap-touchspin-vertical-btn" value="" name="demo1" placeholder="30">
						</div>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions">
					<div class="row">
						<div class="col-lg-9 ml-lg-auto">
							<button type="reset" class="btn btn-brand">
								Submit
							</button>
							<button type="reset" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--end::Form-->
	</div>
	<!--end::Portlet--><!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Validation State Examples
					</h3>
				</div>
			</div>
		</div>
		<!--begin::Form-->
		<form class="m-form m-form--fit m-form--label-align-right">
			<div class="m-portlet__body">
				<div class="form-group m-form__group row has-success">
					<label class="col-form-label col-lg-3 col-sm-12">
						Success State
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input id="m_touchspin_1_validate" type="text" class="form-control" value="" name="demo1" placeholder="40">
						<div class="form-control-feedback">
							Success! You've done it.
						</div>
						<span class="m-form__help">
							Example help text that remains unchanged.
						</span>
					</div>
				</div>
				<div class="form-group m-form__group row has-danger">
					<label class="col-form-label col-lg-3 col-sm-12">
						Danger State
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input id="m_touchspin_2_validate" type="text" class="form-control" value="" name="demo1" placeholder="40">
						<div class="form-control-feedback">
							Sorry, that username's taken. Try another?
						</div>
						<span class="m-form__help">
							Example help text that remains unchanged.
						</span>
					</div>
				</div>
				<div class="form-group m-form__group row has-warning">
					<label class="col-form-label col-lg-3 col-sm-12">
						Warning State
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input id="m_touchspin_3_validate" type="text" class="form-control bootstrap-touchspin-vertical-btn" value="" name="demo1" placeholder="40">
						<div class="form-control-feedback">
							Shucks, check the formatting of that and try again.
						</div>
						<span class="m-form__help">
							Example help text that remains unchanged.
						</span>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions">
					<div class="row">
						<div class="col-lg-9 ml-lg-auto">
							<button type="reset" class="btn btn-primary">
								Submit
							</button>
							<button type="reset" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--end::Form-->
	</div>
	<!--end::Portlet-->
</div>
