<!-- Fee View for Clerk, school and coadmin -->

<div class="m-content" *ngIf="role == 'clerk' || role == 'school'">
  <!-- BEGIN: Subheader -->
  <div class="col-xl-12 m-subheader m-subheader-custom-payment" appunwraptag="">

    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title">
          Payments
        </h3>
        <p class="heading-sub">
          All about Financial
        </p>
      </div>
      <!-- BEGIN: Class Dropdown -->
      <div
        class="m-dropdown m-dropdown--inline m-dropdown--small m-dropdown--arrow m-dropdown--align-right m-dropdown-custom"
        data-dropdown-toggle="click">
        <a href="#" class="btn-sm m-btn take-btn" data-toggle="modal" data-target="#NewFeeTemplate">
          + Create Template
        </a>
      </div>
      <!-- END: Class Dropdown -->
    </div>
  </div>

  <!--Begin::Main Portlet-->
  <div class="col-xl-12">
    <!--begin:: Widgets/New Users-->
    <div class="m-portlet m-portlet-custom-1 m-portlet--full-height-payment m-portlet--full-height-custom">
      <div class="m-portlet__head m-portlet__head-custom-payment">

        <div class="m-portlet__head-tools m-portlet__head-tools-bottom">
          <ul
            class="nav nav-pills nav-pills--brand nav-pills--brand-custom m-nav-pills--align-left m-nav-pills--btn-pill m-nav-pills--btn-sm"
            role="tablist">
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link active" data-toggle="tab" pn-click="getFeesTypeList()"
                href="#m_widget4_tab1_content" role="tab">
                Overview
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link " on-click="getClasses()" data-toggle="tab" href="#m_widget4_tab2_content"
                role="tab">
                Class Wise
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" on-click="getClassList()"
                href="#m_widget4_tab3_content" role="tab">
                Templates
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" on-click="getClassListFees()"
                href="#m_widget4_tab4_content" role="tab">
                Student Fee
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="m-portlet__body m-portlet__body-custom-payment">
        <div class="tab-content">
          <div class="tab-pane active" id="m_widget4_tab1_content">
            <!--begin::Widget 14-->
            <div class="m-content-att">
              <div class="content pt-1 ">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="bg-white bg-white-custom pt-3 pb-3 pr-5 pl-3">
                      <div class="row">
                        <div class="col-lg-4" *ngIf="paymentSchoolData">
                          <span class="heading-payment">PAYMENT</span>
                          <h3 class="text-dark">Rs. {{ this.paymentSchoolData.amountDetails.totalCollection }}</h3>
                          <span class="text-dark heading-payment">
                            Deposited
                          </span>
                        </div>

                        <div class="col-lg-4" *ngIf="!paymentSchoolData">
                          <div class="col-md-12">
                            <span class="heading-payment">PAYMENT</span>
                            <h3 class="text-dark">Rs. 0</h3>
                            <span class="text-dark heading-payment">
                              Deposited
                            </span>
                          </div>
                        </div>
                        <div class="col-lg-8">
                          <div id="m_chart_performance" class="m-widget14__chart" style="height: 120px">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 mt-4">
                    <div class="bg-white bg-white-custom p-3 mt-2">
                      <div class="row">
                        <div class="col-lg-6 col-md-6">
                          <div class="m-widget14 m-widget14-custom-payment">
                            <div class="row">
                              <div class="col-lg-6 col-md-6">
                                  <div class="payment-image-div">
                                      <img src="././assets/images/due-payment.png">
                                    </div>
                                    <div class="payment-count-div">
                                        <span class="text-center heading-payment">Due Payment</span>
                                        <h4 class=" h4-custom-1 text-dark">Rs.
                                          {{ this.paymentSchoolData.amountDetails.duePayment }}</h4>
                                        <span class="text-center heading-payment">Not Paid</span>
                                    </div>
                              </div>
                              <div class="col-lg-6 col-md-6"><div id="m_chart_duepayment" class="m-widget14__chart"
                                style="height: 100px; width: 100px">
                                <div class="m-widget14__stat donut-stat-payment">{{ dueAmount }}%</div>
                              </div></div>
                                
                              <!--<div class="col-md-2 col-sm-12 vertical-align-middle">
                                <img src="././assets/images/due-payment.png">
                              </div>
                              <div class="col-md-5 col-sm-12">
                                <span class="text-center heading-payment">Due Payment</span>
                                <h4 class=" h4-custom-1 text-dark">Rs.
                                  {{ this.paymentSchoolData.amountDetails.duePayment }}</h4>
                                <span class="text-center heading-payment">Not Paid</span>
                              </div>
                              <div class="col-md-5 col-sm-12">
                                <div id="m_chart_duepayment" class="m-widget14__chart"
                                  style="height: 100px; width: 100px">
                                  <div class="m-widget14__stat donut-stat-payment">{{ dueAmount }}%</div>
                                </div>
                              </div>-->
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <div class="m-widget14 m-widget14-custom-payment">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="payment-image-div">
                                        <img src="././assets/images/money-group.png">
                                      </div>
                                      <div class="payment-count-div">
                                          <span class="text-center  heading-payment">Total Collection</span>
                                <h4 class="h4-custom-1">Rs. {{ this.paymentSchoolData.amountDetails.totalCollection }}
                                </h4>
                                <span class="text-center heading-payment">so far</span>
                                      </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div id="m_chart_totalCollection" class="m-widget14__chart"
                                    style="height: 100px; width: 100px">
                                    <div class="m-widget14__stat donut-stat-payment ">{{ totalCollection }}%</div>
                                  </div>
                              </div>
                              <!--<div class="col-md-2 col-sm-12 vertical-align-middle">
                                <img src="././assets/images/money-group.png">
                              </div>
                              <div class="col-md-5 col-sm-12">
                                <span class="text-center  heading-payment">Total Collection</span>
                                <h4 class="h4-custom-1">Rs. {{ this.paymentSchoolData.amountDetails.totalCollection }}
                                </h4>
                                <span class="text-center heading-payment">so far</span>
                              </div>
                              <div class="col-md-5 col-sm-12">
                                <div id="m_chart_totalCollection" class="m-widget14__chart"
                                  style="height: 100px; width: 100px">
                                  <div class="m-widget14__stat donut-stat-payment ">{{ totalCollection }}%</div>
                                </div>
                              </div>-->
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row" *ngIf="!paymentSchoolData.feesAmountStats">
                        <div class="col-lg-6">
                          <span class="text-center">Due Payment</span>
                          <h4 class="h4-custom-1"> Rs. 0</h4>
                          <span class="text-center small-heading">Not Paid</span>
                        </div>
                        <div class="col-lg-6">
                          <span class="text-center ">Total Collection</span>
                          <h4 class="h4-custom-1"> Rs. 0</h4>
                          <!-- <span class="text-center small-heading">so far</span> -->
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
            <!--end::Widget 14 Item-->
          </div>
          <!--end::Widget 14-->
          <!-- begin:: widget tab2 content of student Fee Assign -->
          <div class="tab-pane" id="m_widget4_tab2_content">
            <div *ngIf="contentView">
              <div class="row mt-3">
                <div class="col-lg-4 col-sm-12 mb-3" *ngFor="let class of class_list">
                  <div class="white-box">
                    <a class="white-box-pointer" on-click="this.getClassStudent(class.std);">
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <p class="class-name">
                            Class {{class.std}}
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="studentListView">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="row mt-3">
                      <div class="col-lg-12 col-md-12 row-background text-align-center"
                        *ngFor="let list of studentList.studentList; let i = index; ">
                        <a href="#" class="card-link text-dark"
                          on-click="getFeeAssignedDetails(list, list.uid, studentList.feeSubDetails)">
                          <div class="row">
                            <div class="col-md-3  align-items-center">
                              <img src="{{list.avtarURL}}" height="50" width="50"
                                class="m--img-rounded m--marginless m--img-centered" alt="profile picture"
                                onError="this.src='././assets/images/avatar.jpg'">
                            </div>
                            <div class="col-md-5 label-student-name align-items-center">
                              <span class="m-student-text">{{list.name}}</span>
                              <p class="label-class">{{list.std}}{{list.div}}</p>
                            </div>
                            <div class="col-md-4  align-items-center" *ngIf="list.remainingAmount">
                              <span class="m-student-text">Rs. {{ list.remainingAmount }}</span>
                              <p class="label-outstanding">Outstanding</p>
                            </div>
                            <div class="col-md-4  align-items-center" *ngIf="!list.remainingAmount">
                              <span class="m-student-text">Rs. 0</span>
                              <p class="label-outstanding"></p>
                            </div>
                          </div>

                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="" *ngIf="assignFeeView">
                      <div class="row mt-3">
                        <div class="col-lg-12">
                          <div class="m-portlet row-border-radius" id="m_portlet">
                            <!--header start-->
                            <div class="m-portlet__head  m-portlet__head-border-remove">
                              <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                  <h3 class="m-portlet__head-text-custom">
                                    ASSIGNED FEES
                                  </h3>
                                </div>
                              </div>
                              <div class="m-portlet__head-tools">

                              </div>
                            </div>
                            <!--header End-->

                            <!--Body start-->
                            <div class="m-portlet__body ">
                              <div class="">
                                <span *ngIf="assignFeeList">
                                  <!-- Table View for Assign Fee List -->
                                  <div class="row">
                                    <div class="col-md-2  align-items-center">
                                      <img src="{{studentDetails.avtarURL}}" height="50" width="50"
                                        class="m--img-rounded m--marginless m--img-centered" alt="profile picture"
                                        onError="this.src='././assets/images/avatar.jpg'">
                                    </div>
                                    <div class="col-md-6 label-student-name align-items-center">
                                      <span class="m-student-text">{{studentDetails.name}}</span>
                                      <p class="label-class">{{studentDetails.std}}{{studentDetails.div}}</p>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="  float-right">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row border-bottom">
                                    <div class="col-md-2  align-items-center">
                                    </div>
                                    <div class="col-md-6 label-student-name align-items-center">
                                      <span class="m-student-text">Rs.
                                        {{ substractAmt (studentDetails.totalAmount, studentDetails.remainingAmount) }}
                                      </span>
                                      <!-- <p class="label-class text-success">Paid So far</p> -->
                                    </div>
                                    <div class="col-md-4">
                                      <div class="  float-right" *ngIf="studentDetails.remainingAmount !== null">
                                        <span class="m-student-text" >Rs. {{ studentDetails.remainingAmount }}</span>
                                        <p class="label-outstanding ">Outstanding</p>
                                      </div>
                                      <div class="  float-right" *ngIf="studentDetails.remainingAmount == null">
                                        <span class="m-student-text" >Fees not Published </span>
                                        <!-- <span class="m-student-text" >Rs. 0</span> -->
                                        <!-- <p class="label-outstanding ">Outstanding</p> -->
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row border-bottom"
                                    *ngFor="let assignList of assignFeeList; let i = index; ">
                                    <div class="col-md-12 mb-2">
                                      <div class="row mt-3">
                                        <div class="col-md-2  align-items-center">
                                        </div>
                                        <div class="col-md-6 label-student-name align-items-center">
                                          <span class="m-student-text heading-sub">{{ assignList.name}}</span>
                                        </div>
                                        <div class="col-md-4 ">
                                          <div class="float-right">

                                            <span *ngIf="!assignList.isPublished">
                                              <a on-click="setPublishDetails(assignList, studentDetails, feesDetails)"
                                                class="" title="Publish">
                                                <i class="m-menu__link-icon fa fa-arrow-circle-o-up"></i>
                                              </a>
                                            </span>

                                            <span *ngIf="!assignList.isPublished">
                                              <a on-click="setAssignFeeMaster(assignList)" title="Assign Fee Update">
                                                <i class=" m-menu__link-icon fa fa-pencil "></i>
                                              </a>
                                            </span>

                                            <span *ngIf="!assignList.isPublished">
                                              <a on-click="deleteAssignFee(assignList.uidFeesMaster, studentDetails, feesDetails )"
                                                title="Delete Assigned Fee">
                                                <i class="m-menu__link-icon fa fa-trash"></i>
                                              </a>
                                            </span>

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-12"
                                      *ngFor="let feeSubData of assignList.subDetails; let j = index">
                                      <div class="row ">
                                        <div class="col-md-2  align-items-center">
                                        </div>
                                        <div class="col-md-6 label-student-name align-items-center">
                                          <span class="m-student-text">{{ feeSubData.type}} </span>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="  float-right">
                                            <span class="m-student-text">Rs. {{ feeSubData.amount}}</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row" *ngIf="studentDetails.totalAmount">
                                    <div class="col-md-12">
                                      <div class="row mt-3">
                                        <div class="col-md-2 align-items-center">
                                        </div>
                                        <div class="col-md-6 label-student-name">
                                          <span class="m-student-text">Total Amount</span>
                                        </div>
                                        <div class="col-md-4">

                                          <div class="  float-right">
                                            <span class="m-student-text">Rs. {{studentDetails.totalAmount}}</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </span>
                                <span *ngIf="!assignFeeList">
                                  No fee assigned to child yet
                                </span>
                                <div class="row">
                                  <div class="col-md-12 text-center">
                                    <a class="m-student-text heading-sub" data-toggle="modal"
                                      on-click="getAssignData(studentDetails.std)">Add Fees more template</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>


            </div>
          </div>
          <!-- end:: Widget tab2 -->

          <!-- begin:: widget tab3 content of Fee Template -->
          <div class="tab-pane" id="m_widget4_tab3_content">
            <div class="tempContentView" *ngIf="tempContentView">
              <div class="row mt-3">
                <div class="col-lg-4 col-sm-12 mb-3" *ngFor="let class of class_list">
                  <div class="white-box">
                    <a class="white-box-pointer" on-click="getFeeTemplate(class.std)">
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <p class="class-name">
                            Class {{class.std}}
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="feeTemplateView">
              <div class="col-md-12" *ngIf="templateList">
                <div class="row">
                  <div class="col-md-4">
                    <div class="row mt-3">
                      <div class="col-lg-12 col-md-12 row-background text-align-center"
                        *ngFor="let temp of templateList; let i = index; ">
                        <a href="#" class="card-link text-dark" on-click="getFeesTempDetails(temp)">
                          <div class="row">

                            <div class="col-md-6 label-student-name align-items-center">
                              <div class="m-student-text heading-sub"> {{temp.name}}</div>
                              <span class="label-class">Total Amount</span>
                              <p class="m-student-text">Rs. {{ temp.totalAmount }}</p>
                            </div>
                            <div class="col-md-6  text-right">
                              <span class="label-class">Due Date</span>
                              <p class="m-student-text"> {{ temp.dueDate.split('T') | date: 'd MMM y'}}</p>
                            </div>
                          </div>

                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="" *ngIf="tempFeesData && templateList != ''">
                      <div class="row mt-3">
                        <div class="col-lg-12">
                          <div class="m-portlet row-border-radius" id="m_portlet">
                            <!--header start-->
                            <div class="m-portlet__head  m-portlet__head-border-remove">
                              <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                  <h3 class="m-portlet__head-text-custom">

                                  </h3>
                                </div>
                              </div>
                              <div class="m-portlet__head-tools">
                                <span class="float-right">
                                  <a on-click="deleteFeeTemplate(feesTempDetails.uidFeeTemplateMaster, feesTempDetails.std)"
                                    class=" ml-2 mr-2" title="trash">
                                    <i class="m-menu__link-icon fa fa-trash"></i>
                                  </a>
                                </span>
                                <span class="float-right">
                                  <a on-click="loadForm(feesTempDetails)" title="Fee Template Update">
                                    <i class=" m-menu__link-icon fa fa-pencil "></i>
                                  </a>
                                </span>                                
                              </div>
                            </div>
                            <!--header End-->

                            <!--Body start-->
                            <div class="m-portlet__body">
                              <div class="">
                                <span *ngIf="feesTempDetails">
                                  <!-- Table View for Assign Fee List -->
                                  <div class="row border-bottom">
                                    <div class="col-md-2  align-items-center">
                                    </div>
                                    <div class="col-md-6 label-student-name">
                                      <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                          <h3 class="m-portlet__head-text-custom subheading">
                                            {{feesTempDetails.name}}
                                          </h3>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="  float-right">
                                        <span class="label-class">Due Date</span>
                                        <p class="m-student-text">
                                          {{ feesTempDetails.dueDate.split('T') | date: 'd MMM y'}}</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row border-bottom">
                                    <div class="col-md-12"
                                      *ngFor="let feeTempSubData of feesTempDetails.subDetails; let j = index">
                                      <div class="row ">
                                        <div class="col-md-2  align-items-center">
                                        </div>
                                        <div class="col-md-6 label-student-name align-items-center">
                                          <span class="m-student-text">{{ feeTempSubData.type}} </span>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="  float-right">
                                            <span class="m-student-text">Rs. {{ feeTempSubData.amount}}</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="row mt-3">
                                        <div class="col-md-2 align-items-center">
                                        </div>
                                        <div class="col-md-6 label-student-name ">
                                          <span class="m-student-text">Total Amount</span>
                                        </div>
                                        <div class="col-md-4">

                                          <div class="  float-right">
                                            <span class="m-student-text">Rs. {{feesTempDetails.totalAmount}}</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                </span>
                                <span *ngIf="!feesTempDetails">
                                  No fee assigned to child yet
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="" *ngIf="!tempFeesData || templateList == ''">
                      <div class="row mt-3">
                        <div class="col-lg-12">
                          <div class="m-portlet row-border-radius" id="m_portlet">
                            Please Select Template
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center" *ngIf="templateList == ''">
                    <div>Fee Template Not Available</div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 text-center" *ngIf="!templateList">
                <div> Fee Template Not Available</div>
              </div>

            </div>
            <!--begin::Widget 14-->
          </div>
          <div class="tab-pane" id="m_widget4_tab4_content">
            <div class="tempContentView" *ngIf="feeContentView">
              <div class="row mt-3">
                <div class="col-lg-4 col-sm-12 mb-3" *ngFor="let class of class_list">
                  <div class="white-box">
                    <a class="white-box-pointer" on-click="this.getClassFeeStudent(class.std)">
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <p class="class-name">
                            Class {{class.std}}
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="studentFeeView">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="row mt-3">
                      <div class="col-lg-12 col-md-12 row-background text-align-center"
                        *ngFor="let list of studentList.studentList; let i = index; ">
                        <a href="#" class="card-link text-dark"
                          on-click="getFeeAssignedDetails(list, list.uid, studentList.feeSubDetails)">
                          <div class="row">
                            <div class="col-md-3  align-items-center">
                              <img src="{{list.avtarURL}}" height="50" width="50"
                                class="m--img-rounded m--marginless m--img-centered" alt="profile picture"
                                onError="this.src='././assets/images/avatar.jpg'">
                            </div>
                            <div class="col-md-5 label-student-name align-items-center">
                              <span class="m-student-text">{{list.name}}</span>
                              <p class="label-class">{{list.std}}{{list.div}}</p>
                            </div>
                            <div class="col-md-4  align-items-center">
                              <span class="m-student-text">Rs. {{ list.remainingAmount }}</span>
                              <p class="label-outstanding">Outstanding</p>
                            </div>
                          </div>

                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="" *ngIf="assignFeeView">
                      <div class="row mt-3">
                        <div class="col-lg-12">
                          <div class="m-portlet row-border-radius" id="m_portlet">
                            <!--header start-->
                            <div class="m-portlet__head  m-portlet__head-border-remove">
                              <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                  <h3 class="m-portlet__head-text-custom">
                                    ASSIGNED FEES
                                  </h3>
                                </div>
                              </div>
                              <div class="m-portlet__head-tools">

                              </div>
                            </div>
                            <!--header End-->

                            <!--Body start-->
                            <div class="m-portlet__body">
                              <form [formGroup]="cashPayment" (ngSubmit)="onCashPayment()">
                                <div class="">
                                  <span *ngIf="assignFeeList">

                                    <!-- Table View for Assign Fee List -->
                                    <div class="row">
                                      <div class="col-md-2  align-items-center">
                                        <img src="{{studentDetails.avtarURL}}" height="50" width="50"
                                          class="m--img-rounded m--marginless m--img-centered" alt="profile picture"
                                          onError="this.src='././assets/images/avatar.jpg'">
                                      </div>
                                      <div class="col-md-6 label-student-name align-items-center">
                                        <span class="m-student-text">{{studentDetails.name}}</span>
                                        <p class="label-class">{{studentDetails.std}}{{studentDetails.div}}</p>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="  float-right">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row border-bottom">
                                      <div class="col-md-2  align-items-center">
                                      </div>
                                      <div class="col-md-6 label-student-name align-items-center">
                                        <span class="m-student-text">Rs.
                                          {{  substractAmt (studentDetails.totalAmount, studentDetails.remainingAmount)}}
                                        </span>
                                        <p class="label-class text-success">Paid So far</p>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="  float-right">
                                          <span class="m-student-text">Rs.
                                            {{ studentDetails.remainingAmount }}</span>
                                          <p class="label-outstanding ">Outstanding</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div *ngFor="let assignList of assignFeeList; let i = index; ">
                                      <div class="row border-bottom" *ngIf="assignList.isPublished">
                                        <div class="col-md-12 mb-2">
                                          <div class="row mt-3">
                                            <div class="col-md-2  align-items-center">
                                            </div>
                                            <div class="col-md-6 label-student-name align-items-center">
                                              <span class="m-student-text heading-sub">{{ assignList.name}}</span>
                                            </div>
                                            <div class="col-md-4 ">
                                              <div class="float-right">

                                                <span *ngIf="!assignList.isPaid">
                                                  <input type="checkbox"
                                                    (change)="onChange(assignList.uidFeesMaster, $event.target.checked, assignList.totalAmount, i)">
                                                </span>

                                                <span *ngIf="assignList.isPaid">
                                                  <a class="btn take-btn" on-click="setPaymentReciept(assignList)"
                                                    title="Assign Fee Update">
                                                    Receipt
                                                  </a>
                                                </span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-12"
                                          *ngFor="let feeSubData of assignList.subDetails; let j = index">
                                          <div class="row">
                                            <div class="col-md-2  align-items-center">
                                            </div>
                                            <div class="col-md-6 label-student-name align-items-center">
                                              <span class="m-student-text">{{ feeSubData.type}} </span>
                                            </div>
                                            <div class="col-md-4">
                                              <div class=" float-right">
                                                <span class="m-student-text">Rs. {{ feeSubData.amount}}</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="row mt-3">
                                          <div class="col-md-2 align-items-center">
                                          </div>
                                          <div class="col-md-6 label-student-name">
                                            <span class="m-student-text">Total Amount</span>
                                          </div>
                                          <div class="col-md-4">

                                            <div class="  float-right">
                                              <span class="m-student-text">Rs.
                                                {{ studentDetails.totalAmount}}</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </span>
                                  <span *ngIf="!assignFeeList">
                                    No fee assigned to child yet
                                  </span>
                                  <div class="row">
                                    
                                    <div class="col-md-12 text-right">
                                      <a class="btn take-btn btn-sm btn-primary" data-toggle="modal"
                                        data-target="#PaymentModal">Pay</a>
                                      <!-- <a class="btn take-btn btn-sm btn-primary" data-toggle="modal"
                                        data-target="#PaymentModal">Pay</a> -->
                                      <!-- <button type="submit" class="btn btn-primary btn-sm float-right btn-save">Save</button> -->
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="" *ngIf="!assignFeeView">
                      <div class="row mt-3">
                        <div class="col-lg-12">
                          <div class="m-portlet row-border-radius" id="m_portlet">
                            <!--header start-->
                            <div class="m-portlet__head  m-portlet__head-border-remove">
                              <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                  <h3 class="m-portlet__head-text-custom">
                                    Select Student
                                  </h3>
                                </div>
                              </div>
                              <div class="m-portlet__head-tools">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/New Users-->
  </div>
  <!--End::Main Portlet-->

</div>

<!-- Fee View for Student and Parent -->
<div class="m-content" *ngIf="role == 'student' || role == 'parent'">
  <!-- BEGIN: Subheader -->
  <div class="col-xl-12 m-subheader m-subheader-custom-payment" appunwraptag="">

    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title">
          Payments
        </h3>
        <p class="heading-sub">
          Fees Summary
        </p>
      </div>
      <!-- BEGIN: Class Dropdown -->
      <!-- <div
          class="m-dropdown m-dropdown--inline m-dropdown--small m-dropdown--arrow m-dropdown--align-right m-dropdown-custom"
          data-dropdown-toggle="click">
          <a href="#" class="btn btn-sm m-btn take-btn" data-toggle="modal" data-target="#NewFeeTemplate">
            + Create Template
          </a>
        </div> -->
      <!-- END: Class Dropdown -->
    </div>
  </div>

  <!--Begin::Main Portlet-->
  <div class="col-xl-12">
    <!--begin:: Widgets/New Users-->
    <div class="m-portlet m-portlet-custom-1 m-portlet--full-height m-portlet--full-height-custom">
      <div class="m-portlet__head m-portlet__head-custom-payment">

        <div class="m-portlet__head-tools m-portlet__head-tools-bottom">
          <ul
            class="nav nav-pills nav-pills--brand nav-pills--brand-custom m-nav-pills--align-left m-nav-pills--btn-pill m-nav-pills--btn-sm"
            role="tablist">
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget4_tab1_content" role="tab">
                Student
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_widget4_tab2_content" role="tab">
                Fees
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" on-click="getPaymentLogs()"
                href="#m_widget4_tab3_content" role="tab">
                Payment Logs
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="m-portlet__body m-portlet__body-custom-payment">
        <div class="tab-content">
          <div class="tab-pane active" id="m_widget4_tab1_content">
            <!--begin::Widget 14-->
            <div class="m-widget4">
              <div class="col-lg-12 row-background" *ngIf="studentDetails">
                <div class="row">
                  <div class="col-lg-2 col-md-2">
                    <span><img src="studentDetails.avtarURL" class="m--img-rounded m--marginless m--img-centered"
                        height="70px" width="70px" onError="this.src='././assets/images/avatar.jpg'"></span>
                  </div>
                  <div class="col-lg-10 col-md-10">
                    <div class="row">
                      <div class="col-lg-4 col-md-4">
                        <span class="popup-name">
                          {{studentDetails.name}}
                        </span>
                        <p>Student</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="modal-icons">
                          <!-- <a href="#" class="pull-right mr-3"><img src="././assets/images/watsapp.png"
                                  height="30px" width="30px"></a> -->
                          <a href="#mymodal" class="ml-4 pull-right mr-4" data-toggle="modal"
                            data-target="#myModal"><img src="././assets/images/message.png" height="30px"
                              width="30px"></a>
                          <a href="#" class="ml-4 pull-right"><img src="././assets/images/inbox.png" height="30px"
                              width="30px"></a>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4 col-md-4">
                        City
                        <p>Pune</p>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        Address
                        <p>XXXX</p>
                      </div>
                      <div class="col-lg-4 col-md-4">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4 col-md-4">
                        Phone
                        <p *ngIf="profile.phone">{{studentDetails.phone}}</p>
                        <p *ngIf="!profile.phone"> +91 XXXXX XXXXX </p>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        Email
                        <p *ngIf="profile.email">{{studentDetails.email}}</p>
                        <p *ngIf="!profile.email">XXXXXX@mail.com</p>
                      </div>
                      <div class="col-lg-4 col-md-4">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Widget 14 Item-->
            </div>
            <!--end::Widget 14 Item-->
          </div>
          <!--end::Widget 14-->
          <!-- begin:: widget tab2 content of student Fee Assign -->
          <div class="tab-pane" id="m_widget4_tab2_content">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="" *ngIf="assignFeeView">
                    <div class="row mt-3">
                      <div class="col-lg-12">
                        <div class="m-portlet row-border-radius" id="m_portlet">
                          <!--header start-->
                          <!-- <div class="m-portlet__head  m-portlet__head-border-remove">
                                <div class="m-portlet__head-caption">
                                  <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text-custom">
                                       FEES
                                    </h3>
                                  </div>
                                </div>
                                <div class="m-portlet__head-tools">

                                </div>
                              </div> -->
                          <!--header End-->

                          <!--Body start-->
                          <div class="m-portlet__body">
                            <form [formGroup]="cashPayment" (ngSubmit)="onCashPayment()">
                              <div class="">
                                <span *ngIf="assignFeeList">

                                  <!-- Table View for Assign Fee List -->
                                  <div class="row">
                                    <div class="col-md-2  align-items-center">
                                      <img src="{{studentDetails.avtarURL}}" height="50" width="50"
                                        class="m--img-rounded m--marginless m--img-centered" alt="profile picture"
                                        onError="this.src='././assets/images/avatar.jpg'">
                                    </div>
                                    <div class="col-md-6 label-student-name align-items-center">
                                      <span class="m-student-text">{{studentDetails.name}}</span>
                                      <p class="label-class">{{studentDetails.std}}{{studentDetails.div}}</p>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="  float-right">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row border-bottom">
                                    <div class="col-md-2  align-items-center">
                                    </div>
                                    <div class="col-md-6 label-student-name align-items-center">
                                      <span class="m-student-text">Rs.
                                        {{  paidAmt }}
                                      </span>
                                      <p class="label-class text-success">Paid </p>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="  float-right">
                                        <span class="m-student-text">Rs.
                                          {{ remainingAmt }}</span>
                                        <p class="label-outstanding ">Outstanding</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div *ngFor="let assignList of assignFeeList; let i = index; ">
                                    <div class="row border-bottom" *ngIf="assignList.isPublished">
                                      <div class="col-md-12 mb-2">
                                        <div class="row mt-3">
                                          <div class="col-md-2  align-items-center">
                                          </div>
                                          <div class="col-md-6 label-student-name align-items-center">
                                            <span class="m-student-text heading-sub">{{ assignList.name}}</span>
                                          </div>
                                          <div class="col-md-4 ">
                                            <div class="float-right">

                                              <span *ngIf="!assignList.isPaid">
                                                <input type="checkbox"
                                                  (change)="onOnlinePayChange(assignList.uidFeesMaster, $event.target.checked, assignList.remainingAmount, i)" checked>
                                              </span>

                                              <span *ngIf="assignList.isPaid">
                                                <a class="btn take-btn" on-click="setPaymentReciept(assignList)"
                                                  title="Assign Fee Update">
                                                  Receipt
                                                </a>
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-12"
                                        *ngFor="let feeSubData of assignList.subDetails; let j = index">
                                        <div class="row">
                                          <div class="col-md-2  align-items-center">
                                          </div>
                                          <div class="col-md-6 label-student-name align-items-center">
                                            <span class="m-student-text">{{ feeSubData.type}} </span>
                                          </div>
                                          <div class="col-md-4">
                                            <div class=" float-right">
                                              <span class="m-student-text">Rs. {{ feeSubData.amount}}</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-12 mb-2">
                                        <div class="row mt-3">
                                          <div class="col-md-2  align-items-center">
                                          </div>
                                          <div class="col-md-6 label-student-name align-items-center">
                                            <span class="m-student-text heading-sub">Total Amount</span>
                                          </div>
                                          <!-- <hr/> -->
                                          <div class="col-md-4 ">
                                            <div class="float-right">
                                              <span class="m-student-text heading-sub">Rs.
                                                {{ assignList.remainingAmount }} </span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="row mt-3">
                                        <div class="col-md-2 align-items-center">
                                        </div>
                                        <div class="col-md-6 label-student-name">
                                          <span class="m-student-text">Total Amount</span>
                                        </div>
                                        <div class="col-md-4">

                                          <div class="  float-right">
                                            <span class="m-student-text">Rs.
                                              {{ payAmt }}</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </span>
                                <span *ngIf="!assignFeeList">
                                  No fee assigned to child yet
                                </span>
                                <div class="row">
                                  <div class="col-md-12 text-right">
                                    <a class="btn take-btn btn-sm btn-primary" data-toggle="modal"
                                      on-click="proceedToPay(studentDetails)">Pay</a>
                                    <!-- <button type="submit" class="btn btn-primary btn-sm float-right btn-save">Save</button> -->
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- end:: Widget tab2 -->

          <!-- begin:: widget tab3 content of Fee Template -->
          <div class="tab-pane" id="m_widget4_tab3_content">
            <div class="tempContentView" *ngIf="paymentLogs">
              <div class="row mt-3">
                <div class="col-lg-4 col-sm-12 mb-3" *ngFor="let log of paymentLogs">
                  <div class="white-box">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <h3 class="log-title">Payment</h3>
                        {{log.paymentDate | date:  'd MMM y'}}
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <h3 class="log-title">Amount</h3>Rs {{ log.amount }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <h3 class="log-title">Status</h3>
                        <span class="log-success" *ngIf="log.paymentStatus">Success</span>
                        <span class="log-fail" *ngIf="!log.paymentStatus">Fail</span>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <h3 class="log-title">Payment Mode </h3>
                        <span *ngIf="log.isOnline">Online</span>
                        <span *ngIf="!log.isOnline">Offline</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!--begin::Widget 14-->
          </div>
          <div class="tab-pane" id="m_widget4_tab4_content">
            <div class="tempContentView" *ngIf="feeContentView">
              <div class="row mt-3">
                <div class="col-lg-4 col-sm-12 mb-3" *ngFor="let class of class_list">
                  <div class="white-box">
                    <a on-click="this.getClassFeeStudent(class.std)">
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <p class="class-name">
                            Class {{class.std}}
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="studentFeeView">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="row mt-3">
                      <div class="col-lg-12 col-md-12 row-background text-align-center"
                        *ngFor="let list of studentList.studentList; let i = index; ">
                        <a href="#" class="card-link text-dark"
                          on-click="getFeeAssignedDetails(list, list.uid, studentList.feeSubDetails)">
                          <div class="row">
                            <div class="col-md-3  align-items-center">
                              <img src="{{list.avtarURL}}" height="50" width="50"
                                class="m--img-rounded m--marginless m--img-centered" alt="profile picture"
                                onError="this.src='././assets/images/avatar.jpg'">
                            </div>
                            <div class="col-md-5 label-student-name align-items-center">
                              <span class="m-student-text">{{list.name}}</span>
                              <p class="label-class">{{list.std}}{{list.div}}</p>
                            </div>
                            <div class="col-md-4  align-items-center">
                              <span class="m-student-text">Rs. {{ list.remainingAmount }}</span>
                              <p class="label-outstanding">Outstanding</p>
                            </div>
                          </div>

                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="" *ngIf="assignFeeView">
                      <div class="row mt-3">
                        <div class="col-lg-12">
                          <div class="m-portlet row-border-radius" id="m_portlet">
                            <!--header start-->
                            <div class="m-portlet__head  m-portlet__head-border-remove">
                              <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                  <h3 class="m-portlet__head-text-custom">
                                    ASSIGNED FEES
                                  </h3>
                                </div>
                              </div>
                              <div class="m-portlet__head-tools">

                              </div>
                            </div>
                            <!--header End-->

                            <!--Body start-->
                            <div class="m-portlet__body">
                              <form [formGroup]="cashPayment" (ngSubmit)="onCashPayment()">
                                <div class="">
                                  <span *ngIf="assignFeeList">

                                    <!-- Table View for Assign Fee List -->
                                    <div class="row">
                                      <div class="col-md-2  align-items-center">
                                        <img src="{{studentDetails.avtarURL}}" height="50" width="50"
                                          class="m--img-rounded m--marginless m--img-centered" alt="profile picture"
                                          onError="this.src='././assets/images/avatar.jpg'">
                                      </div>
                                      <div class="col-md-6 label-student-name align-items-center">
                                        <span class="m-student-text">{{studentDetails.name}}</span>
                                        <p class="label-class">{{studentDetails.std}}{{studentDetails.div}}</p>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="  float-right">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row border-bottom">
                                      <div class="col-md-2  align-items-center">
                                      </div>
                                      <div class="col-md-6 label-student-name align-items-center">
                                        <span class="m-student-text">Rs.
                                          {{  substractAmt (studentDetails.totalAmount, studentDetails.remainingAmount)}}
                                        </span>
                                        <p class="label-class text-success">Paid So far</p>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="  float-right">
                                          <span class="m-student-text">Rs.
                                            {{ studentDetails.remainingAmount }}</span>
                                          <p class="label-outstanding ">Outstanding</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div *ngFor="let assignList of assignFeeList; let i = index; ">
                                      <div class="row border-bottom" *ngIf="assignList.isPublished">
                                        <div class="col-md-12 mb-2">
                                          <div class="row mt-3">
                                            <div class="col-md-2  align-items-center">
                                            </div>
                                            <div class="col-md-6 label-student-name align-items-center">
                                              <span class="m-student-text heading-sub">{{ assignList.name}}</span>
                                            </div>
                                            <div class="col-md-4 ">
                                              <div class="float-right">

                                                <span *ngIf="!assignList.isPaid">
                                                  <input type="checkbox"
                                                    (change)="onChange(assignList.uidFeesMaster, $event.target.checked, assignList.totalAmount, i)">
                                                </span>

                                                <span *ngIf="assignList.isPaid">
                                                  <a class="btn take-btn" on-click="setPaymentReciept(assignList)"
                                                    title="Assign Fee Update">
                                                    Receipt
                                                  </a>
                                                </span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-12"
                                          *ngFor="let feeSubData of assignList.subDetails; let j = index">
                                          <div class="row">
                                            <div class="col-md-2  align-items-center">
                                            </div>
                                            <div class="col-md-6 label-student-name align-items-center">
                                              <span class="m-student-text">{{ feeSubData.type}} </span>
                                            </div>
                                            <div class="col-md-4">
                                              <div class=" float-right">
                                                <span class="m-student-text">Rs. {{ feeSubData.amount}}</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="row mt-3">
                                          <div class="col-md-2 align-items-center">
                                          </div>
                                          <div class="col-md-6 label-student-name">
                                            <span class="m-student-text">Total Amount</span>
                                          </div>
                                          <div class="col-md-4">

                                            <div class="  float-right">
                                              <span class="m-student-text">Rs.
                                                {{ studentDetails.totalAmount}}</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </span>
                                  <span *ngIf="!assignFeeList">
                                    No fee assigned to child yet
                                  </span>
                                  <div class="row">
                                    <div class="col-md-12 text-right">
                                      <a class="btn take-btn btn-sm btn-primary" data-toggle="modal"
                                        data-target="#PaymentModal">Pay</a>
                                      <!-- <button type="submit" class="btn btn-primary btn-sm float-right btn-save">Save</button> -->
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end:: Widgets/New Users-->
  </div>
  <!--End::Main Portlet-->

</div>


<!-- Popup Model to display Fee Template Sub details -->
<div class="modal fade" id="assignFeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-remove">
        <h5 class="modal-title popup-modal-title" id="exampleModalLongTitle">Assign Fees Template</h5>
        <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span *ngIf="assignFeeTemplate">
          <div class="row" *ngFor="let assignFeeTemp of assignFeeTemplate.feesDetails; let i = index; ">
            <div class="col-md-6">
              <span class="m-student-text">{{assignFeeTemp.name}}</span>
            </div>
            <div class="col-md-6 text-right mb-3">
              <span on-click="setAssignFeeTemplate(assignFeeTemp)" class="m-student-text heading-sub"
                alt="View Sub Details" title="Assign Fee">
                Add
              </span>
            </div>
          </div>
        </span>
        <span *ngIf="!assignFeeTemplate">
          No fee assigned to child yet
        </span>
      </div>
    </div>
  </div>
</div>



<!-- Popup Model to display Fee Template Sub details -->
<div class="modal fade" id="PaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-remove">
        <h5 class="modal-title popup-modal-title" id="exampleModalLongTitle">Payment By Cash</h5>
        <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cashPayment" (ngSubmit)="onCashPayment(studentDetails.std)" novalidate>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control text-box" formControlName="amount" id="template-name"
                  [value]="payAmount">


                <input type="hidden" class="form-control text-box" formControlName="studentCode" id="template-name"
                  [value]="std">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control text-box" formControlName="cashReceiptReference" id="Receipt Id"
                  placeholder="Receipt Id" required>
                <span
                  *ngIf="cashPayment.get('cashReceiptReference').errors && (cashPayment.get('cashReceiptReference').touched || cashPayment.get('cashReceiptReference').dirty)"
                  class="help-block">
                  <span *ngIf="cashPayment.get('cashReceiptReference').errors.required" class="error-message">
                    Please fill Receipt id!
                  </span>
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <div class="float-right">
                  <button type="submit" class="btn btn-primary btn-sm float-right btn-save"
                    [disabled]="!cashPayment.valid">Save</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Fee Template View for assign -->
<div class="modal fade" id="NewFeeMaster" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title popup-modal-title" id="exampleModalLabel">Assign Fees Template</h5>
        <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="feeMaster">
        <form [formGroup]="feeMaster" novalidate (ngSubmit)="onSubmit(studentDetails, feesDetails)">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <input type="text" class="form-control text-box" formControlName="name" id="template-name" required>
                <span
                  *ngIf="feeMaster.get('name').errors && (feeMaster.get('name').touched || feeMaster.get('name').dirty)"
                  class="help-block">
                  <span *ngIf="feeMaster.get('name').errors.required" class="error-message">
                    Please enter name!
                  </span>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              Total Amount
              <p class="m-student-text"> &#8377; {{totalAmount}} </p>
            </div>
          </div>
          <div class="form-group">
            <input type="date" class="form-control text-box datepicker" formControlName="dueDate" placeholder="Due Date"
              id="due-date" value="{{ getSplitDate(feeMaster.value.dueDate)}}" required>
            <span
              *ngIf="feeMaster.get('dueDate').errors && (feeMaster.get('dueDate').touched || feeMaster.get('dueDate').dirty)"
              class="help-block">
              <span *ngIf="feeMaster.get('dueDate').errors.required" class="error-message">
                Please enter dueDate!
              </span>
            </span>
          </div>
          <div class="form-group">
            <div class="m-student-text "> Sub Details</div>
          </div>
          <div formArrayName="subDetails"
            *ngFor="let subdetail of feeMaster.get('subDetails').controls; let idx = index;">
            <div [formGroupName]="idx">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <select formControlName="uidFeeType" id="uidFeeType" (change)="selectchange($event, idx)"
                      class="form-control text-box" required>
                      <option value="" selected> Select Fee Type </option>
                      <option *ngFor="let typeList of type_list;" [value]="typeList.uidFeeType">
                        {{typeList.type}}
                      </option>
                    </select>
                    <div
                      *ngIf="feeMaster.get('subDetails').controls[idx].controls.uidFeeType.errors && (feeMaster.get('subDetails').controls[idx].controls.uidFeeType.dirty || feeMaster.get('subDetails').controls[idx].controls.uidFeeType.touched)"
                      class="text-center error">
                      <p [hidden]="!feeMaster.get('subDetails').controls[idx].controls.uidFeeType.errors.required"
                        class="error-message">uidFeeType is required.</p>
                    </div>
                    <input type="hidden" formControlName="type" id="type" class="form-control">
                  </div>
                  <div class="col-md-4">
                    <input type="number" class="form-control text-box" id="exampleInputEmail1" placeholder="Amount"
                      formControlName="amount" (change)="changeAmount($event)" required>
                    <div
                      *ngIf="feeMaster.get('subDetails').controls[idx].controls.amount.errors && (feeMaster.get('subDetails').controls[idx].controls.amount.dirty || feeMaster.get('subDetails').controls[idx].controls.amount.touched)"
                      class="text-center error">
                      <p [hidden]="!feeMaster.get('subDetails').controls[idx].controls.amount.errors.required"
                        class="error-message">amount is required.</p>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <a class="m-student-text heading-sub" on-click="deleteRow(idx, subdetail.value)">
                      X</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12 text-center">
                <a class="m-student-text heading-sub" on-click="addSubDetailsButtonClick()"> + Add more field</a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="float-right">
              <button type="submit" class="btn btn-primary btn-sm float-right btn-save"
                [disabled]="!feeMaster.valid">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Assign Fee Master popup view -->
<div class="modal fade" id="updateFeeMaster" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title popup-modal-title" id="exampleModalLabel">Update Assigned Fee</h5>
        <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateFeeAssign" novalidate (ngSubmit)="onUpdate(studentDetails, feesDetails)">


          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <input type="text" class="form-control text-box" formControlName="name" id="templateName"
                  placeholder="Template Name" readonly>
              </div>
            </div>
            <div class="col-md-4">
              Total Amount
              <p class="m-student-text"> &#8377; {{totalAmount}} </p>
            </div>
          </div>
          <div class="form-group">
            <!-- <label for="due-date" class="col-form-label">Due Date:</label> -->
            <input type="date" class="form-control text-box" formControlName="dueDate" id="dueDate"
              placeholder="Due Date">
            <span
              *ngIf="updateFeeAssign.get('dueDate').errors && (updateFeeAssign.get('dueDate').touched || updateFeeAssign.get('dueDate').dirty)"
              class="help-block">
              <span *ngIf="updateFeeAssign.get('dueDate').errors.required" class="error-message">
                Please enter dueDate!
              </span>
            </span>

          </div>
          <div class="form-group">
            <div class="m-student-text "> Sub Details</div>
          </div>
          <div formArrayName="subDetails"
            *ngFor="let subdetail of updateFeeAssign.get('subDetails').controls; let idx = index;">
            <div [formGroupName]="idx">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <select formControlName="uidFeeType" id="uidFeeType" (change)="selectFieldChange($event, idx)"
                      class="form-control text-box" required>
                      <option value="" selected> Select Fee Type </option>
                      <option *ngFor="let typeList of type_list;" [value]="typeList.uidFeeType">
                        {{typeList.type}}
                      </option>
                    </select>
                    <div
                      *ngIf="updateFeeAssign.get('subDetails').controls[idx].controls.uidFeeType.errors && (updateFeeAssign.get('subDetails').controls[idx].controls.uidFeeType.dirty || updateFeeAssign.get('subDetails').controls[idx].controls.uidFeeType.touched)"
                      class="text-center error">
                      <p [hidden]="!updateFeeAssign.get('subDetails').controls[idx].controls.uidFeeType.errors.required"
                        class="error-message">uidFeeType is required.</p>
                    </div>
                    <input type="hidden" formControlName="type" id="feeType" class="form-control text-box">

                  </div>
                  <div class="col-md-4">
                    <input type="number" class="form-control text-box" placeholder="Amount" formControlName="amount"
                      (change)="changeTotalAmount($event)" required>
                    <div
                      *ngIf="updateFeeAssign.get('subDetails').controls[idx].controls.amount.errors && (updateFeeAssign.get('subDetails').controls[idx].controls.amount.dirty || updateFeeAssign.get('subDetails').controls[idx].controls.amount.touched)"
                      class="text-center error">
                      <p [hidden]="!updateFeeAssign.get('subDetails').controls[idx].controls.amount.errors.required"
                        class="error-message">amount is required.</p>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <a class="m-student-text heading-sub"
                      on-click="deleteSubDetailsRow(idx, subdetail.value, subdetail)">
                      X</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12 text-center">
                <a class="m-student-text heading-sub" on-click="addSubDetailsOnClick()"> + Add more field</a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="float-right">
              <button type="submit" class="btn btn-primary btn-sm float-right btn-save"
                [disabled]='!updateFeeAssign.valid'>Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Payment Receipt popup view -->
<div class="modal fade" id="paymentView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title popup-modal-title" id="exampleModalLabel">Payment Receipt</h5>
        <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="paymentDetails">


        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label class="col-form-label"> {{ paymentDetails.name }}</label>
            </div>
          </div>
          <div class="col-md-4">
            Total Amount
            <p class="m-student-text"> &#8377; {{ paymentDetails.totalAmount }} </p>
          </div>
        </div>
        <div class="form-group">
          <label for="due-date" class="col-form-label">Due Date:
            {{ paymentDetails.dueDate.split('T') | date: 'd MMM y' }}</label>
        </div>
        <div class="form-group">
          <div class="m-student-text "> Sub Details</div>
        </div>

        <div *ngFor="let subdata of paymentDetails.subDetails; let idx = index;">
          <div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label class="col-form-label">{{ subdata.type }}</label>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label"> {{ subdata.amount }}</label>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Popup Model For New Fee Template Creation -->
<div class="modal fade" id="NewFeeTemplate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title popup-modal-title" id="exampleModalLabel">Fee Template</span>

        <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="feeTemplate" (ngSubmit)="onSubmitTemplate()">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <input type="text" class="form-control text-box" formControlName="name" id="template-name"
                  placeholder="Enter Template Name" required>
                <span
                  *ngIf="feeTemplate.get('name').errors && (feeTemplate.get('name').touched || feeTemplate.get('name').dirty)"
                  class="help-block">
                  <span *ngIf="feeTemplate.get('name').errors.required" class="error-message">
                    Please fill Name!
                  </span>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              Total Amount
              <p class="m-student-text"> &#8377; {{totalAmount}} </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <select formControlName="class" id="class" class="form-control text-box" required>
                  <option value="" selected> Select Class </option>
                  <option *ngFor="let class of class_list">
                    {{class.std}}
                  </option>
                </select>
                <span
                  *ngIf="feeTemplate.get('class').errors && (feeTemplate.get('class').touched || feeTemplate.get('class').dirty)"
                  class="help-block">
                  <span *ngIf="feeTemplate.get('class').errors.required" class="error-message">
                    Please fill class!
                  </span>
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="date" class="form-control Due Date" formControlName="dueDate" id="due-date"
                  placeholder="Due Date" required>
                <span
                  *ngIf="feeTemplate.get('dueDate').errors && (feeTemplate.get('dueDate').touched || feeTemplate.get('dueDate').dirty)"
                  class="help-block">
                  <span *ngIf="feeTemplate.get('dueDate').errors.required" class="error-message">
                    Please fill dueDate!
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="m-student-text "> Sub Details</div>
          </div>
          <div formArrayName="subDetails"
            *ngFor="let subdetail of feeTemplate.get('subDetails').controls; let idx = index;">
            <div [formGroupName]="idx">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <select formControlName="uidFeeType" id="uidFeeType" class="form-control text-box" required>
                      <option value="" selected> Select Fee Type </option>
                      <option *ngFor="let typeList of type_list;" [value]="typeList.uidFeeType">
                        {{typeList.type}}
                      </option>
                    </select>
                    <div
                      *ngIf="feeTemplate.get('subDetails').controls[idx].controls.uidFeeType.errors && (feeTemplate.get('subDetails').controls[idx].controls.uidFeeType.dirty || feeTemplate.get('subDetails').controls[idx].controls.uidFeeType.touched)"
                      class="text-center error">
                      <p [hidden]="!feeTemplate.get('subDetails').controls[idx].controls.uidFeeType.errors.required"
                        class="error-message">uidFeeType is required.</p>
                    </div>
                    <!--<span *ngIf="feeTemplate.get('uidFeeType').errors && (feeTemplate.get('uidFeeType').touched || feeTemplate.get('uidFeeType').dirty)" class="help-block">
                          <span *ngIf="feeTemplate.get('uidFeeType').errors.required" class="error-message">
                            Please fill uidFeeType!
                          </span>
                      </span>-->
                  </div>
                  <div class="col-md-4">
                    <input type="number" class="form-control text-box" id="exampleInputEmail1" placeholder="Amount"
                      formControlName="amount" (change)="changeTempTotal($event)" required>
                    <div
                      *ngIf="feeTemplate.get('subDetails').controls[idx].controls.amount.errors && (feeTemplate.get('subDetails').controls[idx].controls.amount.dirty || feeTemplate.get('subDetails').controls[idx].controls.amount.touched)"
                      class="text-center error">
                      <p [hidden]="!feeTemplate.get('subDetails').controls[idx].controls.amount.errors.required"
                        class="error-message">amount is required.</p>
                    </div>


                  </div>
                  <div class="col-md-2">
                    <a class="m-student-text heading-sub" on-click="deleteRowTemp(idx, subdetail.value)">
                      X</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12 text-center">
                <a class="m-student-text heading-sub" on-click="addTempSubDetails()"> + Add more field</a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="float-right">
              <button type="submit" class="btn btn-primary btn-sm float-right btn-save"
                [disabled]="!feeTemplate.valid">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Popup Model For Update Fee Template  -->
<div class="modal fade" id="updateFeeTemplate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title popup-modal-title" id="exampleModalLabel">Update Fee Template</span>
        <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="templateForm" novalidate (ngSubmit)="onUpdateTemplate(feesTempDetails)">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <input type="text" class="form-control text-box" formControlName="name" id="template-name"
                  placeholder="Enter Template Name" required>
                <span
                  *ngIf="templateForm.get('name').errors && (templateForm.get('name').touched || templateForm.get('name').dirty)"
                  class="help-block">
                  <span *ngIf="templateForm.get('name').errors.required" class="error-message">
                    Please enter Name!
                  </span>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              Total Amount
              <p class="m-student-text"> &#8377; {{totalAmount}} </p>
            </div>
          </div>
          <div class="form-group">
            {{dueDate}}
            <input type="date" class="form-control text-box" formControlName="dueDate" id="template-due-date"
              placeholder="Due Date" required>
            <span
              *ngIf="templateForm.get('dueDate').errors && (templateForm.get('dueDate').touched || templateForm.get('dueDate').dirty)"
              class="help-block">
              <span *ngIf="templateForm.get('dueDate').errors.required" class="error-message">
                Please enter dueDate!
              </span>
            </span>
          </div>
          <div class="form-group">
            <div class="m-student-text "> Sub Details</div>
          </div>
          <div formArrayName="subDetails"
            *ngFor="let subdetail of templateForm.get('subDetails').controls; let idx = index;">
            <div [formGroupName]="idx">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <select formControlName="uidFeeType" id="uidFeeType" (change)="selectchange($event, idx)"
                      class="form-control text-box">
                      <option value="" selected> Select Fee Type </option>
                      <option *ngFor="let typeList of type_list;" [value]="typeList.uidFeeType">
                        {{typeList.type}}
                      </option>
                    </select>
                    <div
                      *ngIf="templateForm.get('subDetails').controls[idx].controls.uidFeeType.errors && (templateForm.get('subDetails').controls[idx].controls.uidFeeType.dirty || templateForm.get('subDetails').controls[idx].controls.uidFeeType.touched)"
                      class="text-center error">
                      <p [hidden]="!templateForm.get('subDetails').controls[idx].controls.uidFeeType.errors.required"
                        class="error-message">uidFeeType is required.</p>
                    </div>
                    <input type="hidden" formControlName="type" id="type" class="form-control text-box">
                  </div>
                  <div class="col-md-4">
                    <input type="number" class="form-control text-box" id="exampleInputEmail1" placeholder="Amount"
                      formControlName="amount" (change)="changeTempTotalAmt($event)">
                    <div
                      *ngIf="templateForm.get('subDetails').controls[idx].controls.amount.errors && (templateForm.get('subDetails').controls[idx].controls.amount.dirty || templateForm.get('subDetails').controls[idx].controls.amount.touched)"
                      class="text-center error">
                      <p [hidden]="!templateForm.get('subDetails').controls[idx].controls.amount.errors.required"
                        class="error-message">amount is required.</p>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <a class="m-student-text heading-sub"
                      on-click="deleteSubDetailRow(idx, subdetail.value, subdetail)">
                      X</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12 text-center">
                <a class="m-student-text heading-sub" on-click="addTemplateSubData()"> + Add more field</a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="float-right">
              <button type="submit" class="btn btn-primary btn-sm float-right btn-save"
                [disabled]="!templateForm.valid">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
