/* Remove col-sm-6 left padding*/
.col-6-sm {
  padding-left: unset !important;
}

/* m-widget4 set Padding*/
.m-widget4-custom {
  width: 77% !important;
}

.mygroup_style {
  color: #fff;
  margin-top: unset !important;
  width: 100% !important;
  height: 100% !important;
  padding: 2.5% !important;
  border: 1px solid transparent !important;
  border-radius: 5% !important;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.mygroup_col_style_customr {
  padding: 20px !important;
  padding-bottom: 0px !important;
}

/* a:hover {
  text-decoration: none;
  color: #fff;
} */
.row-border-radius {
  border-radius: 10px;
}

.row-background {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;
}

/* Popup Model Close Button style set  */
.modal_style {
  width: 10% !important;
  margin-left: 0% !important;
  margin-top: 1% !important;
}

/* New Fee Template Button */
.btn-new-add {
  width: auto;
}

.std-img {
  height: 50%;
  width: inherit;
}

.btn-assign {
  color: #fff !important;
}

.fa-3x {
  font-size: 2.0rem !important;
}


.heading-sub {
  font-family: 'Segoe UI';
  font-size: 12px;
  color: #FF9100 !important;
  font-weight: bold;
}

.m-student-text {
  font-family: 'Segoe UI';
  font-size: 12px;
  font-weight: bold;
}

.nav.nav-pills.nav-pills--brand-custom .nav-link.active {
  background: #f2f3f8;
  color: #3f4047;
  border-radius: 0px;
  border-bottom: #e58416 2px solid;
}

.row-background {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;
}


.m-portlet-custom-1 {
  -webkit-box-shadow: unset;
  -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: unset !important;
  background-color: unset !important;
}

.m-portlet__head-tools-bottom {
  text-align: right;
  display: table-cell;
  vertical-align: bottom !important;
}

.m-subheader-custom-payment {
  padding: 0px 15px 0 15px !important;
}


.subheading {
  color: #FF9100;
  font-weight: 500;
  font-size: 15px;
}

.white-box {
  background-color: #fff;
  padding: 5%;
  border-radius: 10px;
}

.grey-button {
  border: 2px solid #6B6B73;
  background-color: #6B6B73;
  color: #fff;
  border-radius: 25px;
  padding: 5px 20px;
  width: 69%;
  float: right;
}

.class-strength {
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.5;
  padding: 20px;
  height: 70px;
  width: 70px;
  float: right;
  margin-right: 15%;

}

li a {
  float: left;
}

.green-box {
  border: 2px solid #53D476;
  background-color: #53D476;
  border-radius: 10px;
  padding: 10px;
  color: #fff;

}

.img-height {
  height: 75px !important;
}

.names {
  font-size: 12px !important;
  color: #000;
  margin-left: 18px;
}

.m-portlets {
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  background-color: #ffffff;
}

.class-name {
  font-family: 'Segoe UI';
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 14px;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

/* Class wise student list css */

.label-student-name {
  padding-left: 5px !important;
}

.label-class {
  font-size: 12px;
  color: #a8aabb;
}

.label-outstanding {
  font-size: 10px;
  color: red;
}

.m-portlet .m-portlet__head-border-remove {
  border-bottom: unset !important;
  padding: 14px 2.2rem !important;
  height: 1.1rem !important;
}

.modal-content .border-remove {
  border-bottom: unset !important;
}

.m-portlet__head-text-custom {
  display: table-cell;
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Segoe UI';
}

.border-bottom {
  border-bottom: 1px solid #e8d8d8;
}

.white-box-pointer{
  cursor: pointer;
}

/* .take-btn {
  background: #e68516 !important;
  border-color: #e48416;
  color: white !important;
  border-radius: 40px;
  font-size: 12px;
  padding: 12px 10px !important;
  filter: drop-shadow(2px 5px 6px #bcbcbc);
} */

.take-btn {
  border: none;
  background: #e68516 !important;
  /* color: white; */
  color: white !important;
  width: 7vw;
  border-radius: 40px;
  font-family: 'Segoe UI';
  float: right;
  font-size: 10px;
  font-weight: 600;
  -webkit-filter: drop-shadow(2px 5px 6px #bcbcbc);
  filter: drop-shadow(2px 5px 6px #bcbcbc);
  padding: 10px 20px;
  margin-top: 15px;
}


a {
  text-decoration: unset !important;
}

.popup-modal-title {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  font-weight: 500 !important;
  font-family: 'Segoe UI';
  color: #e48416 !important;
}

.text-box:focus {
  border: 2px solid #FF9100 !important;
  border-left: transparent !important;
  border-top: transparent !important;
  border-right: transparent !important;
  font-size: 12px !important;
  color: #000000 !important;
}

.btn-save {
  background-color: #FF9100 !important;
  color: #fff !important;
}

.mt-3 .mb-3 .white-box {
  box-shadow: 1px 4px 8px 3px rgba(0, 0, 0, 0.1) !important
}

.m-portlet .m-portlet__head-custom-payment {
  border-bottom: 1px solid #d4d4d4 !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 212, 212);
  padding: unset !important;
  height: unset !important;
}

.mt-3 .text-align-center {
  box-shadow: 1px 4px 8px 3px rgba(0, 0, 0, 0.1) !important
}

.bg-white-custom {
  border-radius: 10px;
  box-shadow: 1px 4px 8px 3px rgba(0, 0, 0, 0.1) !important
}

.heading-payment {
  font-family: 'Segoe UI';
  font-size: 11px;
  font-weight: bold;
}

.h4-custom-1 {
  margin: 0px 0px !important;
}

.m-portlet .m-portlet__body-custom-payment {
  padding: 2.2rem 0px !important;
}

/* .m-content-custom-payment {
padding: 0px 0px 0px 0px !important;
} */

.m-widget14-custom-payment {
  padding: 5px !important;
}

.donut-stat-payment {
  font-size: 1.5rem !important;
  color: #6b6b73 !important;
  font-weight: 500 !important;
}

.error-message {
  color: red;
  font-size: 11px;
  font-weight: 600;
}

/* Payment log Css */

.log-title {
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: bold;
}

.log-success {
  color: #53D476;
}

.log-fail {
  color: rgb(248, 52, 52);
}

.m-portlet.m-portlet--full-height-payment {
  height: calc(100% - 2.2rem);
  padding-left: 0px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.payment-image-div {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  vertical-align: bottom;
  /* float: left; */
  padding: 10px;
}
.payment-count-div{
  display: inline-block;
  box-sizing: border-box;
}

/*.......................................media query code .............................................*/

@media(min-width:992px) and (max-width:1024px) {}

@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {}

@media(max-width:479px) {
  .m-portlet.m-portlet--full-height-payment {
    height: calc(100% - 2.2rem);
    padding-left: 0px;
    margin-top: 10px;
  }
}
