.m-widget4__item {
  border-bottom: none !important;
}

.notice-date {
  margin-top: 1%;
  /*padding-top: 10px;*/
  padding-right: 10px;
}

.modal_style {
  width: 10% !important;
  margin-left: 0% !important;
}

/*.......................................css code for homework.............................................*/
.sub-heading {
  color: #FF9100;
  font-size: 14px;
  font-weight: 600;
  font-family: Segoe UI;
}
.m-subheader-homework {
  padding: 30px 30px 0 42px;
}

.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 30px;
  font-weight: 500;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #000;
}
.subheading {
  color: #FF9100;
  font-weight: 500;
  font-size: 15px;
}

.subheading2 {
  color: #FF9100;
  font-weight: 500;
  font-size: 20px;
}

.add-btn {
  border: 2px solid #FF9100;
  background-color: #FF9100;
  color: #ffffff;
  float: right;
  border-radius: 25px;
  padding: 8px 12px 8px 12px;
  font-weight: 800;
  font-family: Segoe UI;
  font-size: 10px;
  text-decoration: none !important;
  letter-spacing: 1px;
  filter: drop-shadow(2px 5px 6px #bcbcbc);
}

.add-btn:hover {
  color: #fff;
}
.add-btn img {
  height: 10px;
  /* vertical-align: middle; */
  margin-top: -4px;
}

.select-class {
  font-size: 15px;
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Segoe UI';
  color: #6B6B73;
}

.blue-box {
  background-color: #6B5AED;
  color: #fff;
}

.side-content {
  float: right;
}

.white-square {
  background-color: #fff;
  border-radius: 10px;
  text-overflow: ellipsis;
  height: 200px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);

}

.class {
  float: right;
  color: #969698;
  font-weight: 500;
  font-size: 12px;
}

.subject {
  color: #969698;
  font-weight: 500;
  font-size: 12px;
}

.para {
  font-size: 12px;
  text-overflow: ellipsis;
  max-height: 200px;
}

.btn-view {
  float: right;
  border: 1px solid #FF9100;
  background: none;
  font-weight: 500;
  border-radius: 7px;
  color: #FF9100;
  padding: 5px 10px;
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.below-text {
  position: absolute;
  bottom: 31px;
}

.datetime {
  float: right;
}

.text-box {
  border: 2px solid #ebedf2 !important;
  border-left: transparent !important;
  border-top: transparent !important;
  border-right: transparent !important;
  font-size: 13px !important;
  color: #000000 !important;

}

.text-box:focus {
  border: 2px solid #FF9100 !important;
  border-left: transparent !important;
  border-top: transparent !important;
  border-right: transparent !important;
  font-size: 13px !important;
  color: #000000 !important;

}

.textareabox {
  font-size: 13px;

}

.btn-close{
  color:#FF9100;
  background-color: #fff;
  border: 1px solid #f0f1f6;
  border-radius: 28px;
  width: 83px !important;
  float: right;
}
.btn-close:hover{
  color:#000;
  background-color: #f0f1f6;
 
  border-radius: 28px;
}

.btn-submit{
  color:#fff;
  border: 2px solid #FF9100;
  background-color: #FF9100;
  border-radius: 28px;
  width: 83px;
  float: right;
  
}

.white-box {
  background-color: #fff;
  padding: 5%;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
}

* {
  font-family: Segoe UI;
}

.class-name {
  float: left;
  margin-top: 7%;
  margin-left: 7%;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Segoe UI';

}


a:hover {
  text-decoration: none;
}

.header-size {
  padding-top: 20px !important;
  padding-bottom: 10px !important;

}

.header-size-view {
  padding-top: 20px !important;
  padding-bottom: 10px !important;

}

.modal-heading {
  color: #FF9100 !important;
  font-size: 24px;
  font-family: Segoe UI;
}
.homework-title-div{
  box-sizing: border-box;
  display: inline-block;
  width: 49%;
}

.homework-addbtn-div{
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
}

.m-portlet.m-portlet--full-height-homework {
  padding-left: 0px !important;
}

.nav.nav-pills.nav-pills--brand-custom-homework .nav-link.active {
  background: #f2f3f8;
  color: #3f4047;
  border-radius: 0px;
  border-bottom: #e58416 2px solid;
}

.m-portlet-custom-homework {
  box-shadow: unset !important;
  background-color: unset !important;
}

.m-subheader-custom-homework {
  padding: 0px 30px 0 30px !important;
}



.error-message {
  color: red;
  font-size: 11px;
  font-weight: 500;
}

/*............................................. media query .............................................*/

@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {}

@media(max-width:479px) {

  .m-subheader-homework {
    padding: 20px 20px 0 20px;
   }

  .white-square {
    height: 228px;
  }
  .homework-title-div{
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
  }
  
  .homework-addbtn-div{
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
  }
  .m-subheader .m-subheader__title {
    display: inline-block;
    padding: 7px 25px 7px 0;
    font-family: "Segoe UI" !important;
    font-weight: bold !important;
    font-size: 25px;
    font-weight: 500;
    vertical-align: middle;
    margin: 0 15px 0 0;
    color: #000;
  }
  
  .sub-heading {
    color: #FF9100;
    font-size: 10px;
    font-weight: 600;
    font-family: Segoe UI;
  }
  .homework-title-div{
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
  }
  
  .homework-addbtn-div{
    box-sizing: border-box;
    display: inline-block;
    width: 48%;
  }
  .add-btn {
    border: 2px solid #FF9100;
    background-color: #FF9100;
    color: #ffffff;
    float: right;
    border-radius: 25px;
    padding: 10px 8px 10px 8px;
    font-weight: 800;
    font-family: Segoe UI;
    font-size: 10px;
    text-decoration: none !important;
    letter-spacing: 1px;
}
  
  .add-btn:hover {
    color: #fff;
  }
  .add-btn img {
    height: 9px;
    /* vertical-align: middle; */
    margin-top: -4px;
  }

}
