<!-- BEGIN: Subheader -->
<div *ngIf="role !== 'student' && role !== 'parent'">

  <div class="m-subheader m-subheader-homework" *ngIf="!homeworkListView && role !== 'student' && role !== 'parent'">
    <div class="row mt-3">
      <div class="col-lg-12">
        <div class="homework-title-div">
            <h3 class="m-subheader__title">
                Homework
              </h3>
              <p class="sub-heading">All Homework</p>
        </div>
        <div class="homework-addbtn-div">
            <a href="#" class="add-btn mt-3" *ngIf="role !== 'student' && role !== 'parent'" ng-reflect-href="#"
            aria-hidden="true" data-toggle="modal" data-target="#m_modal_6"><img src="././assets/images/plus.png">
            &nbsp; ADD HOMEWORK</a>
        </div>
        

     
        
        <!--<div class="grey-button">
    
            <div class="row">
    
    
              <div class="col-lg-12 mt-3 col-md-10">
                <img src="././assets/images/Component36 – 4.png" class="grey-img pull-left">
                <p class="text-white heading pull-left">Classes</p>
    
    
                <p class="text-white totalclass pull-right">Total Classes<br><span
                    class="text-white length pull-right">{{class_data.length}}</span></p>
    
    
    
              </div>
    
            </div>
          </div>-->
      </div>

    </div>



    <p class="select-class">Select Class to View Homework</p>


    <div class="row mt-5">

      <div class="col-lg-4 col-md-6" *ngFor="let class of class_data">
        <div class="white-box mb-3">
          <a routerLink="/homework/{{class.std_div}}">
            <div class="row">

              <div class="col-lg-10 col-md-6">
                <p class="class-name">
                  Class {{class.std_div}}
                </p>
              </div>

              
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-subheader m-subheader-homework" *ngIf="homeworkListView">
    <div class="row">
      <div class="col-lg-12">
          <div class="homework-title-div">
              <a class="h3" routerLink="/homework">
                <h3 class="m-subheader__title">Homework</h3>
                <p class="sub-heading">All Homework Overview</p>
              </a>
          </div>
          <div class="homework-addbtn-div">
              <a href="#" class="add-btn mt-3" *ngIf="role !== 'student'" ng-reflect-href="#" aria-hidden="true"
          data-toggle="modal" data-target="#m_modal_6"><img src="././assets/images/plus.png">
          &nbsp; ADD HOMEWORK</a>
          </div>
        

      
        
      </div>
    </div>

    <!-- <div class="blue-box mt-5 p-3 rounded">
      <div class="row">
        <div class="col-lg-6">
          <h5 class="font-weight-bold">PRE NURSERY A</h5>

        </div>
        <div class="col-lg-6">
          <span class="side-content mr-2"><span>Total Strengh</span><span class="h5 mr-3"> 86</span><span
              class="mr-3">|</span><span class="h5">12 May 2019</span></span>
        </div>
      </div>
    </div>
    <div>
      <h5 class="mt-3 font-weight-bold">Due Next 7 Days</h5>
    </div> -->
    <div class="row mt-5">
      <div class="col-lg-4 col-md-6" *ngFor="let homework of homework_data; let i = index">
        <div class="white-square mt-2 mb-3 p-3">
          <span class="font-weight-bold">{{homework.description}}</span><span class="class">{{homework.std}}
            {{homework.div}}</span>
          <p class="subject">{{homework.subject}}</p>
          <p class="para">
            {{ (homework.description.length>6)? (homework.description | slice:0:45)+'..':(homework.description) }}</p>

          <div class="below-text"><span class="subject">Submit by | {{homework.submission | date : "dd-MM-yyyy"}}</span>
          </div>
          <a href="#" class="btn-view pull-right" data-toggle="modal" data-target=""
            on-click="getHomeworkDetails(homework)">VIEW</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-content" *ngIf="role === 'student' || role === 'parent'">
  <div class="m-subheader m-subheader-custom-homework m-subheader-homework">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="m-subheader__title">Homework</h3>
        <p class="sub-heading">All Homework</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div
        class="m-portlet m-portlet-custom-homework m-portlet--full-height m-portlet--full-height-custom m-portlet m-portlet--full-height-homework">
        <div class="m-portlet__head">

          <div class="m-portlet__head-tools m-portlet__head-tools-bottom">
            <ul
              class="nav nav-pills nav-pills--brand nav-pills--brand-custom-homework m-nav-pills--align-left m-nav-pills--btn-pill m-nav-pills--btn-sm"
              role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget4_tab1_content" role="tab">
                  In Complete
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_tab2_content" role="tab">
                  Complete
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="tab-content">
            <div class="tab-pane active" id="m_widget4_tab1_content">
              <!--begin::Widget 14-->
              <div class="row" *ngIf="homeword_in_progress > 0">
                <div class="col-lg-4 col-md-6" *ngFor="let homework of homeword_Incomplete; let i = index">
                  <div class="white-square m-2 p-3" *ngIf="!homework.completed">
                    <span class="font-weight-bold">{{homework.title}}</span><span class="class">{{homework.std}}
                      {{homework.div}}</span>
                    <p class="subject">{{homework.subject}}</p>
                    <p class="para">
                      {{ (homework.description.length>6)? (homework.description | slice:0:45)+'..':(homework.description) }}
                    </p>

                    <div class="below-text"><span class="subject">Submit by |
                        {{homework.submission | date : "dd-MM-yyyy"}}</span></div>
                    <a href="#" class="btn-view pull-right" data-toggle="modal" data-target=""
                      on-click="getHomeworkDetails(homework)">VIEW</a>
                  </div>

                </div>
              </div>
              <div class="row" *ngIf="homeword_in_progress == 0">
                <div class="col-lg-12 col-md-12">
                  <div class="white-square m-2 p-3">
                    No Incomplete Homework!
                  </div>
                </div>
              </div>
            </div>
            <!--end::Widget 14-->
            <div class="tab-pane" id="m_widget4_tab2_content">
              <!--begin::Widget 14-->
              <div class="m-widget4">
                <div class="row">
                  <div class="col-lg-4 col-md-6" *ngFor="let homework of homeword_completed; let i = index">
                    <div class="white-square m-2 p-3" *ngIf="homework.completed">
                      <span class="font-weight-bold">{{homework.title}}</span><span class="class">{{homework.std}}
                        {{homework.div}}</span>
                      <p class="subject">{{homework.subject}}</p>
                      <p class="para">
                        {{ (homework.description.length>6)? (homework.description | slice:0:45)+'..':(homework.description) }}
                      </p>

                      <div class="below-text"><span class="subject">Submit by |
                          {{homework.submission | date : "dd-MM-yyyy"}}</span></div>
                      <a href="#" class="btn-view pull-right" data-toggle="modal" data-target=""
                        on-click="getHomeworkDetails(homework)">VIEW</a>
                    </div>
                  </div>
                </div>
                <!--end::Widget 14 Item-->
              </div>
            </div>
          </div>
        </div>
        <!--end::Modal-->
      </div>
    </div>
  </div>

</div>

<!---------------------------------------- modal code --------------------------------------------->

<div class="container" *ngIf="homeworkDetails">
  <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header header-size-view">
          <h2 class="modal-heading font-weight-bold">Homework</h2>

          <a href="#" class="close" data-dismiss="modal">&times;</a>

        </div>
        <div class="modal-body">

          <span class="font-weight-bold h5">{{homeworkDetails.title}}</span><span class="class">{{homeworkDetails.std}}
            {{homeworkDetails.div}}</span>
          <p class="subject">{{homeworkDetails.subject}}</p>
          <p class="para">{{ homeworkDetails.description }}</p>
          <span class="subject">Submit by | {{ homeworkDetails.submission | date : "dd-MM-yyyy" }}</span>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Student Selection box -->
<div class="modal fade" id="m_modal_child_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel5">
          Select Student
        </h5>
      </div>
      <div class="modal-body">
        <div *ngIf="child_list">

          <div *ngFor="let child of child_list; let i = index">
            {{child.name}}
            <div class="m-widget4__item">
              <div class="m-widget4__img m-widget4__img--pic">
                <img src="{{child.avtarURL}}">
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!child_list">
          Child not found
        </div>
      </div>
    </div>
  </div>
</div>

<!--------------------------------------- add button modal ------------------------------------>

<div class="container">
  <div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header header-size">
          <h4 class="modal-heading font-weight-bold">Add Homework</h4>

          <a href="#" class="close " data-dismiss="modal">&times;</a>

        </div>
        <div class="modal-body">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-group" style=" background: transparent;border: none;">
              <p>{{today | date:'dd-MM-yyyy'}} <span class="float-right">{{today | date:'hh:mm:ss a':'+0530'}}</span>
              </p>

            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group">
                  <input type="text" class="text-box form-control" placeholder="Title for Homework"
                    formControlName="title">
                  <span
                    *ngIf="userForm.get('title').errors && (userForm.get('title').touched || userForm.get('title').dirty)"
                    class="help-block">
                    <span *ngIf="userForm.get('title').errors.required" class="error-message">
                      Please fill title!
                    </span>

                  </span>
                </div>
              </div>
              <div class="col-lg-4">

              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group">
                  <textarea class="form-control textareabox search_categories" rows="5"
                    placeholder="Description for this Homework" formControlName="description"></textarea>
                  <span
                    *ngIf="userForm.get('description').errors && (userForm.get('description').touched || userForm.get('description').dirty)"
                    class="help-block">
                    <span *ngIf="userForm.get('description').errors.required" class="error-message">
                      Please fill description!
                    </span>

                  </span>
                </div>
              </div>
              <div class="col-lg-4">
                <select class="search_categories" formControlName="std" ng-required="true" ng-model="models">
                  <option>{{class_value ? class_value : 'Select class'}}</option>
                  <option *ngFor="let class of leture_data">{{class.std}} {{class.div}}</option>
                </select>
                <span *ngIf="userForm.get('std').errors && (userForm.get('std').touched || userForm.get('std').dirty)"
                  class="help-block">
                  <span *ngIf="userForm.get('std').errors.required" class="error-message">
                    Please select class!
                  </span>

                </span><br>
                <select class="search_categories mt-2" formControlName="subject" ng-required="true">
                  <option>{{class_value ? class_value : 'Select Subject'}}</option>
                  <!--{{class_value ? class_value : 'select Subject'}}-->
                  <option *ngFor="let lecture of leture_data">{{lecture.subject}}</option>
                </select>
                <span
                  *ngIf="userForm.get('subject').errors && (userForm.get('subject').touched || userForm.get('subject').dirty)"
                  class="help-block">
                  <span *ngIf="userForm.get('subject').errors.required" class="error-message">
                    Please select subject!
                  </span>

                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div>
                  <input type="date" class="search_categories mt-2" formControlName="submission"></div>
                <span
                  *ngIf="userForm.get('submission').errors && (userForm.get('submission').touched || userForm.get('submission').dirty)"
                  class="help-block">
                  <span *ngIf="userForm.get('submission').errors.required" class="error-message">
                    Please select date!
                  </span>

                </span>

              </div>
              <div class="col-lg-6">
                <label class="custom-file mt-2">
                  <input type="file" accept="image/*" class="custom-file-input" (change)="onFileChange($event)"
                    name="myfile" formControlName="imageFile" #fileInput>
                  <span class="custom-file-control form-control"></span>
                </label>
                <span
                  *ngIf="userForm.get('imageFile').errors && (userForm.get('imageFile').touched || userForm.get('imageFile').dirty)"
                  class="help-block">
                  <span *ngIf="userForm.get('imageFile').errors.required" class="error-message">
                    Please attach file!
                  </span>

                </span>

              </div>
            </div>
            <div class="row mt-2">
              <div class="col-lg-12">
                  <button type="button" class="btn-sm btn-close text-center " data-dismiss="modal">
                      Cancel
                    </button>
                    <button type="submit" class="btn-sm btn-submit mr-2" [disabled]='!userForm.valid'>
                        Submit
                      </button>
              </div>
              <!--<div class="col-lg-6">
                <button type="button" class="btn btn-close text-center btn-block" data-dismiss="modal">
                  Cancel
                </button>

              </div>
              <div class="col-lg-6">
                <button type="submit" class="btn btn-submit btn-block" [disabled]='!userForm.valid'>
                  Submit
                </button>

              </div>-->
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>

</div>
