<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Air Style
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Buttons
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Button Base
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Air Style
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tabs">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Base Buttons
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Bootstrap state buttons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview  m-demo__preview--btn">
									<button type="button" class="btn m-btn--pill m-btn--air         btn-primary">
										Primary
									</button>
									<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary">
										Secondary
									</button>
									<button type="button" class="btn m-btn--pill m-btn--air         btn-success">
										Success
									</button>
									<button type="button" class="btn m-btn--pill m-btn--air         btn-info">
										Info
									</button>
									<button type="button" class="btn m-btn--pill m-btn--air         btn-warning">
										Warning
									</button>
									<button type="button" class="btn m-btn--pill m-btn--air         btn-danger">
										Danger
									</button>
									<button type="button" class="btn m-btn--pill m-btn--air         btn-link">
										Link
									</button>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Bootstrap gradient state buttons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview  m-demo__preview--btn">
									<button type="button" class="btn m-btn--pill m-btn--air m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
										Primary
									</button>
									<button type="button" class="btn m-btn--pill m-btn--air m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
										Success
									</button>
									<button type="button" class="btn m-btn--pill m-btn--air m-btn m-btn--gradient-from-danger m-btn--gradient-to-warning">
										Danger
									</button>
									<button type="button" class="btn m-btn--pill m-btn--air m-btn m-btn--gradient-from-warning m-btn--gradient-to-danger">
										Warning
									</button>
									<button type="button" class="btn m-btn--pill m-btn--air m-btn m-btn--gradient-from-info m-btn--gradient-to-accent">
										Info
									</button>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Metronic custom state buttons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<button type="button" class="btn m-btn--pill m-btn--air         btn-brand">
										Brand
									</button>
									<button type="button" class="btn m-btn--pill m-btn--air         btn-metal">
										Metal
									</button>
									<button type="button" class="btn m-btn--pill m-btn--air         btn-accent">
										Accent
									</button>
									<button type="button" class="btn m-btn--pill m-btn--air         btn-focus">
										Focus
									</button>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Metronic gradient state buttons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview  m-demo__preview--btn">
									<button type="button" class="btn m-btn m-btn--pill m-btn--air m-btn--gradient-from-brand m-btn--gradient-to-info">
										Primary
									</button>
									<button type="button" class="btn m-btn m-btn--pill m-btn--air m-btn--gradient-from-metal m-btn--gradient-to-accent">
										Success
									</button>
									<button type="button" class="btn m-btn m-btn--pill m-btn--air m-btn--gradient-from-accent m-btn--gradient-to-success">
										Danger
									</button>
									<button type="button" class="btn m-btn m-btn--pill m-btn--air m-btn--gradient-from-focus m-btn--gradient-to-danger">
										Warning
									</button>
									<button type="button" class="btn m-btn m-btn--pill m-btn--air m-btn--gradient-from-info m-btn--gradient-to-warning">
										Info
									</button>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							The
							<code>
							.btn
						</code>
						classes are designed to be used with
						<code>
						&lt;button&gt;
					</code>
					,
					<code>
					&lt;a&gt;
				</code>
				and
				<code>
				&lt;input&gt;
			</code>
			elements.
		</span>
		<div class="m-section__content">
			<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
				<div class="m-demo__preview m-demo__preview--btn">
					<a class="btn m-btn--pill m-btn--air         btn-primary" href="#" role="button">
						Link
					</a>
					<button class="btn m-btn--pill m-btn--air         btn-success" type="submit">
						Button
					</button>
					<input class="btn m-btn--pill m-btn--air         btn-warning" type="button" value="Input">
					<input class="btn m-btn--pill m-btn--air         btn-info" type="submit" value="Submit">
					<input class="btn m-btn--pill m-btn--air         btn-danger" type="reset" value="Reset">
					<a href="#" class="btn m-btn--pill m-btn--air         btn-metal">
						Metal
					</a>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-brand">
						Brand
					</button>
				</div>
			</div>
		</div>
		<span class="m-section__sub">
			Wide bootstrap buttons
		</span>
		<div class="m-section__content">
			<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
				<div class="m-demo__preview  m-demo__preview--btn">
					<button type="button" class="btn m-btn--pill m-btn--air         btn-primary m-btn--wide">
						Primary
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn--wide">
						Secondary
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-success m-btn--wide">
						Success
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-info m-btn--wide">
						Info
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-warning m-btn--wide">
						Warning
					</button>
				</div>
			</div>
		</div>
	</div>
	<!--end::Section-->
</div>
</div>
<!--end::Portlet-->		<!--begin::Portlet-->
<div class="m-portlet m-portlet--tabs">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<h3 class="m-portlet__head-text">
					Outline Buttons
				</h3>
			</div>
		</div>
	</div>
	<div class="m-portlet__body">
		<!--begin::Section-->
		<div class="m-section">
			<span class="m-section__sub">
				Bootstrap outline buttons
			</span>
			<div class="m-section__content">
				<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
					<div class="m-demo__preview m-demo__preview--btn">
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-primary">
							Primary
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-success">
							Success
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-info">
							Info
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-warning">
							Warning
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-danger">
							Danger
						</button>
						<div class="m--space-10"></div>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-brand">
							Brand
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-metal">
							Metal
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-accent">
							Accent
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--end::Section-->				<!--begin::Section-->
		<div class="m-section">
			<span class="m-section__sub">
				Bootstrap outline 2x buttons
			</span>
			<div class="m-section__content">
				<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
					<div class="m-demo__preview m-demo__preview--btn">
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-primary m-btn m-btn--outline-2x">
							Primary
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-success m-btn m-btn--outline-2x">
							Success
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-info m-btn m-btn--outline-2x">
							Info
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-warning m-btn m-btn--outline-2x">
							Warning
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-danger m-btn m-btn--outline-2x">
							Danger
						</button>
						<div class="m--space-10"></div>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-brand m-btn m-btn--outline-2x">
							Brand
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-metal m-btn m-btn--outline-2x">
							Metal
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-accent m-btn m-btn--outline-2x">
							Accent
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--end::Section-->
	</div>
</div>
<!--end::Portlet-->		<!--begin::Portlet-->
<div class="m-portlet m-portlet--tabs">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<h3 class="m-portlet__head-text">
					Metronic Buttons
				</h3>
			</div>
		</div>
	</div>
	<div class="m-portlet__body">
		<!--begin::Section-->
		<div class="m-section">
			<span class="m-section__sub">
				Metronic style solid buttons
			</span>
			<div class="m-section__content">
				<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
					<div class="m-demo__preview m-demo__preview--btn">
						<button type="button" class="btn m-btn--pill m-btn--air         btn-primary m-btn m-btn--custom">
							Primary
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-brand m-btn m-btn--custom">
							Brand
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-success m-btn m-btn--custom">
							Success
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-info m-btn m-btn--custom">
							Info
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-warning m-btn m-btn--custom">
							Warning
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-danger m-btn m-btn--custom">
							Danger
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-accent m-btn m-btn--custom">
							Accent
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom">
							Secondary
						</button>
						<div class="m-separator m-separator--dashed"></div>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-primary m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Primary
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-brand m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Brand
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-success m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Success
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-info m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Info
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-warning m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Warning
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-danger m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Danger
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-accent m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Accent
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Secondary
						</button>
						<div class="m-separator m-separator--dashed"></div>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-primary m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Primary
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-brand m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Brand
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-success m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Success
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-info m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Info
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-warning m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Warning
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-danger m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Danger
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-accent m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Accent
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Secondary
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--end::Section-->				<!--begin::Section-->
		<div class="m-section">
			<span class="m-section__sub">
				Metronic style outline buttons
			</span>
			<div class="m-section__content">
				<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
					<div class="m-demo__preview m-demo__preview--btn">
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-primary m-btn m-btn--custom">
							Primary
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-brand m-btn m-btn--custom">
							Brand
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-success m-btn m-btn--custom">
							Success
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-info m-btn m-btn--custom">
							Info
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-warning m-btn m-btn--custom">
							Warning
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-danger m-btn m-btn--custom">
							Danger
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-metal m-btn m-btn--custom">
							Metal
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-accent m-btn m-btn--custom">
							Accent
						</button>
						<div class="m-separator m-separator--dashed"></div>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-primary m-btn m-btn--custom m-btn--outline-2x">
							Primary
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-brand m-btn m-btn--custom m-btn--outline-2x">
							Brand
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-success m-btn m-btn--custom m-btn--outline-2x">
							Success
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-info m-btn m-btn--custom m-btn--outline-2x">
							Info
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-warning m-btn m-btn--custom m-btn--outline-2x">
							Warning
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-danger m-btn m-btn--custom m-btn--outline-2x">
							Danger
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-metal m-btn m-btn--custom m-btn--outline-2x">
							Metal
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-accent m-btn m-btn--custom m-btn--outline-2x">
							Accent
						</button>
						<div class="m-separator m-separator--dashed"></div>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-primary">
							Primary
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-brand">
							Brand
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-success">
							Success
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-info">
							Info
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-warning">
							Warning
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-danger">
							Danger
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-metal">
							Metal
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-accent">
							Accent
						</button>
						<div class="m-separator m-separator--dashed"></div>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-primary m-btn--bolder">
							Primary
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
							Brand
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-success m-btn--bolder">
							Success
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-info m-btn--bolder">
							Info
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-warning m-btn--bolder m-btn--uppercase">
							Warning
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-danger m-btn--bolder m-btn--uppercase">
							Danger
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-metal m-btn--bolder m-btn--uppercase">
							Metal
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-accent m-btn--bolder m-btn--uppercase">
							Accent
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--end::Section-->
	</div>
</div>
<!--end::Portlet-->
</div>
<div class="col-lg-6">
	<!--begin::Portlet-->
	<div class="m-portlet m-portlet--tabs">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Button Sizes
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin::Section-->
			<div class="m-section">
				<span class="m-section__sub">
					Add
					<code>
					.btn-lg
				</code>
				or
				<code>
				.btn-sm
			</code>
			for additional sizes.
		</span>
		<div class="m-section__content">
			<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
				<div class="m-demo__preview m-demo__preview--btn">
					<button type="button" class="btn m-btn--pill m-btn--air         btn-primary btn-lg">
						Large button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary btn-lg">
						Large button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-success btn-lg">
						Large button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-info btn-lg">
						Large button
					</button>
				</div>
			</div>
			<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
				<div class="m-demo__preview m-demo__preview--btn">
					<button type="button" class="btn m-btn--pill m-btn--air         btn-primary">
						Default button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary">
						Default button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-success">
						Default button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-info">
						Default button
					</button>
				</div>
			</div>
			<div class="m-demo m-demo--last" data-code-preview="true" data-code-html="true" data-code-js="false">
				<div class="m-demo__preview m-demo__preview--btn">
					<button type="button" class="btn m-btn--pill m-btn--air         btn-primary btn-sm">
						Small button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary btn-sm">
						Small button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-success btn-sm">
						Small button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-info btn-sm">
						Small button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-brand btn-sm">
						Small button
					</button>
				</div>
			</div>
		</div>
	</div>
	<!--end::Section-->				<!--begin::Section-->
	<div class="m-section">
		<span class="m-section__sub">
			Metronic style buttons sizing
		</span>
		<div class="m-section__content">
			<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
				<div class="m-demo__preview m-demo__preview--btn">
					<button type="button" class="btn m-btn--pill m-btn--air         btn-primary btn-lg m-btn m-btn--custom">
						Large button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary btn-lg m-btn m-btn--custom m-btn--label-accent">
						Large button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-success btn-lg m-btn m-btn--custom">
						Large button
					</button>
				</div>
			</div>
			<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
				<div class="m-demo__preview m-demo__preview--btn">
					<button type="button" class="btn m-btn--pill m-btn--air         btn-primary m-btn m-btn--custom">
						Default button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-accent">
						Default button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-success m-btn m-btn--custom">
						Default button
					</button>
				</div>
			</div>
			<div class="m-demo m-demo--last" data-code-preview="true" data-code-html="true" data-code-js="false">
				<div class="m-demo__preview m-demo__preview--btn">
					<button type="button" class="btn m-btn--pill m-btn--air         btn-primary btn-sm m-btn m-btn--custom">
						Small button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary btn-sm m-btn m-btn--custom m-btn--label-accent">
						Small button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-success btn-sm m-btn m-btn--custom">
						Small button
					</button>
					<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-info btn-sm m-btn m-btn--custom">
						Small button
					</button>
				</div>
			</div>
		</div>
	</div>
	<!--end::Section-->
</div>
</div>
<!--end::Portlet-->		<!--begin::Portlet-->
<div class="m-portlet m-portlet--tabs">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<h3 class="m-portlet__head-text">
					Button States
				</h3>
			</div>
		</div>
	</div>
	<div class="m-portlet__body">
		<!--begin::Section-->
		<div class="m-section m-section--last">
			<span class="m-section__sub">
				Add
				<code>
				.active
			</code>
			for active state and
			<code>
			.disabled
		</code>
		class or
		<code>
		disabled="disabled"
	</code>
	attribute
</span>
<div class="m-section__content">
	<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
		<div class="m-demo__preview m-demo__preview--btn">
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-primary">
				Default
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-brand">
				Default
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-success">
				Default
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-info">
				Default
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-warning">
				Default
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-danger">
				Default
			</button>
			<div class="m--space-10"></div>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-primary active">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-brand active">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-success active">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-info active">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-metal active">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-warning active">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-danger active">
				Active
			</button>
			<div class="m--space-10"></div>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-primary" disabled="disabled">
				Disabled
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-brand" disabled="disabled">
				Disabled
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-success" disabled="disabled">
				Disabled
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-info" disabled="disabled">
				Disabled
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-warning" disabled="disabled">
				Disabled
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-danger" disabled="disabled">
				Disabled
			</button>
		</div>
	</div>
	<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
		<div class="m-demo__preview m-demo__preview--btn">
			<button type="button" class="btn m-btn--pill m-btn--air         btn-primary">
				Default
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary">
				Default
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-success">
				Default
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-info">
				Default
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-warning">
				Default
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-danger">
				Default
			</button>
			<div class="m--space-10"></div>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-primary active">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary active">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-success active">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-info active">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-metal active">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-warning active">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-danger active">
				Active
			</button>
			<div class="m--space-10"></div>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-primary" disabled="disabled">
				Disabled
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary" disabled="disabled">
				Disabled
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-success" disabled="disabled">
				Disabled
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-info" disabled="disabled">
				Disabled
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-warning" disabled="disabled">
				Disabled
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-danger" disabled="disabled">
				Disabled
			</button>
		</div>
	</div>
	<div class="m-demo m-demo--last" data-code-preview="true" data-code-html="true" data-code-js="false">
		<div class="m-demo__preview m-demo__preview--btn">
			<button type="button" class="btn m-btn--pill m-btn--air         btn-primary m-btn m-btn--custom">
				Default
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom">
				Default
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-success m-btn m-btn--custom">
				Default
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-info m-btn m-btn--custom">
				Default
			</button>
			<div class="m--space-10"></div>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-primary active m-btn m-btn--custom">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary active m-btn m-btn--custom">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-success active m-btn m-btn--custom">
				Active
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-info active m-btn m-btn--custom">
				Active
			</button>
			<div class="m--space-10"></div>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-primary m-btn m-btn--custom" disabled="disabled">
				Disabled
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom" disabled="disabled">
				Disabled
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-success m-btn m-btn--custom" disabled="disabled">
				Disabled
			</button>
			<button type="button" class="btn m-btn--pill m-btn--air         btn-info m-btn m-btn--custom" disabled="disabled">
				Disabled
			</button>
		</div>
	</div>
</div>
</div>
<!--end::Section-->
</div>
</div>
<!--end::Portlet-->		<!--begin::Portlet-->
<div class="m-portlet m-portlet--tabs">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<h3 class="m-portlet__head-text">
					Block Buttons
				</h3>
			</div>
		</div>
	</div>
	<div class="m-portlet__body">
		<!--begin::Section-->
		<div class="m-section">
			<span class="m-section__sub">
				Bootstrap block buttons span the full width of a parent
			</span>
			<div class="m-section__content">
				<div class="m-demo m-demo--last" data-code-preview="true" data-code-html="true" data-code-js="false">
					<div class="m-demo__preview">
						<button type="button" class="btn m-btn--pill m-btn--air         btn-primary btn-block">
							Block level button
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-secondary  btn-block">
							Block level button
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-success btn-block">
							Block level button
						</button>
						<button type="button" class="btn m-btn--pill m-btn--air         btn-outline-warning btn-block">
							Block level button
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--end::Section-->
	</div>
</div>
<!--end::Portlet-->		<!--begin::Portlet-->
<div class="m-portlet m-portlet--tabs">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<h3 class="m-portlet__head-text">
					Checkbox and radio buttons
				</h3>
			</div>
		</div>
	</div>
	<div class="m-portlet__body">
		<!--begin::Section-->
		<div class="m-section m-section--last">
			<div class="m-section__content">
				<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
					<div class="m-demo__preview">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn m-btn--pill m-btn--air         btn-success active">
								<input type="checkbox" checked autocomplete="off">
								Checkbox 1
							</label>
							<label class="btn m-btn--pill m-btn--air         btn-success">
								<input type="checkbox" autocomplete="off">
								Checkbox 2
							</label>
							<label class="btn m-btn--pill m-btn--air         btn-success">
								<input type="checkbox" autocomplete="off">
								Checkbox 3
							</label>
							<label class="btn m-btn--pill m-btn--air         btn-success">
								<input type="checkbox" autocomplete="off">
								Checkbox 4
							</label>
						</div>
					</div>
				</div>
				<div class="m-demo"  data-code-preview="true" data-code-html="true" data-code-js="false">
					<div class="m-demo__preview">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn m-btn--pill m-btn--air         btn-warning active">
								<input type="radio" name="options" id="option1" autocomplete="off" checked>
								Radio 1
							</label>
							<label class="btn m-btn--pill m-btn--air         btn-warning">
								<input type="radio" name="options" id="option2" autocomplete="off">
								Radio 2
							</label>
							<label class="btn m-btn--pill m-btn--air         btn-warning">
								<input type="radio" name="options" id="option3" autocomplete="off">
								Radio 3
							</label>
							<label class="btn m-btn--pill m-btn--air         btn-warning">
								<input type="radio" name="options" id="option3" autocomplete="off">
								Radio 4
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end::Section-->
	</div>
</div>
<!--end::Portlet-->
</div>
</div>
</div>
