

.performance {
  font-size: 1.4rem !important;
}

/*Present Absent Donut Classes*/
.present {
  background-color: #28a745 !important;
}

.absent {
  background-color: #dc3545 !important;
}


::-webkit-scrollbar-thumb {
  background: #b0acacf0;
}

::-webkit-scrollbar {
  width: 3px;
}
/* Dashboad title style */
/* .dashboard-sub-title {
  font-family: "Segoe UI" !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    margin-bottom: 50px;
}
/* Notice & event view style */
.notice-view {
  overflow-y: auto;
  height: 350px;
  max-height: 275px;
  position: relative;
}

.event-view {
  overflow-y: auto;
  height: 350px;
  max-height: 275px;
  position: relative;
}

/*  New home page design  */

.m-body .m-content-custom {
  padding: 0px 0px 0px 0px !important;
}


.heading-style {
  font-family: 'Segoe UI' !important;
  font-size: 30px !important;
  padding-top: 20px;
  color: #000 !important;
}

/* Do Almost */
.heading-sub {
  font-family: 'Segoe UI';
  font-size: 12px;
  color: #FF9100;
  font-weight: 500;
  padding-top: 5px;
}

/* home page descript data */
.sub-heading-1 {
  font-family: 'Segoe UI';
  font-size: 12px;
  font-weight: 400;
  color: #000 !important;
  width: 400px
}

/* Background onverlap */
.m-portlet-custom {
  /* margin-bottom: 0px !important; */
  background-color: #f1f2f7 !important;
  box-shadow: none;
}

/* a- overview changes */
.a-dashboard-overview{
  text-decoration: unset !important;
  font-size: unset !important;
  color:none !important;
}

.a-dashboard-overview:hover {
  color: #000 !important;
}

.m-portlet-custom .m-portlet__head-border-remove {
  border-bottom: unset !important;
}

.m-portlet-full-height-custom {
  background-color: #F8F8F8;
}

.white-box-index {
  background-color: #fff;
  padding: 5%;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
}

.bg-white {
  background-color: #fff !important;
}

.m-widget14-custom-payment {
  padding: 5px !important;
}

.donut-stat-payment {
  font-size: 1.5rem !important;
  color: #6b6b73 !important;
  font-weight: 500 !important;
}

.vertical-align-middle {
  vertical-align: middle;
}

.heading-payment-index {
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: bold;
}

/* Security Dashboad css */
.green-text {
  color: #53D476;
  font-size: 13px;
  font-weight: 700;
  vertical-align: middle;
  margin: 6px;
}

.main-heading-secu {
  color: #6B6B73;
  font-size: 16px;
  font-weight: bold;
}

.small-heading-secu {
  font-size: 11px;
  color: #6B6B73;
  font-weight: 500;
  line-height: 1.2;
  margin-top: -5px;
}

.h2-custom-secu {
  font-size: 30px;
}

.sub-heading-security {
  color: #A0A0A2;
  font-size: 14px;
  margin-bottom: -10px;
}

.security-details-box {
  border: 1px dashed #969698;
  border-width: 0px 1px 0px 0px;
}

.imagediv,
.textdiv {
  display: inline-block;
  box-sizing: border-box;

  padding: 10px;
}

.textdiv {
  width: 43%;
}

@media (min-width: 1200px) {
  .tab-content .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33%;
  }
}

.m-portlet .m-portlet__head .m-portlet__head-caption {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: left;
}

.m-portlet .m-portlet__head .m-portlet__head-tools {
  text-align: right;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}

.sub-heading-1 {
  font-family: 'Segoe UI';
  font-size: 12px;
  font-weight: 400;
  color: #000 !important;
  width: 100%;
}

.m-portlet .m-portlet__head .m-portlet__head-tools-dashboard {
  text-align: right;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  float: right;
  padding: 10px;
}

.dashboard-sub-heading {
  font-family: 'Segoe UI';
  margin: 0px 0px;
  font-size: 22px;
  font-weight: bold;
  font-family: segoe UI;
  color: #969698;
}

.dashboard-sub-heading-date {
  font-size: 12px;
  font-weight: 600;
  font-family: segoe UI;
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item-dashboard {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 0px !important; 
}

/*.......................................media query code .............................................*/

@media(min-width:992px) and (max-width:1024px) {}

@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {}

@media(max-width:479px) {
  .m-portlet .m-portlet__head .m-portlet__head-caption-dashboard {
    display: inline-block !important;
    box-sizing: border-box !important;
    vertical-align: middle;
    text-align: left !important;
  }


  .sub-heading-1-dashboard {
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 400;
    color: #000 !important;
    width: 100% !important;
  }

  .m-portlet .m-portlet__head .m-portlet__head-tools-dashboard {
    text-align: right;
    display: inline-block !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box;
    vertical-align: middle;
    float: none !important;
    padding: 0px !important;
  }

  .m-portlet .m-portlet__head-dashboard {
    display: table;
    padding: 0;
    width: 100%;
    padding: 0 1.2rem !important;
    height: 5.1rem;
  }

  .m-portlet .m-portlet__body-dashboard {
    padding: 2.2rem 1.2rem;
  }

  .dashboard-sub-heading-date {
    font-size: 10px !important;
  }

  .dashboard-sub-heading {
    font-family: 'Segoe UI';
    font-size: 15px !important;
    color: #969698;
    font-weight: 500;
    margin: 0px 0px;
  }
}

.m-widget14__legend-stats{
    color: black;
    font-weight: bold;
  }

  .m-widget14__legend-text {
    color: #9699a2;
    font-size: 13px;
}

.m-widget14__chart{
  margin-bottom: 15px;
}

/* .text-dark {
  color: #343a40 !important;
  font-size: 40px;
} */
