<!-- END: Subheader -->
<div class="m-content-custom">
  <!--Begin::Main Portlet-->
  <div class="col-xl-12">
    <div class="row">
      <div class="col-xl-12 col-10-action">
        <!--begin:: Widgets/New Users-->
        <div class="m-portlet m-portlet-custom m-portlet--full-height">
          <div class="m-portlet__head m-portlet__head-border-remove m-portlet__head-dashboard">
            <div class="m-portlet__head-caption m-portlet__head-caption-dashboard">
              <div class="m-portlet__head-title">
                <h1 class="m-portlet__head-text heading-style font-weight-bold">
                  Dashboard
                  <p class="heading-sub font-weight-bold">
                    See Overview
                  </p>
                  <p class="sub-heading-1 sub-heading-1-dashboard text-dark" *ngIf="stats && role !== 'clerk'">
                    {{ stats.dailyThought.description }}
                  </p>
                </h1>
              </div>
              <div>
              </div>

            </div>
            <div class="m-portlet__head-tools m-portlet__head-tools-dashboard">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item text-left m-portlet__nav-item-dashboard">
                  <span class="dashboard-sub-heading-date">{{myDate | date: 'd MMM y'}}</span>
                  <br>
                  <span class="dashboard-sub-heading"> Today's overview</span>
                </li>
              </ul>
            </div>

          </div>
          <div class="m-portlet__body m-portlet__body-dashboard">
            <div class="tab-content"
              *ngIf="role == 'school' || role == 'coadmin' || role == 'admin'  || role == 'teacher'">
              <div class="row">

                <div class="col-xl-3 col-md-3 mb-4">
                  <!--Begin::Portlet Events -->
                  <div class="white-box-index">
                    <a routerLink="/attendance/classes" class="a-dashboard-overview">
                      <div class="row text-center">
                        <div class="col-md-12 text-center">
                          <div class="dashboard-sub-title">ATTENDANCES</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <div id="m_chart_attendance" class="m-widget14__chart" style="height: 120px">
                            <div class="m-widget14__stat"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                          <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                          <span class="m-widget14__legend-stats" *ngIf="stats">
                            {{ stats.attendance && stats.attendance >=0 ? stats.attendance : 0 }}%<br>
                          </span>
                          <span class="m-widget14__legend-text">Present</span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                          <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                          <span class="m-widget14__legend-stats" *ngIf="stats">
                            {{ stats.attendance && stats.attendance >= 0 ? (100 - stats.attendance) : 100}}%<br>
                          </span>
                          <span class="m-widget14__legend-text">Absent</span>
                        </div>
                      </div>
                  </a>
                  </div>
                  <!--End::Portlet Events-->
                </div>

                <div class="col-xl-3 col-md-3  mb-4">
                  <!--Begin::Portlet Notices-->
                  <div class="white-box-index">
                    <a routerLink="/students" class="a-dashboard-overview">
                      <div class="row text-center">
                        <div class="col-md-12 text-center">
                          <div class="dashboard-sub-title">STUDENT</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <div id="m_chart_student" class="m-widget14__chart" style="height: 120px">
                            <div class="m-widget14__stat"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                          <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                          <span class="m-widget14__legend-stats " *ngIf="stats">
                            {{ stats.activeStudent ? stats.activeStudent : 0 }} <br>
                          </span>
                          <span class="m-widget14__legend-text">Student</span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                          <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                          <span class="m-widget14__legend-stats " *ngIf="stats">
                            {{ stats.activeParent ? stats.activeParent : 0}} <br>
                          </span>
                          <span class="m-widget14__legend-text">Parent</span>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!--End::Portlet Notices-->
                </div>
                <div class="col-xl-3 col-md-3  mb-4">
                  <!--Begin::Portlet Events -->
                  <div class="white-box-index">
                    <a routerLink="/teachers" class="a-dashboard-overview">
                      <div class="row text-center">
                        <div class="col-md-12 text-center">
                          <div class="dashboard-sub-title">STAFF</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <div id="m_chart_staff" class="m-widget14__chart" style="height: 120px">
                            <div class="m-widget14__stat"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                          <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                          <span class="m-widget14__legend-stats " *ngIf="stats">
                            {{ stats.activeTeacher && stats.activeTeacher >=0 ? stats.activeTeacher : 0 }} <br>
                          </span>
                          <span class="m-widget14__legend-text">Teacher</span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                          <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                          <span class="m-widget14__legend-stats " *ngIf="stats">
                            {{ staff ? staff - stats.activeTeacher : 100}} <br>
                          </span>
                          <span class="m-widget14__legend-text">Others</span>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!--End::Portlet Events-->
                </div>

                <div class="col-xl-3 col-md-3  mb-4">
                  <!--Begin::Portlet Notices-->
                  <div class="white-box-index">
                    <a routerLink="/students" class="a-dashboard-overview">
                      <div class="row text-center">
                        <div class="col-md-12 text-center">
                          <div class="dashboard-sub-title">PERFORMANCE</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <div id="m_chart_perform" class="m-widget14__chart" style="height: 120px">
                            <div class="m-widget14__stat"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                          <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                          <span class="m-widget14__legend-stats " *ngIf="stats">
                            {{ (stats.performance && stats.performance >=0 ? stats.performance : 0) | number : '1.2' }}%<br>
                          </span>
                          <span class="m-widget14__legend-text">Scored</span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                          <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                          <span class="m-widget14__legend-stats " *ngIf="stats">
                            {{ (stats.performance && stats.performance >= 0 ? (100 - stats.performance) : 100) | number : '1.2'}}%<br>
                          </span>
                          <span class="m-widget14__legend-text">Others</span>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!--End::Portlet Notices-->
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-md-6 mb-4">
                  <!--Begin::Portlet Events -->
                  <div class="white-box-index">
                    <a routerLink="/security" class="a-dashboard-overview">
                      <div class="content pt-3">
                        <div class="pt-1 pr-2 pl-2">
                          <div class="row ">
                            <div class="col-lg-3">
                              <h5 class="main-heading dashboard-sub-title1">VISITORS</h5>
                              <h2 class="text-dark" *ngIf="visitorsStats">
                                {{ visitorsStats.totalVisitorsCount + visitorsStats.totalDeliveriesCount }}
                              </h2>
                              <p class="small-heading text-dark">PEOPLE</p>
                            </div>
                            <div class="col-lg-9 mt-2">
                              <div id="m_chart_security" class="m-widget14__chart" style="height: 120px;bottom: 0;">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!--End::Portlet Events-->
                </div>
                <div class="col-xl-6 col-md-6 mb-4">
                  <!--Begin::Portlet Events -->
                  <div class="white-box-index">
                    <a routerLink="/library" class="a-dashboard-overview">
                      <div class="content pt-3">
                        <div class="pt-1 pr-2 pl-2">
                          <div class="row">
                            <div class="col-lg-3">
                              <div class="dashboard-sub-title1">LIBRARY</div>
                              <h2 class="text-dark" *ngIf="libraryStats">{{ libraryStats.totalBookCount }}</h2>
                              <p class="small-heading text-dark">BOOKS </p>

                            </div>
                            <div class="col-lg-9  pt-2">
                              <div id="m_chart_library" class="m-widget14__chart" style="height: 120px">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <!--End::Portlet Events-->
                </div>
              </div>
            </div>
            <div class="tab-content" *ngIf="role == 'parent'">
              <div class="row">
                <div class="col-xl-4 col-md-4 col-lg-4  mb-4">
                  <!--Begin::Portlet Notices-->
                  <div class="white-box-index">
                    <div class="row text-center">
                      <div class="col-md-12 text-center">
                        <div class="dashboard-sub-title">Academics</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <div id="m_chart_academic" class="m-widget14__chart" style="height: 120px">
                          <div class="m-widget14__stat"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text " *ngIf="stats">
                          {{ stats.homework ? stats.homework : 0 }} <br>
                          Homework
                        </span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text " *ngIf="stats">
                          {{ stats.upcomingExam ? stats.upcomingExam : 0}} <br>
                          Exam
                        </span>
                      </div>
                    </div>
                  </div>
                  <!--End::Portlet Notices-->
                </div>

                <div class="col-xl-4 col-md-4 col-lg-4  mb-4">
                  <!--Begin::Portlet Notices-->
                  <div class="white-box-index">
                    <a routerLink="/performance" class="a-dashboard-overview">
                    <div class="row text-center">
                      <div class="col-md-12 text-center">
                        <div class="dashboard-sub-title">PERFORMANCE</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <div id="m_chart_performance" class="m-widget14__chart" style="height: 120px">
                          <div class="m-widget14__stat"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text " *ngIf="stats">
                          {{ (stats.performance && stats.performance >=0 ? stats.performance : 0) | number : '1.2' }}%<br>
                          Scored
                        </span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text " *ngIf="stats">
                          {{ (stats.performance && stats.performance >= 0 ? (100 - stats.performance) : 100) | number : '1.2'}}%<br>
                          Others
                        </span>
                      </div>
                    </div>
                    </a>

                  </div>
                  <!--End::Portlet Notices-->
                </div>

                <div class="col-xl-4 col-md-4 col-lg-4 mb-4">
                  <!--Begin::Portlet Events -->
                  <div class="white-box-index">
                    <a routerLink="/library" class="a-dashboard-overview">
                    <div class="row text-center">
                      <div class="col-md-12 text-center">
                        <div class="dashboard-sub-title">Library</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 text-center mt-2 mb-2">
                        <!-- <div id="m_chart_attendance" class="m-widget14__chart" style="height: 120px">
                          <div class="m-widget14__stat"></div>
                        </div> -->
                        <img src="././assets/images/book_icon.png" width="100" height="100">
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text ">
                          {{ stats.attendance && stats.attendance >=0 ? stats.attendance : 0 }}%<br>
                          Present
                        </span>
                      </div> -->
                      <div class="col-md-12 col-sm-12 col-xs-12 col-12 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text " *ngIf="stats">
                          {{ stats.booksBorrowed}}
                          <br>
                          Book Borrowed
                        </span>
                      </div>
                    </div>
                    </a>
                  </div>
                  <!--End::Portlet Events-->
                </div>

              </div>
              <div class="row">
                <div class="col-xl-8 col-md-8 mb-4">
                  <!--Begin::Portlet Events -->
                  <div class="white-box-index">
                    <a routerLink="/attendance/classes" class="a-dashboard-overview">
                    <div class="content pt-3">
                      <div class="pt-1 pr-2 pl-2">
                        <div class="row ">
                          <div class="col-lg-3">
                            <h5 class="main-heading dashboard-sub-title">Attendance</h5>
                            <h2 class="text-dark" *ngIf="stats">
                              {{ stats.attendance }}%
                            </h2>
                            <!-- <p class="small-heading text-dark">PEOPLE</p> -->
                          </div>
                          <div class="col-lg-9 mt-2">
                            <div id="m_chart_attendance_bar" class="m-widget14__chart" style="height: 120px;bottom: 0;">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                  <!--End::Portlet Events-->
                </div>
                <div class="col-xl-4 col-md-4 mb-4">
                  <!--Begin::Portlet Events -->
                  <div class="white-box-index">
                    <a routerLink="/fees-master" class="a-dashboard-overview">
                    <div class="row text-center">
                      <div class="col-md-12 text-center">
                        <div class="dashboard-sub-title">Fees</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 text-center mt-2 mb-2">
                        <!-- <div id="m_chart_attendance" class="m-widget14__chart" style="height: 120px">
                          <div class="m-widget14__stat"></div>
                        </div> -->
                        <img src="././assets/images/payment.png" width="95" height="95">
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text ">
                          {{ stats.attendance && stats.attendance >=0 ? stats.attendance : 0 }}%<br>
                          Present
                        </span>
                      </div> -->
                      <div class="col-md-12 col-sm-12 col-xs-12 col-12 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text " *ngIf="stats">
                          Rs. {{ stats.duePayment}}
                          <br>
                          Due Payment
                        </span>
                      </div>
                    </div>
                    </a>
                  </div>

                  <!--End::Portlet Events-->
                </div>
              </div>
            </div>

            <div class="tab-content" *ngIf="role == 'student'">
              <div class="row">
                <div class="col-xl-4 col-md-4 col-lg-4  mb-4">
                  <!--Begin::Portlet Notices-->
                  <div class="white-box-index">
                    <div class="row text-center">
                      <div class="col-md-12 text-center">
                        <div class="dashboard-sub-title">Academics</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <div id="m_chart_academic" class="m-widget14__chart" style="height: 120px">
                          <div class="m-widget14__stat"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text " *ngIf="stats">
                          {{ stats.homework ? stats.homework : 0 }} <br>
                          Homework
                        </span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text " *ngIf="stats">
                          {{ stats.upcomingExam ? stats.upcomingExam : 0}} <br>
                          Exam
                        </span>
                      </div>
                    </div>
                  </div>
                  <!--End::Portlet Notices-->
                </div>

                <div class="col-xl-4 col-md-4 col-lg-4  mb-4">
                  <!--Begin::Portlet Notices-->
                  <div class="white-box-index">
                    <a routerLink="/performance" class="a-dashboard-overview">
                    <div class="row text-center">
                      <div class="col-md-12 text-center">
                        <div class="dashboard-sub-title">PERFORMANCE</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <div id="m_chart_performance" class="m-widget14__chart" style="height: 120px">
                          <div class="m-widget14__stat"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text " *ngIf="stats">
                          {{ (stats.performance && stats.performance >=0 ? stats.performance : 0) | number : '1.2' }}%<br>
                          Scored
                        </span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text " *ngIf="stats">
                          {{ (stats.performance && stats.performance >= 0 ? (100 - stats.performance) : 100) | number : '1.2'}}%<br>
                          Others
                        </span>
                      </div>
                    </div>
                    </a>
                  </div>
                  <!--End::Portlet Notices-->
                </div>

                <div class="col-xl-4 col-md-4 col-lg-4 mb-4">
                  <!--Begin::Portlet Events -->
                  <div class="white-box-index">
                    <a routerLink="/library" class="a-dashboard-overview">
                    <div class="row text-center">
                      <div class="col-md-12 text-center">
                        <div class="dashboard-sub-title">Library</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 text-center mt-2 mb-2">
                        <!-- <div id="m_chart_attendance" class="m-widget14__chart" style="height: 120px">
                          <div class="m-widget14__stat"></div>
                        </div> -->
                        <img src="././assets/images/book_icon.png" width="100" height="100">
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text ">
                          {{ stats.attendance && stats.attendance >=0 ? stats.attendance : 0 }}%<br>
                          Present
                        </span>
                      </div> -->
                      <div class="col-md-12 col-sm-12 col-xs-12 col-12 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text " *ngIf="stats">
                          {{ stats.booksBorrowed}}
                          <br>
                          Book Borrowed
                        </span>
                      </div>
                    </div>
                  </a>
                  </div>
                  <!--End::Portlet Events-->
                </div>

              </div>
              <div class="row">
                <div class="col-xl-8 col-md-8 mb-4">
                  <!--Begin::Portlet Events -->
                  <div class="white-box-index">
                    <a routerLink="/attendance/classes" class="a-dashboard-overview">
                    <div class="content pt-3">
                      <div class="pt-1 pr-2 pl-2">
                        <div class="row ">
                          <div class="col-lg-3">
                            <h5 class="main-heading">Attendance</h5>
                            <h2 class="text-dark" *ngIf="stats">
                              {{ stats.attendance }}%
                            </h2>
                            <!-- <p class="small-heading text-dark">PEOPLE</p> -->
                          </div>
                          <div class="col-lg-9 mt-2">
                            <div id="m_chart_attendance_bar" class="m-widget14__chart" style="height: 120px;bottom: 0;">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                  <!--End::Portlet Events-->
                </div>
                <div class="col-xl-4 col-md-4 mb-4">
                  <!--Begin::Portlet Events -->
                  <div class="white-box-index">
                    <a routerLink="/fees-master" class="a-dashboard-overview">
                    <div class="row text-center">
                      <div class="col-md-12 text-center">
                        <div class="dashboard-sub-title">Fees</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 text-center mt-2 mb-2">
                        <!-- <div id="m_chart_attendance" class="m-widget14__chart" style="height: 120px">
                          <div class="m-widget14__stat"></div>
                        </div> -->
                        <img src="././assets/images/payment.png" width="100" height="100">
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text ">
                          {{ stats.attendance && stats.attendance >=0 ? stats.attendance : 0 }}%<br>
                          Present
                        </span>
                      </div> -->
                      <div class="col-md-12 col-sm-12 col-xs-12 col-12 text-center">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text " *ngIf="stats">
                          Rs. {{ stats.duePayment}}
                          <br>
                          Due Payment
                        </span>
                      </div>
                    </div>
                    </a>
                  </div>

                  <!--End::Portlet Events-->
                </div>
              </div>
            </div>

            <div class="tab-content" *ngIf="role == 'clerk'">
              <a routerLink="/assign-fees" class="a-dashboard-overview">
              <div class="row">
                
                <div class="col-xl-12 col-md-12 mb-4">
                  <!--Begin::Portlet Events -->
                  <div class="white-box-index">
                    <div class="content pt-3">
                      <div class="pt-1 pr-2 pl-2">
                        <div class="row ">
                          
                          <div class="col-lg-4" *ngIf="paymentSchoolData">
                            <span class="heading-payment-index">PAYMENT</span>
                            <h3 class="text-dark">Rs. {{ this.paymentSchoolData.amountDetails.totalCollection }}</h3>
                            <span class="text-dark heading-payment-index">
                              Deposited
                            </span>
                          </div>
                        

                          <div class="col-lg-4" *ngIf="!paymentSchoolData">
                            <div class="col-md-12">
                              <span class="heading-payment-index">PAYMENT</span>
                              <h3 class="text-dark">Rs. 0</h3>
                              <span class="text-dark heading-payment-index">
                                Deposited
                              </span>
                            </div>
                          </div>
                          <div class="col-lg-8">
                            <div id="m_chart_payment" class="m-widget14__chart" style="height: 120px">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--End::Portlet Events-->
                </div>
          
              </div>
            </a>
              <div class="row">
                <div class="col-lg-6">
                  <div class="m-widget14 m-widget14-custom-payment  white-box-index">
                    <div class="row">
                      <div class="col-md-2 col-sm-12 vertical-align-middle text-center pt-2 pl-4">
                        <img src="././assets/images/due-payment.png">
                      </div>
                      <div class="col-md-5 col-sm-12 text-center">
                        <span class="text-center heading-payment-index">Due Payment</span>
                        <h4 class=" h4-custom-1 text-dark">Rs.
                          {{ this.paymentSchoolData.amountDetails.duePayment }}</h4>
                        <span class="text-center heading-payment-index">Not Paid</span>
                      </div>
                      <div class="col-md-5 col-sm-12 col-12 text-center">
                        <div id="m_chart_duepayment" class="m-widget14__chart" style="height: 100px; width: 100px">
                          <div class="m-widget14__stat donut-stat-payment">{{ dueAmount }}%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="m-widget14 m-widget14-custom-payment  white-box-index">
                    <div class="row">
                      <div class="col-md-2 col-sm-12 vertical-align-middle text-center pt-2 pl-4">
                        <img src="././assets/images/money-group.png">
                      </div>
                      <div class="col-md-5 col-sm-12 text-center">
                        <span class="text-center  heading-payment-index">Total Collection</span>
                        <h4 class="h4-custom-1">Rs. {{ this.paymentSchoolData.amountDetails.totalCollection }}
                        </h4>
                        <span class="text-center heading-payment-index">Paid</span>
                      </div>
                      <div class="col-md-5 col-sm-12 col-12 text-center">
                        <div id="m_chart_totalCollection" class="m-widget14__chart" style="height: 100px; width: 100px">
                          <div class="m-widget14__stat donut-stat-payment ">{{ totalCollection }}%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-content" *ngIf="role == 'librarian'">

              <div class="row">
                <div class="col-lg-12">
                  <div class="white-box-index pt-3 pr-3 pl-3">
                    <div class="row">
                      <div class="col-lg-4">
                        <h5 class="main-heading">BOOK EXCHANGE</h5>
                        <h2 class="text-dark" *ngIf="libraryStats">{{ libraryStats.booksBorrowThisMonth }}</h2>
                        <p class="small-heading text-dark">Book exchange this<br>
                          month so far</p>

                      </div>
                      <div class="col-lg-8  pt-5">
                        <div id="m_chart_library" class="m-widget14__chart" style="height: 120px">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="white-box-index p-3 mt-2">
                    
                    <div class="row" *ngIf="libraryStats">

                      <div class="col-lg-4">
                        <a routerLink="/library" class="a-dashboard-overview">
                          <!-- <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_library_tab_teacher"> -->
                        <div class="row">
                          <div class="col-md-3 col-remove-right-padding align-self-center text-center">
                            <img src="././assets/images/grey_circle.png" class="float-right">
                          </div>
                          <div class="col-md-6 col-remove-left-padding text-center">
                            <span class="font-weight-bold sub-heading">Book Lend</span>
                            <h2 class="h2-custom">{{ libraryStats.issuedBookCount }}</h2>
                            <span class="small-heading">{{ libraryStats.unIssuedBookCount }} Books Left</span>
                          </div>
                        </div>
                      </a>
                      </div>
                      <div class="col-lg-4 col-md-12 ">
                        <a routerLink="/library" class="a-dashboard-overview">
                        <div class="row">
                          <div class="col-md-3 col-remove-right-padding align-self-center text-center">
                            <img src="././assets/images/due-payment.png" class="float-right">
                          </div>
                          <div class="col-md-6 col-remove-left-padding text-center">
                            <span class="font-weight-bold sub-heading">Defaulter</span>
                            <h2 class="h2-custom">{{ libraryStats.defaulterCount }}</h2>
                            <span class="small-heading">Not Returned</span>
                          </div>
                        </div>
                      </a>
                      </div>
                      <div class="col-lg-4 col-md-12 text-center ">
                        <a routerLink="/library" class="a-dashboard-overview">
                        <div class="row">
                          <div class="col-md-3 col-remove-right-padding align-self-center text-center">
                            <img src="././assets/images/money-group.png" class="float-right">
                          </div>
                          <div class="col-md-6 col-remove-left-padding text-center">
                            <span class="font-weight-bold sub-heading">Total Books</span>
                            <h2 class="h2-custom">{{ libraryStats.totalBookCount }}</h2>
                            <span class="small-heading">In stock</span>
                          </div>
                        </div>
                      </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-content" *ngIf="role == 'security'">
              <div class="row">
                <div class="col-lg-12">
                  <div class="white-box-index pt-3 pr-5 pl-3">
                    <a routerLink="/attendance/classes" class="a-dashboard-overview">
                    <div class="row ">
                      <div class="col-lg-4">
                        <h5 class="main-heading-secu">ATTENDANCE</h5>
                        <h2 class="text-dark" *ngIf="visitorsStats">
                          {{ visitorsStats.presentTeachersCount + visitorsStats.presentOtherStaffCount }}<span
                            class="green-text">/{{ visitorsStats.totalTeachersCount + visitorsStats.totalOtherStaffCount }}</span>
                        </h2>
                        <p class="small-heading-secu text-dark">Overall Attendance<br>
                          for today</p>
                      </div>
                      <div class="col-lg-8 mt-5">
                        <div id="m_chart_security" class="m-widget14__chart" style="height: 120px;bottom: 0;">
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                  
                </div>
                <div class="col-lg-12 mt-3">
                  <div class="white-box-index pt-3 mt-2 pb-4">
                    <div class="row mt-3">
                      <div class="col-lg-4 d-flex justify-content-center col-md-4 security-details-box">
                        <div class="imagediv">
                          <img src="././assets/images/grey_circle.png" class="pull-right grey-circle">
                        </div>
                        <div class="textdiv">
                          <p class="font-weight-bold sub-heading">Teachers</p>
                          <h2 class="text-dark h2-custom-secu" *ngIf="visitorsStats">
                            {{ visitorsStats.presentTeachersCount}}<span
                              class="green-text">/{{ visitorsStats.totalTeachersCount}}</span></h2>
                          <!-- <p class="small-heading-secu">so far today</p> -->
                        </div>
                      </div>
                      <div class="col-lg-4 d-flex justify-content-center col-md-4 security-details-box">
                        <div class="imagediv">
                          <img src="././assets/images/visitor.png" class="pull-right grey-circle">
                        </div>
                        <div class="textdiv">

                          <p class="font-weight-bold sub-heading">Visitors</p>
                          <h2 class="h2-custom-secu" *ngIf="visitorsStats">{{ visitorsStats.totalVisitorsCount}}</h2>
                          <!-- <p class="small-heading-secu">so far today</p> -->
                        </div>
                      </div>
                      <div class="col-lg-4 d-flex justify-content-center col-md-4">
                        <div class="imagediv">
                          <img src="././assets/images/buses.png" class="pull-right grey-circle">
                        </div>
                        <div class="textdiv">

                          <p class="font-weight-bold sub-heading">Buses</p>
                          <h2 class="text-dark h2-custom-secu" *ngIf="visitorsStats">{{ visitorsStats.totalBusesCount}}
                          </h2>
                          <!-- <p class="small-heading-secu">Checked Out</p> -->
                        </div>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <!--<div class="col-lg-2">
                      <img src="././assets/images/grey_circle.png" class="pull-right grey-circle">
                    </div>-->
                      <div class="col-lg-4 d-flex justify-content-center  col-md-4 security-details-box">
                        <div class="imagediv">
                          <img src="././assets/images/grey_circle.png" class="pull-right grey-circle">
                        </div>
                        <div class="textdiv">

                          <p class=" font-weight-bold sub-heading">Non Teachers</p>
                          <h2 class="text-dark h2-custom-secu" *ngIf="visitorsStats">
                            {{ visitorsStats.presentOtherStaffCount}}<span
                              class="green-text">/{{ visitorsStats.totalOtherStaffCount}}</span></h2>
                          <!-- <p class="small-heading-secu">so far today</p> -->
                        </div>
                      </div>
                      <div class="col-lg-4 d-flex justify-content-center  col-md-4 security-details-box">
                        <div class="imagediv">
                          <img src="././assets/images/student.png" class="pull-right grey-circle">
                        </div>
                        <div class="textdiv">

                          <p class="font-weight-bold sub-heading">Out Students</p>
                          <h2 class="h2-custom-secu" *ngIf="visitorsStats">{{ visitorsStats.totalOutStudentsCount}}</h2>
                          <!-- <p class="small-heading-secu">so far today</p> -->
                        </div>
                      </div>
                      <div class="col-lg-4 d-flex justify-content-center  col-md-4">
                        <div class="imagediv">
                          <img src="././assets/images/deliverys.png" class="pull-right grey-circle">
                        </div>
                        <div class="textdiv">

                          <p class="font-weight-bold sub-heading">Delivery</p>
                          <h2 class="text-dark h2-custom-secu" *ngIf="visitorsStats">
                            {{ visitorsStats.totalDeliveriesCount}}
                          </h2>
                          <!-- <p class="small-heading-secu">so far today</p> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!--end:: Widgets/New Users-->
      </div>
    </div>
    <!--End::Main Portlet-->


    <!-- Old Home page code  -->

    <div class="m-subheader" appunwraptag="" *ngIf=" role =='director'">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <h3 class="m-subheader__title">
            Dashboard
          </h3>
          <div>
          </div>

        </div>
        <!--drop down starts-->
        <!-- <div *ngIf="role=='director' "
      class="m-dropdown m-dropdown--inline m-dropdown--small m-dropdown--arrow m-dropdown--align-right m-dropdown--custom"
      data-dropdown-toggle="click">
      <span class="m-dropdown__label">
					<span class="m-dropdown__label-title">School: </span>
					<span class="m-dropdown__label-subtitle m--font-brand">{{school_name ? school_name : ' select school '}}</span>
				</span>
      <a href="#"
         class="m-dropdown__toggle btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
        <i class="la la-angle-down"></i>
      </a>
      <div class="m-dropdown__wrapper">
        <span class="m-dropdown__arrow m-dropdown__arrow--right"></span>
        <div class="m-dropdown__inner">
          <div class="m-dropdown__body">
            <div class="m-dropdown__content">
              <div class="m-scrollable" data-scrollable="true" data-max-height="250">

                <ul class="m-nav">

                  <li class="m-nav__section m-nav__section--first">
										<span class="m-nav__section-text">
											School
										</span>
                  </li>

                  <span *ngFor="let school of school_data">
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon fa fa-language"></i>
                      <span class="m-nav__link-text" on-click="setSchoolCode(school.code, school.name)">
                          {{school.name}}
											</span>
                    </a>
                  </li>

                </span>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
        <!--drop down ends-->

      </div>
    </div>
    <!-- END: Subheader -->
    <!--[ngClass]="addCssClass(visibility)"-->
    <div class="m-content" *ngIf=" role =='director'">
      <!-- showData ||  role!='director' -->
      <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
          <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl" routerLink="/teachers"
              *ngIf="this.role === 'teacher' || role === 'school'  || role === 'director' || role === 'coadmin'">
              <!-- *ngIf="this.role === 'teacher' || this.role === 'school'  || this.role === 'director' || this.role === 'coadmin'"-->
              <div class="m-widget14">

                <div class="m-widget14__header">
                  <h3 class="m-widget14__title">
                    Active Users
                  </h3>
                </div>

                <div class="row  align-items-center">

                  <div class="col">
                    <div id="m_chart_active_user" class="m-widget14__chart" style="height: 150px"></div>
                  </div>

                  <div class="col">
                    <div class="m-widget14__legends">

                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-brand"></span>
                        <span class="m-widget14__legend-text">
                          Teacher
                        </span>
                      </div>

                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-accent"></span>
                        <span class="m-widget14__legend-text">
                          Student
                        </span>
                      </div>

                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-danger"></span>
                        <span class="m-widget14__legend-text">
                          Parent
                        </span>
                      </div>

                    </div>
                  </div>

                </div>

              </div>
            </div>



            <div class="col-xl" routerLink="/attendance/student">
              <div class="m-widget14">
                <div class="m-widget14__header">
                  <h3 class="m-widget14__title">
                    Attendance
                  </h3>
                </div>
                <div class="row  align-items-center" *ngIf="avaraveAttendance">
                  <div class="col">
                    <div id="m_chart_attendance" class="m-widget14__chart" style="height: 140px">

                      <div class="m-widget14__stat">{{ avaraveAttendance }}</div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="m-widget14__legends">
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-accent present"></span>
                        <span class="m-widget14__legend-text ">
                          {{ stats.attendance && stats.attendance >=0 ? stats.attendance : 0 }}% Present
                        </span>
                      </div>
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-warning absent"></span>
                        <span class="m-widget14__legend-text">
                          {{ stats.attendance && stats.attendance >= 0 ? (100 - stats.attendance) : 100}}% Absent
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="!avaraveAttendance">
                  No Data Found
                </div>
              </div>
            </div>

            <div routerLink="/homework" class="col-xl" *ngIf="role=='student' || role=='parent'">
              <!--routerLink="/homework"-->

              <div class="m-widget14">


                <div class="m-widget14__header">
                  <h3 class="m-widget14__title">
                    Homework
                  </h3>
                </div>

                <div class="row  align-items-center">

                  <div class="col">
                    <div id="m_chart_homework" class="m-widget14__chart" style="height: 150px"></div>
                  </div>

                  <div class="col">
                    <div class="m-widget14__legend">
                      <span class="m-widget14__legend-bullet m--bg-brand"></span>
                      <span class="m-widget14__legend-text">
                        In-progress
                      </span>
                    </div>

                    <div class="m-widget14__legend">
                      <span class="m-widget14__legend-bullet m--bg-accent"></span>
                      <span class="m-widget14__legend-text">
                        Complete
                      </span>
                    </div>


                  </div>

                </div>

              </div>
            </div>

            <div class="col-xl" *ngIf="role== 'student' || role=='parent'" routerLink="/examination">

              <div class="m-widget14">
                <!--*ngIf="role!=='teacher' "-->

                <div class="m-widget14__header">
                  <h3 class="m-widget14__title">
                    Upcoming Exam
                  </h3>
                </div>

                <div class="row  align-items-center">

                  <div class="col">
                    <div id="m_chart_upcomingexam" style="height: 150px"></div>
                  </div>
                  <div class="col">

                    <div class="m-widget14__legend">
                      <span class="m-widget14__legend-bullet m--bg-brand"></span>
                      <span class="m-widget14__legend-text">
                        In-progress
                      </span>
                    </div>

                    <div class="m-widget14__legend">
                      <span class="m-widget14__legend-bullet m--bg-accent"></span>
                      <span class="m-widget14__legend-text">
                        Complete
                      </span>
                    </div>


                  </div>

                </div>

              </div>
            </div>

            <div class="col-xl" routerLink="/performance">
              <div class="m-widget14">
                <div class="m-widget14__header">
                  <h3 class="m-widget14__title">
                    Performance
                  </h3>
                </div>
                <div class="row  align-items-center" *ngIf="this.stats">
                  <div class="col">
                    <div id="m_chart_performance" class="m-widget14__chart" style="height: 140px">
                      <div class="m-widget14__stat performance">
                        {{this.stats.performance !== -1 ? this.stats.performance : 'NA'}}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="m-widget14__legends">
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-accent"></span>
                        <span class="m-widget14__legend-text">
                          {{stats.performance !== -1 ? stats.performance + '% Scored' : 'NA Scored'}}
                        </span>
                      </div>
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-warning"></span>
                        <span class="m-widget14__legend-text">
                          {{stats.performance !== -1 ? ((100 - stats.performance) | number : '2.2-2') + '% Others' : 'NA Others'}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row  align-items-center" *ngIf="!this.stats">

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--Begin::Section Recent-->
      <div class="row">

        <div class="col-xl-6 col-lg-12">
          <!--Begin::Portlet Events -->
          <div class="m-portlet  m-portlet--full-height">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Recent Events
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <div routerLink="/events" class="m-scrollable mCustomScrollbar _mCS_5 mCS-autoHide event-view">
                <!--Begin::Event Items -->
                <div class="m-timeline-3">
                  <div class="m-timeline-3__items">
                    <div class="m-timeline-3__item m-timeline-3__item--info" *ngFor="let event of events">
                      <span class="m-timeline-3__item-time" style="font-size: 1.0rem">
                        {{event.date | date : "dd.MM.yy"}}
                      </span>
                      <div class="m-timeline-3__item-desc">
                        <span class="m-timeline-3__item-text">
                          {{event.title}}
                        </span>
                        <br>
                        <span class="m-timeline-3__item-user-name">
                          <a href="#" class="m-link m-link--metal m-timeline-3__item-link">{{event.description}}</a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <!--End::Event Items -->
              </div>
            </div>
          </div>
          <!--End::Portlet Events-->
        </div>

        <div class="col-xl-6 col-lg-12">
          <!--Begin::Portlet Notices-->
          <div class="m-portlet m-portlet--full-height">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Recent Notice
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <div routerLink="/notice" class="m-scrollable mCustomScrollbar _mCS_5 mCS-autoHide notice-view">
                <!--Begin::Notice Item -->
                <div class="m-timeline-3">
                  <div class="m-timeline-3__items">
                    <div class="m-timeline-3__item m-timeline-3__item--info"
                      *ngFor="let notice of notices; let i = index">
                      <span class="m-timeline-3__item-time" style="font-size: 1.0rem">
                        {{notice.createdAt | date : "dd.MM.yy"}}
                      </span>
                      <div class="m-timeline-3__item-desc">
                        <span class="m-timeline-3__item-text">
                          {{notice.type}}
                        </span>
                        <br>
                        <span class="m-timeline-3__item-user-name">
                          <a href="#" class="m-link m-link--metal m-timeline-3__item-link">{{notice.message}}</a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <!--End::Notice Item -->
              </div>
            </div>
          </div>
          <!--End::Portlet Notices-->
        </div>

      </div>
      <!--End::Section Recent-->
    </div>