<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Default Forms
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Forms
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Form Layouts
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Default Forms
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-6">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Default Form Layout
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form">
					<div class="m-portlet__body">
						<div class="m-form__section m-form__section--first">
							<div class="form-group m-form__group">
								<label for="example_input_full_name">
									Full Name:
								</label>
								<input type="email" class="form-control m-input" placeholder="Enter full name">
								<span class="m-form__help">
									Please enter your full name
								</span>
							</div>
							<div class="form-group m-form__group">
								<label>
									Email address:
								</label>
								<input type="email" class="form-control m-input" placeholder="Enter email">
								<span class="m-form__help">
									We'll never share your email with anyone else
								</span>
							</div>
							<div class="form-group m-form__group">
								<label>
									Subscription
								</label>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon2">
										$
									</span>
									<input type="text" class="form-control m-input" placeholder="99.9">
								</div>
							</div>
							<div class="m-form__group form-group">
								<label for="">
									Communication:
								</label>
								<div class="m-checkbox-list">
									<label class="m-checkbox">
										<input type="checkbox">
										Email
										<span></span>
									</label>
									<label class="m-checkbox">
										<input type="checkbox">
										SMS
										<span></span>
									</label>
									<label class="m-checkbox">
										<input type="checkbox">
										Phone
										<span></span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions">
							<button type="reset" class="btn btn-primary">
								Submit
							</button>
							<button type="reset" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Horizontal Form Layout
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form">
					<div class="m-portlet__body">
						<div class="m-form__section m-form__section--first">
							<div class="form-group m-form__group row">
								<label class="col-lg-3 col-form-label">
									Full Name:
								</label>
								<div class="col-lg-6">
									<input type="email" class="form-control m-input" placeholder="Enter full name">
									<span class="m-form__help">
										Please enter your full name
									</span>
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-lg-3 col-form-label">
									Email address:
								</label>
								<div class="col-lg-6">
									<input type="email" class="form-control m-input" placeholder="Enter email">
									<span class="m-form__help">
										We'll never share your email with anyone else
									</span>
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-lg-3 col-form-label">
									Contact
								</label>
								<div class="col-lg-6">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="la la-chain"></i>
										</span>
										<input type="text" class="form-control m-input" placeholder="Phone number">
									</div>
								</div>
							</div>
							<div class="m-form__group form-group row">
								<label class="col-lg-3 col-form-label">
									Communication:
								</label>
								<div class="col-lg-6">
									<div class="m-checkbox-inline">
										<label class="m-checkbox">
											<input type="checkbox">
											Email
											<span></span>
										</label>
										<label class="m-checkbox">
											<input type="checkbox">
											SMS
											<span></span>
										</label>
										<label class="m-checkbox">
											<input type="checkbox">
											Phone
											<span></span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions">
							<div class="row">
								<div class="col-lg-3"></div>
								<div class="col-lg-6">
									<button type="reset" class="btn btn-success">
										Submit
									</button>
									<button type="reset" class="btn btn-secondary">
										Cancel
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-lg-6">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Form Sections
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form m-form--fit">
					<div class="m-portlet__body">
						<div class="m-form__section m-form__section--first">
							<div class="m-form__heading">
								<h3 class="m-form__heading-title">
									1. Customer Info:
								</h3>
							</div>
							<div class="form-group m-form__group">
								<label for="example_input_full_name">
									Full Name:
								</label>
								<input type="email" class="form-control m-input" placeholder="Enter full name">
								<span class="m-form__help">
									Please enter your full name
								</span>
							</div>
							<div class="form-group m-form__group">
								<label >
									Email address:
								</label>
								<input type="email" class="form-control m-input" placeholder="Enter email">
								<span class="m-form__help">
									We'll never share your email with anyone else
								</span>
							</div>
							<div class="form-group m-form__group">
								<label >
									Contact:
								</label>
								<div class="m-input-icon m-input-icon--left">
									<input type="text" class="form-control m-input" placeholder="Phone number">
									<span class="m-input-icon__icon m-input-icon__icon--left">
										<span>
											<i class="la la-bell"></i>
										</span>
									</span>
								</div>
								<span class="m-form__help">
									We'll never share your email with anyone else
								</span>
							</div>
							<div class="m-form__group form-group">
								<label for="">
									Communication:
								</label>
								<div class="m-checkbox-list">
									<label class="m-checkbox">
										<input type="checkbox">
										Email
										<span></span>
									</label>
									<label class="m-checkbox">
										<input type="checkbox">
										SMS
										<span></span>
									</label>
									<label class="m-checkbox">
										<input type="checkbox">
										Phone
										<span></span>
									</label>
								</div>
							</div>
						</div>
						<div class="m-form__seperator m-form__seperator--dashed"></div>
						<div class="m-form__section m-form__section--last">
							<div class="m-form__heading">
								<h3 class="m-form__heading-title">
									2. Payment Info:
								</h3>
							</div>
							<div class="m-form__group form-group">
								<label for="">
									Payment Method:
								</label>
								<div class="m-radio-list">
									<label class="m-radio">
										<input type="radio" name="payment_methid_1">
										Credit Card
										<span></span>
									</label>
									<label class="m-radio">
										<input type="radio" name="payment_methid_1">
										Bitcoin
										<span></span>
									</label>
									<label class="m-radio">
										<input type="radio" name="payment_methid_1">
										Cash
										<span></span>
									</label>
								</div>
								<span class="m-form__help">
									Please select payment method
								</span>
							</div>
							<div class="form-group m-form__group m-form__group--last">
								<label for="example_input_full_name">
									Amount:
								</label>
								<input type="email" class="form-control m-input" placeholder="Enter full name">
								<span class="m-form__help">
									Please enter payment amount
								</span>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions--solid">
							<button type="reset" class="btn btn-success">
								Submit
							</button>
							<button type="reset" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Horizontal Form Sections
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form m-form--label-align-right">
					<div class="m-portlet__body">
						<div class="m-form__section m-form__section--first">
							<div class="m-form__heading">
								<h3 class="m-form__heading-title">
									Customer Info:
								</h3>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-lg-2 col-form-label">
									Full Name:
								</label>
								<div class="col-lg-6">
									<input type="email" class="form-control m-input" placeholder="Enter full name">
									<span class="m-form__help">
										Please enter your full name
									</span>
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-lg-2 col-form-label">
									Email address:
								</label>
								<div class="col-lg-6">
									<input type="email" class="form-control m-input" placeholder="Enter email">
									<span class="m-form__help">
										We'll never share your email with anyone else
									</span>
								</div>
							</div>
							<div class="m-form__group form-group row">
								<label class="col-lg-2 col-form-label">
									Communication:
								</label>
								<div class="col-lg-6">
									<div class="m-checkbox-list">
										<label class="m-checkbox">
											<input type="checkbox">
											Email
											<span></span>
										</label>
										<label class="m-checkbox">
											<input type="checkbox">
											SMS
											<span></span>
										</label>
										<label class="m-checkbox">
											<input type="checkbox">
											Phone
											<span></span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="m-form__seperator m-form__seperator--dashed"></div>
						<div class="m-form__section m-form__section--last">
							<div class="m-form__heading">
								<h3 class="m-form__heading-title">
									Payment Info:
								</h3>
							</div>
							<div class="m-form__group form-group row">
								<label class="col-lg-2 col-form-label">
									Payment Method:
								</label>
								<div class="col-lg-6">
									<div class="m-radio-list">
										<label class="m-radio">
											<input type="radio" name="payment_methid_1">
											Credit Card
											<span></span>
										</label>
										<label class="m-radio">
											<input type="radio" name="payment_methid_1">
											Bitcoin
											<span></span>
										</label>
										<label class="m-radio">
											<input type="radio" name="payment_methid_1">
											Cash
											<span></span>
										</label>
									</div>
									<span class="m-form__help">
										Please select payment method
									</span>
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-lg-2 col-form-label">
									Amount:
								</label>
								<div class="col-lg-6">
									<input type="email" class="form-control m-input" placeholder="Enter full name">
									<span class="m-form__help">
										Please enter payment amount
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions">
							<div class="row">
								<div class="col-lg-2"></div>
								<div class="col-lg-6">
									<button type="reset" class="btn btn-primary">
										Submit
									</button>
									<button type="reset" class="btn btn-secondary">
										Cancel
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Border Seperator Form Groups
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator">
					<div class="m-portlet__body">
						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">
								Full Name:
							</label>
							<div class="col-lg-6">
								<input type="email" class="form-control m-input" placeholder="Enter full name">
								<span class="m-form__help">
									Please enter your full name
								</span>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">
								Email address:
							</label>
							<div class="col-lg-6">
								<input type="email" class="form-control m-input" placeholder="Enter email">
								<span class="m-form__help">
									We'll never share your email with anyone else
								</span>
							</div>
						</div>
						<div class="m-form__group m-form__group--last form-group row">
							<label class="col-lg-2 col-form-label">
								Communication:
							</label>
							<div class="col-lg-6">
								<div class="m-checkbox-list">
									<label class="m-checkbox">
										<input type="checkbox">
										Email
										<span></span>
									</label>
									<label class="m-checkbox">
										<input type="checkbox">
										SMS
										<span></span>
									</label>
									<label class="m-checkbox">
										<input type="checkbox">
										Phone
										<span></span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions--solid">
							<div class="row">
								<div class="col-lg-2"></div>
								<div class="col-lg-6">
									<button type="reset" class="btn btn-success">
										Submit
									</button>
									<button type="reset" class="btn btn-secondary">
										Cancel
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Dashed Seperator Form Groups
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
					<div class="m-portlet__body">
						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">
								Full Name:
							</label>
							<div class="col-lg-6">
								<input type="email" class="form-control m-input" placeholder="Enter full name">
								<span class="m-form__help">
									Please enter your full name
								</span>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">
								Email address:
							</label>
							<div class="col-lg-6">
								<input type="email" class="form-control m-input" placeholder="Enter email">
								<span class="m-form__help">
									We'll never share your email with anyone else
								</span>
							</div>
						</div>
						<div class="m-form__group m-form__group--last form-group row">
							<label class="col-lg-2 col-form-label">
								Communication:
							</label>
							<div class="col-lg-6">
								<div class="m-checkbox-list">
									<label class="m-checkbox">
										<input type="checkbox">
										Email
										<span></span>
									</label>
									<label class="m-checkbox">
										<input type="checkbox">
										SMS
										<span></span>
									</label>
									<label class="m-checkbox">
										<input type="checkbox">
										Phone
										<span></span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions--solid">
							<div class="row">
								<div class="col-lg-2"></div>
								<div class="col-lg-6">
									<button type="reset" class="btn btn-brand">
										Submit
									</button>
									<button type="reset" class="btn btn-secondary">
										Cancel
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>
