.subheading {
  color: #FF9100;
  font-weight: 500;
  font-size: 12px;
}

* {
  font-family: Segoe UI;
}

a:hover {
  text-decoration: none;
}

.subheading2 {
  color: #FF9100;
  font-weight: 500;
  font-size: 20px;
}

.add-btn {
  border: 2px solid #FF9100;
  background-color: #FF9100;
  padding: 10px 20px;
  color: #fff;
  border-radius: 25px;
  float: right;
  font-size: 12px;
  font-weight: 500;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
}

.add-btn:hover {
  text-decoration: none;
  color: #FF9100;
  background: transparent;
  font-weight: 500;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
}

.background_library {
  background-color: transparent !important;
  box-shadow: none;
  padding-left: 0px !important;
}

.background2_library {
  padding: 0px 20px !important;

}

.book-white-box {
  border-radius: 12px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
}

.booktitle {
  font-size: 11px;
  color: #000;
  padding: 10px;
  font-weight: 500;

}

.booktitle2 {
  font-size: 16px;
  color: #000;
  padding: 10px;
  font-weight: 500;
  margin-top: -44px;

}

.bookimage {
  height: 145px !important;
  width: 100px !important;
  padding: 0px 0px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
  border-radius: 12px;
  margin-right: 39px;
}

.bookimage2 {
  height: 272px;
  width: 180px;
  padding: 0px 0px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
  border-radius: 12px;

}

.white-box-class {
  background-color: #fff;
  padding: 7% 10%;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
}

.library-class-name {
  /* float: left;
    margin-top:15%;
    margin-left:15%; */
  text-align: left;
  font-size: 15px;
  font-weight: 500;
}

.modal-heading {
  color: #FF9100;
  font-size: 25px;
}

.nav.nav-pills.nav-pills--brand-custom .nav-link.active {
  background: #f2f3f8;
  color: #3f4047;
  border-radius: 0px;
  border-bottom: #ff9100 2px solid;
}

.class-heading {
  color: #FF9100;
  font-size: 20px;
  font-weight: 600;
  margin-left: 1%;

}

.text-box {
  border: 2px solid #DEE3E9 !important;
  border-left: transparent !important;
  border-top: transparent !important;
  border-right: transparent !important;
  font-size: 13px !important;
  color: #000000 !important;
}

.text-box:focus {
  border: 2px solid #FF9100 !important;
  border-left: transparent !important;
  border-top: transparent !important;
  border-right: transparent !important;
  font-size: 13px !important;
  color: #000000 !important;
}

input[type="text"] {
  border: 2px solid #C8C8C8;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  font-size: 12px;
}

.btn-close {
  color: #FF9100;
  background-color: #fff;
  border: 1px solid #f0f1f6;
  border-radius: 28px;
  width: 83px;
  float: right;
}

.btn-close:hover {
  color: #000;
  background-color: #f0f1f6;

  border-radius: 28px;
}

.btn-submit {
  color: #fff;
  border: 2px solid #FF9100;
  background-color: #FF9100;
  border-radius: 28px;
  width: 83px;
  float: right;

}

.header-size {
  padding-top: 20px !important;
  padding-bottom: 10px !important;

}

.header-size-view {
  padding-top: 20px !important;
  padding-bottom: 0px !important;
  border: none;

}

.m-portlet__body-background_library {
  color: #575962;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
  padding: 23px;
}

.m-portlet-custom-library {
  /* margin-bottom: 0px !important; */
  box-shadow: unset !important;
  background-color: #f1f2f7 !important;
}

.graph-box {
  background-color: #fff;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

.circle {
  border-radius: 50%;
  background-color: #808080;
  padding: 12px 13px;
  /* margin-top: 159%;
  margin-left: 4%;*/

}

.text-section {
  float: left;
  margin-top: 20%;
}

.sub-heading {
  color: #A0A0A2;
  font-size: 16px;
}

.small-heading {
  font-size: 12px;
  color: #6B6B73;
  font-weight: 500;
  line-height: 1.2;
  margin-top: -5px;
}

.main-heading-library {
  color: #6B6B73;
  font-size: 13px;
  font-weight: 500;
}

.bg-white {
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
}

table {
  border-color: transparent;
}

.body-margins {
  padding: 0px 15px !important;
}

.btn-danger,
.btn-default {
  border-radius: 14px;
  width: 100px;
}

td .btn-danger {
  margin: 10px 0px 10px 0px;
}


.search-container {
  float: right;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  background-color: #fff;
  width: 39%;
}


.search-container input[type=text] {
  padding: 8px;
  font-size: 10px;
  border: none;
  background-color: transparent;
  width: 100%;
  font-weight: 600;


}

.searching-container input:focus {
  padding: 8px;
  font-size: 10px;
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
  font-weight: 600;


}

.fa-search:before {
  font-size: 13px;
  padding: 20px;
}

.search-container button {
  background: transparent;
  padding: 0;
}

.searching-container button:focus {
  background: transparent !important;
  padding: 0 !important;
  outline: none !important;

}

.searching-container button:hover {
  background: transparent !important;
  padding: 0 !important;
  outline: none !important;

}



/*....... bookdetails searchbox code starts......*/
.searching-container {

  border: 1px solid #D1D1D1;
  border-radius: 12px;
  background-color: #fff;
  width: 100%;
}


.searching-container input {
  padding: 8px;
  font-size: 10px;
  border: none;
  background-color: transparent;
  width: 100%;
  font-weight: 600;


}

.searching-container input:focus {
  padding: 8px;
  font-size: 10px;
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
  font-weight: 600;


}

.fa-search:before {
  font-size: 13px;
  padding: 20px;
}


.searching-container button {
  background: transparent;
  padding: 0;

}

.searching-container button:focus {
  background: transparent !important;
  padding: 0 !important;
  outline: none !important;

}

.searching-container button:hover {
  background: transparent !important;
  padding: 0 !important;
  outline: none !important;

}

.search-btn {
  color: #000;
  padding: none;
  vertical-align: middle;
}



/*....... bookdetails searchbox code ends......*/
.bookdetails a {
  float: right;
}

.list-icon {
  font-size: 10px;
  color: #C8C8C8;
}

.subject-btn {
  background-color: #FF6565;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 600;
}

.bookcontainer {
  border-radius: 12px;
  background-color: #fff;
  margin: 10px;
  padding: 20px 20px 0px 20px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
}

.bookcontainer:focus {
  border-radius: 12px;
  background-color: #fff;
  margin: 10px;
  padding: 20px 20px 0px 20px;
  filter: drop-shadow(2px 4px 6px #000);
}

.author-name {
  color: #6B6B73;
  font-size: 14px;
  font-weight: 600;
}

.booksection-author-name {
  color: #6B6B73;
  font-size: 12px;
  font-weight: 600;
  margin-top: -19px;
}

.para {
  font-size: 12px;
  color: #000;
  margin-top: -10px;
}

tbody {
  font-size: 14px;
  color: black;
  font-weight: 600;
}

thead {
  color: #6B6B73;
  font-size: 14px;
  font-weight: 600;
}

.details-show-background {
  background-color: #fff;
  margin: 10px;
  border-radius: 10;
}

.detail-headings {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}

.detail-headings2 {
  font-size: 14px;
  color: #000;
  font-weight: 300;
}

.booksection-container {
  margin: 10px;
}

.m-subheader__title {
  font-weight: 600 !important;
  color: #000 !important;

}


.m-subheader-custom-library {
  padding: 0px 15px 15px 15px !important;
}

/* .lb-btn {
  background: #FF9100 !important;
  border-color: #FF9100;
  color: white !important;
  border-radius: 40px;
  font-size: 11px;
  padding: 14px 25px;
  margin-left: 10px;
  font-weight: 500;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
} */

.lb-btn {
  background: #FF9100 !important;
  border-color: #FF9100;
  color: white !important;
  border-radius: 40px;
  font-size: 11px;
  padding: 14px 25px;
  margin-left: 10px;
  font-weight: 500;
  /* -webkit-filter: drop-shadow(2px 4px 6px #D9D9D9); */
  filter: drop-shadow(2px 5px 6px #bcbcbc);
}

.white-box-pointer{
  cursor: pointer;
}

.m-portlet .m-portlet__body-custom-library {
  padding: 2.2rem 0px !important;
}

.m-portlet .m-portlet__head-custom-library {
  border-bottom: 1px solid #d4d4d4 !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 212, 212);
  padding: unset !important;
  height: unset !important;
}

.m-portlet .m-portlet__body-custom-library {
  padding: 2.2rem 0px !important;
}

.h2-custom {
  margin: unset !important;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 450;
  font-size: 27px;
  color: black;
}

.col-remove-right-padding {
  padding-right: unset !important;
}

.col-remove-left-padding {
  padding-left: unset !important;
}

.btn-borrow {
  border-radius: 14px;
  width: 80px;
  background-color: #e98616 !important;
  color: #fff !important;
  font-size: 11px;
}

/* .button{
  position: absolute;
  top: 50%;
} */

.btn-borrow-1 {
  border-radius: 14px;
  width: 80px;
  background: white;
  border-color: #ebedf2;
  color: #343a40 !important;
}

.btn-borrow-1.active {
  border-radius: 14px;
  width: 80px;
  background-color: #f4516c;
  border-color: #f4516c;
  color: #fff !important;
}

.p-margin-b-remove {
  /* margin-bottom: unset !important; */
  height: 48px;
  text-transform: capitalize;
}

.class-strength {
  vertical-align: middle;
  border: 2px solid #000;
  color: #fff;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.5;
  padding: 5px;
  height: 50px;
  width: 50px;
  float: unset;
  margin: 0px 44%;
}

.align-self-middle {
  align-self: flex-end;
}

.row-background {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
}

.label-class {
  font-size: 12px;
  color: #a8aabb;
  margin-bottom: unset !important;
}

.m-student-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.row-margin-0 {
  margin-right: 0px !important;
}

.row-bottom-border {
  border-bottom: 1px solid #d4d4d4;
}

.row-header {
  font-size: 14px;
  font-family: Segoe UI Symbol;
  font-weight: 500;
  color: #343a40;
  padding-bottom: 5px;
}

.row-data {
  font-size: 14px;
  font-family: Segoe UI Symbol;
  font-weight: 400;
  color: #6b6b73;
  padding-bottom: 5px;
}

.row-background.active {
  background-color: #a8aabb !important;
}

.row-background.active .label-class {
  color: #ffffff !important;
}

.error-message {
  color: red;
  font-size: 11px;
  font-weight: 600;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 27px;
}

.pagination li a {
  font-size: 12px;
  font-weight: 600;
  border: 1px solid transparent;
  padding: 5px 10px;

}

.pagination li a:hover {
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #A0A0A2;
  padding: 5px 10px;
}

.table td {
  vertical-align: middle !important;
  font-size: 12px !important;
}

.image-div {
  box-sizing: border-box;
  display: inline-block;
}

.text-div {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 7% !important;
}

.table thead {
  font-size: 12px;
  font-weight: 600 !important;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #f4f5f8;
  font-weight: 700;
}

.return-btn {
  margin-top: 10px 10px 10px 0px !important;
}

div#m_chart_library {
  color: black !important;
  font-weight: 700;
}

.library_title_section {
  display: flex;
  align-items: center;
}

.library-image-div {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
}

.library-count-div {
  display: inline-block;
  box-sizing: border-box;
}

.library_class_div {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
}

.library_strength_div {
  display: inline-block;
  box-sizing: border-box;
  width: 40%;
}

.library_staffimage_div {
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
}

.library_staffname_div {
  display: inline-block;
  box-sizing: border-box;
}

.m-subheader .m-subheader__title-Library {
  display: inline-block !important;
  padding: 7px 25px 7px 0 !important;
  font-weight: bold !important;
  font-family: Segoe UI !important;
  font-size: 30px !important;
  vertical-align: middle !important;
  margin: 0 15px 0 0 !important;
  color: #000 !important;
}

.library-sub-heading {
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  color: #a0a0a2;
}

.small-heading2 {
  font-size: 12px;
  color: #6B6B73;
  font-weight: 500;
  line-height: 1.2;
  margin-top: -5px;
  color: #000;
}

.show-more-btn {
  width: 5%;
  background-color: transparent;
  border: 1px solid #d4d4d4;
  color: #000;
  border: 1px solid #d4d4d4;
}
.show-more-btn i{
  font-size: 20px;
}
.show-more-btn:hover {
  width: 5%;
  background-color: #d4d4d4;
  color: #000;
  border: 1px solid #d4d4d4;
}

/*.......................................media query code .............................................*/

@media(min-width:992px) and (max-width:1024px) {}

@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {}

@media(max-width:479px) {
  .library_title_section {
    display: block;
  }

  .library_button_section {
    margin-top: 35px;
    margin-bottom: 15px;
  }

  .lb-btn {
    background: #FF9100 !important;
    border-color: #FF9100;
    color: white !important;
    border-radius: 40px;
    font-size: 11px;
    padding: 10px 18px;
    margin-right: 10px;
    margin-left: 0px;
    font-weight: 500;
    filter: drop-shadow(2px 4px 6px #D9D9D9);
  }

  .m-portlet .m-portlet__body-custom-library {
    padding: 1.2rem 0px !important;
  }

  .search-container {
    float: right;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    background-color: #fff;
    width: 100%;
  }

  .m-subheader-custom-library {
    padding: 0px 0px 15px 0px !important;
  }

}

.text-center {
  text-align: center!important;
}

#loading{ 
  position: absolute; 
  left: 50%; 
  top: 50%; 
  z-index: 1; 
  width: 150px; 
  height: 150px; 
  margin: -75px 0 0 -75px; 
  border: 16px solid #f3f3f3; 
  border-radius: 50%; 
  border-top: 16px solid #3498db; 
  width: 120px; 
  height: 120px; 
  animation: spin 2s linear infinite; 
  } 
    
  @keyframes spin { 
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
  }

  .data-text{
    color: #3498db;
    font-size: 20px;
  }
