<!-- BEGIN: Subheader -->
<div class="m-content" *ngIf="role == 'school' || role == 'coadmin' || role == 'librarian' || role == 'librarian' || role == 'teacher'">

  <div class="col-xl-12 m-subheader m-subheader-custom-library" appunwraptag="">

    <div class="library_title_section">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title-Library">
          Library
        </h3>
        <p class="subheading">
          All about Library
        </p>
      </div>
      <!-- BEGIN: Class Dropdown -->
      <div class="library_button_section" data-dropdown-toggle="click">

        <a href="#" class="btn-sm m-btn lb-btn" data-toggle="modal" data-target="#m_modal_15">
          NEW AUTHOR
        </a>
        <a href="#" class="btn-sm m-btn lb-btn" data-toggle="modal" data-target="#m_modal_8">
          + ADD BOOK
        </a>

        <!-- <a href="#" class="btn btn-sm m-btn lb-btn" data-toggle="modal" data-target="#m_modal_9">
          Borrow Book
        </a> -->
      </div>
      <!-- END: Class Dropdown -->
    </div>
  </div>

  <div class="background_library">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <!--[ngClass]="addCssClass(applyhalfview , applyfullview)"-->
          <div class="m-portlet m-portlet--full-height m-portlet-custom-library background">

            <div class="m-portlet__head m-portlet__head-custom-library">
              <div class="m-portlet__head-tools m-portlet__head-tools-bottom">
                <div class="bookdetails" *ngIf="icons">
                  <a class="nav-link m-tabs__link pull-right list-icon" data-toggle="tab" href="#m_library_tab_class"
                    role="tab" on-click="getBookDetailsList()">
                    <i class="fa fa-th-list"></i>
                  </a>
                </div>
                <div class="bookdetails">
                  <!-- <a class="nav-link m-tabs__link pull-right list-icon" data-toggle="tab" href="#m_library_tab_class"
                    role="tab" on-click="getBookDetailsList()">
                    <i class="fa fa-list-ul"></i>
                  </a> -->
                </div>
                <ul
                  class="nav nav-pills nav-pills--brand nav-pills--brand-custom m-nav-pills--align-left m-nav-pills--btn-pill m-nav-pills--btn-sm"
                  role="tablist">
                  <li class="nav-item m-tabs__item">
                    <!--<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_inbox_tab_overview"
                      role="tab">
                      <i class="flaticon-share m--hide"></i>
                      Overview
                    </a>-->
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_library_tab_overview" role="tab"
                      on-click="getLibraryStats()">
                      Overview
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_library_tab_books"
                      on-click="getAllBooks(id)" role="tab">
                      Books
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_library_tab_borrow"
                      on-click="getClass()" role="tab">
                      Borrow
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_library_tab_class" on-click="getClass()"
                      role="tab">
                      Student
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_library_tab_teacher"
                      on-click="getStaffList()" role="tab">
                      Staff
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="m-portlet__body m-portlet__body-custom-library">
              <div class="tab-content">

                <div class="tab-pane active" id="m_library_tab_overview">
                  <!--begin::Widget 14-->

                  <div class="m-content-att">
                    <div class="content pt-3 pb-5">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class=" bg-white pt-3 pr-3 pl-3">
                            <div class="row">
                              <div class="col-lg-4">
                                <h5 class="main-heading-library">BOOK EXCHANGE</h5>
                                <h2 class="text-dark" *ngIf="libraryStats">{{ libraryStats.booksBorrowThisMonth }}</h2>
                                <p class="small-heading2">Book exchange this<br>
                                  month</p>

                              </div>
                              <div class="col-lg-8  pt-5">
                                <div id="m_chart_library" class="m-widget14__chart" style="height: 120px">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                          <div class="bg-white p-3 mt-2">
                            <div class="row" *ngIf="libraryStats">

                              <div class="col-lg-4 col-md-4">
                                <div class="library-image-div">
                                  <img src="././assets/images/grey_circle.png" class="float-right">
                                </div>
                                <div class="library-count-div">
                                  <span class="library-sub-heading">Book Lend</span>
                                  <h2 class="h2-custom">{{ libraryStats.issuedBookCount }}</h2>
                                  <span class="small-heading">{{ libraryStats.unIssuedBookCount }} Books Left</span>
                                </div>
                                <!--<div class="row">
                                  <div class="col-md-3 col-remove-right-padding align-self-center text-center">
                                    <img src="././assets/images/grey_circle.png" class="float-right">
                                  </div>
                                  <div class="col-md-6 col-remove-left-padding text-center">
                                    <span class="font-weight-bold sub-heading">Book Lend</span>
                                    <h2 class="h2-custom">{{ libraryStats.issuedBookCount }}</h2>
                                    <span class="small-heading">{{ libraryStats.unIssuedBookCount }} Books Left</span>
                                  </div>
                                </div>-->
                              </div>
                              <div class="col-lg-4 col-md-4 ">
                                <div class="library-image-div">
                                  <img src="././assets/images/due-payment.png" class="float-right">
                                </div>
                                <div class="library-count-div">
                                  <span class="library-sub-heading">Defaulter</span>
                                  <h2 class="h2-custom">{{ libraryStats.defaulterCount }}</h2>
                                  <span class="small-heading">Not Returned</span>
                                </div>
                                <!--<div class="row">
                                  <div class="col-md-3 col-remove-right-padding align-self-center text-center">
                                    <img src="././assets/images/due-payment.png" class="float-right">
                                  </div>
                                  <div class="col-md-6 col-remove-left-padding text-center">
                                    <span class="font-weight-bold sub-heading">Defaulter</span>
                                    <h2 class="h2-custom">{{ libraryStats.defaulterCount }}</h2>
                                    <span class="small-heading">Not Returned</span>
                                  </div>
                                </div>-->
                              </div>
                              <div class="col-lg-4 col-md-4 ">
                                <div class="library-image-div">
                                  <img src="././assets/images/money-group.png" class="float-right">
                                </div>
                                <div class="library-count-div">
                                  <span class="library-sub-heading">Total Books</span>
                                  <h2 class="h2-custom">{{ libraryStats.totalBookCount }}</h2>
                                  <span class="small-heading">In stock</span>
                                </div>
                                <!--<div class="row">
                                  <div class="col-md-3 col-remove-right-padding align-self-center text-center">
                                    <img src="././assets/images/money-group.png" class="float-right">
                                  </div>
                                  <div class="col-md-6 col-remove-left-padding text-center">
                                    <span class="font-weight-bold sub-heading">Total Books</span>
                                    <h2 class="h2-custom">{{ libraryStats.totalBookCount }}</h2>
                                    <span class="small-heading">In stock</span>
                                  </div>
                                </div>-->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end::Widget 14-->
                </div>

                <div class="tab-pane" id="m_library_tab_books">
                  <div class="m-content-att m-portlet__body-background_library" *ngIf="!bookDetailsList">
                    <div class="content">
                      <div class="row">
                        <div class="col-lg-4">
                          <!-- <button type="button" class="btn btn-danger btn-sm mb-3">Subject</button> -->
                        </div>
                        <div class="col-lg-8">
                          <div class="search-container">
                            <form action="/action_page.php">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                                </div>
                                <input type="text" placeholder="Search Books, Author or isbn" name="search"
                                  [(ngModel)]="searchTerm">
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-2 col-md-4 mt-3"
                          *ngFor="let books of bookList.bookDetails | filter:searchTerm | slice:0:show; let i = index;">
                          <div class="book-white-box mt-2">
                            <img src="{{books.bookCoverLocation}}" class="bookimage mx-auto d-block"
                              onError="this.src='././assets/images/book2.png'" data-toggle="modal"
                              data-target="#m_modal_14" on-click="showBookDetails(books)">
                            <div class="text-center">
                              <p class="booktitle p-margin-b-remove" *ngIf="bookList">{{books.title}}</p>
                              <button type="button" class="btn btn-sm btn-borrow" *ngIf="books.availableCopies > 0"
                                data-toggle="modal" on-click="getBorrowBook(books)">Assign</button>
                              <button type="button" class="btn btn-sm btn-borrow disabled"
                                *ngIf="books.availableCopies == 0" title="This book is not Available">Assign</button>
                            </div>


                          </div>
                          
                        </div>
                        <!--<div class="row">
                        <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
                        </div>-->



                      </div>

                      <div class="row jusify-content-center mt-5">
                        <div class="col-lg-12  text-center">
                         
                          <!--<button class="btn-sm show-more-btn"  (click)="getLessBooks(bookList.bookDetails.length)" *ngIf="!showmorebutton">Show More </button>-->
                          <button class="btn-sm show-more-btn"  (click)="showLess(bookList.bookDetails[0].id-6)"><i class="fa fa-angle-left" aria-hidden="true"></i> </button>
                          <button class="btn-sm show-more-btn"  (click)="showMore(bookList.bookDetails[5].id)"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                          
                          <!--<button class="btn-sm show-more-btn"  (click)="getMoreBooks()"  *ngIf="showmorebutton">Show Less </button>-->
                        </div>
                      </div>

                      <!--<nav aria-label="Page navigation example">
                          <ul class="pagination text-center">
                            <li class="page-item text-center"><a class="page-link" on-click="getMoreBooks(bookList.bookDetails[1].id)" class="text-center">Show More</a></li>
                          </ul>
                        </nav>-->


                    </div>
                  </div>

                  <!------------------------------------bookdetails tab code ----------------------------->

                  <div class="m-content-att mt-3" *ngIf="bookDetailsList">
                    <div class="content">
                      <div class="row m-2">
                        <div class="col-lg-4">
                          <!-- <button type="button" class="btn mb-3 subject-btn">Subject</button> -->
                          <div class="searching-container pull-left">
                            <form>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                                </div>
                                <input type="text" placeholder="Search Books, Author or isbn" name="search"
                                  [(ngModel)]="searchTerm">
                              </div>
                            </form>
                          </div>
                          <div class="booksection">
                            <div class="row" *ngFor="let books of bookList.bookDetails | filter:searchTerm">
                              <div class="col-md-11 bookcontainer">
                                <a class="m-2 booklink" on-click="showBookDetails(books)" routerLinkActive="active">
                                  <img src="{{books.bookCoverLocation}}" class="bookimage pull-left"
                                    onError="this.src='././assets/images/book2.png'">
                                  <span class="booksection-container">
                                    <p class="booktitle2">{{books.title}}</p>
                                    <p class="booksection-author-name ml">Mitch Weiss</p>
                                    <p class="text-dark para">The untold story of courage and sacrifice in the shadow of
                                      Iwo Jima.</p>
                                  </span>
                                  <!-- <p class="author-name text-center">Mitch Weiss</p>-->
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-8 bg-white">

                          <div id="tab_bookDetails" class="tab-pane mt-5 ml-4" *ngIf="book_Info">
                            <div class="row">
                              <div class="col-lg-4">
                                <img src="{{book_Info.bookCoverLocation}}" class="bookimage2 pull-left"
                                  onError="this.src='././assets/images/book2.png'">

                              </div>
                              <div class="col-lg-7">
                                <h4 class="font-weight-bold text-dark">{{ book_Info.title }}</h4>
                                <p class="author-name">Mitch Weiss</p>
                                <p class="text-dark para">The untold story of courage and sacrifice in the shadow of Iwo
                                  Jima.</p>
                                <div class="row">
                                  <div class="col-lg-6">
                                    <span class="text-dark detail-headings">isbn</span>
                                    <p class="detail-headings2">{{ book_Info.isbn }}</p>

                                  </div>
                                  <div class="col-lg-6">
                                    <span class="text-dark detail-headings">Pages</span>
                                    <p class="detail-headings2">{{ book_Info.pages }}</p>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-6">
                                    <span class="text-dark detail-headings">Publisher</span>
                                    <p class="detail-headings2">publisher</p>
                                  </div>
                                  <div class="col-lg-6">
                                    <span class="text-dark detail-headings">Category</span>
                                    <p class="detail-headings2">{{ book_Info.category }}</p>
                                  </div>
                                  <div class="col-lg-6">
                                    <span class="text-dark detail-headings">Serial Number</span>
                                    <p class="detail-headings2"> {{ book_Info.isbn }}</p>
                                  </div>
                                </div>
                                <h5 class="font-weight-bold text-dark">Note</h5>
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                  aute
                                  irure dolor in reprehenderit in voluptate velit esse cillum dolore </p>
                              </div>
                            </div>

                          </div>



                        </div>
                      </div>
                    </div>
                  </div>
                  <!------------------------------------ Borrower tab Data  ------------------------->

                </div>
                <div class="tab-pane" id="m_library_tab_borrow">
                  <div class="m-content-att" *ngIf="classContentView">
                    <div class="content">
                      <div class="row">
                        <div class="col-lg-3 col-md-12" *ngFor="let class of classList">
                          <div class="white-box-class mb-2">
                            <a class="white-box-pointer" on-click="getBorrowByClass( class.std )">
                              <div class="library_class_div">
                                <p class="library-class-name">
                                  Class {{class.std}}
                                </p>
                              </div>
                              <div class="library_strength_div">
                                <div class="class-strength text-center">
                                  {{class.student}}
                                </div>
                              </div>
                              <!--<div class="row">
                                <div class="col-lg-6 col-md-6 align-self-middle">
                                  <p class="class-name">
                                    Class {{class.std}}
                                  </p>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                  <div class="class-strength text-center">
                                    {{class.student}}
                                  </div>
                                </div>
                              </div>-->
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="m-content-att m-portlet__body-background_library" *ngIf="classBorrowView">
                    <div class="content">
                      <!-- <div class="row">
                        <div class="col-lg-4">
                        <h4 class="class-heading">Class {{ studentClass }}</h4>
                        </div>
                        <div class="col-lg-8">
                          <div class="search-container">
                            <form>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                                </div>
                                <input type="text" placeholder="Search Books, Author or isbn" name="search" [(ngModel)]="searchTerm">
                              </div>
                            </form>
                          </div>
                        </div>
                      </div> -->
                      <div class="content">
                        <div class="row">
                          <div class="col-lg-4">
                            <button type="button" class="btn btn-borrow-1 btn-sm mb-3 active"
                              on-click="getBorrowerList('book')" [ngClass]="{'active': bookDetailsTable}">Books</button>
                            <button type="button" class="btn text-dark btn-sm mb-3 btn-borrow-1"
                              on-click="getBorrowerList('defaulter')"
                              [ngClass]="{'active': !bookDetailsTable }">Defaulter</button>
                          </div>
                          <div class="col-lg-8">
                            <div class="search-container">
                              <form action="/action_page.php">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                                  </div>
                                  <input type="text" placeholder="Search Books, Author or isbn" name="search"
                                    [(ngModel)]="searchTerm">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="table-responsive">
                              <table class="table table-borderless">
                                <thead>
                                  <tr>
                                    <th scope="col">Book</th>
                                    <th scope="col">ISBN No.</th>
                                    <th scope="col">Borrowed By</th>
                                    <th scope="col">Class</th>
                                    <th scope="col">Borrowed On</th>
                                    <th scope="col">Submission Date</th>
                                    <th scope="col">Book Returned</th>
                                  </tr>
                                </thead>
                                <tbody *ngIf="bookDetailsTable">
                                  <ng-container *ngFor="let book of borrowList | filter:searchTerm">
                                    <tr *ngIf="book.returnDate >= currentDate || book.returnStatus == true">
                                      <td>{{ book.title }}</td>
                                      <td> {{ book.isbn }}</td>
                                      <td>
                                        <div class="image-div">
                                          <!--<img src="{{ book.avtarURL}}"
                                            class="m--img-rounded m--marginless m--img-centered"
                                            onError="this.src='././assets/images/avatar.jpg'" height="45px"
                                            width="45px">-->
                                        </div>
                                        <div class="text-div">{{ book.name }}</div>
                                      </td>
                                      <td>{{ book.class }}</td>
                                      <td>{{ book.issuedDate | date : 'd, MMM, y' }}</td>
                                      <td>{{ book.returnDate | date : 'd, MMM, y' }}</td>
                                      <td *ngIf="book.returnStatus">book returned</td>
                                      <td *ngIf="!book.returnStatus"><button type="button"
                                          class="btn btn-danger btn-sm mb-3" on-click="bookReturn(book)">Return</button>
                                      </td>

                                    </tr>
                                  </ng-container>
                                </tbody>
                                <tbody *ngIf="!bookDetailsTable">
                                  <ng-container *ngFor="let book of borrowList | filter:searchTerm">
                                    <tr *ngIf="book.returnDate < currentDate && !book.returnStatus">
                                      <td>{{ book.title }}</td>
                                      <td>{{ book.isbn }}</td>
                                      <td><img src="{{ book.avtarURL}}"
                                          class="m--img-rounded m--marginless m--img-centered"
                                          onError="this.src='././assets/images/avatar.jpg'" height="45px"
                                          width="45px">{{ book.name }}</td>
                                      <td>{{ book.class }}</td>
                                      <td>{{ book.issuedDate | date : 'd, MMM, y' }}</td>
                                      <td>{{ book.returnDate | date : 'd, MMM, y' }}</td>
                                      <td *ngIf="book.returnStatus">book returned</td>
                                      <td *ngIf="!book.returnStatus"><button type="button"
                                          class="btn btn-danger btn-sm mb-3 return-btn"
                                          on-click="bookReturn(book)">Return</button></td>

                                    </tr>
                                  </ng-container>
                                </tbody>
                              </table>
                            </div>

                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <!-- Tab For class wise Book Borrower list -->
                <div class="tab-pane" id="m_library_tab_class">
                  <div class="m-content-att" *ngIf="classContentView">
                    <div class="content">
                      <div class="row">
                        <div class="col-lg-3 col-md-12" *ngFor="let class of classList">
                          <div class="white-box-class mb-2">
                            <a class="white-box-pointer" on-click="getClassStudent(class.std)" routerLinkActive="active">
                              <div class="library_class_div">
                                <p class="library-class-name">
                                  Class {{class.std}}
                                </p>
                              </div>
                              <div class="library_strength_div">
                                <div class="class-strength text-center">
                                  {{class.student}}
                                </div>
                              </div>
                              <!--<div class="row">
                                <div class="col-lg-6 col-md-6 align-self-middle">
                                  <p class="class-name">
                                    Class {{class.std}}
                                  </p>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                  <div class="class-strength text-center">
                                    {{class.student}}
                                  </div>
                                </div>
                              </div>-->
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="m-content-att mt-3" *ngIf="studentView">
                    <div class="content">
                      <div class="row m-2">
                        <div class="col-lg-3">
                          <div class="booksection">
                            <div class="row row-margin-0">
                              <div class="col-lg-12 col-md-12 row-background text-align-center"
                                *ngFor="let student of studentList; let i = index; "
                                on-click="showBorrowBookDetails(student)"
                                [ngClass]="{'active': student.name == studentName }">
                                <a href="#" class="card-link text-dark">
                                  <div class="row">
                                    <div class="col-md-4  align-items-center">
                                      <img src="{{student.avtarURL}}" height="50" width="50"
                                        class="m--img-rounded m--marginless m--img-centered" alt="profile picture"
                                        onError="this.src='././assets/images/avatar.jpg'">
                                    </div>
                                    <div class="col-md-8 label-student-name align-items-center">
                                      <span class="m-student-text">{{student.name}}</span>
                                      <p class="label-class">{{student.std + student.div}}</p>
                                    </div>
                                  </div>
                                </a>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="col-lg-9 bg-white">

                          <div id="tab_bookDetails" class="tab-pane mt-1">
                            <div class="row">
                              <div class="col-lg-12">
                                <!--<div >
                                  <h4 class="class-heading"></h4>-->
                                <!-- {{ studentDetails.name }} -->
                                <!--</div>
                                  <div class="row row-bottom-border mb-2 row-header">-->
                                <!-- <div class="col-md-1">Sr. No</div> -->
                                <!--<div class="col-md-3">Book Name</div>
                                    <div class="col-md-2">ISBN.</div>
                                    <div class="col-md-2">Borrowed On</div>
                                    <div class="col-md-2">Returned on</div>
                                    <div class="col-md-3">Book Returned</div>
                                  </div>
                                  <div class="row row-bottom-border mb-2 row-data" *ngFor="let book of studentBorrowData | filter:searchTerm ; let i = index;" >-->
                                <!-- <div class="col-md-1">{{ i + 1 }}</div> -->
                                <!--<div class="col-md-3">{{ book.title }}</div>
                                    <div class="col-md-2">{{ book.isbn }}</div>
                                    <div class="col-md-2">{{ book.issuedDate | date : 'd, MMM, y' }}</div>
                                    <div class="col-md-2">{{ book.returnDate | date : 'd, MMM, y' }}</div>
                                    <div class="col-md-2" *ngIf="book.returnStatus">book returned</div>
                                    <div class="col-md-3" *ngIf="!book.returnStatus"><button type="button" class="btn btn-danger btn-sm mb-3"
                                      on-click="studBookReturn(book)" >Return</button></div>
                                  </div>-->


                                <div class="table-responsive">
                                  <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">Sr. No</th>
                                        <th scope="col">Book Name</th>
                                        <th scope="col">ISBN No.</th>
                                        <th scope="col">Borrowed On</th>
                                        <th scope="col">Sumission Date</th>
                                        <th scope="col">Book Returned</th>
                                      </tr>
                                    </thead>
                                    <tbody *ngIf="bookDetailsTable">
                                      <!--<ng-container *ngFor="let book of borrowList | filter:searchTerm"> -->
                                      <tr *ngFor="let book of studentBorrowData | filter:searchTerm ; let i = index;">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ book.title }}</td>
                                        <td>{{ book.isbn }}</td>
                                        <td>{{ book.issuedDate | date : 'd, MMM, y' }}</td>
                                        <td>{{ book.returnDate | date : 'd, MMM, y' }}</td>
                                        <td *ngIf="book.returnStatus">book returned</td>
                                        <td *ngIf="!book.returnStatus"><button type="button"
                                            class=" btn-danger btn-sm mb-3 return-btn"
                                            on-click="studBookReturn(book)">Return</button></td>


                                      </tr>
                                      <!--</ng-container>-->
                                    </tbody>

                                  </table>
                                </div>


                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="m-content-att m-portlet__body-background" *ngIf="classBorrowView">
                    <div class="content">                   
                      <div class="content">
                        <div class="row">
                          <div class="col-lg-4">
                            <button type="button" class="btn btn-borrow-1 btn-sm mb-3 active"
                              on-click="getBorrowerList('book')" [ngClass]="{'active': bookDetailsTable}">Books</button>
                            <button type="button" class="btn text-dark btn-sm mb-3 btn-borrow-1"
                              on-click="getBorrowerList('defaulter')" [ngClass]="{'active': !bookDetailsTable }">Defaulter</button>
                          </div>
                          <div class="col-lg-8">
                            <div class="search-container">
                              <form action="/action_page.php">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                                  </div>
                                  <input type="text" placeholder="Search Books, Author or isbn" name="search"
                                    [(ngModel)]="searchTerm">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <table class="table table-borderless">
                              <thead>
                                <tr>
                                  <th scope="col">Book</th>
                                  <th scope="col">ISBN.</th>
                                  <th scope="col">Borrowed By</th>
                                  <th scope="col">Class</th>
                                  <th scope="col">Borrowed On</th>
                                  <th scope="col">Returned on</th>
                                  <th scope="col">Book Returned</th>
                                </tr>
                              </thead>
                              <tbody *ngIf="bookDetailsTable">
                                <ng-container *ngFor="let book of borrowList | filter:searchTerm">                   
                                  <tr *ngIf="book.returnDate >= currentDate || book.returnStatus == true">
                                  <td>{{ book.title }}</td>
                                  <td> {{ book.isbn }}</td>                               
                                  <td><img src="{{ book.avtarURL}}" class="m--img-rounded m--marginless m--img-centered"
                                      onError="this.src='././assets/images/avatar.jpg'" height="45px"
                                      width="45px">{{ book.name }}</td>
                                  <td>{{ book.class }}</td>
                                  <td>{{ book.issuedDate | date : 'd, MMM, y' }}</td>
                                  <td>{{ book.returnDate | date : 'd, MMM, y' }}</td>
                                  <td *ngIf="book.returnStatus">book returned</td>
                                  <td *ngIf="!book.returnStatus"><button type="button" class="btn btn-danger btn-sm mb-3"
                                    on-click="bookReturn(book)" >Return</button></td>
    
                                </tr>
                                </ng-container>
                              </tbody>
                              <tbody *ngIf="!bookDetailsTable">     
                                <ng-container *ngFor="let book of borrowList | filter:searchTerm">                   
                                <tr *ngIf="book.returnDate < currentDate && !book.returnStatus">                             
                                    <td>{{ book.title }}</td>
                                    <td>{{ book.isbn }}</td>                                  
                                    <td><img src="{{ book.avtarURL}}" class="m--img-rounded m--marginless m--img-centered"
                                        onError="this.src='././assets/images/avatar.jpg'" height="45px"
                                        width="45px">{{ book.name }}</td>
                                    <td>{{ book.class }}</td>
                                    <td>{{ book.issuedDate | date : 'd, MMM, y' }}</td>
                                    <td>{{ book.returnDate | date : 'd, MMM, y' }}</td>     
                                    <td *ngIf="book.returnStatus">book returned</td>
                                    <td *ngIf="!book.returnStatus"><button type="button" class="btn btn-danger btn-sm mb-3"
                                    on-click="bookReturn(book)" >Return</button></td>
                              
                                </tr>
                              </ng-container>    
                              </tbody>
                            </table>
    
                          </div>
    
                        </div>
    
                      </div>
                    </div>
                  </div> -->
                </div>

                <div class="tab-pane" id="m_library_tab_teacher">
                  <div class="m-content-att mt-3">
                    <div class="content">
                      <div class="row m-2">
                        <div class="col-lg-3">
                          <div class="booksection">
                            <div class="row row-margin-0">
                              <div class="col-lg-12 col-md-12 row-background text-align-center"
                                *ngFor="let teacher of borrowerlist; let i = index; "
                                [ngClass]="{'active': teacher.name == studentName }">
                                <a href="#" class="card-link text-dark" on-click="showBorrowBookDetails(teacher)">
                                  <div class="library_staffimage_div">
                                    <img src="{{teacher.avtarURL}}" height="50" width="50"
                                      class="m--img-rounded m--marginless m--img-centered" alt="profile picture"
                                      onError="this.src='././assets/images/avatar.jpg'">
                                  </div>
                                  <div class="library_staffname_div">
                                    <span class="m-student-text">{{teacher.name}}</span>

                                  </div>
                                  <!--<div class="row">
                                    <div class="col-md-4  align-items-center">
                                      <img src="{{teacher.avtarURL}}" height="50" width="50"
                                        class="m--img-rounded m--marginless m--img-centered" alt="profile picture"
                                        onError="this.src='././assets/images/avatar.jpg'">
                                    </div>
                                    <div class="col-md-8 label-student-name align-items-center">
                                      <span class="m-student-text">{{teacher.name}}</span>

                                    </div>
                                  </div>-->
                                </a>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="col-lg-9 bg-white">

                          <div id="tab_bookDetails" class="tab-pane mt-1">
                            <div class="row">
                              <div class="col-lg-12">
                                <!--<div >
                                  <h4 class="class-heading"></h4>
                                  </div>-->
                                <!--<div class="row row-bottom-border mb-2 row-header">-->
                                <!-- <div class="col-md-1">Sr. No</div> -->
                                <!--<div class="col-md-3">Book Name</div>
                                    <div class="col-md-2">ISBN.</div>
                                    <div class="col-md-2">Borrowed On</div>
                                    <div class="col-md-2">Returned on</div>
                                    <div class="col-md-3">Book Returned</div>
                                  </div>
                                  <div class="row row-bottom-border mb-2 row-data" *ngFor="let book of studentBorrowData | filter:searchTerm ; let i = index;" >-->
                                <!-- <div class="col-md-1">{{ i + 1 }}</div> -->
                                <!--<div class="col-md-3">{{ book.title }}</div>
                                    <div class="col-md-2">{{ book.isbn }}</div>
                                    <div class="col-md-2">{{ book.issuedDate | date : 'd, MMM, y' }}</div>
                                    <div class="col-md-2">{{ book.returnDate | date : 'd, MMM, y' }}</div>
                                    <div class="col-md-2" *ngIf="book.returnStatus">book returned</div>
                                    <div class="col-md-3" *ngIf="!book.returnStatus"><button type="button" class="btn btn-danger btn-sm mb-3"
                                      on-click="studBookReturn(book)" >Return</button></div>
                                  </div>-->

                                <div class="table-responsive">
                                  <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">Sr. No</th>
                                        <th scope="col">Book Name</th>
                                        <th scope="col">ISBN No.</th>
                                        <th scope="col">Borrowed On</th>
                                        <th scope="col">Submission Date</th>
                                        <th scope="col">Book Returned</th>
                                      </tr>
                                    </thead>
                                    <tbody *ngIf="bookDetailsTable">
                                      <!--<ng-container *ngFor="let book of borrowList | filter:searchTerm"> -->
                                      <tr *ngFor="let book of studentBorrowData | filter:searchTerm ; let i = index;">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ book.title }}</td>
                                        <td>{{ book.isbn }}</td>
                                        <td>{{ book.issuedDate | date : 'd, MMM, y' }}</td>
                                        <td>{{ book.returnDate | date : 'd, MMM, y' }}</td>
                                        <td *ngIf="book.returnStatus">book returned</td>
                                        <td *ngIf="!book.returnStatus"><button type="button"
                                            class=" btn-danger btn-sm mb-3 return-btn"
                                            on-click="studBookReturn(book)">Return</button></td>


                                      </tr>
                                      <!--</ng-container>-->
                                    </tbody>

                                  </table>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!----------------------------------- classwise borrower list ends-------------------------->

                <!-- <div class="tab-pane" id="m_library_tab_class" >
                    <div class="m-content-att m-portlet__body-background" *ngIf="classListView">
                      <div class="content">
                        <div class="row">
                          <div class="col-lg-12">
                            <h4 class="class-heading">Pre-Nursery</h4>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">Book</th>
                                        <th scope="col">Serial no.</th>
                                        <th scope="col">Class</th>
                                        <th scope="col">Borrowed By</th>
                                        <th scope="col">Borrowed On</th>
                                        <th scope="col">Return on</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let book of borrowList">
                                        <td>{{ book.title }}</td>
                                        <td></td>
                                        <td>{{ book.class }}</td>
                                        <td><img src="{{ book.avtarURL}}" class="m--img-rounded m--marginless m--img-centered"
                                          onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px">{{ book.name }}</td>
                                        <td>{{ book.issuedDate }}</td>
                                        <td>{{ book.returnDate }}</td>
                                        
                                      </tr>
                                    </tbody>
                                  </table>
                                  
                            </div>
                        </div>
                      </div>
                    </div>
    
                  </div> -->

                <!----------------------------------- classwise borrower list ends-------------------------->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN: Subheader Student and Parent View -->
<div class="m-content" *ngIf="role == 'student' || role == 'parent'">

  <div class="col-xl-12 m-subheader m-subheader-custom-library" appunwraptag="">

    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title">
          Library
        </h3>
        <p class="subheading">
          All about Library
        </p>
      </div>
      <!-- BEGIN: Class Dropdown -->
      <div
        class="m-dropdown m-dropdown--inline m-dropdown--small m-dropdown--arrow m-dropdown--align-right m-dropdown-custom"
        data-dropdown-toggle="click">

      </div>
      <!-- END: Class Dropdown -->
    </div>
  </div>

  <div class="background2_library">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <!--[ngClass]="addCssClass(applyhalfview , applyfullview)"-->
          <div class="m-portlet m-portlet--full-height background_library">

            <div class="m-portlet__head m-portlet__head-custom-library">
              <div class="m-portlet__head-tools m-portlet__head-tools-bottom">
                <div class="bookdetails" *ngIf="icons">
                  <a class="nav-link m-tabs__link pull-right list-icon" data-toggle="tab" href="#m_library_tab_class"
                    role="tab" on-click="getBookDetailsList()">
                    <i class="fa fa-th-list"></i>
                  </a>
                </div>
                <div class="bookdetails">
                  <!-- <a class="nav-link m-tabs__link pull-right list-icon" data-toggle="tab" href="#m_library_tab_class"
                    role="tab" on-click="getBookDetailsList()">
                    <i class="fa fa-list-ul"></i>
                  </a> -->
                </div>
                <ul
                  class="nav nav-pills nav-pills--brand nav-pills--brand-custom m-nav-pills--align-left m-nav-pills--btn-pill m-nav-pills--btn-sm"
                  role="tablist">

                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_library_tab_borrow_student"
                      on-click="getClass()" role="tab">
                      Borrow
                    </a>
                  </li>

                </ul>
              </div>
            </div>

            <div class="m-portlet__body m-portlet__body-custom-library">
              <div class="tab-content">

                <div class="tab-pane active" id="m_library_tab_borrow_student">
                  <div class="m-content-att m-portlet__body-background" *ngIf="!bookDetailsList">
                    <div class="content">
                      <div class="row">
                        <div class="col-lg-4">
                          <!-- <button type="button" class="btn btn-danger btn-sm mb-3">Subject</button> -->
                        </div>
                        <div class="col-lg-8">
                          <div class="search-container">
                            <form action="/action_page.php">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                                </div>
                                <input type="text" placeholder="Search Books, Author or isbn" name="search"
                                  [(ngModel)]="searchTerm">
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-2 col-md-4 mt-3"
                          *ngFor="let books of bookList.bookDetails | filter:searchTerm | slice:0:show; let i = index;">
                          <div class="book-white-box mt-2">
                            <img src="{{books.bookCoverLocation}}" class="bookimage mx-auto d-block"
                              onError="this.src='././assets/images/book2.png'" data-toggle="modal"
                              data-target="#m_modal_14" on-click="showBookDetails(books)">
                            <div class="text-center">
                              <p class="booktitle p-margin-b-remove" *ngIf="bookList">{{books.title}}</p>
                              
                              <button type="button" class="btn btn-sm btn-borrow align-items-center" *ngIf="books.availableCopies > 0"
                                data-toggle="modal" on-click="getBorrowBook(books)">Assign</button>
                              <button type="button" class="btn btn-sm btn-borrow disabled"
                                *ngIf="books.availableCopies == 0" title="This book is not Available">Assign</button>
                            </div>
                            


                          </div>
                          
                        </div>
                        <!--<div class="row">
                        <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
                        </div>-->



                      </div>

                      <div class="row" *ngIf="studentBorrowData">
                        <!-- <div class="col-lg-4 mt-3" *ngFor="let borrowData of studentBorrowData | filter:searchTerm ; let i = index;">
                         <div class="book-white-box mt-2">
                                <img src="{{borrowData.bookCoverLocation}}" class="bookimage mx-auto d-block"
                                  onError="this.src='././assets/images/book2.png'" data-toggle="modal" data-target="#m_modal_14" on-click="showBookDetails(borrowData)">
                                <div class="text-center">
                                  <p class="booktitle p-margin-b-remove" *ngIf="bookList">{{borrowData.title}}</p>
                                  {{borrowData.authorName}}
                                 </div>                                 
                                <div class="text-div">{{ borrowData.name }}</div>
                                <div class=""> Class: {{ borrowData.class }} </div>
                                 <div class=" float-left">Borrowed On: {{ borrowData.issuedDate | date: 'MMM d'}}</div>
                                  <div class="float-right">Returned Date: {{ borrowData.returnDate | date: 'MMM d'}} </div>                                
                                  <div class="float-left"></div>
                                  <div class="float-right"></div>
                              </div>
                            </div>                           -->

                        <div class="table-responsive">
                          <table class="table table-borderless">
                            <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col">Book Name</th>
                                <th scope="col">ISBN No.</th>
                                <th scope="col">Borrowed On</th>
                                <th scope="col">Submission Date</th>

                              </tr>
                            </thead>
                            <tbody *ngIf="bookDetailsTable">
                              <!--<ng-container *ngFor="let book of borrowList | filter:searchTerm"> -->
                              <tr *ngFor="let book of studentBorrowData | filter:searchTerm ; let i = index;">
                                <td></td>
                                <td>{{ book.title }}</td>
                                <td>{{ book.isbn }}</td>
                                <td>{{ book.issuedDate | date : 'd, MMM, y' }}</td>
                                <td>{{ book.returnDate | date : 'd, MMM, y' }}</td>
                                <td *ngIf="book.returnStatus">book returned</td>



                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="row" *ngIf="studentBorrowData">

                      </div>
                    </div>
                  </div>
                  <!------------------------------------ Borrower tab Data  ------------------------->
                </div>

                <div class="tab-pane" id="m_library_tab_teacher">
                  <div class="m-content-att mt-3">
                    <div class="content">
                      <div class="row m-2">
                        <div class="col-lg-3">
                          <div class="booksection">
                            <div class="row row-margin-0">
                              <div class="col-lg-12 col-md-12 row-background text-align-center"
                                *ngFor="let teacher of borrowerlist; let i = index; "
                                [ngClass]="{'active': teacher.name == studentName }">
                                <a href="#" class="card-link text-dark" on-click="showBorrowBookDetails(teacher)">

                                  <div class="row">
                                    <div class="col-md-4  align-items-center">
                                      <img src="{{teacher.avtarURL}}" height="50" width="50"
                                        class="m--img-rounded m--marginless m--img-centered" alt="profile picture"
                                        onError="this.src='././assets/images/avatar.jpg'">
                                    </div>
                                    <div class="col-md-8 label-student-name align-items-center">
                                      <span class="m-student-text">{{teacher.name}}</span>

                                    </div>
                                  </div>
                                </a>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="col-lg-9 bg-white">

                          <div id="tab_bookDetails" class="tab-pane mt-1">
                            <div class="row">
                              <div class="col-lg-12">
                                <!--<div >
                                  <h4 class="class-heading"></h4>
                                  </div>-->
                                <!--<div class="row row-bottom-border mb-2 row-header">-->
                                <!-- <div class="col-md-1">Sr. No</div> -->
                                <!--<div class="col-md-3">Book Name</div>
                                    <div class="col-md-2">ISBN.</div>
                                    <div class="col-md-2">Borrowed On</div>
                                    <div class="col-md-2">Returned on</div>
                                    <div class="col-md-3">Book Returned</div>
                                  </div>
                                  <div class="row row-bottom-border mb-2 row-data" *ngFor="let book of studentBorrowData | filter:searchTerm ; let i = index;" >-->
                                <!-- <div class="col-md-1">{{ i + 1 }}</div> -->
                                <!--<div class="col-md-3">{{ book.title }}</div>
                                    <div class="col-md-2">{{ book.isbn }}</div>
                                    <div class="col-md-2">{{ book.issuedDate | date : 'd, MMM, y' }}</div>
                                    <div class="col-md-2">{{ book.returnDate | date : 'd, MMM, y' }}</div>
                                    <div class="col-md-2" *ngIf="book.returnStatus">book returned</div>
                                    <div class="col-md-3" *ngIf="!book.returnStatus"><button type="button" class="btn btn-danger btn-sm mb-3"
                                      on-click="studBookReturn(book)" >Return</button></div>
                                  </div>-->

                                <div class="table-responsive">
                                  <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">Sr. No</th>
                                        <th scope="col">Book Name</th>
                                        <th scope="col">ISBN No.</th>
                                        <th scope="col">Borrowed On</th>
                                        <th scope="col">Submission Date</th>
                                        <th scope="col">Book Returned</th>
                                      </tr>
                                    </thead>
                                    <tbody *ngIf="bookDetailsTable">
                                      <!--<ng-container *ngFor="let book of borrowList | filter:searchTerm"> -->
                                      <tr *ngFor="let book of studentBorrowData | filter:searchTerm ; let i = index;">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ book.title }}</td>
                                        <td>{{ book.isbn }}</td>
                                        <td>{{ book.issuedDate | date : 'd, MMM, y' }}</td>
                                        <td>{{ book.returnDate | date : 'd, MMM, y' }}</td>
                                        <td *ngIf="book.returnStatus">book returned</td>
                                        <td *ngIf="!book.returnStatus"><button type="button"
                                            class="btn-danger btn-sm mb-3 return-btn"
                                            on-click="studBookReturn(book)">Return</button></td>


                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!---------------popup Modal for New Book  add ------------------------>
<div class="modal fade" id="m_modal_8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
  aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header header-size-view">
        <h4 class="modal-heading font-weight-bold">Add Book</h4>


        <a href="#" class="close " data-dismiss="modal">&times;</a>
      </div>
      <div class="modal-body">
        <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group"
                [ngClass]="{'has-error': bookForm.get('title').errors && (bookForm.get('title').touched || bookForm.get('title').dirty)}">
                <input type="text" id="title" name="title" class="text-box form-control" placeholder="Enter Title"
                  formControlName="title">
                <span
                  *ngIf="bookForm.get('title').errors && (bookForm.get('title').touched || bookForm.get('title').dirty)"
                  class="help-block">
                  <span *ngIf="bookForm.get('title').errors.required" class="error-message">
                    Please fill Book title!
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <select class="text-box form-control" formControlName="authorCode" ng-required="true" required
                  id="authorCode" name="authorCode">
                  <option value="" selected>Select Auther</option>
                  <option *ngFor="let auther of autherList" value="{{auther.uidAuthor}}"> {{auther.authorName}}</option>
                </select>

                <span
                  *ngIf="bookForm.get('authorCode').errors && (bookForm.get('authorCode').touched || bookForm.get('authorCode').dirty)"
                  class="help-block">
                  <span *ngIf="bookForm.get('authorCode').errors.required" class="error-message">
                    Please Select Author Name!
                  </span>
                </span>


              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="number" class="text-box form-control" placeholder="ISBN No." formControlName="isbn"
                  maxlength="15" minlength="15">
                <span
                  *ngIf="bookForm.get('isbn').errors && (bookForm.get('isbn').touched || bookForm.get('isbn').dirty)"
                  class="help-block">
                  <span *ngIf="bookForm.get('isbn').errors.required" class="error-message">
                    Please Select ISBN No.!
                  </span>
                  <span *ngIf="bookForm.get('isbn').errors.maxLength" class="error-message">
                    ISBN No. should be of 15 numbers!
                  </span>
                  <span *ngIf="bookForm.get('isbn').errors.minLength" class="error-message">
                    ISBN No. should be of 15 numbers!
                  </span>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="text-box form-control" placeholder="Category" formControlName="category">

              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="number" class="text-box form-control" placeholder="Pages" formControlName="pages">
                <span
                  *ngIf="bookForm.get('pages').errors && (bookForm.get('pages').touched || bookForm.get('pages').dirty)"
                  class="help-block">
                  <span *ngIf="bookForm.get('pages').errors.required" class="error-message">
                    Please Select Pages!!
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <input type="number" class="text-box form-control" placeholder="No Of Copies"
                  formControlName="noOfCopies">
                <span
                  *ngIf="bookForm.get('noOfCopies').errors && (bookForm.get('noOfCopies').touched || bookForm.get('noOfCopies').dirty)"
                  class="help-block">
                  <span *ngIf="bookForm.get('noOfCopies').errors.required" class="error-message">
                    Please Select No. Of Copies!
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <!--file browser starts-->
              <div class="form-group">
                <label>
                  File Browser
                </label>
                <div></div>
                <label class="custom-file">
                  <input type="file" accept="image/*" class="form-control custom-file-input"
                    (change)="onFileChange($event)" name="myfile" ngModel #fileInput accept=".png, .pdf, .jpg, .jpeg"
                    formControlName="bookCoverLocation">
                  <span class="custom-file-control form-control"></span>
                </label>
                <span
                  *ngIf="bookForm.get('bookCoverLocation').errors && (bookForm.get('bookCoverLocation').touched || bookForm.get('bookCoverLocation').dirty)"
                  class="help-block">
                  <span *ngIf="bookForm.get('bookCoverLocation').errors.required" class="error-message">
                    Please attach file!
                  </span>
                </span>
              </div>
              <!--file browser ends-->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <input type="text" class="text-box form-control" placeholder="Description"
                  formControlName="description">
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-lg-12">
              <button type="submit" class=" btn-submit btn-sm" [disabled]="!bookForm.valid">
                SAVE
              </button>
              <button type="button" class="btn-close btn-sm mr-2" data-dismiss="modal">
                CANCEL
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!---------------------------------------------- Borrow Book modal code ----------------------------------------------------->

<div class="modal fade" id="m_modal_9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
  aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header header-size-view">
        <h4 class="modal-heading font-weight-bold">Borrow Book</h4>


        <a href="#" class="close " data-dismiss="modal">&times;</a>
      </div>
      <div class="modal-body" *ngIf="borrowBook">
        <form [formGroup]="borrowForm" (ngSubmit)="onSubmitBorrow()">

          <!-- <form> -->
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <input type="text" id="title" name="title" class="text-box form-control" placeholder="Enter Title"
                  value={{borrowBook.title}} readonly>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <select class="text-box form-control" (change)="getUserList($event)">
                  <option value="student">Student</option>
                  <option value="teacher">Teacher</option>
                </select>
              </div>
            </div>

            <div class="col-lg-6" *ngIf="classView">
              <div class="form-group">
                <select class="text-box form-control" (change)="getStudentList($event)" id="select_class"
                  name="select_class">
                  <option value="">Select Class</option>
                  <option *ngFor="let cls of classList" value="options">{{ cls.std }}</option>
                </select>



                <!-- <input type="text" class="text-box form-control" placeholder="Class" formControlName="title"> -->
              </div>
            </div>
            <div class="col-lg-6" *ngIf="borrowerlist">
              <div class="form-group">
                <select class="text-box form-control" formControlName="borrowerCode">
                  <option value="" selected>Select Borrower</option>
                  <option *ngFor="let borrower of borrowerlist" value="{{borrower.uid}}">{{ borrower.name }}</option>
                </select>

                <span
                  *ngIf="borrowForm.get('borrowerCode').errors && (borrowForm.get('borrowerCode').touched || borrowForm.get('borrowerCode').dirty)"
                  class="help-block">
                  <span *ngIf="borrowForm.get('borrowerCode').errors.required" class="error-message">
                    Please Select Borrower!
                  </span>
                </span>

                <!-- <input type="text" class="text-box form-control" placeholder="Class" formControlName="title"> -->
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-lg-12">
              <button type="submit" class=" btn-submit btn-sm" [disabled]="!borrowForm.valid">
                SAVE
              </button>
              <button type="button" class="btn-close btn-sm mr-2" data-dismiss="modal">
                CANCEL
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--------------------------------------- BookDetails Pop up ------------------------------------>

<div class="modal fade" id="m_modal_14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
  aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header header-size-view">
        <h4 class="modal-heading font-weight-bold">Book Details</h4>


        <a href="#" class="close " data-dismiss="modal">&times;</a>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-5">
            <img src="{{book_Info.bookCoverLocation}}" class="bookimage2 pull-left"
              onError="this.src='././assets/images/book2.png'">

          </div>
          <div class="col-lg-7">
            <h4 class="font-weight-bold text-dark">{{ book_Info.title }}</h4>
            <p class="author-name">{{ book_Info.authorName }}</p>
            <p class="text-dark para">{{ book_Info.description }}</p>
            <div class="row">
              <div class="col-lg-6">
                <span class="text-dark detail-headings">isbn</span>
                <p class="detail-headings2">{{ book_Info.isbn }}</p>

              </div>
              <div class="col-lg-6">
                <span class="text-dark detail-headings">Pages</span>
                <p class="detail-headings2">{{ book_Info.pages }}</p>
              </div>
            </div>
            <div class="row">


              <div class="col-lg-6">
                <span class="text-dark detail-headings">Category</span>
                <p class="detail-headings2">{{ book_Info.category }}</p>
              </div>
              <div class="col-lg-6">
                <span class="text-dark detail-headings">No. of Copies</span>
                <p class="detail-headings2"> {{ book_Info.noOfCopies }}</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!---------------------------------------------Add Author pop up ----------------------------------------------------->
<div class="modal fade" id="m_modal_15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
  aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header header-size-view">
        <h4 class="modal-heading font-weight-bold">Add Author</h4>


        <a href="#" class="close " data-dismiss="modal">&times;</a>
      </div>
      <div class="modal-body">
        <form [formGroup]="authorForm" (ngSubmit)="onSubmitAuthor()">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group"
                [ngClass]="{'has-error': authorForm.get('authorName').errors && (authorForm.get('authorName').touched || authorForm.get('authorName').dirty)}">
                <input type="text" id="authorName" name="authorName" class="text-box form-control"
                  placeholder="Enter Author Name" formControlName="authorName">
                <span
                  *ngIf="authorForm.get('authorName').errors && (authorForm.get('authorName').touched || authorForm.get('authorName').dirty)"
                  class="help-block">
                  <span *ngIf="authorForm.get('authorName').errors.required" class="error-message">
                    Please fill Author Name!
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-lg-12">
              <button type="submit" class="btn btn-submit btn-sm" [disabled]="!authorForm.valid">
                SAVE
              </button>
              <button type="button" class="btn btn-close btn-sm mr-2" data-dismiss="modal">
                CANCEL
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
