.school-text {
  color: #FF9100;
  font-weight: normal;
  font-size: 32px;
}

.title-heading {
  font-weight: 900;
  font-size: 32px;
}

.m-login.m-login--5 .m-login__wrapper-2 {
  display: table-cell;
  width: 50% !important;
}

.sub-heading {
  font-size: 11px;
  font-weight: 500;
}

.m-login.m-login--5 .m-login__wrapper-2 .m-login__contanier .m-login__form .m-form__group .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  /* border: 0; */
  /* border-bottom: 1px solid #ebedf2; */
  padding: 1rem 0;
  margin-top: 0.1rem;
  border: 2px solid #A0A0A2;
  width: 100%;
  height: 30px;
  border-radius: 4px;
}

.m-login.m-login--5 .m-login__wrapper-2 .m-login__contanier .m-login__form .m-form__group .form-control:focus {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  /* border: 0; */
  /* border-bottom: 1px solid #ebedf2; */
  padding: 1rem 0;
  margin-top: 0.1rem;
  border: 2px solid #FF9100;
  width: 100%;
  height: 30px;
  border-radius: 4px;
}

.label-text {
  font-size: 10px !important;
  font-weight: bold !important;

}

.m-login.m-login--5 .m-login__wrapper-2 .m-login__contanier .m-login__form {
  margin-top: 3rem;
  width: 100%;
}

.btn {

  text-align: center;
  /* padding: 1.2rem 3rem; */
  margin-right: 2rem;
  background-color: #FF9100;
  border-radius: 0px;
  width: 100%;
  border: none;
  margin-right: 35%;


}

.link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.link a {
  font-size: 12px;
}

.signup {
  color: #FF9100;
}

a:hover {
  text-decoration: none;
}

.orange-square {
  background-color: #FF9100;
  border: 2px solid #FF9100;
  height: 10%;
  width: 10%;
  border-radius: 0px 50px 0px 0px;
}

.m-login.m-login--5 .m-login__wrapper-2 .m-login__contanier {
  width: 430px;
  margin: 0 auto;
  padding: 0 1.5rem;
  margin-top: -50px;
}

.orange_design {
  /*height: 49%;*/
  width: 109%;
  overflow: hidden !important;
  /* height: -webkit-fill-available !important;*/
}

.m-login {
  overflow: hidden;
}

.m-login.m-login--5 .m-login__wrapper-2 .m-login__contanier .m-login__head .m-login__title {
  /* text-align: center; */
  font-size: 1.5rem;
  text-align: left !important;
}

.m-login.m-login--5.m-login--signin .m-login__signin {
  display: block;
  width: 59%;
}

.m-login.m-login--5.m-login--forget-password .m-login__forget-password {
  display: block;
  width: 59%;
}

.m-login.m-login--5 .m-login__wrapper-2 .m-login__contanier .m-login__head .m-login__desc {
  margin-top: 1.5rem;
  text-align: left;
  font-size: font-get-size(regular);
}




/*.......................................media query code .............................................*/
@media (max-width: 1200px) and (min-width: 993px) {
  .m-login.m-login--5 {
    padding: 0px;
  }
}


@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {
  .m-login.m-login--5 .m-login__wrapper-1 {
    width: 100%;
    display: none;
    margin: 0 auto;
  }

  .m-login.m-login--5.m-login--signin .m-login__signin {
    display: block;
    width: 100%;
  }

  .title-heading {
    font-weight: 900;
    font-size: 32px;
    text-align: center;
  }

  .sub-heading {
    font-size: 11px;
    font-weight: 500;
    text-align: center;
  }

  .m-login.m-login--5.m-login--forget-password .m-login__forget-password {
    display: block;
    width: 100%;
  }

  .m-login.m-login--5 .m-login__wrapper-2 .m-login__contanier .m-login__head .m-login__title {
    font-size: 1.5rem;
    text-align: center !important;
  }

  .m-login.m-login--5 .m-login__wrapper-2 .m-login__contanier .m-login__head .m-login__desc {
    margin-top: 1.5rem;
    text-align: center;
    font-size: font-get-size(regular);
  }



}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {}

@media(max-width:479px) {





  .m-login.m-login--5 .m-login__wrapper-2 .m-login__contanier {
    width: 320px;
    margin: 0 auto;
    /* padding: 0 28% 0 6%; */
    margin-top: -50px;
    padding-top: 4%;
  }


  .m-login.m-login--5 .m-login__wrapper-1 {
    width: 100%;
    display: none;
    margin: 0 auto;
  }

  .m-login.m-login--5.m-login--signin .m-login__signin {
    display: block;
    width: 100%;
  }

  .m-login.m-login--5.m-login--forget-password .m-login__forget-password {
    display: block;
    width: 100%;
  }




}
