<div class="m-login m-login--signin  m-login--5" id="m_login" style="background-image: url(./assets/app/media/img//bg/bg-3.jpg);background-size: cover;">
	<div class="m-login__wrapper-1 m-portlet-full-height" style="background-image: url(././assets/images/orange-design5.png);background-size: cover;">

		<!--<img src="././assets/images/orange-design4.png" class="orange_design">-->
		<!--<div class="m-login__wrapper-1-1">
			<div class="m-login__contanier">
				<div class="m-login__content">
					<div class="m-login__logo">
						<a href="#">-->
							<!--<img src="./assets/app/media/img//logos/logo-2.png">-->
              <!--<h3 style="color: #716aca;">CLAN.School</h3>
						</a>
					</div>
					<div class="m-login__title">
						<h3>
							JOIN OUR GREAT CLAN FAMILY COMMUNITY GET FREE ACCOUNT
						</h3>
					</div>
					<div class="m-login__desc">

					</div>
					<div class="m-login__form-action">
						<button [disabled]="loading"  type="button" id="m_login_signup" class="btn btn-outline-focus m-btn--pill">
							Get An Account
						</button>
					</div>
				</div>
			</div>
			<div class="m-login__border">
				<div></div>
			</div>
		</div>-->
	</div>
	<div class="m-login__wrapper-2 m-portlet-full-height">
		<div class="m-login__contanier">
			<div class="m-login__signin">
				<div class="m-login__head">
					<h3 class="title-heading">
						CLAN.<span class="school-text">SCHOOL</span>
					</h3>
					<p class="sub-heading">Cloud School Administrator</p>
				</div>
				<form (ngSubmit)="f.form.valid && signin()" #f="ngForm" class="m-login__form m-form" action="">
					<ng-template #alertSignin></ng-template>
					<div class="form-group m-form__group mb-2">
						<label class="label-text">USERNAME</label>
						<input class="form-control pl-2" type="text" placeholder="username" name="username" [(ngModel)]="model.username" #username="ngModel" autocomplete="off">
					</div>
					<div class="form-group m-form__group">
						<label class="label-text">PASSWORD</label>
						<input class="form-control pl-2" type="Password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel">
					</div>
					<!--<div class="row m-login__form-sub">
						<div class="col m--align-left">
							<label class="m-checkbox m-checkbox--focus">
								<input type="checkbox" name="remember" [(ngModel)]="model.remember" #remember="ngModel">
								Remember me
								<span></span>
							</label>
						</div>
						<div class="col m--align-right">
							<a href="javascript:;" id="m_login_forget_password" class="m-link">
								Forget Password ?
							</a>
						</div>
					</div>-->
					<div class="mt-3 form-group m-form__group">
						<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signin_submit" class="btn  m-btn  m-btn--custom m-btn--air pull-left">
							SIGN IN
						</button>
						
						
						
					</div>
					<div class="link mt-5 text-center">
							<a href="javascript:;" id="m_login_forget_password" class="m-link">
									Forget Password ?
								</a>
						<!--<a class="text-center" href="#">Click Here for <span class="signup">signup</span></a>-->
					</div>
					
				</form>
				
			
			</div>
			<div class="m-login__signup">
				<div class="m-login__head">
					<h3 class="m-login__title">
						Sign Up
					</h3>
					<div class="m-login__desc">
						Enter your details to create your account:
					</div>
				</div>
				<form (ngSubmit)="f.form.valid && signup()" #f="ngForm" class="m-login__form m-form" action="">
					<ng-template #alertSignup></ng-template>
					<div class="form-group m-form__group">
						<input class="form-control m-input" type="text" placeholder="Fullname" name="fullname" [(ngModel)]="model.fullname" #fullname="ngModel">
					</div>
					<div class="form-group m-form__group">
						<input class="form-control m-input" type="text" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" autocomplete="off">
					</div>
					<div class="form-group m-form__group">
						<input class="form-control m-input" type="password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel">
					</div>
					<div class="form-group m-form__group">
						<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="rpassword" [(ngModel)]="model.rpassword" #rpassword="ngModel">
					</div>
					<div class="m-login__form-sub">
						<label class="m-checkbox m-checkbox--focus">
							<input type="checkbox" name="agree" [(ngModel)]="model.agree" #agree="ngModel">
							I Agree the
							<a href="#" class="m-link m-link--focus">
								terms and conditions
							</a>
							.
							<span></span>
						</label>
						<span class="m-form__help"></span>
					</div>
					<div class="m-login__form-action">
						<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
							Sign Up
						</button>
						<button [disabled]="loading"  id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">
							Cancel
						</button>
					</div>
				</form>
			</div>
			<div class="m-login__forget-password">
				<div class="m-login__head">
					<h3 class="m-login__title">
						Forgotten Password ?
					</h3>
					<div class="m-login__desc">
						Enter your email to reset your password:
					</div>
				</div>
				<form (ngSubmit)="f.form.valid && forgotPass()" #f="ngForm" class="m-login__form m-form" action="">
					<ng-template #alertForgotPass></ng-template>
					<div class="form-group m-form__group">
						<input class="form-control m-input pl-3" type="text" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" id="m_email" autocomplete="off">
					</div>
					<div class="m-login__form-action">
						<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_forget_password_submit" class="mb-3 btn  m-btn  m-btn--custom m-btn--air">
							Request
						</button>
						<button [disabled]="loading"  id="m_login_forget_password_cancel" class="btn  m-btn  m-btn--custom ">
							Cancel
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
