.head-title {
  padding: 15px !important;
}

.modal_style {
  width: 10% !important;
  margin-left: 0% !important;
  margin-top: 1% !important;
}

.m-card-profile__pic-wrapper {
  margin: 0px auto !important;
}


.m-dropdown .m-dropdown__label-title-teacher {
  padding: unset !important;
  /*padding: 0.7rem 0.75rem 0.7rem 1.5rem; */
}

.m-dropdown__label-title {
  color: #000000 !important;
}

.m-dropdown--custom {
  padding: 0px !important;
}

/* Card width set */
@media screen and (min-width: 1356px) {
  .card {
    max-width: 18% !important;
  }
}

.card-message-button {
  position: absolute;
  bottom: 15%;
  margin: 0px 25% 0px 26% !important
}

.card-star-rating {
  position: absolute;
  bottom: 5%;
}

.img {
  padding: 0% !important;
}


/*................................Teachers css code ..............................................*/



.main-heading {
  font-size: 30px;
  font-weight: bold;
}

.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 30px;
  font-weight: 500;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #3f4047;
}

.m-portlet.m-portlet--full-height-teacher {
  padding-left: 0px !important;
}

.sub-heading {
  font-size: 12px;
  color: #FF9100 !important;
  font-weight: 600;
}

.grey-box {
  border-radius: 10px !important;
  width: 55%;
  float: right;
  background-color: #6B6B73;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}

.grey-box .main-text {
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 10px;
}

.grey-box p {
  font-size: 12px;
}

.text-default {
  color: #6B6B73;
  font-size: 14px;
}

.overview-time {
  font-size: 18px;
  font-weight: bolder;
}

.overview-text {
  font-size: 12px;
  font-weight: bolder;
}

.overview-padding {
  padding: 5px;
}

.pull-right {
  float: right;
}

.white-box-margin {
  margin-top: 20px;
  border-radius: 12px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);

}

.btn-default {
  float: right;

}

.text-box {
  border: 2px solid #D9D9D9;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  font-size: 12px;
  color: #000000;
}

.text-box:focus {
  border: 2px solid #FF9100;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  font-size: 12px;
  color: #000000;
}

.textareabox {
  font-size: 12px;
}

.submit-btn {
  border: 2px solid #FF9100;
  border-radius: 25px;
  padding: 5px 20px;
  background-color: #FF9100;
  color: #ffffff;
  font-size: 12px;
}

.submit-btn:hover {
  border: 2px solid #FF9100;
  border-radius: 25px;
  background: none;
  color: #FF9100;
  text-decoration: none;
}

.drop-category {
  border: 2px solid #000000;
  background: none;
  color: black;
  border-radius: 25px;
  float: right;
}

.dropdown-menu li a {
  font-size: 15px;
}

.overview {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 10px 14px 10px;
}

.overview h5 {
  font-size: 16px;
  font-weight: 500;
}

.inTime {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 10px 14px 10px;
}

.outTime {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 10px 14px 10px;
}

.class-teacher {
  text-align: center !important;
}

.inTime-time {
  font-size: 12px;


}

.outTime-time {
  font-size: 12px;


}

.digit {
  font-weight: 500;
}

.nav.nav-pills.nav-pills--brand-custom-teacher .nav-link.active {
  background: #f2f3f8;
  color: #3f4047;
  border-radius: 0px;
  border-bottom: #e58416 2px solid;
  margin-bottom: unset !important;
}

.m-portlet-custom-teacher {
  box-shadow: unset !important;
  background-color: unset !important;
}

.m-subheader-custom-teacher {
  padding: 20px 30px 30px 42px !important;
}

.teacher-background {
  background-color: transparent !important;
  box-shadow: none !important;
}

.small-sqaure-teacher {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  width: 6%;
}

.teacher-details {
  display: inline-block;
  box-sizing: border-box;
  width: 40%;
}

.teacher-details a img {
  height: 50px;
}

.teacher-icons {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  vertical-align: middle;
}

.m-subheader__title {
  font-weight: 600 !important;
  color: #000 !important;
}

.teacher-icons a {
  float: right !important;
  margin-left: 10%;
}

.m-dropdown__label-title-teacher {
  font-size: 15px;
  font-weight: 500;
}

.error-message {
  color: red;
  font-size: 11px;
  font-weight: 500;
}

/* ....................................Teacher details Modal.........................................*/

.btn-sub {
  background-color: #A0A0A2;
  padding: 5px 8px;
  color: #ffffff;
  border-radius: 10px;
  font-size: 12px;
}

.btn-sub:hover {
  background-color: #000;
  padding: 5px 8px;
  color: #ffffff;
  border-radius: 10px;
  font-size: 12px;
  text-decoration: none;
}

.btn-dlt {
  background-color: #ffd5d5;
  padding: 5px 8px;
  color: #FF6565;
  border-radius: 10px;
  font-size: 12px;
}

.btn-dlt:hover {
  background-color: #000;
  padding: 5px 8px;
  color: #ffffff;
  border-radius: 10px;
  font-size: 12px;
  text-decoration: none;
}

.table,
details {
  font-size: 12px;
}

.table-heading {
  font-size: 15px;
  color: #6B6B73;
  font-weight: 500;
  margin-left: 13%;
}

.heading-row {
  background-color: #E9E9E9;
  border: 2px solid #E9E9E9;
  border-radius: 25px;
  color: #969698;
}

.grey-heading {
  color: #969698;
  font-size: 10px;
  font-weight: 500;
}

.dropdown-toggle {
  font-size: 10px;
}

.teachers-name {
  font-size: 14px !important;
  font-weight: 500;
}

.teacher-icons a img {
  height: 40px;
  width: 40px;
}

* {
  font-family: 'Segoe UI';
}

a:hover,
:focus {
  text-decoration: none;
}

.modal-heading {
  color: #FF9100 !important;
  font-size: 24px !important;
  font-weight: 700 !important;
}

.header-size {
  padding-top: 20px !important;
  padding-bottom: 10px !important;

}

.header-size-view {
  padding-top: 20px !important;
  padding-bottom: 10px !important;
  border: none;

}

tr {
  border: none;
}

.teacher-tab-marging {
  margin-top: 34px !important;
}

.teacher-class-div {
  display: inline-block;
  box-sizing: border-box;
  width: 48%;
}

.btn-submit {
  color: #fff;
  border: 2px solid #FF9100;
  background-color: #FF9100;
  border-radius: 28px;
  width: 83px;
  float: right;

}

* {
  font-family: 'Segoe UI';
}

.teacher-modal-icons {
  display: inline-block;
  box-sizing: border-box;
}

.teacher-details-div {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
}

.teacher-designation-name {
  font-weight: 500;
  font-size: 12px;
  vertical-align: super;
}

/*.......................................media query code .............................................*/

@media(min-width:992px) and (max-width:1024px) {
  .teacher-icons {
    display: inline-block;
    box-sizing: border-box;
    width: 26%;
    vertical-align: middle;
  }

  .teacher-details {
    display: inline-block;
    box-sizing: border-box;
    width: 28%;
    padding: 2%;
  }

  .small-sqaure-teacher {
    display: none;
  }

  .grey-box {
    width: 90%;
  }

  .m-subheader-custom-teacher {
    padding: 20px 30px 0px 30px !important;
  }

  .teacher-background {
    background-color: transparent !important;
    box-shadow: none !important;
    padding-left: 0px !important;
  }

  .teacher-icons a img {
    height: 35px !important;
    width: 35px !important;
  }

  .teacher-details a img {
    height: 50px;
  }

  .teacher-icons a {
    float: right !important;
    margin-left: 3% !important;
  }

  .top-padding {
    padding: 0.2rem 0rem !important;
  }

  .m-tabs-line .m-tabs__link {
    padding: 0.6em 1.4em;
    font-size: 0.85rem !important;
    font-weight: 400 !important;
  }

  .overview h5 {
    font-size: 14px;
    font-weight: 500;
  }

  .teacher-class-div {
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
  }

  .teacher-class-div p {
    font-size: 12px;
  }

}

@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {
  .teacher-class-div {
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
  }

  .teacher-class-div p {
    font-size: 12px;
  }

  .teacher-icons {
    display: inline-block;
    box-sizing: border-box;
    width: 24%;
    vertical-align: middle;
  }

  .teacher-details {
    display: inline-block;
    box-sizing: border-box;
    width: 27%;
    padding: 2%;
  }

  .small-sqaure-teacher {
    display: none;
  }

  .grey-box {
    width: 90%;
  }

  .m-subheader-custom-teacher {
    padding: 20px 20px 0px 20px !important;
  }

  .background {
    background-color: transparent !important;
    box-shadow: none !important;
    padding-left: 0px !important;
  }

  .teacher-icons a img {
    height: 35px !important;
    width: 35px !important;
  }

  .teacher-details a img {
    height: 50px;
  }

  .teacher-icons a {
    float: right !important;
    margin-left: 3% !important;
  }

  .top-padding {
    padding: 0.2rem 0rem !important;
  }

  .m-tabs-line .m-tabs__link {
    padding: 0.6em 1.4em;
    font-size: 0.85rem !important;
    font-weight: 400 !important;
  }

  .overview h5 {
    font-size: 14px;
    font-weight: 500;
  }

  .teachers-name {
    font-size: 11px !important;
    font-weight: 500;
  }
}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {
  .small-sqaure-teacher {
    display: none !important;
  }


}

@media(max-width:479px) {
  .teacher-icons {
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
    vertical-align: middle;
  }

  .teacher-details {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 3%;
  }

  .small-sqaure-teacher {
    display: none;
  }

  .grey-box {
    float: left;
    width: 100%;
    margin-top: 20px;
  }

  .teachers-class {
    display: none;
  }

  .teacher-icons a {
    margin-right: 10px;
  }

  .teachers-name {
    font-size: 11px !important;
  }

  .m-tabs-line .m-tabs__item {
    margin-right: 0px !important;
  }

  .m-subheader-nonTeacher {
    padding: 10px 20px 0px 20px !important;
  }

  .teacher-icons a img {
    height: 30px !important;
    width: 30px !important;
  }

  .teacher-details a img {
    height: 40px;
  }

  .teacher-icons a {
    float: right !important;
    margin-left: 5%;
  }

  .top-padding {
    padding: 0.2rem 0rem !important;
  }

  .m-tabs-line .m-tabs__link {
    padding: 0.6em 1.4em;
    font-size: 0.85rem !important;
    font-weight: 400 !important;
  }

  .overview h5 {
    font-size: 14px;
    font-weight: 500;
  }

  .class-teacher {
    text-align: center !important;
    font-weight: 600;
    color: #000;
  }

  .class-teacher {
    text-align: center !important;
    font-weight: 600;
    color: #6B6B73;
}

  .m-subheader-custom-teacher {
    padding: 20px 20px 0 20px !important;
  }

  .teacher-class-div {
    display: none;
  }

  .teacher-details-div {
    display: inline-block;
    box-sizing: border-box;
    width: 43%;
  }

}
