<!-- BEGIN: Subheader -->
<div class="">
  <div class="m-subheader m-subheader-custom-teacher">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <h3 class="m-subheader__title">Teachers</h3>
        <p class="sub-heading text-warning">All Teachers Staff</p>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12" *ngIf="securityStats">
        <div class="grey-box">

          <div class="overview">
            <h5 class="text-white">Overview</h5>
          </div>
          <div class="inTime">
            <div class="text-center text-white inTime-time">Total</div>
            <div class="text-center  text-white digit"> {{ securityStats.totalTeachersCount}}</div>

          </div>
          <div class="outTime">
            <div class="text-center  text-white outTime-time">Present</div>
            <div class="text-center  text-white digit">{{ securityStats.presentTeachersCount}}</div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-content">
    <div class="row">
      <div class="col-xl-12">
        <div class="m-portlet m-portlet--full-height teacher-background">
          <div class="">

            <div class="m-portlet__head-tools m-portlet__head-tools-bottom">
              <ul
                class="nav nav-pills nav-pills--brand nav-pills--brand-custom-teacher m-nav-pills--align-left m-nav-pills--btn-pill m-nav-pills--btn-sm"
                role="tablist">
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget4_tab1_content" role="tab">
                    Active
                  </a>
                </li>
                <li class="nav-item m-tabs__item" *ngIf="isAdmin">
                  <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_tab2_content" role="tab"
                    on-click="getApprovalTeacher()">
                    Inactive
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="teacher-tab-marging">
            <div class="tab-content">
              <div class="tab-pane active" id="m_widget4_tab1_content">
                <!--begin::Widget 14-->
                <div class="m-widget4">
                  <!-- <div class="rounded">
                  <div class="row pl-2">
                        <div class="col-lg-1 col-md-1">
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <p class="text-default text-center mt-2 teachers-name">NAME</p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                          <p class="text-default text-center mt-2 teachers-name">CLASS</p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                        </div>
                  </div>
                </div> -->
                  <div *ngIf="active_teachers_list">
                    <div class="white-box-margin bg-white" *ngFor="let teacher of active_teachers_list">
                      <div class="small-sqaure-teacher">
                        <input type="checkbox">
                      </div>
                      <div class="teacher-details">
                        <a href="#Teacherdetails" data-toggle="modal" data-target=""
                          on-click="getTeacherDetails(teacher)"><span><img src="{{teacher.avtarURL}}"
                              class="m--img-rounded m--marginless m--img-centered"
                              onError="this.src='././assets/images/avatar.jpg'"></span><span
                            class="ml-2 font-weight-bold teachers-name">{{teacher.name}} ({{teacher.std + teacher.div}})</span></a>
                      </div>
                      <!-- <div class="teacher-class-div">
                        <p class="text-default mt-3 class-teacher">Class teacher
                          {{teacher.std + teacher.div}}</p>
                      </div> -->
                      <div class="teacher-icons">
                        <a href="#mymodal" class="" data-toggle="modal" data-target="#m_modal_5"><img
                            src="././assets/images/message.png"></a>
                        <a href="#" class="" href="https://mail.google.com/mail/u/0/#inbox?compose=new"
                          target="_blank"><img src="././assets/images/inbox.png"></a>
                        <a href="#" class="" href="https://web.whatsapp.com/"
                          target="_blank"><img src="././assets/images/watsapp.png"></a>
                      </div>

                      <!--<div class="col-lg-12">
                        <div class="row">-->
                      <!--<div class="col-lg-1 col-md-1">
                            <div class="small-sqaure-teacher">
                              <input type="checkbox">
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3">
                            <a href="#Teacherdetails" data-toggle="modal" data-target=""
                              on-click="getTeacherDetails(teacher)"><span><img src="{{teacher.avtarURL}}" height="55px" width="55px"
                                  class="m--img-rounded m--marginless m--img-centered"
                                  onError="this.src='././assets/images/avatar.jpg'"></span><span
                                class="ml-2 font-weight-bold teachers-name">{{teacher.name}}</span></a>
              
                          </div>
                          <div class="col-lg-4 col-md-4">
                            <p class="text-default font-weight-bold  mt-3 class-teacher">Class teacher {{teacher.std + teacher.div}}</p>
              
                          </div>
                          <div class="col-lg-4 col-md-4">
                            <div class="icons mt-2">-->
                      <!-- <a href="#" class="pull-right"><img src="././assets/images/watsapp.png"></a> -->
                      <!--<a href="#mymodal" class="pull-right" data-toggle="modal" data-target="#m_modal_5"><img
                                  src="././assets/images/message.png"></a>
                              <a href="#" class="pull-right"><img src="././assets/images/inbox.png"></a>
                            </div>
                          </div>-->
                      <!--</div>
                      </div>-->

                    </div>
                  </div>
                  <div *ngIf="!active_teachers_list">
                    <div class="white-box-margin bg-white" >
                      <div class="row p-4">
                        No Inactive Teacher Available!
                        </div>
                    </div>
                  </div>
                  <!--end::Widget 14 Item-->
                </div>
              </div>
              <!--end::Widget 14-->
              <div class="tab-pane" id="m_widget4_tab2_content">
                <!--begin::Widget 14-->
                <div class="m-widget4">
                  <!-- <div class="rounded">
                  <div class="row pl-2">
                        <div class="col-lg-1 col-md-1">
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <p class="text-default text-center mt-2 teachers-name">NAME</p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                          <p class="text-default text-center mt-2 teachers-name">CLASS</p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                        </div>
                  </div>
                </div> -->
                  <div class="teachers_approval_list" *ngIf="teachers_approval_list">
                    <div class="white-box-margin bg-white" *ngFor="let teacher of teachers_approval_list">
                      <div class="row p-2">
                        <!--<div class="col-lg-12">
                        <div class="row">-->
                        <div class="col-lg-1 col-md-1">
                          <div class="small-sqaure-teacher">
                            <input type="checkbox">
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <a href="#Teacherdetails" data-toggle="modal" data-target=""
                            on-click="getTeacherDetails(teacher)"><span><img src="{{teacher.avtarURL}}" height="55px"
                                width="55px" class="m--img-rounded m--marginless m--img-centered"
                                onError="this.src='././assets/images/avatar.jpg'"></span><span
                              class="ml-2 font-weight-bold teachers-name">{{teacher.name}}</span></a>

                        </div>
                        <div class="col-lg-4 col-md-4">
                          <p class="text-default font-weight-bold  mt-3 class-teacher">Class teacher
                            {{teacher.std + teacher.div}}</p>

                        </div>
                        <div class="col-lg-4 col-md-4">
                          <div class="icons mt-2">
                            <!-- <a href="#" class="pull-right"><img src="././assets/images/watsapp.png"></a> -->
                            <a href="#mymodal" class="pull-right" data-toggle="modal" data-target="#m_modal_5"><img
                                src="././assets/images/message.png"></a>
                            <a href="https://mail.google.com/mail/u/0/#inbox?compose=new"
                            target="_blank" class="pull-right"><img src="././assets/images/inbox.png"></a>
                          </div>
                        </div>
                        <!--</div>
                      </div>-->
                      </div>
                    </div>
                  </div>
                  <div class="teachers_approval_list" *ngIf="!teachers_approval_list">
                    <div class="white-box-margin bg-white">
                      <div class="row p-4">
                        No Inactive Teacher Available!
                        </div>
                    </div>
                  </div>
                  <!--end::Widget 14 Item-->
                </div>
              </div>
            </div>
          </div>
          <!--end::Modal-->
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
    aria-hidden="true">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header header-size-view">
          <h4 class="modal-heading">Message</h4>
          <a type="button" class="close" data-dismiss="modal">&times;</a>
        </div>
        <div class="modal-body">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <span class="m-dropdown__label-title-teacher m-2">Category: </span>
            <select id="category" class="form-control form-dropdown mb-3 text-box" formControlName="category"
              ng-required="true">
              <option>Select Category</option>
              <option value="{{c}}" *ngFor="let c of category_list">{{c}}</option>
            </select>
            <span
              *ngIf="userForm.get('category').errors && (userForm.get('category').touched || userForm.get('category').dirty)"
              class="help-block">
              <span *ngIf="userForm.get('category').errors.required" class="error-message">
                Please select category!
              </span>

            </span>
            <!--<div class="dropdown pull-right mb-2">
              <button class="btn btn-default dropdown-toggle drop-category" type="button" data-toggle="dropdown">Select
                Category
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Complain</a></li>
                <li><a href="#">Suggestion</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>-->

            <div class="form-group">
              <input type="text" class="form-control text-box" placeholder="Enter a Subject" formControlName="subject">
              <span
                *ngIf="userForm.get('subject').errors && (userForm.get('subject').touched || userForm.get('subject').dirty)"
                class="help-block">
                <span *ngIf="userForm.get('subject').errors.required" class="error-message">
                  Please fill subject!
                </span>

              </span>
            </div>
            <div class="form-group">
              <textarea class="form-control textareabox" rows="5" formControlName="message"
                placeholder="Enter Your Message Here...."></textarea>
              <span
                *ngIf="userForm.get('message').errors && (userForm.get('message').touched || userForm.get('message').dirty)"
                class="help-block">
                <span *ngIf="userForm.get('message').errors.required" class="error-message">
                  Please fill message!
                </span>

              </span>
            </div>
            <button type="submit" class="btn btn-submit btn-sm" [disabled]="!userForm.valid">
              Save
            </button>
            <!--<a href="#" class="submit-btn font-weight-bold pull-right">SUBMIT</a>-->
          </form>
        </div>
      </div>
    </div>
  </div>

  <!---------------------------------Teacher details modal code-------------------------------------->
  <div class="container" *ngIf="teacher_detail">

    <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
      aria-hidden="true">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header header-size-view">
            <h3 class="modal-heading">Teachers Details</h3>
            <a href="#" class="close" data-dismiss="modal">&times;</a>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-2 col-md-2 d-flex justify-content-center">
                <span><img src="{{ teacher_detail.avtarURL }}" height="55px" width="55px" onError="this.src='././assets/images/avatar.jpg'"
                    class="m--img-rounded m--marginless m--img-centered"></span>
              </div>
              <div class="col-lg-10 col-md-10">
                <div class="teacher-details-div">
                  <h4 class="font-weight-bold">
                    {{teacher_detail.name}}
                  </h4>
                  <span class="teacher-designation-name">Teacher</span>
                </div>
                <!--</div>
              <div class="col-lg-6 col-md-6">-->

                <div class="teacher-modal-icons">

                  <a href="#mymodal" class="ml-4 pull-right mr-4" data-toggle="modal" data-target="#m_modal_5"><img
                      src="././assets/images/message.png" height="30px" width="30px"></a>
                  <a href="#" class="ml-4 pull-right" href="https://mail.google.com/mail/u/0/#inbox?compose=new"
                    target="_blank"><img src="././assets/images/inbox.png" height="30px" width="30px"></a>
                    <a href="#" class="ml-4 pull-right" href="https://web.whatsapp.com/"
                    target="_blank"><img src="././assets/images/watsapp.png" height="30px" width="30px"></a>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-lg-2 col-md-2">

              </div>
              <div class="col-lg-10 col-md-10">
                <div class="row">
                  <table class="table table-borderless">

                    <tbody>
                      <tr>

                        <td><span class="table grey-heading">Phone No.</span>
                          <p class="table " *ngIf="teacher_detail.phone">{{teacher_detail.phone}}</p>
                          <p class="table " *ngIf="!teacher_detail.phone">+{{teacher_detail.countryCode}} _____ _____ </p>
                        </td>
                        <td><span class="table grey-heading">Email</span>
                          <p class="table">{{teacher_detail.email}}</p>
                        </td>

                      </tr>
                      <!-- <tr>

                        <td><span class="table grey-heading">Address</span>
                          <p class="table">{{teacher_detail.name}}</p>
                        </td>
                        <td><span class="table grey-heading">Country</span>
                          <p class="table">{{teacher_detail.countryCode}}</p>
                        </td>

                      </tr> -->

                    </tbody>
                  </table>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-md-2">

              </div>
              <div class="col-lg-9 col-md-9">
                <div class="row">
                  <div>
                    <p class="table-heading">Academics</p>
                  </div>
                  <table class="table table-borderless">
                    <thead>

                      <tr class="heading-row">
                        <th scope="col">Div</th>
                        <th scope="col">Class</th>
                        <th scope="col">Subject</th>
                      </tr>

                    </thead>
                    <tbody>
                      <tr *ngFor="let lecture of lecture_data">

                        <td>{{ lecture.std }}</td>
                        <td>{{ lecture.div }}</td>
                        <td>{{ lecture.subject }}</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <!--<a href="#" class="btn-dlt pull-right"><img src="././assets/images/delete_sweep-24px.png" height="15px"
                    width="15px" class="mr-2">Delete</a>
                <a href="#" class="btn-sub pull-right mr-1"><img src="././assets/images/Path 1974.png" height="10px"
                    width="10px" class="mr-2">Sub Admin</a>
              </div>-->

              </div>



            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
