<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Tables
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Base
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Tables
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-xl-6">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Basic Tables
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Using the most basic table markup, here’s how tables look in Metronic:
						</span>
						<div class="m-section__content">
							<table class="table">
								<thead>
									<tr>
										<th>
											#
										</th>
										<th>
											First Name
										</th>
										<th>
											Last Name
										</th>
										<th>
											Username
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">
											1
										</th>
										<td>
											Jhon
										</td>
										<td>
											Stone
										</td>
										<td>
											@jhon
										</td>
									</tr>
									<tr>
										<th scope="row">
											2
										</th>
										<td>
											Lisa
										</td>
										<td>
											Nilson
										</td>
										<td>
											@lisa
										</td>
									</tr>
									<tr>
										<th scope="row">
											3
										</th>
										<td>
											Larry
										</td>
										<td>
											the Bird
										</td>
										<td>
											@twitter
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!--end::Section-->				<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							You can also invert the colors—with light text on dark backgrounds—with
							<code>
							.table-inverse
						</code>
						.
					</span>
					<div class="m-section__content">
						<table class="table table-inverse">
							<thead>
								<tr>
									<th>
										#
									</th>
									<th>
										First Name
									</th>
									<th>
										Last Name
									</th>
									<th>
										Username
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">
										1
									</th>
									<td>
										Jhon
									</td>
									<td>
										Stone
									</td>
									<td>
										@jhon
									</td>
								</tr>
								<tr>
									<th scope="row">
										2
									</th>
									<td>
										Lisa
									</td>
									<td>
										Nilson
									</td>
									<td>
										@lisa
									</td>
								</tr>
								<tr>
									<th scope="row">
										3
									</th>
									<td>
										Larry
									</td>
									<td>
										the Bird
									</td>
									<td>
										@twitter
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--end::Section-->
			</div>
			<!--end::Form-->
		</div>
		<!--end::Portlet-->		<!--begin::Portlet-->
		<div class="m-portlet">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							Table Head Options
						</h3>
					</div>
				</div>
			</div>
			<div class="m-portlet__body">
				<!--begin::Section-->
				<div class="m-section">
					<span class="m-section__sub">
						Similar to default and inverse tables, use one of two modifier classes to make &lt;thead&gt;s appear light or dark gray.
					</span>
					<div class="m-section__content">
						<table class="table">
							<thead class="thead-inverse">
								<tr>
									<th>
										#
									</th>
									<th>
										First Name
									</th>
									<th>
										Last Name
									</th>
									<th>
										Username
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">
										1
									</th>
									<td>
										Jhon
									</td>
									<td>
										Stone
									</td>
									<td>
										@jhon
									</td>
								</tr>
								<tr>
									<th scope="row">
										2
									</th>
									<td>
										Lisa
									</td>
									<td>
										Nilson
									</td>
									<td>
										@lisa
									</td>
								</tr>
								<tr>
									<th scope="row">
										3
									</th>
									<td>
										Larry
									</td>
									<td>
										the Bird
									</td>
									<td>
										@twitter
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--end::Section-->				<!--begin::Section-->
				<div class="m-section">
					<div class="m-section__content">
						<table class="table">
							<thead class="thead-default">
								<tr>
									<th>
										#
									</th>
									<th>
										First Name
									</th>
									<th>
										Last Name
									</th>
									<th>
										Username
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">
										1
									</th>
									<td>
										Jhon
									</td>
									<td>
										Stone
									</td>
									<td>
										@jhon
									</td>
								</tr>
								<tr>
									<th scope="row">
										2
									</th>
									<td>
										Lisa
									</td>
									<td>
										Nilson
									</td>
									<td>
										@lisa
									</td>
								</tr>
								<tr>
									<th scope="row">
										3
									</th>
									<td>
										Larry
									</td>
									<td>
										the Bird
									</td>
									<td>
										@twitter
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--end::Section-->				<!--begin::Section-->
				<div class="m-section">
					<div class="m-section__content">
						<table class="table m-table m-table--head-no-border">
							<thead>
								<tr>
									<th>
										#
									</th>
									<th>
										First Name
									</th>
									<th>
										Last Name
									</th>
									<th>
										Username
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">
										1
									</th>
									<td>
										Jhon
									</td>
									<td>
										Stone
									</td>
									<td>
										@jhon
									</td>
								</tr>
								<tr>
									<th scope="row">
										2
									</th>
									<td>
										Lisa
									</td>
									<td>
										Nilson
									</td>
									<td>
										@lisa
									</td>
								</tr>
								<tr>
									<th scope="row">
										3
									</th>
									<td>
										Larry
									</td>
									<td>
										the Bird
									</td>
									<td>
										@twitter
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--end::Section-->
			</div>
		</div>
		<!--end::Portlet-->		<!--begin::Portlet-->
		<div class="m-portlet">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							Small Table
						</h3>
					</div>
				</div>
			</div>
			<div class="m-portlet__body">
				<!--begin::Section-->
				<div class="m-section">
					<span class="m-section__sub">
						Add
						<code>
						.table-sm
					</code>
					to make tables more compact by cutting cell padding in half.
				</span>
				<div class="m-section__content">
					<table class="table table-sm m-table m-table--head-bg-brand">
						<thead class="thead-inverse">
							<tr>
								<th>
									#
								</th>
								<th>
									First Name
								</th>
								<th>
									Last Name
								</th>
								<th>
									Username
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									1
								</th>
								<td>
									Jhon
								</td>
								<td>
									Stone
								</td>
								<td>
									@jhon
								</td>
							</tr>
							<tr>
								<th scope="row">
									2
								</th>
								<td>
									Lisa
								</td>
								<td>
									Nilson
								</td>
								<td>
									@lisa
								</td>
							</tr>
							<tr>
								<th scope="row">
									3
								</th>
								<td>
									Larry
								</td>
								<td>
									the Bird
								</td>
								<td>
									@twitter
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--end::Section-->
		</div>
	</div>
	<!--end::Portlet-->		<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Striped Rows
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content">
					<table class="table table-striped m-table">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									First Name
								</th>
								<th>
									Last Name
								</th>
								<th>
									Username
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									1
								</th>
								<td>
									Jhon
								</td>
								<td>
									Stone
								</td>
								<td>
									@jhon
								</td>
							</tr>
							<tr>
								<th scope="row">
									2
								</th>
								<td>
									Lisa
								</td>
								<td>
									Nilson
								</td>
								<td>
									@lisa
								</td>
							</tr>
							<tr>
								<th scope="row">
									3
								</th>
								<td>
									Larry
								</td>
								<td>
									the Bird
								</td>
								<td>
									@twitter
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--end::Section-->
		</div>
		<!--end::Form-->
	</div>
	<!--end::Portlet-->		<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Bordered Table
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content">
					<table class="table table-bordered m-table">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									First Name
								</th>
								<th>
									Last Name
								</th>
								<th>
									Username
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									1
								</th>
								<td>
									Jhon
								</td>
								<td>
									Stone
								</td>
								<td>
									@jhon
								</td>
							</tr>
							<tr>
								<th scope="row">
									2
								</th>
								<td>
									Lisa
								</td>
								<td>
									Nilson
								</td>
								<td>
									@lisa
								</td>
							</tr>
							<tr>
								<th scope="row">
									3
								</th>
								<td>
									Larry
								</td>
								<td>
									the Bird
								</td>
								<td>
									@twitter
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--end::Section-->
		</div>
		<!--end::Form-->
	</div>
	<!--end::Portlet-->				<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Hoverable Table
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									First Name
								</th>
								<th>
									Last Name
								</th>
								<th>
									Username
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									1
								</th>
								<td>
									Jhon
								</td>
								<td>
									Stone
								</td>
								<td>
									@jhon
								</td>
							</tr>
							<tr>
								<th scope="row">
									2
								</th>
								<td>
									Lisa
								</td>
								<td>
									Nilson
								</td>
								<td>
									@lisa
								</td>
							</tr>
							<tr>
								<th scope="row">
									3
								</th>
								<td>
									Larry
								</td>
								<td>
									the Bird
								</td>
								<td>
									@twitter
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--end::Section-->
		</div>
		<!--end::Form-->
	</div>
	<!--end::Portlet-->
</div>
<div class="col-xl-6">
	<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Table Head States
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content">
					<table class="table m-table m-table--head-bg-success">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									First Name
								</th>
								<th>
									Last Name
								</th>
								<th>
									Username
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									1
								</th>
								<td>
									Jhon
								</td>
								<td>
									Stone
								</td>
								<td>
									@jhon
								</td>
							</tr>
							<tr>
								<th scope="row">
									2
								</th>
								<td>
									Lisa
								</td>
								<td>
									Nilson
								</td>
								<td>
									@lisa
								</td>
							</tr>
							<tr>
								<th scope="row">
									3
								</th>
								<td>
									Larry
								</td>
								<td>
									the Bird
								</td>
								<td>
									@twitter
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--end::Section-->				<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content">
					<table class="table m-table m-table--head-bg-brand">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									First Name
								</th>
								<th>
									Last Name
								</th>
								<th>
									Username
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									1
								</th>
								<td>
									Jhon
								</td>
								<td>
									Stone
								</td>
								<td>
									@jhon
								</td>
							</tr>
							<tr>
								<th scope="row">
									2
								</th>
								<td>
									Lisa
								</td>
								<td>
									Nilson
								</td>
								<td>
									@lisa
								</td>
							</tr>
							<tr>
								<th scope="row">
									3
								</th>
								<td>
									Larry
								</td>
								<td>
									the Bird
								</td>
								<td>
									@twitter
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--end::Section-->				<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content">
					<table class="table m-table m-table--head-separator-primary">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									First Name
								</th>
								<th>
									Last Name
								</th>
								<th>
									Username
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									1
								</th>
								<td>
									Jhon
								</td>
								<td>
									Stone
								</td>
								<td>
									@jhon
								</td>
							</tr>
							<tr>
								<th scope="row">
									2
								</th>
								<td>
									Lisa
								</td>
								<td>
									Nilson
								</td>
								<td>
									@lisa
								</td>
							</tr>
							<tr>
								<th scope="row">
									3
								</th>
								<td>
									Larry
								</td>
								<td>
									the Bird
								</td>
								<td>
									@twitter
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--end::Section-->				<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content">
					<table class="table m-table m-table--head-separator-danger">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									First Name
								</th>
								<th>
									Last Name
								</th>
								<th>
									Username
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									1
								</th>
								<td>
									Jhon
								</td>
								<td>
									Stone
								</td>
								<td>
									@jhon
								</td>
							</tr>
							<tr>
								<th scope="row">
									2
								</th>
								<td>
									Lisa
								</td>
								<td>
									Nilson
								</td>
								<td>
									@lisa
								</td>
							</tr>
							<tr>
								<th scope="row">
									3
								</th>
								<td>
									Larry
								</td>
								<td>
									the Bird
								</td>
								<td>
									@twitter
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--end::Section-->
		</div>
		<!--end::Form-->
	</div>
	<!--end::Portlet-->		<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Table Bordered States
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content">
					<table class="table table-bordered m-table m-table--border-success">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									First Name
								</th>
								<th>
									Last Name
								</th>
								<th>
									Username
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									1
								</th>
								<td>
									Jhon
								</td>
								<td>
									Stone
								</td>
								<td>
									@jhon
								</td>
							</tr>
							<tr>
								<th scope="row">
									2
								</th>
								<td>
									Lisa
								</td>
								<td>
									Nilson
								</td>
								<td>
									@lisa
								</td>
							</tr>
							<tr>
								<th scope="row">
									3
								</th>
								<td>
									Larry
								</td>
								<td>
									the Bird
								</td>
								<td>
									@twitter
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--end::Section-->				<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content">
					<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									First Name
								</th>
								<th>
									Last Name
								</th>
								<th>
									Username
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									1
								</th>
								<td>
									Jhon
								</td>
								<td>
									Stone
								</td>
								<td>
									@jhon
								</td>
							</tr>
							<tr>
								<th scope="row">
									2
								</th>
								<td>
									Lisa
								</td>
								<td>
									Nilson
								</td>
								<td>
									@lisa
								</td>
							</tr>
							<tr>
								<th scope="row">
									3
								</th>
								<td>
									Larry
								</td>
								<td>
									the Bird
								</td>
								<td>
									@twitter
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--end::Section-->				<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content">
					<table class="table table-bordered m-table m-table--border-danger m-table--head-bg-primary">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									First Name
								</th>
								<th>
									Last Name
								</th>
								<th>
									Username
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">
									1
								</th>
								<td>
									Jhon
								</td>
								<td>
									Stone
								</td>
								<td>
									@jhon
								</td>
							</tr>
							<tr>
								<th scope="row">
									2
								</th>
								<td>
									Lisa
								</td>
								<td>
									Nilson
								</td>
								<td>
									@lisa
								</td>
							</tr>
							<tr>
								<th scope="row">
									3
								</th>
								<td>
									Larry
								</td>
								<td>
									the Bird
								</td>
								<td>
									@twitter
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--end::Section-->
		</div>
		<!--end::Form-->
	</div>
	<!--end::Portlet-->		<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Table Row States
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content">
					<table class="table m-table">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									First Name
								</th>
								<th>
									Last Name
								</th>
								<th>
									Username
								</th>
							</tr>
						</thead>
						<tbody>
							<tr class="m-table__row--active">
								<th scope="row">
									1
								</th>
								<td>
									Jhon
								</td>
								<td>
									Stone
								</td>
								<td>
									@jhon
								</td>
							</tr>
							<tr class="m-table__row--primary">
								<th scope="row">
									2
								</th>
								<td>
									Lisa
								</td>
								<td>
									Nilson
								</td>
								<td>
									@lisa
								</td>
							</tr>
							<tr class="m-table__row--success">
								<th scope="row">
									3
								</th>
								<td>
									Larry
								</td>
								<td>
									the Bird
								</td>
								<td>
									@twitter
								</td>
							</tr>
							<tr class="m-table__row--brand">
								<th scope="row">
									4
								</th>
								<td>
									Nick
								</td>
								<td>
									looper
								</td>
								<td>
									@king
								</td>
							</tr>
							<tr class="m-table__row--warning">
								<th scope="row">
									5
								</th>
								<td>
									Joan
								</td>
								<td>
									thestar
								</td>
								<td>
									@joan
								</td>
							</tr>
							<tr class="m-table__row--danger">
								<th scope="row">
									6
								</th>
								<td>
									Sean
								</td>
								<td>
									coder
								</td>
								<td>
									@coder
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--end::Section-->
		</div>
		<!--end::Form-->
	</div>
	<!--end::Portlet-->		<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Responsive tables
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__sub">
					Create responsive tables by adding
					<code>
					.table-responsive
				</code>
				to any
				<code>
				.table
			</code>
			to make them scroll horizontally on small devices (under 768px)
		</div>
		<div class="m-section__content">
			<table class="table table-bordered table-responsive">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Table heading
						</th>
						<th>
							Table heading
						</th>
						<th>
							Table heading
						</th>
						<th>
							Table heading
						</th>
						<th>
							Table heading
						</th>
						<th>
							Table heading
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">
							1
						</th>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
					</tr>
					<tr>
						<th scope="row">
							2
						</th>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
					</tr>
					<tr>
						<th scope="row">
							3
						</th>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
						<td>
							Table cell
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--end::Section-->
</div>
<!--end::Form-->
</div>
<!--end::Portlet-->
</div>
</div>
</div>
