/* Default Time Table image style set*/
.time-table-img {
  height: 100% !important;
  width: 100% !important;
  /*width: -webkit-fill-available;*/
  /*height: -webkit-fill-available;*/
}

/* Popup Model Close button style set*/
.modal_style {
  width: 10% !important;
  margin-left: 0% !important;
}

.m-subheader-custom-timetable {
  padding: 0px 15px 0 15px !important;
}

/* Add button */
.time-btn-timetabe {
  background: #ff9100 !important;
  border-color: #ff9100;
  color: white !important;
  border-radius: 40px;
  font-size: 12px;
  padding: 10px 18px;
  margin-left: 10px;
  font-weight: 500;
  font-family: 'Segoe UI';
  /* filter: drop-shadow(2px 4px 6px #d9d9d9); */
  filter: drop-shadow(2px 5px 6px #bcbcbc);
}

/* Remove layout background white color */
.remove-background {
  background-color: transparent !important;
  box-shadow: none;
  font-family: 'Segoe UI';
  padding-left: 0px !important;
}

.m-portlet .m-portlet__body-custom-timetable {
  padding: 2.2rem 0px !important;
}

.m-portlet .m-portlet__head-custom-timetable {
  border-bottom: 1px solid #d4d4d4 !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 212, 212);
  padding: unset !important;
  font-family: 'Segoe UI';
  height: unset !important;
}

.m-portlet .m-portlet__body-custom-timetable {
  padding: 2.2rem 0px !important;
}

.sub-content {
  padding: 0px 20px !important;
}

.m-portlet__head-tools-bottom {
  text-align: right;
  display: table-cell;
  vertical-align: bottom;
  font-family: 'Segoe UI';
}

.nav.nav-pills.nav-pills--brand-custom .nav-link.active {
  background: #f2f3f8;
  color: #3f4047;
  border-radius: 0px;
  border-bottom: #e58416 2px solid !important;
  font-family: 'Segoe UI';
}

.btn-close {
  color: #ff9100;
  background-color: #fff;
  border: 1px solid #f0f1f6;
  border-radius: 28px;
  width: 83px;
  float: right;
  font-family: 'Segoe UI';
}

.btn-close:hover {
  color: #000;
  background-color: #f0f1f6;
  font-family: 'Segoe UI';
  border-radius: 28px;
}

.btn-submit {
  color: #fff;
  border: 2px solid #ff9100;
  background-color: #ff9100;
  border-radius: 28px;
  width: 83px;
  float: right;
  font-family: 'Segoe UI';
}

.bootstrap-timepicker-widget {
  display: none !important;
}

.m-portlet__body-background {
  color: #575962;
  background-color: #fff;
  margin-top: 25px;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
  padding: 23px;
  font-family: 'Segoe UI';
}

.m-portlet__head-custom-border-remove {
  border: unset !important;
  padding: unset !important;
}

.m-portlet__head-custom-border-remove .m-tabs-line .m-tabs__item {
  margin-right: 28px !important;
  font-family: 'Segoe UI';
}

.tab-content-view {
  border: 1px solid #a7a8ac;
  border-radius: 10px;
  font-family: 'Segoe UI';
  padding: 10px;
}

.white-box-class {
  background-color: #fff;
  padding: 7% 10%;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
  font-family: 'Segoe UI';
  
}

.white-box-class-1 {
  background-color: #fff;
  padding: 7% 10%;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
  height: 135px;
  font-family: 'Segoe UI';
}

.white-box-class-click{
  cursor: pointer;
  
}

.day-text {
  color: #6b6b73;
  font-size: 14px;
}

.square0 {
  display: inline-block;
  background-color: #f4dfc7 !important;
  color: #ed8a19 !important;
  border-radius: 11px;
  font-family: 'Segoe UI';
  padding: 17px 14px;
  font-size: 12px;
  width: 200px;
}

.square1 {
  display: inline-block;
  background-color: #f8d7d7 !important;
  color: #c13b3b !important;
  border-radius: 11px;
  font-size: 12px;
  padding: 17px 14px;
  font-family: 'Segoe UI';
  width: 200px;
}

.square2 {
  display: inline-block;
  background-color: #c3e1cb !important;
  color: #08942e !important;
  border-radius: 11px;
  padding: 17px 14px;
  font-size: 12px;
  width: 200px;
  font-family: 'Segoe UI';
}

.square3 {
  display: inline-block;
  background-color: #eee7c3 !important;
  color: #d1af08 !important;
  border-radius: 11px;
  padding: 17px 14px;
  font-size: 12px;
  width: 200px;
  font-family: 'Segoe UI';
}

.square4 {
  display: inline-block;
  background-color: #c3e0f8 !important;
  color: #078efc !important;
  border-radius: 11px;
  padding: 17px 14px;
  font-size: 12px;
  width: 200px;
  font-family: 'Segoe UI';
}

.square5 {
  display: inline-block;
  background-color: #f4dfc7 !important;
  color: #ed8a19 !important;
  border-radius: 11px;
  padding: 17px 14px;
  font-size: 12px;
  width: 200px;
  font-family: 'Segoe UI';
}

.square6 {
  display: inline-block;
  background-color: #f8d7d7 !important;
  color: #c13b3b !important;
  border-radius: 11px;
  padding: 17px 14px;
  font-size: 12px;
  font-family: 'Segoe UI';
  width: 200px;
}

.text-color {
  color: #c13b3b;
}

.timetable-data {
  overflow-x: scroll;
}

.data-width {
  width: 300px !important;
}

ata-width {
  width: 300px !important;
}

.timetable-class-name {
  margin: 10px !important;
    /* text-align: center; */
  font-size: 15px;
  font-weight: 500;
  font-family: 'Segoe UI';
  color: #fff;
}

.row-fixed {
  width: 100%;
}

.row-inner-view {
  width: 50px;
  float: left;
  margin: 5px;
  font-family: 'Segoe UI';
}

.row-inner-view-1 {
  width: 100px;
  float: left;
  margin: 5px;
  font-family: 'Segoe UI';
}

.table th,
.table td {
  border-top: unset !important;
}

.right-bottom-fixed {
  position: absolute;
  bottom: 5px;
  font-family: 'Segoe UI';
  right: 15px;
}

.c-btn {
  border: 1px solid #ebedf2;
  color: #575962;
}
.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 30px;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #000;
}
.session-class-name{
  font-weight: bold;
  color: #000;
  font-size: 16px;
}

.session-time{
  font-size: 12px;
}

.modal-heading {
  color: #FF9100 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.error-message {
  color: red;
  font-size: 11px;
  font-weight: 500;
}
.text-box {
  border: 2px solid #D9D9D9;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  font-size: 15px;
  color: #000000;
}

.text-box:focus {
  border: 2px solid #FF9100;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  font-size: 15px;
  color: #000000;
}

.textareabox {
  font-size: 15px;
}

.sub-heading{
  font-size: 12px;
  color: #FF9100 !important;
  font-weight: 600;
  font-family: Segoe UI;
}

.m-body .m-content-timetable {
  padding: 30px 42px !important;
}

/*.......................................media query code .............................................*/

@media (min-width: 992px) and (max-width: 1024px) {
}

@media (min-width: 992px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 575px) and (max-width: 767px) {
}

@media (min-width: 480px) and (max-width: 574px) {
}

@media (max-width: 479px) {
  .time-btn-timetabe {
    background: #ff9100 !important;
    border-color: #ff9100;
    color: white !important;
    border-radius: 40px;
    font-size: 9px;
    padding: 8px 10px;
    margin-left: 10px;
    font-weight: 500;
    font-family: 'Segoe UI';
    -webkit-filter: drop-shadow(2px 4px 6px #d9d9d9);
    filter: drop-shadow(2px 4px 6px #d9d9d9);
}
.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 25px;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #000;
}
.m-body .m-content {
  padding: 20px 5px;
}
.m-body .m-content-timetable {
  padding: 0px 0px !important;
}
.nav.nav-pills.m-nav-pills--btn-sm .m-tabs__link {
  padding: 10px 5px;
  font-size: 10px;
}
.m-portlet .m-portlet__body-timetable {
  padding: 1.2rem 0.2rem !important;
}
}
