<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Button Group
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Buttons
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Button Dropdown
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-md-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Dropdown Button
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							Basic Example
						</h3>
						<span class="m-section__sub">
							Single button dropdowns
						</span>
						<div class="m-section__content">
							<div class="m-demo" >
								<div class="m-demo__preview">
									<div class="row">
										<div class="col">
											<div class="dropdown">
												<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Dropdown button
												</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">
														Action
													</a>
													<a class="dropdown-item" href="#">
														Another action
													</a>
													<a class="dropdown-item" href="#">
														Something else here
													</a>
												</div>
											</div>
										</div>
										<div class="col">
											<div class="dropdown">
												<button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Dropdown button
												</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">
														Action
													</a>
													<a class="dropdown-item" href="#">
														Another action
													</a>
													<a class="dropdown-item" href="#">
														Something else here
													</a>
												</div>
											</div>
										</div>
										<div class="col">
											<div class="dropdown">
												<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Dropdown button
												</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">
														Action
													</a>
													<a class="dropdown-item" href="#">
														Another action
													</a>
													<a class="dropdown-item" href="#">
														Something else here
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Dropdown menu with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" >
								<div class="m-demo__preview">
									<div class="row">
										<div class="col">
											<div class="dropdown">
												<button class="btn btn-accent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Lineawesome
												</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">
														<i class="la la-bell"></i>
														Action
													</a>
													<a class="dropdown-item" href="#">
														<i class="la la-cloud-upload"></i>
														Another action
													</a>
													<a class="dropdown-item" href="#">
														<i class="la la-cog"></i>
														Something else
													</a>
												</div>
											</div>
										</div>
										<div class="col">
											<div class="dropdown">
												<button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Fontawesome
												</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">
														<i class="fa fa-bell"></i>
														Action
													</a>
													<a class="dropdown-item" href="#">
														<i class="fa fa-cloud-upload"></i>
														Another action
													</a>
													<a class="dropdown-item" href="#">
														<i class="fa fa-cog"></i>
														Something else
													</a>
												</div>
											</div>
										</div>
										<div class="col">
											<div class="dropdown">
												<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Metronic Icons
												</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">
														<i class="flaticon-share"></i>
														Action
													</a>
													<a class="dropdown-item" href="#">
														<i class="flaticon-settings"></i>
														Another action
													</a>
													<a class="dropdown-item" href="#">
														<i class="flaticon-graphic-2"></i>
														Something else
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Button state dropdowns
						</span>
						<div class="m-section__content">
							<div class="m-demo" >
								<div class="m-demo__preview">
									<div class="btn-group">
										<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Primary
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												Action
											</a>
											<a class="dropdown-item" href="#">
												Another action
											</a>
											<a class="dropdown-item" href="#">
												Something else here
											</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">
												Separated link
											</a>
										</div>
									</div>
									<!-- /btn-group -->
									<div class="btn-group">
										<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Secondary
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												Action
											</a>
											<a class="dropdown-item" href="#">
												Another action
											</a>
											<a class="dropdown-item" href="#">
												Something else here
											</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">
												Separated link
											</a>
										</div>
									</div>
									<!-- /btn-group -->
									<div class="btn-group">
										<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Success
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												Action
											</a>
											<a class="dropdown-item" href="#">
												Another action
											</a>
											<a class="dropdown-item" href="#">
												Something else here
											</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">
												Separated link
											</a>
										</div>
									</div>
									<!-- /btn-group -->
									<div class="btn-group">
										<button type="button" class="btn btn-brand dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Info
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												Action
											</a>
											<a class="dropdown-item" href="#">
												Another action
											</a>
											<a class="dropdown-item" href="#">
												Something else here
											</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">
												Separated link
											</a>
										</div>
									</div>
									<!-- /btn-group -->
									<div class="btn-group">
										<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Danger
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												Action
											</a>
											<a class="dropdown-item" href="#">
												Another action
											</a>
											<a class="dropdown-item" href="#">
												Something else here
											</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">
												Separated link
											</a>
										</div>
									</div>
									<!-- /btn-group -->
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Single button dropdowns
						</span>
						<div class="m-section__content">
							<div class="m-demo" >
								<div class="m-demo__preview">
									<div class="btn-group">
										<button type="button" class="btn btn-primary">
											Primary
										</button>
										<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="sr-only">
												Toggle Dropdown
											</span>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												Action
											</a>
											<a class="dropdown-item" href="#">
												Another action
											</a>
											<a class="dropdown-item" href="#">
												Something else here
											</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">
												Separated link
											</a>
										</div>
									</div>
									<!-- /btn-group -->
									<div class="btn-group">
										<button type="button" class="btn btn-brand">
											Secondary
										</button>
										<button type="button" class="btn btn-brand dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="sr-only">
												Toggle Dropdown
											</span>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												Action
											</a>
											<a class="dropdown-item" href="#">
												Another action
											</a>
											<a class="dropdown-item" href="#">
												Something else here
											</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">
												Separated link
											</a>
										</div>
									</div>
									<!-- /btn-group -->
									<div class="btn-group">
										<button type="button" class="btn btn-success">
											Success
										</button>
										<button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="sr-only">
												Toggle Dropdown
											</span>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												Action
											</a>
											<a class="dropdown-item" href="#">
												Another action
											</a>
											<a class="dropdown-item" href="#">
												Something else here
											</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">
												Separated link
											</a>
										</div>
									</div>
									<!-- /btn-group -->
									<div class="btn-group">
										<button type="button" class="btn btn-warning">
											Warning
										</button>
										<button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="sr-only">
												Toggle Dropdown
											</span>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												Action
											</a>
											<a class="dropdown-item" href="#">
												Another action
											</a>
											<a class="dropdown-item" href="#">
												Something else here
											</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">
												Separated link
											</a>
										</div>
									</div>
									<!-- /btn-group -->
								</div>
							</div>
						</div>
					</div>
					<!--end::Section--><!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							Sizing
						</h3>
						<span class="m-section__sub">
							Button dropdowns work with buttons of all sizes, including default and split dropdown buttons.
						</span>
						<div class="m-section__content">
							<div class="m-demo" >
								<div class="m-demo__preview">
									<div class="btn-group">
										<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Large button
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												Action
											</a>
											<a class="dropdown-item" href="#">
												Another action
											</a>
											<a class="dropdown-item" href="#">
												Something else here
											</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">
												Separated link
											</a>
										</div>
									</div>
									<div class="btn-group">
										<button type="button" class="btn btn-lg btn-secondary">
											Large split button
										</button>
										<button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="sr-only">
												Toggle Dropdown
											</span>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												Action
											</a>
											<a class="dropdown-item" href="#">
												Another action
											</a>
											<a class="dropdown-item" href="#">
												Something else here
											</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">
												Separated link
											</a>
										</div>
									</div>
									<div class="m--space-10"></div>
									<div class="btn-group">
										<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Small button
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												Action
											</a>
											<a class="dropdown-item" href="#">
												Another action
											</a>
											<a class="dropdown-item" href="#">
												Something else here
											</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">
												Separated link
											</a>
										</div>
									</div>
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-brand">
											Small split button
										</button>
										<button type="button" class="btn btn-sm btn-brand dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="sr-only">
												Toggle Dropdown
											</span>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												Action
											</a>
											<a class="dropdown-item" href="#">
												Another action
											</a>
											<a class="dropdown-item" href="#">
												Something else here
											</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#">
												Separated link
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section--><!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							Dropup variation
						</h3>
						<span class="m-section__sub">
							Trigger dropdown menus above elements by adding
							<code>
							.dropup
						</code>
						to the parent element.
					</span>
					<div class="m-section__content">
						<div class="m-demo" >
							<div class="m-demo__preview">
								<div class="row">
									<div class="col">
										<div class="btn-group dropup">
											<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Dropup button
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="#">
													Action
												</a>
												<a class="dropdown-item" href="#">
													Another action
												</a>
												<a class="dropdown-item" href="#">
													Something else here
												</a>
												<div class="dropdown-divider"></div>
												<a class="dropdown-item" href="#">
													Separated link
												</a>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="btn-group dropup">
											<button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Dropup button
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="#">
													Action
												</a>
												<a class="dropdown-item" href="#">
													Another action
												</a>
												<a class="dropdown-item" href="#">
													Something else here
												</a>
												<div class="dropdown-divider"></div>
												<a class="dropdown-item" href="#">
													Separated link
												</a>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="btn-group dropup">
											<button type="button" class="btn btn-outline-success">
												Split dropup button
											</button>
											<button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<span class="sr-only">
													Toggle Dropdown
												</span>
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="#">
													Action
												</a>
												<a class="dropdown-item" href="#">
													Another action
												</a>
												<a class="dropdown-item" href="#">
													Something else here
												</a>
												<div class="dropdown-divider"></div>
												<a class="dropdown-item" href="#">
													Separated link
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end::Section-->
			</div>
		</div>
		<!--end::Portlet-->
	</div>
	<div class="col-md-6">
		<!--begin::Portlet-->
		<div class="m-portlet m-portlet--tab">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<span class="m-portlet__head-icon m--hide">
							<i class="la la-gear"></i>
						</span>
						<h3 class="m-portlet__head-text">
							Dropdown Button
						</h3>
					</div>
				</div>
			</div>
			<div class="m-portlet__body">
				<!--begin::Section-->
				<div class="m-section">
					<h3 class="m-section__heading">
						Menu items
					</h3>
					<span class="m-section__sub">
						You can optionally use
						<code>
						button
					</code>
					elements in your dropdowns instead
				</span>
				<div class="m-section__content">
					<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
						<div class="m-demo__preview">
							<div class="row">
								<div class="col">
									<div class="dropdown">
										<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Dropdown menu
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
											<button class="dropdown-item" type="button">
												Action
											</button>
											<button class="dropdown-item" type="button">
												Another action
											</button>
											<button class="dropdown-item" type="button">
												Something else here
											</button>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="dropdown">
										<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Dropdown menu
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
											<button class="dropdown-item" type="button">
												Action
											</button>
											<button class="dropdown-item" type="button">
												Another action
											</button>
											<button class="dropdown-item" type="button">
												Something else here
											</button>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="dropdown">
										<button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Dropdown menu
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
											<button class="dropdown-item" type="button">
												Action
											</button>
											<button class="dropdown-item" type="button">
												Another action
											</button>
											<button class="dropdown-item" type="button">
												Something else here
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end::Section--><!--begin::Section-->
			<div class="m-section">
				<h3 class="m-section__heading">
					Menu alignment
				</h3>
				<span class="m-section__sub">
					Add
					<code>
					.dropdown-menu-right
				</code>
				to a
				<code>
				.dropdown-menu
			</code>
			to right align the dropdown menu.
		</span>
		<div class="m-section__content">
			<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
				<div class="m-demo__preview">
					<div class="row">
						<div class="col">
							<div class="btn-group">
								<button type="button" class="btn btn-brand dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Right Aligned
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<button class="dropdown-item" type="button">
										Action
									</button>
									<button class="dropdown-item" type="button">
										Another action
									</button>
									<button class="dropdown-item" type="button">
										Something else here
									</button>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="btn-group">
								<button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Left Aligned
								</button>
								<div class="dropdown-menu dropdown-menu-left">
									<button class="dropdown-item" type="button">
										Action
									</button>
									<button class="dropdown-item" type="button">
										Another action
									</button>
									<button class="dropdown-item" type="button">
										Something else here
									</button>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="btn-group">
								<button type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Right Aligned
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<button class="dropdown-item" type="button">
										Action
									</button>
									<button class="dropdown-item" type="button">
										Another action
									</button>
									<button class="dropdown-item" type="button">
										Something else here
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end::Section--><!--begin::Section-->
	<div class="m-section">
		<h3 class="m-section__heading">
			Menu headers
		</h3>
		<span class="m-section__sub">
			Add a header to label sections of actions in any dropdown menu.
		</span>
		<div class="m-section__content">
			<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
				<div class="m-demo__preview">
					<div class="row">
						<div class="col">
							<div class="btn-group">
								<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Dropup button
								</button>
								<div class="dropdown-menu">
									<h6 class="dropdown-header">
										Dropdown header
									</h6>
									<a class="dropdown-item" href="#">
										Action
									</a>
									<a class="dropdown-item" href="#">
										Another action
									</a>
									<a class="dropdown-item" href="#">
										Something else here
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">
										Separated link
									</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="btn-group">
								<button type="button" class="btn btn-outline-brand dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Dropup button
								</button>
								<div class="dropdown-menu">
									<h6 class="dropdown-header">
										Dropdown header
									</h6>
									<a class="dropdown-item" href="#">
										Action
									</a>
									<a class="dropdown-item" href="#">
										Another action
									</a>
									<a class="dropdown-item" href="#">
										Something else here
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">
										Separated link
									</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="btn-group">
								<button type="button" class="btn btn-outline-success">
									Split dropup button
								</button>
								<button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">
										Toggle Dropdown
									</span>
								</button>
								<div class="dropdown-menu">
									<h6 class="dropdown-header">
										Dropdown header
									</h6>
									<a class="dropdown-item" href="#">
										Action
									</a>
									<a class="dropdown-item" href="#">
										Another action
									</a>
									<a class="dropdown-item" href="#">
										Something else here
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">
										Separated link
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end::Section--><!--begin::Section-->
	<div class="m-section">
		<h3 class="m-section__heading">
			Menu dividers
		</h3>
		<span class="m-section__sub">
			Separate groups of related menu items with a divider.
		</span>
		<div class="m-section__content">
			<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
				<div class="m-demo__preview">
					<div class="row">
						<div class="col">
							<div class="btn-group">
								<button type="button" class="btn btn-brand dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Dropup button
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">
										Action
									</a>
									<a class="dropdown-item" href="#">
										Another action
									</a>
									<a class="dropdown-item" href="#">
										Something else here
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">
										Separated link
									</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="btn-group">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Dropup button
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">
										Action
									</a>
									<a class="dropdown-item" href="#">
										Another action
									</a>
									<a class="dropdown-item" href="#">
										Something else here
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">
										Separated link
									</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="btn-group">
								<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Dropup button
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">
										Action
									</a>
									<a class="dropdown-item" href="#">
										Another action
									</a>
									<a class="dropdown-item" href="#">
										Something else here
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">
										Separated link
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end::Section--><!--begin::Section-->
	<div class="m-section">
		<h3 class="m-section__heading">
			Disabled Menu Items
		</h3>
		<span class="m-section__sub">
			Add
			<code>
			.disabled
		</code>
		to items in the dropdown to style them as disabled.
	</span>
	<div class="m-section__content">
		<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
			<div class="m-demo__preview">
				<div class="row">
					<div class="col">
						<div class="btn-group">
							<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Dropup button
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">
									Regular link
								</a>
								<a class="dropdown-item disabled" href="#">
									Disabled link
								</a>
								<a class="dropdown-item" href="#">
									Another link
								</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="btn-group">
							<button type="button" class="btn btn-brand dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Dropup button
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">
									Regular link
								</a>
								<a class="dropdown-item disabled" href="#">
									Disabled link
								</a>
								<a class="dropdown-item" href="#">
									Another link
								</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="btn-group">
							<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Dropup button
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">
									Regular link
								</a>
								<a class="dropdown-item disabled" href="#">
									Disabled link
								</a>
								<a class="dropdown-item" href="#">
									Another link
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end::Section-->
</div>
</div>
<!--end::Portlet-->
</div>
</div>
</div>
