<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        My Message Box
      </h3>
    </div>
  </div>
</div>
<!--class="col-xl-12"-->
<!--class="col-xl-6 col-lg-12" -->

<div class="m-content">
  <div class="row">
    <div [ngClass]="addCssClass(applyhalfview , applyfullview)" >
      <div class="m-portlet m-portlet--full-height">

        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
              <li class="nav-item m-tabs__item" on-click="complainClick(); addCssClass(false)">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_inbox_tab_complain" role="tab">
                  <i class="flaticon-share m--hide" ></i>
                  Complain
                </a>
              </li>
              <li class="nav-item m-tabs__item" on-click="suggestionClick()">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_inbox_tab_suggestion" role="tab">
                  Suggestion
                </a>
              </li>
              <li class="nav-item m-tabs__item" on-click="praiseClick()">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_inbox_tab_praise" role="tab">
                  Praise
                </a>
              </li>
              <li class="nav-item m-tabs__item" on-click="feedbackClick()">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_inbox_tab_feedback" role="tab">
                  Feedback
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="m-portlet__body">
          <div class="tab-content" >

            <div class="tab-pane active" id="m_user_inbox_tab_complain" >
              <!--begin::Widget 14-->
              <div class="m-widget4" >
                <div class="m-widget4__item" *ngFor="let item_inbox_complain of complain_list">

                  <div class="m-widget4__info" on-click="item_inbox_complain_click(item_inbox_complain.id)">
                    <h3 class="m-widget4__title">
                      {{item_inbox_complain.title}}
                      <i class="la la-download float-right"></i>
                    </h3>
                  </div>
                  <div class="m-widget4__img m-widget4__img--pic float-right">
                    <img src="{{item_inbox_complain.sentBy.avtarURL}}" alt="">

                  </div>
                  <div class="m-widget4__ext">
                  <span class="m-widget4__title">
											{{item_inbox_complain.sentBy.name}}
										</span>
                    <br/>
                    <span class="m-widget4__sub">

                    </span>
                  </div>
                </div> <br/>
              </div>
              <!--end::Widget 14-->
            </div>

            <div class="tab-pane" id="m_user_inbox_tab_suggestion" >
              <div class="m-widget4" >
                <div class="m-widget4__item" *ngFor="let item_inbox_suggestion of suggestion_list">

                  <div class="m-widget4__info" on-click="item_inbox_complain_click(item_inbox_suggestion.id)">
                    <h3 class="m-widget4__title">
                      {{item_inbox_suggestion.title}}
                      <i class="la la-download float-right"></i>
                    </h3>
                  </div>
                  <div class="m-widget4__img m-widget4__img--pic float-right">
                    <img src="{{item_inbox_suggestion.sentBy.avtarURL}}" alt="">
                  </div>
                  <div class="m-widget4__ext">
                  <span class="m-widget4__title">
											{{item_inbox_suggestion.sentBy.name}}
										</span>
                    <br/>
                    <span class="m-widget4__sub">

                    </span>
                  </div>
                </div> <br/>
              </div>
            </div>

            <div class="tab-pane" id="m_user_inbox_tab_praise" >
              <div class="m-widget4" >
                <div class="m-widget4__item" *ngFor="let item_inbox_praise of praise_list">

                  <div class="m-widget4__info" on-click="item_inbox_complain_click(item_inbox_praise.id)">
                    <h3 class="m-widget4__title">
                      {{item_inbox_praise.title}}
                      <i class="la la-download float-right"></i>
                    </h3>
                  </div>
                  <div class="m-widget4__img m-widget4__img--pic float-right">
                    <img src="{{item_inbox_praise.sentBy.avtarURL}}" alt="">
                  </div>
                  <div class="m-widget4__ext">
                  <span class="m-widget4__title">
											{{item_inbox_praise.sentBy.name}}
										</span>
                    <br/>
                    <span class="m-widget4__sub">
                    </span>
                  </div>

                </div> <br/>
              </div>
            </div>

            <div class="tab-pane" id="m_user_inbox_tab_feedback" >
              <div class="m-widget4" >
                <div class="m-widget4__item" *ngFor="let item_inbox_feedback of feedback_list">


                  <div class="m-widget4__info" on-click="item_inbox_complain_click(item_inbox_feedback.id)">
                    <h3 class="m-widget4__title">
                      {{item_inbox_feedback.title}}
                      <i class="la la-download float-right"></i>
                    </h3>
                  </div>
                  <div class="m-widget4__img m-widget4__img--pic float-right">
                    <img src="{{item_inbox_feedback.sentBy.avtarURL}}" alt="">
                  </div>
                  <div class="m-widget4__ext">
                  <span class="m-widget4__title">
											{{item_inbox_feedback.sentBy.name}}
										</span>
                    <br/>
                    <span class="m-widget4__sub">

                    </span>
                  </div>
                </div> <br/>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-6 col-lg-12" *ngIf="conversation">
      <div class="m-portlet m-portlet--full-height">


        <div class="tab-content" style="padding: 5%" >
          <div class="tab-pane active m-scrollable" id="m_quick_sidebar_tabs_messenger" role="tabpanel" style="height: 200px;">
            <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light" style="overflow: auto;height: 100%;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
              <div class="m-messenger__messages">

                <div *ngFor="let msg of conversation; trackBy: message">

                  <span *ngIf="uid!=msg.sentFrom.id">
                    <div class="m-messenger__message m-messenger__message--in">
                      <div class="m-messenger__message-pic">
                        <img src="{{msg.sentFrom.avtar}}" alt=""/>
                      </div>
                      <div class="m-messenger__message-body">
                        <div class="m-messenger__message-arrow"></div>
                        <div class="m-messenger__message-content">
                          <div class="m-messenger__message-username">
                            {{msg.sentFrom.name}}
                          </div>
                          <div class="m-messenger__message-text">
                            {{msg.message}}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="m-messenger__datetime" style="text-align: left; margin-left: 5%">
                      {{msg.sentAt | date : 'short'}}
                    </div><br>

                  </span>


                  <span *ngIf="uid==msg.sentFrom.id">
                     <div class="m-messenger__message m-messenger__message--out" >

                        <div class="m-messenger__message-body">
                           <div class="m-messenger__message-arrow"></div>
                             <div class="m-messenger__message-content">
                               <div class="m-messenger__message-text">
                                 {{msg.message}}
                               </div>
                             </div>
                           </div>

                        </div>

                        <div class="m-messenger__datetime" style="text-align: right">
                          {{msg.sentAt | date : 'short'}}
                        </div>
                  </span>

                </div>

                <div class="m-messenger__seperator"></div>

                <div class="m-messenger__form">

                  <div class="m-messenger__form-controls">
                    <input type="text" name="" placeholder="Type here..." class="m-messenger__form-input"><!-- [(ngModel)]="sendmsg">-->
                  </div>

                  <div class="m-messenger__form-tools" on-click="postMessage(sendmsg)">
                    <a href="" class="m-messenger__form-attachment">
                      <i class="fa fa-mail-forward"></i>
                    </a>
                  </div>

                </div>
              </div>
            </div>

          </div>


        </div>
      </div>


    </div>

  </div>
</div>

