<div>
  <!-- Class List View for Fee Template View -->
  <div class="m-content" *ngIf="contentView">
    <div class="row">
      <div class="col-lg-12">
        <div class="m-portlet" id="m_portlet">
          <!--header start-->
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                  <!--<i class="flaticon-map-location"></i>-->
                  <i class="m-menu__link-icon fa  fa-pencil-square-o"></i>
                </span>
                <h3 class="m-portlet__head-text">
                  Fee Template Classes
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <!-- Grid row -->
            <div class="m-accordion" id="m_accordion_2" role="tablist">
              <!--begin::Item-->
              <div class="m-accordion__item" *ngFor="let cp of class_list; let i=index">
                <div class="m-accordion__item-head collapsed" role="tab">
                  <!-- on-click="getFeeTemplate(cp.std)" -->
                  <a routerLink="/feetemplate/{{cp.std}}">
                    <div class="w3-card-2">
                      <span class="m-accordion__item-title">
                        <!--on-click="getStudentAndTeacher(class.std_div)"-->
                        <div class="row">
                          <div class="col-xl-2 mygroup_style" [style.background]="colors[i % 4]">
                            <span class="m-widget4__title">
                              {{cp.std}}
                            </span>
                          </div>
                          <div class="col-xl-10 mygroup_col_style mygroup_col_style_customr">
                            <span class="m-widget4__sub" style="text-align: center;" [style.color]="colors[i %  4]">
                              <div class="each-class-per">
                                No of Student: {{cp.student}}
                              </div>
                            </span>
                          </div>
                        </div>
                      </span>

                      <span class="m-accordion__item-mode">
                        <div class="row">
                          <div class="m-portlet__head m-portlet__custom">
                            <div class="m-portlet__head-tools row">

                            </div>
                          </div>
                        </div>
                      </span>
                    </div>
                  </a>
                </div>
                <!--end::Section-->
              </div>
            </div>
            <!--end:: Widgets/New Users-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fee Template View -->
  <div class="m-content" *ngIf="feeTemplateView">
    <div class="row">
      <div class="col-lg-12">
        <div class="m-portlet" id="m_portlet">
          <!--header start-->
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                  <!--<i class="flaticon-map-location"></i>-->
                  <i class="m-menu__link-icon fa  fa-pencil-square-o"></i>
                </span>
                <h3 class="m-portlet__head-text">
                  Fee Template List

                </h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <button type="button" class="btn btn-primary btn-new-add" data-toggle="modal"
                data-target="#NewFeeTemplate">
                New
              </button>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="m-content">
              <!-- Fee Template Card View -->
              <!-- <div class="card-deck"> -->
              <!-- <div class="card text-left" *ngFor="let templatelist of templateList">
                            <div class="card-header">{{templatelist.name}}</div>
                            <div class="card-body">
                                <p class="card-text">Total Amount : {{templatelist.totalAmount}}</p>
                                <p class="card-text">Total Amount : {{templatelist.dueDate}}</p>
                                </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>        
                    </div> -->
              <!-- </div> -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Sr.No.</th>
                    <th scope="col">Template Name</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">View</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr *ngFor="let templatelist of templateList; let i = index; ">
                    <th>{{ i + 1 }}</th>
                    <th scope="row">{{templatelist.name}}</th>
                    <td>Rs. {{templatelist.totalAmount}}</td>
                    <td> {{templatelist.dueDate}}</td>
                    <td>
                      <a on-click="getSubDetails(templatelist)">
                        <i class="fa fa-eye" style="font-size:30px"></i>
                      </a>
                    </td>
                    <td>
                      <a on-click="loadForm(templatelist)"> <i class="fa fa-edit" style="font-size:30px"></i></a>              
                    </td>
                    <td>
                      <a on-click="deleteFeeTemplate(templatelist.uidFeeTemplateMaster)" > <i class="fa fa-trash" style="font-size:30px;color:red"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Popup Model to display Fee Template Sub details -->
    <div class="modal fade" id="subDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Fee Template Sub Details</h5>
            <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <tr>
                <th>Type</th>
                <th>Amount</th>
              </tr>
              <tr *ngFor="let subDetailsList of subDetails">
                <td>{{subDetailsList.type}}</td>
                <td>Rs. {{subDetailsList.amount}}</td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Popup Model For Update Fee Template  -->
    <div  class="modal fade" id="updateFeeTemplate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Fee Template</h5>
            <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="templateForm" novalidate (ngSubmit)="onUpdate()">
              <div class="form-group">
                <label for="template-name" class="col-form-label">Enter Template Name:</label>
                <input type="text" class="form-control" formControlName="name" id="template-name">
              </div>
              <div class="form-group">
                <label for="due-date" class="col-form-label">Due Date:</label>
                <input type="text" class="form-control" formControlName="dueDate" id="due-date">
              </div>
              <div class="form-group">
                <label for="total-amount" class="col-form-label">Total Amount: {{totalAmount}}</label>
              </div>            
              <div formArrayName="subDetails"
                *ngFor="let subdetail of templateForm.get('subDetails').controls; let idx = index;">
                <div [formGroupName]="idx">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        <select formControlName="uidFeeType" id="uidFeeType" (change)="selectchange($event, idx)" class="form-control" required>
                          <option value="" selected> Select Fee Type </option>                          
                          <option *ngFor="let typeList of type_list;" [value]="typeList.uidFeeType">
                            {{typeList.type}}
                          </option>
                        </select>
                        <div *ngIf="templateForm.get('subDetails').controls[idx].controls.uidFeeType.errors && (templateForm.get('subDetails').controls[idx].controls.uidFeeType.dirty || templateForm.get('subDetails').controls[idx].controls.uidFeeType.touched)"                                          class="text-center error">
                            <p [hidden]="!templateForm.get('subDetails').controls[idx].controls.uidFeeType.errors.required" class="error-message">uidFeeType is required.</p>
                            </div>
                      <input type="hidden" formControlName="type" id="type" class="form-control">
                      </div>
                      <div class="col-md-4">
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Amount"
                          formControlName="amount" (change)="changeAmount($event)" required>
                          <div *ngIf="templateForm.get('subDetails').controls[idx].controls.amount.errors && (templateForm.get('subDetails').controls[idx].controls.amount.dirty || templateForm.get('subDetails').controls[idx].controls.amount.touched)"                                          class="text-center error">
                              <p [hidden]="!templateForm.get('subDetails').controls[idx].controls.amount.errors.required" class="error-message">amount is required.</p>
                              </div>
                      </div>
                      <div class="col-md-2">
                        <button type="button" class="btn btn-primary" on-click="deleteSubDetailRow(idx, subdetail.value)">
                          X</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                  <button type="button" class="btn btn-primary" on-click="addTemplateSubData()"> Add</button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Popup Model For New Fee Template Creation -->
    <div class="modal fade" id="NewFeeTemplate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Fee Template</h5>
            <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="feeTemplate" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="template-name" class="col-form-label">Enter Template Name: </label>
                <input type="text" class="form-control" formControlName="name" id="template-name" >
                <!--<span *ngIf="feeTemplate.get('name').errors && (feeTemplate.get('name').touched || feeTemplate.get('name').dirty)" class="help-block">
                    <span *ngIf="feeTemplate.get('name').errors.required" class="error-message">
                      Please fill Name!
                    </span>
                </span>-->
              </div>
              <div class="form-group">
                <label for="due-date" class="col-form-label">Due Date:</label>
                <input type="text" class="form-control" formControlName="dueDate" id="due-date">
              </div>
              <div class="form-group">
                <label for="total-amount" class="col-form-label">Total Amount: {{totalAmount}}</label>
              </div>

              <!-- <button class="btn" on-click="addItem()">+</button> -->
              <div formArrayName="subDetails"
                *ngFor="let subdetail of feeTemplate.get('subDetails').controls; let idx = index;">
                
                <div [formGroupName]="idx">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        <select formControlName="uidFeeType" id="uidFeeType" class="form-control" required>
                          <option value="" selected> Select Fee Type </option>
                          <option *ngFor="let typeList of type_list;" [value]="typeList.uidFeeType">
                            {{typeList.type}}
                          </option>
                        </select>
                        <div *ngIf="feeTemplate.get('subDetails').controls[idx].controls.uidFeeType.errors && (feeTemplate.get('subDetails').controls[idx].controls.uidFeeType.dirty || feeTemplate.get('subDetails').controls[idx].controls.uidFeeType.touched)"                                          class="text-center error">
                            <p [hidden]="!feeTemplate.get('subDetails').controls[idx].controls.uidFeeType.errors.required" class="error-message">uidFeeType is required.</p>
                            </div>
                      </div>
                      <div class="col-md-4">
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Amount"
                          formControlName="amount" (change)="changeAmount($event)" required>
                          <div *ngIf="feeTemplate.get('subDetails').controls[idx].controls.amount.errors && (feeTemplate.get('subDetails').controls[idx].controls.amount.dirty || feeTemplate.get('subDetails').controls[idx].controls.amount.touched)"                                          class="text-center error">
                              <p [hidden]="!feeTemplate.get('subDetails').controls[idx].controls.amount.errors.required" class="error-message">amount is required.</p>
                              </div>
                      </div>
                      <div class="col-md-2">
                        <button type="button" class="btn btn-primary" on-click="deleteRow(idx, subdetail.value)">
                          X</button>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                  <button type="button" class="btn btn-primary" on-click="addSubDetailsButtonClick()"> Add</button>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    
  </div>
