/* Remove col-sm-6 left padding*/
.col-6-sm{
    padding-left: unset !important;
  }
  /* m-widget4 set Padding*/
  .m-widget4-custom {
    width: 77% !important;
  }
  
  .mygroup_style {
    color: #fff;
    margin-top: unset !important;
    width: 100% !important;
    height: 100% !important;
    padding: 2.5% !important;
    border: 1px solid transparent !important;
    border-radius: 5% !important;
  }
  
  .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .mygroup_col_style_customr {
    padding: 20px !important;
    padding-bottom: 0px !important;
  }

  a:hover {
    text-decoration: none;
    color: #fff;
  }

/* Popup Model Close Button style set  */
.modal_style{
  width: 10% !important;
  margin-left: 0% !important;
  margin-top: 1% !important;
}
/* New Fee Template Button */
.btn-new-add {
  width: auto;
}

/* Button outline Style */
  .btn-outline {
    color: #4fbfa8;
    background-color: #ffffff;
    border-color: #4fbfa8;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  
  .btn-outline {
    color: #4fbfa8;
    background-color: #ffffff;
    border-color: #4fbfa8;
    font-weight: bold;
    border-radius: 0;
  }
  
  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
    background: #4fbfa8;
    color: #ffffff;
    border-color: #4fbfa8;
    
  }
  
  
  .btn-colour-1 {
    color: #fff;
    background-color: #004E64;
    border-color: #004E64;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 0;
  }
  
  .btn-colour-1:hover,
  .btn-colour-1:active,
  .btn-colour-1:focus,
  .btn-colour-1.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #003D4F;
    color: #ffffff;
    border-color: #003D4F;
  }
  