<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Daily Thoughts
      </h3>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <!--Begin::Main Portlet-->
  <div class="row">
    <div class="col-xl-12">
      <!--begin:: Widgets/New Users-->
      <div class="m-portlet m-portlet--full-height">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Daily Thoughts
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools" *ngIf="role === 'school'">
            <ul class="m-portlet__nav">
              <li class="m-portlet__nav-item">
                <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air"
                   data-toggle="modal" data-target="#m_modal_5">
									<span>
										<i class="la la-plus"></i>
										<span>
											Add Notice
										</span>
									</span>
                </a>
              </li>
            </ul>
          </div>

        </div>


        <div class="m-portlet__body">
          <div class="tab-content">

            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="title">Name</label>
                <input type="text" class="form-control" id="title" formControlName="title"
                       required>
              </div>
              <div class="form-group">
               <label class="form-control-label">
              </label>
                <textarea class="form-control" placeholder="Thoughts of the day"formControlName="message"></textarea>
              </div>
              <div class="form-group">
                <input  type="file" formControlName="attachment"  />

              </div>

              <button type="submit" class="btn btn-success">Submit</button>

            </form>
          </div>

          <!--begin::Widget 14-->


          </div>
        </div>
        <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
             aria-hidden="true">
          <div class="modal-dialog modal-md" role="document">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()"><!--[formGroup]="userForm" (ngSubmit)="onSubmit()"-->
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel4">
                    Reoprt
                  </h5>
                  <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label class="form-control-label">
                      Broadcast Notification
                    </label><br/>
                  <input type="text" placeholder="Title of the thoughts">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Thoughts of the day"formControlName="message"></textarea>
                  </div>
                  <div class="form-group">
                    <input id="browse" type="file" formControlName="attachment"  />
                  </div>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Send
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--end:: Widgets/New Users-->
    </div>
  </div>
  <!--End::Main Portlet-->
