<!-- Take Attendance by Teacher, school, while attendance_status is true -->
<div *ngIf="role == 'teacher' && attendance_status == true || role == 'coadmin'  || role == 'school' && attendance_status == true">
  <div class="m-subheader m-subheader-attendance">
    <div class="row">
      <div class="col-lg-12">

        <div class="attendance-heading-section">
          <a routerLink="/attendance/{{'classes'}}">
            <h2 class="m-subheader__title">
              Attendance
            </h2>
            <p class="sub-heading">Students Attendance</p>
          </a>
        </div>
        <div class="attendance-btn-section">
          <!--<a href="#" class="attendance-add-btn mt-3" *ngIf="role !== 'student'" ng-reflect-href="#" aria-hidden="true"
            data-toggle="modal">+ Take Attendance</a>-->
        </div>




        <!--<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
        data-dropdown-toggle="hover" aria-expanded="true">
        <a href="#" class="btn btn-sm m-btn take-btn">
          + Take Attendance
        </a>-->
        <!-- <div class="m-dropdown__wrapper">
            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
            <div class="m-dropdown__inner">
              <div class="m-dropdown__body">
                <div class="m-dropdown__content">
                  <ul class="m-nav">
                    <li class="m-nav__section m-nav__section--first m--hide">
                      <span class="m-nav__section-text">
                        Quick Actions
                      </span>
                    </li>
                    <li class="m-nav__item">
                      <a href="" class="m-nav__link">
                        <i class="m-nav__link-icon flaticon-share"></i>
                        <span class="m-nav__link-text">
                          Activity
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> 
      </div>-->
      </div>
    </div>
  </div>


  <div class="m-content m-content-attendance">
    <p class="select-class">Select Class to View Attendance</p>
    <div class="content">
      <div class="row">
        <div class="col-lg-4 mb-4" *ngFor="let class of class_data">
          <div class="white-box-attendance">
            <a routerLink="/attendance/class/{{class.std_div}}">

              <div class="attendance-class-div">
                <p class="class-name-attendance">
                  Class {{class.std_div}}
                </p>
              </div>
              <div class="attendance-count-div">
                <div class="class-strength text-center">
                  {{class.student}}
                </div>
              </div>

              <!--<div class="row">
                <div class="col-lg-6 col-md-6">
                  <p class="class-name-attendance">
                     {{class.std_div}}
                  </p>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="class-strength text-center">
                    {{class.student}}
                  </div>
                </div>
              </div>-->
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- All classes schedule -->
<div *ngIf="role == 'teacher' && classAttendanceView == true || role == 'coadmin'  || role == 'school' && classAttendanceView == true">
  <form [formGroup]="myForm">
    <div class="m-subheader m-subheader-attendance" appunwraptag="">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <a routerLink="/attendance/{{'classes'}}">
            <h3 class="m-subheader__title">
              Attendance
            </h3>
          </a>
          <p class="sub-heading">All classes schedule</p>
        </div>
        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
          data-dropdown-toggle="hover" aria-expanded="true">
          <a on-click="takeAttendance()" class="btn btn-default btn-sm btn-done mr-1">Done</a>
          <a href="#" routerLink="/attendance" class="btn btn-sm m-btn take-btn">
            Select Class
          </a>

        </div>
      </div>
    </div>
    <div class="m-content m-content-attendance">
      <div class="content">
        <div class="row">
          <div class="col-xl-12">
              <div class="m-portlet m-portlet--full-height m-portlet--full-height-attendance">
                  <div class="m-portlet__body m-portlet__body_view m-portlet__body-attendance">
                    <div class="row">
                      <div class="col-xl-3 class-padding">
                        <span class="attendance-box-class">Class {{className}}</span>
                      </div>
                      <div class="col-xl-3 class-padding">
                        <span class="attendance-dot dot-left bg-success">P</span> <span class="attendance-count">{{ presentStudent }}</span>
                        <span class="attendance-dot dot-left bg-danger">A</span> <span class="attendance-count">{{ absentStudent }}</span>
                        <span class="attendance-dot dot-left bg-warning">L</span> <span class="attendance-count">{{ leaveStudent }}</span>
                      </div>
                      <div class="col-xl-5 align-right">
                        <span class="attendance-grey-text">Total Strength  &nbsp;</span> <span class="attendance-totalstudent">   {{ totalStudent }}  </span> <span class="straight-line">&nbsp;&nbsp;|&nbsp;&nbsp;</span>   <img src="././assets/images/events.png" class="attendance-calendar">&nbsp;
                        <span class="attendance-totalstudent">   {{currentDay | date: 'd MMM y' }}</span>
                      </div>
                    </div>

                  </div>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="">
              <div class="m-portlet__body">
                <div class="row">
                  <div class="col-xl-1 img-profile padding-unset pl-1 pr-1"
                    *ngFor="let attend of attendance1; let i = index">

                    <img src="{{attend.avtarURL}}" onError="this.src='././assets/images/avatar.jpg'"
                      class="m--img-rounded m--marginless m--img-centered img-height" alt="" />

                    <div class="tooltip-attendance " [ngClass]="{'active': attendanceFlag == attend.name}">
                      <div class="info">
                        <div class="round-1">
                          <div class="float-left">
                            <input type="checkbox" id="checkbox{{i}}" 
                              (change)="onChange(attend.uid, $event.target.checked, 'absent')" />
                            <label for="checkbox{{i}}" class="checkbox-present present">P</label>
                          </div>
                          <!-- </div>
                          <div class="round" > -->
                          <div class="float-left">
                            <input type="checkbox" id="checkboxabsent{{i}}" 
                              (change)="onChange(attend.uid, $event.target.checked, 'present')" />
                            <label for="checkboxabsent{{i}}" class="checkbox-Absent absent">A</label>
                          </div>

                          <div class="float-left">
                            <input type="checkbox" id="checkboxleave{{i}}"
                              (change)="onChange(attend.uid, $event.target.checked, 'leave')" />
                            <label for="checkboxleave{{i}}" class="checkbox-leave leave">L</label>
                          </div>
                        </div>
                        <div class="arrow"></div>
                      </div>

                      <div class="plus-button" on-click="attendancePerson(attend.name)">
                        <p class="text-center">{{ attend.name }}</p>
                        <!-- <label>+</label> -->
                        <div class="dot-row" *ngIf="attend.isPresent === false  && !attend.onLeave">
                          <span class="attendance-dot dot-left bg-success">P</span>
                        </div>
                        <div class="dot-row" *ngIf="attend.isPresent === true">
                          <span class="attendance-dot dot-left bg-danger">A</span>
                        </div>
                        <div class="dot-row" *ngIf="attend.isPresent === false && attend.onLeave">
                          <span class="attendance-dot dot-left bg-warning">L</span>
                        </div>
                        
                      </div>
                    </div>



                   
                    <!-- <div class="col-xl-1">
                      <div class="dot-row" *ngIf="attend.isPresent === false  && !attend.onLeave">
                        <span class="attendance-dot dot-left bg-success">P</span>
                      </div>
                      <div class="dot-row" *ngIf="attend.isPresent === true">
                        <span class="attendance-dot dot-left bg-danger">A</span>
                      </div>
                      <div class="dot-row" *ngIf="attend.isPresent === false && attend.onLeave">
                        <span class="attendance-dot dot-left bg-warning">L</span>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="role == 'teacher' && allStudentAttendanceView == true || role == 'coadmin'  || role == 'school' && allStudentAttendanceView == true">
  <form [formGroup]="myForm">
    <div class="m-subheader m-subheader-attendance" appunwraptag="">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <a routerLink="/attendance/{{'classes'}}">
            <h3 class="m-subheader__title">
              Attendance
            </h3>
          </a>
          <p class="sub-heading">Student Attendance</p>
        </div>
        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
          data-dropdown-toggle="hover" aria-expanded="true">

          <!-- <a href="#" routerLink="/attendance/classes" class="btn btn-sm m-btn take-btn">
            +  TAKE ATTENDANCE
          </a> -->
          <a href="#" routerLink="/attendance/classes" class="btn btn-sm m-btn take-btn">
            VIEW ATTENDANCE
          </a>
        </div>
      </div>
    </div>
    <div class="m-content">
      <div class="content">
        <div class="row">
          <div class="col-xl-12">
            <div class="m-portlet m-portlet--full-height m-portlet--full-height-attendance">
              <div class="m-portlet__body m-portlet__body_view m-portlet__body-attendance">
                <div class="row">
                  <div class="col-xl-3 class-padding">
                    <span class="attendance-box-class">Class {{className}}</span>
                  </div>
                  <div class="col-xl-3 class-padding">
                    <span class="attendance-dot dot-left bg-success">P</span> <span class="attendance-count">{{ presentStudent }}</span>
                    <span class="attendance-dot dot-left bg-danger">A</span> <span class="attendance-count">{{ absentStudent }}</span>
                    <span class="attendance-dot dot-left bg-warning">L</span> <span class="attendance-count">{{ leaveStudent }}</span>
                  </div>
                  <div class="col-xl-5 align-right">
                    <span class="attendance-grey-text">Total Strength  &nbsp;</span> <span class="attendance-totalstudent">   {{ totalStudent }}  </span> <span class="straight-line">&nbsp;&nbsp;|&nbsp;&nbsp;</span>   <img src="././assets/images/events.png" class="attendance-calendar">&nbsp;
                    <span class="attendance-totalstudent">   {{currentDay | date: 'd MMM y' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="">
              <div class="m-portlet__body">
                <div class="row">
                  <div class="col-xl-3">
                  </div>
                  <div class="col-xl-1 align-center">
                    {{currentDay | date: 'dd EEEE' }}
                  </div>
                </div>
                <div class="row" *ngFor="let attend of studentWeekAttendance; let i = index">
                  <div class="col-xl-3">
                    <img src="{{attend.avtarURL}}" onError="this.src='././assets/images/avatar.jpg'"
                      class="m--img-rounded m--marginless m--img-centered img-height" alt="" />
                    {{attend.name}}
                  </div>
                  <!-- <div class="col-xl-1">
                    <div class="dot-row" *ngIf="attend.isPresent === false  && !attend.onLeave">
                      <span class="attendance-dot dot-left bg-success">P</span>
                    </div>
                    <div class="dot-row" *ngIf="attend.isPresent === true">
                      <span class="attendance-dot dot-left bg-danger">A</span>
                    </div>
                    <div class="dot-row" *ngIf="attend.isPresent === false && attend.onLeave">
                      <span class="attendance-dot dot-left bg-warning">L</span>
                    </div>
                  </div> -->
                  <div class="col-xl-1">
                    <div class="dot-row" *ngIf="attend.isPresent === false  && !attend.onLeave">
                      <span class="attendance-dot dot-left bg-success">P</span>
                    </div>
                    <div class="dot-row" *ngIf="attend.isPresent === true">
                      <span class="attendance-dot dot-left bg-danger">A</span>
                    </div>
                    <div class="dot-row" *ngIf="attend.isPresent === false && attend.onLeave">
                      <span class="attendance-dot dot-left bg-warning">L</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Take Attendance by Teacher, school, while attendance_status is true -->
<div *ngIf="role == 'teacher' && allClassView == true || role == 'coadmin'  || role == 'school' && allClassView == true">
  <div class="m-subheader m-subheader-attendance" appunwraptag="">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <a routerLink="/attendance/{{'classes'}}">
          <h3 class="m-subheader__title">
            Attendance
          </h3>
        </a>
        <p class="sub-heading">All Classes schedule</p>
      </div>
      <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
        data-dropdown-toggle="hover" aria-expanded="true">
        <a routerLink="/attendance" class="btn btn-sm m-btn take-btn">
          +  TAKE ATTENDANCE
        </a>
      </div>
    </div>
  </div>
  <div class="m-content m-content-attendance">
    <p class="select-class">Today's Attendance overview</p>
    <div class="content">
      <div class="row">
        <div class="col-xl-3" *ngFor="let class of class_data">
          <div class="m-portlet m-portlet--full-height-custom m-portlet-student">
            <a routerLink="/attendance/students/{{class.std_div}}">
              <div class="m-portlet__body m-portlet__body__padding">
                <span class="attendance-box-class2">{{class.std_div}}</span>
                <p class="attendance-details"> <span class="attendance-dot dot-top bg-success">P</span> <span class="attendance-count2">{{ presentStudent }}</span>
                  <span class="attendance-dot dot-left dot-top bg-danger">A</span> <span class="attendance-count2">{{ absentStudent }}</span>
                  <span class="attendance-dot dot-left dot-top bg-warning">L</span> <span class="attendance-count2">{{ leaveStudent }}</span>
                <p class="botton-padding totalstudent-heading">Total Students <span class="botton-padding totalstudent-count"> {{ totalStudent }}</span></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="role == 'student' || role == 'parent'">
  <!-- <div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          Attendance
        </h3>
      </div>
      <div>
        <div
          class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
          data-dropdown-toggle="hover" aria-expanded="true">
          <a href="#"
             class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
            <i class="la la-plus m--hide"></i>
            <i class="la la-ellipsis-h"></i>
          </a>
          <div class="m-dropdown__wrapper">
            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
            <div class="m-dropdown__inner">
              <div class="m-dropdown__body">
                <div class="m-dropdown__content">
                  <ul class="m-nav">
                    <li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
                    </li>
                    <li class="m-nav__item">
                      <a href="" class="m-nav__link">
                        <i class="m-nav__link-icon flaticon-share"></i>
                        <span class="m-nav__link-text">
												Activity
											</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="m-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="mr-auto">
          <h2 class="m-subheader__title heading-style-attendance">
            Attendance
          </h2>
        </div>
        <div class="m-portlet m-portlet-custom-1 m-portlet--full-height m-portlet--full-height-custom">
          <div class="m-portlet__head m-portlet__head-custom">

            <div class="m-portlet__head-tools m-portlet__head-tools-bottom">
              <ul
                class="nav nav-pills nav-pills--brand nav-pills--brand-custom m-nav-pills--align-left m-nav-pills--btn-pill m-nav-pills--btn-sm"
                role="tablist">
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget4_student_tab1_content"
                    role="tab">
                    Members
                  </a>
                </li>
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link" data-toggle="tab" on-click="getAttendanceforstudent()"
                    href="#m_widget4_student_tab2_content" role="tab">
                    Attendance
                  </a>
                </li>
                <!-- <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_student_tab3_content" role="tab">
                   Examination
                  </a>
                </li> -->
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link" data-toggle="tab" on-click="getStudentPerformanceBySubject()"
                    href="#m_widget4_student_tab3_content" role="tab">
                    Performance
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-portlet__body m-portlet__body-popup-custom">
            <div class="tab-content">
              <!-- Student Detail View tab -->
              <div class="tab-pane active" id="m_widget4_student_tab1_content">
                <!--begin::Widget 14-->
                <div class="m-widget4">

                  <div class="col-lg-12 row-background" *ngIf="studentDetails">
                    <div class="row">
                      <div class="col-lg-2 col-md-2">
                        <span><img src="studentDetails.avtarURL" class="m--img-rounded m--marginless m--img-centered"
                            height="70px" width="70px" onError="this.src='././assets/images/avatar.jpg'"></span>
                      </div>
                      <div class="col-lg-10 col-md-10">
                        <div class="row">
                          <div class="col-lg-4 col-md-4">
                            <span class="popup-name">
                              {{studentDetails.name}}
                            </span>
                            <p>Student</p>
                          </div>
                          <div class="col-lg-8 col-md-8 col-sm-12">
                            <div class="modal-icons"><a href="#" class="pull-right mr-3"><img
                                  src="././assets/images/watsapp.png" height="30px" width="30px"></a>
                              <a href="#mymodal" class="ml-4 pull-right mr-4" data-toggle="modal"
                                data-target="#myModal"><img src="././assets/images/message.png" height="30px"
                                  width="30px"></a>
                              <a href="#" class="ml-4 pull-right"><img src="././assets/images/inbox.png" height="30px"
                                  width="30px"></a>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-4 col-md-4">
                            City
                            <p>Pune</p>
                          </div>
                          <div class="col-lg-4 col-md-4">
                            Address
                            <p>XXXX</p>
                          </div>
                          <div class="col-lg-4 col-md-4">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-4 col-md-4">
                            Phone
                            <p *ngIf="profile.phone">{{studentDetails.phone}}</p>
                            <p *ngIf="!profile.phone"> +91 XXXXX XXXXX </p>
                          </div>
                          <div class="col-lg-4 col-md-4">
                            Email
                            <p *ngIf="profile.email">{{studentDetails.email}}</p>
                            <p *ngIf="!profile.email">XXXXXX@mail.com</p>
                          </div>
                          <div class="col-lg-4 col-md-4">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end::Widget 14 Item-->
                </div>
              </div>
              <!-- Student Attendance chart & calendar View tab -->
              <div class="tab-pane" id="m_widget4_student_tab2_content">
                <!--begin::Widget 14-->
                <div class="m-widget4 ">
                  <div class="col-lg-12 col-md-12 col-sm-12 row-background" *ngIf="studentDetails">
                    <div class="row">
                      <div class="col-sm-6 ">
                        <div class="m-widget14">
                          <div class="row  align-items-center">
                            <div class="col">
                              <div id="m_chart_attendance" class="m-widget14__chart" style="height: 140px">
                                <div class="m-widget14__stat donut-stat"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="text-center"><span> <span class="attendance-dot bg-danger"></span> Absent </span> <span><span
                              class="attendance-dot bg-success"></span> Present </span><span><span class="attendance-dot bg-warning"></span>
                            Leave </span> </div>
                      </div>
                      <div class="col-sm-5 offset-sm-1">
                        <div class="m-widget14 m-widget4-calendar">
                          <div id="m_calendar_event">
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end::Widget 14 Item-->
                </div>
              </div>
              <!-- Student Performance chart View tab -->
              <div class="tab-pane" id="m_widget4_student_tab3_content">
                <!--begin::Widget 14-->
                <div class="m-widget4 ">

                  <div class="col-lg-12 col-md-12 col-sm-12 row-background " *ngIf="studentDetails">
                    <div class="row  ">
                      <div class="col-lg-3 col-md-3 col-sm-3">
                        <div>
                          <h3>Student Performance</h3>

                        </div>
                      </div>
                      <div class="col-lg-9 col-md-9 col-sm-9 ">
                        <div class="col mt-4">
                          <div id="m_chart_performance" class="m-widget14__chart" style="height: 140px">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end::Widget 14 Item-->
                </div>
              </div>
            </div>
          </div>
          <!--end::Modal-->
        </div>


        <!-- <div class="m-portlet" id="m_portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                  <i class="m-menu__link-icon fa  fa-pencil-square-o"></i>
                </span>
                <h3 class="m-portlet__head-text">
                  Attendance
                </h3>
              </div>
            </div>
          </div>
          <div class="center">
            <div class="row">
              <div class="col-sm-6">
                <div class="m-widget14">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row profile-card">
                        <div class="col-sm-6 ">
                          <img src="{{profile.avtarURL}}" alt="{{profile.name}}"
                            onError="this.src='././assets/images/avatar.jpg'" style="width:100%">
                        </div>
                        <div class="col-sm-6">
                          <h2><u>{{profile.name}}</u></h2>
                          <p>{{ profile.email }}</p>
                          <p>{{ profile.phone }}</p>
                          <p class="title">Class: {{ class_value }}</p>
                          <p>School: {{ profile.school }}</p>
                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="row  align-items-center">
                    <div class="col">
                      <div id="m_chart_attendance" class="m-widget14__chart" style="height: 140px">
                        <div class="m-widget14__stat donut-stat">In {{day_count}} days</div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="m-widget14__legends">
                        <div class="m-widget14__legend">
                          <span class="m-widget14__legend-bullet m--bg-success present"></span>
                          <span class="m-widget14__legend-text">
                            {{present_percent}} % Present
                          </span>
                        </div>
                        <div class="m-widget14__legend">
                          <span class="m-widget14__legend-bullet m--bg-danger absent"></span>
                          <span class="m-widget14__legend-text">
                            {{absent_percent}} % Absent
                          </span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="m-widget14">
                  <div id="m_calendar_event"></div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div *ngIf="role == 'school' && schoolPerformanaceStatus == true">
  <div class="m-content">
    <div class="row">
      <div class="col-lg-12">

        <div class="m-portlet" id="m_portlet">

          <!--header start-->
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                  <!--<i class="flaticon-map-location"></i>-->
                  <i class="m-menu__link-icon fa  fa-pencil-square-o"></i>
                </span>
                <h3 class="m-portlet__head-text">
                  Attendance
                </h3>
              </div>
            </div>
            <!--<div class="m-portlet__head-tools">
              <ul
                class="nav nav-pills nav-pills&#45;&#45;brand m-nav-pills&#45;&#45;align-right m-nav-pills&#45;&#45;btn-pill m-nav-pills&#45;&#45;btn-sm"
                role="tablist">
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget4_tab_attendance_content"
                     role="tab">
                    Attendance
                  </a>
                </li>
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_tab_performance_content"
                     role="tab">
                    Performance
                  </a>
                </li>
              </ul>
            </div>-->
          </div>
          <div class="m-portlet__body">
            <div class="tab-content">
              <div class="tab-pane active" id="m_widget4_tab_attendance_content">
                <div class="center">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="m-widget14">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="row profile-card">
                              <div class="col-sm-6 col-6-sm">
                                <img src="{{profile.avtarURL}}" alt="{{profile.name}}" style="width:100%"
                                  onError="this.src='././assets/images/avatar.jpg'">
                              </div>
                              <div class="col-sm-6">
                                <h2><u>{{profile.name}}</u></h2>
                                <p>{{ profile.phone }}</p>
                                <p>{{ profile.email }}</p>
                                <p class="title"> {{ profile.std }}{{ profile.div }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row  align-items-center">
                          <div class="col">
                            <div id="m_chart_attendance" class="m-widget14__chart" style="height: 140px">
                              <div class="m-widget14__stat donut-stat">In {{day_count}} days</div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="m-widget14__legends">
                              <div class="m-widget14__legend">
                                <span class="m-widget14__legend-bullet m--bg-success present"></span>
                                <span class="m-widget14__legend-text">
                                  {{present_percent | number:'2.2-2' }} % Present
                                </span>
                              </div>
                              <div class="m-widget14__legend">
                                <span class="m-widget14__legend-bullet m--bg-danger absent"></span>
                                <span class="m-widget14__legend-text">
                                  {{absent_percent | number:'2.2-2' }} % Absent
                                </span>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="m-widget14">

                        <div id="m_calendar_event"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane " id="m_widget4_tab_performance_content">
                <div class="center">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="m-widget14">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="row profile-card">
                              <div class="col-sm-6 col-6-sm">
                                <img src="{{profile.avtarURL}}" alt="{{profile.name}}" style="width:100%"
                                  onError="this.src='././assets/images/avatar.jpg'">
                              </div>
                              <div class="col-sm-6">
                                <h2><u>{{profile.name}}</u></h2>
                                <p>{{ profile.phone }}</p>
                                <p>{{ profile.email }}</p>
                                <p class="title"> {{ profile.std }}{{ profile.div }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row  align-items-center">
                          <div class="col">
                            <div id="m_chart_performance" class="m-widget14__chart" style="height: 140px">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 result-card">
                      <div class="m-widget14 m-result-card">
                        <div class="col-sm-12" *ngFor="let e of exam_data">
                          <div class="row">
                            <div class="card card_view">
                              <div class="card-body">
                                <h5 class="card-title">{{e.subject}} <span class="right-align">
                                    {{e.date | date: 'd MMMM'}}</span>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{e.title}}</h6>
                                <p class="card-text">{{e.description}}</p>
                                <h6 class="card-subtitle mb-2 text-muted">Time: {{e.time}} Duration: {{e.duration}}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Marks: {{ e.score}}/{{ e.totalMarks}} {{
                                  e.state }}</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="role == 'school' && student_attendance_state == true">
  <div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title">
          Attendance
        </h3>
      </div>
      <div>
        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
          data-dropdown-toggle="hover" aria-expanded="true">
          <a href="#" class="btn btn-sm m-btn take-btn">
            + Take Action
          </a>
          <div class="m-dropdown__wrapper">
            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
            <div class="m-dropdown__inner">
              <div class="m-dropdown__body">
                <div class="m-dropdown__content">
                  <ul class="m-nav">
                    <li class="m-nav__section m-nav__section--first m--hide">
                      <span class="m-nav__section-text">
                        Quick Actions
                      </span>
                    </li>
                    <li class="m-nav__item">
                      <a href="" class="m-nav__link">
                        <i class="m-nav__link-icon flaticon-share"></i>
                        <span class="m-nav__link-text">
                          Activity
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-content">
    <div class="row">
      <div class="col-lg-12">

        <div class="m-portlet" id="m_portlet">

          <!--header start-->
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                  <!--<i class="flaticon-map-location"></i>-->
                  <i class="m-menu__link-icon fa  fa-pencil-square-o"></i>
                </span>
                <h3 class="m-portlet__head-text">
                  Attendance
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <!-- Grid row -->
            <div class="m-accordion" id="m_accordion_2" role="tablist">
              <!--begin::Item-->
              <div class="m-accordion__item" *ngFor="let cp of class_list; let i=index">
                <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_2_item_1_head">
                  <!-- on-click="getStudent(class.std_div)"-->
                  <div>
                    <div class="w3-card-2">
                      <span class="m-accordion__item-title">
                        <!--on-click="getStudentAndTeacher(class.std_div)"-->
                        <div class="row">
                          <div class="col-xl-1 mygroup_style" [style.background]="colors[i % 4]">
                            <span class="m-widget4__title">
                              {{cp.std_div}}
                            </span>
                          </div>
                          <div class="col-xl-11 mygroup_col_style mygroup_col_style_customr">
                            <span class="m-widget4__sub" style="text-align: center;" [style.color]="colors[i %  4]">
                              <div class="each-class-per">
                                {{cp.present}}/{{cp.student}}
                              </div>
                            </span>
                          </div>
                        </div>
                      </span>

                      <span class="m-accordion__item-mode">
                        <div class="row">
                          <div class="m-portlet__head m-portlet__custom">
                            <div class="m-portlet__head-tools row">
                              <ul
                                class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm nav-border"
                                role="tablist">
                                <li class="nav-item m-tabs__item" data-toggle="collapse" [attr.href]="'#main_tab'+ i"
                                  aria-expanded="false">
                                  <a class="nav-link m-tabs__link student-bg-color" data-toggle="tab"
                                    [attr.href]="'#student_tab'+ i" role="tab" on-click="getStudent(cp.std_div)">
                                    Students
                                  </a>
                                </li>
                                <li class="nav-item m-tabs__item " data-toggle="collapse" [attr.href]="'#main_tab'+ i"
                                  aria-expanded="false">
                                  <a class="nav-link m-tabs__link teacher-bg-color" data-toggle="tab"
                                    [attr.href]="'#teacher_tab'+ i" role="tab" on-click="getTeacher(cp.std_div)">
                                    Teachers
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </span>
                    </div>
                  </div>


                  <!--end::Item-->
                  <!--begin::Item-->

                </div>
                <div class="m-accordion__item-body  collapse" [id]="'main_tab'+ i">
                  <div>
                    <div class="m-portlet__body m-portlet__body-custom">
                      <div class="tab-content">
                        <div class="tab-pane active" [id]="'student_tab'+ i">
                          <div class="m-widget4" *ngFor="let student of students_list">
                            <div *ngIf="cp.std_div == student.std+student.div">
                              <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--pic">
                                  <img src="{{student.avtarURL}}" alt="img"
                                    onError="this.src='././assets/images/avatar.jpg'">
                                </div>
                                <div class="m-widget4__info m-widget4-custom">
                                  <span class="m-widget4__title">{{student.name}}
                                  </span>
                                  <br>
                                </div>
                                <div class="m-widget4__ext">
                                  <a href="#"
                                    class="m-btn btn-warning m-btn--hover-brand m-btn--pill btn btn-sm btn-secondary pull-right"
                                    on-click="getStudentPerformanceRedirect(student, student.uid)">
                                    <!--on-click="getStudentPerformanceRedirect(student)"-->
                                    Performance
                                  </a>
                                  <a href="#"
                                    class="m-btn btn-warning m-btn--hover-brand m-btn--pill btn btn-sm btn-secondary pull-right"
                                    on-click="gotoAttendace(student, student.uid)">
                                    <!--routerLink="/attendance/{{student.uid}}"-->
                                    Attendance
                                  </a>
                                </div>
                              </div>
                              <br>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane " [id]="'teacher_tab'+ i">
                          <div class="m-widget4 " *ngFor="let teacher of teacher_data">
                            <div *ngIf="cp.std_div == teacher.std+teacher.div">
                              <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--pic">
                                  <img src="{{teacher.avtarURL}}" alt="img"
                                    onError="this.src='././assets/images/avatar.jpg'">
                                </div>
                                <div class="m-widget4__info">
                                  <span class="m-widget4__title">
                                    {{teacher.name}} {{teacher.std}} {{teacher.div}}
                                  </span>
                                  <br>
                                </div>
                              </div>
                              <br>
                              <!--</div>-->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--end::Section-->
              </div>
              <!-- Grid row -->
              <!--  <div class="m-portlet__body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="m_widget4_tab1_content" >
                      &lt;!&ndash;begin::Widget 14&ndash;&gt;
                      <div class="m-widget4" *ngFor="let cp of class_performance">                              &lt;!&ndash;forloop&ndash;&gt;
                        &lt;!&ndash;begin::Widget 14 Item&ndash;&gt;
                        <div class="m-widget4__item" >

                          <div class="m-widget4__img m-widget4__img&#45;&#45;pic">
                            <img src="" alt="">
                          </div>
                          <div class="m-widget4__info">
                                                <span class="m-widget4__title">
                                                    {{cp.class}}
                                                </span>
                            <br>
                            <span class="m-widget4__sub">
                                                    {{cp.performance}} %
                                                </span>
                          </div>

                        </div><br>

                      </div>

                    </div>


                  </div>
                </div>-->
            </div>
            <!--end:: Widgets/New Users-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Student Selection box -->
<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel5">
          Select Student
        </h5>
      </div>
      <div class="modal-body">
        <div *ngIf="child_list">

          <div *ngFor="let child of _child_list; let i = index">
            <div class="m-widget4__item" on-click="setChild(child)">
              <div class="m-widget4__img m-widget4__img--pic">
                <img src="{{child.avtarURL}}" class="m--img-rounded m--marginless m--img-centered" height="70px"
                  width="70px" onError="this.src='././assets/images/avatar.jpg'">
                {{child.name}}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!child_list">
          Child not found
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div *ngIf="role == 'teacher'">
  &lt;!&ndash; BEGIN: Subheader &ndash;&gt;
  <div class="m-subheader" appunwraptag="" >
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title">
          Attendance
        </h3>
      </div>
      <div
        class="m-dropdown m-dropdown--inline m-dropdown--small m-dropdown--arrow m-dropdown--align-right m-dropdown--custom"
        data-dropdown-toggle="click">
      <span class="m-dropdown__label">
					<span class="m-dropdown__label-title">Class:</span>
					<span class="m-dropdown__label-subtitle m--font-brand">{{class_value ? class_value : 'select class'}}</span>
				</span>
        <a href="#"
           class="m-dropdown__toggle btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
          <i class="la la-angle-down"></i>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--right"></span>
          <div class="m-dropdown__inner">
            <div class="m-dropdown__body">
              <div class="m-dropdown__content">
                <div class="m-scrollable" data-scrollable="true" data-max-height="250">

                  <ul class="m-nav" >

                    <li class="m-nav__section m-nav__section--first">
										<span class="m-nav__section-text">
											Classes
										</span>
                    </li>

                    <span *ngFor="let class of class_data">
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon fa fa-language"></i>
                      <span class="m-nav__link-text" on-click="getStudent(class.std_div)">
												{{class.std_div}}
											</span>
                    </a>
                  </li>
                  </span>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      &lt;!&ndash; <div>
         <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                   <span class="m-subheader__daterange-label">
                       <span class="m-subheader__daterange-title">Class:</span>
                       <span class="m-dropdown__label-subtitle m--font-brand">{{class_value ? class_value : 'select class'}}</span>
                   </span>
                   <span class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                       <i class="la la-angle-down"></i>
                   </span>
               </span>
       </div>&ndash;&gt;
    </div>
  </div>
  &lt;!&ndash; END: Subheader &ndash;&gt;
  <div class="m-content">
    &lt;!&ndash;Begin::Main Portlet&ndash;&gt;
    <div class="row">
      <div class="col-xl-12">
        &lt;!&ndash;begin:: Widgets/New Users&ndash;&gt;

        <div class="m-portlet m-portlet--full-height" >
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Attendance Roster
                </h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <ul
                class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm"
                role="tablist">
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget4_tab1_content" role="tab">
                    Take
                  </a>
                </li>
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_tab2_content" role="tab">
                    View
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="m-portlet__body">
            <div class="tab-content">
              <div class="tab-pane active" id="m_widget4_tab1_content">
                &lt;!&ndash;begin::Widget 14&ndash;&gt;
                <div class="m-widget4">
                  &lt;!&ndash;begin::Widget 14 Item&ndash;&gt;
                  <div class="m-widget4__item" *ngFor="let attend of attendance1">

                    <div class="m-widget4__img m-widget4__img--pic">
                      <img src="{{attend.avtarURL}}" alt="">
                    </div>

                    <div class="m-widget4__info">
                                          <span class="m-widget4__title">
                                              {{attend.name}}
                                          </span>
                      <br>
                      <span class="m-widget4__sub">
                                          </span>
                    </div>

                    <div class="m-widget4__ext">
                      <span class="m-switch m-switch--outline m-switch--success">
                        <label>
                          <input type="checkbox" checked="checked" name="">
                          <span></span>
                        </label>
                      </span>
                    </div>

                  </div>
                  &lt;!&ndash;end::Widget 14 Item&ndash;&gt;
                </div>
                &lt;!&ndash;end::Widget 14&ndash;&gt;
              </div>
              &lt;!&ndash;<div class="tab-pane" id="m_widget4_tab2_content">
                &lt;!&ndash;begin::Widget 14&ndash;&gt;
                <div class="m-widget4">
                  &lt;!&ndash;begin::Widget 14 Item&ndash;&gt;

                  <div class="m-widget4__item" *ngFor="let attend of attendance1">

                    <div class="m-widget4__img m-widget4__img--pic">
                      <img src="{{attend.avtarURL}}" alt="">
                    </div>

                    <div class="m-widget4__info">
                                          <span class="m-widget4__title">
                                              {{attend.name}}
                                          </span>
                      <br>
                      <span class="m-widget4__sub">
                        I A
                                          </span>
                    </div>

                    <div class="m-widget4__ext">
                      <span class="m-switch m-switch--outline m-switch--success">
                        <label>
                          <input type="checkbox" checked="checked" name="">
                          <span></span>
                        </label>
                      </span>
                    </div>

                  </div>
                  &lt;!&ndash;end::Widget 14 Item&ndash;&gt;
                </div>
                &lt;!&ndash;end::Widget 14&ndash;&gt;
              </div>&ndash;&gt;
              <div class="m-portlet__body">
                <div class="tab-content">
                  &lt;!&ndash;
                                  <div class="tab-pane active" id="m_widget4_tab1_content">
                  &ndash;&gt;
                  &lt;!&ndash;begin::Widget 14&ndash;&gt;
                 &lt;!&ndash; <div class="m-widget4" *ngFor="let student of students_list">
                    &lt;!&ndash;begin::Widget 14 Item&ndash;&gt;
                    <div class="m-widget4__item" *ngIf="student.isActive">
                      <div class="m-widget4__img m-widget4__img--pic">
                        <img src="{{student.avtarURL}}" alt="">
                      </div>
                      <div class="m-widget4__info">
										<span class="m-widget4__title">
											{{student.name}}
										</span>
                      </div>
                    </div>
                    <br>
                    &lt;!&ndash;end::Widget 14 Item&ndash;&gt;
                  </div>&ndash;&gt;
                  &lt;!&ndash;end::Widget 14&ndash;&gt;
                </div>
               &lt;!&ndash; <div class="tab-pane" id="m_widget4_tab2_content">
                  &lt;!&ndash;begin::Widget 14&ndash;&gt;
                  <div class="m-widget4"   *ngFor="let student of approval_list">
                    &lt;!&ndash;begin::Widget 14 Item&ndash;&gt;
                    <div class="m-widget4__item">
                      <div class="m-widget4__img m-widget4__img--pic">
                        <img src="{{student.avtarURL}}" alt="">
                      </div>

                      <div class="m-widget4__info">
										<span class="m-widget4__title">
											{{student.name}}
										</span>
                        <br>
                        <span class="m-widget4__sub">
											{{student.std}} {{student.div}}
										</span>
                      </div>
                    </div><br>

                    &lt;!&ndash;end::Widget 14 Item&ndash;&gt;
                  </div>
                  &lt;!&ndash;end::Widget 14&ndash;&gt;
                </div>&ndash;&gt;
              </div>
            </div>
          </div>
        </div>
      </div>

      &lt;!&ndash;end:: Widgets/New Users&ndash;&gt;
    </div>
  </div>
  &lt;!&ndash;End::Main Portlet&ndash;&gt;
</div>




<div *ngIf="role == 'student'">

  &lt;!&ndash;main header &ndash;&gt;
  <div class="m-subheader" appunwraptag="" >
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          Attendance
        </h3>

      </div>
      <div>
        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
          <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
            <i class="la la-plus m--hide"></i>
            <i class="la la-ellipsis-h"></i>
          </a>
          <div class="m-dropdown__wrapper">
            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
            <div class="m-dropdown__inner">
              <div class="m-dropdown__body">
                <div class="m-dropdown__content">
                  <ul class="m-nav">
                    <li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
                    </li>
                    <li class="m-nav__item">
                      <a href="" class="m-nav__link">
                        <i class="m-nav__link-icon flaticon-share"></i>
                        <span class="m-nav__link-text">
												Activity
											</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="m-content">
    <div class="row">
      <div class="col-lg-12">

        <div class="m-portlet" id="m_portlet">

          &lt;!&ndash;header start&ndash;&gt;
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-map-location"></i>
							</span>
                <h3 class="m-portlet__head-text">
                  Attendance
                </h3>
              </div>
            </div>
          </div>
          &lt;!&ndash;header ends&ndash;&gt;

          &lt;!&ndash;calender start&ndash;&gt;
          <div class="m-portlet__body">
            <div id="m_calendar_attendance"></div>
          </div>
          &lt;!&ndash;calender ends&ndash;&gt;


          &lt;!&ndash;donut starts&ndash;&gt;
          <div align="center">
            <div class="col-xl-4" >
              <div class="m-widget14">

                <div class="row  align-items-center">
                  <div class="col">
                    <div id="m_chart_attendance" class="m-widget14__chart" style="height: 140px">
                      <div class="m-widget14__stat">{{day_count}}</div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="m-widget14__legends">
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-accent"></span>
                        <span class="m-widget14__legend-text">
											 {{present_percent}} % Present
              </span>
                      </div>
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-warning"></span>
                        <span class="m-widget14__legend-text">
											{{absent_percent}} % Absent
										</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          &lt;!&ndash;donut ends&ndash;&gt;

        </div>
      </div>
    </div>
  </div>
</div>
-->
