

.ct-slice-donut {
  fill: none;
  stroke-width: 20% !important;
}

svg:not(:root) {
  overflow: visible !important;
}

.ct-label {
  fill: #fff !important;
  font-weight: bold !important;
}

.donut-stat {
  font-size: 100% !important;
  color: #9699a2 !important;
  font-weight: 100 !important;
}

/*Present Absent Donut Classes*/
.present {
  background-color: #28a745 !important;
}

.absent {
  background-color: #dc3545 !important;
}

.fc button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  height: 2.1em;
  padding: 0 2% !important;
  font-size: 1em;
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Segoe UI';
}

.fc-button-group {
  width: 50%;
  float: left;
}

/* Attendance Calendar button Classes */
.fc-button-group {
  width: 50% !important;
  float: left !important;
  font-family: 'Segoe UI';
}

.fc-prev-button {
  float: left !important;
  width: 50% !important;
}

.fc-next-button {
  float: left !important;
  width: 50% !important;
}

.fc .fc-toolbar>*>* {
  float: left;
  margin-left: 0px !important;
}

.fc-toolbar .fc-left {
  float: left;
  width: 25% !important;
}

/* Hide event conainter tag */
.fc-event-container {
  visibility: hidden !important;
}
.fc-day {
  color: rgb(255, 255, 255);
  width: 10px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}

/** Profile Card style */

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  text-align: center;
  margin: 5%;
  font-family: 'Segoe UI';
}

.profile {
  width: 50%;
  float: left;
  font-family: 'Segoe UI';
}

.profile-detils {
  width: 50%;
  float: left;
  font-family: 'Segoe UI';
}

.title {
  color: grey;
  font-size: 18px;
  font-family: 'Segoe UI';
}

.fc-today-button {
  width: 50% !important;
}

.take-attendance {
  max-width: 100px !important;
  float: right;
  margin-bottom: 4%;
  font-family: 'Segoe UI';
  filter: drop-shadow(2px 5px 6px #bcbcbc);
}

.dropdown-border {
  border: 1px solid #b4b6be !important;
  margin-right: 10px;
  font-family: 'Segoe UI';
}

.toggle-attendance-button {
  border: 1px solid #b4b6be !important;
  border-radius: 2rem;
  font-family: 'Segoe UI';
}

.border-padding {
  padding: 5px;
}

.select-class-msg {
  text-align: center;
}

.card_view {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  width: 100%;
  text-align: left !important;
  font-family: Segoe UI;
  height: 180px !important;
  
}

.right-align {
  text-align: right;
  float: right;
}

.result-card {
  max-height: 400px !important;
  font-family: 'Segoe UI';
}

.m-result-card {
  height: 100%;
  overflow-y: auto;
  font-family: 'Segoe UI';
}

/* Remove col-sm-6 left padding*/
.col-6-sm {
  padding-left: unset !important;
}

/* m-widget4 set Padding*/
.m-widget4-custom {
  width: 77% !important;
}

.mygroup_style {
  margin-top: unset !important;
  width: 100% !important;
  height: 100% !important;
  padding: 2.5% !important;
  border: 1px solid transparent !important;
  border-radius: 5% !important;
  font-family: 'Segoe UI';
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-family: 'Segoe UI';
}

.mygroup_col_style_customr {
  padding: 20px !important;
  padding-bottom: 0px !important;
}

/* Student and Teacher button color code set */
.student-bg-color {
  background-color: #d5dbf9;
}

.teacher-bg-color {
  background-color: #d5dbf9;
}

/* Attendance list view According close  */
.m-portlet__body-custom {
  padding: 0px 2.2rem !important;
}

.nav-border {
  border: 1px solid #d5dbf9;
  border-radius: 45px;
  padding: 3px;
  font-family: 'Segoe UI';
}

.m-portlet__custom {
  border-bottom: unset !important;
}

.m-switch input:empty~span:after {
  background-color: #d70206;
}

.set-text-color {
  color: #e22808 !important;
}

.fc-right {
  width: 25% !important;
}

.take-btn {
  background: #ff9100 !important;
  border: none;
  color: white;
  border-radius: 40px;
  font-family: 'Segoe UI';
  float: right;
  font-size: 10px;
  font-weight: 600;
  /* filter: drop-shadow(2px 4px 6px #D9D9D9); */
  filter: drop-shadow(2px 5px 6px #bcbcbc);
  padding: 10px 20px;
}
.take-btn:hover{
  color: #fff;
}

.select-btn {
  background: #ff9100 !important;
  border: none;
  color: white;
  border-radius: 40px;
  font-family: 'Segoe UI';
  float: right;
  font-size: 12px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
  padding: 9px 18px;
}

.select-btn:hover{
  color: #fff;
}
.m-subheader {
  padding: 30px 30px 0 30px;
}



.m-content-att-attendance {
  padding: 30px 5% 30px 5% !important;
  margin-bottom: 20px;
}

.content {
  padding-top: 20px;
}

.class-padding{
  padding: 5px 18px;
}

.attendance-dot {
  height: 22px;
  width: 22px;
  text-align: center;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  font-family: 'Segoe UI';
  font-weight: 700;
  color: #fff;
}

.dot-left {
  margin-left: 20px;
}

.dot-top {
  margin-top: 10px;
    font-size: 14px !important;
    font-weight: bold;
}

.m-portlet__body_view {
  padding: 10px 0px !important;
}

.m-portlet__body__padding {
  padding: 0.2rem 1.2rem !important;
  font-size: 18px !important;
}

.attendance-details{
  display: flex;
  justify-content: space-evenly;
}

.m-portlet__body__padding .botton-padding {
  margin-bottom: 10px;
  
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: end;
  padding-top: 5px;
}

.img-height {
  height: 75px !important;
}

.attendance-count {
  color: #6B6B73;
  font-weight: 600;
  font-family: segoe UI;
  vertical-align: middle;
}

.totalstudent-heading{
  font-size: 11px;
  color: #000;
}

.totalstudent-count{
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.attendance-count2 {
  color: #6B6B73;
  font-weight: 600;
  font-family: segoe UI;
  vertical-align: unset;
  padding: 10px 7px;
  font-size: 14px;
}

.m-portlet.m-portlet--full-height-attendance {
  height: calc(100% - 2.2rem);
  padding-left: 20px;
  border-radius: 10px !important;
  background-color: #fff;
}

/* ---------------------- */



.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 70px;
  position: absolute;
  top: 45px;
  width: 28px;
  font-family: 'Segoe UI';
}

.round-1 label.present {
  background-color: #28a745;
  border: 2px solid #ccc;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  /* height: 24px; */
  height: 26px;
  left: 8px;
  text-align: center;
  /* position: absolute; */
  /* top: 45px; */
  /* width: 24px; */
  width: 26px;
  margin-right: 0px;
  font-family: 'Segoe UI';

}

.round-1 label.absent {
  background-color: rgb(204, 71, 71);
  border: 2px solid #ccc;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  /* height: 24px; */
  height: 26px;
  left: 8px;
  text-align: center;
  /* position: absolute; */
  /* top: 45px; */
  /* width: 24px; */
  width: 26px;
  margin-right: 0px;
  font-family: 'Segoe UI';
}

.round-1 label.leave {
  background-color: rgb(245, 194, 27);
  border: 2px solid #ccc;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  /* height: 24px; */
  height: 26px;
  left: 8px;
  text-align: center;
  /* position: absolute; */
  /* top: 45px; */
  /* width: 24px; */
  width: 26px;
  margin-right: 0px;
  font-family: 'Segoe UI';
}

.round label:after {

  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
  font-family: 'Segoe UI';
}

.round-1 label:after {
  /* border: 2px solid #fff;
  border-radius: 50%; */
  color: #fff;
  /* border-top: none;
  border-right: none; */
  /* content: "P"; */
  height: 6px;
  left: 7px;
  opacity: 0;
  /* position: absolute; */
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
  font-family: 'Segoe UI';
}


.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
  /* background-color: #66bb6a; */
  border-color: #66bb6a;
}

.round input[type="checkbox"]:not(:checked)+label {
  /* background-color: #fb022b; */
  border-color: #fb022b;
}

.round input[type="checkbox"]:checked+label:after {
  opacity: 1;
}


.round-1 input[type="checkbox"] {
  visibility: hidden;
  display: none;
  font-family: 'Segoe UI';
}

.round-1 input[type="checkbox"]:checked+label.present {
  /* background-color: #66bb6a;
  border-color: #fff; */
  background-color: #fff;
  border-color: #28a745;
  font-family: 'Segoe UI';
}

.round-1 input[type="checkbox"]:not(:checked)+label.present {
  /* background-color: #66bb6a;
  border-color: #66bb6a; */
  background-color: #fff;
  border-color: #fff;
  font-family: 'Segoe UI';
}

.round-1 input[type="checkbox"]:not(:checked)+label.absent {
  /* background-color: #fb022b;
  border-color: #fb022b; */
  background-color: #fff;
  border-color: #fff;
  font-family: 'Segoe UI';
}

.round-1 input[type="checkbox"]:checked+label.absent {
  /* background-color: #fb022b;
  border-color: #fff; */
  background-color: #fff;
  border-color: #dc3545;
  font-family: 'Segoe UI';
}

.round-1 input[type="checkbox"]:not(:checked)+label.leave {
  background-color:  rgb(245, 194, 27);
  border-color: #fff;
  font-family: 'Segoe UI';
}

.round-1 input[type="checkbox"]:checked+label.leave {
  background-color: rgb(245, 194, 27);
  border-color:  rgb(245, 194, 27);
  font-family: 'Segoe UI';
}

.round-1 input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

.checkbox-present {
  margin-left: 2px;
  text-align: -webkit-center;
  color: #fff;
  font-family: 'Segoe UI';
}

.checkbox-absent {
  margin-left: 2px;
  text-align: -webkit-center;
  color: #fff;
  font-family: 'Segoe UI';
}

.checkbox-leave {
  margin-left: 2px;
  text-align: -webkit-center;
  color: #fff;
  font-family: 'Segoe UI';
}

.float-left {
  float: left;
  margin-right: 5px !important;
}

.btn-done {
  border-radius: 40px;
  padding: 7px 28px;
  border: none;
  /* filter: drop-shadow(2px 4px 6px #D9D9D9); */
  filter: drop-shadow(2px 5px 6px #bcbcbc);
  font-family: 'Segoe UI';
}

.btn-done:hover {
  border-radius: 40px;
  padding: 7px 28px;
  border: none;
  background-color: white;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
  font-family: 'Segoe UI';
}

.bg-success {
  background-color: #28a745 !important;
  color: #fff;
  font-family: 'Segoe UI';
}

.bg-danger {
  background-color: #fb022b !important;
  color: #fff;
}

.dot-row {
  margin: 20px;
}

a {
  text-decoration: unset !important;
}

.attendance-add-btn {
  border: 2px solid #FF9100;
  background-color: #FF9100;
  padding: 7px 11px;
  color: #fff;
  border-radius: 25px;
  float: right;
  font-size: 12px;
  font-weight: bold;
  /* filter: drop-shadow(2px 4px 6px #D9D9D9); */
  filter: drop-shadow(2px 5px 6px #bcbcbc);
  font-family: 'Segoe UI';
}

.attendance-add-btn:hover {
  border: 2px solid #FF9100;
  background-color: #FF9100;
  padding: 7px 11px;
  color: #fff;
  border-radius: 25px;
  float: right;
  font-size: 12px;
  font-weight: bold;
  /* filter: drop-shadow(2px 4px 6px #D9D9D9); */
  filter: drop-shadow(2px 5px 6px #bcbcbc);
  font-family: 'Segoe UI';


}

.select-class {
  font-size: 15px;
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Segoe UI';
  color: #6B6B73;;
}

.white-box-attendance {
  background-color: #fff;
  padding: 3% 0%;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
  font-family: 'Segoe UI';
}


.class-name-attendance {
  float: left;
  font-size: 15px;
  font-weight: 700;
  margin-top: 15%;
  margin-left: 15%;
  font-family: 'Segoe UI';
}

.class-strength {
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.3;
  padding: 12px;
  color: #fff;
  font-weight: bolder;
  height: 60px;
  width: 60px;
  float: right;
  margin-right: 15%;
  font-family: 'Segoe UI';
}

.sub-heading {
  color: #FF9100;
  font-size: 14px;
  font-weight: 600;
  font-family: Segoe UI;
}

.plus-button span {
  text-align: center;
  /* background-color: #fff;
  border: 1px solid #ccc; */
  /* border-radius: 50%; */
  cursor: pointer;
  /* content: '+'; */
  /* height: 28px; */
  height: 26px;
  /* left: 54px; */
  left: 37px;
  position: absolute;
  top: 47px;
  /* width: 28px; */
  width: 26px;
  font-family: 'Segoe UI';
}

.attendance-box-class{
  font-weight: bold;
  color: #000;
  font-family: Segoe UI;
  font-size: 18px;
  vertical-align: middle;
}

.attendance-box-class2 {
  /* font-weight: bold; */
  color: #000;
  font-family: Segoe UI;
  font-size: 15px;
  vertical-align: middle;
  padding: 10px 0px;
}

.attendance-totalstudent{
  font-weight: 700;
  color: #000;
  font-family: Segoe UI;
  font-size: 16px;
  vertical-align: middle;
}

.attendance-grey-text
{
  color: #6B6B73;
  font-weight: 700;
  font-family: Segoe UI;
  font-size: 14px;
  vertical-align: middle;
}
.straight-line
{
  font-size: 25px;
  color: #C8C8C8;
  vertical-align: middle;
}

.attendance-calendar{
  vertical-align: middle;
  height: 15px;
}





/* -----------------Tooltip view Css------------------- */


.tooltip-attendance {
  /* width:16px;
  height:16px;
  border-radius:10px;
  border:2px solid #fff;
  position:absolute;
  background:rgba(5, 211, 91, 0.897); */
}

.padding-unset {
  padding: unset !important;
}

.tooltip-attendance:active {
  -webkit-animation-play-state: paused;
}

.active .info {
  visibility: visible;
}

.info {
  /* width: 114px; */
  width: 118px;
  padding: 10px 10px 0px 10px;
  background: rgba(255, 255, 255, 1);
  border-radius: 3px;
  position: absolute;
  visibility: hidden;
  margin: -86px 0 0 2px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, .5);
  z-index: 100;
  font-family: 'Segoe UI';
}

h3 {
  font-family: 'Segoe UI';
  font-weight: 100;
  font-size: 20px;
  margin: 0 0 5px 0;
}

p {
  font-family: 'Segoe UI';
  font-weight: 400;
  font-size: 12px;
}

.arrow {
  position: absolute;
  margin: 31px 0 0 45px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}


/* -----------------End Tooltip view Css------------------- */


/* ----------------------Calendare View rendar ------------------------*/

.modal-header-custom {
  padding: 4% !important;
}

.btn-dropdown-student {
  color: #fff;
  background-color: #ea8717;
  border-color: #ea8717;
}

.m-dropdown-custom-student {
  border-radius: 2rem;
  padding: 5px;
  cursor: pointer;
  background: #ea8717;
  border-color: #d47202;
  height: 50px;
  width: 143px;
}

.m-subheader-custom {
  padding: 0px 30px 0 30px !important;
}

.m-dropdown__label-title-custom {
  display: inline-block;
  font-weight: 400;
  color: #ffffff !important;
}

.m--font-brand-custom {
  color: #ffffff !important;
}

.m-nav>.m-nav__section .m-nav__section-text {
  color: #ea8717 !important;
}

.a-custom:hover {
  color: #ea8717 !important;
  text-decoration: none;
}

.m-portlet-custom-1 {
  -webkit-box-shadow: unset;
  -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: unset !important;
  background-color: unset !important;
}

.m-portlet__head-tools-bottom {
  text-align: right;
  display: table-cell;
  vertical-align: bottom !important;
}

.heading-sub {
  font-family: 'Segoe UI';
  font-size: 12px;
  color: #FF9100;
  font-weight: bold;
}

.m-student-text {
  font-family: 'Segoe UI';
  font-size: 12px;
  font-weight: bold;
}

.nav.nav-pills.nav-pills--brand-custom .nav-link.active {
  background: #f2f3f8;
  color: #3f4047;
  border-radius: 0px;
  border-bottom: #e58416 2px solid;
}

.row-background {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;
}

.a-vertical-bottom {
  vertical-align: bottom;
}

.m-dropdown.m-dropdown--inline {
  display: inline-block;
}

.m-dropdown {
  position: relative;
}

.message-title {
  font-weight: bold !important;
  color: #e98717 !important;
  font-size: 1.5rem !important;
}

.form-dropdown {
  border-radius: 20px;
}

.msg-box:focus {
  border: 2px solid #FF9100;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  color: #000000;
}

.btn-save {
  border-radius: 20px;
  width: 100px;
  background-color: #e98717;
  border-color: #e98717;
}

.btn-primary-custom {
  color: #e98717;
  font-size: 12px;
  background-color: #fff;
  border-color: #e98717 !important;
  border-radius: 20px;
  padding: 10px;
  margin: 0px 8px;
}

.btn-primary-custom-disabled {
  font-size: 12px;
  border-radius: 20px;
  padding: 10px;
  margin: 0px 8px;
}

.btn-primary-custom:not([disabled]):not(.disabled):active,
.btn-primary-custom:not([disabled]):not(.disabled).active,
.show>.btn-primary-custom.dropdown-toggle {
  color: #fff;
  font-size: 12px;
  padding: 10px;
  margin: 0px 5px;
  background-color: #e98717;
  border-color: #e98717;
  box-shadow: 0 0 0 0.2rem rgb(233, 135, 23);
}

.btn-group-custom {
  margin: 10px;
}

.m-portlet .m-portlet__head-custom {
  display: table;
  padding: 0;
  width: 100%;
  padding: 0 !important;
  height: 3.1rem !important;
}

.popup-name {
  font-size: 18px;
  font-weight: bold;
}

.m-portlet .m-portlet__body-popup-custom {
  padding: 1.0rem 0px !important;
}

.ct-slice-donut {
  fill: none;
  stroke-width: 20% !important;
}

svg:not(:root) {
  overflow: visible !important;
}

.m-widget4-calendar {
  padding: 0px !important;
}

.fc th,
.fc td {
  border-style: unset !important;
  border-width: unset !important;
  padding: 0px;
}

.fc-basic-view .fc-body .fc-row {
  min-height: 3em !important;
}

/* .fc-content-skeleton table tbody{
  display: none;
} */

.fc-unthemed .fc-toolbar {
  margin-bottom: 0.5rem;
}

.fc-day-grid-container {
  overflow: hidden scroll;
  height: unset !important;
}


.set-text-color {
  color: #fff;
}

.fc-unthemed .fc-day-grid td:not(.fc-axis) {
  padding: 0.5rem 1.0rem;
}

td.fc-other-month {
  visibility: hidden;
  background-color: #fff;
}

.dot {
  height: 22px;
  width: 22px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.modal-body-custom {
  padding: 15px !important;
}

.m-scrollable-custom-1 {
  height: auto !important;
}

.m-btn--icon.m-btn--custom.m-btn--icon-only.btn-sm,
.btn-group-sm>.m-btn--icon.m-btn--custom.m-btn--icon-only.btn {
  width: 30px;
  height: 30px;
  float: right;
  margin-top: -35px;
}

.m-portlet.m-portlet--full-height-student {
  height: calc(100% - 2.2rem);
  padding-left: 0px !important;
}



.m-dropdown-custom-student {
  border-radius: 2rem;
  padding: 8px 5px;
  cursor: pointer;
  background: #ea8717;
  border-color: #d47202;
  height: 41px;
  width: 120px;
}


.attendance-class-div {
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
}


.attendance-count-div {
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
}

.heading-style-attendance {
  font-family: 'Segoe UI' !important;
  font-size: 30px !important;
  color: #000 !important;
  font-weight: bold;
}

.attendance-heading-section {
  display: inline-block;
  box-sizing: border-box;
  width: 49%;
}

.attendance-btn-section {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
}

.attendance-main-heading {
  font-size: 28px;
}

.m-subheader-attendance {
  padding: 30px 30px 0 42px !important;
}

.m-content-attendance {
  padding: 30px 42px !important;
}

.m-portlet-student {
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  background-color: #ffffff;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
}

.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 30px;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #000;
}


/* ---------------------Calendar view end */

/*.......................................media query code .............................................*/

@media(min-width:992px) and (max-width:1024px) {}

@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {
  .m-subheader-attendance {
    padding: 30px 30px 0 30px !important;
  }

  .m-content-attendance {
    padding: 30px 30px !important;
  }
}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {}

@media(max-width:479px) {
  .attendance-heading-section {
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
  }

  .attendance-btn-section {
    display: inline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
  }

  .attendance-main-heading {
    font-size: 28px;
  }

  .attendance-add-btn {
    border: 2px solid #FF9100;
    background-color: #FF9100;
    padding: 5px 6px;
    color: #fff;
    border-radius: 25px;
    float: right;
    font-size: 11px;
    /* font-weight: bold; */
    -webkit-filter: drop-shadow(2px 4px 6px #D9D9D9);
    filter: drop-shadow(2px 4px 6px #D9D9D9);
  }

  .sub-heading {
    font-size: 12px;
    color: #FF9100 !important;
    font-weight: 600;
    font-family: Segoe UI;
}

  .m-subheader .m-subheader__title {
    display: inline-block;
    padding: 7px 25px 7px 0;
    font-family: 'Segoe UI';
    font-weight: 300;
    font-size: 1.4rem;
    font-weight: 500;
    vertical-align: middle;
    margin: 0 15px 0 0;
    color: #3f4047;
  }

  .btn-done {
    border-radius: 40px;
    padding: 7px 28px;
    border: none;
    margin-bottom: 10px;
    float: right;
    /* filter: drop-shadow(2px 4px 6px #D9D9D9); */
    filter: drop-shadow(2px 5px 6px #bcbcbc);
  }

  .take-btn {
    background: #e68516 !important;
    border-color: #e48416;
    color: white;
    border-radius: 40px;
    float: right;
    margin-bottom: 10px;
    /* filter: drop-shadow(2px 4px 6px #D9D9D9); */
    filter: drop-shadow(2px 5px 6px #bcbcbc);
  }

  .take-btn:hover{
    color: #fff;
  }

  .m-subheader-attendance {
    padding: 30px 19px 0 19px !important;
  }

  .m-content-attendance {
    padding: 30px 19px !important;
    font-family: 'Segoe UI';
  }

}

@media (min-width: 1200px) {.col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
}
}

@media (min-width: 1200px) {.col-xl-1 {
  position: relative;
  width: 100%;
  margin-right: 20px;
  min-height: 1px;
}
}


