
<!-- BEGIN: Subheader -->
<div class="m-content" *ngIf="role !== 'student' && role !== 'parent'">
  <div class="m-subheader m-subheader-custom-driver">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <h3 class="m-subheader__title">Driver</h3>
        <!-- <p class="sub-heading text-warning">All Teachers Staff</p> -->
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="grey-box d-flex justify-content-center">
          
              <div class="overview">
                <h5 class="text-white">Overview</h5>
              </div>
              <div class="inTime">
                  <div class="text-center text-white inTime-time">Total</div>
                  <div class="text-center  text-white digit" *ngIf="securityStats"> {{ securityStats.totalOtherStaffCount}}</div>

              </div>
              <div class="outTime">
                  <div class="text-center  text-white outTime-time">Present</div>
                  <div class="text-center  text-white digit" *ngIf="securityStats">{{ securityStats.presentOtherStaffCount}}</div>
              </div>   
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet-custom-driver m-portlet--full-height m-portlet--full-height-custom m-portlet m-portlet--full-height-driver">
        <div class="m-portlet__head">
      
          <div class="m-portlet__head-tools m-portlet__head-tools-bottom">
            <ul
              class="nav nav-pills nav-pills--brand nav-pills--brand-custom-driver m-nav-pills--align-left m-nav-pills--btn-pill m-nav-pills--btn-sm"
              role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget4_tab1_content" role="tab">
                  Active
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_tab2_content" role="tab" on-click="getApprovalDriver()">
                  Inactive
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-portlet__body m-portlet__body-driver">
          <div class="tab-content">
            <div class="tab-pane active" id="m_widget4_tab1_content">
              <!--begin::Widget 14-->
              <div class="m-widget4">
                <div *ngIf="active_driver_list">
                  <div class="white-box-margin bg-white" *ngFor="let driver of active_driver_list">
                      <div class="row p-2">
                      <!--<div class="col-lg-12">
                          <div class="row">-->
                          <div class="col-lg-1 col-md-1">
                              <div class="small-sqaure">
                              <input type="checkbox">
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-3">
                              <a href="#Teacherdetails" data-toggle="modal" data-target=""
                              on-click="getDriverDetails(driver)"><span><img src="{{driver.avtarURL}}" height="55px" width="55px"
                                  class="m--img-rounded m--marginless m--img-centered"
                                  onError="this.src='././assets/images/avatar.jpg'"></span><span
                                  class="ml-2 font-weight-bold teachers-name">{{driver.name}}</span></a>
              
                          </div>
                          <div class="col-lg-4 col-md-4">
                              <!-- <p class="text-default font-weight-bold  mt-3 class-teacher">Class teacher {{clerk.std + teacher.div}}</p>
              -->
                          </div>
                          <div class="col-lg-4 col-md-4">
                              <div class="icons mt-2">
                              <!-- <a href="#" class="pull-right"><img src="././assets/images/watsapp.png"></a> -->
                              <a href="#mymodal" class="pull-right" data-toggle="modal" data-target="#m_modal_5"><img
                                  src="././assets/images/message.png"></a>
                              <a href="#" class="pull-right"><img src="././assets/images/inbox.png"></a>
                              <a href="#" class="" href="https://web.whatsapp.com/" target="_blank"><img
                                src="././assets/images/watsapp.png"></a>
                              </div>
                          </div>
                      <!--</div>
                      </div>-->
                      </div>
                  </div>
                </div>
                <div class="white-box-margin bg-white" *ngIf="!active_driver_list">
                  <div class="row p-2 ml-2 text-center">
                  No Active Driver Available!
                  </div>
                </div>
                <!--end::Widget 14 Item-->
              </div>
            </div>
            <!--end::Widget 14-->
            <div class="tab-pane" id="m_widget4_tab2_content">
              <!--begin::Widget 14-->            
              <div class="m-widget4">
                  <div *ngIf="driver_approval_list">
                      <div class="white-box-margin bg-white" *ngFor="let driver of driver_approval_list">
                          <div class="row p-2">
                          <!--<div class="col-lg-12">
                              <div class="row">-->
                              <div class="col-lg-1 col-md-1">
                                  <div class="small-sqaure">
                                  <input type="checkbox">
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-3">
                                  <a href="#Teacherdetails" data-toggle="modal" data-target=""
                                  on-click="getDriverDetails(driver)"><span><img src="{{driver.avtarURL}}" height="55px" width="55px"
                                      class="m--img-rounded m--marginless m--img-centered"
                                      onError="this.src='././assets/images/avatar.jpg'"></span><span
                                      class="ml-2 font-weight-bold teachers-name">{{driver.name}}</span></a>
                  
                              </div>
                              <div class="col-lg-4 col-md-4">
                                  <!-- <p class="text-default font-weight-bold  mt-3 class-teacher">Class teacher {{clerk.std + teacher.div}}</p>
                  -->
                              </div>
                              <div class="col-lg-4 col-md-4">
                                  <div class="icons mt-2">
                                  <!-- <a href="#" class="pull-right"><img src="././assets/images/watsapp.png"></a> -->
                                  <a href="#mymodal" class="pull-right" data-toggle="modal" data-target="#m_modal_5"><img
                                      src="././assets/images/message.png"></a>
                                  <a href="#" class="pull-right"><img src="././assets/images/inbox.png"></a>
                                  </div>
                              </div>
                          <!--</div>
                          </div>-->
                          </div>
                      </div>
                  </div>
                <div class="white-box-margin bg-white" *ngIf="!driver_approval_list">
                  <div class="row p-2 ml-2 text-center">
                  No Inactive Driver Available!
                  </div>
                </div>
                <!--end::Widget 14 Item-->
              </div>
            </div>
          </div>
        </div>
        <!--end::Modal-->      
      </div>
    </div>
  </div>


    <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
      aria-hidden="true">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header header-size-view">
            <h4 class="modal-heading">Message</h4>
            <a type="button" class="close" data-dismiss="modal">&times;</a>
          </div>
          <div class="modal-body">
            <div class="dropdown pull-right mb-2">
              <button class="btn btn-default dropdown-toggle drop-category" type="button" data-toggle="dropdown">Select
                Category
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Complain</a></li>
                <li><a href="#">Suggestion</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>
            <form>
              <div class="form-group">
                <input type="text" class="form-control text-box" placeholder="Enter a Subject">
              </div>
              <div class="form-group">
                <textarea class="form-control textareabox" rows="5"
                  placeholder="Enter Your Message Here...."></textarea>
              </div>
              <a href="#" class="submit-btn font-weight-bold pull-right">SUBMIT</a>
            </form>
          </div>
        </div>
      </div>
    </div>  

  <!---------------------------------Teacher details modal code-------------------------------------->
  <div class="container" *ngIf="driver_detail">

    <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
      aria-hidden="true">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header header-size-view">
            <h3 class="modal-heading">Teachers Details</h3>
            <a href="#" class="close" data-dismiss="modal">&times;</a>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-2 col-md-2">
                <span><img src="" height="55px" width="55px" onError="this.src='././assets/images/avatar.jpg'" class="m--img-rounded m--marginless m--img-centered"></span>
              </div>
              <div class="col-lg-4 col-md-4">
                <h4 class="font-weight-bold">
                  {{driver_detail.name}}
                </h4>
                <span>Teacher</span>
              </div>
              <div class="col-lg-6 col-md-6">

                <div class="modal-icons"><a href="#" class="pull-right mr-3"><img src="././assets/images/watsapp.png"
                      height="30px" width="30px"></a>
                  <a href="#mymodal" class="ml-4 pull-right mr-4" data-toggle="modal" data-target="#myModal"><img
                      src="././assets/images/message.png" height="30px" width="30px"></a>
                  <a href="#" class="ml-4 pull-right"><img src="././assets/images/inbox.png" height="30px"
                      width="30px"></a>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-lg-2 col-md-2">

              </div>
              <div class="col-lg-10 col-md-10">
                <div class="row">
                  <table class="table table-borderless">

                    <tbody>
                      <tr>

                        <td><span class="table grey-heading">Work Shift</span>
                          <p class="table ">10:00am - 05:00pm</p>
                        </td>
                        <td><span class="table grey-heading">Email</span>
                          <p class="table">{{driver_detail.email}}</p>
                        </td>

                      </tr>
                      <tr>

                        <td><span class="table grey-heading">Address</span>
                          <p class="table">{{driver_detail.name}}</p>
                        </td>
                        <td><span class="table grey-heading">Country</span>
                          <p class="table">{{driver_detail.countryCode}}</p>
                        </td>

                      </tr>

                    </tbody>
                  </table>

                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

