<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="" >
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Passenger
      </h3>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <!--Begin::Main Portlet-->
  <div class="row">
    <div class="col-xl-12">
      <!--begin:: Widgets/New Users-->
      <div class="m-portlet m-portlet--full-height">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Passengers List
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="tab-content">
            <div class="tab-pane active" id="m_widget4_tab1_content">
              <!--begin::Widget 14-->
              <div class="m-widget4" *ngFor="let passengers of passenger">
                <!--begin::Widget 14 Item-->
                <div class="m-widget4__item">
                  <div class="m-widget4__img m-widget4__img--pic">
                    <img src="{{passengers.avtarURL}}" alt="">
                  </div>
                  <div class="m-widget4__info">
										<span class="m-widget4__title">
											{{passengers.name}}<br/>
										</span>
                    <span *ngIf="passengers.type.isClassTeacher">
										Teacher
										</span>
                    <span><!-- *ngif="passenger.type === ST"-->
											{{passengers.std}}  {{passengers.div}}
										</span>
                    <span *ngIf="isClassTeacher">
										Teacher
										</span>
                    <div class="m-widget4__ext float-right">
                      <a href="#" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary"
                         (click)="onStudentApprovalClick()">
                        <!--Remove-->
                      </a>
                    </div>

                    <span *ngIf="passengers.type === Admin">
										Admin
										</span>
                  </div>
                </div>
                <br>
                <!--end::Widget 14 Item-->
              </div>
              <!--end::Widget 14-->
            </div>

          </div>
        </div>
      </div>
      <!--end:: Widgets/New Users-->
    </div>
  </div>
  <!--End::Main Portlet-->
</div>
