.m-subheader__title{
    color: #000 !important;
}
.m-card-profile .m-card-profile__pic .m-card-profile__pic-wrapper{
    border: 2px solid transparent !important;
}

.m-card-profile .m-card-profile__pic .m-card-profile__pic-wrapper {
    padding: 8px;
    display: inline-block;
    margin: 0px;
}
.m-card-profile .m-card-profile__details .m-card-profile__name {
    display: block;
    padding: 0 0 0 0;
    font-size: 18px;
    font-weight: 600;
}
.designation_profile{
    font-size: 12px !important;
}

.m-portlet-profile{
    border-radius: 10px !important;
}
.textbox-profile{
    /*border: 1px solid #ebedf2;*/
    border: 1px solid transparent;
    border-width: 0px 0px 1px 0px;
}
.textbox-profile:focus{
    border: 1px solid #ff9100;
    border-width: 0px 0px 1px 0px;
}
.btn-accent {
    color: #fff;
    background-color: #ff9100;
    border-color: #ff9100;
}

.m-portlet-profile.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .m-tabs-line .m-tabs__link {
    height: 100%;
    /* padding: 1.7rem 0 1.5rem 0; */
    font-size: 14px;
    padding: 39px 13px 0px 13px;
}
.m-portlet__body-profile{
    margin-top: 0px !important;
    overflow: scroll;
    height: 300px !important;
    overflow-x: hidden;
}
.m-form .m-form__section-profile {
    margin: 40px 0 40px 0;
    padding: 0px 36px 21px 36px;
}
.profile-add-btn{
    float: right;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.m-tabs-line.m-tabs-line--primary a.m-tabs__link.active {
    color: #000;
    font-weight: 400 !important;
    border-bottom: 1px solid #FF9100;
}
.m-tabs-line.m-tabs-line--primary a.m-tabs__link:hover {
    color: #000;
    font-weight: 400 !important;
  
}
.m-switch.m-switch--outline.m-switch--success input:checked ~ span:after {
    background-color: #ff9100 !important;
    opacity: 1;
    filter: alpha(opacity=100);
}

@media (max-width: 768px){
.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .nav-tabs.m-tabs-line > .nav-item.m-tabs__item > .nav-link.m-tabs__link {
    padding: 0.5rem 24px !important;
}
.m-portlet.m-portlet--tabs .m-portlet__head {
    display: block;
    height: 73px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
}

/*.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .m-tabs-line {
    position: relative;
    height: 100%;
    margin: -19px;
    border-bottom-color: transparent;
    bottom: -1px;
}*/

.btn-close{
    color:#000;
    background-color: #fff;
    border: 1px solid #f0f1f6;
    border-radius: 25px;
  }
  .btn-close:hover{
    color:#000;
    background-color: #f0f1f6;
   
    border-radius: 25px;
  }
  
  .btn-submit{
    color:#fff;
    border: 2px solid #FF9100;
    background-color: #FF9100;
    border-radius: 25px;
  }
  .modal-title-settings{
    color: #ff9100 !important;
    font-size: 22px !important;
}
.modal .modal-content .modal-header .modal-title-settings {
    font-weight: 500;
}
.text-box:focus{
    border:2px solid #FF9100 !important;
    border-left: transparent !important;
    border-top: transparent !important;
    border-right: transparent !important;
    font-size: 14px !important;
    color: #000000 !important;
    
  }
  .text-box{
    border:2px solid #ebedf2 !important;
    border-left: transparent !important;
    border-top: transparent !important;
    border-right: transparent !important;
    font-size: 14px !important;
    color: #000000 !important;
    
  }
  .error-message{
    color: red;
    font-size: 11px;
    font-weight: 600;
  }

  .modal.show .modal-dialog-profile {
    transform: translate(0, 0);
    max-width: 500px;
}
.m-dropdown__label-title-profile{
    font-weight: 500;
}
.flaticon-edit{
    color: #808080;
}
.btn-accent-profile {
    color: #fff;
    background-color: #ff9100;
    border-color: #ff9100;
}
.btn-accent-profile :hover{
    color: #fff;
    background-color: #ff9100;
    border-color: #ff9100;
}
.m-subheader-profile {
    padding: 30px 49px 0 49px !important;
  }
  .m-content-profile{
    padding: 30px 49px !important;
  }


/*............................................. media query .............................................*/
@media (min-width: 993px){
    .m-portlet.m-portlet--full-height-profile {
        height: calc(100% - 2.2rem);
        padding-left: 0px !important;
    }
    }
@media(min-width:992px)
{
  

}
@media(min-width:768px) and (max-width:991px){
    .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .nav-tabs.m-tabs-line > .nav-item.m-tabs__item > .nav-link.m-tabs__link {
    padding: 0.5rem 24px !important;
}
.m-portlet.m-portlet--tabs .m-portlet__head {
    display: block;
    height: 73px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
  
}
@media(min-width:575px) and (max-width:767px){
  
  
}
@media(min-width:480px) and (max-width:574px){
  
  
}
@media(max-width:479px){

    .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .m-tabs-line {
        position: relative;
        height: 100%;
        margin: -19px;
        border-bottom-color: transparent;
        bottom: -1px;
    }

    .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .nav-tabs.m-tabs-line > .nav-item.m-tabs__item {
        /* margin-right: 2px; */
        margin: 0px 10px;
    }

    .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .nav-tabs.m-tabs-line > .nav-item.m-tabs__item > .nav-link.m-tabs__link {
        padding: 0.5rem 6px !important;
    }

    .m-portlet-profile.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .m-tabs-line .m-tabs__link {
        height: 100%;
        font-size: 12px;
        padding: 39px 13px 0px 13px;
    }

    .m-portlet.m-portlet--tabs .m-portlet__head {
        display: block;
        height: 69px;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .btn.m-btn--custom {
        padding: -0.25rem 2rem;
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .m-form .m-form__group .form-control-label, .m-form .m-form__group label {
        font-weight: 400;
        font-size: 12px;
        padding: 10px;
    }
    .textbox-profile {
        border: 1px solid #ebedf2;
        border-width: 0px 0px 1px 0px;
        font-size: 12px;
    }
    .m-subheader-profile {
        padding: 30px 16px 0 16px !important;
      }
      .m-content-profile{
        padding: 30px 16px !important;
      }
    
    
  
}


