<!-- BEGIN: Subheader -->
<div class="m-subheader m-subheader-profile" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        My Profile
      </h3>
    </div>
    <div>
      <!--<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
           data-dropdown-toggle="hover" aria-expanded="true">
        <a href="#"
           class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
          <i class="la la-plus m--hide"></i>
          <i class="la la-ellipsis-h"></i>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
          <div class="m-dropdown__inner">
            <div class="m-dropdown__body">
              <div class="m-dropdown__content">
                <ul class="m-nav">
                  <li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-share"></i>
                      <span class="m-nav__link-text">
												Activity
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-chat-1"></i>
                      <span class="m-nav__link-text">
												Messages
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-info"></i>
                      <span class="m-nav__link-text">
												FAQ
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                      <span class="m-nav__link-text">
												Support
											</span>
                    </a>
                  </li>
                  <li class="m-nav__separator m-nav__separator--fit"></li>
                  <li class="m-nav__item">
                    <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                      Submit
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content m-content-profile">
  <div class="row">
    <div class="col-xl-3 col-lg-4">
      <div class="m-portlet m-portlet-profile m-portlet--full-height m-portlet--full-height-profile">
        <div class="m-portlet__body">
          <div class="m-card-profile">
            <div class="m-card-profile__title m--hide">
              Your Profile
            </div>
            <div class="m-card-profile__pic">
              <div class="m-card-profile__pic-wrapper">
                <img src="{{profile.avtarURL}}" onError="this.src='././assets/images/avatar.jpg'" alt=""/>
              </div>
            </div>
            <div class="m-card-profile__details">
							<span class="m-card-profile__name m--font-transform-c">
								{{profile.name}}
							</span>
              <span class="m-nav__link-text m--font-transform-c designation_profile">
                {{role}}
              </span>
              <span class="m-nav__link-text m--font-transform-c designation_profile" *ngIf="role === 'school'">
                &nbsp;admin
              </span>
            </div>
          </div>
          <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
            <li class="m-nav__separator m-nav__separator--fit"></li>
            <li class="m-nav__section m--hide">
							<span class="m-nav__section-text">
								Section
							</span>
            </li>
            <li class="m-nav__item">
              <a data-toggle="tab" href="#m_user_profile_tab_1" role="tab" class="m-nav__link m-tabs__link">
                <i class="m-nav__link-icon flaticon-profile-1"></i>
                <span class="m-nav__link-title">
									<span class="m-nav__link-wrap">
										<span class="m-nav__link-text">
											My Profile
										</span>
									</span>
								</span>
              </a>
            </li>
            <li class="m-nav__item">
              <a data-toggle="tab" href="#m_user_profile_tab_2" role="tab" class="m-nav__link m-tabs__link active">
                <i class="m-nav__link-icon flaticon-chat-1"></i>
                <span class="m-nav__link-text">
									Messages
								</span>
              </a>
            </li>

            <li class="m-nav__item m-tabs__item">
              <a data-toggle="tab" href="#m_user_profile_tab_3" role="tab" class="m-nav__link m-tabs__link">
                <i class="m-nav__link-icon flaticon-settings"></i>
                <span class="m-nav__link-text">
									Settings
								</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8">
      <div class="m-portlet m-portlet--full-height m-portlet--tabs m-portlet-profile m-portlet--full-height-profile">
        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                  <i class="flaticon-share m--hide"></i>
                  My Profile
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                  Messages
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                  Settings
                </a>
              </li>

            </ul>
          </div>
          <div class="m-portlet__head-tools">
              <a href="" class="m-nav__link" onclick="editEnabled(true);">
                  <i class="m-nav__link-icon flaticon-edit"></i>
                  
                </a>
            <!--<ul class="m-portlet__nav">
              <li class="m-portlet__nav-item m-portlet__nav-item--last">
                <div
                  class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                  data-dropdown-toggle="hover" aria-expanded="true">
                  <a href="#"
                     class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-gear"></i>
                  </a>
                  <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                      <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                          <ul class="m-nav">
                            <li class="m-nav__section m-nav__section--first">
															<span class="m-nav__section-text">
																Quick Actions
															</span>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link" onclick="editEnabled(true);">
                                <i class="m-nav__link-icon flaticon-edit"></i>
                                <span class="m-nav__link-text">
																	Edit
																</span>
                              </a>
                            </li>
                            <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                            <li class="m-nav__item m--hide">
                              <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                Submit
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>-->
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="m_user_profile_tab_1">
            <form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="m-form m-form--fit m-form--label-align-right">
                <div class="row">
                  <div class="col-lg-12">
                  <div class="profile-add-btn">
                  <a class="btn btn-accent-profile m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air pull-right" style="margin: 10px 30px" href="#" ng-reflect-href="#">
                    <span aria-hidden="true" data-toggle="modal" data-target="#m_modal_6">
                              <i class="la la-plus"></i>
                              <span>
                                Add
                              </span>
                            </span>
                          </a>
                        </div>
                        </div>
                </div>
              <div class="m-portlet__body m-portlet__body-profile ">
                <div class="form-group m-form__group m--margin-top-10 m--hide">
                  <div class="alert m-alert m-alert--default" role="alert">
                    Default Alert.
                  </div>
                </div>
                <!-- Personal Details -->
                <!--<div class="form-group m-form__group row">-->
                  <!--<div class="col-12">-->
                <div>
                    <h3 class="m-form__section m-form__section-profile">
                      Personal Details
                    </h3>
                  <!--</div>-->
                </div>
                <div class="form-group m-form__group row">
                  <label for="name-text-input" class="col-2 col-form-label">
                    Full Name
                  </label>
                  <div class="col-10">
                    <input id="name-text-input" class="form-control m-input textbox-profile" type="text" value="{{profile.name}}"
                           [disabled]="_editEnabled">
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="text-input-phone" class="col-2 col-form-label">
                    Phone No
                  </label>
                  <div class="col-10">
                    <input id="text-input-phone" class="form-control m-input textbox-profile" type="text" value="{{profile.phone}}"
                           [disabled]="_editEnabled">
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="text-input-email" class="col-2 col-form-label">
                    Email
                  </label>
                  <div class="col-10">
                    <input id="text-input-email" class="form-control m-input textbox-profile" type="text" value="{{profile.email}}"
                           [disabled]="_editEnabled">
                  </div>
                </div>
                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                <!-- Academic Details -->
                <div class="form-group m-form__group row">
                  <div class="col-10">
                    <h3 class="m-form__section">
                      Academic
                    </h3>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="text-input-school" class="col-2 col-form-label">
                    School
                  </label>
                  <div class="col-10">
                    <input id="text-input-school1" class="form-control m-input textbox-profile" type="text" value="{{profile.school}}"
                           [disabled]=true>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="text-input-class" class="col-2 col-form-label" *ngIf="profile.isClassTeacher">
                    Class Teacher
                  </label>
                  <label for="text-input-class" class="col-2 col-form-label" *ngIf="role === 'student'">
                    Class
                  </label>
                  <div class="col-10">
                    <input id="text-input-class2" class="form-control m-input textbox-profile" type="text"
                           value="{{profile.std + ' ' + profile.div}}" [disabled]=true>
                  </div>
                </div>
                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                <!-- Lectures Details -->
                <div class="form-group m-form__group row">
                  <div class="col-10">
                    <h3 class="m-form__section">
                      Academic
                    </h3>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="text-input-school" class="col-2 col-form-label">
                    School
                  </label>
                  <div class="col-10">
                    <input id="text-input-school" class="form-control m-input textbox-profile" type="text" value="{{profile.school}}"
                           [disabled]=true>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="text-input-class" class="col-2 col-form-label" *ngIf="profile.isClassTeacher">
                    Class Teacher
                  </label>
                  <label for="text-input-class" class="col-2 col-form-label" *ngIf="role === 'student'">
                    Class
                  </label>
                  <div class="col-10">
                    <input id="text-input-class" class="form-control m-input textbox-profile" type="text"
                           value="{{profile.std + ' ' + profile.div}}" [disabled]=true>
                  </div>
                </div>
                <!-- System Details -->
                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                <div class="form-group m-form__group row">
                  <div class="col-10">
                    <h3 class="m-form__section">
                      System
                    </h3>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="text-input-uid" class="col-2 col-form-label">
                    Unique ID
                  </label>
                  <div class="col-10">
                    <input id="text-input-uid" class="form-control m-input textbox-profile" type="text" value="{{profile.uid}}"
                           [disabled]=true>
                  </div>
                </div>
                <div class="form-group m-form__group row" ><!--*ngIf="role ==='student'"-->
                  
                  <div class="col-10" *ngIf="profile_date && profile_date.uid">
                      <label for="text-input-parent" class="col-2 col-form-label">
                          Parent
                        </label>
                    <input id="text-input-parent"  class="form-control m-input" type="text" value="{{profile_date.uid}}"
                           [disabled]=true>
                </div>
               
              </div>
              <!--<a class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air pull-right" style="margin-top: 1%" href="#" ng-reflect-href="#">
                  <span aria-hidden="true" data-toggle="modal" data-target="#m_modal_6">
                            <i class="la la-plus"></i>
                            <span>
                              Add
                            </span>
                          </span>
                        </a>-->
              <div class="m-portlet__foot m-portlet__foot--fit" *ngIf="_editEnabled">
                <div class="m-form__actions">
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col-7">
                      <button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                        Save changes
                      </button>
                      &nbsp;&nbsp;
                      <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="m_user_profile_tab_2"></div>
          <div class="tab-pane" id="m_user_profile_tab_3">
            <form [formGroup]="passwordForm" (ngSubmit)="changePassword()"class="m-form m-form&#45;&#45;fit m-form&#45;&#45;label-align-right">
              <div class="m-portlet__body">
            <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides" style="margin-left: 5%; margin-right: 10%">
              <!--<li class="m-nav__separator m-nav__separator--fit"></li>-->
              <li class="m-nav__item">
                <a data-toggle="tab" href="#m_user_profile_tab_3" role="tab" class="m-nav__link">
                  <i class="m-nav__link-icon fa fa-bell-o"></i>
                  <span class="m-nav__link-text">
									Notification Buzz
								</span>
                  <span class="m-switch m-switch--outline m-switch--success">
                       <label>
                        <input type="checkbox" checked="checked" name="">
                        <span></span>
                      </label>
                    </span>
                </a>
              </li>
              <li class="m-nav__item">
                <a data-toggle="tab" role="tab" class="m-nav__link"><!-- href="#m_user_profile_tab_2"-->
                  <i class="m-nav__link-icon fa fa-question-circle-o"></i>
                  <span class="m-nav__link-title">
									<span class="m-nav__link-wrap">
										<span class="m-nav__link-text">
											About and Help
										</span>
									</span>
								</span>
                </a>

              </li>

              <li class="m-nav__item">
                <a data-toggle="tab"  role="tab" class="m-nav__link"><i class="m-nav__link-icon fa fa-lock"></i>
                  <span class="m-nav__link-text" aria-hidden="true" data-toggle="modal" data-target="#m_modal_5">
									Change Password
								</span>
                </a>
              </li>
              <li class="m-nav__item">
                <a data-toggle="tab"  role="tab" class="m-nav__link">
                  <i class="m-nav__link-icon fa fa-info-circle"></i>
                  <span class="m-nav__link-text" aria-hidden="true" data-toggle="modal" data-target="#m_modal_4">
									Report to Admin
								</span>
                </a>
              </li>


            </ul>
              </div>
            </form>

          </div>

          <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-profile" role="document">
              <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title modal-title-settings" id="exampleModalLabel5">
                          Change Password
                        </h5>
                    <a type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
            </a>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      
                      <input type="password" class="form-control text-box" placeholder="Enter Old Password" formControlName="currentPassword">
                      <span *ngIf="passwordForm.get('currentPassword').errors && (passwordForm.get('currentPassword').touched || passwordForm.get('currentPassword').dirty)" class="help-block">
                          <span *ngIf="passwordForm.get('currentPassword').errors.required" class="error-message">
                            Please fill Old Password!
                          </span>
                      </span>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control text-box"  placeholder="Enter New Password" formControlName="newPassword"><!--id="recipient-name"-->
                      <span *ngIf="passwordForm.get('newPassword').errors && (passwordForm.get('newPassword').touched || passwordForm.get('newPassword').dirty)" class="help-block">
                          <span *ngIf="passwordForm.get('newPassword').errors.required" class="error-message">
                            Please fill New Password!
                          </span>
                          
                      </span>
                      <span *ngIf="passwordForm.get('newPassword').errors && (passwordForm.get('newPassword').touched || passwordForm.get('newPassword').dirty)" class="help-block">
                          <span *ngIf="passwordForm.get('newPassword').errors.pattern" class="error-message">
                            Password not valid!
                          </span>
                          
                      </span>
                      
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control text-box"  name="confirmpassword" id="confirmpassword" formControlName="confirmPassword" placeholder="Confirm Password" required><!--id="recipient-name"-->
                        <span *ngIf="passwordForm.get('confirmPassword').errors && (passwordForm.get('confirmPassword').touched || passwordForm.get('confirmPassword').dirty)" class="help-block">
                            <span *ngIf="passwordForm.get('confirmPassword').errors.required" class="error-message">
                              Please confirm Password!
                            </span>
                            
                            <span *ngIf="passwordForm.get('confirmPassword').errors.mustMatch" class="error-message">
                                Passwords didn't match!
                              </span>
                        </span>
                        
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-close text-center btn-block" data-dismiss="modal">
                        Close
                      </button>
                      <button type="submit" class="btn btn-submit btn-block" [disabled]="!passwordForm.valid">
                        Confirm
                      </button>
                    </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-profile" role="document">
              <form [formGroup]="adminReportForm" (ngSubmit)="onSubmit()">
                <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title modal-title-settings" id="exampleModalLabel5">
                          Message
                        </h5>
                    <a type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
            </a>
                  </div>
                  <div class="modal-body">

                    <!--drop down starts-->
                    <!--<div
                      class="m-dropdown m-dropdown--inline m-dropdown--small m-dropdown--arrow m-dropdown--align-right m-dropdown--custom"
                      data-dropdown-toggle="click">
              <span class="m-dropdown__label">
                  <span class="m-dropdown__label-title">Category: </span>
                  <span class="m-dropdown__label-subtitle m--font-brand">{{category ? category : ' select category '}}</span>
                </span>
                      <a href="#"
                         class="m-dropdown__toggle btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                        <i class="la la-angle-down"></i>
                      </a>
                      <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right"></span>
                        <div class="m-dropdown__inner">
                          <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                              <div class="m-scrollable" data-scrollable="true" data-max-height="250">
                                <ul class="m-nav">
                                  <li class="m-nav__section m-nav__section--first">
                            <span class="m-nav__section-text">
                              Select Category
                            </span>
                                  </li>
                                  <span *ngFor="let c of category_list">
                            <li class="m-nav__item" >
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon fa fa-language selectbox" ></i>
                                <span class="m-nav__link-text" on-click="setCategory(c)">
                                  <h6 style="margin: 8%">{{c}}</h6>
                                </span>
                              </a>
                            </li>
                          </span>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>-->
                    <span class="m-dropdown__label-title-profile">Category: </span>
                    <select class="search_categories mt-2 mb-2 text-box" formControlName="categoryList" ng-model="models" required> 
                        
                        <option>Select Category</option>
                        <!--<option>{{category ? category : ' select category '}}</option>-->

                        <option *ngFor="let c of category_list" ><div on-click="setCategory(c)">{{c}}</div></option>
                      </select>
                      <span *ngIf="adminReportForm.get('categoryList').errors && (adminReportForm.get('categoryList').touched || adminReportForm.get('categoryList').dirty)" class="help-block">
                          <span *ngIf="adminReportForm.get('categoryList').errors.required" class="error-message">
                            Please select category!
                          </span>
                          
                      </span>
                    <!--drop down ends-->
                    <div class="form-group">
                      
                      <input type="text" class="form-control text-box" id="recipient-name" formControlName="subject" placeholder="Subject">
                      <span *ngIf="adminReportForm.get('subject').errors && (adminReportForm.get('subject').touched || adminReportForm.get('subject').dirty)" class="help-block">
                          <span *ngIf="adminReportForm.get('subject').errors.required" class="error-message">
                            Please fill subject!
                          </span>
                          
                      </span>
                    </div>
                    <div class="form-group">
                        <textarea class="search_categories" style="margin-top: 10px" id="message-text"
                        placeholder="Write your message here.." formControlName="message" required></textarea>
                        <!--<textarea class="form-control" id="message-text" formControlName="message"></textarea>-->
                        <span *ngIf="adminReportForm.get('message').errors && (adminReportForm.get('message').touched || adminReportForm.get('message').dirty)" class="help-block">
                            <span *ngIf="adminReportForm.get('message').errors.required" class="error-message">
                              Please fill message!
                            </span>
                            
                        </span>
                          
                      <!--<textarea class="form-control" id="message-text" formControlName="message" placeholder="message"></textarea>-->
                    </div>

                  </div>
                  <div class="modal-footer">
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Submit Report
                    </button>-->
                    <button type="submit" class="btn btn-submit btn-block" [disabled]="!adminReportForm.valid">
                        Submit
                      </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
            <div class="modal-dialog modal-sm  modal-dialog-profile" role="document">
              <form [formGroup]="addParent" (ngSubmit)="addParents()">
                <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title modal-title-settings" id="exampleModalLabel5">
                          Add Parent
                        </h5>
                    <a type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
            </a>
                    <!--<h5 class="modal-title" id="exampleModalLabel6">
                      Change Password
                    </h5>
                    <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
                    </button>-->
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <input type="text" class="form-control text-box" placeholder="Parent's Unique Code" formControlName="parent" required>
                      <span *ngIf="addParent.get('parent').errors && (addParent.get('parent').touched || addParent.get('parent').dirty)" class="help-block">
                          <span *ngIf="addParent.get('parent').errors.required" class="error-message">
                            Please fill Unique Code!
                          </span>
                          
                      </span>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control text-box"  placeholder="Re-Enter Unique Code" formControlName="confirmCode"><!--id="recipient-name"-->
                      <span *ngIf="addParent.get('confirmCode').errors && (addParent.get('confirmCode').touched || addParent.get('confirmCode').dirty)" class="help-block">
                          <span *ngIf="addParent.get('confirmCode').errors.required" class="error-message">
                            Please fill re-enter Code!
                          </span>
                          <span *ngIf="addParent.get('confirmCode').errors.mustMatch" class="error-message">
                              Code Not Matched!
                            </span>
                          
                      </span>
                    </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-close text-center btn-block" data-dismiss="modal">
                        Close
                      </button>
                      <button type="submit" class="btn btn-submit btn-block" [disabled]="!addParent.valid">
                        Confirm
                      </button>
                    </div>
                </div>
              </form>
            </div>
          </div>


          <!--<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
              <div class="modal-dialog modal-sm" role="document">
                <form [formGroup]="addParent" (ngSubmit)="addParents()">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel6">
                        Change Password
                      </h5>
                      <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  &times;
                </span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Parent's Unique Code" formControlName="parent">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control"  placeholder="Re-Enter Unique Code"><!--id="recipient-name"-->
                      <!--</div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                      </button>
                      <button type="submit" class="btn btn-primary">
                        Confirm
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>-->


        </div>
      </div>
    </div>
  </div>
</div>
