<div class="col-xl-12">
        <div class="row">
          <div class="col-xl-12 ">
              <div class="about-white-box">
              <div>
                <!--<img src="././assets/images/clan_logo.png" class="img-fluid mx-auto d-block">-->
                <img src="././assets/images/clan-logo.gif" class="img-fluid mx-auto-about d-block" height="500px" width="500px">
                
                
                
              </div>
              <div class="bottom-text">
                
                <h5 class="text-center">version 1.0</h5>
                <p class="text-center">Copyright@2017 Clan.School</p>
              </div>

              </div>
              </div>
              </div>
              </div>