.bottom-text p{
    color: #ff9100;
    font-family: 'Segoe UI';
    font-weight: 500;
    bottom: 0;
}
.bottom-text h5{
    color: #ff9100;
    font-family: 'Segoe UI';
    font-weight: 600;

}
.about-white-box{
    background-color: #fff;
    background-color: #fff;
    padding: 30px 10px;
    border-radius: 10px;
}

.mx-auto-about{
    margin-left: auto;
    margin-right: auto;
}
