.m-menu__item.m-menu__item--active>.m-menu__link {
  background-color: #ed8a19 !important;
}

.m-menu__item.m-menu__item--active>.m-menu__link>.m-menu__link-icon {
  color: #ffffff !important;
}

.m-menu__item.m-menu__item--open>.m-menu__link {
  background-color: #ed8a19 !important;
}

.m-menu__item.m-menu__item--open>.m-menu__link>.m-menu__link-icon {
  color: #ffffff !important;
}

@media (min-width: 993px) {
  .m-aside-left--fixed .m-aside-left {
    top: 0 !important;
    bottom: 0;
    position: fixed;
    height: auto !important;
    left: 0;
    z-index: 200;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: -5px 0 30px -2px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 993px) {
  .m-header--fixed .m-header {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 101;
    position: fixed;
    top: 0;
    left: 67px !important;
    right: 0;
  }
}

@media (min-width: 1025px) {
  .m-aside-left--minimize .m-aside-left {
    width: 75px !important;
    transition: all .3s ease;
  }
}

@media(min-width:768px) and (max-width:991px) {
  .empty-section {
    display: none !important;
  }

}

@media(min-width:575px) and (max-width:767px) {
  .empty-section {
    display: none !important;
  }

}

@media(min-width:480px) and (max-width:574px) {
  .empty-section {
    display: none !important;
  }


}

@media(max-width:479px) {
  .empty-section {
    display: none !important;
  }

}

#m_ver_menu {
  height: 100% !important;
  overflow: hidden !important;

}

.m-aside-menu {
  box-shadow: -5px 0 30px -12px rgba(0, 0, 0, 0.1);
}

.m-header--fixed .m-body {
  padding-top: 34px !important;
}

body.m-aside-left--skin-light .m-header {
  box-shadow: 20px 1px 8px 0px rgba(0, 0, 0, 0.1) !important;
}

.m-body .m-content-custom {
  padding: 0px 0px 0px 0px !important;
}

.link-width {
  height: 60px !important;
}

.bottom-icons {
  /*---margin-top: 20%;--*/

  display: block;
  box-sizing: border-box;


}

.options-box {
  position: fixed;
  z-index: 3000;
  /*border: 1px solid #868e96;*/
  width: 120px;
  border-radius: 20px;
  background-color: #fff;
  margin-top: -100px;
  margin-left: 80px;
  padding: 10px;
  box-shadow: -5px 0 30px -2px rgba(0, 0, 0, 0.1);
  color: #868e96;

}

.option-btn {
  background-color: transparent;
  color: #868e96;
}

.option-btn:focus {
  background-color: transparent;
  color: #868e96;
  border: 2px solid transparent;
  outline: none;
}

.option-text {
  margin-left: 10px;
  font-size: 12px;
  color: black;
}

.more-btn {
  position: absolute !important;
  bottom: 20% !important;
}

.mCSB_container {
  height: 100% !important;
}

.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__heading,
.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link-rightSideBar {
  height: 60px !important;
}


/*.......................................media query code .............................................*/
@media (min-width: 993px) {}

@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {}

@media(max-width:479px) {
  .m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link {
    padding: 9px 184px 9px 34px;
  }


}
