<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-light" id="m_aside_left_close_btn" appunwraptag="">
  <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light">
  <!-- BEGIN: Aside Menu -->
  <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light"
       data-menu-vertical="true" data-menu-scrollable="true" data-menu-dropdown-timeout="500">
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">

      <!-- <li class="m-menu__section">
        <h4 class="m-menu__section-text">Menu</h4>
        <i class="m-menu__section-icon flaticon-more-v3"></i>
      </li> -->
      
      <!-- Active Menu Are Below Here Three DOT -->
      <!-- <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true">
        <a routerLink="/index" class="m-menu__link">
          <i class="m-menu__link-icon flaticon-line-graph"></i>
          <span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Dashboard
							</span>
						</span>
					</span>
        </a>
      </li> -->
      
      
      <!--<li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;open" routerLinkActiveOptions="{ exact: true }"-->
          <!--aria-haspopup="true" *ngIf="role == 'parent' || role == 'school' || role == 'coadmin' || role == 'teacher'">-->
        <!--<a routerLink="/calender" class="m-menu__link">-->
          <!--<i class="m-menu__link-icon fa fa-calendar"></i>-->
          <!--<span class="m-menu__link-text">-->
						<!--Calendar-->
          <!--</span>-->
        <!--</a>-->
      <!--</li>-->

      <!-- Active Menu Are Below Here -->

      <!-- <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role == 'admin'">
        <a routerLink="/daily-thoughts" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-calendar"></i>
          <span class="m-menu__link-text">
						Daily Thoughts
          </span>
        </a>
      </li>
      <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role === 'admin'">
        <a routerLink="/schools" class="m-menu__link">
          <i class="m-menu__link-icon flaticon-book"></i>
          <span class="m-menu__link-text">
						Schools
          </span>
        </a>
      </li>
      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" >
        <a routerLink="/feetypes" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-users"></i>
          <span class="m-menu__link-text">
						Fee Types
          </span>
        </a>
      </li>
      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" >
        <a routerLink="/feetemplate" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-money"></i>
          <span class="m-menu__link-text">
						Fee Template
          </span>
        </a>
      </li>
      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" >
        <a routerLink="/assignFees" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-money"></i>
          <span class="m-menu__link-text">
						Assign Fee
          </span>
        </a>
      </li>
      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role == 'school' && role != 'student'">
        <a routerLink="/non-teaching-staff" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-users"></i>
          <span class="m-menu__link-text">
						Non-Teaching Staff
          </span>
        </a>
      </li>
      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role === 'deiver'">
        <a routerLink="/transport" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-bus"></i>
          <span class="m-menu__link-text">
						Trip
          </span>
        </a>
      </li>

      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role !=='coadmin' ">
        <a routerLink="/timetable" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-calendar"></i>
          <span class="m-menu__link-text">
						Time Table
          </span>
        </a>
      </li>
      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role != 'student' && role != 'parent'">
        <a routerLink="/students" class="m-menu__link">
          <i class=" m-menu__link-icon fa fa-graduation-cap"></i>
          <span class="m-menu__link-text">
						Students
          </span>
        </a>
      </li>

      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true">
        <a routerLink="/attendance" class="m-menu__link" alt="Attendance">
          <i class="m-menu__link-icon fa  fa-pencil-square-o"></i>
          <span class="m-menu__link-text">
						Attendance
          </span>
        </a>
      </li>

      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true">
        <a routerLink="/teachers" class="m-menu__link">
          <i class="m-menu__link-icon flaticon-book"></i>
          <span class="m-menu__link-text">
						Teachers
          </span>
        </a>
      </li>
      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role == 'school'">
        <a routerLink="/classes" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-language"></i>
          <span class="m-menu__link-text">
             Classes
          </span>
        </a>
      </li>
      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role !== 'coadmin'">
        <a routerLink="/homework" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-book"></i>
          <span class="m-menu__link-text">
						Homework
          </span>
        </a>
      </li>
      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role != 'coadmin'">
        <a routerLink="/examination" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-pencil"></i>
          <span class="m-menu__link-text">
						Examination
          </span>
        </a>
      </li>
      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true">
        <a routerLink="/events" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-tags"></i>
          <span class="m-menu__link-text">
						Events
          </span>
        </a>
      </li>

      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true">
        <a routerLink="/notice" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-bullhorn"></i>
          <span class="m-menu__link-text">
						Notice Board
          </span>
        </a>
      </li>

      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role == 'parent' || role == 'school' || role == 'coadmin' || role == 'teacher' || role == 'admin'">
        <a routerLink="/my-child" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-child"></i>
          <span class="m-menu__link-text">
						My Child
          </span>
        </a>
      </li>
      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role == 'admin'">
        <a routerLink="/add-super-user" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-add-user"></i>
          <span class="m-menu__link-text">
						Add Super User
          </span>
        </a>
      </li>

      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role == 'parent' || role == 'coadmin'">
        <a routerLink="/transport" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-bus"></i>
          <span class="m-menu__link-text">
						Transport
          </span>
        </a>
      </li>

      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role == 'coadmin'">
        <a routerLink="/driver" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-truck"></i>
          <span class="m-menu__link-text">
						Driver
          </span>
        </a>
      </li>
      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role == 'school' || role == 'coadmin' || role== 'teacher'|| role== 'student'">
        <a routerLink="/track-buses" class="m-menu__link">
          <i class=" m-menu__link-icon fa fa-map-marker "></i>
          <span class="m-menu__link-text">
						Track Bus
          </span>
        </a>
      </li>

      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true">
        <a routerLink="/performance" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-dashboard"></i>
          <span class="m-menu__link-text">
						Performance
          </span>
        </a>
      </li>

      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true">
        <a routerLink="/inbox" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-envelope"></i>
          <span class="m-menu__link-text">
						My Inbox
          </span>
        </a>
      </li>
      <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role !== 'teacher' && role!== 'student' && role!== 'school'">
        <a routerLink="/assign" class="m-menu__link">
          <i class="m-menu__link-icon flaticon-book"></i>
          <span class="m-menu__link-text">
						Assign
          </span>
        </a>
      </li>

      <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true" *ngIf="role !== 'coadmin' ">
        <a routerLink="/Discuss" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-comments"></i>
          <span class="m-menu__link-text">
						Discuss
          </span>
        </a>
      </li> -->
      <!--<li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;open" routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true">
        <a routerLink="/settings" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-gears"></i>
          <span class="m-menu__link-text">
						Settings
          </span>
        </a>
      </li>-->
      <li class="m-menu__section">
        <i class="m-menu__section-icon flaticon-more-v3"></i>
      </li>
    </ul>
  </div>
  <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->


<div class="bmd-layout-container bmd-drawer-f-r bmd-drawer-overlay">
  <header class="bmd-layout-header">
    <div class="navbar navbar-light bg-faded">
      <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-p2">
        <span class="sr-only">Toggle drawer</span>
        <i class="material-icons">menu</i>
      </button>
      <ul class="nav navbar-nav">
        <li class="nav-item">Title</li>
      </ul>
    </div>
  </header>
  <div id="dw-p2" class="bmd-layout-drawer bg-faded">
    <header>
      <a class="navbar-brand">Title</a>
    </header>
    <ul class="list-group">
      <a class="list-group-item">Link 1</a>
      <a class="list-group-item">Link 2</a>
      <a class="list-group-item">Link 3</a>
    </ul>
  </div>
  <main class="bmd-layout-content">
    <div class="container">
      <!-- main content -->
    </div>
  </main>
</div>
