<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Pricing Tables v1
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							General
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Pricing Tables
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Pricing Tables v1
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--begin::Basic Pricing Table--><!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon">
						<i class="la la-puzzle-piece"></i>
					</span>
					<h3 class="m-portlet__head-text">
						Basic Pricing Table
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="m-pricing-table-1 m-pricing-table-1--fixed">
				<div class="m-pricing-table-1__items row">
					<div class="m-pricing-table-1__item col-lg-4">
						<div class="m-pricing-table-1__visual">
							<div class="m-pricing-table-1__hexagon1"></div>
							<div class="m-pricing-table-1__hexagon2"></div>
							<span class="m-pricing-table-1__icon m--font-brand">
								<i class="fa flaticon-rocket"></i>
							</span>
						</div>
						<span class="m-pricing-table-1__price">
							Free
						</span>
						<h2 class="m-pricing-table-1__subtitle">
							1 End Product License
						</h2>
						<span class="m-pricing-table-1__description">
							Lorem ipsum dolor sit amet edipiscing elit
							<br>
							sed do eiusmod elpors labore et dolore
							<br>
							magna siad enim aliqua
						</span>
						<div class="m-pricing-table-1__btn">
							<button type="button" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">
								Get For Free
							</button>
						</div>
					</div>
					<div class="m-pricing-table-1__item col-lg-4">
						<div class="m-pricing-table-1__visual">
							<div class="m-pricing-table-1__hexagon1"></div>
							<div class="m-pricing-table-1__hexagon2"></div>
							<span class="m-pricing-table-1__icon m--font-brand">
								<i class="fa flaticon-piggy-bank"></i>
							</span>
						</div>
						<span class="m-pricing-table-1__price">
							69
							<span class="m-pricing-table-1__label">
								$
							</span>
						</span>
						<h2 class="m-pricing-table-1__subtitle">
							Business License
						</h2>
						<span class="m-pricing-table-1__description">
							Lorem ipsum dolor sit amet edipiscing elit
							<br>
							sed do eiusmod elpors labore et dolore
							<br>
							magna siad enim aliqua
						</span>
						<div class="m-pricing-table-1__btn">
							<button type="button" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">
								Purchase
							</button>
						</div>
					</div>
					<div class="m-pricing-table-1__item col-lg-4">
						<div class="m-pricing-table-1__visual">
							<div class="m-pricing-table-1__hexagon1"></div>
							<div class="m-pricing-table-1__hexagon2"></div>
							<span class="m-pricing-table-1__icon m--font-brand">
								<i class="fa flaticon-gift"></i>
							</span>
						</div>
						<span class="m-pricing-table-1__price">
							889
							<span class="m-pricing-table-1__label">
								$
							</span>
						</span>
						<h2 class="m-pricing-table-1__subtitle">
							Enterprice License
						</h2>
						<span class="m-pricing-table-1__description">
							Lorem ipsum dolor sit amet edipiscing elit
							<br>
							sed do eiusmod elpors labore et dolore
							<br>
							magna siad enim aliqua
						</span>
						<div class="m-pricing-table-1__btn">
							<button type="button" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">
								Purchase
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end::Portlet--><!--end::Basic Pricing Table--><!--begin::Fluid Pricing Table--><!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon">
						<i class="la la-leaf"></i>
					</span>
					<h3 class="m-portlet__head-text">
						Fluid Pricing Table
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="m-pricing-table-1">
				<div class="m-pricing-table-1__items row">
					<div class="m-pricing-table-1__item col-lg-3">
						<div class="m-pricing-table-1__visual">
							<div class="m-pricing-table-1__hexagon1"></div>
							<div class="m-pricing-table-1__hexagon2"></div>
							<span class="m-pricing-table-1__icon m--font-brand">
								<i class="fa flaticon-piggy-bank"></i>
							</span>
						</div>
						<span class="m-pricing-table-1__price">
							Free
						</span>
						<h2 class="m-pricing-table-1__subtitle">
							1 End Product License
						</h2>
						<span class="m-pricing-table-1__description">
							Lorem ipsum aret
							<br>
							sed do eiusmod
							<br>
							magna siad ali
						</span>
						<div class="m-pricing-table-1__btn">
							<button type="button" class="btn btn-brand m-btn m-btn--custom m-btn--pill m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">
								Purchase
							</button>
						</div>
					</div>
					<div class="m-pricing-table-1__item col-lg-3">
						<div class="m-pricing-table-1__visual">
							<div class="m-pricing-table-1__hexagon1"></div>
							<div class="m-pricing-table-1__hexagon2"></div>
							<span class="m-pricing-table-1__icon m--font-accent">
								<i class="fa flaticon-confetti"></i>
							</span>
						</div>
						<span class="m-pricing-table-1__price">
							69
							<span class="m-pricing-table-1__label">
								$
							</span>
						</span>
						<h2 class="m-pricing-table-1__subtitle">
							Business License
						</h2>
						<span class="m-pricing-table-1__description">
							Lorem ipsum
							<br>
							sed do eiusmod
							<br>
							magna siad enim aliqua
						</span>
						<div class="m-pricing-table-1__btn">
							<button type="button" class="btn m-btn--pill  btn-accent m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">
								Purchase
							</button>
						</div>
					</div>
					<div class="m-pricing-table-1__item col-lg-3">
						<div class="m-pricing-table-1__visual">
							<div class="m-pricing-table-1__hexagon1"></div>
							<div class="m-pricing-table-1__hexagon2"></div>
							<span class="m-pricing-table-1__icon m--font-focus">
								<i class="fa flaticon-rocket"></i>
							</span>
						</div>
						<span class="m-pricing-table-1__price">
							548
							<span class="m-pricing-table-1__label">
								$
							</span>
						</span>
						<h2 class="m-pricing-table-1__subtitle">
							Enterprice License
						</h2>
						<span class="m-pricing-table-1__description">
							Lorem ipsum dolor
							<br>
							sed do eiusmod
							<br>
							magna siad enim
						</span>
						<div class="m-pricing-table-1__btn">
							<button type="button" class="btn m-btn--pill  btn-focus m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">
								Purchase
							</button>
						</div>
					</div>
					<div class="m-pricing-table-1__item col-lg-3">
						<div class="m-pricing-table-1__visual">
							<div class="m-pricing-table-1__hexagon1"></div>
							<div class="m-pricing-table-1__hexagon2"></div>
							<span class="m-pricing-table-1__icon m--font-primary">
								<i class="fa flaticon-gift"></i>
							</span>
						</div>
						<span class="m-pricing-table-1__price">
							899
							<span class="m-pricing-table-1__label">
								$
							</span>
						</span>
						<h2 class="m-pricing-table-1__subtitle">
							Custom License
						</h2>
						<span class="m-pricing-table-1__description">
							Lorem ipsum
							<br>
							sed do eiusmod tem
							<br>
							magna siad enim
						</span>
						<div class="m-pricing-table-1__btn">
							<button type="button" class="btn m-btn--pill  btn-primary m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">
								Purchase
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end::Portlet--><!--end::Fluid Pricing Table-->
</div>
