/* Popup Model Close Button style set  */
.modal_style {
  width: 10% !important;
  margin-left: 0% !important;
  margin-top: 1% !important;
}

/* Profile Details custom style set  */
.m-card-profile__pic-wrapper {
  margin: 0px auto !important;
}



.ct-label {
  fill: #fff !important;
  font-weight: bold !important;
}

/* Attendance Donut Chart style Set */
.donut-stat {
  font-size: 100% !important;
  color: #9699a2 !important;
  font-weight: 100 !important;
}

.ct-chart-donut .ct-series {
  stroke: #fff !important;
  stroke-width: 2px;
}

/*Present Absent Donut Classes*/
.present {
  background-color: #28a745 !important;
}

.absent {
  background-color: #dc3545 !important;
}

.m-widget14_custom {
  padding: 0px !important;
}

.m-portlet__body-custom {
  padding: 0px 0px !important;
}

/*.m-portlet__body-border{
  border-left: 1px solid #a8aab2;
  border-right: 1px solid #a8aab2;
  border-bottom: 1px solid #a8aab2;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}*/

.notice-date {
  margin-top: 1%;
  padding-right: 10px;
}

/* Home work Tab style set  */
.homework-view {
  padding: 5% !important;
  background-color: #fff;
  margin-bottom: 34px;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
}

.homework-title {
  text-transform: uppercase;
}

.homework-button {
  width: 100px !important;
  float: right !important;
  background-color: #f7971f !important;
}

/* My Child popup box tab details color set  */
.green-bg-color {
  /* background-color: #28a745;*/
  color: #28a745 !important;
  font-weight: 500;
}

.yellow-bg-color {
  /*  background-color: #ffc107;*/
  color: #ffc107 !important;
  font-weight: 500;
  font-size: 13px;
}

.exam-title {
  font-size: 18px;
  font-weight: 600;
}

/* My Child Popup Box style */

.modal-header-custom {
  padding: 1% !important;
}

.m-portlet--full-height-custom {
  height: calc(110% - 2.2rem) !important;
}

/* Card width set */
.card_custom {
  max-width: 18% !important;
  height: 250px !important;
}


.white-box-mychild {
  background-color: #fff;
  padding: 5%;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
}

* {
  font-family: Segoe UI;
}

.img2 {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  margin-top: 5px;
  margin-top: 5px;
}

.name-div {
  box-sizing: border-box;
  display: inline-block;
}

.class-div {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px;
  float: right;
}

.text-box {
  border: 2px solid #D9D9D9;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  font-size: 12px;
  color: #000000;
}

.text-box:focus {
  border: 2px solid #ff9100;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  font-size: 12px;
  color: #000000;
}

.mychild-classname {

  font-size: 14px;
  font-weight: 500;
  color: #6B6B73;
}

.mychild-name {
  font-size: 15px;
  font-weight: 600;
}

.m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link:hover,
.m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link.active,
.m-tabs-line.m-tabs-line--primary a.m-tabs__link:hover,
.m-tabs-line.m-tabs-line--primary a.m-tabs__link.active {
  color: #000;
  font-weight: 400;
  border-bottom: 2px solid #FF9100;
}

.m-portlet-mychild .m-portlet__head {
  display: table;
  padding: 0;
  width: 100%;
  padding: 0 0rem;
  height: 5.1rem;
}

.m-portlet-mychild {
  background-color: transparent !important;
  box-shadow: none !important;
  margin-bottom: 0rem !important;
}

.m-portlet__body-mychild {
  /*padding: 32px 32px !important;*/
  border-radius: 10px;
  /*background-color: #fff;*/
}

.btn-accent-myChild {
  color: #fff;
  background-color: #ff9100;
  border-color: #ff9100;
  filter: drop-shadow(2px 5px 6px #bcbcbc);
}

.btn-accent-myChild:hover {
  color: #fff;
  background-color: #ff9100;
  border-color: #ff9100;
  color: white !important;
}

.btn-close-myChild {
  color: #000;
  background-color: #fff;
  border: 1px solid #f0f1f6;
  border-radius: 25px;
}

.btn-close-myChild:hover {
  color: #000;
  background-color: #f0f1f6;

  border-radius: 25px;
}

.btn-submit-myChild {
  color: #fff;
  border: 2px solid #FF9100;
  background-color: #FF9100;
  border-radius: 25px;
}

.btn-submit {
  color: #fff;
  border: 2px solid #FF9100;
  background-color: #FF9100;
  border-radius: 28px;
  width: 83px;
  float: right;

}

.m-tabs-line .m-tabs__link {
  padding: 0.6em 1.4em;
  font-size: 15px;
}

/*
.m-card-profile__pic{
  display: inline-block;
  box-sizing: border-box;
 
  float: left;
  width: 50%;
}
.m-card-profile__details{
  display: inline-block !important;
  box-sizing: border-box !important;
  
  float: right;
}*/
.mychild-profile {
  height: 100px !important;
  width: 100px !important;
  text-align: center;
}

.mychild-profile__name {
  font-size: 20px;
  font-weight: 500;
}

.m-subheader-mychild {
  padding: 30px 44px 0 44px !important;
}

.m-content-mychild {
  padding: 30px 44px !important;
}

.m-card-profile .m-card-profile__pic img {
  text-align: center;
  max-width: 100px !important;
  margin: 0 auto !important;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.mychild-icons {
  display: flex;
  justify-content: center;
  padding: 0 0 0 0;
}

.m-card-profile .m-card-profile__details {
  text-align: left !important;
  padding: 0 0 0 0;
}

.my-child-designation {
  font-size: 13px;
}

.mychild-heading {
  font-weight: 500;
  font-size: 15px;
}

.m-widget4-mychild {
  background-color: #fff;
  border-radius: 10px;
}

.m-card-profile {
  padding: 14px 0;
  margin: 0;
}

.m-widget14__legends {
  text-align: center;
}


/* begining Calendar Css  */


.m-widget4-calendar {
  padding: 0px !important;
}

.fc th,
.fc td {
  border-style: unset !important;
  border-width: unset !important;
  padding: 0px;
}

.fc-basic-view .fc-body .fc-row {
  min-height: 3em !important;
}

/* .fc-content-skeleton table tbody{
display: none;
} */

.fc-unthemed .fc-toolbar {
  margin-bottom: 0.5rem;
}

.fc-day-grid-container {
  overflow: hidden scroll;
  height: unset !important;
}

.set-text-color {
  color: #fff;
}

.fc-unthemed .fc-day-grid td:not(.fc-axis) {
  padding: 1.0rem 1.5rem 1.0rem 1.0rem;
}

td.fc-other-month {
  visibility: hidden;
  background-color: #fff;
}



.bg-success {
  background-color: #28a745 !important;
  color: #fff;
}

.bg-danger {
  background-color: #fb022b !important;
  color: #fff;
}

.bg-warning {
  background-color: #ffb822 !important;
  color: #fff;
}

.dot-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.row-background-attendance {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;
}

/* End Calendar css */

/* Home work tab css */
.white-square-homework {
  background-color: #fff;
  border-radius: 10px;
  text-overflow: ellipsis;
  height: 200px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);

}

.class-mychild {
  float: right;
  color: #969698;
  font-weight: 500;
  font-size: 12px;
}

.subject {
  color: #969698;
  font-weight: 500;
  font-size: 12px;
}

.para {
  font-size: 12px;
  text-overflow: ellipsis;
  max-height: 200px;
}

.btn-view {
  float: right;
  border: 1px solid #FF9100;
  background: none;
  font-weight: 500;
  border-radius: 7px;
  color: #FF9100;
  padding: 5px 10px;
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.below-text {
  position: absolute;
  bottom: 31px;
}

.datetime {
  float: right;
}

.modal-heading {
  color: #FF9100 !important;
  font-size: 24px;
  font-family: segoe UI;
  font-weight: 700;
}

.m-portlet .m-portlet__head-remove-border {
  border-bottom: unset;
}

.error-message {
  color: red;
  font-size: 11px;
  font-weight: 500;
}

.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 30px;
  font-weight: 500;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #000;
}
.m-card-profile .m-card-profile__details .m-card-profile__name-mychild {
  color: #1b1c1e !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}

.m--font-transform-c-mychild {
  text-transform: capitalize !important;
  color: #6B6B73 !important;
  font-size: 14px !important;
}

.modal.show .modal-dialog-myChild {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  max-width: 500px;
}
.btn-close{
  color:#FF9100;
  background-color: #fff;
  border: 1px solid #f0f1f6;
  border-radius: 28px;
  width: 83px !important;
  float: right;
}
.btn-close:hover{
  color:#000;
  background-color: #f0f1f6;
 
  border-radius: 28px;
}

.btn-submit{
  color:#fff;
  border: 2px solid #FF9100;
  background-color: #FF9100;
  border-radius: 28px;
  width: 83px;
  float: right;
  
}
/*.......................................media query code .............................................*/



@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {
  .m-card-profile .m-card-profile__details .m-card-profile__name {
    display: block;
    padding: 0 0 0 0;
    font-size: 18px;
    font-weight: 500;
  }
}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {}

@media(max-width:479px) {

  .mychild-name-alignment {

    text-align: center;
  }

  .m-card-profile .m-card-profile__details .m-card-profile__name {
    display: block;
    padding: 0 0 0 0;
    font-size: 16px !important;
    font-weight: 500;
  }

  .my-child-designation {
    font-size: 12px;
  }

  .m-card-profile .m-card-profile__details {
    text-align: center !important;
    padding: 0 0 0 0;
  }

  .yellow-bg-color {
    color: #ffc107 !important;
    font-weight: 500;
    font-size: 11px;
  }

  .green-bg-color {
    color: #28a745 !important;
    font-weight: 500;
    font-size: 12px;
  }

  .homework-view p {
    font-size: 12px;
  }

  .homework-view .float-right {
    font-size: 12px;
  }

  .exam-title {
    font-size: 15px;
    font-weight: 600;
  }

  .m-subheader-mychild {
    padding: 30px 21px 0 21px !important;
  }

  .m-content-mychild {
    padding: 30px 21px !important;
  }

  .btn.m-btn--custom {
    padding: 0.75rem 1rem !important;
    font-size: 1rem;
    font-weight: 400;
    font-family: Poppins;
  }

  .m-tabs-line .m-tabs__link-my-child {
    padding: 0.6em 1.4em;
    font-size: 0.7rem !important;
    font-weight: 400 !important;
  }

  .m-tabs-line .m-tabs__item-mychild {
    margin-right: 0px !important;
    margin-bottom: -1px !important;
  }
}
