<!-- BEGIN: Subheader -->
<div *ngIf="!childDetailsView">
  <div class="m-subheader m-subheader-mychild" appunwraptag="">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title">
          My Child
        </h3>
      </div>
      <!-- BEGIN: Class Dropdown -->
      <a class="btn btn-accent-myChild m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="margin-top: 1%"
        href="#" ng-reflect-href="#">
        <span aria-hidden="true" data-toggle="modal" data-target="#m_modal_5">
          <i class="la la-plus"></i>
          <span>
            Add
          </span>
        </span>
      </a>
      <!-- END: Class Dropdown -->
    </div>
  </div>
  <!-- END: Subheader -->
  <div class="m-content m-content-mychild">
    <!--Begin::Main Portlet-->
    <div class="row">
      <div class="col-xl-12">
        <!--begin:: Widgets/Student list-->

        <div class="row mt-3">

          <div class="col-lg-4 col-md-12" *ngFor="let child of child_data">
            <div class="white-box-mychild mb-2">
              <a on-click="getChildDetails(child)">
                <!--<a routerLink="/my-child/{{child.std + child.div}}">-->
                <div class="row">
                  <div class="col-lg-12">
                    <div class="name-div">
                      <img src="{{child.avtarURL}}" class="img2" alt="profile picture"
                        onError="this.src='././assets/images/avatar.jpg'" height="70" width="70">
                      <span class="mychild-name">{{child.name}}</span>
                    </div>
                    <div class="class-div">
                      <span class="mychild-classname">
                        {{child.std + child.div}}
                      </span>
                    </div>

                  </div>


                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
      <!--End::Main Portlet-->
    </div>
  </div>
</div>

<div class="m-subheader m-subheader-mychild" appunwraptag="" *ngIf="childDetailsView">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <a on-click="getchildlist()">
        <h3 class="m-subheader__title">
          My Child
        </h3>
      </a>
    </div>
    <!-- BEGIN: Class Dropdown -->
    <a class="btn btn-accent-myChild m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="margin-top: 1%"
      href="#" ng-reflect-href="#">
      <span aria-hidden="true" data-toggle="modal" data-target="#m_modal_5">
        <i class="la la-plus"></i>
        <span>
          Add
        </span>
      </span>
    </a>

    <!-- END: Class Dropdown -->
  </div>
  <div class="m-portlet-mychild m-portlet mt-5">
    <div class="m-portlet__body m-portlet__body-custom">
      <div class="m-portlet__head m-portlet__head-remove-border">
        <div class="m-portlet__head-tools">
          <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
            <li class="nav-item m-tabs__item m-tabs__item-mychild">
              <a class="nav-link m-tabs__link active m-tabs__link-my-child" data-toggle="tab" href="#m_user_tab_member"
                role="tab">
                <i class="flaticon-share m--hide"></i>
                Member
              </a>
            </li>
            <li class="nav-item m-tabs__item m-tabs__item-mychild">
              <!--getHomeworkBySelecteChildClass(homework.class)"-->
              <!--on-click="suggestionClick()"-->
              <a class="nav-link m-tabs__link m-tabs__link-my-child" data-toggle="tab" href="#m_user_tab_attendance"
                role="tab" on-click="getAttendanceBySelectedChildId(myChild.uid)">
                Attendance
              </a>
            </li>
            <li class="nav-item m-tabs__item m-tabs__item-mychild" on-click="getStudentPerformanceBySubject()">
              <a class="nav-link m-tabs__link m-tabs__link-my-child" data-toggle="tab" href="#m_user_tab_performance"
                role="tab">
                Performance
              </a>
            </li>
            <li class="nav-item m-tabs__item m-tabs__item-mychild">
              <!--getHomeworkBySelecteChildClass(homework.class)"-->
              <!--on-click="suggestionClick()"-->
              <a class="nav-link m-tabs__link m-tabs__link-my-child" data-toggle="tab" href="#m_user_tab_homework"
                on-click="getHomework()" role="tab">
                Homework
              </a>
            </li>
            <li class="nav-item m-tabs__item m-tabs__item-mychild">
              <!-- on-click="praiseClick()"-->
              <a class="nav-link m-tabs__link m-tabs__link-my-child" data-toggle="tab" href="#m_user_tab_examination"
                role="tab" on-click="getExamination()">
                Examination
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="m-portlet__body m-portlet__body-mychild m-portlet__body-border ">
    <div class="tab-content">
      <div class="tab-pane active" id="m_user_tab_member">
        <div class="m-widget4 m-widget4-mychild">
          <div class="m-card-profile row" *ngIf="selected_child_info">
            <div class="col-lg-3 col-md-3">
              <div class="m-card-profile__title m--hide">
                Your Profile
              </div>
              <div class="m-card-profile__pic">
                <div class="m-card-profile__pic-wrapper">
                  <img src="{{selected_child_info.avtarURL}}" alt=""
                    onError="this.src='././assets/images/avatar.jpg'" />
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="m-card-profile__details">
                <div class="mychild-name-alignment">
                  <span class="m-card-profile__name m--font-transform-c m-card-profile__name-mychild">
                    {{selected_child_info.name}}<br />
                  </span>
                  <p class="my-child-designation">Student</p>
                </div>
                <div class="row mychild-detailed-description">
                  <div class="col-lg-6 col-md-6">
                    <span class="mychild-heading">Class</span>
                    <p class="m-nav__link-text m--font-transform-c m--font-transform-c-mychild">
                      <!--*ngIf="selected_teacher_info.isClassTeacher"-->
                      {{selected_child_info.std}} {{selected_child_info.div}}<br />
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <span class="mychild-heading">E-mail</span>
                    <p class="m-nav__link-text m--font-transform-c m--font-transform-c-mychild">
                      {{selected_child_info.email}}<br />
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <span class="mychild-heading">School</span>
                    <p class="m-nav__link-text m--font-transform-c m--font-transform-c-mychild">
                      {{selected_child_info.school}}
                    </p>
                  </div>


                </div>



              </div>

            </div>
            <div class="col-lg-3 col-md-3">
              <div class="mychild-icons">
                <a href="#" class="" href="https://web.whatsapp.com/" class="mr-2" target="_blank"><img
                  src="././assets/images/watsapp.png"></a>
                <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" class="mr-2" target="_blank"><img
                    src="././assets/images/inbox.png"></a>
                <a href="#mymodal" class="mr-2" data-toggle="modal" data-target="#m_modal_8"><img
                    src="././assets/images/message.png"></a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="tab-pane " id="m_user_tab_attendance">
        <div class="col-xl-12 row-background-attendance">
          <div class="row  align-items-center">
            <!--*ngif="getAttendanceBySelectedChildId(child.uid)"-->
            <div class="col-sm-6">
              <div class="m-widget14">
                <div class="row  align-items-center">
                  <div class="col">
                    <div id="m_chart_attendance" class="m-widget14__chart" style="height: 140px">
                      <div class="m-widget14__stat donut-stat"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center"><span> <span class="dot-circle bg-danger mr-1"></span> Absent </span> <span
                  class="ml-1"><span class="dot-circle bg-success mr-1"></span> Present </span><span class="ml-1"><span
                    class="dot-circle bg-warning mr-1"></span> Leave
                </span> </div>
            </div>
            <div class="col-sm-6">
              <div class="m-widget14 m-widget4-calendar">
                <div id="m_calendar_event"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="m_user_tab_homework">
        <div class="m-widget4" *ngIf="homework_data">
          <!--class homework-view m-widget4-mychild -->
          <!-- <div class="m-timeline-3__item m-timeline-3__item--info"
            *ngFor="let homework of homework_data; let i = index">
            <span>
              <span class="m-timeline-3__item-time float-right notice-date">
                {{homework.createdAt | date:'d MMMM'}}
              </span>
              <div class="m-timeline-3__item-desc ">
                <span class="m-timeline-3__item-text homework-title">
                  {{homework.title}}
                </span>
                <br>
                <br>
                <span class="m-timeline-3__item-user-name">
                  {{homework.description}}<br>
                  <b> Class: </b>{{homework.std}} {{homework.div}}<br>
                  <b> Submit By: </b>{{homework.submission}}
                </span>
                <a class="m-btn m-btn-pill m-btn-hover-brand btn btn-sm btn-secondary homework-button"
                  routerLink="/homework">
                  View more
                </a>
                <div class="m-widget4__ext">
                </div>
              </div>

              <div class="modal fade" [id]="'m_modal_2'+i" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle2">
                        {{homework.title}}
                      </h5><br>
                    </div>

                    <div class="modal-body">
                      <img src="{{homework.attachments}}" alt="error in loading" width="400px" height="400px" />
                    </div>

                    <div class="modal-footer">

                      <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </span>
          </div> -->
          <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let homework of homework_data; let i = index">
              <div class="white-square-homework mb-4 p-3">
                <span class="font-weight-bold">{{homework.title}}</span><span class="class-mychild">{{homework.std}}
                  {{homework.div}}</span>
                <p class="subject">{{homework.subject}}</p>
                <p class="para">
                  {{ (homework.description.length>6)? (homework.description | slice:0:45)+'..':(homework.description) }}
                </p>

                <div class="below-text"><span class="subject">Submit by |
                    {{homework.submission | date : "dd-MM-yyyy"}}</span></div>
                <a href="#" class="btn-view pull-right" data-toggle="modal" data-target=""
                  on-click="getHomeworkDetails(homework)">VIEW</a>

              </div>
            </div>
          </div>
        </div>
        <div class="m-widget4 homework-view m-widget4-mychild" *ngIf="!homework_data">
          No Homework data Available.
        </div>
      </div>

      <div class="tab-pane" id="m_user_tab_examination">
        <div class="m-widget4">
          <div class="m_datatable" id="local_data"></div>
          <div class="row" *ngIf="exam_data">
            <div class="col-lg-4 col-md-6" *ngFor="let exam of exam_data">
              <div class="homework-view">
                <!--<div class="m-widget4__info">-->
                <!-- on-click="item_inbox_complain_click(item_inbox_praise.id)"-->
                <div class="">
                  <span class="m-widget4__title text-capitalize exam-title">
                    {{exam.title}}
                    <!--<i class="la la-download float-right"></i>-->
                  </span>
                  <span class="m-widget4__title float-right">
                    {{exam.date | date: 'dd-MMMM'}}
                  </span>
                </div><br>
                <span class="m-widget4__title">
                  {{exam.subject}}
                </span>
                <span class="m-widget4__title float-right">
                  {{exam.totalMarks}} Marks
                </span>
                <br>
                <span class="m-widget4__title yellow-bg-color">
                  At: {{exam.time}}
                </span>
                <span class="m-widget4__title float-right yellow-bg-color">
                  For: {{exam.duration}}
                </span>
                <br />
                <span class="m-widget4__sub green-bg-color">
                  {{exam.state}}
                </span>
                <p>
                  {{exam.description}}
                </p>
                <!--</div>-->
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!exam_data">
            <div class="col-lg-12 col-md-12">
              <div class="homework-view">
                No Exam data Available.
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="tab-pane" id="m_user_tab_performance">
        <!-- {{feedback_list}} -->
        <!--begin::Widget 14-->
        <div class="m-widget4 homework-view" *ngIf="subjectList">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row  align-items-center">
              <div class="col">
                <div id="m_chart_performance" class="m-widget14__chart" style="height: 140px">
                </div>
              </div>
            </div>
          </div>
          <!--end::Widget 14 Item-->
        </div>
        <div class="m-widget4 homework-view" *ngIf="!subjectList">
          No Performance data Available.
        </div>
      </div>
    </div>
  </div>


</div>
<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-myChild" role="document">
    <form [formGroup]="childForm" (ngSubmit)="childCode()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel5">
            Add Child
          </h5>
          <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control text-box" placeholder="Child's Unique Code" formControlName="child"
              required>
            <span
              *ngIf="childForm.get('child').errors && (childForm.get('child').touched || childForm.get('child').dirty)"
              class="help-block">
              <span *ngIf="childForm.get('child').errors.required" class="error-message">
                Please enter child Code!
              </span>
            </span>
          </div>
          <div class="form-group">
            <input type="password" class="form-control text-box" placeholder="Re -enter Child's Unique Code"
              formControlName="confirmcode" required>
            <span
              *ngIf="childForm.get('confirmcode').errors && (childForm.get('confirmcode').touched || childForm.get('confirmcode').dirty)"
              class="help-block">
              <span *ngIf="childForm.get('confirmcode').errors.required" class="error-message">
                Please re-enter child Code!
              </span>
            </span>
            <!--id="recipient-name"-->
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
              <div class="col-lg-12">
                  <button type="button" class="btn-sm btn-close text-center " data-dismiss="modal">
                    Cancel
                  </button>
                  <button type="submit" class="btn-sm btn-submit mr-2" [disabled]="!childForm.valid">
                    Submit
                  </button>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="m_modal_homework" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
  aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header header-size-view">
        <h2 class="modal-heading font-weight-bold">Homework</h2>

        <a href="#" class="close" data-dismiss="modal">&times;</a>

      </div>
      <div class="modal-body" *ngIf="homeworkDetails">

        <span class="font-weight-bold h5">{{homeworkDetails.title}}</span><span class="class-mychild">{{homeworkDetails.std}}
          {{homeworkDetails.div}}</span>
        <p class="subject">{{homeworkDetails.subject}}</p>
        <p class="para">{{ homeworkDetails.description }}</p>
        <span class="subject">Submit by | {{ homeworkDetails.submission | date : "dd-MM-yyyy" }}</span>
      </div>
    </div>
  </div>
</div>

<!-------------------------------------- Message Modal pop-up --------------------------------------------->
<div class="modal fade" id="m_modal_8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
aria-hidden="true">
<div class="modal-dialog modal-dialog-myChild">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header header-size-view">
      <h4 class="modal-heading">Message</h4>
      <a type="button" class="close" data-dismiss="modal">&times;</a>
    </div>
    <div class="modal-body">
      <form [formGroup]="messageForm" (ngSubmit)="onMessageSubmit()">
        <span class="m-dropdown__label-title-teacher m-2">Category: </span>
        <select id="category" class="form-control form-dropdown mb-3 text-box" formControlName="category"
          ng-required="true">
          <option>Select Category</option>
          <option value="{{c}}" *ngFor="let c of category_list">{{c}}</option>
        </select>
        <span
          *ngIf="messageForm.get('category').errors && (messageForm.get('category').touched || messageForm.get('category').dirty)"
          class="help-block">
          <span *ngIf="messageForm.get('category').errors.required" class="error-message">
            Please select category!
          </span>

        </span>
        <!--<div class="dropdown pull-right mb-2">
          <button class="btn btn-default dropdown-toggle drop-category" type="button" data-toggle="dropdown">Select
            Category
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Complain</a></li>
            <li><a href="#">Suggestion</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>-->

        <div class="form-group">
          <input type="text" class="form-control text-box" placeholder="Enter a Subject" formControlName="subject">
          <span
            *ngIf="messageForm.get('subject').errors && (messageForm.get('subject').touched || messageForm.get('subject').dirty)"
            class="help-block">
            <span *ngIf="messageForm.get('subject').errors.required" class="error-message">
              Please fill subject!
            </span>

          </span>
        </div>
        <div class="form-group">
          <textarea class="form-control textareabox" rows="5" formControlName="message"
            placeholder="Enter Your Message Here...."></textarea>
          <span
            *ngIf="messageForm.get('message').errors && (messageForm.get('message').touched || messageForm.get('message').dirty)"
            class="help-block">
            <span *ngIf="messageForm.get('message').errors.required" class="error-message">
              Please fill message!
            </span>

          </span>
        </div>
        <button type="submit" class="btn btn-submit btn-sm" [disabled]="!messageForm.valid">
          Save
        </button>
        <!--<a href="#" class="submit-btn font-weight-bold pull-right">SUBMIT</a>-->
      </form>
    </div>
  </div>
</div>
</div>