
.mygroup_col_style {
  padding: unset !important;
}
.mygroup_style {
  margin-top: unset !important;
  width: 100% !important;
  height: 100% !important;
  padding: 2.5% !important;
  border: 1px solid transparent !important;
  border-radius: 5% !important;
}
.each-class-per{
  text-align: left;
  padding: 2.5%;
}

.m-accordion__item-title{
  display: table-cell;
  vertical-align: middle;
  width: 82% !important;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.m-accordion__item-mode{
  /*width: 20% !important;*/
}

.student-bg-color{
  background-color: #d5dbf9;
}

.teacher-bg-color{
  background-color: #d5dbf9;
}
.nav {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/** Profile Card style */

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  text-align: center;
  margin: 5%;
}
.profile{
  width:50%;
  float:left;
}
.profile-detils{
  width:50%;
  float:left;
}
.title {
  color: grey;
  font-size: 18px;
}


.card_view {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  width: 100%;
  text-align: left !important;
  font-family: arial;
  height: 180px !important;
}

.right-align{
  text-align: right;
  float: right;
}

.result-card {
  max-height: 400px !important;
}

.m-result-card{
  height: 100%;
  overflow-y: auto;
}

/* Remove col-sm-6 left padding*/
.col-6-sm{
  padding-left: unset !important;
}
.m-widget4-custom {
  width: 77% !important;
}

.m-portlet__custom{
  border-bottom: unset !important;
}

.nav-border {
  border: 1px solid #d5dbf9;
  border-radius: 45px;
  padding: 3px;
}

.modal-heading {
  color: #ff9100;
  font-size: 23px;
  margin-top: -50px !important;
  margin-left: 166px !important;
}
.col-lg-2 {
  flex: 4 5 17.66667%;
  max-width: 16.66667%;
  margin-top: 25px;
  margin-right: inherit;
}
.create_button{
  color: white;
  background-color: #ff9100;
  border-radius: 10px 10px 10px 10px;
  padding: 11px 15px 10px 15px;
  width: 150px;
  margin-bottom: 52px;
  margin-top: 15px;
}

@media screen and (min-width: 1356px) {
  .card {
    max-width: 100% !important;
  }
}