<!-- BEGIN: Subheader -->
<div *ngIf="role !=='student' && schoolPerformanaceStatus == false" ><!-- *ngIf="role=='teacher'"-->
  <div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title">
          Performance
        </h3>
      </div>
      <div>
        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
             data-dropdown-toggle="hover" aria-expanded="true">
          <a href="#"
             class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
            <i class="la la-plus m--hide"></i>
            <i class="la la-ellipsis-h"></i>
          </a>
          <div class="m-dropdown__wrapper">
            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
            <div class="m-dropdown__inner">
              <div class="m-dropdown__body">
                <div class="m-dropdown__content">
                  <ul class="m-nav">
                    <li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
                    </li>
                    <li class="m-nav__item">
                      <a href="" class="m-nav__link">
                        <i class="m-nav__link-icon flaticon-share"></i>
                        <span class="m-nav__link-text">
												Activity
											</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Subheader -->
  <div class="m-content">
    <!--Begin::Main Portlet-->
    <div class="row">
      <div class="col-xl-12">
        <!--begin:: Widgets/New Users-->
        <div class="m-portlet m-portlet--full-height">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Performance
                </h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <ul
                class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm nav-border"
                role="tablist">

              </ul>
            </div>
          </div>
          <div class="m-portlet__body">
            <!-- Grid row -->
            <div class="m-accordion" id="m_accordion_2" role="tablist">
              <!--begin::Item-->
              <div class="m-accordion__item" *ngFor="let cp of class_performance; let i=index">
                <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_2_item_1_head"

                ><!-- on-click="getStudent(class.std_div)"-->
                  <div>
                    <div class="w3-card-2">
                <span class="m-accordion__item-title"><!--on-click="getStudentAndTeacher(class.std_div)"-->
									<div class="row">
                  <div class="col-xl-2 mygroup_style" [style.background]="colors[i % 4]">
										<span class="m-widget4__title">
                      {{cp.class}}
										</span>
                      </div>
                      <div class="col-xl-10 mygroup_col_style">
                    <span class="m-widget4__sub" style="text-align: center;  trackBy: trackByFn"
                          [style.color]="colors[i %  4]">
                      <div class="each-class-per" *ngIf="cp.performance < 0">
                        N/A 
                      </div>
                      <div class="each-class-per" *ngIf="cp.performance >= 0">
                        {{cp.performance}} %
                      </div>
                    </span>
                      </div>
                  </div>
								</span>
                      <span class="m-accordion__item-mode">
                  <div class="row">
                    <div class="m-portlet__head m-portlet__custom">
                    <div class="m-portlet__head-tools row">
                  <ul
                    class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm nav-border"
                    role="tablist">

                            <li class="nav-item m-tabs__item"  data-toggle="collapse" [attr.href]="'#main_tab'+ i" aria-expanded="false">
                              <a class="nav-link m-tabs__link student-bg-color" data-toggle="tab"
                                 [attr.href]="'#student_tab'+ i"
                                 role="tab" on-click="getStudent(cp.class)" >
                                Students
                              </a>

                            </li>
                            <li class="nav-item m-tabs__item "  data-toggle="collapse" [attr.href]="'#main_tab'+ i" aria-expanded="false">
                                <a class="nav-link m-tabs__link teacher-bg-color" data-toggle="tab"
                                   [attr.href]="'#teacher_tab'+ i"
                                   role="tab" on-click="getTeacher(cp.class)">
                                Teachers
                              </a>
                            </li>
                          </ul>
                    </div>
                  </div>
                  </div>
								</span>
                    </div>
                  </div>


                  <!--end::Item-->                     <!--begin::Item-->

                </div>
                <div class="m-accordion__item-body collapse" [id]="'main_tab'+ i">
                  <div>
                    <div class="m-portlet__body">
                      <div class="tab-content">
                        <div class="tab-pane active" [id]="'student_tab'+ i">
                          <div class="m-widget4" *ngFor="let student of student_data">
                            <div *ngIf="cp.class == student.std+student.div">
                              <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--pic">
                                  <img src="{{student.avtarURL}}" alt="img"
                                       onError="this.src='././assets/images/avatar.jpg'">
                                </div>
                                <div class="m-widget4__info m-widget4-custom">
                                <span class="m-widget4__title">{{student.name}}
                                </span>
                                  <br>
                                </div>
                                <div class="m-widget4__ext">
                                  <a href="#"
                                     class="m-btn btn-warning m-btn--hover-brand m-btn--pill btn btn-sm btn-secondary pull-right"
                                     on-click="getStudentPerformanceRedirect(student, student.uid)">
                                    Performance
                                  </a>
                                  <a href="#"
                                     class="m-btn btn-warning m-btn--hover-brand m-btn--pill btn btn-sm btn-secondary pull-right"
                                     on-click="gotoAttendace(student, student.uid)">
                                    Attendance
                                  </a>
                                </div>
                              </div>
                              <br>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane " [id]="'teacher_tab'+ i">
                          <div class="m-widget4 " *ngFor="let teacher of teacher_data">
                            <div *ngIf="cp.class == teacher.std+teacher.div">
                              <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--pic">
                                  <img src="{{teacher.avtarURL}}" alt="img"
                                       onError="this.src='././assets/images/avatar.jpg'">
                                </div>
                                <div class="m-widget4__info">
                                <span class="m-widget4__title">
                                  {{teacher.name}} {{teacher.std}} {{teacher.div}}
                                </span>
                                  <br>
                                </div>
                              </div>
                              <br>
                              <!--</div>-->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end::Section-->
              </div>
              <!-- Grid row -->
              <!--  <div class="m-portlet__body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="m_widget4_tab1_content" >
                      &lt;!&ndash;begin::Widget 14&ndash;&gt;
                      <div class="m-widget4" *ngFor="let cp of class_performance">                              &lt;!&ndash;forloop&ndash;&gt;
                        &lt;!&ndash;begin::Widget 14 Item&ndash;&gt;
                        <div class="m-widget4__item" >

                          <div class="m-widget4__img m-widget4__img&#45;&#45;pic">
                            <img src="" alt="">
                          </div>
                          <div class="m-widget4__info">
                                                <span class="m-widget4__title">
                                                    {{cp.class}}
                                                </span>
                            <br>
                            <span class="m-widget4__sub">
                                                    {{cp.performance}} %
                                                </span>
                          </div>

                        </div><br>

                      </div>

                    </div>


                  </div>
                </div>-->
            </div>
            <!--end:: Widgets/New Users-->
          </div>
        </div>
        <!--End::Main Portlet-->
      </div>
    </div>


    <!--<div *ngIf="role=='student'">
      &lt;!&ndash; BEGIN: Subheader &ndash;&gt;
      <div class="m-subheader" appunwraptag="">
        <div class="d-flex align-items-center">
          <div class="mr-auto"><h3>Performance</h3></div>
        </div>
      </div>

      <div class="m-content">

        <div class="m-portlet m-portlet&#45;&#45;mobile">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Performance
                </h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                  <div class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;align-push" data-dropdown-toggle="hover" aria-expanded="true">
                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">
                      <i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>
                    </a>
                    <div class="m-dropdown__wrapper">
                      <span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;right m-dropdown__arrow&#45;&#45;adjust"></span>
                      <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                          <div class="m-dropdown__content">
                            <ul class="m-nav">
                              <li class="m-nav__section m-nav__section&#45;&#45;first">
                                                        <span class="m-nav__section-text">
                                                            Quick Actions
                                                        </span>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-share"></i>
                                  <span class="m-nav__link-text">
                                                                Create Post
                                                            </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-chat-1"></i>
                                  <span class="m-nav__link-text">
                                                                Send Messages
                                                            </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                  <span class="m-nav__link-text">
                                                                Upload File
                                                            </span>
                                </a>
                              </li>
                              <li class="m-nav__section">
                                                        <span class="m-nav__section-text">
                                                            Useful Links
                                                        </span>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-info"></i>
                                  <span class="m-nav__link-text">
                                                                FAQ
                                                            </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                  <span class="m-nav__link-text">
                                                                Support
                                                            </span>
                                </a>
                              </li>
                              <li class="m-nav__separator m-nav__separator&#45;&#45;fit m&#45;&#45;hide"></li>
                              <li class="m-nav__item m&#45;&#45;hide">
                                <a href="#" class="btn btn-outline-danger m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;wide btn-sm">
                                  Submit
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="m-portlet__body">

            <div class="m_datatable" id="local_data"></div>

          </div>
        </div>
      </div>


    </div>
    <div *ngIf="role=='school'">
      <div class="m-subheader" appunwraptag="">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title">
              Performance
            </h3>
          </div>
          <div>
            <div class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;align-push"
                 data-dropdown-toggle="hover" aria-expanded="true">
              <a href="#"
                 class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;outline-2x m-btn&#45;&#45;air m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">
                <i class="la la-plus m&#45;&#45;hide"></i>
                <i class="la la-ellipsis-h"></i>
              </a>
              <div class="m-dropdown__wrapper">
                <span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;right m-dropdown__arrow&#45;&#45;adjust"></span>
                <div class="m-dropdown__inner">
                  <div class="m-dropdown__body">
                    <div class="m-dropdown__content">
                      <ul class="m-nav">
                        <li class="m-nav__section m-nav__section&#45;&#45;first m&#45;&#45;hide">
                                            <span class="m-nav__section-text">
                                                Quick Actions
                                            </span>
                        </li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-share"></i>
                            <span class="m-nav__link-text">
                                                    Activity
                                                </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      &lt;!&ndash; END: Subheader &ndash;&gt;
      <div class="m-content">
        &lt;!&ndash;Begin::Main Portlet&ndash;&gt;
        <div class="row">
          <div class="col-xl-12">
            &lt;!&ndash;begin:: Widgets/New Users&ndash;&gt;
            <div class="m-portlet m-portlet&#45;&#45;full-height">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                      Performance
                    </h3>
                  </div>
                </div>
                <div class="m-portlet__head-tools">
                  <ul
                    class="nav nav-pills nav-pills&#45;&#45;brand m-nav-pills&#45;&#45;align-right m-nav-pills&#45;&#45;btn-pill m-nav-pills&#45;&#45;btn-sm"
                    role="tablist">

                  </ul>
                </div>
              </div>
              <div class="m-portlet__body">
                <div class="tab-content">

                  <div class="tab-pane active" >&lt;!&ndash;id="m_widget4_tab3_content"&ndash;&gt;

                    <div class="m-widget4" *ngFor="let cp of class_performance">

                      <div class="m-widget6__item">
                        &lt;!&ndash;<div class="m-widget4__img m-widget4__img&#45;&#45;pic">
                          <img src="" alt="">
                        </div>&ndash;&gt;
                        <div class="m-widget4__info">
                          <div class="row">
                            <div class="col-xl-1 trackBy: trackByFn" [style.background]="colors[i]">
                                            <span class="m-widget4__title mygroup_style">
                          <a href="#">
                          {{cp.class}}
                            </a>
                                            </span>&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="col-xl-11" style="padding-top: 30px;">
                        <span class="m-widget4__sub" style= "text-align: center;  trackBy: trackByFn" [style.color]="colors[i]">
                          <a href="#">
                            {{cp.performance}} %
                          </a>
                        </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>

                    </div>

                  </div>

                </div>
              </div>

              &lt;!&ndash;  <div class="m-portlet__body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="m_widget4_tab4_content" >
                      &lt;!&ndash;begin::Widget 14&ndash;&gt;
                      <div class="m-widget4" *ngFor="let cp of student_performance">                              &lt;!&ndash;forloop&ndash;&gt;
                        &lt;!&ndash;begin::Widget 14 Item&ndash;&gt;
                        <div class="m-widget4__item" >

                          <div class="m-widget4__img m-widget4__img&#45;&#45;pic">
                            <img src="" alt="">
                          </div>
                          <div class="m-widget4__info">
                                                <span class="m-widget4__title">
                                                    {{cp.class}}
                                                </span>
                            <br>
                            <span class="m-widget4__sub">
                                                    {{cp.performance}} %
                                                </span>
                          </div>

                        </div><br>

                      </div>

                    </div>


                  </div>
                </div>&ndash;&gt;
            </div>
            &lt;!&ndash;end:: Widgets/New Users&ndash;&gt;
          </div>
        </div>
        &lt;!&ndash;End::Main Portlet&ndash;&gt;
      </div>
    </div>-->
  </div>
</div>
  <div *ngIf="role === 'student' && schoolPerformanaceStatus == false">
    <div class="m-subheader" appunwraptag="">
      <div class="d-flex align-items-center">
        <div class="mr-auto"><h3>Examination</h3></div>
      </div>
    </div>

    <div class="m-content">

      <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Examination List
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
              <!---
              <li class="m-portlet__nav-item">
                <div
                  class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                  data-dropdown-toggle="hover" aria-expanded="true">
                  <a href="#"
                     class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-ellipsis-h m--font-brand"></i>
                  </a>
                  <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                      <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                          <ul class="m-nav">
                            <li class="m-nav__section m-nav__section--first">
													<span class="m-nav__section-text">
														Quick Actions
													</span>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-share"></i>
                                <span class="m-nav__link-text">
															Create Post
														</span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                <span class="m-nav__link-text">
															Send Messages
														</span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                <span class="m-nav__link-text">
															Upload File
														</span>
                              </a>
                            </li>
                            <li class="m-nav__section">
													<span class="m-nav__section-text">
														Useful Links
													</span>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-info"></i>
                                <span class="m-nav__link-text">
															FAQ
														</span>
                              </a>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                <span class="m-nav__link-text">
															Support
														</span>
                              </a>
                            </li>
                            <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                            <li class="m-nav__item m--hide">
                              <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                Submit
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            -->
              <a class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="margin-top:10% "
                 href="#" ng-reflect-href="#">
                  <span aria-hidden="true" data-toggle="modal" data-target="#m_modal_5">
										<i class="la la-plus"></i>
										<span>
											Add
										</span>
									</span>
              </a>
            </ul>
          </div>

        </div>

        <div class="m-portlet__body">

          <div class="m_datatable" id="local_data"></div>

          <!--	begin: Datatable-->
          <table width="100%">
            <thead>
            <tr>
              <th title="Field #1">
                Date
              </th>
              <th title="Field #2">
                Title
              </th>
              <th title="Field #3">
                Subject
              </th>
              <th title="Field #4">
                Description
              </th>
              <th title="Field #5">
                Class
              </th>
              <th title="Field #6">
                Time
              </th>
              <th title="Field #7">
                Duration
              </th>
              <th title="Field #8">
                Total marks
              </th>
              <th title="Field #9">
                State
              </th>
            </tr>
            </thead>
            <br>

            <tbody *ngFor="let e of exam_list">
            <tr>
              <td>
                {{e.date | date: 'd MMMM'}}
              </td>
              <td>
                {{e.title}}
              </td>
              <td>
                {{e.subject}}
              </td>
              <td>
                {{e.description}}
              </td>
              <td>
                {{e.std}} {{e.div}}
              </td>
              <td>
                {{e.time}}
              </td>
              <td>
                {{e.duration}}
              </td>
              <td style="text-align: center">
                {{this.totalMarks}}/{{e.totalMarks}}
              </td>
              <td style="color: red">
                {{e.state}}
              </td>
            </tr>
            <br>


            </tbody>
          </table>

          <!--end: Datatable -->
        </div>
      </div>
    </div>


  </div>
<div *ngIf="role == 'school' && schoolPerformanaceStatus == true">
  <div class="m-content">
    <div class="row">
      <div class="col-lg-12">

        <div class="m-portlet" id="m_portlet">

          <!--header start-->
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<!--<i class="flaticon-map-location"></i>-->
                <i class="m-menu__link-icon fa  fa-pencil-square-o"></i>
							</span>
                <h3 class="m-portlet__head-text">
                  Performance
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="tab-content">
              <div class="tab-pane active" id="m_widget4_tab_performance_content">
                <div class="center">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="m-widget14">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="row profile-card">
                              <div class="col-sm-6 col-6-sm">
                                <img src="{{profile.avtarURL}}" alt="{{profile.name}}" style="width:100%"
                                     onError="this.src='././assets/images/avatar.jpg'">
                              </div>
                              <div class="col-sm-6">
                                <h2><u>{{profile.name}}</u></h2>
                                <p>{{ profile.phone }}</p>
                                <p>{{ profile.email }}</p>
                                <p class="title"> {{ profile.std }}{{ profile.div }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row  align-items-center">
                          <div class="col">
                            <div id="m_chart_performance" class="m-widget14__chart" style="height: 140px">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 result-card">
                      <div class="m-widget14 m-result-card">
                        <div class="col-sm-12" *ngFor="let e of exam_data">
                          <div class="row">
                            <div class="card card_view">
                              <div class="card-body">
                                <h5 class="card-title">{{e.subject}} <span class="right-align"> {{e.date | date: 'd MMMM'}}</span>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{e.title}}</h6>
                                <p class="card-text">{{e.description}}</p>
                                <h6 class="card-subtitle mb-2 text-muted">Time: {{e.time}} Duration: {{e.duration}}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Marks: {{ e.score}}/{{ e.totalMarks}} {{
                                  e.state }}</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 <!--add new performance code -->
 <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header header-size-view">
        <!--<h4 class="modal-heading font-weight-bold">New Entries<br><span class="modal-subheading">Tap to entry</span></h4>-->
        <a href="#" class="close " data-dismiss="modal">&times;</a>
      </div>
      <h4 class="modal-heading font-weight-bold pull-left">Add examination</h4>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control text-box" placeholder="Title of examination" formControlName="child"
            required>
        </div>
      </div>
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3">
            <span class="pull-left time-heading"></span><br>
            <input type="number" class="text-box form-control" placeholder="00:" formControlName="hour" >
            <p class="pull-left text-dark text-lowercase font-weight-bold"></p>
          </div>
          <div class="col-lg-2">hr*</div>
          <div class="col-lg-3" style="float: right;">
            <span class="pull-left time-heading"></span><br>
            <input type="number" class="text-box form-control" placeholder="00:" formControlName="min" >
          </div>
          <div class="col-lg-2">min*</div>
        </div>

        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-4">
            <span class="pull-left time-heading"></span><br>
            <input type="text" class="text-box form-control" placeholder="Select Class" formControlName="hour" >
            <p class="pull-left text-dark text-lowercase font-weight-bold"></p>
          </div>
          <div class="col-lg-2"></div>
          <div class="col-lg-3" style="float: right;">
            <span class="pull-left time-heading"></span><br>
            <input type="number" class="text-box form-control" placeholder="Marks" formControlName="min" >
          </div>
          <div class="col-lg-2"></div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control text-box" placeholder="select subject" formControlName="child"
              required>
          </div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <textarea rows="4" cols="50" placeholder="Examination Description"  class="form-control text-box" >
              </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4" style="float: right;">
            <span class="pull-left time-heading"></span><br>
            <input type="date" class="text-box form-control"  formControlName="min" >
          </div>
          <div class="col-lg-4"></div>
        </div>

        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4" style="float: right;">
            <span class="pull-left time-heading"></span><br>
            <input type="button" value="Create" class="create_button"  formControlName="min" >
          </div>
          <div class="col-lg-4"></div>
        </div>

    </div>
  </div>
</div>
