<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Transport
      </h3>
    </div>
  </div>
</div>
<!--class="col-xl-12"-->
<!--class="col-xl-6 col-lg-12" -->

<div class="m-content">
  <div class="row">
    <div [ngClass]="addCssClass(applyhalfview , applyfullview)" >
      <div class="m-portlet m-portlet--full-height"><!--style="height: calc(100% - 0.8rem)"-->

        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
              <li class="nav-item m-tabs__item" on-click="busClick(); addCssClass(false)">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_assistant_assign_tab_bus_route" role="tab">
                  <i class="flaticon-share m--hide" ></i>
                  Buses
                </a>
              </li>
              <li class="nav-item m-tabs__item" on-click="driverClick(); addCssClass(false)">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_assistant_assign_tab_route_driver" role="tab">
                  <i class="flaticon-share m--hide" ></i>
                  Routes
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="m-portlet__body">
          <div class="tab-content" >
            <div class="tab-pane active" id="m_assistant_assign_tab_bus_route" >
              <!--begin::Widget 14-->
              <div class="m-widget4">
                <div class="tab-pane active m-scrollable" role="tabpanel" style="overflow: auto;height: 200px;" #scrollMe
                     [scrollTop]="scrollMe.scrollHeight">
                <div class="m-widget4__item" *ngFor="let bus_route of bus_data">

                  <div class="m-widget4__info">
                    <h3 class="m-widget4__title">
                      Bus Name: {{bus_route.number}}<br/>
                    </h3>
                    <span>Registation No: {{bus_route.registrationNumber}}</span><br/>
                    <span>Insurance Renew Date: {{bus_route.insuranceLastDate | date }}</span><br/>
                    <span>Total Capacity: {{bus_route.capacity}}</span><br/>
                  </div>
                </div>
              </div>
                <a class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air float-right" style="margin-top: 1%" href="#" ng-reflect-href="#">
          <span aria-hidden="true" data-toggle="modal" data-target="#m_modal_5">
										<i class="la la-plus"></i>
										<span>
											Add
										</span>
									</span>
                </a>
                <br/>
              </div> <!--scroll-->

            </div>
              <!--end::Widget 14-->

            <div class="tab-pane" id="m_assistant_assign_tab_route_driver">
              <div class="m-widget4">
                <div class="tab-pane active m-scrollable" role="tabpanel" style="overflow: auto;height: 200px;" #scrollMe
                     [scrollTop]="scrollMe.scrollHeight">
                <div class="m-widget4__item" *ngFor="let driver of driver_data">
                  <div class="m-widget4__info" on-click="getDriverById(driver.ruid)">
                    <h3 class="m-widget4__title">
                      Name: {{driver.number}}<br/>
                    </h3>
                    cheackpoint: {{driver.locations}}
                  </div>
                </div><!--widget 4 item-->
                </div>
                <a class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air float-right" style="margin-top: 1%" href="#" ng-reflect-href="#">
          <span aria-hidden="true" data-toggle="modal" data-target="#m_modal_4">
										<i class="la la-plus"></i>
										<span>
											Add
										</span>
									</span>
                </a>

              </div>
            </div>

          </div>
        </div>

        <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <form [formGroup]="routeForm" (ngSubmit)="addRoutes()">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel4">
                    Reoprt
                  </h5>
                  <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Route Name" formControlName="number">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control"  placeholder="Discription" formControlName="locations"><!--id="recipient-name"-->
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--modal content ends-->

        <!--end::Modal--><!--begin::Modal-->
        <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <form [formGroup]="busesForm" (ngSubmit)="onSubmit()">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel5">
                    Reoprt
                  </h5>
                  <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Bus Name" formControlName="number">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control"  placeholder="Bus Registation Number" formControlName="registrationNumber"><!--id="recipient-name"-->
                  </div>
                  <div class="form-group">
                    <input type="date" class="form-control"  placeholder="Insurance Exp" formControlName="insuranceLastDate">
                  </div>
                  <div class="form-group">
                    <input type="number" class="form-control"  placeholder="Seat Capacity" formControlName="capacity">
                  </div>
                 <!-- <div class="form-group">
                    <textarea class="form-control" id="message-text" formControlName="message"></textarea>
                  </div>-->

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--end::Modal-->
      </div>

    </div>


  </div>
  <!--</div>


  </div>

  </div>
  </div>-->

  </div>
