.content-body {
  max-height: 300px;
  overflow-x: hidden;


}

.m-subheader-inbox {
  padding: 15px 30px 0 42px !important;
}

.header-content {
  position: absolute !important;
  bottom: 10% !important;
  width: 90%;
}

.right-padding {
  padding-right: 5% !important;
}

.list-width {
  max-width: 285 !important;
  overflow-x: hidden !important;
}

/*...........................................css code...........................................*/
* {
  font-family: Segoe UI;
}

.subheading {
  font-weight: 700;
  font-family: 'Segoe UI';
  color: #FF9100;
  padding-top: 5px;
  font-size: 12px;
}

.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 30px;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #000;
}

.sub-heading {
  color: #FF9100;
  font-size: 16px;
  font-weight: 700;
  font-family: Segoe UI;
  margin-top: -6px;
}

.nav-heading {
  font-size: 12px !important;

}

.person-name {
  font-size: 13px !important;
  font-weight: 600;
}

.designation {
  font-size: 10px;

}

.message {
  float: right;
  font-size: 13px;
}

.background_inbox {
  background-color: transparent !important;
  box-shadow: none;
  margin-left: 14px !important;


}

/*
.chat-box {
  height: 320px !important;
  overflow: scroll;
  overflow-x: hidden;
  padding: 5% 5% 0% 5% !important;


}*/

.list-box-inbox {
  padding: 0px !important;

  margin-right: 20px;
}

.background2_inbox {
  border-radius: 8px;
  border: 2px solid #ffffff;
  margin-bottom: 50px;
  margin-right: 10%;
  max-height: 400px;
}

.chatting-box {
  padding-bottom: 20px !important;
}

.col-lg-7 {
  position: static;
  padding-bottom: 5%;
}

/*.entertextbox {
  margin-top: 3% !important;
  margin-left: 2% !important;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
}*/

.entertextbox {
  width: 100% !important;
  margin-top: 0% !important;
  margin-left: 0% !important;
  border: 1px solid transparent;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
  border-radius: 5px;
  padding: 10px;
  font-family: Segoe UI !important;
}

.fa-paper-plane {
  margin-right: 10px !important;

}

.arrow {
  margin-left: -14px;
  color: #FF9100;
}

.arrow:hover {
  color: #FFCC00;
}

.col-lg-1 {
  padding-top: 15px !important;
}

.message-out {
  margin: 0px !important;
  font-size: 13px !important;
}

.message-in {
  font-size: 13px !important;
}

.message-text {
  font-size: 14px !important;
}

.message-date {
  font-size: 10px !important;
  float: right !important;
  text-align: right !important;
}

.m-portlet .m-portlet__head-custom-inbox {
  border-bottom: 1px solid #d4d4d4 !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 212, 212);
  padding: unset !important;
  border-color: transparent !important;
}

.m-messenger .m-messenger__messages .m-messenger__message {
  margin: 0 0 0 0 !important;
}

.m-messenger .m-messenger__messages .m-messenger__datetime {
  display: table;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-size: 12px !important;
  font-weight: 500;
  text-transform: uppercase;
}

.m-tabs-line .m-tabs__item-custom {
  margin-right: 10px !important;
  margin-bottom: -1px;
}

/*.m-portlet__body-custom-inbox{
    width: 75%;
    padding: 0.2rem 0.2rem;
  }*/

.m-tabs__item-inbox a {
  border-color: transparent !important;
  font-weight: normal;
}

.m-tabs__item-inbox a :focus {
  border-color: transparent !important;
  color: #FF9100;
  font-weight: normal;
}

.nav-link {
  font-weight: 500 !important;
}

.m-tabs__link.active {
  color: #FF9100 !important;
}

.m-tabs-line .m-tabs__link {
  padding: 0px 0;
}



.nav .nav-tabs .nav-items {
  text-align: center !important;
}

.nav-inbox li {
  width: 60px !important;
}

.m-tabs-line.nav.nav-tabs .nav-link i,
.m-tabs-line a.m-tabs__link i {
  color: #898b96 !important;
}

.inbox-chat-box {
  height: 350px;
  width: 100%;
  background-color: #fff !important;
  border-radius: 10px;
  font-family: Segoe UI !important;
}

.m-messenger__form-controls {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 94%;
  padding: 0px 10px;
}

.m-messenger__form-tools {
  display: inline-block;
  box-sizing: border-box;
}
.dashboard-sub-heading-date {
  font-size: 12px;
  font-weight: 600;
  font-family: segoe UI;
}

/*.......................................media query code .............................................*/
@media (min-width: 993px) {}

@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {
  .list-box-inbox {
    padding: 0px !important;
    margin-left: 20px;
    margin-right: 20px;
  }

  .m-messenger__form-controls {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    padding: 0px 10px;
  }

  /* .nav-inbox li {
    width: 70px !important;
  }*/
  .nav-inbox li {
    width: 45px !important;
  }

  .inbox-tab-heading {
    font-size: 10px;
  }
}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {}

@media(max-width:479px) {
  .m-body .m-content-inbox {
    padding: 0px 0px !important;
}
  .list-box-inbox {
    padding: 0px !important;
    margin-left: 20px;
    margin-right: 20px;
  }

  .m-messenger__form-controls {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    padding: 0px 10px;
  }

  .m-messenger__form-tools {
    display: inline-block;
    box-sizing: border-box;
  }

  .click-arrow {
    margin-left: -5px;
    font-family: Segoe UI !important;
    height: 20px;
  }

  .m-subheader-inbox {
    padding: 15px 30px 0 30px !important;
  }

  .background_inbox {
    background-color: transparent !important;
    box-shadow: none;
    margin-left: 0px !important;


  }

  .m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--out .m-messenger__message-content {
    background: #6B6B73;
    width: 150px !important;
    font-size: 12px;
  }

  .nav-inbox li {
    width: 48px !important;
  }

  .inbox-tab-heading {
    font-size: 10px;
  }
}
