<!-- BEGIN: Subheader -->
<div class="m-subheader m-subheader-inbox" appunwraptag="">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="m-subheader__title">Inbox</h1>
      <p class="sub-heading">All Messages</p>
    </div>
  </div>
</div>
<!--class="col-xl-12"-->
<!--class="col-xl-6 col-lg-12" -->

<div class="m-content list-box-inbox mt-5 m-content-inbox">
  <div class="row">
    <div class="col-lg-5 col-md-5">
      <div [ngClass]="addCssClass(applyhalfview , applyfullview)">
        <div class="m-portlet m-portlet--full-height background_inbox">

          <div class="m-portlet__head m-portlet__head-custom-inbox">
            <div class="m-portlet__head-tools">
              <ul class="nav nav-tabs m-tabs m-tabs-line nav-inbox " role="tablist">
                <li class="nav-item m-tabs__item m-tabs__item-custom m-tabs__item-inbox"
                  on-click="complainClick(); addCssClass(false)">
                  <a class="nav-link m-tabs__link active nav-heading text-center" data-toggle="tab"
                    href="#m_user_inbox_tab_complain" role="tab" routerLinkActive="active-link">

                    <span><i class="fa fa-thumbs-down icons active"></i></span>
                    <p class="inbox-tab-heading">Complaint</p>



                  </a>
                </li>
                <li class="nav-item m-tabs__item m-tabs__item-custom m-tabs__item-inbox" on-click="suggestionClick()">
                  <a class="nav-link m-tabs__link nav-heading text-center" data-toggle="tab"
                    href="#m_user_inbox_tab_suggestion" role="tab">
                    <div>
                      <span><i class="fa fa-envelope icons text-center"></i></span>
                      <p class="text-center inbox-tab-heading">Message</p>

                    </div>
                  </a>
                </li>
                <li class="nav-item m-tabs__item m-tabs__item-custom m-tabs__item-inbox" on-click="praiseClick()">
                  <a class="nav-link m-tabs__link nav-heading text-center" data-toggle="tab"
                    href="#m_user_inbox_tab_praise" role="tab">

                    <div>
                      <span><i class="fa fa-thumbs-up icons"></i></span>
                      <p class="inbox-tab-heading">Praise</p>

                    </div>
                  </a>
                </li>
                <li class="nav-item m-tabs__item m-tabs__item-custom m-tabs__item-inbox" on-click="feedbackClick()">
                  <a class="nav-link m-tabs__link nav-heading text-center" data-toggle="tab"
                    href="#m_user_inbox_tab_feedback" role="tab">

                    <div>
                      <span>
                        <!--<i class="fa fa-thumbs-up icons"></i>--><img src="././assets/images/recommendation.png "
                          class="icons" height="16px"></span>
                      <p class="inbox-tab-heading">Review</p>

                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="">
            <div class="tab-content content-body ">

              <div class="tab-pane active" id="m_user_inbox_tab_complain">
                <!--begin::Widget 14-->
                <div class="m-widget4">
                  <!-- *ngIf="complain_list && complain_list != null" -->

                  <div class="mb-3" *ngFor="let item_inbox_complain of complain_list">

                    <div class="m-widget4__info" on-click="item_inbox_complain_click(item_inbox_complain.id)">
                      <div class="row">
                        <div class="col-lg-2">
                          <img src="" height="40px" width="40px" class="m--img-rounded m--marginless m--img-centered"
                            onError="this.src='././assets/images/avatar.jpg'">

                        </div>
                        <div class="col-lg-10">
                          <span class="person-name">

                            {{item_inbox_complain.sentBy.name}}
                          </span>
                          <span class="pull right message mr-4">{{item_inbox_complain.title}}</span>
                          <p class="designation">{{item_inbox_complain.sentBy.type}}</p>

                        </div>
                      </div>




                    </div>

                  </div> <br />
                </div>
                <!-- <div class="m-widget4" *ngIf="!complain_list">
                      No Report Found For This Category
                    </div> -->
                <!--end::Widget 14-->
              </div>

              <div class="tab-pane" id="m_user_inbox_tab_suggestion">
                <div class="m-widget4" *ngIf="suggestion_list && suggestion_list!= null">
                  <div class="mb-4" *ngFor="let item_inbox_suggestion of suggestion_list">

                    <div class="m-widget4__info" on-click="item_inbox_complain_click(item_inbox_suggestion.id)">
                      <div class="row">
                        <div class="col-lg-2">
                          <img src="" height="40px" width="40px" class="m--img-rounded m--marginless m--img-centered"
                            onError="this.src='././assets/images/avatar.jpg'">

                        </div>
                        <div class="col-lg-10">
                          <span class="person-name">

                            {{item_inbox_suggestion.sentBy.name}}
                          </span>
                          <span class="pull right message mr-4">{{item_inbox_suggestion.title}}</span>
                          <p class="designation">{{item_inbox_suggestion.sentBy.type}}</p>

                        </div>
                      </div>
                    </div>


                  </div> <br />
                </div>
                <div class="m-widget4" *ngIf="!suggestion_list">
                  No Report Found For This Category
                </div>
              </div>

              <div class="tab-pane" id="m_user_inbox_tab_praise">
                <div class="m-widget4" *ngIf="praise_list && praise_list != null">
                  <div class="mb-4" *ngFor="let item_inbox_praise of praise_list">

                    <div class="m-widget4__info" on-click="item_inbox_complain_click(item_inbox_praise.id)">
                      <div class="row">
                        <div class="col-lg-2">
                          <img src="" height="40px" width="40px" class="m--img-rounded m--marginless m--img-centered"
                            onError="this.src='././assets/images/avatar.jpg'">

                        </div>
                        <div class="col-lg-10">
                          <span class="person-name">

                            {{item_inbox_praise.sentBy.name}}
                          </span>
                          <span class="pull right message mr-4">{{item_inbox_praise.title}}</span>
                          <p class="designation">{{item_inbox_praise.sentBy.type}}</p>

                        </div>
                      </div>

                    </div>


                  </div> <br />
                </div>
                <div class="m-widget4" *ngIf="!praise_list">
                  No Report Found For This Category
                </div>
              </div>

              <div class="tab-pane" id="m_user_inbox_tab_feedback">
                <div class="m-widget4" *ngIf="feedback_list && feedback_list != null">
                  <div class="mb-4" *ngFor="let item_inbox_feedback of feedback_list">


                    <div class="m-widget4__info" on-click="item_inbox_complain_click(item_inbox_feedback.id)">
                      <div class="row">
                        <div class="col-lg-2">
                          <img src="" height="40px" width="40px" class="m--img-rounded m--marginless m--img-centered"
                            onError="this.src='././assets/images/avatar.jpg'">

                        </div>
                        <div class="col-lg-10">
                          <span class="person-name">

                            {{item_inbox_feedback.sentBy.name}}
                          </span>
                          <span class="pull right message mr-4">{{item_inbox_feedback.title}}</span>
                          <p class="designation">{{item_inbox_feedback.sentBy.type}}</p>

                        </div>
                      </div>

                    </div>

                  </div> <br />
                </div>
                <div class="m-widget4" *ngIf="!feedback_list">
                  No Report Found For This Category
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-7 col-md-7">
      <div class="inbox-chat-box">
        <div class="row">

          <div class="col-xl-12">
            <div class="tab-content" id="tab_chatBox">
              <div>
                <div class="tab-pane active m-scrollable" role="tabpanel"
                  style="overflow: auto;height: 300px; padding: 10px;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                  <!--<div class="tab-pane active m-scrollable" id="m_quick_sidebar_tabs_messenger" role="tabpanel"
                  style="overflow: auto;height: 300px; padding: 10px;">-->
                  <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
                    <div class="m-messenger__messages chatting-box">

                      <div *ngFor="let msg of conversation; trackBy: message">

                        <span *ngIf="uid!=msg.sentFrom.id">
                          <div class="m-messenger__message m-messenger__message--in message-in">
                            <div class="m-messenger__message-pic">
                              <img src="{{msg.sentFrom.avtar}}" alt=""
                                onError="this.src='././assets/images/avatar.jpg'" />
                            </div>
                            <div class="m-messenger__message-body">

                              <div class="m-messenger__message-content">
                                <!--<div class="m-messenger__message-username">
                            {{msg.sentFrom.name}}
                          </div>-->
                                <div class="m-messenger__message-text message-text">
                                  {{msg.message}}
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="m-messenger__datetime" style="text-align: left; ">
                            {{msg.sentAt | date : 'short'}}
                          </div><br>

                        </span>


                        <span *ngIf=" uid==msg.sentFrom.id">
                          <div class="m-messenger__message m-messenger__message--out message-out">

                            <div class="m-messenger__message-body">

                              <div class="m-messenger__message-content">
                                <div class="m-messenger__message-text message-text">
                                  {{msg.message}}
                                </div>
                              </div>
                            </div>

                          </div>

                          <div class="m-messenger__datetime message-date">
                            {{msg.sentAt | date : 'short'}}
                          </div>
                        </span>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="m-messenger__seperator"></div>
            <div class="m-messenger__form ">
              <div class="row">
                <div class="col-lg-12">
                  <div class="m-messenger__form-controls">
                    <input type="text" name="in" placeholder="Type here..."
                      class="form-control m-messenger__form-input inputtext entertextbox" [(ngModel)]='sendmsg'>
                  </div>
                  <!--</div>
                <div class="col-lg-1">-->

                  <a href="" class="m-messenger__form-attachment" on-click="postMessage(sendmsg)">
                    <img src="././assets/images/arrow.png" class="click-arrow">
                  </a>

                </div>



                <!--<div class="tab-content">
                      <div class="tab-pane active " id="m_quick_sidebar_tabs_messenger" role="tabpanel">
      
                        <div class="tab-pane ">
                          <div class="m-messenger__form">
                            <div class="row">
                              <div class="col-sm-11">
                              <div class="m-messenger__form-controls">
                                <input class="m-messenger__form-input form-control ng-untouched ng-pristine ng-valid" name="in"
                                       placeholder="Type here..." type="text" ng-reflect-name="in">
                              </div>
                              </div>&lt;!&ndash;col&ndash;&gt;
                              <div class="col-sm-1">
                                <div class="m-messenger__form-tools">
                                <a class="m-messenger__form-attachment" href="" ng-reflect-href="">
                                  <i class="fa fa-mail-forward"></i>
                                </a>
                              </div>
                              </div>&lt;!&ndash;col&ndash;&gt;
                            </div> &lt;!&ndash;row&ndash;&gt;
                          </div>
                        </div>
      
      
                      </div>
                    </div>-->
              </div>
            </div>
            <!--  <div class="m-messenger__seperator"></div>
      
                        <div class="m-messenger__form">
      
                          <div class="m-messenger__form-controls">
                            <input type="text" name="" placeholder="Type here..." class="m-messenger__form-input" [(ngModel)]="sendmsg">
                          </div>
      
                          <div class="m-messenger__form-tools" on-click="postMessage(sendmsg)">
                            <a href="" class="m-messenger__form-attachment">
                              <i class="fa fa-mail-forward" ></i>
                            </a>
                          </div>
      
                        </div>-->
          </div>
        </div>
      </div>
    </div>







  </div>


</div>
<!--</div>


    </div>

  </div>
</div>-->
