<!-- BEGIN: Header -->
<header class="m-grid__item    m-header m-header-custom"  data-minimize-offset="200" data-minimize-mobile-offset="200" appunwraptag="" >
  <div class="m-container m-container--fluid m-container--full-height">
    <div class="m-stack m-stack--ver m-stack--desktop">
      <!-- BEGIN: Brand -->

      <div class="m-stack__item m-brand  m-brand--skin-light mobile-content">
        
         
          <div class="m-stack m-stack--ver m-stack--general ">
              
            <!--<div class="m-stack__item m-stack__item--middle m-brand__logo">
              <a routerLink="/index" class="m-brand__logo-wrapper" style="text-decoration:none">
                <img alt="CLAN" src="./assets/demo/default/media/img/logo/clan_logo.png" class="clan_logo img-fluid" />-->
                <!--<h3 style="color: #ff9100;">CLAN.School</h3>-->
                
              <!--</a>
            </div>-->
            <div class="m-stack__item m-stack__item--middle m-brand__tools">
              <!-- BEGIN: Left Aside Minimize Toggle -->

              
                  <a routerLink="/index" class="brand-logo" style="text-decoration:none">
                    <span><img alt="CLAN" src="./assets/demo/default/media/img/logo/clan_logo.png" class="clan_logo m--visible-tablet-and-mobile-inline-block" /></span>
                    <!--<h3 style="color: #ff9100;">CLAN.School</h3>-->
                    
                  </a>
      
             

              
              <!--<a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block 					m-brand__toggler--active show_icon">
                <span></span>
              </a>-->
              <!-- END -->										<!-- BEGIN: Responsive Aside Left Menu Toggler -->
              <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                <span></span>
              </a>
              <!-- END -->																<!-- BEGIN: Responsive Header Menu Toggler -->
              <!--<a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                <span></span>
              </a>-->
              <!-- END -->									<!-- BEGIN: Topbar Toggler -->
              <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                <i class="flaticon-more"></i>
                
              </a>
              <!-- BEGIN: Topbar Toggler -->
            </div>
          </div>
        </div>
     
      <!-- END: Brand -->
      <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
        <!-- BEGIN: Horizontal Menu -->
        <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark" id="m_aside_header_menu_mobile_close_btn">
          <i class="la la-close"></i>
        </button>

        
        

        <!-- Action And Menu are commented Here -->

        <!--<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark"  >-->
          <!--<ul class="m-menu__nav  m-menu__nav--submenu-arrow">
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
              <a  href="#" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-add"></i>
                <span class="m-menu__link-text">
									Notice
								</span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <ul class="m-menu__subnav">
                  <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   aria-haspopup="true">
                    <a  routerLink="/events" class="m-menu__link">
                      <i class="m-menu__link-icon flaticon-file"></i>
                      <span class="m-menu__link-text">
												Create New Event
											</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
              <a  href="#" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-line-graph"></i>
                <span class="m-menu__link-text">
									Reports
								</span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="m-menu__submenu  m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <div class="m-menu__subnav">
                  <ul class="m-menu__content">
                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" >
                      <h3 class="m-menu__heading m-menu__toggle">
												<span class="m-menu__link-text">
													School Reports
												</span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                      </h3>
                      <ul class="m-menu__inner">
                        <li class="m-menu__item"  data-redirect="true" aria-haspopup="true">
                          <a  routerLink="/performance" class="m-menu__link">
                            <i class="m-menu__link-icon flaticon-map"></i>
                            <span class="m-menu__link-text">
															Performance Reports
														</span>
                          </a>
                        </li>
                        <li class="m-menu__item"  data-redirect="true" aria-haspopup="true">
                          <a  routerLink="/header/actions" class="m-menu__link">
                            <i class="m-menu__link-icon flaticon-user"></i>
                            <span class="m-menu__link-text">
															Lecture Reports
														</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>-->
        <!--</div>-->
        <!-- END: Horizontal Menu -->
        <!-- BEGIN: Topbar -->

        

        <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
          <!--<div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-dark m-header-search m-header-search--expandable m-header-search--skin-light" id="m_quicksearch" data-search-type="default">-->
            <!--BEGIN: Search Form -->
            <!--<form class="m-header-search__form">
              <div class="m-header-search__wrapper">
								<span class="m-header-search__icon-search" id="m_quicksearch_search">
									<i class="flaticon-search"></i>
								</span>
                <span class="m-header-search__input-wrapper">
									<input autocomplete="off" type="text" name="q" class="m-header-search__input" value="" placeholder="" id="m_quicksearch_input">
								</span>
                <span class="m-header-search__icon-close" id="m_quicksearch_close">
									<i class="la la-remove"></i>
								</span>
                <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
									<i class="la la-remove"></i>
								</span>
              </div>
            </form>-->
            <!--END: Search Form -->
            <!--BEGIN: Search Results -->
            <!--<div class="m-dropdown__wrapper">
              <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
              <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                  <div class="m-dropdown__scrollable m-scrollable" data-scrollable="true" data-max-height="300" data-mobile-max-height="200">
                    <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
                  </div>
                </div>
              </div>
            </div>-->
            <!--BEGIN: END Results -->
          <!--</div>-->
          <div class="m-stack__item m-topbar__nav-wrapper">
            <!--<ul class="m-topbar__nav m-nav m-nav--inline m-nav-header" >-->
              <ul [className]="role == 'parent' ? 'm-topbar__nav m-nav m-nav--inline m-nav-header2' : 'm-topbar__nav m-nav m-nav--inline m-nav-header'">

                <li class="li-header m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" data-dropdown-toggle="click" data-dropdown-persistent="true">
                    <a  routerLink="/inbox" class="m-nav__link m-dropdown__toggle" >
                      
                      <span class="m-nav__link-icon">
                          <img src="././assets/images/Shape.png">
                      </span>
                    </a>
                  </li>
                  <li class="li-header m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" data-dropdown-toggle="click" data-dropdown-persistent="true">
                      <a  routerLink="/events" class="m-nav__link m-dropdown__toggle" >
                        
                        <span class="m-nav__link-icon">
                            <img src="././assets/images/events.png">
                        </span>
                      </a>
                    </li>
              <!--<li class="m-nav__item align-center">
                <a href="#" class="m-nav__link"><img src="././assets/images/Shape.png"></a>
              </li>
              <li class="m-nav__item align-center">
                  <a href="#" class="m-nav__link"><img src="././assets/images/events.png"></a>
                </li>-->
              
               <!-- <div class="m-dropdown__wrapper">
                  <span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;center"></span>
                  <div class="m-dropdown__inner">
                    <div class="m-dropdown__header m&#45;&#45;align-center" style="background: url(./assets/app/media/img/misc/notification_bg.jpg); background-size: cover;">
											<span class="m-dropdown__header-title">
												9 New
											</span>
                      <span class="m-dropdown__header-subtitle">
												User Notifications
											</span>
                    </div>
                    <div class="m-dropdown__body">
                      <div class="m-dropdown__content">
                        <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line&#45;&#45;brand" role="tablist">
                          <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_notifications_notifications" role="tab">
                              Alerts
                            </a>
                          </li>
                          <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_events" role="tab">
                              Events
                            </a>
                          </li>
                          <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_logs" role="tab">
                              Logs
                            </a>
                          </li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
                            <div class="m-scrollable" data-scrollable="true" data-max-height="250" data-mobile-max-height="200">
                              <div class="m-list-timeline m-list-timeline&#45;&#45;skin-light">
                                <div class="m-list-timeline__items">
                                  <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge -m-list-timeline__badge&#45;&#45;state-success"></span>
                                    <span class="m-list-timeline__text">
																			12 new users registered
																		</span>
                                    <span class="m-list-timeline__time">
																			Just now
																		</span>
                                  </div>
                                  <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <span class="m-list-timeline__text">
																			System shutdown
																			<span class="m-badge m-badge&#45;&#45;success m-badge&#45;&#45;wide">
																				pending
																			</span>
																		</span>
                                    <span class="m-list-timeline__time">
																			14 mins
																		</span>
                                  </div>
                                  <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <span class="m-list-timeline__text">
																			DB overloaded 80%
																			<span class="m-badge m-badge&#45;&#45;info m-badge&#45;&#45;wide">
																				settled
																			</span>
																		</span>
                                    <span class="m-list-timeline__time">
																			1 hr
																		</span>
                                  </div>
                                  <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <span class="m-list-timeline__text">
																			System error -
																			<a href="#" class="m-link">
																				Check
																			</a>
																		</span>
                                    <span class="m-list-timeline__time">
																			2 hrs
																		</span>
                                  </div>
                                  <div class="m-list-timeline__item m-list-timeline__item&#45;&#45;read">
                                    <span class="m-list-timeline__badge"></span>
                                    <span href="" class="m-list-timeline__text">
																			New critical error triggered.
																			<span class="m-badge m-badge&#45;&#45;danger m-badge&#45;&#45;wide">
																				urgent
																			</span>
																		</span>
                                    <span class="m-list-timeline__time">
																			7 hrs
																		</span>
                                  </div>
                                  <div class="m-list-timeline__item m-list-timeline__item&#45;&#45;read">
                                    <span class="m-list-timeline__badge"></span>
                                    <span class="m-list-timeline__text">
																			Production server down
																		</span>
                                    <span class="m-list-timeline__time">
																			3 hrs
																		</span>
                                  </div>
                                  <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <span class="m-list-timeline__text">
																			Production server up
																		</span>
                                    <span class="m-list-timeline__time">
																			5 hrs
																		</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                            <div class="m-scrollable" m-scrollabledata-scrollable="true" data-max-height="250" data-mobile-max-height="200">
                              <div class="m-list-timeline m-list-timeline&#45;&#45;skin-light">
                                <div class="m-list-timeline__items">
                                  <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge m-list-timeline__badge&#45;&#45;state1-success"></span>
                                    <a href="" class="m-list-timeline__text">
                                      Production server up
                                    </a>
                                    <span class="m-list-timeline__time">
																			5 hrs
																		</span>
                                  </div>
                                  <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge m-list-timeline__badge&#45;&#45;state1-info"></span>
                                    <a href="" class="m-list-timeline__text">
                                      System shutdown
                                    </a>
                                    <span class="m-list-timeline__time">
																			11 mins
																		</span>
                                  </div>
                                  <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge m-list-timeline__badge&#45;&#45;state1-info"></span>
                                    <a href="" class="m-list-timeline__text">
                                      Production server down
                                    </a>
                                    <span class="m-list-timeline__time">
																			3 hrs
																		</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
                            <div class="m-stack m-stack&#45;&#45;ver m-stack&#45;&#45;general" style="min-height: 180px;">
                              <div class="m-stack__item m-stack__item&#45;&#45;center m-stack__item&#45;&#45;middle">
																<span class="">
																	All caught up!
																	<br>
																	No new logs.
																</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>-->
              
              <li class="li-header m-nav__item m-topbar__quick-actions m-topbar__quick-actions--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light"  data-dropdown-toggle="click">
                <a routerLink="/notice" class="m-nav__link m-dropdown__toggle">
                  <span class="m-nav__link-badge m-badge m-badge--dot m-badge--info m--hide"></span>
                  <span class="m-nav__link-icon">
										<img src="././assets/images/wishlist.png">
									</span>
                </a>
                <!--<div class="m-dropdown__wrapper">
                  <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                  <div class="m-dropdown__inner">
                    <div class="m-dropdown__header m--align-center" style="background: url(./assets/app/media/img/misc/quick_actions_bg.jpg); background-size: cover;">
											<span class="m-dropdown__header-title">
												Quick Actions
											</span>
                      <span class="m-dropdown__header-subtitle">
												Shortcuts
											</span>
                    </div>
                    <div class="m-dropdown__body m-dropdown__body--paddingless">
                      <div class="m-dropdown__content">
                        <div class="m-scrollable" data-scrollable="false" data-max-height="380" data-mobile-max-height="200">
                          <div class="m-nav-grid m-nav-grid--skin-light">
                            <div class="m-nav-grid__row">
                              <a href="#" class="m-nav-grid__item">
                                <i class="m-nav-grid__icon flaticon-file"></i>
                                <span class="m-nav-grid__text">
																	New Report
																</span>
                              </a>
                              <a href="#" class="m-nav-grid__item">
                                <i class="m-nav-grid__icon flaticon-time"></i>
                                <span class="m-nav-grid__text">
																	Add New Event
																</span>
                              </a>
                            </div>
                            <div class="m-nav-grid__row">
                              <a href="#" class="m-nav-grid__item">
                                <i class="m-nav-grid__icon flaticon-folder"></i>
                                <span class="m-nav-grid__text">
																	Create New Notice
																</span>
                              </a>
                              <a href="#" class="m-nav-grid__item">
                                <i class="m-nav-grid__icon flaticon-clipboard"></i>
                                <span class="m-nav-grid__text">
																	Create New Exam
																</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>-->
              </li>
              <li class="li-header m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" data-dropdown-toggle="click" data-dropdown-persistent="true">
                  <a routerLink="/notification" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
                    <!--<span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"></span>-->
                    <span class="m-nav__link-icon">
                      <img src="././assets/images/notification.png">
                    </span>
                  </a>
              </li>

              <li class="li-header m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" data-dropdown-toggle="click" data-dropdown-persistent="true" *ngIf="role == 'parent'">
                <a href="#" class="m-nav__link m-dropdown__toggle" on-click="getChild()" *ngIf="studentDetails">
									
										<img src="{{studentDetails.avtarURL}}"  class="m--img-rounded m--marginless m--img-centered" height="40px" width="40px" onError="this.src='././assets/images/avatar.jpg'"/>
								
                  
                    <span class="profile-name float-right">{{studentDetails.name}}
                      <p class="child-label">Child</p>
                    </span>
                 
                </a>
            </li>

              <li class="li-header m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                <a href="#" class="m-nav__link m-dropdown__toggle">
									<span class="m-topbar__userpic">
										<img src="{{profile.avtarURL}}" onError="this.src='././assets/images/avatar.jpg'" class="m--img-rounded m--marginless m--img-centered" alt=""/>
									</span>
                  <span class="profile-name">
										{{profile.name}}
									</span>
                </a>
                <div class="m-dropdown__wrapper">
                  <span class=""></span>
                  <div class="m-dropdown__inner">
                    <div class="m-dropdown__header m--align-center" style="background-color: #ff9100;">
                      <div class="m-card-user m-card-user--skin-dark">
                        <div class="m-card-user__pic">
                          <img src="{{profile.avtarURL}}" class="m--img-rounded m--marginless" alt=""/>
                        </div>
                        <div class="m-card-user__details">
													<span class="m-card-user__name m--font-weight-500 text-white">
														{{profile.name}}
													</span>
                          <a href="" class="m-card-user__email m--font-weight-300 m-link text-white">
                            {{profile.email}}
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="m-dropdown__body">
                      <div class="m-dropdown__content">
                        <ul class="m-nav m-nav--skin-light">
                          <li class="li-header m-nav__section m--hide">
														<span class="m-nav__section-text">
															Section
														</span>
                          </li>
                          <li class="m-nav__item li-header">
                            <a routerLink="/profile" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-profile-1"></i>
                              <span class="m-nav__link-title">
																<span class="m-nav__link-wrap">
																	<span class="m-nav__link-text">
																		My Profile
																	</span>
																	<span class="m-nav__link-badge">
																		<span class="m-badge m-badge--success">
                                      2
																		</span>
																	</span>
																</span>
															</span>
                            </a>
                          </li>
                          <!--<li class="m-nav__item li-header">
                            <a routerLink="/messages" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-chat-1"></i>
                              <span class="m-nav__link-text">
																Messages
															</span>
                            </a>
                          </li>-->
                          <li class="m-nav__separator m-nav__separator--fit li-header"></li>
                          <li class="m-nav__item li-header">
                            <a routerLink="/header/profile" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                              <span class="m-nav__link-text">
																Support
															</span>
                            </a>
                          </li>
                          <li class="li-header m-nav__separator m-nav__separator--fit"></li>
                          <li class="li-header m-nav__item">
                            <a class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder" routerLink="/logout">
                              Logout
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!--right floting bar-->
              <!-- <li id="m_quick_sidebar_toggle" class="m-nav__item">
              <a href="#" class="m-nav__link m-dropdown__toggle">
              <span class="m-nav__link-icon">
              <i class="flaticon-grid-menu"></i>
              </span>
              </a>
              </li> -->
            </ul>
          </div>
        </div>
        <!-- END: Topbar -->
      </div>
    </div>
  </div>
</header>
<!-- END: Header -->

<!-- Student Selection box -->
<div class="modal fade" id="m_modal_student_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
aria-hidden="true">
<div class="modal-dialog modal-sm" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel5">
          Select Student
        </h5>
      </div>
      <div class="modal-body">
        <div *ngIf="child_list">
         
        <div *ngFor="let child of _child_list; let i = index"> 
          <div class="m-widget4__item" on-click="setChild(child)">
            <div class="m-widget4__img m-widget4__img--pic">
              <p>
                    <img  src="{{child.avtarURL}}" class="m--img-rounded m--marginless m--img-centered" onError="this.src='././assets/images/avatar.jpg'" height="50px" width="50px" >
                {{child.name}}
              </p>
          </div>
          </div> 
        </div>        
      </div>
      <div *ngIf="!child_list">
        Child not found
        </div>
      </div>
    </div>
</div>
</div>