.m-header-custom {
    background-color: #ffffff;
    height: 58px;
}
.m-brand .m-brand__logo, .m-brand .m-brand__tools {
    
    height: 50px !important;}

.clan_logo{
    height: 10%;
    width: 10%;
}

.brand-logo{
    height: 75px;
    width: 75px;
}

.m-stack.m-stack--general {
    display: table;
    table-layout: unset; 
}
.profile-name{
    
    font-weight: 500;
    font-size: 12px;
    margin-left: 5px;
}

.m-topbar .m-topbar__nav.m-nav-header {
    margin: 0 20px 0 30px;
}

.m-topbar .m-topbar__nav.m-nav-header2 {
    margin: 0 -1px 0 0px;
}



.m-header-search .m-header-search__wrapper {
    display: table;
    table-layout: fixed;
    text-align: right;
    background-color: #f0f1f6;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    width: 100% !important;
}

.child-label {
    font-size: 12px;
    font-weight: 300;
    color: #b8bac4
}



/*.......................................media query code .............................................*/
@media (min-width: 993px){
.m-header-search.m-header-search--expandable {
    width: 427px;
}
.mobile-content{
    display: none !important;
}
}

@media(min-width:992px)
{
    /*.m-stack.m-stack--general.m-stack--ver > .m-stack__item.m-stack__item--middle {
        vertical-align: middle;
        display: none;
    }*/

    .show_icon{
        display: none !important;
    }
  

}
@media(min-width:768px) and (max-width:991px){
    .profile-name{
        display: none;
    }
    .clan_logo{
        float: left;
        height: 35px;
        width: 35px;
    }
 
  
}
@media(min-width:575px) and (max-width:767px){
  
  
}
@media(min-width:480px) and (max-width:574px){


  
}
@media(max-width:479px){
    .m-header-custom {
        background-color: #ffffff;
        height: 58px;
        
    }
    .m-header--fixed-mobile .m-topbar {
        margin-top: 0;
        top: -83px;
    }
    .profile-name{
        display: none;
    }
    .m-header-search .m-header-search__wrapper {
        display: table;
        table-layout: fixed;
        text-align: right;
        background-color: #f0f1f6;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        border-radius: 30px;
        
    }

    .m-stack.m-stack--general.m-stack--ver > .m-stack__item {
        display: table-cell;
        vertical-align: top;
        height: 100%;
      
    }
    
    .header-icons{
        display: inline-block !important;
    }
    .clan_logo{
        float: left;
    }
    .clan_logo{
        float: left;
        height: 35px;
        width: 35px;
    }

    ul .li-header{
        width: 49px !important;
    }

  
}

