<!-- END: Subheader -->
<div class="m-content-custom" *ngIf="memberFlag">
    <!--Begin::Main Portlet-->
    <div class="col-xl-12">
      <div class="row">
        <div class="col-xl-12 col-10-action">
          <!--begin:: Widgets/New Users-->
          <div class="m-portlet m-portlet-custom-member m-portlet--full-height">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h1 class="m-portlet__head-text heading-style font-weight-bold">
                    Manage
                    <p class="heading-sub font-weight-bold">
                      Admin and Members
                    </p>
                  </h1>
                </div>
                <div>
                  <p class="sub-heading-1 text-dark">
                  </p>
                </div>
  
              </div>
              <!-- <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                  <li class="m-portlet__nav-item text-left">
                    <span class="sub-heading-date">{{myDate | date:'dd-MM-yyyy'}}</span>
                    <br>
                    <span class="sub-heading"> Today's overview</span>
                  </li>
                </ul>
              </div> -->
  
            </div>
            <div class="m-portlet__body">
              <div class="tab-content">
                <div class="row row-actions">
                    <div class="col-md-4  col-custom-style text-center ">
                        <a class="a-custom-member" routerLink="/teachers">     
                        <div class="box-list-member">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 align-self-center">
                                    <span class="action-text-type-member ">Teachers</span>
                                </div>
                                <div class="col-md-6 col-sm-12">                                    
                                        <img class="" width="100" height="100" src="././assets/images/dash_3d_icons/Teacher3d_new.png"
                                        onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Time Table">                                    
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-4  col-custom-style text-center ">
                        <a class="a-custom-member" routerLink="/clerk">     
                        <div class="box-list-member">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 align-self-center">
                                    <span class="action-text-type-member ">Clerk</span>
                                </div>
                                <div class="col-md-6 col-sm-12">                                    
                                        <img class="" width="100" height="100" src="././assets/images/dash_3d_icons/NonTeaching3d.png"
                                        onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Time Table">                                    
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-4  col-custom-style text-center ">
                        <a class="a-custom-member"  routerLink="/members/Security" >     
                        <div class="box-list-member">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 align-self-center">
                                    <span class="action-text-type-member ">Security</span>
                                </div>
                                <div class="col-md-6 col-sm-12">                                    
                                        <img class="" width="100" height="100" src="././assets/images/dash_3d_icons/Teacher3d_new.png"
                                        onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Time Table">                                    
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>                    
                    <div class="col-md-4  col-custom-style text-center ">
                        <a class="a-custom-member"  routerLink="/members/Librarian" >     
                        <div class="box-list-member">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 align-self-center">
                                    <span class="action-text-type-member ">Library</span>
                                </div>
                                <div class="col-md-6 col-sm-12">                                    
                                        <img class="" width="100" height="100" src="././assets/images/dash_3d_icons/Teacher3d_new.png"
                                        onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Time Table">                                    
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-4  col-custom-style text-center ">
                        <a class="a-custom-member" routerLink="/driver">     
                        <div class="box-list-member">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 align-self-center">
                                    <span class="action-text-type-member ">Bus driver</span>
                                </div>
                                <div class="col-md-6 col-sm-12">                                    
                                        <img class="" width="100" height="100" src="././assets/images/dash_3d_icons/BusTracking3d.png"
                                        onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Time Table">                                    
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-4  col-custom-style text-center ">
                        <a class="a-custom-member" routerLink="/members/Assistant" >     
                        <div class="box-list-member">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 align-self-center">
                                    <span class="action-text-type-member ">Assistant</span>
                                </div>
                                <div class="col-md-6 col-sm-12">                                    
                                        <img class="" width="100" height="100" src="././assets/images/dash_3d_icons/Teacher3d_new.png"
                                        onError="this.src='././assets/app/media/img/logos/logo.png'" alt="Time Table">                                    
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>    
        <!--end:: Widgets/New Users-->
      </div>
    </div>
    <!--End::Main Portlet-->
  </div>


  <div class="m-content" *ngIf="!memberFlag">
    <div class="m-subheader m-subheader-custom-member">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <a class="a-custom-member" on-click="getMemberView()">
            <span class="m-subheader__title">{{ heading }} </span>
          </a>
         <!-- <p class="sub-heading text-warning">All Teachers Staff</p> -->
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="grey-box d-flex justify-content-center" *ngIf="heading == 'Librarian'">            
                <div class="overview">
                  <h5 class="text-white">Overview</h5>
                </div>
                <div class="inTime">
                    <div class="text-center text-white inTime-time">Total</div>
                    <div class="text-center  text-white digit"  *ngIf="securityStats"> {{ securityStats.totalOtherStaffCount}}</div>  
                    <div class="text-center  text-white digit"  *ngIf="!securityStats">0</div>  
                </div>
                <div class="outTime">
                    <div class="text-center  text-white outTime-time">Librarian</div>
                    <div class="text-center  text-white digit">{{ (active_librarian_list ? active_librarian_list.length : 0) + (librarian_approval_list ? librarian_approval_list.length : 0) }}</div>
                </div>   
          </div>
          <div class="grey-box d-flex justify-content-center" *ngIf="heading == 'Assistant'">            
                <div class="overview">
                  <h5 class="text-white">Overview</h5>
                </div>
                <div class="inTime">
                    <div class="text-center text-white inTime-time">Total</div>
                    <div class="text-center  text-white digit" *ngIf="securityStats"> {{ securityStats.totalOtherStaffCount}}</div>  
                    <div class="text-center  text-white digit" *ngIf="!securityStats">0</div>  
                </div>
                <div class="outTime">
                    <div class="text-center  text-white outTime-time">Assistant</div>
                    <div class="text-center  text-white digit" >{{ (active_assistant_list  ? active_assistant_list.length:0) + (assistant_approval_list ? assistant_approval_list.length: 0)}}</div>
                    
                </div>   
          </div>
          <div class="grey-box d-flex justify-content-center"  *ngIf="heading == 'Security'">            
                <div class="overview">
                  <h5 class="text-white">Overview</h5>
                </div>
                <div class="inTime">
                    <div class="text-center text-white inTime-time">Total</div>
                    <div class="text-center  text-white digit"  *ngIf="securityStats"> {{ securityStats.totalOtherStaffCount}}</div>  
                    <div class="text-center  text-white digit"  *ngIf="!securityStats">0</div>  
                </div>
                <div class="outTime">
                    <div class="text-center  text-white outTime-time">Present</div>
                    <div class="text-center  text-white digit">{{ (active_security_list ? active_security_list.length : 0) + (security_approval_list ? security_approval_list.length : 0)}}</div>
                </div>   
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="m-portlet m-portlet-custom-member m-portlet--full-height m-portlet--full-height-custom m-portlet m-portlet--full-height-member">
          <div class="m-portlet__head">
        
            <div class="m-portlet__head-tools m-portlet__head-tools-bottom">
              <ul
                class="nav nav-pills nav-pills--brand nav-pills--brand-custom-member m-nav-pills--align-left m-nav-pills--btn-pill m-nav-pills--btn-sm"
                role="tablist">
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget4_tab1_content" role="tab">
                    Active
                  </a>
                </li>
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_tab2_content" role="tab">
                    Inactive
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-portlet__body m-portlet__body-member">
            <div class="tab-content" *ngIf="heading == 'Librarian'">
              <div class="tab-pane active" id="m_widget4_tab1_content">
                <!--begin::Widget 14-->
                <div class="m-widget4">
                  <div *ngIf="active_librarian_list">
                    <div class="white-box-margin bg-white" *ngFor="let librarian of active_librarian_list">
                        <div class="row p-1">
                        <!--<div class="col-lg-12">
                            <div class="row">-->
                            <div class="col-lg-1 col-md-1">
                                <div class="small-sqaure-member      ">
                                <input type="checkbox">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-4">
                                <a href="#Teacherdetails" data-toggle="modal" data-target=""
                                on-click="getUserDetails(librarian)"><span><img src="{{librarian.avtarURL}}" height="55px" width="55px"
                                    class="m--img-rounded m--marginless m--img-centered"
                                    onError="this.src='././assets/images/avatar.jpg'"></span><span
                                    class="ml-2 font-weight-bold teachers-name">{{librarian.name}}</span></a>
                
                            </div>
                            <div class="col-lg-4 col-md-4 middle-display-none">
                                <!-- <p class="text-default font-weight-bold  mt-3 class-teacher">Class teacher {{clerk.std + teacher.div}}</p>
                -->
                            </div>
                            <div class="col-lg-4 col-md-4 col-8">
                                <div class="icons mt-2">
                                <!-- <a href="#" class="pull-right"><img src="././assets/images/watsapp.png"></a> -->
                                <a href="#mymodal" class="pull-right" data-toggle="modal" on-click="sendMessageBox(librarian)"><img
                                    src="././assets/images/message.png"></a>
                                <a href="#" class="pull-right"><img src="././assets/images/inbox.png"></a>
                                </div>
                            </div>
                        <!--</div>
                        </div>-->
                        </div>
                    </div>
                  </div>
                  <div class="white-box-margin bg-white" *ngIf="!active_librarian_list">
                    <div class="row p-4 ml-2 text-center">
                    No Active Librarian Available!
                    </div>
                  </div>
                  <!--end::Widget 14 Item-->
                </div>
              </div>
              <!--end::Widget 14-->
              <div class="tab-pane" id="m_widget4_tab2_content">
                <!--begin::Widget 14-->            
                <div class="m-widget4">
                    <div *ngIf="librarian_approval_list">
                        <div class="white-box-margin bg-white" *ngFor="let librarian of librarian_approval_list">
                            <div class="row p-1">
                            <!--<div class="col-lg-12">
                                <div class="row">-->
                                <div class="col-lg-1 col-md-1">
                                    <div class="small-sqaure-member      ">
                                    <input type="checkbox">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-4">
                                    <a href="#Teacherdetails" data-toggle="modal" data-target=""
                                    on-click="getUserDetails(librarian)"><span><img src="{{librarian.avtarURL}}" height="55px" width="55px"
                                        class="m--img-rounded m--marginless m--img-centered"
                                        onError="this.src='././assets/images/avatar.jpg'"></span><span
                                        class="ml-2 font-weight-bold teachers-name">{{librarian.name}}</span></a>
                    
                                </div>
                                <div class="col-lg-4 col-md-4 middle-display-none">
                                    <!-- <p class="text-default font-weight-bold  mt-3 class-teacher">Class teacher {{clerk.std + teacher.div}}</p>
                    -->
                                </div>
                                <div class="col-lg-4 col-md-4 col-8">
                                    <div class="icons mt-2">
                                    <!-- <a href="#" class="pull-right"><img src="././assets/images/watsapp.png"></a> -->
                                    <a href="#mymodal" class="pull-right" data-toggle="modal"  on-click="sendMessageBox(librarian)"><img
                                        src="././assets/images/message.png"></a>
                                    <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank" class="pull-right"><img src="././assets/images/inbox.png"></a>
                                    </div>
                                </div>
                            <!--</div>
                            </div>-->
                            </div>
                        </div>
                    </div>
                  <div class="white-box-margin bg-white" *ngIf="!librarian_approval_list">
                    <div class="row p-4 ml-2 text-center">
                    No Inactive Librarian Available!
                    </div>
                  </div>
                  <!--end::Widget 14 Item-->
                </div>
              </div>
            </div>

            <div class="tab-content" *ngIf="heading == 'Assistant'">
              <div class="tab-pane active" id="m_widget4_tab1_content">
                <!--begin::Widget 14-->
                <div class="m-widget4">
                  <div *ngIf="active_assistant_list">
                    <div class="white-box-margin bg-white" *ngFor="let assistant of active_assistant_list">
                        <div class="row p-1">
                        <!--<div class="col-lg-12">
                            <div class="row">-->
                            <div class="col-lg-1 col-md-1">
                                <div class="small-sqaure-member      ">
                                <input type="checkbox">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <a href="#Teacherdetails" data-toggle="modal" data-target=""
                                on-click="getUserDetails(assistant)"><span><img src="{{assistant.avtarURL}}" height="55px" width="55px"
                                    class="m--img-rounded m--marginless m--img-centered"
                                    onError="this.src='././assets/images/avatar.jpg'"></span><span
                                    class="ml-2 font-weight-bold teachers-name">{{assistant.name}}</span></a>
                
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <!-- <p class="text-default font-weight-bold  mt-3 class-teacher">Class teacher {{clerk.std + teacher.div}}</p>
                -->
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="icons mt-2">
                                <!-- <a href="#" class="pull-right"><img src="././assets/images/watsapp.png"></a> -->
                                <a href="#mymodal" class="pull-right" data-toggle="modal"  on-click="sendMessageBox(assistant)"><img
                                    src="././assets/images/message.png"></a>
                                <a href="#" class="pull-right"><img src="././assets/images/inbox.png"></a>
                                </div>
                            </div>
                        <!--</div>
                        </div>-->
                        </div>
                    </div>
                  </div>
                  <div class="white-box-margin bg-white" *ngIf="!active_assistant_list">
                    <div class="row p-4 ml-2 text-center">
                    No Active Assistant Available!
                    </div>
                  </div>
                  <!--end::Widget 14 Item-->
                </div>
              </div>
              <!--end::Widget 14-->
              <div class="tab-pane" id="m_widget4_tab2_content">
                <!--begin::Widget 14-->            
                <div class="m-widget4">
                    <div *ngIf="assistant_approval_list">
                        <div class="white-box-margin bg-white" *ngFor="let assistant of assistant_approval_list">
                            <div class="row p-1">
                            <!--<div class="col-lg-12">
                                <div class="row">-->
                                <div class="col-lg-1 col-md-1">
                                    <div class="small-sqaure-member      ">
                                    <input type="checkbox">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <a href="#Teacherdetails" data-toggle="modal" data-target=""
                                    on-click="getUserDetails(assistant)"><span><img src="{{assistant.avtarURL}}" height="55px" width="55px"
                                        class="m--img-rounded m--marginless m--img-centered"
                                        onError="this.src='././assets/images/avatar.jpg'"></span><span
                                        class="ml-2 font-weight-bold teachers-name">{{assistant.name}}</span></a>
                    
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <!-- <p class="text-default font-weight-bold  mt-3 class-teacher">Class teacher {{clerk.std + teacher.div}}</p>
                    -->
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="icons mt-2">
                                    <!-- <a href="#" class="pull-right"><img src="././assets/images/watsapp.png"></a> -->
                                    <a href="#mymodal" class="pull-right" data-toggle="modal"  on-click="sendMessageBox(assistant)"><img
                                        src="././assets/images/message.png"></a>
                                    <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank" class="pull-right"><img src="././assets/images/inbox.png"></a>
                                    </div>
                                </div>
                            <!--</div>
                            </div>-->
                            </div>
                        </div>
                    </div>
                  <div class="white-box-margin bg-white" *ngIf="!assistant_approval_list">
                    <div class="row p-4 ml-2 text-center">
                    No Inactive Assistant Available!
                    </div>
                  </div>
                  <!--end::Widget 14 Item-->
                </div>
              </div>
            </div>

            <div class="tab-content" *ngIf="heading == 'Security'">
              <div class="tab-pane active" id="m_widget4_tab1_content">
                <!--begin::Widget 14-->
                <div class="m-widget4">
                  <div *ngIf="active_security_list">
                    <div class="white-box-margin bg-white" *ngFor="let security of active_security_list">
                        <div class="row p-1">
                        <!--<div class="col-lg-12">
                            <div class="row">-->
                            <div class="col-lg-1 col-md-1">
                                <div class="small-sqaure-member      ">
                                <input type="checkbox">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-4">
                                <a href="#Teacherdetails" data-toggle="modal" data-target=""
                                on-click="getUserDetails(security)"><span><img src="{{security.avtarURL}}" height="55px" width="55px"
                                    class="m--img-rounded m--marginless m--img-centered"
                                    onError="this.src='././assets/images/avatar.jpg'"></span><span
                                    class="ml-2 font-weight-bold teachers-name">{{security.name}}</span></a>
                
                            </div>
                            <div class="col-lg-4 col-md-4 middle-display-none">
                                <!-- <p class="text-default font-weight-bold  mt-3 class-teacher">Class teacher {{clerk.std + teacher.div}}</p>
                -->
                            </div>
                            <div class="col-lg-4 col-md-4 col-8">
                                <div class="icons mt-2">
                                <!-- <a href="#" class="pull-right"><img src="././assets/images/watsapp.png"></a> -->
                                <a href="#mymodal" class="pull-right" data-toggle="modal"  on-click="sendMessageBox(security)"><img
                                    src="././assets/images/message.png"></a>
                                <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank" class="pull-right"><img src="././assets/images/inbox.png"></a>
                                </div>
                            </div>
                        <!--</div>
                        </div>-->
                        </div>
                    </div>
                  </div>
                  <div class="white-box-margin bg-white" *ngIf="!active_security_list">
                    <div class="row p-4 ml-2 text-center">
                    No Active Security Available!
                    </div>
                  </div>
                  <!--end::Widget 14 Item-->
                </div>
              </div>
              <!--end::Widget 14-->
              <div class="tab-pane" id="m_widget4_tab2_content">
                <!--begin::Widget 14-->            
                <div class="m-widget4">
                    <div *ngIf="security_approval_list">
                        <div class="white-box-margin bg-white" *ngFor="let security of security_approval_list">
                            <div class="row p-2">
                            <!--<div class="col-lg-12">
                                <div class="row">-->
                                <div class="col-lg-1 col-md-1">
                                    <div class="small-sqaure-member">
                                    <input type="checkbox">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-4">
                                    <a href="#Teacherdetails" data-toggle="modal" data-target=""
                                    on-click="getUserDetails(security)"><span><img src="{{security.avtarURL}}" height="55px" width="55px"
                                        class="m--img-rounded m--marginless m--img-centered"
                                        onError="this.src='././assets/images/avatar.jpg'"></span><span
                                        class="ml-2 font-weight-bold teachers-name">{{security.name}}</span></a>
                    
                                </div>
                                <div class="col-lg-4 col-md-4 middle-display-none">
                                    <!-- <p class="text-default font-weight-bold  mt-3 class-teacher">Class teacher {{clerk.std + teacher.div}}</p>
                    -->
                                </div>
                                <div class="col-lg-4 col-md-4 col-8">
                                    <div class="icons mt-2">
                                    <!-- <a href="#" class="pull-right"><img src="././assets/images/watsapp.png"></a> -->
                                    <a href="#mymodal" class="pull-right" data-toggle="modal" on-click="sendMessageBox(security)"><img
                                        src="././assets/images/message.png"></a>
                                    <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank" class="pull-right"><img src="././assets/images/inbox.png"></a>
                                    </div>
                                </div>
                            <!--</div>
                            </div>-->
                            </div>
                        </div>
                    </div>
                  <div class="white-box-margin bg-white" *ngIf="!security_approval_list">
                    <div class="row p-4 ml-2 text-center">
                    No Inactive Security Available!
                    </div>
                  </div>
                  <!--end::Widget 14 Item-->
                </div>
              </div>
            </div>
          </div>
          <!--end::Modal-->      
        </div>
      </div>
    </div>
  
  
      <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
        aria-hidden="true">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header header-size-view">
              <h4 class="modal-heading">Message</h4>
              <a type="button" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
              <!-- <div class="dropdown pull-right mb-2">
                
              </div> -->
              <!-- <form>
                <div class="form-group">
                  <span class="m-dropdown__label-title-teacher m-2">Category: </span>
                  <select id="category" class="form-control form-dropdown mb-3 text-box" formControlName="category"
                    ng-required="true">
                    <option>Select Category</option>
                    <option value="{{c}}" *ngFor="let c of category_list">{{c}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control text-box" placeholder="Enter a Subject">
                </div>
                <div class="form-group">
                  <textarea class="form-control textareabox" rows="5"
                    placeholder="Enter Your Message Here...."></textarea>
                </div>
                <a href="#" class="submit-btn font-weight-bold pull-right">SUBMIT</a>
              </form> -->
              <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <span class="m-dropdown__label-title-teacher m-2">Category: </span>
                <select id="category" class="form-control form-dropdown mb-3 text-box" formControlName="category"
                  ng-required="true">
                  <option>Select Category</option>
                  <option value="{{c}}" *ngFor="let c of category_list">{{c}}</option>
                </select>
                <span
                  *ngIf="userForm.get('category').errors && (userForm.get('category').touched || userForm.get('category').dirty)"
                  class="help-block">
                  <span *ngIf="userForm.get('category').errors.required" class="error-message">
                    Please select category!
                  </span>
    
                </span>
                <!--<div class="dropdown pull-right mb-2">
                  <button class="btn btn-default dropdown-toggle drop-category" type="button" data-toggle="dropdown">Select
                    Category
                    <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Complain</a></li>
                    <li><a href="#">Suggestion</a></li>
                    <li><a href="#">JavaScript</a></li>
                  </ul>
                </div>-->
    
                <div class="form-group">
                  <input type="text" class="form-control text-box" placeholder="Enter a Subject" formControlName="subject">
                  <span
                    *ngIf="userForm.get('subject').errors && (userForm.get('subject').touched || userForm.get('subject').dirty)"
                    class="help-block">
                    <span *ngIf="userForm.get('subject').errors.required" class="error-message">
                      Please fill subject!
                    </span>
    
                  </span>
                </div>
                <div class="form-group">
                  <textarea class="form-control textareabox" rows="5" formControlName="message"
                    placeholder="Enter Your Message Here...."></textarea>
                  <span
                    *ngIf="userForm.get('message').errors && (userForm.get('message').touched || userForm.get('message').dirty)"
                    class="help-block">
                    <span *ngIf="userForm.get('message').errors.required" class="error-message">
                      Please fill message!
                    </span>
    
                  </span>
                </div>
                <button type="submit" class="btn btn-submit btn-sm" [disabled]="!userForm.valid">
                  Save
                </button>
                <!--<a href="#" class="submit-btn font-weight-bold pull-right">SUBMIT</a>-->
              </form>
            </div>
          </div>
        </div>
      </div>  
  
    <!---------------------------------Teacher details modal code-------------------------------------->
    <div class="container" *ngIf="userDetails">
  
      <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog">  
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header header-size-view">
              <h3 class="modal-heading">Member Details</h3>
              <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-2 col-md-2">
                  <span><img src="{{userDetails.avtarURL}}" height="55px" width="55px" onError="this.src='././assets/images/avatar.jpg'" class="m--img-rounded m--marginless m--img-centered"></span>
                </div>
                <div class="col-lg-4 col-md-4">
                  <h4 class="font-weight-bold">
                    {{userDetails.name}}
                  </h4>
                  <span *ngIf="userDetails.name == 'CL'">Clerk</span>
                </div>
                <div class="col-lg-6 col-md-6">  
                  <div class="modal-icons">
                    <a href="#mymodal" class="ml-4 pull-right mr-4" data-toggle="modal" data-target="#myModal"><img
                        src="././assets/images/message.png" height="30px" width="30px"></a>
                    <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank" class="ml-4 pull-right"><img src="././assets/images/inbox.png" height="30px"
                        width="30px"></a>
                  </div>  
                </div>
              </div>
  
              <div class="row">
                <div class="col-lg-2 col-md-2">  
                </div>
                <div class="col-lg-10 col-md-10">
                  <div class="row">
                    <table class="table table-borderless">  
                      <tbody>
                        <tr>  
                          <td><span class="table grey-heading">Phone No.</span>
                            <p class="table " *ngIf="userDetails.phone">{{userDetails.phone}}</p>
                            <p class="table " *ngIf="!userDetails.phone">+{{userDetails.countryCode}} _____ _____ </p>
                          </td>
                          <td><span class="table grey-heading">Email</span>
                            <p class="table">{{userDetails.email}}</p>
                          </td>  
                        </tr>
                        <!-- <tr>  
                          <td><span class="table grey-heading">Address</span>
                            <p class="table">{{userDetails.name}}</p>
                          </td>
                          <td><span class="table grey-heading">Country</span>
                            <p class="table">{{userDetails.countryCode}}</p>
                          </td>  
                        </tr>   -->
                      </tbody>
                    </table>  
                  </div>
                </div>
              </div>             
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>