.m-subheader-passenger {
  padding: 30px 30px 0px 42px !important;
}
.dashboard-profile-pic {
  display: inline-block;
  box-sizing: border-box;
}
.dashboard-text {
  display: inline-block;
  box-sizing: border-box;
}
.dashboard-profile-pic {
  display: inline-block;
  box-sizing: border-box;
}
.dashboard-text {
  display: inline-block;
  box-sizing: border-box;
}
.dashboard-profile-pic img {
  height: 50px;
  width: 50px;
}
