<!-- BEGIN: Subheader -->
<div class="m-subheader m-subheader-passenger" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Passenger
      </h3>
    </div>
    <!-- BEGIN: Class Dropdown -->
    <!-- END: Class Dropdown -->
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <!--Begin::Main Portlet-->
  <div class="row">
    <div class="col-xl-12">
      <!--begin:: Widgets/New Users-->
      <div class="m-portlet m-portlet--full-height">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Passengers List
              </h3>
            </div>
          </div>
          <a class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air float-right"
            style="margin-top: 1%" href="#" ng-reflect-href="#">
            <span aria-hidden="true" data-toggle="modal" data-target="#m_modal_4">
              <i class="la la-plus"></i>
              <span>
                Add
              </span>
            </span>
          </a>
        </div>
        <div class="m-portlet__body">
          <div class="tab-content">
            <div class="tab-pane active" id="m_widget4_tab1_content">
              <!--begin::Widget 14-->
              <div class="m-widget4" *ngFor="let passenger of passenger_data">
                <!--begin::Widget 14 Item-->
                <div class="m-widget4__item">
                  <div class="m-widget4__img m-widget4__img--pic">
                    <img src="{{passenger.avtarURL}}" alt="">
                  </div>
                  <div class="m-widget4__info">
                    <span class="m-widget4__title">
                      {{passenger.name}}<br />
                    </span>
                    <span *ngIf="passenger.type.isClassTeacher">
                      Teacher
                    </span>
                    <span>
                      <!-- *ngif="passenger.type === ST"-->
                      {{passenger.std}} {{passenger.div}}
                    </span>
                    <span *ngIf="isClassTeacher">
                      Teacher
                    </span>
                    <div class="m-widget4__ext float-right">
                      <a href="#" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary"
                        (click)="onDelete(passenger.uid)">
                        Remove
                      </a>
                    </div>

                    <span *ngIf="passenger.type === Admin">
                      Admin
                    </span>
                  </div>
                </div>
                <br>
                <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
                  aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document">
                    <form>
                      <!--[formGroup]="routeForm" (ngSubmit)="addRoutes()"-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel3">
                            Report
                          </h5>
                          <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                              &times;
                            </span>
                          </button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal"
                            data-target="#m_modal_5">
                            <!--on-click="getStudents(route_code)"-->
                            students
                          </button>
                          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                            data-target="#m_modal_1">
                            Teachers
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
                  aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">

                    <div class="modal-content">
                      <div class="modal-body" style=" max-height: calc(100vh - 210px); overflow-y: auto;">
                        <div class="modal-header">

                          <h5 class="modal-title" id="exampleModalLabel1">
                            Students
                          </h5>
                          <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                              &times;
                            </span>
                          </button>
                        </div>
                        <div class="m-subheader" appunwraptag="">
                          <div class="d-flex align-items-center">
                            <!-- BEGIN: Class Dropdown -->
                            <div
                              class="m-dropdown m-dropdown--inline m-dropdown--small m-dropdown--arrow m-dropdown--align-right m-dropdown--custom"
                              data-dropdown-toggle="click">
                              <span class="m-dropdown__label">
                                <span class="m-dropdown__label-title">Class:</span>
                                <span
                                  class="m-dropdown__label-subtitle m--font-brand">{{class_value ? class_value : 'select class'}}</span>
                              </span>
                              <a href="#"
                                class="m-dropdown__toggle btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                <i class="la la-angle-down"></i>
                              </a>
                              <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right"></span>
                                <div class="m-dropdown__inner">
                                  <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                      <div class="m-scrollable" data-scrollable="true" data-max-height="250">

                                        <ul class="m-nav">

                                          <li class="m-nav__section m-nav__section--first">
                                            <span class="m-nav__section-text">
                                              Classes
                                            </span>
                                          </li>

                                          <span *ngFor="let class of class_data">
                                            <li class="m-nav__item">
                                              <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon fa fa-language"></i>
                                                <span class="m-nav__link-text" on-click="getStudent(class.std_div)">
                                                  {{class.std_div}}
                                                </span>
                                              </a>
                                            </li>



                                          </span>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- END: Class Dropdown -->
                          </div>
                        </div>
                        <!-- END: Subheader -->
                        <div class="m-content">
                          <!--Begin::Main Portlet-->
                          <div class="row">
                            <div class="col-xl-12">
                              <!--begin:: Widgets/New Users-->
                              <div class="m-portlet m-portlet--full-height">
                                <div class="m-portlet__head">
                                  <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                      <h3 class="m-portlet__head-text">
                                        Students List
                                      </h3>
                                    </div>
                                  </div>
                                </div>
                                <div class="m-portlet__body">
                                  <div class="tab-content">
                                    <div class="tab-pane active">
                                      <!--id="m_widget4_tab1_content"-->
                                      <!--begin::Widget 14-->
                                      <div class="m-widget4" *ngFor="let student of students_list; let i = index">
                                        <!--begin::Widget 14 Item-->
                                        <div class="m-widget4__item" *ngIf="student.isActive">
                                          <div class="m-widget4__img m-widget4__img--pic">
                                            <img src="{{student.avtarURL}}" alt="">
                                          </div>
                                          <div class="m-widget4__info">
                                            <span class="m-widget4__title">
                                              {{student.name}}
                                            </span>

                                            <div class=" form-group float-right"
                                              *ngIf="student.isRouteAssigned === true">
                                              <input type="checkbox" id="chekedBoxHide" checked disabled />
                                            </div>
                                            <div class=" form-group float-right"
                                              *ngIf="student.isRouteAssigned === false">
                                              <input type="checkbox"
                                                (change)="onChange(student.uid, $event.target.checked)"><br>


                                            </div>
                                          </div>
                                        </div>

                                        <br>
                                        <!--end::Widget 14 Item-->
                                      </div>
                                      <button (click)="duplicate()">submit</button>
                                      <pre>Form values: {{myForm.value | json}}</pre>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!--end:: Widgets/New Users-->
                            </div>
                          </div>
                          <!--End::Main Portlet-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
                  aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">

                    <div class="modal-content">
                      <div class="modal-body" style=" max-height: calc(100vh - 210px); overflow-y: auto;">
                        <div class="modal-header">

                          <h5 class="modal-title" id="exampleModalLabel2">
                            Teachers
                          </h5>
                          <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                              &times;
                            </span>
                          </button>
                        </div>
                        <div class="m-subheader" appunwraptag="">
                          <div class="d-flex align-items-center">
                            <!-- BEGIN: Class Dropdown -->
                            <!-- <div
                              class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;small m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;custom"
                              data-dropdown-toggle="click">
      <span class="m-dropdown__label">
					<span class="m-dropdown__label-title">Class:</span>
					<span class="m-dropdown__label-subtitle m&#45;&#45;font-brand">{{class_value ? class_value : 'select class'}}</span>
				</span>
                              <a href="#"
                                 class="m-dropdown__toggle btn btn-sm btn-brand m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;custom m-btn&#45;&#45;pill">
                                <i class="la la-angle-down"></i>
                              </a>
                              <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;right"></span>
                                <div class="m-dropdown__inner">
                                  <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                      <div class="m-scrollable" data-scrollable="true" data-max-height="250">

                                        <ul class="m-nav" >

                                          <li class="m-nav__section m-nav__section&#45;&#45;first">
										<span class="m-nav__section-text">
											Classes
										</span>
                                          </li>

                                          <span *ngFor="let class of class_data">
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon fa fa-language"></i>
                      <span class="m-nav__link-text" on-click="getStudent(class.std_div)">
												{{class.std_div}}
											</span>
                    </a>
                  </li>



                </span>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>-->
                            <!-- END: Class Dropdown -->
                          </div>
                        </div>
                        <!-- END: Subheader -->
                        <div class="m-content">
                          <!--Begin::Main Portlet-->
                          <div class="row">
                            <div class="col-xl-12">
                              <!--begin:: Widgets/New Users-->
                              <div class="m-portlet m-portlet--full-height">
                                <div class="m-portlet__head">
                                  <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                      <h3 class="m-portlet__head-text">
                                        Teachers List
                                      </h3>
                                    </div>
                                  </div>
                                </div>
                                <div class="m-portlet__body">
                                  <div class="tab-content">
                                    <div class="tab-pane active">
                                      <!--id="m_widget4_tab1_content"-->
                                      <!--begin::Widget 14-->
                                      <div class="m-widget4"
                                        *ngFor="let teachers of active_teachers_list; let i = index">
                                        <!--begin::Widget 14 Item-->
                                        <div class="m-widget4__item" *ngIf="teachers.isActive">
                                          <div class="m-widget4__img m-widget4__img--pic">
                                            <img src="{{teachers.avtarURL}}" alt="">
                                          </div>
                                          <div class="m-widget4__info">
                                            <span class="m-widget4__title">
                                              {{teachers.name}}<br />
                                              <div *ngIf="teachers.route">{{teachers.route.number}}</div>
                                            </span>


                                            <div class=" form-group float-right"
                                              *ngIf="teachers.isRouteAssigned === true">
                                              <input type="checkbox" checked disabled />
                                            </div>
                                            <div class=" form-group float-right"
                                              *ngIf="teachers.isRouteAssigned === false">
                                              <input type="checkbox"
                                                (change)="onChange(teachers.uid, $event.target.checked)"><br>

                                            </div>
                                          </div>
                                        </div>

                                        <br>
                                        <!--end::Widget 14 Item-->
                                      </div>
                                      <button (click)="duplicate()">submit</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!--end:: Widgets/New Users-->
                            </div>
                          </div>
                          <!--End::Main Portlet-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



                <!--end::Widget 14 Item-->
              </div>
              <!--end::Widget 14-->
            </div>

          </div>
        </div>

      </div>
      <!--end:: Widgets/New Users-->
    </div>
  </div>
  <!--End::Main Portlet-->
</div>
<!-- BEGIN: Subheader -->
