<!-- BEGIN: Subheader -->
<div class="m-subheader m-subheader-notification" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__notification_title">
        Notification
      </h3>
    </div>
    <!--<a class="notification-create-btn text-white mt-3 btn-sm pull-right " href="#" data-toggle="modal" data-target="#m_modal_7">+ CREATE</a>-->
  </div>

</div>
<!-- END: Subheader -->
<div class="m-content m-content-notification">
  <!--Begin::Main Portlet-->
  <div class="row">
    <div class="col-xl-12">
      <!--begin:: Widgets/New Users-->
      <div class="row mt-3">
        <div class="col-lg-4" *ngFor="let notification of notification_list">

          <div class="notification-desc-box">

            <p class="notification-desc-heading">{{notification.title}}<span
                class="dateTiming font-weight-bold">{{notification.createdAt | date: 'd MMMM'}}</span>
            </p>

            <p class="notification-desc-subheading ">
              {{ (notification.message.length>6)? (notification.message | slice:0:45)+'..':(notification.message) }}</p>

            <a href="#" class="notification-btn-view pull-right" data-toggle="modal" data-target=""
              on-click="getNotificationDetails(notification)">VIEW</a>
          </div>
        </div>
      </div>

      <!--end:: Widgets/New Users-->
    </div>
  </div>
  <!--End::Main Portlet-->
</div>


<!--------------------------------------------- create button ----------------------------------------->

<div class="modal fade" id="m_modal_7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <form>
      <!--[formGroup]="userForm" (ngSubmit)="onSubmit()"-->
      <div class="modal-content">
        <div class="modal-header header-size">
          <h5 class="modal-heading font-weight-bold" id="exampleModalLabel4">
            Add Notifcation
          </h5>
          <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>

        <!--<div class="row m-3">
          <div class="col-lg-6">
            <button type="button" class="btn btn-close text-center btn-block" data-dismiss="modal">
              Cancel
            </button>

          </div>
          <div class="col-lg-6">
            <button type="submit" class="btn btn-submit btn-block ">Submit</button>
          </div>
        </div>-->
        <div class="row mt-1 mb-3">
          <div class="col-lg-12">

            <button type="button" class="btn notification-btn-close btn-sm mr-3" data-dismiss="modal">
              CANCEL
            </button>
            <button type="submit" class="btn notification-btn-submit btn-sm mr-2">
              SAVE
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!--------------------------------------------notification details ---------------------------------->


<div class="container" *ngIf="notificationDetails">
  <div class="modal fade" id="m_modal_10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header header-size-view">
          <h2 class="modal-heading font-weight-bold">Notification</h2>
          <a href="#" class="close" data-dismiss="modal">&times;</a>
        </div>
        <div class="modal-body">

          <p class="notification-desc-heading">{{notificationDetails.title}}
          </p>
          <span class="dateTiming font-weight-bold">{{notificationDetails.createdAt | date: 'd MMMM'}}</span>
          <p class="notificationdesc-subheading ">
            {{ notificationDetails.message }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
