.notification-desc-box{
    margin-top: 20px;
    height:142px;
    padding:20px;
    width:100%;
    background-color: #ffffff;
    filter: drop-shadow(2px 4px 6px #D9D9D9);
    border-radius: 10px;
  }
  .notification-btn-view{
    float: right;
    border:1px solid #FF9100;
    background: none;
    font-weight: 500;
    border-radius: 7px;
    color: #FF9100;
    padding: 5px 10px;
    font-size: 10px;
    position: absolute;
    bottom: 9px;
    margin-left: 72%;
  }
  .notification-desc-subheading{
    font-size: 12px;
    
    color: #6B6B73;
    font-family: Segoe UI;
  }
  .dateTiming{
    float: right;
    font-size: 12px;
    
    color: #6B6B73;
    font-family: Segoe UI;
  }
  .notification-desc-heading{
    font-size: 16px;
    font-weight: 650;
    font-family: Segoe UI;
  }
  .notification-addbtn-box{
      display: inline-block;
      box-sizing: border-box;

  }
  .notification-create-btn{
    border:2px solid #FF9100;
    background-color: #FF9100;
    color: #ffffff;
    float: right;
    border-radius: 25px;
    padding:10px 25px 10px 25px;
    font-weight: bold;
    font-family: Segoe UI;
    font-size: 15px;
    text-decoration: none !important;
  }

  .notification-btn-close{
    color:#FF9100;
    background-color: #fff;
    border: 1px solid #f0f1f6;
    border-radius: 28px;
    width: 83px !important;
    float: right;
  }
  .notification-btn-close:hover{
    color:#000;
    background-color: #f0f1f6;
   
    border-radius: 28px;
  }
  
  .notification-btn-submit{
    color:#fff;
    border: 2px solid #FF9100;
    background-color: #FF9100;
    border-radius: 28px;
    width: 83px;
    float: right;
    
  }
  .modal-heading{
    color: #FF9100 !important;
    font-size: 24px;
  }

  .m-subheader .m-subheader__notification_title {
    display: inline-block;
    padding: 7px 25px 7px 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.55rem;
    font-weight: 500;
    vertical-align: middle;
    margin: 0 15px 0 0;
    color: #3f4047;
}

.m-subheader-notification {
  padding: 30px 30px 0 42px !important;
}

.m-content-notification {
  padding: 20px 42px !important;
}

/*.......................................media query code .............................................*/

@media (min-width: 992px) and (max-width: 1024px) {
}

@media (min-width: 992px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 575px) and (max-width: 767px) {
}

@media (min-width: 480px) and (max-width: 574px) {
}

@media (max-width: 479px) {
 
  .m-subheader-notification {
    padding: 20px 20px 0 20px !important;
  }
  
  .m-content-notification {
    padding: 20px 20px !important;
  }
}

