<!-- BEGIN: Subheader -->

<div  *ngIf="role !== 'student' && role !== 'parent'">
  <div class="m-subheader m-subheader-examination" *ngIf="!examListView">
    <div class="row">
      <div class="col-lg-12">
        <div class="examination-title-div">
            <h3 class="m-subheader__title">
                Examination
              </h3>
              <p class="sub-heading" *ngIf="role !== 'student' && role !== 'parent'">Admin and Memebers</p>
        </div>
        <div class="examination-addbtn-div">
            <a href="#" class="add-btn mt-3" ng-reflect-href="#" aria-hidden="true" data-toggle="modal"
            data-target="#m_modal_8"><img src="././assets/images/plus.png">
            &nbsp; ADD Examination</a>
        </div>

      </div>

    </div>

    <p class="select-class" *ngIf="role !== 'student' && role !== 'parent'">Select Class to View Examination</p>


    <div class="row ">

      <div class="col-lg-4 col-md-6" *ngFor="let class of class_data">
        <div class="white-box mb-3">
          <a routerLink="/examination/{{class.std_div}}">
            
            <div class="row">

              <div class="col-lg-10 col-md-10">
                <p class="class-name">
                  Class {{class.std_div}}
                </p>
              </div>

              
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="m-subheader m-subheader-examination" *ngIf="examListView">

    <div class="row">
      <div class="col-lg-12">
          <div class="examination-title-div">
              <a class="h3" routerLink="/examination">
                <h3 class="m-subheader__title">Examination</h3>
              </a>
              <p class="sub-heading">All Examination Overview</p>
          </div>
          <div class="examination-addbtn-div">
              <a href="#" class="add-btn mt-3" *ngIf="role !== 'student'" ng-reflect-href="#" aria-hidden="true"
          data-toggle="modal" data-target="#m_modal_8">+ ADD Examination</a>
          </div>
        
      </div>
    </div>

    <div class="blue-box mt-5 p-3 rounded mb-2">
      <!-- <div class="row">
          <div class="col-lg-6">
            <h5 class="font-weight-bold">PRE NURSERY A</h5>

          </div>
          <div class="col-lg-6">
            <span class="side-content mr-2"><span>Total Strengh</span><span class="h5 mr-3"> 86</span><span
                class="mr-3">|</span><span class="h5">12 May 2019</span></span>

          </div>
        </div> -->
    </div>

    <div class="row ">
      <div class="col-lg-4 col-md-6" *ngFor="let e of exam_data">
        <div class="white-square m-2 p-3">
          <span class="font-weight-bold">{{e.title | titlecase}}</span><span class="class">{{e.std}} {{e.div}}</span>
          <p class="subject">{{e.subject}}</p>
          <h3 class="subject font-weight-bold">At {{e.date}}, {{e.time}} <div class="subject-status float-right ">
              {{ e.state}}</div>
          </h3>
          <p class="para">{{e.description}} </p>
          <!--<span class="subject">Submit by | {{e.submission | date : "dd-MM-yyyy"}}</span><a href="#" class="btn-view"
              *ngIf="this.role !== 'student'" data-toggle="modal" data-target="" (click)="getExamination(e.code)">VIEW</a>-->
          <div class="bottom-text"><span class="subject">Submit by : {{e.date}}</span></div>
          <a href="#" class="btn-view pull-right" data-toggle="modal" data-target="#m_modal_9"
            on-click="getExamDetails(e)">VIEW</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div  *ngIf="role === 'student' || role === 'parent'">
  <div class="m-subheader m-subheader-examination">
    <div class="row">
      <div class="col-lg-6">
        <a class="h3" routerLink="/examination">
          <h3 class="font-weight-bold">Examination</h3>
        </a>
        <span class="sub-heading">All your exams</span>
      </div>
      <div class="col-lg-6">
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-4 col-md-6" *ngFor="let e of exam_data">
        <div class="white-square m-2 p-3">
          <span class="font-weight-bold">{{e.title | titlecase}}</span><span class="class">{{e.std}} {{e.div}}</span>
          <h3 class="subject-marks">{{e.subject}} <div class="float-right">{{ e.score}} / {{ e.totalMarks}} Marks</div>
          </h3>
          <p class="subject font-weight-bold">At {{e.date}}, {{e.time}}</p>
          <p class="para">{{e.description}}</p>
          <!--<span class="subject">Submit by | {{e.submission | date : "dd-MM-yyyy"}}</span><a href="#" class="btn-view"
              *ngIf="this.role !== 'student'" data-toggle="modal" data-target="" (click)="getExamination(e.code)">VIEW</a>-->
          <div class="bottom-text"><span class="subject">Submit by : {{e.date}}</span> </div>
          <div class="subject-status float-right ">{{ e.state}}</div>
          <!-- <a href="#" class="btn-view pull-right" data-toggle="modal" data-target="#m_modal_9" on-click="getStudentExamDetails(e)">VIEW</a> -->
        </div>
      </div>
    </div>
  </div>
</div>


<!---------------------------------------------- modal code ----------------------------------------------------->
<div class="container">
  <div class="modal fade" id="m_modal_8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
    aria-hidden="true">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header header-size">
          <h4 class="modal-heading font-weight-bold">Add Exam</h4>
          <a href="#" class="close " data-dismiss="modal">&times;</a>
        </div>
        <div class="modal-body">
          <form [formGroup]="examForm" (ngSubmit)="onSubmit()">
            <div class="form-group" style=" background: transparent;border: none;">
              <p>{{today | date:'dd-MM-yyyy'}} <span class="float-right">{{today | date:'hh:mm:ss a':'+0530'}}</span>
              </p>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="text-box form-control" placeholder="Enter Title" formControlName="title"
                    required>
                  <span
                    *ngIf="examForm.get('title').errors && (examForm.get('title').touched || examForm.get('title').dirty)"
                    class="help-block">
                    <span *ngIf="examForm.get('title').errors.required" class="error-message">
                      Please fill title!
                    </span>
                  </span>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-lg-6">
                <select class="search_categories mt-2 " formControlName="std" ng-model="models" required>
                  <option>{{class_value ? class_value : 'Class'}}</option>
                  <option *ngFor="let class of leture_data">{{class.std}} {{class.div}}</option>
                </select>
                <span *ngIf="examForm.get('std').errors && (examForm.get('std').touched || examForm.get('std').dirty)"
                  class="help-block">
                  <span *ngIf="examForm.get('std').errors.required" class="error-message">
                    Please select class!
                  </span>
                </span>

              </div>
              <div class="col-lg-6">

                <select class="search_categories mt-2" formControlName="subject" required>
                  <option>{{class_value ? class_value : 'Subject'}}</option>
                  <!--{{class_value ? class_value : 'select Subject'}}-->
                  <option *ngFor="let lecture of leture_data">{{lecture.subject}}</option>
                </select>
                <span
                  *ngIf="examForm.get('subject').errors && (examForm.get('subject').touched || examForm.get('subject').dirty)"
                  class="help-block">
                  <span *ngIf="examForm.get('subject').errors.required" class="error-message">
                    Please select subject!
                  </span>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div>
                  <input type="date" class="search_categories mt-2" formControlName="date" required></div>
                <span
                  *ngIf="examForm.get('date').errors && (examForm.get('date').touched || examForm.get('date').dirty)"
                  class="help-block">
                  <span *ngIf="examForm.get('date').errors.required" class="error-message">
                    Please enter date for exam!
                  </span>
                </span>

              </div>
              <div class="col-lg-6">
                <input class="search_categories mt-2" type="time" formControlName="time" required>
                <span
                  *ngIf="examForm.get('time').errors && (examForm.get('time').touched || examForm.get('time').dirty)"
                  class="help-block">
                  <span *ngIf="examForm.get('time').errors.required" class="error-message">
                    Please fill time for exam!
                  </span>
                </span>

              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <textarea class="search_categories" style="margin-top: 10px" id="message-text"
                    placeholder="Description for this Examination" formControlName="description" required></textarea>
                  <span
                    *ngIf="examForm.get('description').errors && (examForm.get('description').touched || examForm.get('description').dirty)"
                    class="help-block">
                    <span *ngIf="examForm.get('description').errors.required" class="error-message">
                      Please enter exam description!
                    </span>
                  </span>
                </div>
              </div>

            </div>
            <div class="form-group">
              <label>Examination Duration</label>
              <table>
                <tr>
                  <td>
                    <input type="text" class="form-control" placeholder="00" formControlName="hr" required>
                    <span *ngIf="examForm.get('hr').errors && (examForm.get('hr').touched || examForm.get('hr').dirty)"
                      class="help-block">
                      <span *ngIf="examForm.get('hr').errors.required" class="error-message">
                        Please enter time for exam!
                      </span>
                    </span>
                  </td>hr:
                  <td><input type="text" class="form-control" placeholder="00" formControlName="min" required>
                    <span
                      *ngIf="examForm.get('min').errors && (examForm.get('min').touched || examForm.get('min').dirty)"
                      class="help-block">
                      <span *ngIf="examForm.get('min').errors.required" class="error-message">
                        Please enter time for exam!
                      </span>
                    </span>
                  </td>min

                </tr>
              </table>
            </div>
            <div class="form-group">
              <input type="number" min="0" class="search_categories" placeholder="marks" formControlName="totalMarks"
                required>
              <span
                *ngIf="examForm.get('totalMarks').errors && (examForm.get('totalMarks').touched || examForm.get('totalMarks').dirty)"
                class="help-block">
                <span *ngIf="examForm.get('totalMarks').errors.required" class="error-message">
                  Please enter total marks!
                </span>
              </span>
            </div>

            <div class="row mt-2">
                <div class="col-lg-12">
                    <button type="button" class="btn-sm btn-close text-center " data-dismiss="modal">
                        Cancel
                      </button>
                      <button type="submit" class="btn-sm btn-submit mr-2" [disabled]="!examForm.valid">
                          Submit
                        </button>
                </div>
              <!--<div class="col-lg-6">
                <button type="button" class="btn btn-close text-center btn-block" data-dismiss="modal">
                  Cancel
                </button>
              </div>
              <div class="col-lg-6">
                <button type="submit" class="btn btn-submit btn-block" [disabled]="!examForm.valid">
                  Submit
                </button>

              </div>-->
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<!---------------------------------------------- modal code ----------------------------------------------------->
<div class="container">
  <div class="modal fade" id="m_modal_9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
    aria-hidden="true">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header header-size">
          <h4 class="modal-heading font-weight-bold">Exam Details</h4>
          <a href="#" class="close " data-dismiss="modal">&times;</a>
        </div>
        <div class="modal-body" *ngIf="examDetails">
          <span class="examdetail-title">{{examDetails.title | titlecase}}</span><span class="class">{{examDetails.std}}
            {{examDetails.div}}</span>
          <h3 class="subject-marks">Subject: {{examDetails.subject}} <div class="float-right">
              {{ examDetails.totalMarks}} Marks</div>
          </h3>
          <h3 class="subject font-weight-bold">At {{examDetails.date}}, {{examDetails.time}} <div
              class="subject-status float-right">{{ examDetails.state}}</div>
          </h3>
          <p class="para">{{examDetails.description}}</p>
          <!--<span class="subject">Submit by | {{e.submission | date : "dd-MM-yyyy"}}</span><a href="#" class="btn-view"
                  *ngIf="this.role !== 'student'" data-toggle="modal" data-target="" (click)="getExamination(e.code)">VIEW</a>-->
        </div>
      </div>
    </div>
  </div>
</div>

<!----------------------------------------------student Marks modal code ----------------------------------------------------->
<div class="container">
  <div class="modal fade" id="m_modal_student_9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
    aria-hidden="true">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header header-size">
          <h4 class="modal-heading font-weight-bold">Exam Details</h4>
          <a href="#" class="close " data-dismiss="modal">&times;</a>
        </div>
        <div class="modal-body" *ngIf="examDetails">
          <span class="font-weight-bold">{{examDetails.title | titlecase}}</span><span class="class">{{examDetails.std}}
            {{examDetails.div}}</span>
          <h3 class="subject-marks">Subject: {{examDetails.subject}} <div class="float-right">{{ examDetails.score}} /
              {{ examDetails.totalMarks}} Marks</div>
          </h3>
          <h3 class="subject font-weight-bold">At {{examDetails.date}}, {{examDetails.time}} <div
              class="subject-status float-right">{{ examDetails.state}}</div>
          </h3>
          <p class="para">{{examDetails.description}}</p>
          <!--<span class="subject">Submit by | {{e.submission | date : "dd-MM-yyyy"}}</span><a href="#" class="btn-view"
                *ngIf="this.role !== 'student'" data-toggle="modal" data-target="" (click)="getExamination(e.code)">VIEW</a>-->
        </div>
        <div class="modal-body" *ngIf="!examDetails">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Student Selection box -->
<div class="modal fade" id="m_modal_child_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel5">
          Select Student
        </h5>
      </div>
      <div class="modal-body">
        <div *ngIf="child_list">

          <div *ngFor="let child of child_list; let i = index">
            {{child.name}}
            <div class="m-widget4__item">
              <div class="m-widget4__img m-widget4__img--pic">
                <img src="{{child.avtarURL}}">
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!child_list">
          Child not found
        </div>
      </div>
    </div>
  </div>
</div>
