/*.......................................css code for homework.............................................*/

.subheading {
  color: #FF9100;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Segoe UI';
}

.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 30px;
  font-weight: 500;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #000;
}

.sub-heading {
  color: #FF9100;
  font-size: 14px;
  font-weight: 600;
  font-family: Segoe UI;
}

.examdetail-title{
  font-weight: 700;
  font-family: Segoe UI;
  font-size: 20px;
}

.subheading2 {
  color: #FF9100;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Segoe UI';
}

.add-btn {
  border: 2px solid #FF9100;
  background-color: #FF9100;
  color: #ffffff;
  float: right;
  border-radius: 25px;
  padding: 8px 12px 8px 12px;
  font-weight: 800;
  font-family: Segoe UI;
  font-size: 10px;
  text-decoration: none !important;
  letter-spacing: 1px;
  filter: drop-shadow(2px 5px 6px #bcbcbc);
}

.add-btn:hover {
  color: #fff;
}
.add-btn img {
  height: 10px;
  /* vertical-align: middle; */
  margin-top: -4px;
}

.blue-box {
  background-color: #6B5AED;
  color: #fff;
  font-family: 'Segoe UI';
}

.side-content {
  float: right;
  font-family: 'Segoe UI';
}

.white-square {
  background-color: #fff;
  border-radius: 8px;
  font-family: 'Segoe UI';
  height: 200px;
}

.class {
  float: right;
  color: #969698;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Segoe UI';
}

.subject {
  color: #969698;
  font-weight: 500;
  font-size: 12px;
  font-family: 'Segoe UI';
}

.subject-marks {
  font-weight: 500;
  font-size: 14px;
  color: #f17070;
  font-family: 'Segoe UI';
}

.subject-status {
  font-weight: 500;
  font-size: 14px;
  color: #39a84b;
  font-family: 'Segoe UI';
}

.para {
  font-size: 12px;
}

.btn-view {
  float: right;
  border: 1px solid #FF9100;
  background: none;
  font-weight: 500;
  border-radius: 7px;
  color: #FF9100;
  padding: 5px 10px;
  font-size: 10px;
  position: absolute;
  bottom: 20px;
  right: 34px;
  font-family: 'Segoe UI';
}

.bottom-text {
  position: absolute;
  bottom: 31px;
  font-family: 'Segoe UI';
}

.datetime {
  float: right;
  font-family: 'Segoe UI';
}

.text-box:focus {
  border: 2px solid #FF9100 !important;
  border-left: transparent !important;
  border-top: transparent !important;
  border-right: transparent !important;
  font-size: 13px !important;
  color: #000000 !important;
  font-family: 'Segoe UI';
}

.text-box {
  border: 2px solid #ccc !important;
  border-left: transparent !important;
  border-top: transparent !important;
  border-right: transparent !important;
  font-size: 13px !important;
  color: #000000 !important;
  font-family: 'Segoe UI';
}

.textareabox {
  font-size: 13px;
  font-family: 'Segoe UI';
}

.btn-close{
  color:#FF9100;
  background-color: #fff;
  border: 1px solid #f0f1f6;
  border-radius: 28px;
  width: 83px !important;
  float: right;
}
.btn-close:hover{
  color:#000;
  background-color: #f0f1f6;
 
  border-radius: 28px;
}

.btn-submit{
  color:#fff;
  border: 2px solid #FF9100;
  background-color: #FF9100;
  border-radius: 28px;
  width: 83px;
  float: right;
  
}

.m-subheader-custom-examination {
  padding: 0px 30px 0 30px !important;
}

/*.................................... Class code css.................................................*/

.subheading {
  color: #FF9100;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Segoe UI';
}

.white-box {
  background-color: #fff;
  padding: 5%;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
  font-family: 'Segoe UI';
}

.grey-button {
  border: 2px solid #6B6B73;
  background-color: #6B6B73;
  color: #fff;
  border-radius: 25px;
  padding: 5px 20px;
  width: 69%;
  float: right;
  font-family: 'Segoe UI';
}

.class-strength {
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.5;
  padding: 20px;
  height: 70px;
  width: 70px;
  float: right;
  margin-right: 15%;
  font-family: 'Segoe UI';

}

li a {
  float: left;
  font-family: 'Segoe UI';
}

.green-box {
  border: 2px solid #53D476;
  background-color: #53D476;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-family: 'Segoe UI';

}

.img-height {
  height: 75px !important;
}

.names {
  font-size: 12px !important;
  color: #000;
  margin-left: 18px;
  font-family: 'Segoe UI';
}

.m-portlets {
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  background-color: #ffffff;
}


.class-name {
  float: left;
  margin-top: 7%;
  margin-left: 7%;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Segoe UI';

}

a:hover {
  text-decoration: none;
}

.totalclass {

  font-size: 12px;


}

.strength {
  float: right;
}

.img-profile {
  margin-right: 20px;
}

.length {
  float: right;

  font-size: 17px;
  font-weight: bold;
  font-family: 'Segoe UI';

}

.select-class {
  font-size: 15px;
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Segoe UI';
  color: #6B6B73;
}

.header-size {
  padding-top: 20px !important;
  padding-bottom: 10px !important;
  font-family: 'Segoe UI';
}

.header-size-view {
  padding-top: 20px !important;
  padding-bottom: 10px !important;
  font-family: 'Segoe UI';
}

.modal-heading {
  color: #FF9100;
  font-size: 25px;
  font-family: 'Segoe UI';
}

.examination-title-div{
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
}
.examination-addbtn-div{
  display: inline-block;
  box-sizing: border-box;
  width: 49%;
}
.m-subheader-examination{
  padding: 30px 30px 0 42px;
}


/*............................................ media Query Code ..............................................*/

@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {
  .class-name {
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Segoe UI';
  }

  .grey-button {
    border: 2px solid #6B6B73;
    background-color: #6B6B73;
    color: #fff;
    border-radius: 25px;
    font-family: 'Segoe UI';
    padding: 10px 20px;
    width: 100%;
    margin-top: 50px;
  }

  .totalclass {
    float: right;
    font-family: 'Segoe UI';


  }

  .white-box {
    margin-bottom: 12px;
    font-family: 'Segoe UI';
  }

  .names {
    font-size: 12px !important;
    color: #000;
    margin-left: -11px;
    margin-top: -40px;
    font-family: 'Segoe UI';
  }

  .img-profile {
    margin-top: 20px;
    font-family: 'Segoe UI';
  }


}

@media(min-width:575px) and (max-width:767px) {
  .class-name {
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Segoe UI';
  }

  .grey-button {
    border: 2px solid #6B6B73;
    background-color: #6B6B73;
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 50px;
    font-family: 'Segoe UI';
  }

  .names {
    font-size: 12px !important;
    color: #000;
    margin-left: -11px;
    margin-top: -40px;
    font-family: 'Segoe UI';
  }



}

@media(min-width:480px) and (max-width:574px) {}

@media(max-width:479px) {
  .m-subheader {
    padding: 20px 20px 0 20px !important;
}
  .add-btn {
    border: 2px solid #FF9100;
    background-color: #FF9100;
    color: #ffffff;
    float: right;
    border-radius: 25px;
    padding: 9px 8px 9px 8px;
    font-weight: 800;
    font-family: Segoe UI;
    font-size: 10px;
    text-decoration: none !important;
    letter-spacing: 1px;
}
  
  .add-btn:hover {
    color: #fff;
  }
  .add-btn img {
    height: 9px;
    /* vertical-align: middle; */
    margin-top: -4px;
  }
  .m-subheader .m-subheader__title {
    display: inline-block;
    padding: 7px 25px 7px 0;
    font-family: "Segoe UI" !important;
    font-weight: bold !important;
    font-size: 25px;
    font-weight: 500;
    vertical-align: middle;
    margin: 0 15px 0 0;
    color: #000;
  }
  
  .sub-heading {
    color: #FF9100;
    font-size: 10px;
    font-weight: 600;
    font-family: Segoe UI;
  }
  .grey-button {
    border: 2px solid #6B6B73;
    background-color: #6B6B73;
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 50px;
    font-family: 'Segoe UI';
  }

  .heading {
    text-align: center;
    font-family: 'Segoe UI';
  }

  .totalclass {
    float: right;
    font-family: 'Segoe UI';
  }

  .length {
    float: right;
    font-family: 'Segoe UI';
    margin-left: 20%;
  }

  .white-box {
    margin-bottom: 15px;
    background-color: #fff;
    font-family: 'Segoe UI';
    border-radius: 10px;
  }

  

  .class-strength {
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.5;
    padding: 20px;
    height: 70px;
    width: 70px;
    font-family: 'Segoe UI';
    margin-right: 33%;

  }

  .classname {
    margin-left: 20%;
    font-family: 'Segoe UI';

  }

  .strength {
    float: right;

  }

  .names {
    font-size: 12px !important;
    color: #000;
    margin-left: -11px;
    font-family: 'Segoe UI';
  }
  .examination-title-div{
    display: inline-block;
    box-sizing: border-box;
    width: 49%;
  }
  .examination-addbtn-div{
    display: inline-block;
    box-sizing: border-box;
    width: 49%;
  }
}

.error-message {
  color: red;
  font-size: 11px;
  font-weight: 600;
  font-family: 'Segoe UI';
}
