<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Assign
      </h3>
    </div>
  </div>
</div>
<!--class="col-xl-12"-->
<!--class="col-xl-6 col-lg-12" -->

<div class="m-content">
  <div class="row">
    <div [ngClass]="addCssClass(applyhalfview , applyfullview)" >
      <div class="m-portlet m-portlet--full-height">

        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
              <li class="nav-item m-tabs__item" on-click="busClick(); addCssClass(false)">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_assistant_assign_tab_bus_route" role="tab">
                  <i class="flaticon-share m--hide" ></i>
                  Bus-Route
                </a>
              </li>
              <li class="nav-item m-tabs__item" on-click="driverClick()">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_assistant_assign_tab_route_driver" role="tab">
                  Router-Driver
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="m-portlet__body">
          <div class="tab-content" >
            <div class="tab-pane active" id="m_assistant_assign_tab_bus_route" >
              <!--begin::Widget 14-->
              <div class="m-widget4">
                <div class="m-widget4__item" *ngFor="let bus_route of bus_data">

                  <div class="m-widget4__info">
                    <h3 class="m-widget4__title">
                      Bus Name: {{bus_route.number}}<br/>
                    </h3>
                    <div *ngIf="bus_route">
                      <div class="m-widget4__img m-widget4__img&#45;&#45;pic">
<!--
                        <img src="{{driver_route.avtarURL}}" alt="">
-->
                      Bus Route :  {{bus_route.route}}
                      </div>
                    </div>
                  </div>
                  <!--<div class="float-right">
                    {{bus_route.locations}}
                    <br/>
                  </div>-->
                  <div *ngIf="bus_route.route">
                    <div class="m-widget4__img m-widget4__img--pic float-right">
                      <button class="btn btn-primary align-delete-style" (click)="deleteRoute(bus_route)">delete</button>

                    </div>
                  </div>
                  <div *ngIf="!bus_route.route">
                    <div class="m-widget4__img m-widget4__img--pic">
                      <button class="btn btn-primary align-delete-style" aria-hidden="true" data-toggle="modal" data-target="#m_modal_5" (click)="assignRoute(bus_route)">Assign Route</button>
                    </div>
                  </div>
                </div> <br/>
              </div>
              <!--end::Widget 14-->
            </div>

            <div class="tab-pane" id="m_assistant_assign_tab_route_driver" >
              <div class="m-widget4">
                <div class="m-widget4__item" *ngFor="let driver_route of driver_data">
                  <div class="m-widget4__info" on-click="driver_route.data">
                    <h3 class="m-widget4__title">
                      Route: {{driver_route.number}}<br/>
                    </h3>
                      <div *ngIf="driver_route.driver && driver_route.driver.uid">
                      <div class="m-widget4__img m-widget4__img--pic">
                        <img src="{{driver_route.driver.avtarURL}}" alt="">
                      {{driver_route.driver.name}}
                      </div>
                      </div>
                  </div>
                  <div class="float-right">
                    {{driver_route.busNumber}}
                    <br/>
                  </div>
                  <div *ngIf="driver_route.driver">
                  <div class="m-widget4__img m-widget4__img--pic float-right">
                    <button class="btn btn-primary align-delete-style" (click)="deleteDriver(driver_route)">delete</button>

                  </div>
                  </div>
                  <div *ngIf="!driver_route.driver">
                    <div class="m-widget4__img m-widget4__img--pic">
                      <button class="btn btn-primary align-delete-style" aria-hidden="true" data-toggle="modal" data-target="#m_modal_4" (click)="assignDriver(driver_route)">Assign Driver</button>
                    </div>
                  </div>

                 <!-- <div class="float-right" style="padding-right: 10%">
                    {{driver_route.busNumber}}
                    <br/>
                  </div>-->
                    <span class="m-widget4__sub">
                    </span>
              </div><!--widget 4 item-->
            </div>
          </div>
        </div>
      </div>
        <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">
                  Select Driver
                </h5>
                <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
                </button>
              </div>

              <div class="modal-body">


                <div class="m-card-profile" *ngFor="let drivers of all_driver">
                  <div class="m-card-profile__title m--hide">
                    Your Profile
                  </div>
                  <div class="m-card-profile__pic">
                    <div class="m-card-profile__pic-wrapper" on-click="selectedDriver(drivers)" >
                      <img src="{{drivers.avtarURL}}" alt=""/>
                    </div>
                    {{drivers.name}}
                  </div>
                  <div class="m-card-profile__details">
							<span class="m-card-profile__name m--font-transform-c">
							</span>
                  </div>
                </div>
                <!--profile photo, name and class starts-->

                <div align="center" class="profile-rating">
                  <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: grey;"></i>
                </div>

                <!--class table starts-->
                <!--class table ends-->

              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Select route
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
                </button>
              </div>

              <div class="modal-body">


                <div class="m-card-profile" *ngFor="let route of all_route">
                  <div class="m-card-profile__title m--hide">
                    Your Profile
                  </div>
                  <div class="m-card-profile__pic" style=" background-color: lightgrey;width: 300px;border: 15px solid green;padding: 25px;margin: 25px;"  on-click="selectedRoute(route)">
                    {{route.number}}<br/>{{route.locations}}

                  </div>
                  <div class="m-card-profile__details">
							<span class="m-card-profile__name m--font-transform-c">
							</span>
                  </div>
                </div>
                <!--profile photo, name and class starts-->

                <div align="center" class="profile-rating">
                  <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: grey;"></i>
                </div>

                <!--class table starts-->
                <!--class table ends-->


              </div>
            </div>
          </div>
        </div>

      </div>

  </div>


</div>
<!--</div>


</div>

</div>
</div>-->

