/* Student card view style */

.m-portlet--full-height-custom {
  height: calc(110% - 2.2rem) !important;
}

/* Card width set */
.card {
  max-width: 18% !important;
}

/* Popup inner field style */


.modal_style {
  width: 10% !important;
  margin-left: 0% !important;
  margin-top: 0% !important;
  margin-right: 0% !important;
}

.modal-header-custom {
  padding: 4% !important;
}

.btn-dropdown-student {
  color: #fff;
  background-color: #ea8717;
  border-color: #ea8717;
}

.m-dropdown-custom-student {
  border-radius: 2rem;
  padding: 0px 5px;
    cursor: pointer;
    background: #ea8717;
    border-color: #d47202;
    height: 41px !important;
    width: 150px !important;
}

.m-subheader-custom-student {
  padding: 30px 30px 0 42px !important;
}

.student-background {
  background-color: transparent !important;
  box-shadow: none !important;
}

.m-dropdown__label-title-student {
  display: inline-block;
  font-weight: 400;
  color: #ffffff !important;
}

.label-text {
  padding: 0.7rem 0.75rem 0.7rem 0.5rem !important;
}

.m--font-brand-custom {
  color: #ffffff !important;
}

.m-nav>.m-nav__section .m-nav__section-text {
  color: #ea8717 !important;
}

.a-custom:hover {
  color: #ea8717 !important;
  text-decoration: none;
}

.m-portlet-custom-1 {
  -webkit-box-shadow: unset;
  -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: unset !important;
  background-color: unset !important;
}

.m-portlet__head-tools-bottom {
  text-align: right;
  display: table-cell;
  vertical-align: bottom !important;
}

.heading-sub {
  font-family: Segoe UI;
  font-size: 12px;
  color: #FF9100;
  font-weight: bold;
}

.sub-heading {
  font-size: 12px;
  color: #FF9100 !important;
  font-weight: 600;
  font-family: Segoe UI;
}

.m-student-text {
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.nav.nav-pills.nav-pills--brand-custom .nav-link.active {
  background: #f2f3f8;
  color: #3f4047;
  border-radius: 0px;
  border-bottom: #e58416 2px solid;
}

.row-background {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;
}

.a-vertical-bottom {
  vertical-align: bottom;
}

.message-title {
  font-weight: bold !important;
  color: #e98717 !important;
  font-size: 1.5rem !important;
}

.form-dropdown {
  border-radius: 20px;
}

.msg-box:focus {
  border: 2px solid #FF9100;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  color: #000000;
}

.btn-save {
  border-radius: 20px;
  width: 100px;
  background-color: #e98717;
  border-color: #e98717;
}

.btn-primary-custom {
  color: #e98717;
  font-size: 12px;
  background-color: #fff;
  border-color: #e98717 !important;
  border-radius: 20px;
  padding: 10px;
  margin: 0px 8px;
}

.btn-primary-custom-disabled {
  font-size: 12px;
  border-radius: 20px;
  padding: 10px;
  margin: 0px 8px;
}

.btn-primary-custom:not([disabled]):not(.disabled):active,
.btn-primary-custom:not([disabled]):not(.disabled).active,
.show>.btn-primary-custom.dropdown-toggle {
  color: #fff;
  font-size: 12px;
  padding: 10px;
  margin: 0px 5px;
  background-color: #e98717;
  border-color: #e98717;
  box-shadow: 0 0 0 0.2rem rgb(233, 135, 23);
  display: inline;
}

.btn-group-custom {
  margin: 10px;
}

.m-portlet .m-portlet__head-custom {
  display: table;
  padding: 0;
  width: 100%;
  padding: 0 !important;
  height: 3.1rem !important;
}

.popup-name {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  box-sizing: border-box;
  width: 40%;
}

.modal-icons {
  display: inline-block;
  box-sizing: border-box;
  width: 40%;
}

.m-portlet .m-portlet__body-popup-custom {
  padding: 1.0rem 0px !important;
}

.ct-slice-donut {
  fill: none;
  stroke-width: 20% !important;
}

svg:not(:root) {
  overflow: visible !important;
}

.m-widget4-calendar {
  padding: 0px !important;
}

.fc th,
.fc td {
  border-style: unset !important;
  border-width: unset !important;
  padding: 0px;
}

.fc-basic-view .fc-body .fc-row {
  min-height: 3em !important;
}

/* .fc-content-skeleton table tbody{
  display: none;
} */

.fc-unthemed .fc-toolbar {
  margin-bottom: 0.5rem;
}

.fc-day-grid-container {
  overflow: hidden scroll;
  height: unset !important;
}

.set-text-color {
  color: #fff;
}

.fc-unthemed .fc-day-grid td:not(.fc-axis) {
  padding: 0.5rem 1.0rem;
}

td.fc-other-month {
  visibility: hidden;
  background-color: #fff;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* begin: Attendance Dot Circle */
.bg-success {
  background-color: #28a745 !important;
  color: #fff;
}

.bg-danger {
  background-color: #fb022b !important;
  color: #fff;
}

.bg-warning {
  background-color: #ffb822 !important;
  color: #fff;
}

.dot-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

/* end: Attendance Dot Circle */
.modal-body-custom {
  padding: 15px !important;
}

.m-scrollable-custom-1 {
  height: auto !important;
}

.m-btn--icon.m-btn--custom.m-btn--icon-only.btn-sm,
.btn-group-sm>.m-btn--icon.m-btn--custom.m-btn--icon-only.btn {
  width: 30px;
  height: 30px;
  float: right;
  margin-top: -35px;
}

.m-portlet.m-portlet--full-height-student {
  height: calc(100% - 2.2rem);
  padding-left: 0px !important;
}



.m-dropdown-custom-student {
  border-radius: 2rem;
  padding: 0px 5px;
  cursor: pointer;
  background: #ea8717;
  border-color: #d47202;
  height: 41px;
  width: 120px;
}

.student-tab-margining {
  margin-top: 20px !important;
}

.student-details {
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
}

.student-class {
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
}

.student-icons {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  vertical-align: middle;
}

.student-icons a {
  float: right;
  margin-left: 5%;
}

.modal-icons a {
  float: right;
  margin-left: 20px;
}

.student-class-options {
  font-size: 12px;
}

a:hover {
  text-decoration: none;
}

.modal-heading-student {
  display: inline-block;
  box-sizing: border-box;
  width: 86%;
}

.modal-close-button {
  display: inline-block;
  box-sizing: border-box;
}

.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 30px;
  font-weight: 500;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #000000;
}

.nav.nav-pills.m-nav-pills--btn-sm .m-tabs__link-students {
  padding: 0.6em 1.4em !important;
  font-size: 13px !important;
  font-weight: 500 !important;
}

.text-default {
  color: #969698;
  font-size: 14px;
  font-weight: 500;
  font-weight: Segoe UI;
}

.text-box{
  border:2px solid #ebedf2;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  font-size: 15px;
  color: #000000;
  border-radius: 0px;
}
.text-box:focus{
  border:2px solid #FF9100;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  font-size: 15px;
  color: #000000;
}
.m-dropdown__label-title-student2{
  font-weight: 500;
  font-family: Segoe UI;
}

.error-message{
  color: red;
  font-size: 11px;
  font-weight: 600;
  font-family: Segoe UI;
}
/*.......................................media query code .............................................*/

@media(min-width:992px) and (max-width:1024) {
  .student-icons {
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
    vertical-align: middle;
  }

}

@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {
  .student-icons {
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
    vertical-align: middle;
  }

  .m-subheader-custom-student {
    padding: 30px 20px 0 20px !important;
  }

  .m-btn--icon.m-btn--custom.m-btn--icon-only.btn-sm,
  .btn-group-sm>.m-btn--icon.m-btn--custom.m-btn--icon-only.btn {

    display: inline !important;
  }

  .m-dropdown-custom-student {
    border-radius: 2rem;
    padding: 0px 5px 5px 5px;
    cursor: pointer;
    background: #ea8717;
    border-color: #d47202;
    height: 40px;
  }

  .m-btn--icon.m-btn--custom.m-btn--icon-only.btn-sm,
  .btn-group-sm>.m-btn--icon.m-btn--custom.m-btn--icon-only.btn {
    /* display: inline !important; */
    float: right;
    /* margin-bottom: 16px; */
    z-index: 5000;
    margin-top: -36px;
  }


}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {}

@media(max-width:479px) {

  .m-dropdown .m-dropdown__label {
    padding: 0.7rem 0.75rem 0.7rem 0.5rem;
    width: 105px;
  }

  .label-text {
    display: inline-block;
  }

  .m-dropdown-custom-student {
    border-radius: 2rem;
    padding: 0px 5px 5px 5px;
    cursor: pointer;
    background: #ea8717;
    border-color: #d47202;
    height: 40px;
  }

  .m-btn--icon.m-btn--custom.m-btn--icon-only.btn-sm,
  .btn-group-sm>.m-btn--icon.m-btn--custom.m-btn--icon-only.btn {

    display: inline;
  }

  .m-subheader-custom-student {
    padding: 30px 20px 0 20px !important;
  }

  .student-class {
    display: none !important;

  }

  .student-details {
    display: inline-block;
    box-sizing: border-box;
    width: 60%;
  }

  .student-icons {
    display: inline-block;
    box-sizing: border-box;
    width: 35%;
    vertical-align: middle;
  }

  .modal-body-custom {
    padding: 6px !important;
  }

  .nav.nav-pills.m-nav-pills--btn-sm .m-tabs__link {
    padding: 0.6em 1.4em;
    font-size: 0.63rem;
  }

  .row-background {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 0px;
  }

  .modal-icons a {
    float: right;
    margin-left: 20px;
  }

  .student-class-options {
    font-size: 12px;
  }


}
