<!-- END: Subheader -->
<div class="">
  <!-- BEGIN: Subheader -->
  <div class="m-subheader m-subheader-custom-student" appunwraptag="">

    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title">
          Students
        </h3>
        <p class=" sub-heading">
          All Students
        </p>
      </div>
      <!-- BEGIN: Class Dropdown -->
      <div
        class="m-dropdown m-dropdown--inline m-dropdown--small m-dropdown--arrow m-dropdown--align-right m-dropdown-custom-student"
        data-dropdown-toggle="click">
        <div class="m-dropdown__label label-text">
          <span class="m-dropdown__label-title-student text-white">Class:</span>
          <span
            class="m-dropdown__label-subtitle m--font-brand-custom">{{class_value ? class_value : 'select class'}}</span>
        </div>
        
        <a href="#"
          class="m-dropdown__toggle btn btn-sm btn-dropdown-student m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill dropdown-arrow">
          <i class="la la-angle-down"></i>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--right"></span>
          <div class="m-dropdown__inner">
            <div class="m-dropdown__body">
              <div class="m-dropdown__content">
                <div class="m-scrollable" data-scrollable="true">
                  <ul class="m-nav">
                    <li class="m-nav__section m-nav__section--first">
                      <span class="m-nav__section-text">
                        Classes
                      </span>
                    </li>
                    <span *ngFor="let class of class_data">
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon fa fa-language"></i>
                          <span class="m-nav__link-text student-class-options" on-click="getStudent(class.std_div)">
                            {{class.std_div}}
                          </span>
                        </a>
                      </li>
                    </span>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Class Dropdown -->
    </div>
  </div>

  <!--Begin::Main Portlet-->
  <div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <!--begin:: Widgets/New Users-->
      <div class="m-portlet m-portlet--full-height student-background">
        <div class="">

          <div class="m-portlet__head-tools m-portlet__head-tools-bottom">
            <ul
              class="nav nav-pills nav-pills--brand nav-pills--brand-custom m-nav-pills--align-left m-nav-pills--btn-pill m-nav-pills--btn-sm"
              role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active m-tabs__link-students" data-toggle="tab" href="#m_widget4_tab1_content" role="tab">
                  Active
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link m-tabs__link-students" data-toggle="tab" href="#m_widget4_tab2_content" role="tab">
                  Approval List
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="student-tab-margining">
          <div class="tab-content">
            <div class="tab-pane active" id="m_widget4_tab1_content">
              <div *ngIf="students_list">
              <!--begin::Widget 14-->
              <div class="m-widget4">
                <div class="col-lg-12 row-background" *ngFor="let student of students_list">
                  <div class="" *ngIf="student.isActive">
                    <div *ngIf="!student.isActive">
                      No found
                    </div>
                      <div class="student-details">
                          <a href="#" class="card-link text-dark" on-click="getStudentDetails(student)" aria-hidden="true"
                        data-toggle="modal">
                        <img src="{{student.avtarURL}}" height="50" width="50"
                          class="m--img-rounded m--marginless m--img-centered" alt="profile picture"
                          onError="this.src='././assets/images/avatar.jpg'">
                        <span class="m-student-text">{{student.name}}</span>
                      </a>
                        </div>
                        <div class="student-class">
                            <p class="text-default  text-center mt-3">
                                Class {{student.std + student.div}}
                              </p>
                        </div>
                        <div class="student-icons">
                           
                          <a class="a-vertical-bottom"
                            href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"><img height="35"
                              width="35" src="././assets/images/inbox.png"></a>
                              <a href="#" class="" on-click="sendMessageModalData(student)" aria-hidden="true"
                              data-toggle="modal"> <img height="35" width="35" src="././assets/images/message.png"></a>
                              <a href="#" class="" href="https://web.whatsapp.com/" target="_blank"><img
                              src="././assets/images/watsapp.png" height="35px" width="35px"></a>
                        </div>
                    <!--<div class="col-lg-4">
                      <a href="#" class="card-link text-dark" on-click="getStudentDetails(student)" aria-hidden="true"
                        data-toggle="modal">
                        <img src="{{student.avtarURL}}" height="50" width="50"
                          class="m--img-rounded m--marginless m--img-centered" alt="profile picture"
                          onError="this.src='././assets/images/avatar.jpg'">
                        <span class="m-student-text">{{student.name}}</span>
                      </a>
                    </div>
                    <div class="col-lg-4">
                      <p class="text-default  text-center mt-3">
                        {{student.std + student.div}}
                      </p>
                    </div>
                    <div class="col-lg-4">
                      <div class="a-vertical-bottom">
                        <a href="#" class="float-right mr-3" on-click="sendMessageModalData(student)" aria-hidden="true"
                          data-toggle="modal"> <img height="35" width="35" src="././assets/images/message.png"></a>
                        <a class="float-right a-vertical-bottom mr-3"
                          href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"><img height="35"
                            width="35" src="././assets/images/inbox.png"></a>
                      </div>
                    </div>-->
                    <!-- <div class="card-body">
                      <a href="#" class="btn btn-primary m-btn m-btn-hover-brand m-btn-pill btn-sm"
                        on-click="gotoAttendace(student, student.uid)">
                        More Details
                      </a>
                    </div> -->
                  </div>
                  
                </div>
                <!--end::Widget 14 Item-->
              </div>
            </div>
            <!--end::Widget 14-->
            <!-- <div *ngIf="!student_list">
              No Active Student's
            </div> -->
            </div>
           
            <div class="tab-pane" id="m_widget4_tab2_content">
              <!--begin::Widget 14-->
              <div *ngIf="approval_list != null">
                <div class="m-widget4" *ngFor="let student of approval_list">
                  <!--begin::Widget 14 Item-->
                  <div class="m-widget4__item" *ngIf="student != ''">
                    <div class="m-widget4__img m-widget4__img--pic">
                      <img src="{{student.avtarURL}}" class="m-rounded" alt="">
                    </div>
                    <div class="m-widget4__info">
                      <span class="m-widget4__title">
                        {{student.name}}
                      </span>
                      <br>
                      <span class="m-widget4__sub">
                        {{student.std}} {{student.div}}
                      </span>
                    </div>
                    <div class="m-widget4__ext">
                      <a href="#" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary"
                        (click)="onStudentApprovalClick()">
                        Approve
                      </a>
                    </div>
                    &nbsp;
                    <div class="m-widget4__ext">
                      <a href="#" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">
                        Reject
                      </a>
                    </div>
                  </div>
                  <br>
                  <!--end::Widget 14 Item-->
                </div>
                <!--end::Widget 14-->
              </div>
              <div *ngIf="approval_list === null || approval_list == ''">
                No Inactive Student's
              </div>
            </div>
          </div>
        </div>
        <!--end::Modal-->

      </div>
      <!--end:: Widgets/New Users-->
    </div>
  </div>
</div>

  <!--begin::Modal-->
  <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="modal-content">
          <div class="modal-body">
              

            <div class="col-md-12">
              <div class="row">
                  
                <div class="col-md-12">
                  <div class="modal-heading-student">
                      <h4 class="message-title" id="exampleModalLabel4">Message</h4>
                  </div>
                  <div class="modal-close-button">
                      <button type="button" class="close modal_style float-right" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">
                            &times;
                          </span>
                        </button>
                  </div>
                  <!--<h4 class="message-title" id="exampleModalLabel4">Message</h4>
                  <button type="button" class="close modal_style float-right" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">
                        &times;
                      </span>
                    </button>-->
                </div>
                <!--<div class="col-md-6">
                  <select id="category" class="form-control form-dropdown" formControlName="category" ng-required="true">
                    <option>{{ "select a user" }}</option>
                    <option value="{{c}}" *ngFor="let c of category_list">{{c}}</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <button type="button" class="close modal_style float-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                      &times;
                    </span>
                  </button>
                </div>-->
              </div>
            </div>
            <div class="mt-3">
            <span class="m-dropdown__label-title-student2  mt-5">Select Category: </span>
            <select id="category" class="form-control form-dropdown text-box" formControlName="category" ng-required="true">
                <option> select a user</option>
                <option value="{{c}}" *ngFor="let c of category_list">{{c}}</option>
              </select>
              <span
              *ngIf="userForm.get('category').errors && (userForm.get('category').touched || userForm.get('category').dirty)"
              class="help-block">
              <span *ngIf="userForm.get('category').errors.required" class="error-message">
                Please fill category!
              </span>
            </span>
          </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-9 col-sm-12">
                  <div class="form-group">
                    <div class="btn-group-toggle btn-group-custom " data-toggle="buttons">
                      <label class="btn btn-primary-custom btn-secondary active" on-click="setSendTo(studentData.uid)">
                        <input type="radio" name="to" id="option1" formControlName="to" value="true" autocomplete="off"
                          checked> To Student
                      </label>
                      <label class="btn btn-primary-custom btn-secondary" *ngIf="parentDataUid"
                        on-click="setSendTo(parentDataUid)">
                        <input type="radio" name="to" id="option2" formControlName="to" value="false"
                          autocomplete="off"> To Parent
                      </label>
                      <label class="btn btn-primary-custom-disabled btn-secondary btn-disabled" *ngIf="!parentDataUid"
                      title="Parent Details Not Availabled!" >To Parent
                    </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <!-- <label for="recipient-name" class="form-control-label">
               Subject:
             </label> -->
              <input type="text" class="form-control msg-box" id="recipient-name" placeholder="Enter a Subject"
                formControlName="title" required>
                <span
              *ngIf="userForm.get('title').errors && (userForm.get('title').touched || userForm.get('title').dirty)"
              class="help-block">
              <span *ngIf="userForm.get('title').errors.required" class="error-message">
                Please fill title!
              </span>
            </span>
            </div>
            <div class="form-group">
              <!-- <label for="message-text" class="form-control-label">
               Message:
             </label> -->
              <textarea class="form-control  msg-box" id="message-text" placeholder="Enter your message here"
                formControlName="description" required></textarea>
                <span
                *ngIf="userForm.get('description').errors && (userForm.get('description').touched || userForm.get('description').dirty)"
                class="help-block">
                <span *ngIf="userForm.get('description').errors.required" class="error-message">
                  Please fill description!
                </span>
              </span> 
            </div>
            <button type="submit" class="btn btn-primary btn-save pull-right">
              Save
            </button>
          </div>
          <!-- <div class="modal-footer">                  
          
         </div> -->
        </div>
      </form>
    </div>
  </div>
  <!--end::Modal-->

  <!-- begin:: Student Details Modal -->
  <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    
    <div class="modal-dialog  modal-lg">
       
      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header">
     <h4 class="modal-title text-warning">Message</h4>
     <a href="#" class="close" data-dismiss="modal">&times;</a>
   </div> -->
        <div class="modal-body modal-body-custom">
            
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                
                <h4 class="message-title" id="exampleModalLabel4">Student Details</h4>
              </div>
              <div class="col-md-6">
                <button type="button" class="close modal_style float-right" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                    &times;
                  </span>
                </button>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="m-portlet m-portlet-custom-1 m-portlet--full-height m-portlet--full-height-custom">
              <div class="m-portlet__head m-portlet__head-custom">
      
                <div class="m-portlet__head-tools m-portlet__head-tools-bottom">
                  <ul
                    class="nav nav-pills nav-pills--brand nav-pills--brand-custom m-nav-pills--align-left m-nav-pills--btn-pill m-nav-pills--btn-sm"
                    role="tablist">
                    <li class="nav-item m-tabs__item">
                      <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget4_student_tab1_content" role="tab">
                        Members
                      </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                      <a class="nav-link m-tabs__link" data-toggle="tab" on-click="getAttendanceforstudent()" href="#m_widget4_student_tab2_content" role="tab">
                       Attendance
                      </a>
                    </li>
                    <!-- <li class="nav-item m-tabs__item">
                      <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_student_tab3_content" role="tab">
                       Examination
                      </a>
                    </li> -->
                    <li class="nav-item m-tabs__item">
                      <a class="nav-link m-tabs__link" data-toggle="tab" on-click="getStudentPerformanceBySubject()" href="#m_widget4_student_tab3_content" role="tab">
                       Performance
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="m-portlet__body m-portlet__body-popup-custom">
                <div class="tab-content">
                  <!-- Student Detail View tab -->
                  <div class="tab-pane active" id="m_widget4_student_tab1_content">
                    <!--begin::Widget 14-->
                    <div class="m-widget4">
                     
                      <div class="col-lg-12 row-background" *ngIf="studentData">
                        <div class="row">
                          <div class="col-lg-2 col-md-2">
                            <span><img src="studentData.avtarURL" class="m--img-rounded m--marginless m--img-centered" height="70px" width="70px" onError="this.src='././assets/images/avatar.jpg'"></span>
                          </div>
                          <div class="col-lg-10 col-md-10" >
                              <div class="popup-name" >
                                  {{studentData.name}}
                              </div>
                              <div class="modal-icons">
                            <a href="#mymodal" class="" data-toggle="modal" data-target="#myModal"><img
                                src="././assets/images/message.png" height="30px" width="30px"></a>
                            <a href="#" class=""><img src="././assets/images/inbox.png" height="30px"
                                width="30px"></a>
                                <a href="#" class="" href="https://web.whatsapp.com/" target="_blank"><img
                                  src="././assets/images/watsapp.png" height="30px" width="30px"></a>
                          </div>
                            <!--<div class="row" >
                              
                              <div class="col-lg-4 col-md-4">
                                <span class="popup-name" >
                                  {{studentData.name}}
                                </span>
                                <p>Student</p>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-12">            
                                <div class="modal-icons"><a href="#" class="pull-right mr-3"><img src="././assets/images/watsapp.png"
                                      height="30px" width="30px"></a>
                                  <a href="#mymodal" class="ml-4 pull-right mr-4" data-toggle="modal" data-target="#myModal"><img
                                      src="././assets/images/message.png" height="30px" width="30px"></a>
                                  <a href="#" class="ml-4 pull-right"><img src="././assets/images/inbox.png" height="30px"
                                      width="30px"></a>
                                </div>            
                              </div>
                            </div>-->
                            <div class="row">
                              <div class="col-lg-4 col-md-4">   
                                City
                                <p>Pune</p>         
                              </div>
                              <div class="col-lg-4 col-md-4">  
                                Address
                                <p>XXXX</p>                              
                              </div>
                              <div class="col-lg-4 col-md-4">            
                              </div>
                            </div> 
                            <div class="row">
                              <div class="col-lg-4 col-md-4">   
                                Phone
                                <p *ngIf="studentData.phone">{{studentData.phone}}</p>   
                                <p *ngIf="!studentData.phone"> +91 XXXXX XXXXX </p>      
                              </div>
                              <div class="col-lg-4 col-md-4">  
                                Email
                                <p *ngIf="studentData.email">{{studentData.email}}</p>                              
                                <p *ngIf="!studentData.email">XXXXXX@mail.com</p>                              
                              </div>
                              <div class="col-lg-4 col-md-4">            
                              </div>
                            </div> 
                          </div>
                        </div>              
                      </div>
                      <!--end::Widget 14 Item-->
                    </div>
                  </div>
                  <!-- Student Attendance chart & calendar View tab -->
                  <div class="tab-pane" id="m_widget4_student_tab2_content">
                    <!--begin::Widget 14-->
                    <div class="m-widget4 ">                     
                      <div class="col-lg-12 col-md-12 col-sm-12 row-background" *ngIf="studentData">
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="m-widget14">
                                  <div class="row  align-items-center">
                                    <div class="col">
                                      <div id="m_chart_attendance" class="m-widget14__chart" style="height: 140px">
                                        <div class="m-widget14__stat donut-stat"></div>
                                      </div>
                                    </div>
                                    <!-- <div class="col">
                                      <div class="m-widget14__legends">
                                        <div class="m-widget14__legend">
                                          <span class="m-widget14__legend-bullet m--bg-success present"></span>
                                          <span class="m-widget14__legend-text">
                                            {{present_percent | number:'2.2-2' }} % Present
                                          </span>
                                        </div>
                                        <div class="m-widget14__legend">
                                          <span class="m-widget14__legend-bullet m--bg-danger absent"></span>
                                          <span class="m-widget14__legend-text">
                                            {{absent_percent | number:'2.2-2' }} % Absent
                                          </span>
                                        </div>
                                      </div>
                                    </div> -->
          
                                  </div>
                                </div>
                                <div class="text-center"><span> <span class="dot-circle bg-danger mr-1"></span> Absent </span> <span
                                  class="ml-1"><span class="dot-circle bg-success mr-1"></span> Present </span><span class="ml-1"><span
                                    class="dot-circle bg-warning mr-1"></span> Leave
                                </span> </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="m-widget14 m-widget4-calendar">
                                  <div id="m_calendar_event"></div>
                                </div>
                              </div>
                            </div>              
                      </div>
                      <!--end::Widget 14 Item-->
                    </div>
                  </div>
                  <!-- Student Performance chart View tab -->
                  <div class="tab-pane" id="m_widget4_student_tab3_content">
                    <!--begin::Widget 14-->
                    <div class="m-widget4 ">                     
                      <div class="col-lg-12 col-md-12 col-sm-12 row-background" *ngIf="studentData">
                        <div class="row  align-items-center">
                          <div class="col">
                            <div id="m_chart_performance" class="m-widget14__chart" style="height: 140px">
                            </div>
                          </div>
                        </div>          
                      </div>
                      <!--end::Widget 14 Item-->
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Modal-->      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end::Modal-->

  <!--End::Main Portlet-->
</div>
