<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Lists
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Base
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Lists
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-6">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Timeline List
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							Default Timelime
						</h3>
						<div class="m-section__content">
							<!--begin::Preview-->
							<div class="m-demo">
								<div class="m-demo__preview">
									<div class="m-list-timeline">
										<div class="m-list-timeline__items">
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">
													12 new users registered and pending for activation
												</span>
												<span class="m-list-timeline__time">
													Just now
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">
													Scheduled system reboot completed
													<span class="m-badge m-badge--success m-badge--wide">
														completed
													</span>
												</span>
												<span class="m-list-timeline__time">
													14 mins
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">
													New order has been planced and pending for processing
												</span>
												<span class="m-list-timeline__time">
													20 mins
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">
													Database server overloaded 80% and requires quick reboot
													<span class="m-badge m-badge--info m-badge--wide">
														settled
													</span>
												</span>
												<span class="m-list-timeline__time">
													1 hr
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">
													System error occured and hard drive has been shutdown -
													<a href="#" class="m-link">
														Check
													</a>
												</span>
												<span class="m-list-timeline__time">
													2 hrs
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge"></span>
												<span class="m-list-timeline__text">
													Production server is rebooting...
												</span>
												<span class="m-list-timeline__time">
													3 hrs
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end::Preview-->                        <!--begin::Dropdown-->
							<div class="m-dropdown m-dropdown--inline m-dropdown--huge m-dropdown--arrow" data-dropdown-toggle="click">
								<a href="#" class="m-dropdown__toggle btn btn-success dropdown-toggle">
									Dropdown example
								</a>
								<div class="m-dropdown__wrapper">
									<span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
									<div class="m-dropdown__inner">
										<div class="m-dropdown__body">
											<div class="m-dropdown__content">
												<div class="m-scrollable" data-scrollable="true" data-max-height="200">
													<div class="m-list-timeline">
														<div class="m-list-timeline__items">
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge"></span>
																<span class="m-list-timeline__text">
																	12 new users registered and pending for activation
																</span>
																<span class="m-list-timeline__time">
																	Just now
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge"></span>
																<span class="m-list-timeline__text">
																	Scheduled system reboot completed
																	<span class="m-badge m-badge--success m-badge--wide">
																		completed
																	</span>
																</span>
																<span class="m-list-timeline__time">
																	14 mins
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge"></span>
																<span class="m-list-timeline__text">
																	New order has been planced and pending for processing
																</span>
																<span class="m-list-timeline__time">
																	20 mins
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge"></span>
																<span class="m-list-timeline__text">
																	Database server overloaded 80% and requires quick reboot
																	<span class="m-badge m-badge--info m-badge--wide">
																		settled
																	</span>
																</span>
																<span class="m-list-timeline__time">
																	1 hr
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge"></span>
																<span class="m-list-timeline__text">
																	System error occured and hard drive has been shutdown -
																	<a href="#" class="m-link">
																		Check
																	</a>
																</span>
																<span class="m-list-timeline__time">
																	2 hrs
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge"></span>
																<span class="m-list-timeline__text">
																	Production server is rebooting...
																</span>
																<span class="m-list-timeline__time">
																	3 hrs
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end::Dropdown-->
						</div>
					</div>
					<!--end::Section-->                <!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							State Colors
						</h3>
						<div class="m-section__content">
							<!--begin::Preview-->
							<div class="m-demo">
								<div class="m-demo__preview">
									<div class="m-list-timeline">
										<div class="m-list-timeline__items">
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
												<span class="m-list-timeline__text">
													12 new users registered and pending for activation
												</span>
												<span class="m-list-timeline__time">
													Just now
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--danger"></span>
												<span class="m-list-timeline__text">
													Scheduled system reboot completed
													<span class="m-badge m-badge--success m-badge--wide">
														completed
													</span>
												</span>
												<span class="m-list-timeline__time">
													14 mins
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--warning"></span>
												<span class="m-list-timeline__text">
													New order has been planced and pending for processing
												</span>
												<span class="m-list-timeline__time">
													20 mins
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--primary"></span>
												<span class="m-list-timeline__text">
													Database server overloaded 80% and requires quick reboot
													<span class="m-badge m-badge--info m-badge--wide">
														settled
													</span>
												</span>
												<span class="m-list-timeline__time">
													1 hr
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--brand"></span>
												<span class="m-list-timeline__text">
													System error occured and hard drive has been shutdown -
													<a href="#" class="m-link">
														Check
													</a>
												</span>
												<span class="m-list-timeline__time">
													2 hrs
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
												<span class="m-list-timeline__text">
													Production server is rebooting...
												</span>
												<span class="m-list-timeline__time">
													3 hrs
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end::Preview-->                        <!--begin::Dropdown-->
							<div class="m-dropdown m-dropdown--inline m-dropdown--huge m-dropdown--arrow" data-dropdown-toggle="click">
								<a href="#" class="m-dropdown__toggle btn btn-danger dropdown-toggle">
									Dropdown example
								</a>
								<div class="m-dropdown__wrapper">
									<span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
									<div class="m-dropdown__inner">
										<div class="m-dropdown__body">
											<div class="m-dropdown__content">
												<div class="m-scrollable" data-scrollable="true" data-max-height="200">
													<div class="m-list-timeline">
														<div class="m-list-timeline__items">
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge"></span>
																<span class="m-list-timeline__text">
																	12 new users registered and pending for activation
																</span>
																<span class="m-list-timeline__time">
																	Just now
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge"></span>
																<span class="m-list-timeline__text">
																	Scheduled system reboot completed
																	<span class="m-badge m-badge--success m-badge--wide">
																		completed
																	</span>
																</span>
																<span class="m-list-timeline__time">
																	14 mins
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge"></span>
																<span class="m-list-timeline__text">
																	New order has been planced and pending for processing
																</span>
																<span class="m-list-timeline__time">
																	20 mins
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge"></span>
																<span class="m-list-timeline__text">
																	Database server overloaded 80% and requires quick reboot
																	<span class="m-badge m-badge--info m-badge--wide">
																		settled
																	</span>
																</span>
																<span class="m-list-timeline__time">
																	1 hr
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge"></span>
																<span class="m-list-timeline__text">
																	System error occured and hard drive has been shutdown -
																	<a href="#" class="m-link">
																		Check
																	</a>
																</span>
																<span class="m-list-timeline__time">
																	2 hrs
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge"></span>
																<span class="m-list-timeline__text">
																	Production server is rebooting...
																</span>
																<span class="m-list-timeline__time">
																	3 hrs
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end::Dropdown-->
						</div>
					</div>
					<!--end::Section-->                 <!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							Item Icons
						</h3>
						<div class="m-section__content">
							<!--begin::Preview-->
							<div class="m-demo">
								<div class="m-demo__preview">
									<div class="m-list-timeline">
										<div class="m-list-timeline__items">
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
												<span class="m-list-timeline__icon flaticon-user"></span>
												<span class="m-list-timeline__text">
													12 new users registered and pending for activation
												</span>
												<span class="m-list-timeline__time">
													Just now
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--danger"></span>
												<span class="m-list-timeline__icon flaticon-interface-7"></span>
												<span class="m-list-timeline__text">
													Scheduled system reboot completed
													<span class="m-badge m-badge--success m-badge--wide">
														completed
													</span>
												</span>
												<span class="m-list-timeline__time">
													14 mins
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--warning"></span>
												<span class="m-list-timeline__icon flaticon-placeholder"></span>
												<span class="m-list-timeline__text">
													New order has been planced and pending for processing
												</span>
												<span class="m-list-timeline__time">
													20 mins
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--primary"></span>
												<span class="m-list-timeline__icon flaticon-share"></span>
												<span class="m-list-timeline__text">
													Database server overloaded 80% and requires quick reboot
													<span class="m-badge m-badge--info m-badge--wide">
														settled
													</span>
												</span>
												<span class="m-list-timeline__time">
													1 hr
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--brand"></span>
												<span class="m-list-timeline__icon flaticon-exclamation-1"></span>
												<span class="m-list-timeline__text">
													System error occured and hard drive has been shutdown -
													<a href="#" class="m-link">
														Check
													</a>
												</span>
												<span class="m-list-timeline__time">
													2 hrs
												</span>
											</div>
											<div class="m-list-timeline__item">
												<span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
												<span class="m-list-timeline__icon flaticon-cogwheel-2"></span>
												<span class="m-list-timeline__text">
													Production server is rebooting...
												</span>
												<span class="m-list-timeline__time">
													3 hrs
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end::Preview-->                        <!--begin::Dropdown-->
							<div class="m-dropdown m-dropdown--up m-dropdown--inline m-dropdown--huge m-dropdown--arrow" data-dropdown-toggle="click">
								<a href="#" class="m-dropdown__toggle btn btn-brand dropdown-toggle">
									Dropdown example
								</a>
								<div class="m-dropdown__wrapper">
									<div class="m-dropdown__inner">
										<div class="m-dropdown__body">
											<div class="m-dropdown__content">
												<div class="m-scrollable" data-scrollable="true" data-max-height="200">
													<div class="m-list-timeline">
														<div class="m-list-timeline__items">
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
																<span class="m-list-timeline__icon flaticon-user"></span>
																<span class="m-list-timeline__text">
																	12 new users registered and pending for activation
																</span>
																<span class="m-list-timeline__time">
																	Just now
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge m-list-timeline__badge--danger"></span>
																<span class="m-list-timeline__icon flaticon-interface-7"></span>
																<span class="m-list-timeline__text">
																	Scheduled system reboot completed
																	<span class="m-badge m-badge--success m-badge--wide">
																		completed
																	</span>
																</span>
																<span class="m-list-timeline__time">
																	14 mins
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge m-list-timeline__badge--warning"></span>
																<span class="m-list-timeline__icon flaticon-placeholder"></span>
																<span class="m-list-timeline__text">
																	New order has been planced and pending for processing
																</span>
																<span class="m-list-timeline__time">
																	20 mins
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge m-list-timeline__badge--primary"></span>
																<span class="m-list-timeline__icon flaticon-share"></span>
																<span class="m-list-timeline__text">
																	Database server overloaded 80% and requires quick reboot
																	<span class="m-badge m-badge--info m-badge--wide">
																		settled
																	</span>
																</span>
																<span class="m-list-timeline__time">
																	1 hr
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge m-list-timeline__badge--brand"></span>
																<span class="m-list-timeline__icon flaticon-exclamation-1"></span>
																<span class="m-list-timeline__text">
																	System error occured and hard drive has been shutdown -
																	<a href="#" class="m-link">
																		Check
																	</a>
																</span>
																<span class="m-list-timeline__time">
																	2 hrs
																</span>
															</div>
															<div class="m-list-timeline__item">
																<span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
																<span class="m-list-timeline__icon flaticon-cogwheel-2"></span>
																<span class="m-list-timeline__text">
																	Production server is rebooting...
																</span>
																<span class="m-list-timeline__time">
																	3 hrs
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
								</div>
							</div>
							<!--end::Dropdown-->
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->        <!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Badge List
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							Default Badge List
						</h3>
						<div class="m-section__content">
							<!--begin::Preview-->
							<div class="m-demo">
								<div class="m-demo__preview" style="background: #F7F8FC;">
									<div class="m-list-badge">
										<div class="m-list-badge__label m--font-success">
											12:00
										</div>
										<div class="m-list-badge__items">
											<a href="#" class="m-list-badge__item">
												Technology
											</a>
											<a href="#" class="m-list-badge__item">
												Sport
											</a>
											<a href="#" class="m-list-badge__item">
												Art
											</a>
											<a href="#" class="m-list-badge__item">
												Music
											</a>
										</div>
									</div>
									<div class="m-list-badge m--margin-top-15">
										<div class="m-list-badge__label m--font-success">
											13:00
										</div>
										<div class="m-list-badge__items">
											<span class="m-list-badge__item">
												Web Design
											</span>
											<span class="m-list-badge__item">
												Programming
											</span>
											<span class="m-list-badge__item">
												Illustration
											</span>
										</div>
									</div>
									<div class="m-list-badge m--margin-top-15">
										<div class="m-list-badge__label m--font-success">
											14:00
										</div>
										<div class="m-list-badge__items">
											<a href="#" class="m-list-badge__item">
												Yoga
											</a>
											<a href="#" class="m-list-badge__item">
												Cooking
											</a>
											<a href="#" class="m-list-badge__item">
												Dance
											</a>
											<a href="#" class="m-list-badge__item">
												Gym
											</a>
										</div>
									</div>
								</div>
							</div>
							<!--end::Preview-->
						</div>
					</div>
					<!--end::Section-->                 <!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							Default Badge List On White Background
						</h3>
						<div class="m-section__content">
							<!--begin::Preview-->
							<div class="m-demo">
								<div class="m-demo__preview">
									<div class="m-list-badge m-list-badge--light-bg">
										<div class="m-list-badge__label m--font-success">
											12:00
										</div>
										<div class="m-list-badge__items">
											<a href="#" class="m-list-badge__item">
												Technology
											</a>
											<a href="#" class="m-list-badge__item">
												Sport
											</a>
											<a href="#" class="m-list-badge__item">
												Art
											</a>
											<a href="#" class="m-list-badge__item">
												Music
											</a>
										</div>
									</div>
									<div class="m-list-badge m-list-badge--light-bg m--margin-top-15">
										<div class="m-list-badge__label m--font-success">
											13:00
										</div>
										<div class="m-list-badge__items">
											<span class="m-list-badge__item">
												Web Design
											</span>
											<span class="m-list-badge__item">
												Programming
											</span>
											<span class="m-list-badge__item">
												Illustration
											</span>
										</div>
									</div>
									<div class="m-list-badge m-list-badge--light-bg m--margin-top-15">
										<div class="m-list-badge__label m--font-success">
											14:00
										</div>
										<div class="m-list-badge__items">
											<a href="#" class="m-list-badge__item">
												Yoga
											</a>
											<a href="#" class="m-list-badge__item">
												Cooking
											</a>
											<a href="#" class="m-list-badge__item">
												Dance
											</a>
											<a href="#" class="m-list-badge__item">
												Gym
											</a>
										</div>
									</div>
								</div>
							</div>
							<!--end::Preview-->
						</div>
					</div>
					<!--end::Section-->                <!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							Badge List With State Colors
						</h3>
						<div class="m-section__content">
							<!--begin::Preview-->
							<div class="m-demo">
								<div class="m-demo__preview">
									<div class="m-list__content">
										<div class="m-list-badge m--margin-bottom-20">
											<div class="m-list-badge__label m--font-danger">
												12:00
											</div>
											<div class="m-list-badge__items">
												<a href="#" class="m-list-badge__item m-list-badge__item--brand">
													Technology
												</a>
												<a href="#" class="m-list-badge__item m-list-badge__item--focus">
													Sport
												</a>
												<a href="#" class="m-list-badge__item m-list-badge__item--success">
													Art
												</a>
												<a href="#" class="m-list-badge__item m-list-badge__item--danger">
													Music
												</a>
											</div>
										</div>
										<div class="m-list-badge m--margin-bottom-20">
											<div class="m-list-badge__label m--font-brand">
												18:30
											</div>
											<div class="m-list-badge__items">
												<span class="m-list-badge__item m-list-badge__item--focus">
													Web Design
												</span>
												<span class="m-list-badge__item m-list-badge__item--warning">
													Programming
												</span>
												<span class="m-list-badge__item m-list-badge__item--info">
													Illustration
												</span>
											</div>
										</div>
										<div class="m-list-badge">
											<div class="m-list-badge__label m--font-warning">
												12:40
											</div>
											<div class="m-list-badge__items">
												<a href="#" class="m-list-badge__item m-list-badge__item--brand">
													Yoga
												</a>
												<a href="#" class="m-list-badge__item m-list-badge__item--primary">
													Cooking
												</a>
												<a href="#" class="m-list-badge__item m-list-badge__item--danger">
													Dance
												</a>
												<a href="#" class="m-list-badge__item m-list-badge__item--warning">
													Gym
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end::Preview-->
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->        <!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								User Pics List
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							Default User Pics List
						</h3>
						<div class="m-section__content">
							<!--begin::Preview-->
							<div class="m-demo">
								<div class="m-demo__preview">
									<div class="m-list-pics m-list-pics--rounded m--margin-bottom-10">
										<a href="#">
											<img src="assets/app/media/img/users/user1.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user2.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user3.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user4.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user5.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user6.jpg" title="">
										</a>
									</div>
									<div class="m-list-pics">
										<a href="#">
											<img src="assets/app/media/img/users/user1.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user2.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user3.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user4.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user5.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user6.jpg" title="">
										</a>
									</div>
								</div>
							</div>
							<!--end::Preview-->
						</div>
					</div>
					<!--end::Section-->                <!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							Small User Pics
						</h3>
						<div class="m-section__content">
							<!--begin::Preview-->
							<div class="m-demo">
								<div class="m-demo__preview">
									<div class="m-list-pics m-list-pics--sm m-list-pics-rounded--sm m--margin-bottom-10">
										<a href="#">
											<img src="assets/app/media/img/users/user1.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user3.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user2.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user4.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user5.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user6.jpg" title="">
										</a>
									</div>
									<div class="m-list-pics m-list-pics--sm">
										<a href="#">
											<img src="assets/app/media/img/users/user1.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user2.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user3.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user4.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user5.jpg" title="">
										</a>
										<a href="#">
											<img src="assets/app/media/img/users/user6.jpg" title="">
										</a>
									</div>
								</div>
							</div>
							<!--end::Preview-->
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-lg-6">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Search Result List
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section m-section--last">
						<div class="m-section__content">
							<!--begin::Preview-->
							<div class="m-demo">
								<div class="m-demo__preview">
									<div class="m-list-search">
										<div class="m-list-search__results">
											<span class="m-list-search__result-message m--hide">
												No record found
											</span>
											<span class="m-list-search__result-category m-list-search__result-category--first">
												Documents
											</span>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-icon">
													<i class="flaticon-interface-3 m--font-warning"></i>
												</span>
												<span class="m-list-search__result-item-text">
													Annual finance report
												</span>
											</a>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-icon">
													<i class="flaticon-share m--font-success"></i>
												</span>
												<span class="m-list-search__result-item-text">
													Company meeting schedule
												</span>
											</a>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-icon">
													<i class="flaticon-paper-plane m--font-info"></i>
												</span>
												<span class="m-list-search__result-item-text">
													Project quotations
												</span>
											</a>
											<span class="m-list-search__result-category">
												Customers
											</span>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-pic">
													<img class="m--img-rounded" src="assets/app/media/img/users/user1.jpg" title="">
												</span>
												<span class="m-list-search__result-item-text">
													Amanda Anderson
												</span>
											</a>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-pic">
													<img class="m--img-rounded" src="assets/app/media/img/users/user2.jpg" title="">
												</span>
												<span class="m-list-search__result-item-text">
													Kennedy Lloyd
												</span>
											</a>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-pic">
													<img class="m--img-rounded" src="assets/app/media/img/users/user3.jpg" title="">
												</span>
												<span class="m-list-search__result-item-text">
													Megan Weldon
												</span>
											</a>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-pic">
													<img class="m--img-rounded" src="assets/app/media/img/users/user4.jpg" title="">
												</span>
												<span class="m-list-search__result-item-text">
													Marc-André ter Stegen
												</span>
											</a>
											<span class="m-list-search__result-category">
												Files
											</span>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-icon">
													<i class="flaticon-lifebuoy m--font-warning"></i>
												</span>
												<span class="m-list-search__result-item-text">
													Revenue report
												</span>
											</a>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-icon">
													<i class="flaticon-coins m--font-primary"></i>
												</span>
												<span class="m-list-search__result-item-text">
													Anual finance report
												</span>
											</a>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-icon">
													<i class="flaticon-calendar m--font-danger"></i>
												</span>
												<span class="m-list-search__result-item-text">
													Tax calculations
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
							<!--end::Preview-->                        <!--begin::Dropdown-->
							<div class="m-dropdown m-dropdown--up m-dropdown--inline m-dropdown--huge m-dropdown--arrow" data-dropdown-toggle="click">
								<a href="#" class="m-dropdown__toggle btn btn-warning dropdown-toggle">
									Dropdown example
								</a>
								<div class="m-dropdown__wrapper">
									<div class="m-dropdown__inner">
										<div class="m-dropdown__body">
											<div class="m-dropdown__content">
												<div class="m-scrollable" data-scrollable="true" data-max-height="240">
													<div class="m-list-search">
														<div class="m-list-search__results">
															<span class="m-list-search__result-message m--hide">
																No record found
															</span>
															<span class="m-list-search__result-category m-list-search__result-category--first">
																Documents
															</span>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-icon">
																	<i class="flaticon-interface-3 m--font-warning"></i>
																</span>
																<span class="m-list-search__result-item-text">
																	Annual finance report
																</span>
															</a>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-icon">
																	<i class="flaticon-share m--font-success"></i>
																</span>
																<span class="m-list-search__result-item-text">
																	Company meeting schedule
																</span>
															</a>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-icon">
																	<i class="flaticon-paper-plane m--font-info"></i>
																</span>
																<span class="m-list-search__result-item-text">
																	Project quotations
																</span>
															</a>
															<span class="m-list-search__result-category">
																Customers
															</span>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-pic">
																	<img class="m--img-rounded" src="assets/app/media/img/users/user1.jpg" title="">
																</span>
																<span class="m-list-search__result-item-text">
																	Amanda Anderson
																</span>
															</a>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-pic">
																	<img class="m--img-rounded" src="assets/app/media/img/users/user2.jpg" title="">
																</span>
																<span class="m-list-search__result-item-text">
																	Kennedy Lloyd
																</span>
															</a>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-pic">
																	<img class="m--img-rounded" src="assets/app/media/img/users/user3.jpg" title="">
																</span>
																<span class="m-list-search__result-item-text">
																	Megan Weldon
																</span>
															</a>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-pic">
																	<img class="m--img-rounded" src="assets/app/media/img/users/user4.jpg" title="">
																</span>
																<span class="m-list-search__result-item-text">
																	Marc-André ter Stegen
																</span>
															</a>
															<span class="m-list-search__result-category">
																Files
															</span>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-icon">
																	<i class="flaticon-lifebuoy m--font-warning"></i>
																</span>
																<span class="m-list-search__result-item-text">
																	Revenue report
																</span>
															</a>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-icon">
																	<i class="flaticon-coins m--font-primary"></i>
																</span>
																<span class="m-list-search__result-item-text">
																	Anual finance report
																</span>
															</a>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-icon">
																	<i class="flaticon-calendar m--font-danger"></i>
																</span>
																<span class="m-list-search__result-item-text">
																	Tax calculations
																</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
								</div>
							</div>
							<!--end::Dropdown-->
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->        <!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								iscellaneous List
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section m-section--last">
						<div class="m-section__content">
							<!--begin::Preview-->
							<div class="m-demo">
								<div class="m-demo__preview">
									<div class="m-list-search">
										<div class="m-list-search__results">
											<span class="m-list-search__result-message m--hide">
												No record found
											</span>
											<span class="m-list-search__result-category m-list-search__result-category--first">
												Documents
											</span>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-icon">
													<i class="flaticon-interface-3 m--font-warning"></i>
												</span>
												<span class="m-list-search__result-item-text">
													Annual finance report
												</span>
											</a>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-icon">
													<i class="flaticon-share m--font-success"></i>
												</span>
												<span class="m-list-search__result-item-text">
													Company meeting schedule
												</span>
											</a>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-icon">
													<i class="flaticon-paper-plane m--font-info"></i>
												</span>
												<span class="m-list-search__result-item-text">
													Project quotations
												</span>
											</a>
											<span class="m-list-search__result-category">
												Customers
											</span>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-pic">
													<img class="m--img-rounded" src="assets/app/media/img/users/user1.jpg" title="">
												</span>
												<span class="m-list-search__result-item-text">
													Amanda Anderson
												</span>
											</a>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-pic">
													<img class="m--img-rounded" src="assets/app/media/img/users/user2.jpg" title="">
												</span>
												<span class="m-list-search__result-item-text">
													Kennedy Lloyd
												</span>
											</a>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-pic">
													<img class="m--img-rounded" src="assets/app/media/img/users/user3.jpg" title="">
												</span>
												<span class="m-list-search__result-item-text">
													Megan Weldon
												</span>
											</a>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-pic">
													<img class="m--img-rounded" src="assets/app/media/img/users/user4.jpg" title="">
												</span>
												<span class="m-list-search__result-item-text">
													Marc-André ter Stegen
												</span>
											</a>
											<span class="m-list-search__result-category">
												Files
											</span>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-icon">
													<i class="flaticon-lifebuoy m--font-warning"></i>
												</span>
												<span class="m-list-search__result-item-text">
													Revenue report
												</span>
											</a>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-icon">
													<i class="flaticon-coins m--font-primary"></i>
												</span>
												<span class="m-list-search__result-item-text">
													Anual finance report
												</span>
											</a>
											<a href="#" class="m-list-search__result-item">
												<span class="m-list-search__result-item-icon">
													<i class="flaticon-calendar m--font-danger"></i>
												</span>
												<span class="m-list-search__result-item-text">
													Tax calculations
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
							<!--end::Preview-->                        <!--begin::Dropdown-->
							<div class="m-dropdown m-dropdown--up m-dropdown--inline m-dropdown--huge m-dropdown--arrow" data-dropdown-toggle="click">
								<a href="#" class="m-dropdown__toggle btn btn-warning dropdown-toggle">
									Dropdown example
								</a>
								<div class="m-dropdown__wrapper">
									<div class="m-dropdown__inner">
										<div class="m-dropdown__body">
											<div class="m-dropdown__content">
												<div class="m-scrollable" data-scrollable="true" data-max-height="240">
													<div class="m-list-search">
														<div class="m-list-search__results">
															<span class="m-list-search__result-message m--hide">
																No record found
															</span>
															<span class="m-list-search__result-category m-list-search__result-category--first">
																Documents
															</span>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-icon">
																	<i class="flaticon-interface-3 m--font-warning"></i>
																</span>
																<span class="m-list-search__result-item-text">
																	Annual finance report
																</span>
															</a>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-icon">
																	<i class="flaticon-share m--font-success"></i>
																</span>
																<span class="m-list-search__result-item-text">
																	Company meeting schedule
																</span>
															</a>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-icon">
																	<i class="flaticon-paper-plane m--font-info"></i>
																</span>
																<span class="m-list-search__result-item-text">
																	Project quotations
																</span>
															</a>
															<span class="m-list-search__result-category">
																Customers
															</span>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-pic">
																	<img class="m--img-rounded" src="assets/app/media/img/users/user1.jpg" title="">
																</span>
																<span class="m-list-search__result-item-text">
																	Amanda Anderson
																</span>
															</a>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-pic">
																	<img class="m--img-rounded" src="assets/app/media/img/users/user2.jpg" title="">
																</span>
																<span class="m-list-search__result-item-text">
																	Kennedy Lloyd
																</span>
															</a>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-pic">
																	<img class="m--img-rounded" src="assets/app/media/img/users/user3.jpg" title="">
																</span>
																<span class="m-list-search__result-item-text">
																	Megan Weldon
																</span>
															</a>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-pic">
																	<img class="m--img-rounded" src="assets/app/media/img/users/user4.jpg" title="">
																</span>
																<span class="m-list-search__result-item-text">
																	Marc-André ter Stegen
																</span>
															</a>
															<span class="m-list-search__result-category">
																Files
															</span>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-icon">
																	<i class="flaticon-lifebuoy m--font-warning"></i>
																</span>
																<span class="m-list-search__result-item-text">
																	Revenue report
																</span>
															</a>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-icon">
																	<i class="flaticon-coins m--font-primary"></i>
																</span>
																<span class="m-list-search__result-item-text">
																	Anual finance report
																</span>
															</a>
															<a href="#" class="m-list-search__result-item">
																<span class="m-list-search__result-item-icon">
																	<i class="flaticon-calendar m--font-danger"></i>
																</span>
																<span class="m-list-search__result-item-text">
																	Tax calculations
																</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
								</div>
							</div>
							<!--end::Dropdown-->
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>
