<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Schools
      </h3>
    </div>
  </div>
</div>
<!--class="col-xl-12"-->
<!--class="col-xl-6 col-lg-12" -->

<div class="m-content">
  <div class="row">
    <div [ngClass]="addCssClass(applyhalfview , applyfullview)" >
      <div class="m-portlet m-portlet--full-height"><!--style="height: calc(100% - 0.8rem)"-->

        <div class="m-portlet__body">
          <div class="tab-content" >
            <div class="tab-pane active" id="m_assistant_assign_tab_bus_route" >
              <!--begin::Widget 14-->
              <div class="m-widget4">
                <div class="tab-pane active m-scrollable" role="tabpanel" style="overflow: auto;height: 200px;" #scrollMe
                     [scrollTop]="scrollMe.scrollHeight">
                  <div class="m-widget4__item" *ngFor="let schools of schools_list">

                    <div class="m-widget4__info">
                      <h3 class="m-widget4__title">
                         {{schools.name}}<br/>
                      </h3>
                      <span>{{schools.type}}</span><br/>
                      <span>{{schools.code}}</span><br/>

                      <span>{{schools.area}}</span><br/>
                      <span>{{schools.city}}</span>,
                      <span>{{schools.state}}</span><br/>

                      <span>{{schools.phoneNumber}}</span><br/>
                      <span>{{schools.email}}</span><br/>
                    </div>
                  </div>
                </div>
                <a class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air float-right" style="margin-top: 1%" href="#" ng-reflect-href="#">
          <span aria-hidden="true" data-toggle="modal" data-target="#m_modal_5">
										<i class="la la-plus"></i>
										<span>
											Add
										</span>
									</span>
                </a>
                <br/>
              </div> <!--scroll-->

            </div>
            <!--end::Widget 14-->

          </div>
        </div>
        <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
             aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <form [formGroup]="addSchoolForm" (ngSubmit) = onSubmit()>
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel1">
                    Add School
                  </h5>
                  <div class="modal-body">
                    <img src="assets/images/school.jpg">
                    <div class="form-group" style=" background: transparent;border: none; border-bottom: 1px solid #000000;">
                      <input type="text"  placeholder="School Name"  formControlName="name" >
                    </div>
                    <select [ngModel]="object" formControlName="type" class="w3-panel w3-card-2">
                      <option  placeholder="Selected Notification Type" *ngFor="let object of type" [ngValue]="object">{{object}}</option>
                    </select>

                    <div class="form-group" style=" background: transparent;border: none; border-bottom: 1px solid #000000;">
                      <input type="text"  placeholder="Board"  formControlName="board" >
                    </div>

                    <select [ngModel]="object1" formControlName="medium" class="w3-panel w3-card-2">
                      <option  placeholder="Selected Medium" *ngFor="let object1 of medium" [ngValue]="object1">{{object1}}</option>
                    </select>

                    <div class="form-group" style=" background: transparent;border: none; border-bottom: 1px solid #000000;">
                      <input type="text"  placeholder="School Contact Number"  formControlName="phoneNumber" >
                    </div>

                    <div class="form-group" style=" background: transparent;border: none; border-bottom: 1px solid #000000;">
                      <input type="email"  placeholder="School Email"  formControlName="email" >
                    </div>

                    <select [ngModel]="state1" formControlName="state" class="w3-panel w3-card-2">
                      <option  placeholder="Selected state" *ngFor="let state1 of medium" [ngValue]="state1">{{state1}}</option>
                    </select>

                    <select [ngModel]="dist1" formControlName="district" class="w3-panel w3-card-2">
                      <option  placeholder="Selected state" *ngFor="let dist1 of medium" [ngValue]="dist1">{{dist1}}</option>
                    </select>

                    <div class="form-group" style=" background: transparent;border: none; border-bottom: 1px solid #000000;">
                      <input type="text"  placeholder="City/Village"  formControlName="city" >
                    </div>

                    <div class="form-group" style=" background: transparent;border: none; border-bottom: 1px solid #000000;">
                      <input type="text"  placeholder="Region"  formControlName="area" >
                    </div>

                    <div class="form-group" style=" background: transparent;border: none; border-bottom: 1px solid #000000;">
                      <input type="text"  placeholder="Postal Code"  formControlName="zip" >
                    </div>

                    <div class="form-group" style=" background: transparent;border: none; border-bottom: 1px solid #000000;">
                      <input type="text"  placeholder="Director's Mobile Number" formControlName="directorPhoneNumber">
                    </div>

                    <div class="form-group" style=" background: transparent;border: none; border-bottom: 1px solid #000000;">
                      <input type="text"  placeholder="Admin's Mobile Number" formControlName="adminsPhoneNumber">
                    </div>

                    <div class="form-group" style=" background: transparent;border: none; border-bottom: 1px solid #000000;">
                      <input type="text"  placeholder="addressLn1"  formControlName="addressLn1" >
                    </div>
                   <!-- <input type="text" class="form-group"  placeholder="00" formControlName="startTime">AM
                    <input type="text" class="form-group"  placeholder="00" formControlName="endTime">PM-->

                    <div class="form-group" style=" background: transparent;border: none; border-bottom: 1px solid #000000;">
                      <input type="time"  placeholder="addressLn1"  formControlName="startTime" >
                    </div>

                    <div class="form-group" style=" background: transparent;border: none; border-bottom: 1px solid #000000;">
                      <input type="time"  placeholder="addressLn1"  formControlName="endTime" >
                    </div>

                    <div class="form-group" style=" background: transparent;border: none; border-bottom: 1px solid #000000;">
                      <input type="text"  placeholder="country"  formControlName="country" >


                    <div class="modal-footer">
                      <!--<button (click)="cancel(userForm)">Cancel</button>-->

                      <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        CANCEL
                      </button>
                      <button type="submit" class="btn btn-primary" on-click="events()">
                        Confirm
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </form>
          </div>
        </div>

        <!--modal content ends-->

        <!--end::Modal--><!--begin::Modal-->
       <!-- <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <form [formGroup]="addSchoolForm" (ngSubmit)="onSubmit()">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel5">
                    Reoprt
                  </h5>
                  <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="School Name" formControlName="name">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control"  placeholder="Bus Registation Number" formControlName="registrationNumber">&lt;!&ndash;id="recipient-name"&ndash;&gt;
                  </div>
                  <div class="form-group">
                    <input type="date" class="form-control"  placeholder="Insurance Exp" formControlName="insuranceLastDate">
                  </div>
                  <div class="form-group">
                    <input type="number" class="form-control"  placeholder="Seat Capacity" formControlName="capacity">
                  </div>
                  &lt;!&ndash; <div class="form-group">
                     <textarea class="form-control" id="message-text" formControlName="message"></textarea>
                   </div>&ndash;&gt;

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                </div>

              </div>
            </form>
          </div>
        </div>-->
        <!--end::Modal-->
      </div>
    </div>
  </div>
</div>
