<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        My Class
      </h3>
    </div>
  </div>
</div>
<!--class="col-xl-12"-->
<!--class="col-xl-6 col-lg-12" -->

<div class="m-content">
  <div class="row">
    <div ><!--[ngClass]="addCssClass(applyhalfview , applyfullview)"-->
      <div class="m-portlet m-portlet--full-height">

        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
              <li class="nav-item m-tabs__item" on-click="complainClick();"><!--addCssClass(false)-->
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_inbox_tab_complain" role="tab">
                  <i class="flaticon-share m--hide" ></i>
                  Student
                </a>
              </li>
              <li class="nav-item m-tabs__item" on-click="suggestionClick()">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_inbox_tab_suggestion" role="tab">
                  Teachers
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="m-portlet__body">
          <div class="tab-content" >

            <div class="tab-pane active" id="m_user_inbox_tab_complain" >
              <!--begin::Widget 14-->
              <div class="m-widget4" >
                <div class="m-widget4__item"  *ngFor="let class of class_data; let i = index">

                  <div class="m-widget4__info" on-click="getStudentAndTeacher(class.std_div)">
                    <h3 class="m-widget4__title">
                      {{class.std_div}}
                    </h3>
                  </div>


                    <br/>
                    <span class="m-widget4__sub">

                    </span>
                </div> <br/>
              </div>
              <!--end::Widget 14-->
            </div>

            <div class="tab-pane" id="m_user_inbox_tab_suggestion" >
              <div class="m-widget4" >
                <div class="m-widget4__item" *ngFor="let item_inbox_suggestion of suggestion_list">

                  <div class="m-widget4__info" on-click="item_inbox_complain_click(item_inbox_suggestion.id)">
                    <h3 class="m-widget4__title">
                      {{item_inbox_suggestion.title}}
                      <i class="la la-download float-right"></i>
                    </h3>
                  </div>
                  <div class="m-widget4__img m-widget4__img--pic float-right">
                    <img src="{{item_inbox_suggestion.sentBy.avtarURL}}" alt="">
                  </div>
                  <div class="m-widget4__ext">
                  <span class="m-widget4__title">
											{{item_inbox_suggestion.sentBy.name}}
										</span>
                    <br/>
                    <span class="m-widget4__sub">

                    </span>
                  </div>
                </div> <br/>
              </div>
            </div>

            <div class="m-portlet__body">
              <div class="tab-content">
                <div class="tab-pane active" [id]="'student_tab'+i">
                  <div class="m-widget4" *ngFor="let student of student_data">
                    <div *ngIf="class.std_div == student.std+student.div">
                      <div class="m-widget4__item">

                        <div class="m-widget4__img m-widget4__img--pic">
                          <img src="{{student.avtarURL}}" alt="img">
                        </div>

                        <div class="m-widget4__info">
										<span class="m-widget4__title">
											{{student.name}} {{student.std}} {{student.div}}
										</span>
                          <br>
                        </div>

                      </div>
                      <br>
                    </div>
                  </div>
                </div>


                <div class="tab-pane " [id]="'teacher_tab'+i">
                  <div class="m-widget4" *ngFor="let teacher of teacher_data">
                    <!--<div *ngIf="class.std_div == teacher.std+teacher.div">-->
                    <div class="m-widget4__item">

                      <div class="m-widget4__img m-widget4__img--pic">
                        <img src="{{teacher.avtarURL}}" alt="img">
                      </div>

                      <div class="m-widget4__info">
										<span class="m-widget4__title">
											{{teacher.name}} {{teacher.std}} {{teacher.div}}
										</span>
                        <br>
                      </div>

                    </div>
                    <br>
                    <!--</div>-->
                  </div>
                </div>


              </div>
            </div>


          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-6 col-lg-12" *ngIf="conversation">
      <div class="m-portlet m-portlet--full-height">


        <div class="tab-content" style="padding: 5%" >
          <div class="tab-pane active m-scrollable" id="m_quick_sidebar_tabs_messenger" role="tabpanel" style="height: 200px;">
            <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light" style="overflow: auto;height: 100%;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
              <div class="m-messenger__messages">

                <div *ngFor="let msg of conversation; trackBy: message">

                  <span *ngIf="uid!=msg.sentFrom.id">
                    <div class="m-messenger__message m-messenger__message--in">
                      <div class="m-messenger__message-pic">
                        <img src="{{msg.sentFrom.avtar}}" alt=""/>
                      </div>
                      <div class="m-messenger__message-body">
                        <div class="m-messenger__message-arrow"></div>
                        <div class="m-messenger__message-content">
                          <div class="m-messenger__message-username">
                            {{msg.sentFrom.name}}
                          </div>
                          <div class="m-messenger__message-text">
                            {{msg.message}}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="m-messenger__datetime" style="text-align: left; margin-left: 5%">
                      {{msg.sentAt | date : 'short'}}
                    </div><br>

                  </span>


                  <span *ngIf="uid==msg.sentFrom.id">
                     <div class="m-messenger__message m-messenger__message--out" >

                        <div class="m-messenger__message-body">
                           <div class="m-messenger__message-arrow"></div>
                             <div class="m-messenger__message-content">
                               <div class="m-messenger__message-text">
                                 {{msg.message}}
                               </div>
                             </div>
                           </div>

                        </div>

                        <div class="m-messenger__datetime" style="text-align: right">
                          {{msg.sentAt | date : 'short'}}
                        </div>
                  </span>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m-messenger__seperator"></div>
        <div class="m-messenger__form">
          <div class="row">
            <div class="col-sm-11">

              <div class="m-messenger__form-controls">
                <input type="text" name="in" placeholder="Type here..." class="m-messenger__form-input inputtext" ><!--[(ngModel)]='sendmsg'-->
              </div>
            </div>
            <div class="col-sm-1"style="margin-top: 4%" >
              <div class="m-messenger__form-tools" on-click="postMessage(sendmsg)">
                <a href="" class="m-messenger__form-attachment">
                  <i class="fa fa-mail-forward"></i>
                </a>
              </div>
            </div>
            <!--<div class="tab-content">
              <div class="tab-pane active " id="m_quick_sidebar_tabs_messenger" role="tabpanel">

                <div class="tab-pane ">
                  <div class="m-messenger__form">
                    <div class="row">
                      <div class="col-sm-11">
                      <div class="m-messenger__form-controls">
                        <input class="m-messenger__form-input form-control ng-untouched ng-pristine ng-valid" name="in"
                               placeholder="Type here..." type="text" ng-reflect-name="in">
                      </div>
                      </div>&lt;!&ndash;col&ndash;&gt;
                      <div class="col-sm-1">
                        <div class="m-messenger__form-tools">
                        <a class="m-messenger__form-attachment" href="" ng-reflect-href="">
                          <i class="fa fa-mail-forward"></i>
                        </a>
                      </div>
                      </div>&lt;!&ndash;col&ndash;&gt;
                    </div> &lt;!&ndash;row&ndash;&gt;
                  </div>
                </div>


              </div>
            </div>-->
          </div>
        </div>
        <!--  <div class="m-messenger__seperator"></div>

          <div class="m-messenger__form">

            <div class="m-messenger__form-controls">
              <input type="text" name="" placeholder="Type here..." class="m-messenger__form-input" [(ngModel)]="sendmsg">
            </div>

            <div class="m-messenger__form-tools" on-click="postMessage(sendmsg)">
              <a href="" class="m-messenger__form-attachment">
                <i class="fa fa-mail-forward" ></i>
              </a>
            </div>

          </div>-->
      </div>
    </div>

  </div>


</div>
<!--</div>


</div>

</div>
</div>-->

