<!-- BEGIN: Subheader -->
<div class="m-subheader m-subheader-settings" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Settings
      </h3>
    </div>
    <div>
      <!--<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
           data-dropdown-toggle="hover" aria-expanded="true">
        <a href="#"
           class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
          <i class="la la-plus m--hide"></i>
          <i class="la la-ellipsis-h"></i>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
          <div class="m-dropdown__inner">
            <div class="m-dropdown__body">
              <div class="m-dropdown__content">
                <ul class="m-nav">
                  <li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-share"></i>
                      <span class="m-nav__link-text">
												Activity
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-chat-1"></i>
                      <span class="m-nav__link-text">
												Messages
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-info"></i>
                      <span class="m-nav__link-text">
												FAQ
											</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                      <span class="m-nav__link-text">
												Support
											</span>
                    </a>
                  </li>
                  <li class="m-nav__separator m-nav__separator--fit"></li>
                  <li class="m-nav__item">
                    <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                      Submit
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content m-content-settings">
  <div class="row">
    <div class="col-xl-3 col-lg-4" >
      <div class="m-portlet m-portlet--full-height m-portlet-profile m-portlet--full-height-settings">
        <div class="m-portlet__body">
          <div class="m-card-profile">
            <div class="m-card-profile__title m--hide">
              Your Profile
            </div>
            <div class="m-card-profile__pic">
              <div class="">
                <img src="{{profile.avtarURL}}" onError="this.src='././assets/images/avatar.jpg'" alt=""/>
                <!--<img src="{{profile.avtarURL}}" alt=""/>-->
              </div>
            </div>
            <div class="m-card-profile__details">
							<span class="m-card-profile__name m--font-transform-c">
								{{profile.name}}
							</span>
              <span class="m-nav__link-text m--font-transform-c designation_profile">
                {{role}}
              </span>
              <span class="m-nav__link-text m--font-transform-c designation_profile" *ngIf="role === 'school'">
                &nbsp;admin
              </span>
            </div>
          </div>
          <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
            <li class="m-nav__separator m-nav__separator--fit"></li>
            <li class="m-nav__section m--hide">
							<span class="m-nav__section-text">
								Section
							</span>
            </li>
            <li class="m-nav__item">
              <a data-toggle="tab" routerLink="/profile" role="tab" class="m-nav__link">
                <i class="m-nav__link-icon flaticon-profile-1"></i>
                <span class="m-nav__link-title">
									<span class="m-nav__link-wrap">
										<span class="m-nav__link-text">
											My Profile
										</span>
									</span>
								</span>
              </a>
            </li>
            <li class="m-nav__item">
              <a data-toggle="tab" routerLink="/inbox" routerLinkActive="router-link-active"  role="tab" class="m-nav__link">
                <i class="m-nav__link-icon flaticon-chat-1"></i>
                <span class="m-nav__link-text">
									Messages
								</span>
              </a>
            </li>
            <!-- <li class="m-nav__item">
              <a data-toggle="tab" href="#m_user_profile_tab_3" role="tab" class="m-nav__link">
                <i class="m-nav__link-icon flaticon-settings"></i>
                <span class="m-nav__link-text">
									Settings
								</span>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xl-9 col-lg-8">
      <div class="m-portlet m-portlet--full-height m-portlet--tabs m-portlet-profile m-portlet--full-height-settings">
          <div class="m-portlet__head m-portlet__head-settings">
              <div class="m-portlet__head-tools m-portlet__head-tools-settings">
        <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides settings-marginging">
          <li class="m-nav__separator m-nav__separator--fit"></li>
          <li class="m-nav__item" >
            <a data-toggle="tab" role="tab" class="m-nav__link" >
              <i class="m-nav__link-icon fa fa-bell-o"></i>
              <div class="m-nav__link-text setting-notification-label" >
									Notification Buzz
              </div>
              <div class="m-switch m-switch--outline m-switch--success">
                       <label>
                        <input type="checkbox" checked="checked" name="">
                        <span></span>
                      </label>
                    </div>
            </a>
          </li>
          <li class="m-nav__item" >
            <a data-toggle="tab" role="tab" class="m-nav__link" >
              <i class="m-nav__link-icon fa fa-question-circle-o"></i>
              <span class="m-nav__link-title">
									<span class="m-nav__link-wrap">
										<span class="m-nav__link-text">
											About and Help
										</span>
									</span>
								</span>
            </a>

          </li>
          <li class="m-nav__item">
            <a data-toggle="tab" role="tab" class="m-nav__link" >
              <i class="m-nav__link-icon fa fa-lock"></i>
              <span class="">
                  
                  <a href="#mymodal"  data-toggle="modal" data-target="#m_modal_5" class="m-nav__link-text">Change Password</a>
								</span>
            </a>
          </li>
          <li class="m-nav__item">
            <a data-toggle="tab" role="tab" class="m-nav__link" >
              <i class="m-nav__link-icon fa fa-info-circle"></i>
              <span class="">
                  
                  <a href="#mymodal"  data-toggle="modal" data-target="#m_modal_6" class="m-nav__link-text"> Report to Admin</a>
								</span>
              <!--<span class="m-nav__link-text">
									Report to Admin
								</span>-->
            </a>
          </li>


        </ul>
        </div>
          </div>

       <!-- <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line&#45;&#45;left m-tabs-line&#45;&#45;primary" role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                  <i class="flaticon-share m&#45;&#45;hide"></i>
                  My Profile
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                  Messages
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                  Settings
                </a>
              </li>
            </ul>
          </div>
          <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
              <li class="m-portlet__nav-item m-portlet__nav-item&#45;&#45;last">
                <div
                  class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;align-push"
                  data-dropdown-toggle="hover" aria-expanded="true">
                  <a href="#"
                     class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">
                    <i class="la la-gear"></i>
                  </a>
                  <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;right m-dropdown__arrow&#45;&#45;adjust"></span>
                    <div class="m-dropdown__inner">
                      <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                          <ul class="m-nav">
                            <li class="m-nav__section m-nav__section&#45;&#45;first">
															<span class="m-nav__section-text">
																Quick Actions
															</span>
                            </li>
                            <li class="m-nav__item">
                              <a href="" class="m-nav__link" onclick="editEnabled(true);">
                                <i class="m-nav__link-icon flaticon-edit"></i>
                                <span class="m-nav__link-text">
																	Edit
																</span>
                              </a>
                            </li>
                            <li class="m-nav__separator m-nav__separator&#45;&#45;fit m&#45;&#45;hide"></li>
                            <li class="m-nav__item m&#45;&#45;hide">
                              <a href="#" class="btn btn-outline-danger m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;wide btn-sm">
                                Submit
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="m_user_profile_tab_1">
            <form class="m-form m-form&#45;&#45;fit m-form&#45;&#45;label-align-right">
              <div class="m-portlet__body">
                <div class="form-group m-form__group m&#45;&#45;margin-top-10 m&#45;&#45;hide">
                  <div class="alert m-alert m-alert&#45;&#45;default" role="alert">
                    Default Alert.
                  </div>
                </div>
                &lt;!&ndash; Personal Details &ndash;&gt;
                <div class="form-group m-form__group row">
                  <div class="col-10">
                    <h3 class="m-form__section">
                      Personal Details
                    </h3>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="name-text-input" class="col-2 col-form-label">
                    Full Name
                  </label>
                  <div class="col-7">
                    <input id="name-text-input" class="form-control m-input" type="text" value="{{profile.name}}"
                           [disabled]="_editEnabled">
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="text-input-phone" class="col-2 col-form-label">
                    Phone No
                  </label>
                  <div class="col-7">
                    <input id="text-input-phone" class="form-control m-input" type="text" value="{{profile.phone}}"
                           [disabled]="_editEnabled">
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="text-input-email" class="col-2 col-form-label">
                    Email
                  </label>
                  <div class="col-7">
                    <input id="text-input-email" class="form-control m-input" type="text" value="{{profile.email}}"
                           [disabled]="_editEnabled">
                  </div>
                </div>
                <div class="m-form__seperator m-form__seperator&#45;&#45;dashed m-form__seperator&#45;&#45;space-2x"></div>
                &lt;!&ndash; Academic Details &ndash;&gt;
                <div class="form-group m-form__group row">
                  <div class="col-10">
                    <h3 class="m-form__section">
                      Academic
                    </h3>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="text-input-school" class="col-2 col-form-label">
                    School
                  </label>
                  <div class="col-7">
                    <input id="text-input-school1" class="form-control m-input" type="text" value="{{profile.school}}"
                           [disabled]=true>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="text-input-class" class="col-2 col-form-label" *ngIf="profile.isClassTeacher">
                    Class Teacher
                  </label>
                  <label for="text-input-class" class="col-2 col-form-label" *ngIf="role === 'student'">
                    Class
                  </label>
                  <div class="col-7">
                    <input id="text-input-class2" class="form-control m-input" type="text"
                           value="{{profile.std + ' ' + profile.div}}" [disabled]=true>
                  </div>
                </div>
                <div class="m-form__seperator m-form__seperator&#45;&#45;dashed m-form__seperator&#45;&#45;space-2x"></div>
                &lt;!&ndash; Lectures Details &ndash;&gt;
                <div class="form-group m-form__group row">
                  <div class="col-10">
                    <h3 class="m-form__section">
                      Academic
                    </h3>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="text-input-school" class="col-2 col-form-label">
                    School
                  </label>
                  <div class="col-7">
                    <input id="text-input-school" class="form-control m-input" type="text" value="{{profile.school}}"
                           [disabled]=true>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="text-input-class" class="col-2 col-form-label" *ngIf="profile.isClassTeacher">
                    Class Teacher
                  </label>
                  <label for="text-input-class" class="col-2 col-form-label" *ngIf="role === 'student'">
                    Class
                  </label>
                  <div class="col-7">
                    <input id="text-input-class" class="form-control m-input" type="text"
                           value="{{profile.std + ' ' + profile.div}}" [disabled]=true>
                  </div>
                </div>
                &lt;!&ndash; System Details &ndash;&gt;
                <div class="m-form__seperator m-form__seperator&#45;&#45;dashed m-form__seperator&#45;&#45;space-2x"></div>
                <div class="form-group m-form__group row">
                  <div class="col-10">
                    <h3 class="m-form__section">
                      System
                    </h3>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="text-input-uid" class="col-2 col-form-label">
                    Unique ID
                  </label>
                  <div class="col-7">
                    <input id="text-input-uid" class="form-control m-input" type="text" value="{{profile.uid}}"
                           [disabled]=true>
                  </div>
                </div>
                <div class="form-group m-form__group row" *ngIf="role=='student'">
                  <label for="text-input-parent" class="col-2 col-form-label">
                    Parent
                  </label>
                  <div class="col-7">
                    <input id="text-input-parent" class="form-control m-input" type="text" value="{{profile.father}}"
                           [disabled]=true>
                  </div>
                </div>

              </div>
              <div class="m-portlet__foot m-portlet__foot&#45;&#45;fit" *ngIf="_editEnabled">
                <div class="m-form__actions">
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col-7">
                      <button type="reset" class="btn btn-accent m-btn m-btn&#45;&#45;air m-btn&#45;&#45;custom">
                        Save changes
                      </button>
                      &nbsp;&nbsp;
                      <button type="reset" class="btn btn-secondary m-btn m-btn&#45;&#45;air m-btn&#45;&#45;custom">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane active" id="m_user_profile_tab_2"></div>
        </div>-->
      </div>
    </div>
  </div>
</div>

<!--<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
      aria-hidden="true">
      <div class="modal-dialog">
        Modal content
        <div class="modal-content">
          <div class="modal-header header-size-view">
            <h4 class="modal-heading">Change Password</h4>
            <a type="button" class="close" data-dismiss="modal">&times;</a>
          </div>
          <div class="modal-body">
            <div class="dropdown pull-right mb-2">
              <button class="btn btn-default dropdown-toggle drop-category" type="button" data-toggle="dropdown">Select
                Category
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Complain</a></li>
                <li><a href="#">Suggestion</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>
            <form>
              <div class="form-group">
                <input type="text" class="form-control text-box" placeholder="Enter Old Password">
              </div>
              <div class="form-group">
                
              </div>
              <a href="#" class="submit-btn font-weight-bold pull-right">SUBMIT</a>
            </form>
          </div>
        </div>
      </div>
    </div>--> 
    <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
                   aria-hidden="true">
                <div class="modal-dialog modal-dialog-setting modal-sm" role="document">
                    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title modal-title-settings" id="exampleModalLabel5">
                          Change Password
                        </h5>
                        <a type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                              &times;
                            </span>
                          </a>
                        
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                          
                          <input type="text" class="form-control text-box" placeholder="Enter Old Password"
                                 formControlName="currentPassword">
                                 <span *ngIf="passwordForm.get('currentPassword').errors && (passwordForm.get('currentPassword').touched || passwordForm.get('currentPassword').dirty)" class="help-block">
                                    <span *ngIf="passwordForm.get('currentPassword').errors.required" class="error-message">
                                      Please fill Old Password!
                                    </span>
                                </span>
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control text-box" placeholder="Enter New Password" formControlName="newPassword">
                          <!--id="recipient-name"-->
                          <span *ngIf="passwordForm.get('newPassword').errors && (passwordForm.get('newPassword').touched || passwordForm.get('newPassword').dirty)" class="help-block">
                              <span *ngIf="passwordForm.get('newPassword').errors.required" class="error-message">
                                Please fill New Password!
                              </span>
                              
                          </span>
                          <span *ngIf="passwordForm.get('newPassword').errors && (passwordForm.get('newPassword').touched || passwordForm.get('newPassword').dirty)" class="help-block">
                              <span *ngIf="passwordForm.get('newPassword').errors.pattern" class="error-message">
                                Password not valid!
                              </span>
                              
                          </span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control text-box" placeholder="Confirm Password" formControlName="confirmPassword">
                            <!--id="recipient-name"-->
                            <span *ngIf="passwordForm.get('confirmPassword').errors && (passwordForm.get('confirmPassword').touched || passwordForm.get('confirmPassword').dirty)" class="help-block">
                                <span *ngIf="passwordForm.get('confirmPassword').errors.required" class="error-message">
                                  Please confirm Password!
                                </span>
                                
                                <span *ngIf="passwordForm.get('confirmPassword').errors.mustMatch" class="error-message">
                                    Passwords didn't match!
                                  </span>
                            </span>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-close text-center btn-block" data-dismiss="modal">
                          Close
                        </button>
                        <button type="submit" class="btn btn-submit btn-block" [disabled]="!passwordForm.valid">
                          Confirm
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <!---------------------------------- message popup -------------------------------------------->
              <div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
                   aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-setting" role="document">
                  <form [formGroup]="adminReportForm" (ngSubmit)="onSubmit()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title modal-title-settings" id="exampleModalLabel5">
                          Message
                        </h5>
                        <a type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                              &times;
                            </span>
                          </a>
                        
                      </div>
                      <div class="modal-body">
                          <span class="m-dropdown__label-title-setting">Select Category: </span>
                          <select class="search_categories mt-2 mb-2 text-box" formControlName="categoryList" ng-model="models" required> 
                              
                              <option>Select Category</option>
                              <!--<option>{{category ? category : ' select category '}}</option>-->
      
                              <option *ngFor="let c of category_list" ><div on-click="setCategory(c)">{{c}}</div></option>
                            </select>
                            <span *ngIf="adminReportForm.get('categoryList').errors && (adminReportForm.get('categoryList').touched || adminReportForm.get('categoryList').dirty)" class="help-block">
                                <span *ngIf="adminReportForm.get('categoryList').errors.required" class="error-message">
                                  Please select category!
                                </span>
                                
                            </span>
                          <!--<div class="form-group">
                              <select class="search_categories mt-2 text-box" formControlName="std" ng-model="models" required> 
                                  <option>Select Category</option>
                                  <option>Complain</option>
                                  <option>Suggestion</option>
                                  <option>Praise</option>
                                  <option>Feedback</option>
                                </select>
                            </div>-->
                        <div class="form-group">
                          
                          <input type="text" class="form-control text-box" placeholder="Subject"
                                 formControlName="subject">
                                 <span *ngIf="adminReportForm.get('subject').errors && (adminReportForm.get('subject').touched || adminReportForm.get('subject').dirty)" class="help-block">
                                    <span *ngIf="adminReportForm.get('subject').errors.required" class="error-message">
                                      Please fill subject!
                                    </span>                                   
                                </span>
                        </div>
                        <div class="form-group">
                            <textarea class="search_categories" style="margin-top: 10px" id="message-text"
                            placeholder="Write your message here.." formControlName="message" required></textarea>
                            <!--<textarea class="form-control" id="message-text" formControlName="message"></textarea>-->
                            <span *ngIf="adminReportForm.get('message').errors && (adminReportForm.get('message').touched || adminReportForm.get('message').dirty)" class="help-block">
                                <span *ngIf="adminReportForm.get('message').errors.required" class="error-message">
                                  Please fill message!
                                </span>
                                
                            </span>
                          </div>
                        
                      </div>
                      <div class="modal-footer">
                        <!--<button type="button" class="btn btn-close text-center btn-block" data-dismiss="modal">
                          Close
                        </button>-->
                        <button type="submit" class="btn-sm-custom btn-submit btn-block" [disabled]="!adminReportForm.valid">
                          Submit
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              
