.modal-title-settings{
    color: #ff9100 !important;
    font-size: 24px !important;
}
.modal .modal-content .modal-header .modal-title-settings {
    font-weight: 500;
}

.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 30px;
  font-weight: 500;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #3f4047;
}

.btn-close{
    color:#000;
    background-color: #fff;
    border: 1px solid #f0f1f6;
    border-radius: 25px;
  }
  .btn-close:hover{
    color:#000;
    background-color: #f0f1f6;
   
    border-radius: 25px;
  }
  
  .btn-submit{
    color:#fff;
    border: 2px solid #FF9100;
    background-color: #FF9100;
    border-radius: 25px;
  }

  .btn-sm-custom {
    text-align: center;
    padding: 10px;
    margin-right: 2rem;
    background-color: #FF9100;
    border-radius: 0px;
    width: 100px;
    border: none;
  }
  
  .text-box:focus{
    border:2px solid #FF9100 !important;
    border-left: transparent !important;
    border-top: transparent !important;
    border-right: transparent !important;
    font-size: 14px !important;
    color: #000000 !important;
    
  }
  .text-box{
    border:2px solid #ebedf2 !important;
    border-left: transparent !important;
    border-top: transparent !important;
    border-right: transparent !important;
    font-size: 14px !important;
    color: #000000 !important;
    
  }
  .m-card-profile .m-card-profile__details .m-card-profile__name {
    display: block;
    padding: 0 0 0 0;
    font-size: 18px;
    font-weight: 600;
}
.designation_profile {
    font-size: 12px !important;
}
.m-portlet-profile {
    border-radius: 10px !important;
}
.m-switch.m-switch--outline.m-switch--success input:checked ~ span:after {
    background-color: #ff9100 !important;
    opacity: 1;
    filter: alpha(opacity=100);
}
.setting-notification-label{
    width: 85% !important;
}
.settings-marginging{
    margin-left: 5% !important; 
    margin-right: 10% !important;

}
.error-message{
    color: red;
    font-size: 11px;
    font-weight: 500;
  }
  .modal.show .modal-dialog-setting {
    transform: translate(0, 0);
    max-width: 500px;
}
.m-dropdown__label-title-setting{
  font-weight: 600;
}
.m-portlet .m-portlet__head .m-portlet__head-tools-settings {
  text-align: left !important; 
  display: table-cell;
  vertical-align: middle;
}
.m-portlet .m-portlet__head-settings {
  border-bottom: 1px solid transparent !important; 
}
.m-subheader-settings {
  padding: 30px 44px 0 44px !important;
}
.m-content-settings{
  padding: 30px 44px !important;
}
@media (min-width: 993px){
.m-portlet.m-portlet--full-height-settings {
    height: calc(100% - 2.2rem);
    padding-left: 0px !important;
}
}

/*.......................................media query code .............................................*/



@media(min-width:992px)
{
  

}
@media(min-width:768px) and (max-width:991px){
  
}
@media(min-width:575px) and (max-width:767px){
  
  
}
@media(min-width:480px) and (max-width:574px){
 
  
}
@media(max-width:479px){
  .m-subheader-settings {
    padding: 30px 16px 0 16px !important;
  }
  .m-content-settings{
    padding: 30px 16px !important;
  }
  
  
}



