<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Lineawesome Icons
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Buttons
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Button Icon
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Lineawesome Icons
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-md-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Basic Examples
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Solid style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-primary m-btn m-btn--icon">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--icon">
										<span>
											<i class="la la-archive"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success m-btn m-btn--icon">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon">
										<span>
											<i class="la la-diamond"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Solid style wide buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="la la-heartbeat"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="la la-archive"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="la la-folder"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="la la-map-marker"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="la la-microphone"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="la la-history"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="la la-power-off"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="la la-sort"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="la la-tint"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Icon only without label
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-tint"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Outline Style Buttons
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Outline style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon">
										<span>
											<i class="la la-diamond"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline 2x style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-diamond"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Icon only without label
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only">
										<i class="la la-tint"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="la la-tint"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Pill Style Buttons
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Solid & pill style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-archive"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-diamond"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline & pill style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-diamond"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline 2x & pill style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="la la-diamond"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Icon only without label
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-tint"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="la la-tint"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="la la-tint"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->				<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Air Style Buttons
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Solid, pill & air style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-archive"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-diamond"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline, pill & air style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-diamond"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline 2x, pill & air style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-diamond"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Icon only without label1
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-tint"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-tint"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-tint"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-md-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Metronic Custom Buttons
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Solid style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="la la-archive"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="la la-diamond"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Solid, pill & air style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-archive"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-diamond"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline, pill & air style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-diamond"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline 2x, pill & air style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-diamond"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="la la-file-excel-o"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Icon only without label
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-tint"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-tint"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="la la-tint"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--custom  m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="la la-tint"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Button Sizing
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Small size buttons:
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-primary btn-sm m-btn  m-btn m-btn--icon">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary btn-sm m-btn 	m-btn m-btn--icon">
										<span>
											<i class="la la-archive"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success btn-sm m-btn 	m-btn m-btn--icon">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn btn-sm 	m-btn m-btn--icon">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn btn-sm 	m-btn m-btn--icon">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn btn-sm 	m-btn m-btn--icon">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-primary btn-sm 	m-btn m-btn--icon">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent btn-sm 	m-btn m-btn--icon">
										<span>
											<i class="la la-archive"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success btn-sm 	m-btn m-btn--icon">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning 	btn-sm 	m-btn m-btn--icon">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn btn-sm  m-btn--icon">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn btn-sm m-btn--icon">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-primary btn-sm 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent btn-sm 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-archive"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success btn-sm 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning 	btn-sm 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn btn-sm  m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn btn-sm m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-primary btn-sm m-btn  m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary btn-sm m-btn 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-archive"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success btn-sm m-btn 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn btn-sm 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn btn-sm 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn btn-sm 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-primary btn-sm 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent btn-sm 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-archive"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success btn-sm 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning 	btn-sm 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn btn-sm  m-btn--icon m-btn--pill">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn btn-sm m-btn--icon m-btn--pill">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-success m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="la la-tint"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-success m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill">
										<i class="la la-tint"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-tint"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-success m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-tint"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->				<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Large size buttons:
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-primary btn-lg m-btn  m-btn m-btn--icon">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary btn-lg m-btn 	m-btn m-btn--icon">
										<span>
											<i class="la la-archive"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success btn-lg m-btn 	m-btn m-btn--icon">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn btn-lg 	m-btn m-btn--icon">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn btn-lg 	m-btn m-btn--icon">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn btn-lg 	m-btn m-btn--icon">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-primary btn-lg 	m-btn m-btn--icon">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent btn-lg 	m-btn m-btn--icon">
										<span>
											<i class="la la-archive"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success btn-lg 	m-btn m-btn--icon">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning 	btn-lg 	m-btn m-btn--icon">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn btn-lg  m-btn--icon">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn btn-lg m-btn--icon">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-primary btn-lg 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent btn-lg 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-archive"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success btn-lg 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning 	btn-lg 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn btn-lg  m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn btn-lg m-btn--icon m-btn--outline-2x">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-primary btn-lg m-btn  m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary btn-lg m-btn 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-archive"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success btn-lg m-btn 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn btn-lg 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn btn-lg 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn btn-lg 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-primary btn-lg 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-archive"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent btn-lg 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-archive"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success btn-lg 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-calendar-check-o"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning 	btn-lg 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="la la-cloud-download"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn btn-lg  m-btn--icon m-btn--pill">
										<span>
											<i class="la la-warning"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn btn-lg m-btn--icon m-btn--pill">
										<span>
											<i class="la la-envelope-o"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-success m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="la la-tint"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-success m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill">
										<i class="la la-tint"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-tint"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-success m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-heartbeat"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-archive"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="la la-folder"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="la la-map-marker"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="la la-microphone"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="la la-history"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="la la-power-off"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="la la-sort"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-tint"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>
