/* Popup Model Close Button style set  */
.modal_style {
  width: 10% !important;
  margin-left: 0% !important;
  margin-top: 1% !important;
}

.m-portlet.m-portlet--full-height-payment {
  height: calc(100% - 2.2rem);
  padding-left: 0px;
}
