<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title">
        Fee Types
        </h3>
      </div>
    </div>
  </div> -->
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet--full-height">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Fee Types
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <a class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="margin-top: 1%"
              href="#" ng-reflect-href="#">
              <span aria-hidden="true" data-toggle="modal" data-target="#m_modal_5">
                <i class="la la-plus"></i>
                <span>
                  Add
                </span>
              </span>
            </a>
          </div>
        </div>
        <!-- New Fee Type add Popup Modul -->
        <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
          aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <form [formGroup]="feeTypeForm" (ngSubmit)="onSubmit()">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel5">
                    New Fee Type
                  </h5>
                  <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                      &times;
                    </span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label>Fee Type</label>
                    <input type="text" class="form-control" placeholder="Enter Fee Type" formControlName="type" >
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"  data-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- view Fee type List -->
        <div class="m-portlet__body">
          <div class="tab-content">
            <div class="tab-pane active" id="m_widget4_tab1_content">
              <div class="m-widget4" *ngIf="type_list">
                <div class="m-widget4__item" *ngFor="let typelist of type_list">
                  <div class="m-widget4__info">
                    <span class="m-widget4__title">
                      {{typelist.type}}
                    </span>
                  </div>
                  <div class="m-widget4__ext" >
                      
                       <a on-click="getFeesType(typelist)" >     <i class="fa fa-edit" style="font-size:30px"></i></a>
                                            
                       <a on-click="deleteFeeType(typelist.uidFeeType)" >     <i class="fa fa-trash" style="font-size:30px;color:red"></i></a>
                        
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </div>
        <!-- Update Fee Type add Popup Modul -->
        <div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
          aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <form [formGroup]="feeTypeForm" (ngSubmit)="updateFeeType(uidFeeType)">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel5">
                    Update Fee Type
                  </h5>
                  <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                      &times;
                    </span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label>Fee Type</label>
                    <input type="text" class="form-control" placeholder="Enter Fee Type" formControlName="type" value="{{type}}" >
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"  data-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
