/** List change Backgound color of Button */
.student-bg-color {
  background-color: #d5dbf9;
}

.teacher-bg-color {
  background-color: #d5dbf9;
}

.teacher-btn-color {
  background-color: #ffc107 !important;
}

.m-subheader-classes {
  padding: 30px 30px 0 42px !important;
}

.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 30px;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #000;
}

.totalClass-div .text-center{
  margin-top: 2px;
  font-size: 15px;
  font-weight: 600;
}

.abc-img{
  height: 30px;
}

.classes-class-div span{
  font-size: 12px;
  font-weight: 500;
}

.sub-heading {
  color: #FF9100;
  font-size: 14px;
  font-weight: 600;
  font-family: Segoe UI;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/** Teacher Popup size */
.head-title {
  padding: 15px !important;
}

.modal_style {
  width: 10% !important;
  margin-left: 0% !important;
  margin-top: 1% !important;
}

.m-card-profile__pic-wrapper {
  margin: 0px auto !important;
}

.mygroup_style {
  margin-top: 0px !important;
}

.m-portlet .m-portlet__head {
  border: none !important;
}

/** Accordion button border set */
.nav-border {
  border: 1px solid #ebedf2;
  border-radius: 45px;
  padding: 3px;
}

.subheading {
  color: #FF9100;
  font-weight: 500;
  font-size: 15px;
}

.classes-white-box {
  padding: 3% 5% 8% 5%;
  border-radius: 10px;
}

.rectangle-box {
  margin-top: 20px;
  border-radius: 15px;

}

.classes-grey-button {
  border: 2px solid #6B6B73;
  background-color: #6B6B73;
  color: #fff;
  border-radius: 11px;

  width: 60%;
  float: right;
}

.class-strength {
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.3;
  padding: 12px;
  color: #fff;
  font-weight: bolder;
  height: 60px;
  width: 60px;
  float: right;
  margin-right: 15%;

}

li a {
  float: left;
}

.green-box {
  border: 2px solid #53D476;
  background-color: #53D476;
  border-radius: 10px;
  padding: 16px 27px;
  color: #fff;

}

.img-height {
  height: 75px !important;
}

.names {
  font-size: 12px !important;
  color: #000;
  margin-left: 18px;
}

.m-portlets {
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  background-color: #ffffff;
}

.class-name {
  float: left;
  margin-top: 15%;
  margin-left: 15%;
  font-size: 15px;
  font-weight: 500;
}

a:hover {
  text-decoration: none;
}

.classes-totalclass {
  margin-left: 20%;

}

.strength {
  float: right;
}

.img-profile {
  margin-right: 20px;
}

* {
  font-family: Segoe UI;
}

.classes-grey-img {
  float: left;
}

.classes-length {
  float: right;
  margin-right: 10%;
}

.teacher-list-icon {
  float: right !important;
}

.background {

  background-color: transparent !important;
  box-shadow: none;
  padding-left: 0px !important;

}

.background2 {
  padding: 0px 0px !important;

}

.heading-margins {
  padding: 9px 25px !important;
}

.body-margins {
  padding: 9px 0px 9px 25px !important;
}

.classes-class-div {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: text-bottom;
  padding: 13px 19px;
}

.class-div img {
  vertical-align: middle;
}

.totalClass-div {
  box-sizing: border-box;
  display: inline-block;
  padding: 0px 18px;
  float: right;

}

.totalClass-div span {
  font-size: 10px;
}

.classname-section {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;

}

.classname-section p {
  font-size: 15px;
  font-weight: 600;
  margin: 14px 10px 10px 10px;
  font-family: Segoe UI;
  letter-spacing: 0.5px;
}

.circle-section {
  box-sizing: border-box;
  display: inline-block;
  float: right;
  width: 50%;
}

/*............................................ media Query Code ..............................................*/

@media(min-width:992px) and (max-width:1024px) {

  .class-strength {
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.3;
    padding: 7px;
    color: #fff;
    font-weight: bolder;
    height: 50px;
    width: 50px;
    float: right;
    margin-right: 15%;
  }

  .classes-class-div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: text-bottom;
    padding: 21px 7px;
  }

  .classname-section p {
    font-size: 15px;
    font-weight: 500;
  }

  .classes-white-box {
    padding: 2% 5% 4% 5%;
    border-radius: 10px;
  }

  .class-name {
    float: left;
    margin-top: 5%;
    margin-left: 5%;
  }

  .grey-button {
    border: 2px solid #6B6B73;
    background-color: #6B6B73;
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 50px;
  }

  .totalclass {
    margin-left: 34%;

  }

  .white-box {
    margin-bottom: 12px;
  }

  .names {
    font-size: 12px !important;
    color: #000;
    margin-left: -11px;
    margin-top: -40px;
  }

  .img-profile {
    margin-top: 20px;
  }

}

@media(min-width:768px) and (max-width:991px) {
  .classname-section p {
    font-size: 15px;
    font-weight: 500;
  }

  .classes-white-box {
    padding: 2% 5% 4% 5%;
    border-radius: 10px;
  }

  .class-name {
    float: left;
    margin-top: 5%;
    margin-left: 5%;
  }

  .grey-button {
    border: 2px solid #6B6B73;
    background-color: #6B6B73;
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 50px;
  }

  .totalclass {
    margin-left: 34%;

  }

  .white-box {
    margin-bottom: 12px;
  }

  .names {
    font-size: 12px !important;
    color: #000;
    margin-left: -11px;
    margin-top: -40px;
  }

  .img-profile {
    margin-top: 20px;
  }


}

@media(min-width:575px) and (max-width:767px) {
  .class-name {
    float: left;
    margin-top: 5%;
    margin-left: 5%;
  }

  .grey-button {
    border: 2px solid #6B6B73;
    background-color: #6B6B73;
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 50px;
  }

  .totalclass {
    margin-left: 27%;

  }

  .names {
    font-size: 12px !important;
    color: #000;
    margin-left: -11px;
    margin-top: -40px;
  }





}

@media(min-width:480px) and (max-width:574px) {}

@media(max-width:479px) {
  .classes-white-box {
    padding: 3% 5% 8% 5%;
    border-radius: 10px;
  }

  .class-div {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: text-bottom;
    padding: 13px 19px;
  }

  .class-div img {
    vertical-align: middle;
  }

  .totalClass-div {
    box-sizing: border-box;
    display: inline-block;
    padding: 0px 18px;
    float: right;

  }

  .totalClass-div span {
    font-size: 10px;
  }

  .classname-section p {
    font-size: 15px;
    font-weight: 500;
  }

  .classes-grey-button {
    border: 2px solid #6B6B73;
    background-color: #6B6B73;
    color: #fff;
    border-radius: 11px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 6px;
  }

  .heading {
    text-align: center;
  }

  .white-box {
    margin-bottom: 15px;
    background-color: #fff;

    border-radius: 10px;
  }

  .class-name {
    margin-left: 47%;
  }

  .class-strength {
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.5;
    padding: 12px;
    height: 60px;
    width: 60px;

    margin-right: 38%;

  }

  .classname {
    float: left;

  }

  .strength {
    float: right;

  }

  .names {
    font-size: 12px !important;
    color: #000;
    margin-left: 100px;
    margin-top: -18px;
  }

  .nav.nav-pills.nav-pills--brand-custom .nav-link.active {
    background: #f2f3f8;
    color: #3f4047;
    border-radius: 0px;
    border-bottom: #e58416 2px solid;
  }
}

.nav.nav-pills.nav-pills--brand-custom .nav-link.active {
  background: #f2f3f8;
  color: #3f4047;
  border-radius: 0px;
  border-bottom: 2px solid #FF9100 !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}

.m-tabs-line a.m-tabs__link {
  font-size: 12px !important;
  font-weight: 400 !important;
  padding: 9px 25px;

}

.m-tabs-line a.m-tabs__link:hover {
  font-size: 12px !important;
  font-weight: 400 !important;
  padding: 9px 25px;
  border-bottom: 2px solid #FF9100 !important;

}

.m-tabs-line a.m-tabs__link.active {
  font-size: 12px !important;
  font-weight: 400 !important;
  padding: 9px 25px;
  border-bottom: 2px solid #FF9100 !important;

}

.list-icon {
  font-size: 10px;
  color: #C8C8C8;
}

.class-details{
  font-weight: 700;
}