<div class="m-subheader m-subheader-classes" *ngIf="!studentListView">
  <div class="row mt-3">
    <div class="col-lg-6 col-md-6">

      <h3 class="m-subheader__title">
        Classes
      </h3>
      <p class="sub-heading">Admin and Members</p>

    </div>
    <div class="col-lg-6 col-md-6">
      <div class="classes-grey-button">
        <!--<div class="row">

          <div class="col-lg-12 mt-3 col-md-12">
            <img src="././assets/images/Component36 – 4.png" class="classes-grey-img">
            <span class="text-white heading pull-left">Classes</span>

            <span class="text-white pull-right classes-totalclass">Total Classes</span><br>
            <span class="text-white pull-right classes-length">{{class_data.length}}</span>
          </div>

        </div>-->
        <div class="classes-class-div">
          <img src="././assets/images/Component36 – 4.png" class="abc-img">
          <span>Classes</span>
        </div>
        <div class="totalClass-div">
          <span>Total Classes</span>
          <h5 class="text-center">{{ class_data.length }}</h5>

        </div>
      </div>
    </div>
  </div>

  <!-- <div class="m-dropdown__wrapper">
            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
            <div class="m-dropdown__inner">
              <div class="m-dropdown__body">
                <div class="m-dropdown__content">
                  <ul class="m-nav">
                    <li class="m-nav__section m-nav__section--first m--hide">
                      <span class="m-nav__section-text">
                        Quick Actions
                      </span>
                    </li>
                    <li class="m-nav__item">
                      <a href="" class="m-nav__link">
                        <i class="m-nav__link-icon flaticon-share"></i>
                        <span class="m-nav__link-text">
                          Activity
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> -->


  <div class="row mt-5">
    <div class="col-lg-4 col-md-6" *ngFor="let class of  class_data let i=index;">
      <div class="classes-white-box mb-3" [style.background]="colors[i % 10]">
        <a routerLink="/classes/{{class.std_div}}">
          <!--<div class="row">
            <div class="col-lg-6 col-md-6">
              <p class="class-name text-white">
                Class {{class.std_div}}
              </p>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="class-strength text-white text-center">
                {{class.student}}
              </div>
            </div>
          </div>-->
          <div class="classname-section">
            <p class=" text-white">
              Class {{class.std_div}}
            </p>
          </div>
          <div class="circle-section">
            <div class="class-strength text-white text-center">
              {{class.student}}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
<div class="m-subheader" *ngIf="studentListView">
  <div appunwraptag="">
    <div class="row">
      <div class="col-lg-6">
        <a routerLink="/classes">
          <h3 class="m-subheader__title">
            <img src="././assets/images/keyboard_backspace-24px.png"> Classes
          </h3>
        </a>
        <p class="sub-heading ml-4">Admin and Memebers</p>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="classes-grey-button">
          <!--<div class="row">

            <div class="col-lg-12 mt-3 col-md-12">
              <img src="././assets/images/Component36 – 4.png" class="grey-img">
              <span class="text-white heading pull-left">Classes</span>

              <span class="text-white pull-right totalclass">Total Classes</span><br>
              <span class="text-white pull-right length">{{class_data.length}}</span>
            </div>

          </div>-->
          <div class="classes-class-div">
            <img src="././assets/images/Component36 – 4.png" class="abc-img">
            <span>Classes</span>
          </div>
          <div class="totalClass-div">
            <span>Total Classes</span>
            <h5 class="text-center">{{ class_data.length }}</h5>

          </div>
        </div>
        <!--<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
        data-dropdown-toggle="hover" aria-expanded="true">
        <div class="grey-button"> 
            <div class="row">
                     
              <div class="col-lg-6 mt-3">
              <img src="././assets/images/Component36 – 4.png">
              <span class="text-white">Classes</span>
  
            </div>
            <div class="col-lg-6">
              <span class="text-white text-center">Total Classes</span>
              <p class="text-white text-center">{{class_data.length}}</p>
            </div>
        
          </div>
            </div>      
      </div>-->
      </div>
    </div>
  </div>

  <div class="m-content background2">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <!--[ngClass]="addCssClass(applyhalfview , applyfullview)"-->
          <div class="m-portlet m-portlet--full-height background">


            <div class="m-portlet__head heading-margins">
              <div class="m-portlet__head-tools">
                <!--<a class="nav-link m-tabs__link pull-right list-icon" data-toggle="tab" href="#teacher-list" role="tab">-->
                  <!--img src="././assets/images/Path.png" class="teacher-list-icon pull-right" height="20px" width="20px">
                  <i class="fa fa-list"></i>
                </a>-->
                <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_inbox_tab_assistant"
                      role="tab">
                      <i class="flaticon-share m--hide"></i>
                      Student
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_inbox_tab_driver" role="tab">
                      Teacher
                    </a>
                  </li>

                </ul>
              </div>
            </div>

            <div class="m-portlet__body body-margins">
              <div class="tab-content">

                <div class="tab-pane active" id="m_user_inbox_tab_assistant">
                  <!--begin::Widget 14-->

                  <div class="m-content-att">
                    <div class="content">
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <div class="green-box">

                            <div class="row">


                              <div class="col-lg-12 col-md-10">
                                <span class="text-white h5 classname class-details">{{class1}}</span>

                                <span class="text-white h5 pull-right strength class-details">{{ student_data.length }}</span>
                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12">
                          <div class="">
                            <div class="m-portlet__body background2 mt-3">
                              <div class="row">
                                <div class="col-xl-1 img-profile" *ngFor="let student of student_data; let i = index">

                                  <img src="{{student.avtarURL}}" onError="this.src='././assets/images/avatar.jpg'"
                                    class="m--img-rounded m--marginless m--img-centered img-height" alt="" />
                                  <div class="round">
                                    <p class="text-center names"> {{student.name}} </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>



                  <!--end::Widget 14-->
                </div>

                <div class="tab-pane" id="m_user_inbox_tab_driver">
                  <div class="m-content-att">
                    <div class="content">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="green-box">
                            <div class="">

                              <div class="row">


                                <div class="col-lg-12 col-md-10">
                                  <span class="text-white h5 classname class-details">{{class1}}</span>

                                  <span class="text-white h5 pull-right strength class-details">{{ teacher_data.length }}</span>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12">
                          <div class="">
                            <div class="m-portlet__body background2 mt-3">
                              <div class="row">
                                <div class="col-xl-1 img-profile" *ngFor="let teacher of teacher_data; let i = index">

                                  <img src="{{teacher.avtarURL}}" onError="this.src='././assets/images/avatar.jpg'"
                                    class="m--img-rounded m--marginless m--img-centered img-height" alt="" />
                                  <div class="round">
                                    <p class="text-center names"> {{teacher.name}} </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="tab-pane" id="teacher-list">
                  <div class="m-content-att">
                    <div class="content">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="green-box">
                            <div class="row">


                              <div class="col-lg-12 col-md-10">
                                <span class="text-white h5 classname class-details">{{class1}}</span>

                                <span class="text-white h5 pull-right strength class-details">{{ student_data.length }}</span>
                              </div>
                            </div>
                          </div>




                        </div>
                      </div>

                    </div>
                  </div>

                </div>




              </div>
            </div>
          </div>
        </div>




      </div>


    </div>
  </div>

</div>
