<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Accordions
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Base
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Accordions
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Default Accordions
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-accordion m-accordion--default" id="m_accordion_1" role="tablist">
						<!--begin::Item-->
						<div class="m-accordion__item">
							<div class="m-accordion__item-head collapsed"  role="tab" id="m_accordion_1_item_1_head" data-toggle="collapse" href="#m_accordion_1_item_1_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa flaticon-user-ok"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_1_item_1_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->                     <!--begin::Item-->
						<div class="m-accordion__item">
							<div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_2_head" data-toggle="collapse" href="#m_accordion_1_item_2_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa  flaticon-placeholder"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_1_item_2_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->                     <!--begin::Item-->
						<div class="m-accordion__item">
							<div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_3_head" data-toggle="collapse" href="#m_accordion_1_item_3_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa  flaticon-alert-2"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_1_item_3_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-lg-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Bordered Accordions
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-accordion m-accordion--bordered" id="m_accordion_2" role="tablist">
						<!--begin::Item-->
						<div class="m-accordion__item">
							<div class="m-accordion__item-head collapsed"  role="tab" id="m_accordion_2_item_1_head" data-toggle="collapse" href="#m_accordion_2_item_1_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa flaticon-user-ok"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_2_item_1_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->                     <!--begin::Item-->
						<div class="m-accordion__item">
							<div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_2_item_2_head" data-toggle="collapse" href="#m_accordion_2_item_2_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa  flaticon-placeholder"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_2_item_2_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->                     <!--begin::Item-->
						<div class="m-accordion__item">
							<div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_2_item_3_head" data-toggle="collapse" href="#m_accordion_2_item_3_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa  flaticon-alert-2"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_2_item_3_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Default Solid Background Accordions
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-accordion m-accordion--default m-accordion--solid" id="m_accordion_5" role="tablist">
						<!--begin::Item-->
						<div class="m-accordion__item">
							<div class="m-accordion__item-head collapsed"  role="tab" id="m_accordion_5_item_1_head" data-toggle="collapse" href="#m_accordion_5_item_1_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa flaticon-user-ok"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_5_item_1_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->                     <!--begin::Item-->
						<div class="m-accordion__item">
							<div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_5_item_2_head" data-toggle="collapse" href="#m_accordion_5_item_2_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa  flaticon-placeholder"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_5_item_2_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->                     <!--begin::Item-->
						<div class="m-accordion__item">
							<div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_5_item_3_head" data-toggle="collapse" href="#m_accordion_5_item_3_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa  flaticon-alert-2"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_5_item_3_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-lg-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Bordered & Solid Background Accordions
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-accordion m-accordion--bordered m-accordion--solid" id="m_accordion_6" role="tablist">
						<!--begin::Item-->
						<div class="m-accordion__item">
							<div class="m-accordion__item-head collapsed"  role="tab" id="m_accordion_6_item_1_head" data-toggle="collapse" href="#m_accordion_6_item_1_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa flaticon-user-ok"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_6_item_1_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->                     <!--begin::Item-->
						<div class="m-accordion__item">
							<div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_6_item_2_head" data-toggle="collapse" href="#m_accordion_6_item_2_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa  flaticon-placeholder"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_6_item_2_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->                     <!--begin::Item-->
						<div class="m-accordion__item">
							<div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_6_item_3_head" data-toggle="collapse" href="#m_accordion_6_item_3_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa  flaticon-alert-2"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_6_item_3_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Default State Accordion Examples
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-accordion m-accordion--default" id="m_accordion_7" role="tablist">
						<!--begin::Item-->
						<div class="m-accordion__item m-accordion__item--danger">
							<div class="m-accordion__item-head collapsed" srole="tab" id="m_accordion_7_item_1_head" data-toggle="collapse" href="#m_accordion_7_item_1_body" aria-expanded="  false">
								<span class="m-accordion__item-icon">
									<i class="fa flaticon-user-ok"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_7_item_1_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->                     <!--begin::Item-->
						<div class="m-accordion__item m-accordion__item--info">
							<div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_7_item_2_head" data-toggle="collapse" href="#m_accordion_7_item_2_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa  flaticon-placeholder"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_7_item_2_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->                     <!--begin::Item-->
						<div class="m-accordion__item m-accordion__item--brand">
							<div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_7_item_3_head" data-toggle="collapse" href="#m_accordion_7_item_3_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa  flaticon-alert-2"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_7_item_3_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-lg-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Bordered State Accordion Examples
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-accordion m-accordion--bordered" id="m_accordion_8" role="tablist">
						<!--begin::Item-->
						<div class="m-accordion__item m-accordion__item--focus">
							<div class="m-accordion__item-head collapsed"  role="tab" id="m_accordion_8_item_1_head" data-toggle="collapse" href="#m_accordion_8_item_1_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa flaticon-user-ok"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_8_item_1_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->                     <!--begin::Item-->
						<div class="m-accordion__item m-accordion__item--success">
							<div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_8_item_2_head" data-toggle="collapse" href="#m_accordion_8_item_2_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa  flaticon-placeholder"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_8_item_2_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->                     <!--begin::Item-->
						<div class="m-accordion__item m-accordion__item--primary">
							<div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_8_item_3_head" data-toggle="collapse" href="#m_accordion_8_item_3_body" aria-expanded="    false">
								<span class="m-accordion__item-icon">
									<i class="fa  flaticon-alert-2"></i>
								</span>
								<span class="m-accordion__item-title">
									Collapsible
								</span>
								<span class="m-accordion__item-mode">
									<i class="la la-plus"></i>
								</span>
							</div>
							<div class="m-accordion__item-body collapse" id="m_accordion_8_item_3_body">
								<span>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								</span>
							</div>
						</div>
						<!--end::Item-->
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>
