<div class="m-subheader m-subheader-discuss" appunwraptag="">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="m-subheader__title">Discuss</h1>
      <p class="sub-heading">Lets Discuss</p>
    </div>
  </div>
</div>

<div class="m-content list-box mt-3 ml-3">
  <div class="row">
    <div class="col-lg-4 discuss-class-section col-md-4">

      <div *ngFor="let mg of myGroup; let i=index;">


        <a class="class-link active" on-click="newId(mg.conversation)" routerLinkActive="active">


          <div class="class-box">
            <span class=" discuss-class-name ">{{mg.title.split("-")[1]}}</span>
            <span class=" discuss-class-name pull-right">{{mg.title.split("-")[0]}}</span>
          </div>
        </a>



      </div>



    </div>
    <div class="col-lg-8 col-md-8">
      <div class="chatBox">
        <div>

          <div class="row">
            <div class="col-xl-12">
              <!--begin:: Widgets/New Users-->




              <div class="tab-content" id="tab_chatBox">
                <div class="tab-pane active m-scrollable" role="tabpanel"
                  style="overflow: auto;height: 300px; padding: 10px;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                  <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">


                    <div class="m-messenger__messages">

                      <!--begin:: Widgets/New Users-->
                      <div class="">
                        <div class="">
                          <div class="tab-content">
                            <div class="tab-pane active" id="m_widget4_tab1_content">

                              <div *ngFor="let c of conversation; trackBy: message">

                                <!--in message starts-->
                                <span *ngIf="uid!=c.sentFrom.id">

                                  <div class="m-messenger__message m-messenger__message--in message-in">

                                    <div class="m-messenger__message-pic">
                                      <img src="{{c.sentFrom.avtar}}" alt="" />
                                    </div>

                                    <div class="m-messenger__message-body">
                                      <div class="m-messenger__message-arrow"></div>
                                      <div class="m-messenger__message-content">
                                        <div class="m-messenger__message-username" style="font-weight: bold">
                                          {{c.sentFrom.name}}
                                        </div>
                                        <div class="m-messenger__message-text message-text">
                                          {{c.message}}
                                        </div>
                                      </div>
                                    </div>

                                  </div>

                                  <div class="m-messenger__datetime message-date"
                                    style="text-align: left; margin-left: 5%">
                                    {{c.sentAt | date : 'short'}}
                                  </div><br>

                                </span>
                                <!--in message ends-->

                                <!--out message starts-->
                                <span *ngIf="uid==c.sentFrom.id">
                                  <div class="m-messenger__message m-messenger__message--out message-out">

                                    <div class="m-messenger__message-body">
                                      <div class="m-messenger__message-arrow"></div>
                                      <div class="m-messenger__message-content">
                                        <div class="m-messenger__message-text message-text">
                                          {{c.message}}
                                        </div>
                                      </div>
                                    </div>

                                  </div>

                                  <div class="m-messenger__datetime message-date" style="text-align: right">
                                    {{c.sentAt | date : 'short'}}
                                  </div>
                                </span>
                                <!--out message ends-->

                              </div>


                              <!--sending messages starts-->
                              <!--for sending messages ends-->

                            </div>
                            <!--tab-pane ends-->
                          </div>
                          <!--tab-contents ends-->
                        </div>
                        <!--m-portlet__body ends-->
                      </div>
                      <!--End::Main Portlet   -->

                    </div>

                  </div>
                </div>

              </div>
              <div class="m-messenger__seperator"></div>
              <div class="m-messenger__form">
                <div class="row">
                  <div class="col-lg-12">

                    <div class="m-messenger__form-controls">
                      <input type="text" name="in" placeholder="Type here..." class="m-messenger__form-input inputtext"
                        [(ngModel)]='sendmsg'>

                    </div>
                    <!--</div>
                  <div class="col-lg-1">-->
                    <div class="m-messenger__form-tools " on-click="postMessage(sendmsg)">
                      <a href="" class="m-messenger__form-attachment">
                        <img src="././assets/images/arrow.png" class="click-arrow">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!--end:: Widgets/New Users-->


              <!--End::Main Portlet-->
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
<!--</div>
    
    
        </div>
    
      </div>
    </div>-->
