.discuss-subheading {
  color: #ff9100;
  font-weight: 500;
  font-size: 15px;
  font-family: Segoe UI !important;
}

.chatBox {
  height: 350px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  font-family: Segoe UI !important;
}

.class-link{
cursor: pointer;
}

.class-box {
  list-style: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 15px 44px 33px;
  border-width: 0px 0px 1px 0px;
  -webkit-filter: drop-shadow(2px 4px 6px #d9d9d9);
  filter: drop-shadow(2px 4px 6px #d9d9d9);
  margin-bottom: 10px;
  font-family: Segoe UI !important;
}

.discuss-class-name {
  font-size: 16px;
  font-weight: 650;
  color: #707070;
  font-family: Segoe UI !important;
}

.inputtext {
  width: 100% !important;
  margin-top: 0% !important;
  margin-left: 0% !important;
  border: 1px solid transparent;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
  border-radius: 5px;
  padding: 10px;
  font-family: Segoe UI !important;
}

.click-arrow {
  margin-left: -5px;
  font-family: Segoe UI !important;
}

.message-out {
  margin: 0px !important;
  font-size: 13px !important;
  font-family: Segoe UI !important;
}

.message-in {
  font-size: 13px !important;
  font-family: Segoe UI !important;
}

.message-text {
  font-size: 14px !important;
}

.message-date {
  font-size: 10px !important;
  float: right !important;
  text-align: right !important;
  font-family: Segoe UI !important;
}

.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--out .m-messenger__message-arrow {
  color: #707070;
  font-family: Segoe UI !important;
}

.class-link:active {
  background-color: #fff;
  font-family: Segoe UI !important;
}

.m-subheader-discuss {
  padding: 30px 30px 0 45px !important;
  font-family: Segoe UI !important;
}

.discuss-class-section {
  overflow: scroll;
  font-family: Segoe UI !important;
}

.m-messenger__form-controls {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 94%;
  padding: 0px 10px;
}

.m-messenger__form-tools {
  display: inline-block;
  box-sizing: border-box;
}
.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 30px;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #000;
}

.sub-heading {
  color: #FF9100;
  font-size: 16px;
  font-weight: 700;
  font-family: Segoe UI;
  margin-top: -6px;
}

/*.......................................media query code .............................................*/
@media (min-width: 993px) {}

@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {
  .m-subheader-discuss {
    padding: 30px 30px 0 30px !important;
    font-family: Segoe UI !important;
}
}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {}

@media(max-width:479px) {
  .m-messenger__form-controls {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    padding: 0px 10px;
  }

  .m-messenger__form-tools {
    display: inline-block;
    box-sizing: border-box;
  }

  .click-arrow {
    margin-left: -5px;
    font-family: Segoe UI !important;
    height: 20px;
  }
  .m-subheader-discuss {
    padding: 30px 19px 0 19px !important;
    font-family: Segoe UI !important;
}
.m-body .m-content {
  padding: 20px 4px !important;
}
.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--out .m-messenger__message-content {
  background: #6B6B73;
  width: 100px;
  font-size: 12px;
}
}
