.main-heading{
    font-size: 30px;
    font-weight: bold;
  }
  
  .m-subheader .m-subheader__title {
    display: inline-block;
    padding: 7px 25px 7px 0;
    font-family: "Segoe UI" !important;
    font-size: 30px;
    font-weight: bold !important;
    vertical-align: middle;
    margin: 0 15px 0 0;
    color: #000;
  }
  
  .m-portlet.m-portlet--full-height-teacher {
    padding-left: 0px !important;
  }
  
  .sub-heading{
    font-size: 12px;
    color: #FF9100 !important;
    font-weight: 600;
  }
  .grey-box{
    border-radius: 1.25rem!important;
    width: 55%;
    float: right;
    background-color: #6B6B73;
    color: #ffffff;
  }
  .grey-box .main-text{
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 10px;
  }
  .grey-box p{
    font-size: 12px;
  }
  
  .text-default{
    color:#969698;  
  }
  
  .overview-time {  
    font-size: 18px;
    font-weight: bolder;
  }
  .overview-text {  
    font-size: 12px;
    font-weight: bolder;
  }
  
  .overview-padding {
    padding: 5px;
  }

  .check-box-clerk {
    align-self: center;
  }
  
  .small-sqaure{ 
    /* margin-top: 25%; */
    margin-left: 30%;
  }
  .pull-right{
    float: right;
  }
  .white-box-margin-clerk{
    margin-bottom: 20px;
    border-radius: 10px;
    filter: drop-shadow(2px 4px 6px #D9D9D9);
  
  }

  .btn-default{
    float: right;
  
  }
  .text-box{
    border:2px solid #D9D9D9;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    font-size: 10px;
    color: #000000;
  }
  .text-box:focus{
    border:2px solid #FF9100;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    font-size: 10px;
    color: #000000;
  }
  .textareabox{
    font-size: 10px;
  }
  .submit-btn{
    border: 2px solid #FF9100;
    border-radius: 25px;
    padding: 5px 20px;
    background-color: #FF9100;
    color: #ffffff;
    font-size: 12px;
  }
  .submit-btn:hover{
    border: 2px solid #FF9100;
    border-radius: 25px;
    background: none;
    color: #FF9100;
    text-decoration: none;
  }
  .drop-category{
    border: 2px solid #000000;
    background: none;
    color: black;
    border-radius: 25px;
    float: right;
  }
  
  .dropdown-menu li a{
    font-size: 15px;
  }
  .overview{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 10px 14px 10px;
  }
  .overview h5{
    font-size: 16px;
    font-weight: 500;
  }
  .inTime{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 10px 14px 10px;
  }
  .outTime{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 10px 14px 10px;
  }
  .class-teacher{
    text-align: center !important;
  }
  .inTime-time{
    font-size: 12px;
    
  
  }
  .outTime-time{
    font-size: 12px;
    
  
  }
  .digit{
    font-weight: 500;
  }
  
  .nav.nav-pills.nav-pills--brand-custom-teacher .nav-link.active {
    background: #f2f3f8;
    color: #3f4047;
    border-radius: 0px;
    border-bottom: #e58416 2px solid;
  }
  
  .m-portlet-custom-teacher {
    box-shadow: unset !important;
    background-color: unset !important;
  }
  
  .m-subheader-custom-teacher {
    padding: 0px 30px 0 30px !important;
  }
  
  /* ....................................Teacher details Modal.........................................*/
  
  .btn-sub{
    background-color: #A0A0A2;
    padding: 5px 8px;
    color:#ffffff;
    border-radius: 10px;
    font-size: 12px;
  }
  .btn-sub:hover{
    background-color: #000;
    padding: 5px 8px;
    color:#ffffff;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
  }
  .btn-dlt{
    background-color: #ffd5d5;
    padding: 5px 8px;
    color:#FF6565;
    border-radius: 10px;
    font-size: 12px;
  }
  .btn-dlt:hover{
    background-color: #000;
    padding: 5px 8px;
    color:#ffffff;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
  }
  
  .table, details{
    font-size: 12px;
  }
  .table-heading{
    font-size: 15px;
    color: #6B6B73;
    font-weight: 500;
    margin-left: 13%;
  }
  
  .heading-row{
    background-color: #E9E9E9;
    border: 2px solid #E9E9E9;
    border-radius: 25px;
    color: #969698;
  }
  .grey-heading{
    color:#969698;
    font-size: 10px;
    font-weight: 500;
  }
  .dropdown-toggle{
    font-size: 10px;
  }
  .teachers-name{
    font-size: 14px !important;
    font-weight: 500;
  }
  .icons a{
    margin-right:28px;
   }
   .icons a img{
     height: 40px;
     width: 40px;
   }
   *{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   a:hover,:focus{
     text-decoration: none;
   }
   .modal-heading{
    color: #FF9100 !important;
    font-size: 24px !important;
    font-weight: 500 !important;
  }
  
  .header-size{
    padding-top:20px !important;
    padding-bottom:10px !important;
   
  }
  .header-size-view{
    padding-top:20px !important;
    padding-bottom:10px !important;
    border: none;
   
  }
  tr{
    border: none;
  }
  
  
  /*.......................................media query code .............................................*/
  
  
  
  @media(min-width:992px)
  {
    
  
  }
  @media(min-width:768px) and (max-width:991px){
   
    .grey-box{
      width: 90%;
    }
    .icons a{
     margin-right:10px;
    }
  }
  @media(min-width:575px) and (max-width:767px){
    
    
  }
  @media(min-width:480px) and (max-width:574px){
    .small-sqaure{
      display: none !important;
    }
    
    .middle-display-none{
      display: none !important;
    }
  
    
  }
  @media(max-width:479px){
    .small-sqaure{
      display: none;
    }

    .middle-display-none{
      display: none !important;
    }
  
    .grey-box{
      float: left;
      width: 100%;
      margin-top: 10px;
    }
    .teachers-name{
      display: none;
    }
    .teachers-class{
      display: none;
    }
    .teacher-name{
      font-size: 15px;
    }
    .icons a{
      margin-right:10px;
     }
     .class-teacher {
      /* text-align: center !important; */
      float: right;
      /* padding: 10px; */
      margin: 7px 19px;}
    
  }
  
  