<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				amCharts Maps
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Charts
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							amCharts
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							amCharts Maps
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
		<div class="m-alert__icon m-alert__icon--top">
			<i class="flaticon-exclamation m--font-accent"></i>
		</div>
		<div class="m-alert__text">
			<p>
				You can download and use all
				<b>
					amCharts
				</b>
				products for free. The only limitation of the free version is that a small link to this web             site will be displayed in the top left corner of your charts. If you would like to use charts without this link, or you appreciate             the software and would like to support its creators,
				<a href="http://www.amcharts.com/online-store/" >
					please purchase a commercial license
				</a>
			</p>
			<p>
				<span class="m-badge m-badge--danger m-badge--wide m-badge--rounded">
					Exclusively for Metronic users:
				</span>
				<br>
				After purchasing
				<b>
					Metronic
				</b>
				you will get a promo code for
				<span class="m-badge m-badge--accent m-badge--wide m-badge--rounded">
					15% DISCOUNT
				</span>
				for commercial license of
				<b>
					amChart
				</b>
				. To find the promo code please check the readme.txt file in the Metronic's purchased package.
			</p>
			<p>
				For more info please chech the plugin's official
				<a class="m-link" href="http://www.amcharts.com/demos/" >
					demos & documentation
				</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Animations along lines
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="m_amcharts_1" style="height: 500px;"></div>
				</div>
			</div>
			<!--end::Portlet-->        <!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Map with curved lines
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="m_amcharts_2" style="height: 500px;"></div>
				</div>
			</div>
			<!--end::Portlet-->        <!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Zooming to Countries Map
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="m_amcharts_3" style="height: 500px;"></div>
				</div>
			</div>
			<!--end::Portlet-->        <!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Flight routes map
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="m_amcharts_4" style="height: 500px;"></div>
				</div>
			</div>
			<!--end::Portlet-->        <!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Grouped countries map
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="m_amcharts_5" style="height: 500px;"></div>
				</div>
			</div>
			<!--end::Portlet-->        <!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								US heat (choropleth) map
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="m_amcharts_6" style="height: 500px;"></div>
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>
