<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Base Portlets
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Portlets
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Base Portlets
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--mobile">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Basic Portlet
								<small>
									portlet sub title
								</small>
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet m-portlet--rounded">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Rounded Style
								<small>
									portlet sub title
								</small>
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet m-portlet--unair">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Non-shadow Style
								<small>
									portlet sub title
								</small>
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet m-portlet--bordered m-portlet--unair">
				<div class="m-portlet__body">
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--bordered m-portlet--unair">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<h3 class="m-portlet__head-text">
										Bordered Style
									</h3>
								</div>
							</div>
						</div>
						<div class="m-portlet__body">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
						</div>
					</div>
					<!--end::Portlet-->				<!--begin::Portlet-->
					<div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<h3 class="m-portlet__head-text">
										Semi Bordered Style
									</h3>
								</div>
							</div>
						</div>
						<div class="m-portlet__body">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
						</div>
					</div>
					<!--end::Portlet-->				<!--begin::Portlet-->
					<div class="m-portlet m-portlet--bordered m-portlet--rounded m-portlet--unair">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<h3 class="m-portlet__head-text">
										Bordered & Rounded Styles
									</h3>
								</div>
							</div>
						</div>
						<div class="m-portlet__body">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
						</div>
					</div>
					<!--end::Portlet-->				<!--begin::Portlet-->
					<div class="m-portlet m-portlet--bordered m-portlet--rounded m-portlet--unair m-portlet--head-sm">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<h3 class="m-portlet__head-text">
										Portlet Small Head
									</h3>
								</div>
							</div>
						</div>
						<div class="m-portlet__body">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
						</div>
					</div>
					<!--end::Portlet-->				<!--begin::Portlet-->
					<div class="m-portlet m-portlet--bordered m-portlet--rounded  m-portlet--last">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<h3 class="m-portlet__head-text">
										Bordered, Rounded & Air Styles
									</h3>
								</div>
							</div>
						</div>
						<div class="m-portlet__body">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
						</div>
					</div>
					<!--end::Portlet-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-lg-6">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-multimedia"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Icon Title
								<small>
									portlet sub title
								</small>
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
				</div>
				<div class="m-portlet__foot m--hide">
					<div class="row">
						<div class="col-lg-6">
							Portlet footer:
						</div>
						<div class="col-lg-6">
							<button type="submit" class="btn btn-primary">
								Submit
							</button>
							<span class="m--margin-left-10">
								or
								<a href="#" class="m-link m--font-bold">
									Cancel
								</a>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-multimedia"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Portlet Footer
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
				</div>
				<div class="m-portlet__foot">
					<div class="row align-items-center">
						<div class="col-lg-6 m--valign-middle">
							Portlet footer:
						</div>
						<div class="col-lg-6 m--align-right">
							<button type="submit" class="btn btn-brand">
								Submit
							</button>
							<span class="m--margin-left-10">
								or
								<a href="#" class="m-link m--font-bold">
									Cancel
								</a>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-multimedia"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Scrollable Content
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div class="m-scrollable" data-scrollable="true" data-max-height="200" data-scrollbar-shown="true">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
					</div>
				</div>
				<div class="m-portlet__foot">
					<div class="row align-items-center">
						<div class="col-lg-12">
							<button type="submit" class="btn btn-success">
								Submit
							</button>
							<button type="submit" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-placeholder-2"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Portlet Action Icons
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item">
								<a href="" class="m-portlet__nav-link m-portlet__nav-link--icon">
									<i class="la la-close"></i>
								</a>
							</li>
							<li class="m-portlet__nav-item">
								<a href="" class="m-portlet__nav-link m-portlet__nav-link--icon">
									<i class="la la-refresh"></i>
								</a>
							</li>
							<li class="m-portlet__nav-item">
								<a href="" class="m-portlet__nav-link m-portlet__nav-link--icon">
									<i class="la la-angle-down"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="m-portlet__body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-statistics"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Portlet Action Icons
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item">
								<a href="" class="m-portlet__nav-link m-portlet__nav-link--icon">
									<i class="la la-cloud-upload"></i>
								</a>
							</li>
							<li class="m-portlet__nav-item">
								<a href="" class="m-portlet__nav-link m-portlet__nav-link--icon">
									<i class="la la-cog"></i>
								</a>
							</li>
							<li class="m-portlet__nav-item">
								<a href="" class="m-portlet__nav-link m-portlet__nav-link--icon">
									<i class="la la-share-alt-square"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="m-portlet__body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet m-portlet--skin-dark m-portlet--bordered-semi">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-statistics"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Dark Skin
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item">
								<a href="" class="m-portlet__nav-link m-portlet__nav-link--icon">
									<i class="la la-cloud-upload"></i>
								</a>
							</li>
							<li class="m-portlet__nav-item">
								<a href="" class="m-portlet__nav-link m-portlet__nav-link--icon">
									<i class="la la-cog"></i>
								</a>
							</li>
							<li class="m-portlet__nav-item">
								<a href="" class="m-portlet__nav-link m-portlet__nav-link--icon">
									<i class="la la-share-alt-square"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="m-portlet__body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet m-portlet--skin-dark m-portlet--bordered-semi m--bg-brand">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-statistics"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Solid Background Dark Skin
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item">
								<a href="" class="m-portlet__nav-link m-portlet__nav-link--icon">
									<i class="la la-cloud-upload"></i>
								</a>
							</li>
							<li class="m-portlet__nav-item">
								<a href="" class="m-portlet__nav-link m-portlet__nav-link--icon">
									<i class="la la-cog"></i>
								</a>
							</li>
							<li class="m-portlet__nav-item">
								<a href="" class="m-portlet__nav-link m-portlet__nav-link--icon">
									<i class="la la-share-alt-square"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="m-portlet__body">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>
