<!-- BEGIN: Left Aside -->
<div >
<button class="m-aside-right-close  m-aside-left-close--skin-light" id="m_aside_right_close_btn" appunwraptag="">
  <i class="la la-close"></i>
</button>
</div>
<!--<div id="m_aside_right"  [className]="events || notices ? 'm-grid__item	m-aside-right  m-aside-left--skin-light' : 'hide-bar'">-->
<div id="m_aside_right"  class="m-grid__item	m-aside-right  m-aside-left--skin-light">
  <!-- BEGIN: Aside Menu -->
  <a href="javascript:;" id="m_aside_right_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block 					m-brand__toggler--active">
      <div *ngIf="!this.masideStatus"  class="collapse-div" style="background-color: brown;">
        <button id="m_aside_right_close_btn" class="right-sidebar-btn vertical-center btn-xs"
          on-click="eventToggle()"><i class="fa fa-caret-right" aria-hidden="true"></i> </button>
      </div>
    
    
      <div *ngIf="this.masideStatus" class=" collapse-div" style="background-color: green;">
        <button id="m_aside_right_close_btn" class="right-sidebar-btn vertical-center btn-xs"
        on-click="eventToggle()"> <i class="fa fa-caret-left" aria-hidden="true"></i> </button>
      </div>
    </a>
  
<div class="e-container" >
  <div class="side-nav">
      <a href="javascript:;" id="m_aside_right_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block 					m-brand__toggler--active">
          <div *ngIf="!this.masideStatus"  class="collapse-div" style="background-color: brown;">
            <button id="m_aside_right_close_btn" class="right-sidebar-btn vertical-center btn-xs"
              on-click="eventToggle()"><i class="fa fa-caret-right" aria-hidden="true"></i> </button>
          </div>
        
        
          <div *ngIf="this.masideStatus" class=" collapse-div" style="background-color: green;">
            <button id="m_aside_right_close_btn" class="right-sidebar-btn vertical-center btn-xs"
            on-click="eventToggle()"> <i class="fa fa-caret-left" aria-hidden="true"></i> </button>
          </div>
        </a>
  </div>
  <!--<div *ngIf="events" [className]="events ? 'event-container' : 'container-height'">
      <div *ngIf="events" class="event-container">-->
  <div  class="event-container">
    <div class="event-notice-title">
      <h5 class="notice-heading">Event <span class="float-right see-more"><a class="a-custom see-more" routerLink="/events" >See More</a></span></h5>    
    </div>
    <div class="event-scroll-text" *ngIf="events">
      <div class="event-list" *ngFor="let event of events; let i = index">
        <span class="notice-title">
          {{event.title}}
        </span>
        <span class="notice-date float-right ">
            {{event.startTime |date : 'h:mm a' }}-{{event.endTime |date : 'h:mm a' }}
        </span>
        <p class="notice-text">
          {{event.description}}
        </p>
      </div>
    </div>
    <div class="event-scroll-text" *ngIf="!events">
      <span class="notice-title">
        No New Event Available!
      </span>
    </div>
  </div>

  <!--<div class="notice-container" >-->
      <!--<div [className]="events ? 'notice-container' : 'container-height'" *ngIf="notices">-->
      <div class="notice-container">
    <div class="event-notice-title">
      <!--<h5  [className]="events ? 'notice-heading' : 'notice-heading2'">Notice Board <span class="float-right see-more"><a class="a-custom see-more" routerLink="/notice" > See More</a></span></h5>-->      
      <h5  class="notice-heading">Notice Board <span class="float-right see-more"><a class="a-custom see-more" routerLink="/notice" > See More</a></span></h5>
    </div>
    <!--<div  [className]="events ? 'event-notice-text' : 'event-notice-text2'" >-->
        <div class="event-notice-text" *ngIf="notices">
      <div class="event-list" *ngFor="let notice of notices; let i = index">
        <span class="notice-title">
          {{notice.type}}
        </span>
        <span class="notice-date float-right">
          {{notice.createdAt | date : "dd.MM.yy"}}
        </span>
        <p class="notice-text">
          {{notice.message}}
        </p>
      </div>
    </div>
    <div class="event-notice-text" *ngIf="!notices">
      <span class="notice-title">
        No New Notice Available!
      </span>
    </div>
  </div>
</div>
  <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
