.collapse-div {
  height: 100%;
  width: 25px;

}
.side-nav{
  display: none;
}

.hide-bar{
  display: none;
}

.right-sidebar-btn {
  vertical-align: middle;
  width: 25px;
  opacity: 0.5;
  color: darkgrey;
  background-color: #fff;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.event-notice-text {
 
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  
}

.event-notice-text2 {
 
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: -10px;
}
.event-scroll-text {
 
  height: 80%;
  overflow: scroll;
  overflow-x: hidden;
}

.event-container {
  height: 45%;
  width: 100%;
  margin-top: 25%;
  margin-bottom: 5%;
  /* float: right; */
}

.notice-container {
  height: 50%;
  width: 100%;
  padding-top: 20px;
  /* float: right; */
}
.container-height{
  height: 100%;
}

.event-list{
    margin-bottom: 10px;
}

.notice-heading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #6B6B73;
  font-weight: bold;
  margin: 15px 19px 15px 0px;
}

.notice-heading2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #6B6B73;
  font-weight: bold;
  margin: 20% 19px 15px 0px;
}

.notice-title {
  font-weight: bold;
  font-size: 14px;
  color: #575962;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize !important;
}

.notice-text {
  font-size: 12px;
  margin-top: 5px;
  color: #74788d;
}

.see-more {
    font-size: 10px !important;
    color: #e68516 !important;
}

.action-text-type {
  margin: 0px 0px 0px -14px;
}

.notice-date {
  font-size: 10px !important;
  color: #A0A0A2 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 400 !important;
  text-transform: lowercase !important;
}


.m-aside-right--minimize .e-container {
  display: none;
}

:not(.m-aside-right--minimize) .e-container {
  width: 90%;
  height: 100%;
  float: right;
  padding-right:15px;
}


/*---------------------------------------- media query code-------------------------------------------------*/

@media (min-width: 993px){
.m--visible-desktop-inline-block {
    display: none;
}}
@media(min-width:992px)
{


  

}
@media(min-width:768px) and (max-width:991px){
  #m_aside_right{
    display: none;
  }
  
}
 
  
@media(min-width:575px) and (max-width:767px){
  
  
}
@media(min-width:480px) and (max-width:574px){
  
}
@media(max-width:479px){
  #m_aside_right{
    display: none;
  }
 
  
  
  
}


