<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Form Repeater
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Forms
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Form Widgets
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Form Repeater
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon m--hide">
						<i class="la la-gear"></i>
					</span>
					<h3 class="m-portlet__head-text">
						Form Repeater Example
					</h3>
				</div>
			</div>
		</div>
		<!--begin::Form-->
		<form class="m-form">
			<div class="m-portlet__body">
				<div class="m-form__section m-form__section--first">
					<div class="form-group m-form__group row">
						<label class="col-lg-2 col-form-label">
							Full Name:
						</label>
						<div class="col-lg-4">
							<input type="email" class="form-control m-input" placeholder="Enter full name">
							<span class="m-form__help">
								Please enter your full name
							</span>
						</div>
					</div>
					<div class="form-group m-form__group row">
						<label class="col-lg-2 col-form-label">
							Email address:
						</label>
						<div class="col-lg-4">
							<input type="email" class="form-control m-input" placeholder="Enter email">
							<span class="m-form__help">
								We'll never share your email with anyone else
							</span>
						</div>
					</div>
					<div class="form-group m-form__group row">
						<label class="col-lg-2 col-form-label">
							Contact
						</label>
						<div class="col-lg-4">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="la la-chain"></i>
								</span>
								<input type="text" class="form-control m-input" placeholder="Phone number">
							</div>
						</div>
					</div>
					<div class="m-form__group form-group row">
						<label class="col-lg-2 col-form-label">
							Communication:
						</label>
						<div class="col-xl-8 col-lg-8 col-sm-12 col-md-12">
							<div class="m-checkbox-inline">
								<label class="m-checkbox">
									<input type="checkbox">
									Email
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									SMS
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									Phone
									<span></span>
								</label>
							</div>
						</div>
					</div>
					<div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space m--margin-bottom-40"></div>
					<div id="m_repeater_1">
						<div class="form-group  m-form__group row" id="m_repeater_1">
							<label  class="col-lg-2 col-form-label">
								Contacts:
							</label>
							<div data-repeater-list="" class="col-lg-10">
								<div data-repeater-item class="form-group m-form__group row align-items-center">
									<div class="col-md-3">
										<div class="m-form__group m-form__group--inline">
											<div class="m-form__label">
												<label>
													Name:
												</label>
											</div>
											<div class="m-form__control">
												<input type="email" class="form-control m-input" placeholder="Enter full name">
											</div>
										</div>
										<div class="d-md-none m--margin-bottom-10"></div>
									</div>
									<div class="col-md-3">
										<div class="m-form__group m-form__group--inline">
											<div class="m-form__label">
												<label class="m-label m-label--single">
													Number:
												</label>
											</div>
											<div class="m-form__control">
												<input type="email" class="form-control m-input" placeholder="Enter contact number">
											</div>
										</div>
										<div class="d-md-none m--margin-bottom-10"></div>
									</div>
									<div class="col-md-2">
										<div class="m-radio-inline">
											<label class="m-checkbox m-checkbox--state-success">
												<input type="checkbox">
												Primary
												<span></span>
											</label>
										</div>
									</div>
									<div class="col-md-4">
										<div data-repeater-delete="" class="btn-sm btn btn-danger m-btn m-btn--icon m-btn--pill">
											<span>
												<i class="la la-trash-o"></i>
												<span>
													Delete
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="m-form__group form-group row">
							<label class="col-lg-2 col-form-label"></label>
							<div class="col-lg-4">
								<div data-repeater-create="" class="btn btn btn-sm btn-brand m-btn m-btn--icon m-btn--pill m-btn--wide">
									<span>
										<i class="la la-plus"></i>
										<span>
											Add
										</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions">
					<div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-2">
							<button type="reset" class="btn btn-success">
								Submit
							</button>
							<button type="reset" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--end::Form-->
	</div>
	<!--end::Portlet--><!--begin::Portlet-->
	<div class="row">
		<div class="col-lg-6">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Form Repeater Example
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form">
					<div class="m-portlet__body">
						<div class="m-form__section m-form__section--first">
							<div class="form-group m-form__group row">
								<label class="col-lg-3 col-form-label">
									Full Name:
								</label>
								<div class="col-lg-6">
									<input type="email" class="form-control m-input" placeholder="Enter full name">
									<span class="m-form__help">
										Please enter your full name
									</span>
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-lg-3 col-form-label">
									Email address:
								</label>
								<div class="col-lg-6">
									<input type="email" class="form-control m-input" placeholder="Enter email">
									<span class="m-form__help">
										We'll never share your email with anyone else
									</span>
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-lg-3 col-form-label">
									Communication:
								</label>
								<div class="col-lg-12 col-xl-8">
									<div class="m-checkbox-inline m--padding-top-3">
										<label class="m-checkbox">
											<input type="checkbox">
											Email
											<span></span>
										</label>
										<label class="m-checkbox">
											<input type="checkbox">
											SMS
											<span></span>
										</label>
										<label class="m-checkbox">
											<input type="checkbox">
											Phone
											<span></span>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-form-label col-lg-3 col-sm-12">
									Credit Card
								</label>
								<div class="col-lg-6">
									<div class="input-group">
										<input type="text" class="form-control m-input" name="creditcard" placeholder="Enter card number">
										<span class="input-group-addon">
											<i class="la la-credit-card"></i>
										</span>
									</div>
								</div>
							</div>
							<div id="m_repeater_2">
								<div class="form-group  m-form__group row">
									<label  class="col-lg-3 col-form-label">
										Contact:
									</label>
									<div data-repeater-list="" class="col-lg-6">
										<div data-repeater-item class="m--margin-bottom-10">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="la la-phone"></i>
												</span>
												<input type="text" class="form-control form-control-danger" placeholder="Enter telephone">
												<span class="input-group-btn">
													<a href="#" class="btn btn-danger m-btn m-btn--icon">
														<i class="la la-close"></i>
													</a>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3"></div>
									<div class="col">
										<div data-repeater-create="" class="btn btn btn-warning m-btn m-btn--icon">
											<span>
												<i class="la la-plus"></i>
												<span>
													Add
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions">
							<div class="row">
								<div class="col-lg-3"></div>
								<div class="col-lg-6">
									<button type="reset" class="btn btn-brand">
										Submit
									</button>
									<button type="reset" class="btn btn-secondary">
										Cancel
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
		</div>
		<div class="col-lg-6">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Form Repeater Example
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form">
					<div class="m-portlet__body">
						<div class="m-form__section m-form__section--first">
							<div class="form-group m-form__group row">
								<label class="col-lg-3 col-form-label">
									Full Name:
								</label>
								<div class="col-lg-6">
									<input type="email" class="form-control m-input" placeholder="Enter full name">
									<span class="m-form__help">
										Please enter your full name
									</span>
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-lg-3 col-form-label">
									Email address:
								</label>
								<div class="col-lg-6">
									<input type="email" class="form-control m-input" placeholder="Enter email">
									<span class="m-form__help">
										We'll never share your email with anyone else
									</span>
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-lg-3 col-form-label">
									Communication:
								</label>
								<div class="col-lg-12 col-xl-8">
									<div class="m-checkbox-inline m--padding-top-3">
										<label class="m-checkbox">
											<input type="checkbox">
											Email
											<span></span>
										</label>
										<label class="m-checkbox">
											<input type="checkbox">
											SMS
											<span></span>
										</label>
										<label class="m-checkbox">
											<input type="checkbox">
											Phone
											<span></span>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-form-label col-lg-3 col-sm-12">
									Credit Card
								</label>
								<div class="col-lg-6">
									<div class="input-group">
										<input type="text" class="form-control m-input" name="creditcard" placeholder="Enter card number">
										<span class="input-group-addon">
											<i class="la la-credit-card"></i>
										</span>
									</div>
								</div>
							</div>
							<div id="m_repeater_3">
								<div class="form-group  m-form__group row">
									<label  class="col-lg-3 col-form-label">
										Contact:
									</label>
									<div data-repeater-list="" class="col-lg-9">
										<div data-repeater-item class="row m--margin-bottom-10">
											<div class="col-lg-5">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="la la-phone"></i>
													</span>
													<input type="text" class="form-control form-control-danger" placeholder="Phone">
												</div>
											</div>
											<div class="col-lg-5">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="la la-envelope"></i>
													</span>
													<input type="text" class="form-control form-control-danger" placeholder="Email">
												</div>
											</div>
											<div class="col-lg-2">
												<a href="#" data-repeater-delete="" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only">
													<i class="la la-remove"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3"></div>
									<div class="col">
										<div data-repeater-create="" class="btn btn btn-primary m-btn m-btn--icon">
											<span>
												<i class="la la-plus"></i>
												<span>
													Add
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions">
							<div class="row">
								<div class="col-lg-3"></div>
								<div class="col-lg-6">
									<button type="reset" class="btn btn-accent m-btn m-btn--pill m-btn--air">
										Submit
									</button>
									<button type="reset" class="btn btn-secondary m-btn m-btn--pill m-btn--air">
										Cancel
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
		</div>
	</div>
	<!--end::Portlet-->
</div>
