<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Flaticon Icons
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Buttons
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Button Icon
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Flaticon Icons
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-md-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Basic Examples
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Solid style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-primary m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-diagram"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-time-3"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-pie-chart"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-multimedia"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-warning-2"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-symbol"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-comment"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-bag"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-user"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Solid style wide buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="fa flaticon-users"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="fa flaticon-profile-1"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="fa flaticon-chat-1"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="fa flaticon-bag"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="fa flaticon-technology-1"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="fa flaticon-pin"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="fa flaticon-exclamation-2"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="fa flaticon-cogwheel-1"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--wide">
										<span>
											<i class="fa flaticon-book"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Icon only without label
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--icon-only">
										<i class="fa"></i>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-refresh"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-questions-circular-button"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-laptop"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-cogwheel-1"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-computer"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-open-box"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-clock"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-calendar-2"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Outline Style Buttons
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Outline style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-list-2"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-users"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-interface-9"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-menu-button"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-interface-8"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-calendar-1"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-bell"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-light"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline 2x style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-information"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-alert-1"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-coins"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-interface-7"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-calendar-1"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-technology"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-truck"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-tea-cup"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Icon only without label
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-time-1"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-profile"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-squares-1"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-bell"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-signs-2"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-open-box"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-shapes"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-exclamation-1"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only">
										<i class="fa flaticon-notes"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="fa flaticon-analytics"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="fa flaticon-location"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="fa flaticon-placeholder-2"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="fa flaticon-alarm"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="fa flaticon-internet"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="fa flaticon-user-add"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="fa flaticon-map-location"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="fa flaticon-lock-1"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x">
										<i class="fa flaticon-squares-2"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Pill Style Buttons
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Solid & pill style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-truck"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-user-settings"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-internet"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-user-ok"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-alert"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-map-location"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-lock"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-multimedia-1"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-placeholder-2"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline & pill style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-interface-4"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-time"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-list"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-music-2"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-tool"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-security"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-interface-3"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-interface-2"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline 2x & pill style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="fa flaticon-web"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="fa flaticon-multimedia"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="fa flaticon-tabs"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="fa flaticon-signs"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="fa flaticon-interface-1"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="fa flaticon-layers"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="fa flaticon-placeholder-1"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
										<span>
											<i class="fa flaticon-multimedia"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Icon only without label
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-multimedia"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-share"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-info"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-exclamation"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-music-1"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-medical"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-imac"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-cart"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-download"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-edit"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-graphic"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-folder-3"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-folder-1"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-music"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-chat"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-users"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-pie-chart"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-list-3"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="fa flaticon-time-3"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="fa flaticon-profile-1"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="fa flaticon-list-2"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="fa flaticon-multimedia-2"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="fa flaticon-interface-9"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="fa flaticon-background"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="fa flaticon-bag"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="fa flaticon-graph"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
										<i class="fa flaticon-pie-chart"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->				<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Air Style Buttons
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Solid, pill & air style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-warning-2"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-visible"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-line-graph"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-statistics"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-paper-plane"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-cogwheel-2"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-lifebuoy"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-menu-button"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-user"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline, pill & air style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-apps"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-clock-1"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-close"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-pin"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-circle"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-interface-8"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-technology-1"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-danger"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline 2x, pill & air style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-exclamation-square"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-calendar-2"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-exclamation-2"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-cogwheel-1"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-squares-4"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-clock"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-symbol"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-laptop"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Icon only without label
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-event-calendar-symbol"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-logout"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-refresh"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-questions-circular-button"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-search-magnifier-interface-symbol"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-attachment"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-speech-bubble-1"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-open-box"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-coins"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-speech-bubble"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-squares-3"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-computer"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-alert-2"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-map"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-interface-7"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-graphic-1"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-cogwheel"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-alert-1"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-folder-4"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-interface-6"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-interface-5"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-calendar-1"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-time-1"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-signs-2"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-calendar"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-search"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-infinity"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-md-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Metronic Custom Buttons
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Solid style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="fa flaticon-list-1"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="fa flaticon-bell"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="fa flaticon-delete"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="fa flaticon-squares-2"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="fa flaticon-clipboard"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="fa flaticon-shapes"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="fa flaticon-comment"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="fa flaticon-squares-1"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--custom m-btn--icon">
										<span>
											<i class="fa flaticon-signs-1"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Solid, pill & air style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-squares"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-business"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-car"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-light"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-information"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-dashboard"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-edit-1"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-location"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-technology"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline, pill & air style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-exclamation-1"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-tea-cup"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-notes"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-analytics"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-transport"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-internet"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-alert"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-alarm"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline 2x, pill & air style buttons with icons
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-outline-primary m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-grid-menu"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-lock-1"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-profile"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-map-location"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-more-v4"></i>
											<span>
												Info
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-lock"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-multimedia-1"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
										<span>
											<i class="fa flaticon-add"></i>
											<span>
												Metal
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Icon only without label
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="fa"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="fa flaticon-grid-menu-v2"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="fa flaticon-suitcase"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="fa flaticon-app"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="fa flaticon-interface-4"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="fa flaticon-time"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="fa flaticon-list"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="fa flaticon-music-2"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="fa flaticon-tool"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-success m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-security"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-interface-3"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-interface-2"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-interface-1"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-layers"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-placeholder-1"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-web"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-multimedia"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-tabs"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-interface"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-network"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-share"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-info"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-exclamation"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-music-1"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-medical"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-imac"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
										<i class="fa flaticon-cart"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-download"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-edit"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-graphic"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-browser"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-folder-3"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--custom  m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-folder-1"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-folder"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-music"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
										<i class="fa flaticon-chat"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Button Sizing
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Small size buttons:
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-primary btn-sm m-btn  m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-users"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary btn-sm m-btn 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-list-3"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success btn-sm m-btn 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-time-3"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn btn-sm 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-file-1"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn btn-sm 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-profile-1"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn btn-sm 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-time-2"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-primary btn-sm 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-list-2"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent btn-sm 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-multimedia-2"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success btn-sm 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-interface-9"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning 	btn-sm 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-file"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn btn-sm  m-btn--icon">
										<span>
											<i class="fa flaticon-background"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn btn-sm m-btn--icon">
										<span>
											<i class="fa flaticon-chat-1"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-primary btn-sm 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-graph"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent btn-sm 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-pie-chart"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success btn-sm 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-bag"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning 	btn-sm 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-warning-2"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn btn-sm  m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-visible"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn btn-sm m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-line-graph"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-primary btn-sm m-btn  m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-diagram"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary btn-sm m-btn 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-statistics"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success btn-sm m-btn 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-paper-plane"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn btn-sm 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-cogwheel-2"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn btn-sm 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-lifebuoy"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn btn-sm 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-settings"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-primary btn-sm 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-user"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent btn-sm 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-apps"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success btn-sm 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-clock-1"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning 	btn-sm 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-close"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn btn-sm  m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-pin"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn btn-sm m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-menu-button"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-success m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="fa flaticon-circle"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="fa flaticon-interface-8"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="fa flaticon-technology-1"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="fa flaticon-danger"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="fa flaticon-exclamation-square"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="fa flaticon-cancel"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="fa flaticon-calendar-2"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="fa flaticon-warning-sign"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon btn-sm m-btn--icon-only">
										<i class="fa flaticon-exclamation-2"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-success m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-cogwheel-1"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-book"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill">
										<i class="fa flaticon-squares-4"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill">
										<i class="fa flaticon-clock"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-graphic-2"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill">
										<i class="fa flaticon-symbol"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-tool-1"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-laptop"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill">
										<i class="fa flaticon-event-calendar-symbol"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-logout"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-refresh"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-questions-circular-button"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-search-magnifier-interface-symbol"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-attachment"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-speech-bubble-1"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-open-box"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-coins"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-speech-bubble"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-success m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-squares-3"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-computer"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="fa flaticon-alert-2"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="fa flaticon-map"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="fa flaticon-interface-7"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="fa flaticon-graphic-1"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="fa flaticon-cogwheel"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="fa flaticon-alert-1"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-folder-4"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->				<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Large size buttons:
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview m-demo__preview--btn">
									<a href="#" class="btn btn-primary btn-lg m-btn  m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-interface-6"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary btn-lg m-btn 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-interface-5"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success btn-lg m-btn 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-calendar-1"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn btn-lg 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-signs-2flaticon-time-1"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn btn-lg 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-calendar"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn btn-lg 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-search"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-primary btn-lg 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-infinity"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent btn-lg 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-list-1"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success btn-lg 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-bell"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning 	btn-lg 	m-btn m-btn--icon">
										<span>
											<i class="fa flaticon-delete"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn btn-lg  m-btn--icon">
										<span>
											<i class="fa flaticon-squares-2"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn btn-lg m-btn--icon">
										<span>
											<i class="fa flaticon-clipboard"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-primary btn-lg 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-shapes"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent btn-lg 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-comment"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success btn-lg 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-squares-1"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning 	btn-lg 	m-btn m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-signs-1"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn btn-lg  m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-squares"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn btn-lg m-btn--icon m-btn--outline-2x">
										<span>
											<i class="fa flaticon-business"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-primary btn-lg m-btn  m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-car"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-secondary btn-lg m-btn 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-light"></i>
											<span>
												Secondary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-success btn-lg m-btn 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-information"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-warning m-btn btn-lg 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-dashboard"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-danger m-btn btn-lg 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-edit-1"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-brand m-btn btn-lg 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-location"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-primary btn-lg 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-technology"></i>
											<span>
												Primary
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-accent btn-lg 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-exclamation-1"></i>
											<span>
												Accent
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-success btn-lg 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-tea-cup"></i>
											<span>
												Success
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-warning 	btn-lg 	m-btn m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-notes"></i>
											<span>
												Warning
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn btn-lg  m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-analytics"></i>
											<span>
												Danger
											</span>
										</span>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn btn-lg m-btn--icon m-btn--pill">
										<span>
											<i class="fa flaticon-transport"></i>
											<span>
												Brand
											</span>
										</span>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-success m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="fa flaticon-truck"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="fa flaticon-internet"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="fa flaticon-alert"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="fa flaticon-grid-menu"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="fa flaticon-lock-1"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="fa flaticon-profile"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="fa flaticon-map-location"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="fa flaticon-lock"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon btn-lg m-btn--icon-only">
										<i class="fa flaticon-multimedia-1"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-success m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-add"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-suitcase"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill">
										<i class="fa flaticon-app"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill">
										<i class="fa flaticon-timeflaticon-interface-4"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-music-2flaticon-list"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill">
										<i class="fa flaticon-tool"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-security"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill">
										<i class="fa flaticon-interface-3"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill">
										<i class="fa flaticon-interface-2"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-outline-success m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-interface-1"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-layers"></i>
									</a>
									<a href="#" class="btn btn-outline-warning m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-placeholder-1"></i>
									</a>
									<a href="#" class="btn btn-outline-info m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-web"></i>
									</a>
									<a href="#" class="btn btn-outline-danger m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-multimedia"></i>
									</a>
									<a href="#" class="btn btn-outline-primary m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-tabs"></i>
									</a>
									<a href="#" class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-interface"></i>
									</a>
									<a href="#" class="btn btn-outline-accent m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-network"></i>
									</a>
									<a href="#" class="btn btn-outline-metal m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-share"></i>
									</a>
									<div class="m-separator m-separator--dashed m--margin-top-5"></div>
									<a href="#" class="btn btn-success m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-info"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-exclamation"></i>
									</a>
									<a href="#" class="btn btn-warning m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="fa flaticon-music-1"></i>
									</a>
									<a href="#" class="btn btn-info m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="fa flaticon-imac"></i>
									</a>
									<a href="#" class="btn btn-danger m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="fa flaticon-cart"></i>
									</a>
									<a href="#" class="btn btn-primary m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="fa flaticon-download"></i>
									</a>
									<a href="#" class="btn btn-brand m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="fa flaticon-edit"></i>
									</a>
									<a href="#" class="btn btn-accent m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill m-btn--air">
										<i class="fa flaticon-folder-2"></i>
									</a>
									<a href="#" class="btn btn-metal m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
										<i class="fa flaticon-music"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>
