<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        ChatBox
      </h3>
    </div>

    <!--list of group mem-->
    <!--list of group members-->
    <ul  style="list-style-type: none;">
    <li class="m-menu__item" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true">
      <a routerLink="/membersinfo" class="m-menu__link">Members List
       <!-- <i class="fa fa-info-circle" style="font-size: 2.0em" aria-hidden="true"></i>-->
      </a>
    </li>
    </ul>
    <!-- BEGIN: Class Dropdown -->


    <!-- END: Class Dropdown -->
  </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
  <!--Begin::Main Portlet-->
  <div class="row">
    <div class="col-xl-12">
      <!--begin:: Widgets/New Users-->
      <div class="m-portlet m-portlet--full-height">

        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                ChatBox
              </h3>
            </div>
          </div>

        </div>

        <div class="m-portlet__body">

          <div class="tab-content">
            <div class="tab-pane active m-scrollable" role="tabpanel" style="overflow: auto;height: 200px;" #scrollMe
                 [scrollTop]="scrollMe.scrollHeight">
              <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">


                <div class="m-messenger__messages">

                  <!--begin:: Widgets/New Users-->
                  <div class="m-portlet m-portlet--full-height">
                    <div class="m-portlet__body">
                      <div class="tab-content">
                        <div class="tab-pane active" id="m_widget4_tab1_content">

                          <div *ngFor="let c of conversation; trackBy: message">

                            <!--in message starts-->
                            <span *ngIf="uid!=c.sentFrom.id">

                                    <div class="m-messenger__message m-messenger__message--in">

                                      <div class="m-messenger__message-pic">
                                        <img src="{{c.sentFrom.avtar}}" alt=""/>
                                      </div>

                                      <div class="m-messenger__message-body">
                                        <div class="m-messenger__message-arrow"></div>
                                        <div class="m-messenger__message-content">
                                          <div class="m-messenger__message-username" style="font-weight: bold">
                                            {{c.sentFrom.name}}
                                          </div>
                                          <div class="m-messenger__message-text">
                                            {{c.message}}
                                          </div>
                                        </div>
                                      </div>

                                    </div>

                                    <div class="m-messenger__datetime" style="text-align: left; margin-left: 5%">
                                      {{c.sentAt | date : 'short'}}
                                    </div><br>

                                  </span>
                            <!--in message ends-->

                            <!--out message starts-->
                            <span *ngIf="uid==c.sentFrom.id">
                                  <div class="m-messenger__message m-messenger__message--out">

                                    <div class="m-messenger__message-body">
                                      <div class="m-messenger__message-arrow"></div>
                                      <div class="m-messenger__message-content">
                                        <div class="m-messenger__message-text">
                                          {{c.message}}
                                        </div>
                                      </div>
                                    </div>

                                  </div>

                                  <div class="m-messenger__datetime" style="text-align: right">
                                    {{c.sentAt | date : 'short'}}
                                  </div>
                                  </span>
                            <!--out message ends-->

                          </div>


                              <!--sending messages starts-->
                          <!--for sending messages ends-->

                        </div><!--tab-pane ends-->
                      </div><!--tab-contents ends-->
                    </div><!--m-portlet__body ends-->
                  </div><!--End::Main Portlet   -->

                </div>

              </div>
            </div>

          </div>
          <div class="m-messenger__seperator"></div>
          <div class="m-messenger__form">
            <div class="row">
              <div class="col-sm-11">

            <div class="m-messenger__form-controls">
              <input type="text" name="in" placeholder="Type here..." class="m-messenger__form-input inputtext" [(ngModel)]='sendmsg'>
            </div>
              </div>
              <div class="col-sm-1"style="margin-top: 4%" >
                <div class="m-messenger__form-tools" on-click="postMessage(sendmsg)">
              <a href="" class="m-messenger__form-attachment">
                <i class="fa fa-mail-forward"></i>
              </a>
            </div>
              </div>
        </div>
      </div>
      <!--end:: Widgets/New Users-->
    </div>
  </div>
  <!--End::Main Portlet-->
</div>
  </div></div>
