<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Switch
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Forms
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Form Controls
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Switch
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-md-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Basic Usage
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Basic checkboxes states:
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview">
									<!--begin::Form-->
									<form class="m-form">
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Default Switch
											</label>
											<div class="col-3">
												<span class="m-switch">
													<label>
														<input type="checkbox" checked="checked" name=""/>
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												With Icon
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--icon">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Unchacked State
											</label>
											<div class="col-3">
												<span class="m-switch">
													<label>
														<input type="checkbox"  name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												With Icon
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--icon-check">
													<label>
														<input type="checkbox"  name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Disabled State
											</label>
											<div class="col-3">
												<span class="m-switch">
													<label>
														<input type="checkbox" disabled name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												With Icon
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--icon">
													<label>
														<input type="checkbox" disabled name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
									</form>
									<!--end::Form-->
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Switch Sizing
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<span class="m-section__sub">
							Large size:
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview">
									<!--begin::Form-->
									<form class="m-form">
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Default Switch
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--lg">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												With Icon
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--lg m-switch--icon">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Unchacked State
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--lg m-switch--icon">
													<label>
														<input type="checkbox"  name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												With Icon
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--lg m-switch--icon">
													<label>
														<input type="checkbox"  name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Disabled State
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--lg">
													<label>
														<input type="checkbox" disabled name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												With Icon
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--lg m-switch--icon">
													<label>
														<input type="checkbox" disabled name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
									</form>
									<!--end::Form-->
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Small size:
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview">
									<!--begin::Form-->
									<form class="m-form">
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Default Switch
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--sm">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												With Icon
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--sm m-switch--icon">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Unchacked State
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--sm">
													<label>
														<input type="checkbox"  name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												With Icon
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--sm m-switch--icon">
													<label>
														<input type="checkbox"  name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Disabled State
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--sm">
													<label>
														<input type="checkbox" disabled name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												With Icon
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--sm m-switch--icon">
													<label>
														<input type="checkbox" disabled name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
									</form>
									<!--end::Form-->
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->				<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Switch State Colors
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section m-section--last">
						<span class="m-section__sub">
							Solid style:
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview">
									<!--begin::Form-->
									<form class="m-form">
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Success
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--success">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Warning
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--warning">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Info
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--info">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Danger
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--danger">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Primary
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--primary">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Accent
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--accent">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Brand
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--brand">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Metal
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--metal">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
									</form>
									<!--end::Form-->
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-md-6">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Switch State Colors
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section m-section--last">
						<span class="m-section__sub">
							Solid style with icon:
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview">
									<!--begin::Form-->
									<form class="m-form">
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Success
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--icon m-switch--success">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Warning
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--icon m-switch--warning">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Info
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--icon m-switch--info">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Danger
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--icon m-switch--danger">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Primary
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--icon m-switch--primary">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Accent
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--icon m-switch--accent">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Brand
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--icon m-switch--brand">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Metal
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--icon m-switch--metal">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
									</form>
									<!--end::Form-->
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline style:
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview">
									<!--begin::Form-->
									<form class="m-form">
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Success
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--success">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Warning
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--warning">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Info
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--info">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Danger
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--danger">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Primary
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--primary">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Accent
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--accent">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Brand
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--brand">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Metal
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--metal">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
									</form>
									<!--end::Form-->
								</div>
							</div>
						</div>
						<span class="m-section__sub">
							Outline style with icon:
						</span>
						<div class="m-section__content">
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview">
									<!--begin::Form-->
									<form class="m-form">
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Success
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Warning
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--icon m-switch--warning">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Info
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--icon m-switch--info">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Danger
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--icon m-switch--danger">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Primary
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--icon m-switch--primary">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Accent
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--icon m-switch--accent">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
										<div class="m-form__group form-group row">
											<label class="col-3 col-form-label">
												Brand
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--icon m-switch--brand">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
											<label class="col-3 col-form-label">
												Metal
											</label>
											<div class="col-3">
												<span class="m-switch m-switch--outline m-switch--icon m-switch--metal">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
											</div>
										</div>
									</form>
									<!--end::Form-->
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>
