agm-map {
    height: 400px;
}
  
p {
    font-family: Lato;
  }
  
  
  * {
    font-family: Lato;
  }
  
  a {
    color: darkblue;
  }

  /* ------------------------------- */

  .title-box{
    display: inline-block;
    width: 50% !important;
    padding: 0px 15px;    
  }

  .heading{
    font-size: 30px;
    font-family: Segoe UI; 
  }