<div class="m-subheader">
  <div class="row">
    <div class="col-lg-12">
      
        <div class="title-box">
          <h3 class="heading font-weight-bold">Track Bus</h3>
          <!-- <p class="sub-heading">so far</p> -->
        </div>
        <!-- <div class="event-addbtn-box">
          <a class="create-btn text-white mt-3" href="#" data-toggle="modal" data-target="#m_modal_7">+ CREATE</a>
        </div> -->
       
      <div class="row">
        <div class="col-lg-12" >
          <div class="map">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
              <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination" [markerOptions]="markerOptions" [renderOptions]="dir.renderOptions"></agm-direction>
            </agm-map>
          </div>
          
          <!-- <button class="btn btn-sm btn-primary" (click)="redColor()">RED</button>
          <button class="btn btn-sm btn-warning" (click)="greenColor()">BLUE</button>
           -->
          
        </div>

      </div>


    </div>

  </div>
</div>