<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Alerts
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Base
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Alerts
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-xl-6">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Basic Contextual Alerts
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section__content">
						<div class="alert m-alert--default" role="alert">
							<strong>
								Hello World!
							</strong>
							This is default alert message box style.
						</div>
						<div class="alert alert-success" role="alert">
							<strong>
								Well done!
							</strong>
							You successfully read this important alert message.
						</div>
						<div class="alert alert-info" role="alert">
							<strong>
								Heads up!
							</strong>
							This alert needs your attention, but it's not super important.
						</div>
						<div class="alert alert-warning" role="alert">
							<strong>
								Warning!
							</strong>
							Better check yourself, you're not looking too good.
						</div>
						<div class="alert alert-danger" role="alert">
							<strong>
								Oh snap!
							</strong>
							Change a few things up and try submitting again.
						</div>
						<div class="alert alert-brand" role="alert">
							<strong>
								Brand!
							</strong>
							You successfully read this important alert message.
						</div>
						<div class="alert alert-primary" role="alert">
							<strong>
								Heads up!
							</strong>
							This alert needs your attention, but it's not super important.
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Dismissible Alerts
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section__content">
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
							<strong>
								Well done!
							</strong>
							You successfully read this important alert message.
						</div>
						<div class="alert alert-info alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
							<strong>
								Heads up!
							</strong>
							This alert needs your attention, but it's not super important.
						</div>
						<div class="alert alert-warning alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
							<strong>
								Warning!
							</strong>
							Better check yourself, you're not looking too good.
						</div>
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
							<strong>
								Oh snap!
							</strong>
							Change a few things up and try submitting again.
						</div>
						<div class="alert alert-brand alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
							<strong>
								Brand!
							</strong>
							You successfully read this important alert message.
						</div>
						<div class="alert alert-primary alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
							<strong>
								Heads up!
							</strong>
							This alert needs your attention, but it's not super important.
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->		<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Alert Icons & Action Buttons
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div class="m-alert m-alert--icon m-alert--outline alert alert-success alert-dismissible fade show" role="alert">
						<div class="m-alert__icon">
							<i class="la la-warning"></i>
						</div>
						<div class="m-alert__text">
							<strong>
								Well done!
							</strong>
							You successfully read this message.
						</div>
						<div class="m-alert__close">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
						</div>
					</div>
					<div class="m-alert m-alert--icon m-alert--outline alert alert-primary" role="alert">
						<div class="m-alert__icon">
							<i class="la la-warning"></i>
						</div>
						<div class="m-alert__text">
							<strong>
								Well done!
							</strong>
							You successfully read this message.
						</div>
						<div class="m-alert__actions" style="width: 200px;">
							<button type="button" class="btn btn-brand btn-sm m-btn m-btn--pill m-btn--wide" >
								Fix
							</button>
							<button type="button" class="btn btn-danger btn-sm m-btn m-btn--pill m-btn--wide" data-dismiss="alert" aria-label="Close">
								Dismiss
							</button>
						</div>
					</div>
					<div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert alert-brand alert-dismissible fade show" role="alert">
						<div class="m-alert__icon">
							<i class="flaticon-exclamation-1"></i>
							<span></span>
						</div>
						<div class="m-alert__text">
							<strong>
								Well done!
							</strong>
							You successfully read this message.
						</div>
						<div class="m-alert__close">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
						</div>
					</div>
					<div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert alert-danger alert-dismissible fade show" role="alert">
						<div class="m-alert__icon">
							<i class="flaticon-exclamation-1"></i>
							<span></span>
						</div>
						<div class="m-alert__text">
							<strong>
								Well done!
							</strong>
							You successfully read this message.
						</div>
						<div class="m-alert__close">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
						</div>
					</div>
					<div class="m-alert m-alert--icon alert alert-accent" role="alert">
						<div class="m-alert__icon">
							<i class="la la-warning"></i>
						</div>
						<div class="m-alert__text">
							<strong>
								Well done!
							</strong>
							Dismiss will remove it permanently!
						</div>
						<div class="m-alert__close">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
						</div>
					</div>
					<div class="m-alert m-alert--icon alert alert-warning" role="alert">
						<div class="m-alert__icon">
							<i class="la la-warning"></i>
						</div>
						<div class="m-alert__text">
							<strong>
								Well done! Dismiss will just hide me, i will not be removed!
							</strong>
						</div>
						<div class="m-alert__close">
							<button type="button" class="close" data-close="alert" aria-label="Hide"></button>
						</div>
					</div>
					<div class="m-alert m-alert--icon alert alert-primary" role="alert">
						<div class="m-alert__icon">
							<i class="la la-warning"></i>
						</div>
						<div class="m-alert__text">
							<strong>
								Well done!
							</strong>
							You successfully read this message.
						</div>
						<div class="m-alert__actions" style="width: 160px;">
							<button type="button" class="btn btn-warning btn-sm m-btn m-btn--pill m-btn--wide" >
								Fix
							</button>
						</div>
					</div>
					<div class="m-alert m-alert--icon alert alert-danger" role="alert">
						<div class="m-alert__icon">
							<i class="flaticon-danger"></i>
						</div>
						<div class="m-alert__text">
							<strong>
								Well done!
							</strong>
							You successfully read this message.
						</div>
						<div class="m-alert__actions" style="width: 220px;">
							<button type="button" class="btn btn-outline-light btn-sm m-btn m-btn--hover-brand" data-dismiss="alert1" aria-label="Close">
								Dismiss
							</button>
						</div>
					</div>
				</div>
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-xl-6">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Alert Styles
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							Outline Style
						</h3>
						<div class="m-section__content">
							<div class="m-alert m-alert--outline alert alert-success alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Well done!
								</strong>
								You successfully read this important alert message.
							</div>
							<div class="m-alert m-alert--outline alert alert-info alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Heads up!
								</strong>
								This alert needs your attention, but it's not super important.
							</div>
							<div class="m-alert m-alert--outline alert alert-warning alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Warning!
								</strong>
								Better check yourself, you're not looking too good.
							</div>
							<div class="m-alert m-alert--outline alert alert-accent alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Warning!
								</strong>
								Better check yourself, you're not looking too good.
							</div>
						</div>
					</div>
					<!--end::Section-->				<!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							Outline 2x Style
						</h3>
						<div class="m-section__content">
							<div class="m-alert m-alert--outline m-alert--outline-2x alert alert-success alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Well done!
								</strong>
								You successfully read this important alert message.
							</div>
							<div class="m-alert m-alert--outline m-alert--outline-2x alert alert-info alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Heads up!
								</strong>
								This alert needs your attention, but it's not super important.
							</div>
							<div class="m-alert m-alert--outline m-alert--outline-2x alert alert-warning alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Warning!
								</strong>
								Better check yourself, you're not looking too good.
							</div>
							<div class="m-alert m-alert--outline m-alert--outline-2x alert alert-accent alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Warning!
								</strong>
								Better check yourself, you're not looking too good.
							</div>
						</div>
					</div>
					<!--end::Section-->				<!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							Square Style
						</h3>
						<div class="m-section__content">
							<div class="m-alert m-alert--square alert alert-brand alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Well done!
								</strong>
								You successfully read this important alert message.
							</div>
							<div class="m-alert m-alert--outline m-alert--square m-alert--outline-2x alert alert-success alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Well done!
								</strong>
								You successfully read this important alert message.
							</div>
							<div class="m-alert m-alert--outline m-alert--square m-alert--outline-2x alert alert-accent alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Well done!
								</strong>
								You successfully read this important alert message.
							</div>
							<div class="m-alert m-alert--outline m-alert--square alert alert-info alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Heads up!
								</strong>
								This alert needs your attention, but it's not super important.
							</div>
							<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-success alert-dismissible fade show" role="alert">
								<div class="m-alert__icon">
									<i class="la la-warning"></i>
								</div>
								<div class="m-alert__text">
									<strong>
										Well done!
									</strong>
									You successfully read this message.
								</div>
								<div class="m-alert__close">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								</div>
							</div>
							<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible fade show" role="alert">
								<div class="m-alert__icon">
									<i class="la la-warning"></i>
								</div>
								<div class="m-alert__text">
									<strong>
										Well done!
									</strong>
									You successfully read this message.
								</div>
								<div class="m-alert__close">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->				<!--begin::Section-->
					<div class="m-section">
						<h3 class="m-section__heading">
							Air Style
						</h3>
						<div class="m-section__content">
							<div class="alert alert-dismissible fade show   m-alert m-alert--outline m-alert--air" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Heads up!
								</strong>
								This alert needs your attention, but it's not super important.
							</div>
							<div class="alert alert-brand alert-dismissible fade show   m-alert m-alert--square m-alert--air" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Well done!
								</strong>
								You successfully read this important alert message.
							</div>
							<div class="alert alert-accent alert-dismissible fade show   m-alert m-alert--square m-alert--air" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Well done!
								</strong>
								You successfully read this important alert message.
							</div>
							<div class="alert alert-danger alert-dismissible fade show   m-alert m-alert--air" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Well done!
								</strong>
								You successfully read this important alert message.
							</div>
							<div class="alert alert-warning alert-dismissible fade show   m-alert m-alert--air m-alert--outline m-alert--outline-2x" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Well done!
								</strong>
								You successfully read this important alert message.
							</div>
							<div class="alert alert-metal alert-dismissible fade show   m-alert m-alert--air m-alert--outline m-alert--outline-2x" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Well done!
								</strong>
								You successfully read this important alert message.
							</div>
							<div class="alert alert-primary alert-dismissible fade show   m-alert m-alert--air m-alert--outline" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								<strong>
									Well done!
								</strong>
								You successfully read this important alert message.
							</div>
							<div class="m-alert m-alert--icon m-alert--air alert alert-success alert-dismissible fade show" role="alert">
								<div class="m-alert__icon">
									<i class="la la-warning"></i>
								</div>
								<div class="m-alert__text">
									<strong>
										Well done!
									</strong>
									You successfully read this message.
								</div>
								<div class="m-alert__close">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								</div>
							</div>
							<div class="m-alert m-alert--icon m-alert--air alert alert-dismissible fade show" role="alert">
								<div class="m-alert__icon">
									<i class="la la-warning"></i>
								</div>
								<div class="m-alert__text">
									<strong>
										Well done!
									</strong>
									You successfully read this message.
								</div>
								<div class="m-alert__close">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>
