<!-- BEGIN: Subheader -->
<div class="m-subheader m-subheader-nonTeacher" appunwraptag="">
  <div class="">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <h3 class=" m-subheader__title">Non Teachers</h3>
        <p class="nonTeaching-sub-heading text-warning">All Non Teaching Staff</p>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="grey-box">

          <div class="overview">
            <h5 class="text-white">Overview</h5>
          </div>
          <div class="inTime">
            <div class="text-center text-white inTime-time">Assistant</div>
            <div class="text-center  text-white digit" *ngIf="assistant_list">{{ assistant_list.length}}</div>
            <div class="text-center  text-white digit" *ngIf="!securityStats"></div>

          </div>
          <div class="outTime">
            <div class="text-center  text-white outTime-time">Driver</div>
            <div class="text-center  text-white digit" *ngIf="driver_list">{{ driver_list.length}}</div>
            <div class="text-center  text-white digit" *ngIf="!securityStats"></div>

          </div>
        </div>
        <!--<div class="row pl-2 pr-2">
                <div class="col-lg-4 col-md-4">
                  <h5 class="main-text text-center">Overview</h5>
                </div>
                <div class="col-lg-4 col-md-4 overview-padding">
                  <div class="text-center overview-text">In time</div>
                  <div class="text-center overview-time">45</div>
                </div>
                <div class="col-lg-4 col-md-4 overview-padding">
                  <div class="text-center  overview-text">Out time</div>
                  <div class="text-center overview-time">12</div>
                </div>
              </div>-->

      </div>
    </div>
  </div>
</div>
<!--class="col-xl-12"-->
<!--class="col-xl-6 col-lg-12" -->

<div class="m-content">
  <div class="row">
    <div [ngClass]="addCssClass(applyhalfview , applyfullview)">
      <div class="m-portlet m-portlet--full-height background">

        <div class="m-portlet__head m-portlet__head-nonTeachers">
          <!--<div class="m-portlet__head-tools">-->
          <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
            <li class="nav-item m-tabs__item" on-click="assistantClick(); addCssClass(false)">
              <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_inbox_tab_assistant_assistant"
                role="tab">
                Assistant
              </a>
            </li>
            <li class="nav-item m-tabs__item" on-click="driverClick()">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_inbox_tab_driver_driver" role="tab">
                Driver
              </a>
            </li>
            <!-- <li class="nav-item m-tabs__item" on-click="driverClick()">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_inbox_tab_wait_list_driver" role="tab">
                    Wait-List
                </a>
              </li> -->
          </ul>
          <!--</div>-->
        </div>

        <div class="m-portlet__body non-teaching-top-padding">
          <div class="tab-content">

            <div class="tab-pane active" id="m_user_inbox_tab_assistant_assistant">
              <!--begin::Widget 14-->
              <div *ngIf="assistant_list !== null && assistant_list != ''">
                <div class="white-box-margin bg-white" *ngFor="let assistant of assistant_list">

                  <div class="nonTeacher-small-sqaure">
                    <input type="checkbox">
                  </div>
                  <div class="teacher-details">
                    <a href="#Teacherdetails" data-toggle="modal"
                      on-click="getNonTeacherDetails(assistant)"><span><img src="{{assistant.avtarURL}}"
                          class="m--img-rounded m--marginless m--img-centered"
                          onError="this.src='././assets/images/avatar.jpg'"></span><span
                        class="ml-2 font-weight-bold teacher-name">{{assistant.name}}</span></a>
                  </div>
                  <div class="icons">
                    <!--<a href="#" class=" "><img src="././assets/images/watsapp.png"></a>-->
                    <a href="#mymodal" class="" data-toggle="modal" data-target="#m_modal_7"><img
                        src="././assets/images/message.png"></a>
                    <a href="#" class="" href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"><img
                        src="././assets/images/inbox.png"></a>
                    <a href="#" class="" href="https://web.whatsapp.com/" target="_blank"><img
                        src="././assets/images/watsapp.png"></a>
                  </div>

                  <!--<div class="row">
                            <div class="col-lg-1">
                              <div class="small-sqaure">
                                <input type="checkbox">
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <a href="#Teacherdetails" data-toggle="modal" data-target=""
                                on-click="getTeacherDetails(teacher)"><span><img src="{{assistant.avtarURL}}" height="55px" width="55px"
                                    class="m--img-rounded m--marginless m--img-centered"
                                    onError="this.src='././assets/images/avatar.jpg'"></span><span
                                  class="ml-2 font-weight-bold teacher-name">{{assistant.name}}</span></a>
                
                            </div>
                            <div class="col-lg-4">
                              <p class="text-default font-weight-bold text-center mt-3"></p>
                
                            </div>
                            <div class="col-lg-4">
                              <div class="icons mt-2"><a href="#" class=" mr-4"><img src="././assets/images/watsapp.png"></a>
                                <a href="#mymodal" class="ml-4  mr-4" data-toggle="modal" data-target="#m_modal_5"><img
                                    src="././assets/images/message.png"></a>
                                <a href="#" class="ml-4 "><img src="././assets/images/inbox.png"></a>
                              </div>
                            </div>
                          </div>-->

                </div>


              </div>
              <div *ngIf="assistant_list == null || assistant_list == ''">
                <div class="m-widget4__item">No Record found for Assistant.</div>


              </div>

              <!--end::Widget 14-->
            </div>

            <div class="tab-pane" id="m_user_inbox_tab_driver_driver">
              <div *ngIf="driver_list !== null && driver_list != ''">
                <div class="white-box-margin bg-white" *ngFor="let driver of driver_list">
                  <div class="nonTeacher-small-sqaure">
                    <input type="checkbox">
                  </div>
                  <div class="teacher-details">
                    <a href="#Teacherdetails" data-toggle="modal" data-target="#m_modal_5"
                      on-click="getNonTeacherDetails(driver)"><span><img src="{{driver.avtarURL}}"
                          class="m--img-rounded m--marginless m--img-centered"
                          onError="this.src='././assets/images/avatar.jpg'"></span><span
                        class="ml-2 font-weight-bold teacher-name">{{driver.name}}</span></a>
                  </div>
                  <div class="icons">
                    <!--<a href="#" class=" "><img src="././assets/images/watsapp.png"></a>-->
                    <a href="#mymodal" class="" data-toggle="modal" data-target="#m_modal_7"><img
                        src="././assets/images/message.png"></a>
                    <a href="#" class="" href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"><img src="././assets/images/inbox.png" ></a>
                    <a href="#" class="" href="https://web.whatsapp.com/" target="_blank"><img
                      src="././assets/images/watsapp.png"></a>
                  </div>
                  <!--<div class="row p-2">
                          <div class="col-lg-12">
                            <div class="row">
                              <div class="col-lg-1">
                                <div class="small-sqaure">
                                  <input type="checkbox">
                                </div>
                              </div>
                              <div class="col-lg-3">
                                <a href="#Teacherdetails" data-toggle="modal" data-target=""
                                  on-click="getTeacherDetails(teacher)"><span><img src="{{driver.avtarURL}}"
                                      class="m--img-rounded m--marginless m--img-centered"
                                      onError="this.src='././assets/images/avatar.jpg'"></span><span
                                    class="ml-2 font-weight-bold teacher-name">{{driver.name}}</span></a>
                  
                              </div>
                              <div class="col-lg-4">-->
                  <!--  {{driver.sentBy.name}}
                                <p class="text-default font-weight-bold text-center mt-3"></p>-->

                  <!--</div>
                              <div class="col-lg-4">
                                <div class="icons"><a href="#" class=""><img src="././assets/images/watsapp.png"></a>
                                  <a href="#mymodal" class="" data-toggle="modal" data-target="#m_modal_5"><img
                                      src="././assets/images/message.png"></a>
                                  <a href="#" class=""><img src="././assets/images/inbox.png"></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>-->
                </div>


              </div>
              <div *ngIf="driver_list == null || driver_list == ''">
                <div class="m-widget4__item">No Record found for Driver.</div>

              </div>
            </div>

            <div class="tab-pane" id="m_user_inbox_tab_wait_list_driver">
              <div *ngIf="praise_list !== null && praise_list != ''">
                <div class="white-box-margin bg-white" *ngFor="let item_inbox_praise of praise_list">
                  <div class="small-sqaure">
                    <input type="checkbox">
                  </div>
                  <div class="teacher-details">
                    <a href="#Teacherdetails" data-toggle="modal" data-target="#m_modal_5"
                      on-click="getNonTeacherDetails(item_inbox_praise)"><span><img src="{{item_inbox_praise.avtarURL}}"
                          class="m--img-rounded m--marginless m--img-centered"
                          onError="this.src='././assets/images/avatar.jpg'"></span><span
                        class="ml-2 font-weight-bold teacher-name">{{item_inbox_praise.name}}</span></a>
                  </div>
                  <div class="icons">
                    <!--<a href="#" class=" "><img src="././assets/images/watsapp.png"></a>-->
                    <a href="#mymodal" class="" data-toggle="modal" data-target="#m_modal_7"><img
                        src="././assets/images/message.png"></a>
                    <a href="#" class="" href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"><img src="././assets/images/inbox.png"></a>
                  </div>
                  <!--<div class="row p-2">
                          <div class="col-lg-12">
                            <div class="row">
                              <div class="col-lg-1">
                                <div class="small-sqaure">
                                  <input type="checkbox">
                                </div>
                              </div>
                              <div class="col-lg-3">
                                <a href="#Teacherdetails" data-toggle="modal" data-target=""
                                  on-click="getTeacherDetails(teacher)"><span><img src="{{item_inbox_praise.avtarURL}}" height="55px" width="55px"
                                      class="m--img-rounded m--marginless m--img-centered"
                                      onError="this.src='././assets/images/avatar.jpg'"></span><span
                                    class="ml-2 font-weight-bold teacher-name">{{item_inbox_praise.name}}</span></a>
                  
                              </div>
                              <div class="col-lg-4">
                                  {{item_inbox_praise.sentBy.name}}
                                <p class="text-default font-weight-bold text-center mt-3"></p>
                  
                              </div>
                              <div class="col-lg-4">
                                <div class="icons mt-2"><a href="#" class="pull-right mr-4"><img src="././assets/images/watsapp.png"></a>
                                  <a href="#mymodal" class="ml-4 pull-right mr-4" data-toggle="modal" data-target="#m_modal_5"><img
                                      src="././assets/images/message.png"></a>
                                  <a href="#" class="ml-4 pull-right"><img src="././assets/images/inbox.png"></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>-->
                </div>


              </div>
              <div *ngIf="praise_list == null || praise_list == ''">

                <div class="m-widget4__item">No Record found for Wait List.</div>

              </div>
            </div>


            <!-- <div class="tab-pane" id="m_user_inbox_tab_feedback" >
              <div class="m-widget4" >
                <div class="m-widget4__item" *ngFor="let item_inbox_feedback of feedback_list">


                  <div class="m-widget4__info" on-click="item_inbox_complain_click(item_inbox_feedback.id)">
                    <h3 class="m-widget4__title">
                      {{item_inbox_feedback.title}}
                      <i class="la la-download float-right"></i>
                    </h3>
                  </div>
                  <div class="m-widget4__img m-widget4__img&#45;&#45;pic float-right">
                    <img src="{{item_inbox_feedback.sentBy.avtarURL}}" alt="">
                  </div>
                  <div class="m-widget4__ext">
                  <span class="m-widget4__title">
											{{item_inbox_feedback.sentBy.name}}
										</span>
                    <br/>
                    <span class="m-widget4__sub">

                    </span>
                  </div>
                </div> <br/>
              </div>
            </div>-->

          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-6 col-lg-12" *ngIf="conversation">
      <div class="m-portlet m-portlet--full-height">


        <div class="tab-content" style="padding: 5%">
          <div class="tab-pane active m-scrollable" id="m_quick_sidebar_tabs_messenger" role="tabpanel"
            style="height: 200px;">
            <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light"
              style="overflow: auto;height: 100%;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
              <div class="m-messenger__messages">

                <div *ngFor="let msg of conversation; trackBy: message">

                  <span *ngIf="uid!=msg.sentFrom.id">
                    <div class="m-messenger__message m-messenger__message--in">
                      <div class="m-messenger__message-pic">
                        <img src="{{msg.sentFrom.avtar}}" alt="" />
                      </div>
                      <div class="m-messenger__message-body">
                        <div class="m-messenger__message-arrow"></div>
                        <div class="m-messenger__message-content">
                          <div class="m-messenger__message-username">
                            {{msg.sentFrom.name}}
                          </div>
                          <div class="m-messenger__message-text">
                            {{msg.message}}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="m-messenger__datetime" style="text-align: left; margin-left: 5%">
                      {{msg.sentAt | date : 'short'}}
                    </div><br>

                  </span>


                  <span *ngIf="uid==msg.sentFrom.id">
                    <div class="m-messenger__message m-messenger__message--out">

                      <div class="m-messenger__message-body">
                        <div class="m-messenger__message-arrow"></div>
                        <div class="m-messenger__message-content">
                          <div class="m-messenger__message-text">
                            {{msg.message}}
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="m-messenger__datetime" style="text-align: right">
                      {{msg.sentAt | date : 'short'}}
                    </div>
                  </span>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m-messenger__seperator"></div>
        <div class="m-messenger__form">
          <div class="row">
            <div class="col-sm-11">

              <div class="m-messenger__form-controls">
                <input type="text" name="in" placeholder="Type here..." class="m-messenger__form-input inputtext"
                  [(ngModel)]='sendmsg'>
              </div>
            </div>
            <div class="col-sm-1" style="margin-top: 4%">
              <div class="m-messenger__form-tools" on-click="postMessage(sendmsg)">
                <a href="" class="m-messenger__form-attachment">
                  <i class="fa fa-mail-forward"></i>
                </a>
              </div>
            </div>
            <!--<div class="tab-content">
              <div class="tab-pane active " id="m_quick_sidebar_tabs_messenger" role="tabpanel">

                <div class="tab-pane ">
                  <div class="m-messenger__form">
                    <div class="row">
                      <div class="col-sm-11">
                      <div class="m-messenger__form-controls">
                        <input class="m-messenger__form-input form-control ng-untouched ng-pristine ng-valid" name="in"
                               placeholder="Type here..." type="text" ng-reflect-name="in">
                      </div>
                      </div>&lt;!&ndash;col&ndash;&gt;
                      <div class="col-sm-1">
                        <div class="m-messenger__form-tools">
                        <a class="m-messenger__form-attachment" href="" ng-reflect-href="">
                          <i class="fa fa-mail-forward"></i>
                        </a>
                      </div>
                      </div>&lt;!&ndash;col&ndash;&gt;
                    </div> &lt;!&ndash;row&ndash;&gt;
                  </div>
                </div>


              </div>
            </div>-->
          </div>
        </div>
        <!--  <div class="m-messenger__seperator"></div>

          <div class="m-messenger__form">

            <div class="m-messenger__form-controls">
              <input type="text" name="" placeholder="Type here..." class="m-messenger__form-input" [(ngModel)]="sendmsg">
            </div>

            <div class="m-messenger__form-tools" on-click="postMessage(sendmsg)">
              <a href="" class="m-messenger__form-attachment">
                <i class="fa fa-mail-forward" ></i>
              </a>
            </div>

          </div>-->
      </div>
    </div>

  </div>


</div>
<!--</div>


</div>

</div>
</div>-->

<!--------------------------------------staff details modal--------------------------------------------->
<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
  aria-hidden="true" *ngIf="staffDetails">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header header-size-view">
        <h3 class="modal-heading">Details</h3>
        <a href="#" class="close" data-dismiss="modal">&times;</a>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-2 col-md-2 d-flex justify-content-center">
            <span><img src="" height="55px" width="55px" onError="this.src='././assets/images/avatar.jpg'"
                class="m--img-rounded m--marginless m--img-centered"></span>
          </div>
          <div class="col-lg-10 col-md-10">
            <div class="teacher-details-div">
              <h4 class="font-weight-bold">
                {{staffDetails.name}}
              </h4>
              <span class="teacher-designation-name">Assistant</span>
            </div>
            <!--</div>
              <div class="col-lg-6 col-md-6">-->

            <div class="teacher-modal-icons">

              <a href="#mymodal" class="ml-4 pull-right mr-4" data-toggle="modal" data-target="#m_modal_7"><img
                  src="././assets/images/message.png" height="30px" width="30px"></a>
              <a href="#" class="ml-4 pull-right" href="https://mail.google.com/mail/u/0/#inbox?compose=new"
                target="_blank"><img src="././assets/images/inbox.png" height="30px" width="30px"></a>
                <a href="#" class="" href="https://web.whatsapp.com/" target="_blank"><img
                  src="././assets/images/watsapp.png" height="30px" width="30px"></a>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-lg-2 col-md-2">

          </div>
          <div class="col-lg-10 col-md-10">
            <div class="row">
              <table class="table table-borderless">

                <tbody>
                  <tr>

                    <td><span class="table grey-heading">Work Shift</span>
                      <p class="table ">07:00am - 12:00pm</p>
                    </td>
                    <td><span class="table grey-heading">Email</span>
                      <p class="table">{{staffDetails.email}}</p>
                    </td>

                  </tr>
                  <tr>

                    <td><span class="table grey-heading">Address</span>
                      <p class="table">{{staffDetails.name}}</p>
                    </td>
                    <td><span class="table grey-heading">Country</span>
                      <p class="table">{{staffDetails.countryCode}}</p>
                    </td>

                  </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
        <!--<div class="row">
              <div class="col-lg-2 col-md-2">

              </div>
              <div class="col-lg-9 col-md-9">
                <div class="row">
                  <div>
                    <p class="table-heading">Academics</p>
                  </div>
                  <table class="table table-borderless">
                    <thead>

                      <tr class="heading-row">
                        <th scope="col">Div</th>
                        <th scope="col">Class</th>
                        <th scope="col">Subject</th>
                      </tr>

                    </thead>
                    <tbody>
                      <tr *ngFor="let lecture of lecture_data">

                        <td>{{ lecture.std }}</td>
                        <td>{{ lecture.div }}</td>
                        <td>{{ lecture.subject }}</td>
                      </tr>

                    </tbody>
                  </table>
                </div>-->
        <!--<a href="#" class="btn-dlt pull-right"><img src="././assets/images/delete_sweep-24px.png" height="15px"
                    width="15px" class="mr-2">Delete</a>
                <a href="#" class="btn-sub pull-right mr-1"><img src="././assets/images/Path 1974.png" height="10px"
                    width="10px" class="mr-2">Sub Admin</a>
              </div>-->

        <!--</div>



          </div>-->
      </div>
    </div>
  </div>

</div>


<!-------------------------------------- Message Modal pop-up --------------------------------------------->

<div class="modal fade" id="m_modal_7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
  aria-hidden="true">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header header-size-view">
        <h4 class="modal-heading">Message</h4>
        <a type="button" class="close" data-dismiss="modal">&times;</a>
      </div>
      <div class="modal-body">
        <form [formGroup]="messageForm" (ngSubmit)="onMessageSubmit()">
          <span class="m-dropdown__label-title-teacher m-2">Category: </span>
          <select id="category" class="form-control form-dropdown mb-3 text-box" formControlName="category"
            ng-required="true">
            <option>Select Category</option>
            <option value="{{c}}" *ngFor="let c of category_list">{{c}}</option>
          </select>
          <span
            *ngIf="messageForm.get('category').errors && (messageForm.get('category').touched || messageForm.get('category').dirty)"
            class="help-block">
            <span *ngIf="messageForm.get('category').errors.required" class="error-message">
              Please select category!
            </span>

          </span>
          <!--<div class="dropdown pull-right mb-2">
              <button class="btn btn-default dropdown-toggle drop-category" type="button" data-toggle="dropdown">Select
                Category
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Complain</a></li>
                <li><a href="#">Suggestion</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>-->

          <div class="form-group">
            <input type="text" class="form-control text-box" placeholder="Enter a Subject" formControlName="subject">
            <span
              *ngIf="messageForm.get('subject').errors && (messageForm.get('subject').touched || messageForm.get('subject').dirty)"
              class="help-block">
              <span *ngIf="messageForm.get('subject').errors.required" class="error-message">
                Please fill subject!
              </span>

            </span>
          </div>
          <div class="form-group">
            <textarea class="form-control textareabox" rows="5" formControlName="message"
              placeholder="Enter Your Message Here...."></textarea>
            <span
              *ngIf="messageForm.get('message').errors && (messageForm.get('message').touched || messageForm.get('message').dirty)"
              class="help-block">
              <span *ngIf="messageForm.get('message').errors.required" class="error-message">
                Please fill message!
              </span>

            </span>
          </div>
          <button type="submit" class="btn btn-submit btn-sm" [disabled]="!messageForm.valid">
            Save
          </button>
          <!--<a href="#" class="submit-btn font-weight-bold pull-right">SUBMIT</a>-->
        </form>
      </div>
    </div>
  </div>
</div>




