.nav-link.active {
  border-bottom: 2px solid #e68516 !important;
}

.m-tabs-line {
  border-bottom: 1px solid #ebedf22b !important;
}

.m-portlet .m-portlet__head{
  border-bottom: 1px solid transparent !important;
}


/*.....................................Non Teaching Staff................................................*/
* {
  font-family: 'Segoe UI';
}

.nonTeacher-small-sqaure {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  width: 6%;
}

.teacher-details {
  display: inline-block;
  box-sizing: border-box;
  width: 20%;
}

.teacher-details a img {
  height: 50px;
}

.icons {
  display: inline-block;
  box-sizing: border-box;
  width: 70%;
  vertical-align: middle;
}

.overview {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px 14px 0px;
}

.m-subheader-nonTeacher {
  padding: 20px 30px 0px 42px !important;
}

.overview h5 {
  font-size: 16px;
  font-weight: 500;
}

.inTime {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 10px 14px 10px;
}

.outTime {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 10px 14px 10px;
}

.class-teacher {
  text-align: center !important;
}

.inTime-time {
  font-size: 12px;


}

.outTime-time {
  font-size: 12px;


}

.digit {
  font-weight: 500;
}

.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 30px;
  font-weight: 500;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #000000;
}


.main-heading {
  font-size: 30px;
  font-weight: bold;
}

.nonTeaching-sub-heading {
  font-size: 12px;
  color: #ff9100 !important;
  font-weight: 600;
}

.grey-box {
  border-radius: 10px !important;
  width: 55%;
  float: right;
  background-color: #6B6B73;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly !important;
}

.grey-box .main-text {
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 10px;
}

.grey-box p {
  font-size: 12px;
}

.text-default {
  
    color: #6B6B73;
    font-size: 14px;
 
}

.overview-time {
  font-size: 18px;
  font-weight: bolder;
}

.overview-text {
  font-size: 12px;
  font-weight: bolder;
}

.overview-padding {
  padding: 5px;
}

.pull-right {
  float: right;
}

.white-box-margin {
  margin-top: 20px;
  border-radius: 15px;

}

.btn-default {
  float: right;

}

.btn-close-myChild {
  color: #000;
  background-color: #fff;
  border: 1px solid #f0f1f6;
  border-radius: 25px;
}

.btn-close-myChild:hover {
  color: #000;
  background-color: #f0f1f6;

  border-radius: 25px;
}

.btn-submit-myChild {
  color: #fff;
  border: 2px solid #FF9100;
  background-color: #FF9100;
  border-radius: 25px;
}

.btn-submit {
  color: #fff;
  border: 2px solid #FF9100;
  background-color: #FF9100;
  border-radius: 28px;
  width: 83px;
  float: right;

}

.text-box {
  border: 2px solid #ebedf2;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  font-size: 13px;
  color: #000000;
}

.text-box:focus {
  border: 2px solid #FF9100;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  font-size: 13px;
  color: #000000;
}

.textareabox {
  font-size: 13px;
}

.submit-btn {
  border: 2px solid #FF9100;
  border-radius: 25px;
  padding: 5px 20px;
  background-color: #FF9100;
  color: #ffffff;
  font-size: 12px;
}

.submit-btn:hover {
  border: 2px solid #FF9100;
  border-radius: 25px;
  background: none;
  color: #FF9100;
  text-decoration: none;
}

.drop-category {
  border: 2px solid #000000;
  background: none;
  color: black;
  border-radius: 25px;
  float: right;
}

.dropdown-menu li a {
  font-size: 15px;
}

.m-portlet__head-nonTeachers {
  padding: 21px 0rem 0 0rem !important;
}

.icons a {
  float: right !important;
  margin-left: 5%;
}

a:hover {
  text-decoration: none;
}
.error-message {
  color: red;
  font-size: 11px;
  font-weight: 500;
}

/* ....................................Teacher details Modal.........................................*/

.btn-sub {
  background-color: #A0A0A2;
  padding: 5px 8px;
  color: #ffffff;
  border-radius: 10px;
  font-size: 12px;
}

.btn-sub:hover {
  background-color: #000;
  padding: 5px 8px;
  color: #ffffff;
  border-radius: 10px;
  font-size: 12px;
  text-decoration: none;
}

.btn-dlt {
  background-color: #ffd5d5;
  padding: 5px 8px;
  color: #FF6565;
  border-radius: 10px;
  font-size: 12px;
}

.btn-dlt:hover {
  background-color: #000;
  padding: 5px 8px;
  color: #ffffff;
  border-radius: 10px;
  font-size: 12px;
  text-decoration: none;
}

.table,
details {
  font-size: 12px;
}

.table-heading {
  font-size: 15px;
  color: #6B6B73;
  font-weight: 500;
  margin-left: 13%;
}

.heading-row {
  background-color: #E9E9E9;
  border: 2px solid #E9E9E9;
  border-radius: 25px;
  color: #969698;
}

.grey-heading {
  color: #969698;
  font-size: 10px;
  font-weight: 500;
}

.dropdown-toggle {
  font-size: 10px;
}

.teacher-name {
  font-size: 14px;
  color: #000;
  font-family: Segoe UI;
}

.background {
  background-color: transparent !important;
  box-shadow: none !important;
  padding-left: 17px !important;
}

.non-teaching-top-padding {

  padding: 0rem 0rem !important;
}

.badge {
  background-color: #53D476;
  color: #ffffff;
  border: 2px solid #53D476;
  border-radius: 50%;

}

.tab-border :focus,
ac {
  border: 3px solid #FF9100 !important;
  border-left: transparent !important;
  border-top: transparent !important;
  border-right: transparent !important;
}

.m-tabs-line .m-tabs__link {
  padding: 0.6em 1.4em;
  font-size: 0.95rem !important;
  font-weight: 400 !important;
}

.teacher-modal-icons {
  display: inline-block;
  box-sizing: border-box;
}

.teacher-details-div {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
}

.teacher-designation-name {
  font-weight: 500;
  font-size: 12px;
  vertical-align: super;
}

.modal-heading {
  color: #FF9100 !important;
  font-size: 24px !important;
  font-weight: 700 !important;
  font-family: segoe UI;
}

/*.......................................media query code .............................................*/

@media(min-width:992px) and (max-width:1024px) {
  .icons {
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
    vertical-align: middle;
  }

  .teacher-details {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 2%;
  }

  .small-sqaure {
    display: none;
  }

  .grey-box {
    width: 90%;
  }

  .m-subheader-nonTeacher {
    padding: 20px 20px 0px 20px !important;
  }

  .background {
    background-color: transparent !important;
    box-shadow: none !important;
    padding-left: 0px !important;
  }

  .icons a img {
    height: 35px !important;
  }

  .teacher-details a img {
    height: 50px;
  }

  .icons a {
    float: right !important;
    margin-left: 8%;
  }

  .top-padding {
    padding: 0.2rem 0rem !important;
  }

  .m-tabs-line .m-tabs__link {
    padding: 0.6em 1.4em;
    font-size: 0.85rem !important;
    font-weight: 400 !important;
  }

  .overview h5 {
    font-size: 14px;
    font-weight: 500;
  }

}


@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {
  .icons {
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
    vertical-align: middle;
  }

  .teacher-details {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 2%;
  }

  .small-sqaure {
    display: none;
  }

  .grey-box {
    width: 90%;
  }

  .m-subheader-nonTeacher {
    padding: 20px 20px 0px 20px !important;
  }

  .background {
    background-color: transparent !important;
    box-shadow: none !important;
    padding-left: 0px !important;
  }

  .icons a img {
    height: 35px !important;
  }

  .teacher-details a img {
    height: 50px;
  }

  .icons a {
    float: right !important;
    margin-left: 8%;
  }

  .top-padding {
    padding: 0.2rem 0rem !important;
  }

  .m-tabs-line .m-tabs__link {
    padding: 0.6em 1.4em;
    font-size: 0.85rem !important;
    font-weight: 400 !important;
  }

  .overview h5 {
    font-size: 14px;
    font-weight: 500;
  }
}

@media(min-width:575px) and (max-width:767px) {}

@media(min-width:480px) and (max-width:574px) {
  .small-sqaure {
    display: none !important;
  }

}

@media(max-width:479px) {
  .teacher-details-div {
    display: inline-block;
    box-sizing: border-box;
    width: 43%;
  }

  .icons {
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
    vertical-align: middle;
  }

  .teacher-details {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 3%;
  }

  .small-sqaure {
    display: none;
  }

  .grey-box {
    float: left;
    width: 100%;
    margin-top: 20px;
  }

  .teachers-name {
    display: none;
  }

  .teachers-class {
    display: none;
  }

  

  .background {
    background-color: transparent !important;
    box-shadow: none !important;
    padding-left: 0px !important;
  }

  .m-tabs-line .m-tabs__item {
    margin-right: 0px !important;
  }

  .m-subheader-nonTeacher {
    padding: 10px 20px 0px 20px !important;
  }

  .icons a img {
    height: 25px !important;
  }

  .teacher-details a img {
    height: 40px;
  }

  .icons a {
    float: right !important;
    margin-left: 8%;
  }

  .top-padding {
    padding: 0.2rem 0rem !important;
  }

  .m-tabs-line .m-tabs__link {
    padding: 0.6em 1.4em;
    font-size: 0.85rem !important;
    font-weight: 400 !important;
  }

  .overview h5 {
    font-size: 14px;
    font-weight: 500;
  }

}

.nav.nav-pills.nav-pills--brand-custom .nav-link.active {
  background: #f2f3f8;
  color: #3f4047;
  border-radius: 0px;
  border-bottom: #e58416 2px solid;
}
