<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Pricing Tables v3
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							General
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Pricing Tables
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Pricing Tables v3
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--begin::Pricing Tables Page - 3--><!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon">
						<i class="la la-puzzle-piece"></i>
					</span>
					<h3 class="m-portlet__head-text">
						Pricing Table
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="m-pricing-table-3 m-pricing-table-3--fixed">
				<div class="m-pricing-table-3__items">
					<div class="row m-row--no-padding">
						<div class="m-pricing-table-3__item col-lg-4">
							<div class="m-pricing-table-3__wrapper">
								<h3 class="m-pricing-table-3__title">
									Basic
								</h3>
								<span class="m-pricing-table-3__price m-pricing-table-3__price--padding">
									Free
								</span>
								<br>
								<span class="m-pricing-table-3__description">
									<span>
										Lorem ipsum dolor sit amet adipiscing elit
									</span>
									<br>
									<span>
										sed do eiusmod tempors labore et dolore
									</span>
									<br>
									<span>
										magna siad enim aliqua
									</span>
									<br>
								</span>
								<div class="m-pricing-table-3__btn">
									<button type="button" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
										Download
									</button>
								</div>
							</div>
						</div>
						<div class="m-pricing-table-3__item m-pricing-table-3__item--focus m--bg-brand col-lg-4">
							<div class="m-pricing-table-3__wrapper">
								<h3 class="m-pricing-table-3__title m--font-light">
									Professional
								</h3>
								<span class="m-pricing-table-3__price">
									<span class="m-pricing-table-3__label">
										$
									</span>
									<span class="m-pricing-table-3__number m--font-light">
										29
									</span>
									<span class="m-pricing-table-3__text">
										/&nbsp;&nbsp;Per Installation
									</span>
								</span>
								<br>
								<span class="m-pricing-table-3__description">
									<span>
										Lorem ipsum dolor sit amet adipiscing elit
									</span>
									<br>
									<span>
										sed do eiusmod tempors labore et dolore
									</span>
									<br>
									<span>
										magna siad enim aliqua
									</span>
									<br>
								</span>
								<div class="m-pricing-table-3__btn">
									<button type="button" class="btn m-btn--pill  btn-light m-btn--label-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
										Purchase
									</button>
								</div>
							</div>
						</div>
						<div class="m-pricing-table-3__item col-lg-4">
							<div class="m-pricing-table-3__wrapper">
								<h3 class="m-pricing-table-3__title">
									Extended
								</h3>
								<span class="m-pricing-table-3__price">
									<span class="m-pricing-table-3__label">
										$
									</span>
									<span class="m-pricing-table-3__number">
										99
									</span>
									<span class="m-pricing-table-3__text">
										/&nbsp;&nbsp;Per Installation
									</span>
								</span>
								<br>
								<span class="m-pricing-table-3__description">
									<span>
										Lorem ipsum dolor sit amet adipiscing elit
									</span>
									<br>
									<span>
										sed do eiusmod tempors labore et dolore
									</span>
									<br>
									<span>
										magna siad enim aliqua
									</span>
									<br>
								</span>
								<div class="m-pricing-table-3__btn">
									<button type="button" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
										Purchase
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end::Portlet--><!--begin::Pricing Tables Page - 3-->
</div>
