<!-- BEGIN: Subheader -->
<div class="m-content-custom" *ngIf="role == 'coadmin' || role == 'school' || role == 'security' || role == 'clerk' || role == 'teacher' ">

  <div class="col-xl-12 m-subheader m-subheader-custom-security" appunwraptag="">

    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title-security">
          Security
        </h3>
        <p class="subheading">
          All about Security
        </p>
      </div>
      <!-- BEGIN: Class Dropdown -->
      <div
        class="m-dropdown m-dropdown--inline m-dropdown--small m-dropdown--arrow m-dropdown--align-right m-dropdown-custom"
        data-dropdown-toggle="click">
        <a href="#" class="btn btn-sm m-btn sq-btn" data-toggle="modal" data-target="#m_modal_10">
          NEW ENTRY
        </a>
      </div>
      <!-- END: Class Dropdown -->
    </div>
  </div>



  <div class="background2_security">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <!--[ngClass]="addCssClass(applyhalfview , applyfullview)"-->
          <div class="m-portlet m-portlet--full-height background_security">

            <div class="m-portlet__head m-portlet__head-custom-security">
              <div class="m-portlet__head-tools m-portlet__head-tools-bottom">
                <!-- <div class="bookdetails" *ngIf="icons">
                  <a class="nav-link m-tabs__link pull-right list-icon" data-toggle="tab" href="#m_library_tab_class"
                    role="tab" on-click="getBookDetailsList()">
                    <i class="fa fa-th-list"></i>
                  </a>
                </div> -->
                <ul
                  class="nav nav-pills nav-pills--brand nav-pills--brand-custom m-nav-pills--align-left m-nav-pills--btn-pill m-nav-pills--btn-sm"
                  role="tablist">
                  <li class="nav-item m-tabs__item">
                    <!--<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_inbox_tab_overview"
                          role="tab">
                          <i class="flaticon-share m--hide"></i>
                          Overview
                        </a>-->
                    <a class="nav-link m-tabs__link active m-tabs__link-security" data-toggle="tab" href="#m_security_tab_overview" role="tab"
                      on-click="getSecurityStats()">
                      Overview
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link m-tabs__link-security" data-toggle="tab" href="#m_security_tab_currentTime" role="tab" on-click="getCurrentEntry()">
                      Current Entries
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link m-tabs__link-security" data-toggle="tab" href="#m_security_tab_timestamp" role="tab"
                          on-click="getTeachingDetails(currentDay)">
                          Time Stamp
                        </a>
                      </li>


                </ul>
              </div>
            </div>

            <div class="m-portlet__body m-portlet__body-custom-security body-margins">
              <div class="tab-content">
                <div class="tab-pane active" id="m_security_tab_overview">
                  <!--begin::Widget 14-->
                  <div class="m-content-att">
                    <div class="content pb-5">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="bg-white bg-white-security">
                            <div class="row ">
                              <div class="col-lg-4">
                                <h5 class="security-attendance-heading">ATTENDANCE</h5>
                                <h2 class="text-dark" *ngIf="visitorsStats">
                                  {{ visitorsStats.presentTeachersCount + visitorsStats.presentOtherStaffCount }}<span
                                    class="green-text">/{{ visitorsStats.totalTeachersCount + visitorsStats.totalOtherStaffCount }}</span>
                                </h2>
                                <p class="small-heading text-dark">Overall Attendance<br>
                                  for today</p>
                              </div>
                              <div class="col-lg-8 mt-5">
                                <div id="m_chart_security" class="m-widget14__chart" style="height: 120px;bottom: 0;">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                          <div class="bg-white pt-3 mt-2 pb-4">
                            <div class="row mt-3">
                              <div class="col-lg-4 d-flex justify-content-center col-md-4 teacher-details-box" >
                                <div class="imagediv">
                                  <img src="././assets/images/grey_circle.png" class="pull-right grey-circle">
                                </div>
                                <div class="textdiv">
                                  <a class=" font-weight-bold security-sub-heading"  data-toggle="tab" href="#m_security_tab_timestamp" role="tab" 
                                        on-click="getTeachingDetails(currentDay)">
                                        Teachers
                                  </a>
                                  <h2 class="text-dark h2-custom" *ngIf="visitorsStats">{{ visitorsStats.presentTeachersCount}}<span class="green-text">/{{ visitorsStats.totalTeachersCount}}</span></h2>
                                  <!-- <p class="small-heading">so far today</p> -->
                                </div>
                              </div>
                              <div class="col-lg-4 d-flex justify-content-center  col-md-4 teacher-details-box">
                                <div class="imagediv">
                                  <img src="././assets/images/visitor.png" class="pull-right grey-circle">
                                </div>
                                <div class="textdiv">
                                  <a class=" font-weight-bold security-sub-heading"  data-toggle="tab" href="#m_security_tab_timestamp" role="tab" 
                                  on-click="getVisitorsDetails(currentDay)">
                                  Visitors
                                  </a>
                                 
                                  <h2 class="h2-custom" *ngIf="visitorsStats">{{ visitorsStats.totalVisitorsCount}}</h2>
                                  <!-- <p class="small-heading">so far today</p> -->
                                </div>
                              </div>
                              <div class="col-lg-4 d-flex justify-content-center col-md-4">
                                <div class="imagediv">
                                  <img src="././assets/images/buses.png" class="pull-right grey-circle">
                                </div>
                                <div class="textdiv">
                                  <a class=" font-weight-bold security-sub-heading"  data-toggle="tab" href="#m_security_tab_timestamp" role="tab" 
                                  on-click="getBusDetails(currentDay)">
                                  Buses
                                   </a>
                                  <h2 class="text-dark h2-custom" *ngIf="visitorsStats">{{ visitorsStats.totalBusesCount}}</h2>
                                  <!-- <p class="small-heading">Checked Out</p> -->
                                </div>
                              </div>
                            </div>
                            <div class="row mt-4">
                              <!--<div class="col-lg-2">
                              <img src="././assets/images/grey_circle.png" class="pull-right grey-circle">
                            </div>-->
                              <div class="col-lg-4 d-flex justify-content-center  col-md-4 teacher-details-box">
                                <div class="imagediv">
                                  <img src="././assets/images/grey_circle.png" class="pull-right grey-circle">
                                </div>
                                <div class="textdiv">
                                  <a class=" font-weight-bold security-sub-heading"  data-toggle="tab" href="#m_security_tab_timestamp" role="tab" 
                                  on-click="getNonTeachingDetails(currentDay)">
                                  Non Teachers
                                   </a>
                                  <h2 class="text-dark h2-custom" *ngIf="visitorsStats">{{ visitorsStats.presentOtherStaffCount}}<span
class="green-text">/{{ visitorsStats.totalOtherStaffCount}}</span></h2>
                                  <!-- <p class="small-heading">so far today</p> -->
                                </div>
                              </div>
                              <div class="col-lg-4 d-flex justify-content-center   col-md-4 teacher-details-box">
                                <div class="imagediv">
                                  <img src="././assets/images/student.png" class="pull-right grey-circle">
                                </div>
                                <div class="textdiv">
                                  <a class=" font-weight-bold security-sub-heading"  data-toggle="tab" href="#m_security_tab_timestamp" role="tab" 
                                  on-click="getVisitorsStudentOut(currentDay)">
                                  Out Students
                                   </a>
                    
                                  <h2 class="h2-custom" *ngIf="visitorsStats">{{ visitorsStats.totalOutStudentsCount}}</h2>
                                  <!-- <p class="small-heading">so far today</p> -->
                                </div>
                              </div>
                              <div class="col-lg-4 d-flex justify-content-center  col-md-4">
                                <div class="imagediv">
                                  <img src="././assets/images/deliverys.png" class="pull-right grey-circle">
                                </div>
                                <div class="textdiv">
                                  <a class=" font-weight-bold security-sub-heading"  data-toggle="tab" href="#m_security_tab_timestamp" role="tab" 
                                  on-click="getDeliveryDetails(currentDay)">
                                  Delivery
                                   </a>

                                  <h2 class="text-dark h2-custom" *ngIf="visitorsStats">{{ visitorsStats.totalDeliveriesCount}}</h2>
                                  <!-- <p class="small-heading">so far today</p> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end::Widget 14-->
                </div>
               
                <div class="tab-pane" id="m_security_tab_timestamp">
                  <div class="m-content-att m-portlet__body-background_security">
                    <div class="content">
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="booksection">
                            <div class="row row-margin-0">
                              <div class="col-lg-12 col-md-12 row-background text-align-center"  [ngClass]="{'active': visitorTypes == 'teacher'}">
                                <a class="booklink active" on-click="getTeachingDetails(currentDay)">
                                  <span class="category-name"><span><img src="././assets/images/teaching.png"
                                        class="category-img mr-2"></span>Teaching</span>
                                  <!-- <span class="author-name text-center">Mitch Weiss</span>-->
                                </a>
                              </div>
                              <div class="col-lg-12 col-md-12 row-background text-align-center" [ngClass]="{'active': visitorTypes == 'nonteacher'}">
                                <a class="booklink" on-click="getNonTeachingDetails(currentDay)">
                                  <span class="category-name"><span><img src="././assets/images/non-teaching.png"
                                        class="category-img mr-2"></span>Non-Teaching</span>
                                  <!-- <span class="author-name text-center">Mitch Weiss</span>-->
                                </a>
                              </div>
                              <div class="col-lg-12 col-md-12 row-background text-align-center" [ngClass]="{'active': visitorTypes == 'delivery'}">
                                <a class="booklink" on-click="getDeliveryDetails(currentDay)"> 
                                  <span class="category-name"><span><img src="././assets/images/delivery.png"
                                        class="category-img mr-2"></span>Delivery</span>
                                  <!-- <span class="author-name text-center">Mitch Weiss</span>-->
                                </a>
                              </div>
                              <div class="col-lg-12 col-md-12 row-background text-align-center" [ngClass]="{'active': visitorTypes == 'bus'}">
                                <a class="booklink" on-click="getBusDetails(currentDay)"> 
                                  <span class="category-name"><span><img src="././assets/images/bus.png"
                                        class="category-img mr-2"></span>Buses</span>
                                  <!-- <span class="author-name text-center">Mitch Weiss</span>-->
                                </a>
                              </div>
                              <div class="col-lg-12 col-md-12 row-background text-align-center" [ngClass]="{'active': visitorTypes == 'external'}">
                                <a class="booklink" on-click="getExternalStudents(currentDay)"> 
                                  <span class="category-name"><span><img src="././assets/images/teaching.png"
                                        class="category-img mr-2"></span>External Students</span>
                                  <!-- <span class="author-name text-center">Mitch Weiss</span>-->
                                </a>
                              </div>
                              <div class="col-lg-12 col-md-12 row-background text-align-center" [ngClass]="{'active': visitorTypes == 'visitor'}">
                                <a class="booklink" on-click="getVisitorsDetails(currentDay)"> 
                                  <span class="category-name"><span><img src="././assets/images/visitors.png"
                                        class="category-img mr-2"></span>Visitors</span>
                                  <!-- <span class="author-name text-center">Mitch Weiss</span>-->
                                </a>
                              </div>
                              <div class="col-lg-12 col-md-12 row-background text-align-center" [ngClass]="{'active': visitorTypes == 'student'}">
                                <a class="booklink" on-click="getVisitorsStudentOut(currentDay)"> 
                                  <span class="category-name"><span><img src="././assets/images/visitors.png"
                                        class="category-img mr-2"></span>Student Out</span>
                                  <!-- <span class="author-name text-center">Mitch Weiss</span>-->
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-9 bg-white">
                          <div class="row mt-4 ml-2 mb-4">
                            <div class="col-lg-12">
                              <!-- <input class="search_categories mt-2" type="date" id="date" name="date"
                                (change)="getPastEntry($event)"> -->
                              <div class="search-container">
                              <form action="/action_page.php">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <button type="submit" class="search-btn btn-block"><i
                                        class="fa fa-search"></i></button>
                                  </div>
                                  <input type="text" placeholder="Search Teachers, Classes" class="outline-remove" name="search"
                                    [(ngModel)]="searchTerm">
                                </div>
                              </form>
                            </div>
                            </div>
                          </div>
                          <div id="tab_teaching" class="tab-pane ml-4 div-fix-height">
                              <div class="table-responsive">
                                  <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Time In</th>
                                        <th scope="col">Time Out</th>
                                        
                                      </tr>
                                    </thead>
                                    <tbody *ngIf="teacherSecurityData">
                                                        
                                        <tr *ngFor="let teacher of teacherSecurityData  | filter:searchTerm; let i = index;">
                                        <td ><img src="{{ teacher.avtarURL}}"
                                          class="m--img-rounded m--marginless m--img-centered mr-2"
                                          onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                          class="ml-2">{{ teacher.name }}</span></td>
                                          <td *ngIf="teacher.inTime" >{{ teacher.inTime | date: 'h:mm a' }}
                                          </td> 
                                          
                                          <td class=" " *ngIf="!teacher.inTime"><button
                                            class="btn btn-sm sq-btn-1 btn-success text-white" type="button" on-click="staffSchoolEntry(teacher.uid, 'teacher')">IN</button></td>
                                        <td class=" " *ngIf="teacher.outTime">{{ teacher.outTime | date: 'h:mm a' }}</td>
                                        <td class="" *ngIf="teacher.uidSecurityLogBook && !teacher.outTime">
                                          <button class="btn btn-sm btn-pink text-white " type="button" on-click="staffSchoolEntryOut(teacher.uidSecurityLogBook, 'teacher')">OUT</button></td>
                                        <td class="" *ngIf="!teacher.uidSecurityLogBook && !teacher.outTime">
                                          <button class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button>
                                        </td>
                                       
                                      </tr>
                                      
                                    </tbody>

                                    <tbody *ngIf="currentEntry">
                                                
                                      <tr *ngFor="let visitor of currentEntry  | filter:searchTerm; let i = index;">
                                      <td><img src="{{ visitor.visitorPhotoLocation}}"
                                        class="m--img-rounded m--marginless m--img-centered mr-2"
                                        onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                        class="ml-2">{{ visitor.visitorName }}</span></td>
                                      <td *ngIf="visitor.visitorType === 'V'" > Visior</td>                               
                                      <td *ngIf="visitor.visitorType === 'E'">External Student</td>
                                      <td *ngIf="visitor.visitorType === 'D'">Delivery</td>
                                      <td>{{ visitor.meetingPerson}}</td>
                                      <td *ngIf="visitor.inTime">{{ visitor.inTime | date: 'h:mm a' }}</td>
                                      <td *ngIf="visitor.outTime">{{ visitor.outTime | date: 'h:mm a' }}</td>
                                      <td *ngIf="visitor.uidVisitor && !visitor.outTime"><button
                                        class="btn btn-sm btn-pink text-white " type="button"
                                          on-click="schoolVisitorOut(visitor.uidVisitor, 'visitor')">OUT</button></td>
                                          <td *ngIf="!visitor.uidVisitor && !visitor.outTime"><button
                                            class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></td>
        
                                       </tr>
                                    
                                    </tbody>

                                    <tbody *ngIf="nonTeaching">
                                                        
                                        <tr *ngFor="let nonteacher of nonTeaching  | filter:searchTerm; let i = index;">
                                            <td class=""><img src="{{ nonteacher.avtarURL}}"
                                              class="m--img-rounded m--marginless m--img-centered mr-2"
                                              onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                              class="ml-2">{{ nonteacher.name }}</span></td>
                                              <td class="" *ngIf="nonteacher.inTime" >{{ nonteacher.inTime | date: 'h:mm a' }}
                                              </td>
                                              <td class="" *ngIf="!nonteacher.inTime"><button
                                                  class="btn btn-sm sq-btn-1 btn-success text-white" type="button" on-click="staffSchoolEntry(nonteacher.uid, 'nonteaching')">IN</button></td>
                                              <td class="" *ngIf="nonteacher.outTime">{{ nonteacher.outTime | date: 'h:mm a' }}</td>
                                              <td class="" *ngIf="nonteacher.uidSecurityLogBook && !nonteacher.outTime"><button
                                              class="btn btn-sm btn-pink text-white " type="button"
                                               on-click="staffSchoolEntryOut(nonteacher.uidSecurityLogBook, 'nonteaching')">OUT</button></td>
                                              <td class="" *ngIf="!nonteacher.uidSecurityLogBook && !nonteacher.outTime"><button
                                                  class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></td>
                                      </tr>
                                      
                                    </tbody>
                                    <tbody *ngIf="deliveryDetails">
                                                        
                                        <tr *ngFor="let delivery of deliveryDetails  | filter:searchTerm; let i = index;">
                                            <td class=""><img src="{{ delivery.avtarURL}}"
                                              class="m--img-rounded m--marginless m--img-centered mr-2"
                                              onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                              class="ml-2">{{ delivery.visitorName }}</span></td>
                                              <td class="" *ngIf="delivery.inTime" >{{ delivery.inTime | date: 'h:mm a' }}
                                              </td>
                                              <td class="" *ngIf="!delivery.inTime"><button
                                                class="btn btn-sm sq-btn-1 btn-success text-white" type="button" data-toggle="modal" data-target="#m_modal_10">IN</button></td>
                                              <td class="" *ngIf="delivery.outTime">{{ delivery.outTime | date: 'h:mm a' }}</td>
                                              <td class="" *ngIf="teacher.uidSecurityLogBook && !delivery.outTime"><button
                                              class="btn btn-sm btn-pink text-white " type="button"
                                              on-click="schoolVisitorOut(delivery.uidVisitor, 'Delivery')">OUT</button></td>
                                              <td class=""  *ngIf="!delivery.inTime && !delivery.outTime"><button
                                                  class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></td>
                                        
                                      </tr>
                                      
                                    </tbody>
                                    <tbody *ngIf="busDetails">
                                                        
                                        <tr *ngFor="let bus of busDetails | filter:searchTerm; let i = index;">
                                            <td class="">{{ bus.number }}</td>
                                            <td class="" *ngIf="bus.inTime" >{{ bus.inTime | date: 'h:mm a' }}
                                            </td>
                                            <td class="" *ngIf="!bus.inTime"><button
                                                class="btn btn-sm sq-btn-1 btn-success text-white" type="button"  on-click="schoolBusEntry(bus.buid)">IN</button></td>
                                            <td class="" *ngIf="bus.outTime">{{ bus.outTime | date: 'h:mm a' }}</td>
                                            <td class="" *ngIf="bus.uidBusLogBook && !bus.outTime"><button
                                            class="btn btn-sm btn-pink text-white " type="button"
                                            on-click="schoolBusOut(bus.uidBusLogBook)">OUT</button></td>
                                            <td class="" *ngIf="!bus.uidSecurityLogBook && !bus.outTime"><button
                                                class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></td> 
                                        
                                      </tr>
                                      
                                    </tbody>
                                    <tbody *ngIf="externalStudentDetails">
                                                        
                                        <tr *ngFor="let external of externalStudentDetails;">
                                            <td class=""><img src="{{ external.visitorPhotoLocation}}"
                                              class="m--img-rounded m--marginless m--img-centered"
                                              onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                              class="ml-2">{{ external.visitorName }}</span></td>
                                              <td class="" *ngIf="external.inTime" >{{ external.inTime | date: 'h:mm a' }}
                                              </td>                                  
                                              <td class="" *ngIf="!external.inTime"><button
                                                class="btn btn-sm sq-btn-1 btn-success text-white" type="button" data-toggle="modal" data-target="#m_modal_10">IN</button></td>
                                              <td class="" *ngIf="external.outTime">{{ external.outTime | date: 'h:mm a' }}</td>
                                              <td class="" *ngIf="external.uidVisitor && !external.outTime"><button
                                              class="btn btn-sm btn-pink text-white " type="button"
                                              on-click="schoolVisitorOut(external.uidVisitor, 'external')">OUT</button></td>
                                              <td class="" *ngIf="!external.uidVisitor && !external.outTime"><button
                                                  class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></td>  
                                        
                                      </tr>

                                      <tbody *ngIf="visitorsDetails">
                                                        
                                          <tr *ngFor="let visitors of visitorsDetails;">
                                              <td class=""><img src="{{ visitors.visitorPhotoLocation}}"
                                                class="m--img-rounded m--marginless m--img-centered" onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span class="ml-2">{{ visitors.visitorName }}</span></td>
                                                <td class="" *ngIf="visitors.inTime" >{{ visitors.inTime | date: 'h:mm a' }}
                                                </td>
                                               
                                                <td class="" *ngIf="!visitors.inTime"><button
                                                  class="btn btn-sm sq-btn-1 btn-success text-white" type="button" data-toggle="modal" data-target="#m_modal_10">IN</button></td>
                                                <td class="" *ngIf="visitors.outTime">{{ visitors.outTime | date: 'h:mm a' }}</td>
                                                <td class="" *ngIf="visitors.uidVisitor && !visitors.outTime"><button
                                                class="btn btn-sm btn-pink text-white " type="button"
                                                on-click="schoolVisitorOut(visitor.uidVisitor, 'Delivery')">OUT</button></td>
                                                <td class="" *ngIf="!visitors.uidVisitor && !visitors.outTime"><button
                                                    class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></td> 
                                          
                                        </tr>
                                        
                                      </tbody>
                                      
                                    
                                    <tbody *ngIf="visitorStudent">
                                                        
                                        <tr  *ngFor="let visitors of visitorStudent;">
                                            <td class=""><img src="{{ visitors.visitorPhotoLocation}}"
                                              class="m--img-rounded m--marginless m--img-centered"
                                              onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                              class="ml-2">{{ visitors.visitorName }}</span></td>
                                              <td class="" *ngIf="visitors.inTime" >{{ visitors.inTime | date: 'h:mm a' }}
                                              </td>
                                             
                                              <td class="" *ngIf="!visitors.inTime"><button
                                                class="btn btn-sm sq-btn-1 btn-success text-white" type="button" data-toggle="modal" data-target="#m_modal_10">IN</button></td>
                                              <td class="" *ngIf="visitors.outTime">{{ visitors.outTime | date: 'h:mm a' }}</td>
                                              <td class="" *ngIf="visitors.uidVisitor && !visitors.outTime"><button
                                              class="btn btn-sm btn-pink text-white " type="button"
                                              on-click="studentOut(visitors, 'Delivery')">OUT</button></td>
                                              <td class="" *ngIf="!visitors.uidVisitor && !visitors.outTime"><button
                                                  class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></td>    
                                        
                                      </tr>
                                      
                                    </tbody>
                                  
                                  </table>
                                  </div>

                            <!--<div class="row row-bottom-border mb-2 mr-2 row-header">
                              <div class="col-md-6">Name</div>
                              <div class="col-md-3 text-center">Time In</div>
                              <div class="col-md-3 text-center">Time Out</div>
                            </div>-->
                            <!-- Teacher security Time Log -->
                            <!--<span  *ngIf="teacherSecurityData">
                            <div class="row row-bottom-border mb-2 mr-2 row-data"  *ngFor="let teacher of teacherSecurityData  | filter:searchTerm; let i = index;" >
                             
                              <div class="col-md-6"><img src="{{ teacher.avtarURL}}"
                                class="m--img-rounded m--marginless m--img-centered mr-2"
                                onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                class="ml-2">{{ teacher.name }}</span></div>
                                <div class="col-md-3 text-center" *ngIf="teacher.inTime" >{{ teacher.inTime | date: 'h:mm a' }}
                                </div>
                                <div class="col-md-3 text-center" *ngIf="!teacher.inTime"><button
                                    class="btn btn-sm sq-btn-1 btn-success text-white" type="button" on-click="staffSchoolEntry(teacher.uid, 'teacher')">IN</button></div>
                                <div class="col-md-3 text-center" *ngIf="teacher.outTime">{{ teacher.outTime | date: 'h:mm a' }}</div>
                                <div class="col-md-3 text-center" *ngIf="teacher.uidSecurityLogBook && !teacher.outTime"><button
                                class="btn btn-sm btn-pink text-white " type="button"
                                 on-click="staffSchoolEntryOut(teacher.uidSecurityLogBook, 'teacher')">OUT</button></div>
                                <div class="col-md-3 text-center" *ngIf="!teacher.uidSecurityLogBook && !teacher.outTime"><button
                                    class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></div>                                
                              </div>
                          </span>-->
                           <!-- Non Teaching Staff security Time Log -->
                           <!--<span  *ngIf="nonTeaching">
                            <div class="row row-bottom-border mb-2 mr-2 row-data"   *ngFor="let nonteacher of nonTeaching  | filter:searchTerm; let i = index;">
                             
                              <div class="col-md-6"><img src="{{ nonteacher.avtarURL}}"
                                class="m--img-rounded m--marginless m--img-centered mr-2"
                                onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                class="ml-2">{{ nonteacher.name }}</span></div>
                                <div class="col-md-3 text-center" *ngIf="nonteacher.inTime" >{{ nonteacher.inTime | date: 'h:mm a' }}
                                </div>
                                <div class="col-md-3 text-center" *ngIf="!nonteacher.inTime"><button
                                    class="btn btn-sm sq-btn-1 btn-success text-white" type="button" on-click="staffSchoolEntry(nonteacher.uid, 'nonteaching')">IN</button></div>
                                <div class="col-md-3 text-center" *ngIf="nonteacher.outTime">{{ nonteacher.outTime | date: 'h:mm a' }}</div>
                                <div class="col-md-3 text-center" *ngIf="nonteacher.uidSecurityLogBook && !nonteacher.outTime"><button
                                class="btn btn-sm btn-pink text-white " type="button"
                                 on-click="staffSchoolEntryOut(nonteacher.uidSecurityLogBook, 'nonteaching')">OUT</button></div>
                                <div class="col-md-3 text-center" *ngIf="!nonteacher.uidSecurityLogBook && !nonteacher.outTime"><button
                                    class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></div>                                
                              </div>
                          </span>-->

                          
                           <!-- delivery Person security Time Log -->
                           <!--<span  *ngIf="deliveryDetails">
                              <div class="row row-bottom-border mb-2 mr-2 row-data"  *ngFor="let delivery of deliveryDetails  | filter:searchTerm; let i = index;">                              
                                <div class="col-md-6"><img src="{{ delivery.avtarURL}}"
                                  class="m--img-rounded m--marginless m--img-centered mr-2"
                                  onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                  class="ml-2">{{ delivery.visitorName }}</span></div>
                                  <div class="col-md-3 text-center" *ngIf="delivery.inTime" >{{ delivery.inTime | date: 'h:mm a' }}
                                  </div>
                                  <div class="col-md-3 text-center" *ngIf="!delivery.inTime"><button
                                    class="btn btn-sm sq-btn-1 btn-success text-white" type="button" data-toggle="modal" data-target="#m_modal_10">IN</button></div>
                                  <div class="col-md-3 text-center" *ngIf="delivery.outTime">{{ delivery.outTime | date: 'h:mm a' }}</div>
                                  <div class="col-md-3 text-center" *ngIf="teacher.uidSecurityLogBook && !delivery.outTime"><button
                                  class="btn btn-sm btn-pink text-white " type="button"
                                  on-click="schoolVisitorOut(delivery.uidVisitor, 'Delivery')">OUT</button></div>
                                  <div class="col-md-3 text-center"  *ngIf="!delivery.inTime && !delivery.outTime"><button
                                      class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></div>                                
                                </div>
                            </span> -->                           
                           
                            <!-- bus Details security Time Log -->
                           <!--<span  *ngIf="busDetails">
                              <div class="row row-bottom-border mb-2 mr-2 row-data"  *ngFor="let bus of busDetails | filter:searchTerm; let i = index;">                              
                                <div class="col-md-6">{{ bus.number }}</div>
                                  <div class="col-md-3 text-center" *ngIf="bus.inTime" >{{ bus.inTime | date: 'h:mm a' }}
                                  </div>
                                  <div class="col-md-3 text-center" *ngIf="!bus.inTime"><button
                                      class="btn btn-sm sq-btn-1 btn-success text-white" type="button"  on-click="schoolBusEntry(bus.buid)">IN</button></div>
                                  <div class="col-md-3 text-center" *ngIf="bus.outTime">{{ bus.outTime | date: 'h:mm a' }}</div>
                                  <div class="col-md-3 text-center" *ngIf="bus.uidBusLogBook && !bus.outTime"><button
                                  class="btn btn-sm btn-pink text-white " type="button"
                                  on-click="schoolBusOut(bus.uidBusLogBook)">OUT</button></div>
                                  <div class="col-md-3 text-center" *ngIf="!bus.uidSecurityLogBook && !bus.outTime"><button
                                      class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></div>                                
                                </div>
                            </span>-->
                      

                            <!-- external Student security Time Log -->
                           <!--<span  *ngIf="externalStudentDetails">
                              <div class="row row-bottom-border mb-2 mr-2 row-data"  *ngFor="let external of externalStudentDetails;">                              
                                <div class="col-md-6"><img src="{{ external.visitorPhotoLocation}}"
                                  class="m--img-rounded m--marginless m--img-centered"
                                  onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                  class="ml-2">{{ external.visitorName }}</span></div>
                                  <div class="col-md-3 text-center" *ngIf="external.inTime" >{{ external.inTime | date: 'h:mm a' }}
                                  </div>                                  
                                  <div class="col-md-3 text-center" *ngIf="!external.inTime"><button
                                    class="btn btn-sm sq-btn-1 btn-success text-white" type="button" data-toggle="modal" data-target="#m_modal_10">IN</button></div>
                                  <div class="col-md-3 text-center" *ngIf="external.outTime">{{ external.outTime | date: 'h:mm a' }}</div>
                                  <div class="col-md-3 text-center" *ngIf="external.uidVisitor && !external.outTime"><button
                                  class="btn btn-sm btn-pink text-white " type="button"
                                  on-click="schoolVisitorOut(external.uidVisitor, 'external')">OUT</button></div>
                                  <div class="col-md-3 text-center" *ngIf="!external.uidVisitor && !external.outTime"><button
                                      class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></div>                                
                                </div>
                            </span>-->

                            
                            <!-- visitors Details security Time Log -->
                           <!--<span  *ngIf="visitorsDetails">
                              <div class="row row-bottom-border mb-2 mr-2 row-data"  *ngFor="let visitors of visitorsDetails;">                              
                                <div class="col-md-6"><img src="{{ visitors.visitorPhotoLocation}}"
                                  class="m--img-rounded m--marginless m--img-centered"
                                  onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                  class="ml-2">{{ visitors.visitorName }}</span></div>
                                  <div class="col-md-3 text-center" *ngIf="visitors.inTime" >{{ visitors.inTime | date: 'h:mm a' }}
                                  </div>
                                 
                                  <div class="col-md-3 text-center" *ngIf="!visitors.inTime"><button
                                    class="btn btn-sm sq-btn-1 btn-success text-white" type="button" data-toggle="modal" data-target="#m_modal_10">IN</button></div>
                                  <div class="col-md-3 text-center" *ngIf="visitors.outTime">{{ visitors.outTime | date: 'h:mm a' }}</div>
                                  <div class="col-md-3 text-center" *ngIf="visitors.uidVisitor && !visitors.outTime"><button
                                  class="btn btn-sm btn-pink text-white " type="button"
                                  on-click="schoolVisitorOut(visitor.uidVisitor, 'Delivery')">OUT</button></div>
                                  <div class="col-md-3 text-center" *ngIf="!visitors.uidVisitor && !visitors.outTime"><button
                                      class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></div>                                
                                </div>
                            </span>-->

                             <!-- visitor with student Out Details security Time Log -->
                           <!--<span  *ngIf="visitorStudent">
                            <div class="row row-bottom-border mb-2 mr-2 row-data"  *ngFor="let visitors of visitorStudent;">                              
                              <div class="col-md-6"><img src="{{ visitors.visitorPhotoLocation}}"
                                class="m--img-rounded m--marginless m--img-centered"
                                onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                class="ml-2">{{ visitors.visitorName }}</span></div>
                                <div class="col-md-3 text-center" *ngIf="visitors.inTime" >{{ visitors.inTime | date: 'h:mm a' }}
                                </div>
                               
                                <div class="col-md-3 text-center" *ngIf="!visitors.inTime"><button
                                  class="btn btn-sm sq-btn-1 btn-success text-white" type="button" data-toggle="modal" data-target="#m_modal_10">IN</button></div>
                                <div class="col-md-3 text-center" *ngIf="visitors.outTime">{{ visitors.outTime | date: 'h:mm a' }}</div>
                                <div class="col-md-3 text-center" *ngIf="visitors.uidVisitor && !visitors.outTime"><button
                                class="btn btn-sm btn-pink text-white " type="button"
                                on-click="studentOut(visitors, 'Delivery')">OUT</button></div>
                                <div class="col-md-3 text-center" *ngIf="!visitors.uidVisitor && !visitors.outTime"><button
                                    class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></div>                                
                              </div>
                          </span>-->
                          
                          </div>
                            <!-- <table class="table table-borderless">
                              <thead>
                                <tr>
                                  <th scope="col">Name</th>
                                  <th scope="col" class="text-center">Time In</th>
                                  <th scope="col" class="text-center">Time Out</th>
                                </tr>
                              </thead>
                              <tbody *ngIf="teacherSecurityData">
                                <tr *ngFor="let teacher of teacherSecurityData">
                                  <td class="main-td"><img src="{{ teacher.avtarURL}}"
                                      class="m--img-rounded m--marginless m--img-centered mr-2"
                                      onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                      class="ml-2">{{ teacher.name }}</span></td>
                                  <td *ngIf="teacher.inTime" class="text-center">{{ teacher.inTime | date: 'h:mm a' }}
                                  </td>
                                  <td class="text-center" *ngIf="!teacher.inTime"><button
                                      class="btn btn-sm sq-btn-1 btn-success text-white" type="button" on-click="staffSchoolEntry(teacher.uid, 'teacher')">IN</button></td>
                                  <td class="text-center" *ngIf="teacher.outTime">{{ teacher.outTime | date: 'h:mm a' }}</td>
                                  <td class="text-center" *ngIf="teacher.uidSecurityLogBook && !teacher.outTime"><button
                                  class="btn btn-sm btn-pink text-white " type="button"
                                   on-click="staffSchoolEntryOut(teacher.uidSecurityLogBook, 'teacher')">OUT</button></td>
                                  <td class="text-center" *ngIf="!teacher.uidSecurityLogBook && !teacher.outTime"><button
                                      class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></td>
                                </tr>
                              </tbody>
                              <tbody *ngIf="nonTeaching">
                                <tr *ngFor="let nonteacher of nonTeaching">
                                  <td><img src="{{ nonteacher.avtarURL}}"
                                      class="m--img-rounded m--marginless m--img-centered mr-2"
                                      onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                      class="ml-2">{{ nonteacher.name }}</span></td>
                                  <td *ngIf="nonteacher.inTime" class="text-center">{{ nonteacher.inTime  | date: 'h:mm a' }}</td>
                                <td class="text-center" *ngIf="!nonteacher.inTime"><button
                                    class="btn btn-sm sq-btn-1 btn-success text-white" type="button" on-click="staffSchoolEntry(nonteacher.uid, 'nonteaching')">IN</button></td>
                                <td class="text-center" *ngIf="nonteacher.outTime">{{ nonteacher.outTime | date: 'h:mm a' }}</td>
                                <td class="text-center" *ngIf="nonteacher.uidSecurityLogBook && !nonteacher.outTime"><button
                                class="btn btn-sm btn-pink text-white " type="button"
                                 on-click="staffSchoolEntryOut(nonteacher.uidSecurityLogBook, 'nonteaching')">OUT</button></td>
                                <td class="text-center" *ngIf="!nonteacher.uidSecurityLogBook && !nonteacher.outTime"><button
                                    class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></td>

                                </tr>
                              </tbody>
                              <tbody *ngIf="deliveryDetails">
                                <tr *ngFor="let delivery of deliveryDetails">
                                <td><img src="{{ delivery.avtarURL}}"
                                      class="m--img-rounded m--marginless m--img-centered"
                                      onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                      class="ml-2">{{ delivery.visitorName }}</span></td>                               
                                <td *ngIf="delivery.inTime" class="text-center">{{ delivery.inTime  | date: 'h:mm a' }}</td>
                                <td class="text-center" *ngIf="!delivery.inTime"><button
                                    class="btn btn-sm sq-btn-1 btn-success text-white" type="button" data-toggle="modal" data-target="#m_modal_10">IN</button></td>
                                <td class="text-center" *ngIf="delivery.outTime">{{ delivery.outTime | date: 'h:mm a' }}</td>
                                <td class="text-center" *ngIf="delivery.inTime && !delivery.outTime"><button
                                class="btn btn-sm btn-pink text-white " type="button"
                                  on-click="schoolVisitorOut(delivery.uidVisitor, 'Delivery')">OUT</button></td>
                                <td class="text-center" *ngIf="!delivery.inTime && !delivery.outTime"><button
                                      class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></td>
  
                                </tr>
                              </tbody>
                              <tbody *ngIf="busDetails">
                                <tr *ngFor="let bus of busDetails | filter:searchTerm; let i = index;">
                                  <td class="main-td">{{ bus.number }}</td>
                                  <td *ngIf="bus.inTime">{{ bus.inTime | date: 'h:mm a'}}</td>

                                  <td class="text-center" *ngIf="!bus.inTime"><button
                                      class="btn btn-sm sq-btn-1 btn-success text-white" type="button" on-click="schoolBusEntry(bus.buid)">IN</button></td>
                                  <td class="text-center" *ngIf="bus.outTime">{{ bus.outTime | date: 'h:mm a' }}</td>
                                  <td class="text-center" *ngIf="bus.uidBusLogBook && !bus.outTime"><button
                                  class="btn btn-sm btn-pink text-white " type="button"
                                    on-click="schoolBusOut(bus.uidBusLogBook)">OUT</button></td>
                                  <td class="text-center" *ngIf="!bus.uidBusLogBook && !bus.outTime"><button
                                        class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></td>
    
                                </tr>
                              </tbody>
                              <tbody *ngIf="externalStudentDetails">
                                <tr *ngFor="let external of externalStudentDetails;">
                                  <td>{{ external.number }}</td>
                                  <td *ngIf="external.inTime" class="text-center">{{ external.inTime  | date: 'h:mm a' }}</td>
                                <td class="text-center" *ngIf="!external.inTime"><button
                                    class="btn btn-sm sq-btn-1 btn-success text-white" type="button" data-toggle="modal" data-target="#m_modal_10">IN</button></td>
                                <td class="text-center" *ngIf="external.outTime">{{ external.outTime | date: 'h:mm a' }}</td>
                                <td class="text-center" *ngIf="external.inTime && !external.outTime"><button
                                class="btn btn-sm btn-pink text-white " type="button"
                                  on-click="schoolVisitorOut(external.uidVisitor, 'ExternalStudents')">OUT</button></td>
                                <td class="text-center" *ngIf="!external.inTime && !external.outTime"><button
                                      class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></td>
                                </tr>
                              </tbody>
                              <tbody *ngIf="visitorsDetails">
                                <tr *ngFor="let visitors of visitorsDetails;">
                                  <td><img src="{{ visitors.visitorPhotoLocation}}"
                                      class="m--img-rounded m--marginless m--img-centered"
                                      onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span
                                      class="ml-2">{{ visitors.visitorName }}</span></td>                                  
                                  <td *ngIf="visitors.inTime" class="text-center">{{ visitors.inTime  | date: 'h:mm a' }}</td>
                                  <td class="text-center" *ngIf="!visitors.inTime"><button
                                      class="btn btn-sm sq-btn-1 btn-success text-white" type="button" data-toggle="modal" data-target="#m_modal_10">IN</button></td>
                                  <td class="text-center" *ngIf="visitors.outTime">{{ visitors.outTime | date: 'h:mm a' }}</td>
                                  <td class="text-center" *ngIf="visitors.inTime && !visitors.outTime"><button
                                  class="btn btn-sm btn-pink text-white " type="button"
                                    on-click="schoolVisitorOut(visitors.uidVisitor, 'Visitors')">OUT</button></td>
                                  <td class="text-center" *ngIf="!visitors.inTime && !visitors.outTime"><button
                                        class="btn btn-sm btn-pink text-white " type="button" title="In Time not entered">OUT</button></td>
                                </tr>
                              </tbody>
                            </table> -->
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---------------------------------------------- modal New Entry code ----------------------------------------------------->
    <div class="modal fade" id="m_modal_10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
      aria-hidden="true">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header header-size-view">
            <!--<h4 class="modal-heading font-weight-bold">New Entries<br><span class="modal-subheading">Tap to entry</span></h4>-->
            <a href="#" class="close " data-dismiss="modal">&times;</a>
          </div>
          <div class="row mt-3">
            <div class="col-lg-12">
              <h4 class="modal-heading font-weight-bold pull-left">New Entries<br><span class="modal-subheading">Tap to
                  entry</span></h4>
              <span class="pull-right">
                <select class="form-control" [(ngModel)]="selectedValue"
                  (change)="getSelectedOption(this.selectedValue)">
                  <option value="" selected>Meet Person Type</option>
                  <option placeholder="Selected Notification Type" value="Teacher" >Teacher
                  </option>
                  <option placeholder="Selected Notification Type" value="Non-Teacher">Non-Teachers
                  </option>
                  <option placeholder="Notification Type" value="Bus">Bus
                  </option>
                </select>
               
              </span>
            </div>
          </div>

          <div class="modal-body">
            <form ngNativeValidate [formGroup]="securityForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-12">
                <!--<div class="search-container">
                <form action="/action_page.php">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button type="submit" class="search-btn btn-block"><i class="fa fa-search"></i></button>
                    </div>
                    <input type="text" placeholder="Search Teachers, Classes" name="search" [(ngModel)]="searchTerm">
                  </div>
                </form>
              </div>-->
              <div class="row">
              <div class="col-lg-4">
                <span class="pull-left time-heading">IN TIME</span><br>
                <input type="time" class="text-box form-control" placeholder="__:__ AM" formControlName="inTime" required>
                <!-- <p class="pull-left text-dark text-lowercase font-weight-bold">{{ currentDay | date:'hh:mm a'}}</p> -->
                <span *ngIf="securityForm.get('inTime').errors && (securityForm.get('inTime').touched || securityForm.get('inTime').dirty)" class="help-block">
                    <span *ngIf="securityForm.get('inTime').errors.required" class="error-message">
                      Please enter inTime!
                    </span>
                </span>
              </div>
              <div class="col-lg-4"></div>
              <div class="col-lg-4" style="float: right;">
                <span class="pull-left time-heading">OUT TIME</span><br>
                <input type="time" class="text-box form-control" placeholder="__:__ AM" disabled>
                <!-- <p class="pull-left text-dark text-lowercase font-weight-bold">{{ currentDay | date:'hh:mm a'}}</p> -->
              </div>
              
            </div> 
              </div>

            </div>
            <div class="row">
              <div class="col-lg-12">   
                  <!-- <form> -->
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group" [ngClass]="{'has-error': securityForm.get('visitorName').errors && (securityForm.get('visitorName').touched || securityForm.get('visitorName').dirty)}">
                        <input type="text" name="visitorName" id="visitorName" class="text-box form-control" placeholder="Name" formControlName="visitorName"  ngModel required>
                          <span *ngIf="securityForm.get('visitorName').errors && (securityForm.get('visitorName').touched || securityForm.get('visitorName').dirty)" class="help-block"> 
                            <span *ngIf="securityForm.get('visitorName').errors.required" class="error-message"> 
                            Please fill your name!
                           </span>
                          </span>
                        <!--<div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                
                                    <div *ngIf="title.errors.required">
                                      Name is required.
                                    </div>
                
                                  </div>-->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="text-box form-control" placeholder="Mobile Number" formControlName="phone" required maxlength="10" minlength="10" required>
                          <span *ngIf="securityForm.get('phone').errors && (securityForm.get('phone').touched || securityForm.get('phone').dirty)" class="help-block">
                              <span *ngIf="securityForm.get('phone').errors.required" class="error-message">
                                Please fill mobile number!
                              </span>
                          </span>
                          <span *ngIf="securityForm.get('phone').errors && (securityForm.get('phone').touched || securityForm.get('phone').dirty)" class="help-block">
                              <span *ngIf="securityForm.get('phone').errors.maxlength" class="error-message">
                                Please enter 10 digit mobile number!
                              </span>
                          </span>
                          <span *ngIf="securityForm.get('phone').errors && (securityForm.get('phone').touched || securityForm.get('phone').dirty)" class="help-block">
                              <span *ngIf="securityForm.get('phone').errors.minlength" class="error-message">
                                  Please enter 10 digit mobile number!
                              </span>
                          </span>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group" *ngIf="selectedValue == 'Teacher' ">
                        <select class="form-control option-btn" formControlName="userCode" required>
                          <option value="" selected>Meeting Person</option>
                          <option value="{{ teacher.uid }}" *ngFor="let teacher of teacherSecurityData" selected>
                            {{ teacher.name }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group" *ngIf="selectedValue == 'Non-Teacher' ">
                        <select class="form-control option-btn" formControlName="userCode" required>
                          <option value="" selected>Meeting Person</option>
                          <option value="{{ teacher.uid }}" *ngFor="let teacher of nonTeaching" selected>
                            {{ teacher.name }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group" *ngIf="selectedValue == 'Bus' ">
                        <select class="form-control option-btn" formControlName="userCode" required>
                          <option value="" selected>Meeting Person</option>
                          <option value="{{ bus.uidBusLogBook }}" *ngFor="let bus of busDetails" selected>
                            {{ bus.number }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group" *ngIf="!selectedValue">
                        <select class="form-control option-btn" formControlName="userCode" required>
                          <option value="" selected>Meeting Person</option>
                        </select>
                      
                      <span *ngIf="securityForm.get('userCode').errors && (securityForm.get('userCode').touched || securityForm.get('userCode').dirty)" class="help-block">
                          <span *ngIf="securityForm.get('userCode').errors.required" class="error-message">
                            Please Select userCode!
                          </span>
                      </span>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="text-box form-control" placeholder="email" formControlName="email">
                      
                     
                    </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="text-box form-control" placeholder="Address"
                          formControlName="address" required>
                      
                      <span *ngIf="securityForm.get('address').errors && (securityForm.get('address').touched || securityForm.get('address').dirty)" class="help-block">
                          <span *ngIf="securityForm.get('address').errors.required" class="error-message">
                            Please fill address!
                          </span>
                      </span>
                    </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="text-box form-control" placeholder="vehicleNo"
                          formControlName="vehicleNo">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="text-box form-control" placeholder="Purpose"
                          formControlName="purpose" required>
                      
                      <span *ngIf="securityForm.get('purpose').errors && (securityForm.get('purpose').touched || securityForm.get('purpose').dirty)" class="help-block">
                          <span *ngIf="securityForm.get('purpose').errors.required" class="error-message">
                            Please fill purpose!
                          </span>
                      </span>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="text-box form-control" placeholder="Note" formControlName="note">
                        <!--<span class="small-heading text-dark">*Return Within 7 Days</span>-->
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <select class="form-control option-btn" formControlName="visitorType" required>
                          <option value="" selected>Visitor Type</option>
                          <option placeholder="Selected Notification Type" value="V" selected>Visitor</option>
                          <option placeholder="Selected Notification Type" value="E">External Student</option>
                          <option placeholder="Notification Type" value="D">Delivery</option>
                        </select>
                        <span *ngIf="securityForm.get('visitorType').errors && (securityForm.get('visitorType').touched || securityForm.get('visitorType').dirty)" class="help-block">
                            <span *ngIf="securityForm.get('visitorType').errors.required" class="error-message">
                              Please select visitorType!
                            </span>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>
                          File Browser
                        </label>
                        <div></div>
                        <label class="custom-file">
                          <input type="file" accept="image/*" class="form-control custom-file-input"
                            (change)="onFileChange($event)" name="myfile" ngModel #fileInput
                            accept=".png, .pdf, .jpg, .jpeg" required >
                          <span class="custom-file-control form-control"></span>
                        </label>
                        
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-lg-12">
                      <button type="submit" class="btn btn-submit btn-sm">
                        SAVE
                      </button>
                      <button type="button" class="btn btn-close btn-sm mr-2" data-dismiss="modal">
                        CANCEL
                      </button>
                    </div>
                  </div>   
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>

    <!----------------------------------------------Popup Modal student Out Entry code ----------------------------------------------------->
    <div class="modal fade" id="m_modal_11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
      aria-hidden="true">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header header-size-view">
            <!--<h4 class="modal-heading font-weight-bold">New Entries<br><span class="modal-subheading">Tap to entry</span></h4>-->
            <a href="#" class="close " data-dismiss="modal">&times;</a>
          </div>
          <div class="row mt-3">
            <div class="col-lg-12">
              <h4 class="modal-heading font-weight-bold pull-left">New Entries<br><span class="modal-subheading">Tap to
                  entry</span></h4>
              <span class="pull-right">
                <select class="form-control" >
                  <option placeholder="Selected Notification Type" value="Teacher" Selected>Teacher
                  </option>
                  <option placeholder="Selected Notification Type" value="Non-Teacher">Non-Teachers
                  </option>
                  <option placeholder="Notification Type" value="Bus">Bus
                  </option>
                </select>
              </span>
            </div>
          </div>

          <div class="modal-body">
            <form [formGroup]="visitorOut" (ngSubmit)="onSubmitVisitorOut()">
            <div class="row">
              <div class="col-lg-12">
                <!--<div class="search-container">
                <form action="/action_page.php">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button type="submit" class="search-btn btn-block"><i class="fa fa-search"></i></button>
                    </div>
                    <input type="text" placeholder="Search Teachers, Classes" name="search" [(ngModel)]="searchTerm">
                  </div>
                </form>
              </div>-->
              <div class="row">
              <div class="col-lg-4">
                <span class="pull-left time-heading">IN TIME</span><br>
                <input type="text" class="text-box form-control" placeholder="__:__ AM" formControlName="inTime" value="{{visitorsDetails.inTime | date: 'hh:mm a'}}" readonly>
                <p class="pull-left text-dark text-lowercase font-weight-bold">{{visitorsDetails.inTime | date: 'hh:mm a'}}</p>
              </div>
              <div class="col-lg-4"></div>
              <div class="col-lg-4" style="float: right;">
                <span class="pull-left time-heading">OUT TIME</span><br>
                <input type="time" class="text-box form-control" placeholder="__:__ AM" formControlName="outTime" >
                <span *ngIf="visitorOut.get('outTime').errors && (visitorOut.get('outTime').touched || visitorOut.get('outTime').dirty)" class="help-block">
                    <span *ngIf="visitorOut.get('outTime').errors.required" class="error-message">
                      Please select Out Time!
                    </span>
                </span>
                <!-- <p class="pull-left text-dark text-lowercase font-weight-bold">{{ currentDay | date:'hh:mm a'}}</p> -->
              </div>
            </div> 
              </div>

            </div>
            <div class="row">
              <div class="col-lg-12" *ngIf="visitorsDetails">   
                  <!-- <form> -->
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <input type="text" class="text-box form-control" placeholder="Name"
                           value="{{visitorsDetails.visitorName}}" readonly>
                        <!--<div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                
                                    <div *ngIf="title.errors.required">
                                      Name is required.
                                    </div>
                
                                  </div>-->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="text-box form-control" placeholder="Mobile Number"
                          value="{{ visitorsDetails.phone }}" readonly>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <select class="form-control option-btn" >
                          <option selected>
                            {{ visitorsDetails.meetingPerson }}
                          </option>
                        </select>
                      </div>                      
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="text-box form-control" placeholder="email"  value="{{ visitorsDetails.email }}" readonly>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="text-box form-control" placeholder="address"
                        value="{{ visitorsDetails.email }}" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="text-box form-control" placeholder="vehicleNo"
                        value="{{ visitorsDetails.vehicleNo }}" readonly>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="text-box form-control" placeholder="Purpose"
                          value="{{ visitorsDetails.purpose }}" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="text-box form-control" placeholder="Note" value="{{ visitorsDetails.note }}" readonly>
                        <!--<span class="small-heading text-dark">*Return Within 7 Days</span>-->
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <select class="form-control option-btn" >
                          <option placeholder="Selected Notification Type" *ngIf=" visitorsDetails.visitorType == 'V'" value="V" selected>Visitor</option>
                          <option placeholder="Selected Notification Type" *ngIf=" visitorsDetails.visitorType == 'E'" value="E" selected>External Student</option>
                          <option placeholder="Notification Type" *ngIf=" visitorsDetails.visitorType == 'D'" value="D" selected>Delivery</option>
                        </select>
                      </div>
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="checkbox" class="text-box" (change)="studentOutheck($event.target.checked)"> Is Student Out
                        <!--<span class="small-heading text-dark">*Return Within 7 Days</span>-->
                      </div>
                    </div>
                    <div class="col-lg-6" *ngIf="isStudentOut">
                      <div class="form-group">
                       <button type="button" class="btn btn-sm m-btn sq-btn"  data-toggle="modal" data-target="#m_modal_12" on-click="getClasses()"> Add Child </button>
                      </div>
                    </div>
                    
                  </div>
                  <div class="row" *ngIf="isStudentOut">  
                    <div class="col-lg-6">                 
                      <pre class="text-center" *ngIf="studentNameList">{{ studentNameList.join(", ") }}</pre>
                    </div>
                    <div class="col-lg-6">  
                      <div class="form-group">
                        <input type="text" class="text-box form-control" placeholder="reasonForEarlyOut" formControlName="reasonForEarlyOut" >
                        <!--<span class="small-heading text-dark">*Return Within 7 Days</span>-->
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-lg-12">
                      <button type="submit" class="btn btn-submit btn-sm" [disabled]="!visitorOut.valid">
                        SAVE
                      </button>
                      <button type="button" class="btn btn-close btn-sm mr-2" data-dismiss="modal">
                        CANCEL
                      </button>
                    </div>
                  </div>   
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="m_modal_12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
      aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header header-size-view">
             <a href="#" class="close " data-dismiss="modal">&times;</a>
          </div>
          <div class="row mt-3">
            <div class="col-lg-12">
              <h4 class="modal-heading font-weight-bold pull-left">Select Child<br><span class="modal-subheading"></span></h4>
              <span>
                <select class="form-control" 
                (change)="getSelectedClass($event)" *ngIf="classList">
                  <option value="Teacher" Selected>Select Class
                  </option>
                  <option  *ngFor="let classes of classList" value="{{ classes.std}}">{{ classes.std}}
                  </option>
                  
                </select>
              </span>
            </div>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12" *ngIf="studentList">   
                  <!-- <form> -->
                  <div class="row" *ngFor="let student of studentList;">
                    <div class="col-lg-12">
                      <a on-click="onChange(student.uid, student.name)"> <img src="{{ student.avtarURL}}" class="m--img-rounded m--marginless m--img-centered" onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px"><span class="ml-2 category-name">{{ student.name }}</span> </a> 
                    </div>
                  </div>    
                  <!-- <div class="row">
                    <div class="col-lg-12">
                      <button class="btn btn-submit pull-right btn-sm" data-dismiss="modal">
                        ADD
                      </button>
                    </div>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

    <!---------------------------------------------- modal code ----------------------------------------------------->
    <!--<div class="modal fade" id="m_modal_10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
    aria-hidden="true">
    <div class="modal-dialog">-->

    <!-- Modal content-->
    <!--<div class="modal-content">
        <div class="modal-header header-size-view">-->
    <!--<h4 class="modal-heading font-weight-bold">New Entries<br><span class="modal-subheading">Tap to entry</span></h4>-->


    <!--<a href="#" class="close " data-dismiss="modal">&times;</a>


        </div>
        <div class="row mt-3">
          <div class="col-lg-12">
            <h4 class="modal-heading font-weight-bold pull-left">New Entries<br><span class="modal-subheading">Tap to
                entry</span></h4>
            <span class="pull-right">
              <select class="form-control" [(ngModel)]="selectedValue" (change)="getSelectedOption(this.selectedValue)">
                <option placeholder="Selected Notification Type" value="Teacher">Teacher
                </option>
                <option placeholder="Selected Notification Type" value="Non-Teacher">Non-Teachers
                </option>
                <option placeholder="Notification Type" value="Delivery">Delivery
                </option>
                <option placeholder="Notification Type" value="Bus">Bus
                </option>
                <option placeholder="Notification Type" value="ExternalStudents">External Students
                </option>
                <option placeholder="Notification Type" value="Visitors">Visitors
                </option>
              </select>
            </span>
          </div>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="search-container">
                <form action="/action_page.php">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button type="submit" class="search-btn btn-block"><i class="fa fa-search"></i></button>
                    </div>
                    <input type="text" placeholder="Search Teachers, Classes" name="search" [(ngModel)]="searchTerm">
                  </div>
                </form>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-12">
              <table class="table table-borderless">
                <tbody *ngIf="selectedValue == 'Teacher' ">
                  <tr *ngFor="let teacher of teaching">
                    <td><img src="{{ teacher.avtarURL}}" class="m--img-rounded m--marginless m--img-centered"
                        onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px">{{ teacher.name }}
                    </td>


                    <td>{{ teacher.inTime | date: 'h:mm a' }}</td>
                    <td>{{ teacher.outTime | date: 'h:mm a' }}</td>


                  </tr>



                </tbody>
                <tbody *ngIf="selectedValue == 'Non-Teacher'">
                  <tr *ngFor="let teacher of nonTeaching">
                    <td><img src="{{ teacher.avtarURL}}" class="m--img-rounded m--marginless m--img-centered"
                        onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px">{{ teacher.name }}
                    </td>

                    <td>{{ teacher.inTime }}</td>
                    <td>{{ teacher.outTime }}</td>


                  </tr>



                </tbody>
                <tbody *ngIf="selectedValue == 'Delivery'">
                  <tr *ngFor="let delivery of deliveryDetails">
                    <td><img src="{{ delivery.avtarURL}}" class="m--img-rounded m--marginless m--img-centered"
                        onError="this.src='././assets/images/avatar.jpg'" height="45px"
                        width="45px">{{ delivery.visitorName }}</td>

                    <td>{{ delivery.inTime }}</td>
                    <td>{{ delivery.outTime }}</td>


                  </tr>
                </tbody>
                <tbody *ngIf="selectedValue == 'Bus'">
                  <tr *ngFor="let bus of busDetails | filter:searchTerm; let i = index">
                    <td>{{ bus.number }}</td>

                    <td>{{ bus.inTime | date: 'h:mm a' }}</td>
                    <td>{{ bus.outTime | date: 'h:mm a' }}</td>


                  </tr>



                </tbody>
                <tbody *ngIf="selectedValue == 'ExternalStudents'">
                  <tr *ngFor="let external of externalStudentDetails">
                    <td colspan="8">{{ external.number }}</td>
                    <td  *ngIf="displayTimeInbtn"><button class="btn-success text-white btn-sm" type="submit" on-click="getTimeIn()">IN</button></td>
                    <td *ngIf="displayTimeIn">{{ external.inTime | date: 'h:mm a'}}</td>
                    <td><button class="btn-pink text-white btn-sm" type="submit">OUT</button></td>-->


    <!--<td>{{ external.outTime | date: 'h:mm a'}}</td>-->


    <!--</tr>
                </tbody>
                <tbody *ngIf="selectedValue == 'Visitors'">
                  <tr *ngFor="let visitors of visitorsDetails">
                    <td><img src="{{ visitors.visitorPhotoLocation}}"
                        class="m--img-rounded m--marginless m--img-centered"
                        onError="this.src='././assets/images/avatar.jpg'" height="45px" width="45px">{{ visitors.name }}
                    </td>
                    <td><button class="btn-danger text-white">TimeIn</button></td>
                    <td><button class="btn-danger text-white">TimeOut</button></td>-->
    <!--<td>{{ visitors.inTime | date: 'h:mm a'}}</td>
                    <td>{{ visitors.outTime | date: 'h:mm a'}}</td>-->


    <!--</tr>
                </tbody>

              </table>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>-->