.subheading {
  color: #ff9100;
  font-weight: 500;
  font-size: 12px;
}

.m-body .m-content-custom  {
  padding: 0px 12px 0px 12px !important;   
}

* {
  font-family: Segoe UI !important;
}

.subheading2 {
  color: #ff9100;
  font-weight: 500;
  font-size: 20px;
}

.add-btn {
  border: 2px solid #ff9100;
  background-color: #ff9100;
  padding: 10px 20px;
  color: #fff;
  border-radius: 25px;
  float: right;
  font-size: 12px;
  font-weight: 500;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
}

/*.add-btn:hover{
    text-decoration: none;
    color: #FF9100;
    background:transparent;
    font-weight: 500;
    filter: drop-shadow(2px 4px 6px #D9D9D9);
  }*/
a:hover {
  text-decoration: none;
}

.background_security {
  background-color: transparent !important;
  box-shadow: none;
  padding-left: 0px !important;
}

.background2_security {
  padding: 42px 42px !important;
}

.book-white-box {
  border-radius: 12px;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
}

.booktitle {
  font-size: 12px;
  color: #000;
  padding: 10px;
  font-weight: 500;
}

.booktitle2 {
  font-size: 16px;
  color: #000;
  padding: 10px;
  font-weight: 500;
  margin-top: -44px;
}

.bookimage {
  height: 145px;
  width: 100px;
  padding: 0px 0px;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
  border-radius: 12px;
  margin-right: 39px;
}

.bookimage2 {
  height: 272px;
  width: 180px;
  padding: 0px 0px;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
  border-radius: 12px;
}

.white-box-class {
  background-color: #fff;
  padding: 5%;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
}

.class-name-security {
  float: left;
  margin-top: 15%;
  margin-left: 15%;
  font-size: 15px;
  font-weight: 500;
}

.modal-heading {
  color: #ff9100;
  font-size: 23px;
  margin-top: -10px !important;
  margin-left: 24px !important;
}

.nav.nav-pills.nav-pills--brand-custom .nav-link.active {
  background: #f2f3f8;
  color: #3f4047;
  border-radius: 0px;
  border-bottom: #e58416 2px solid;
}

.class-heading {
  color: #ff9100;
  font-size: 20px;
  font-weight: 600;
  margin-left: 1%;
}

.text-box {
  border: 2px solid #dee3e9 !important;
  border-left: transparent !important;
  border-top: transparent !important;
  border-right: transparent !important;
  font-size: 13px !important;
  color: #000000 !important;
}

.text-box:focus {
  border: 2px solid #ff9100 !important;
  border-left: transparent !important;
  border-top: transparent !important;
  border-right: transparent !important;
  font-size: 13px !important;
  color: #000000 !important;
}

input[type="text"] {
  border: 2px solid #c8c8c8;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  font-size: 12px;
}

.btn-close {
  color: #ff9100;
  background-color: #fff;
  border: 1px solid #f0f1f6;
  border-radius: 28px;
  width: 83px;
  float: right;
}

.btn-close:hover {
  color: #000;
  background-color: #f0f1f6;

  border-radius: 28px;
}

.btn-submit {
  color: #fff;
  border: 2px solid #ff9100;
  background-color: #ff9100;
  border-radius: 28px;
  width: 83px;
  float: right;
}

.header-size {
  padding-top: 20px !important;
  padding-bottom: 10px !important;
}

.header-size-view {
  padding-top: 20px !important;
  padding-bottom: 0px !important;
  border: none;
}

.m-portlet__body-background_security {
  color: #575962;
  background-color: transparent !important;
  margin: 0px 10px;
  border-radius: 20px;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
  padding: 10px 10px;
}

.graph-box {
  background-color: #fff;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

.circle {
  border-radius: 50%;
  background-color: #808080;
  padding: 12px 13px;
  /* margin-top: 159%;
  margin-left: 4%;*/
}

.text-section {
  float: left;
  margin-top: 20%;
}

.sub-heading-security {
  color: #a0a0a2;
  font-size: 14px;
  margin-bottom: -10px;
}

.small-heading {
  font-size: 11px;
  color: #6b6b73;
  font-weight: 500;
  line-height: 1.2;
  margin-top: -5px;
}

.main-heading {
  color: #6b6b73;
  font-size: 16px;
  font-weight: bold;
}

.bg-white {
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
  padding: 28px 0px 0px 0px;
}

.bg-white-security {
  padding: 10px 35px;
}

table {
  border-color: transparent;
}

.body-margins {
  padding: 0px 0px !important;
}

.btn-danger,
.btn-default {
  border-radius: 14px;
  width: 100px;
}

.search-container {
  float: right;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  padding: 8px 0px;
}

.search-container input[type="text"] {
  color: #000 !important;
  font-size: 11px;
  border: 2px solid transparent !important;
  background-color: transparent;
  border-top: transparent;
  width: 100%;
  font-weight: 700;
}

.searching-container input:hover {
  color: #000 !important;
  font-size: 11px;
  border: 2px solid transparent !important;
  border-top: transparent;
  background-color: transparent;
  width: 100%;
  outline: none;
  font-weight: 700;
}

.fa-search:before {
  font-size: 13px;
  padding: 20px;
}

.search-container button {
  background: transparent;
  padding: 0;
}

.searching-container button:focus {
  background: transparent !important;
  padding: 0 !important;
  outline: none !important;
}

.searching-container button:hover {
  background: transparent !important;
  padding: 0 !important;
  outline: none !important;
}

/*....... bookdetails searchbox code starts......*/
.searching-container {
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  background-color: #fff;
  width: 100%;
}

.searching-container input {
  padding: 8px;
  font-size: 10px;
  border: none;
  background-color: transparent;
  width: 100%;
  font-weight: 600;
}

.searching-container input:focus {
  padding: 8px;
  font-size: 10px;
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
  font-weight: 600;
}

.fa-search:before {
  font-size: 13px;
  padding: 20px;
}

.searching-container button {
  background: transparent;
  padding: 0;
}

.searching-container button:focus {
  background: transparent !important;
  padding: 0 !important;
  outline: none !important;
}

.searching-container button:hover {
  background: transparent !important;
  padding: 0 !important;
  outline: none !important;
}

.search-btn {
  color: #000;
  padding: none;
  vertical-align: middle;
}

/*....... bookdetails searchbox code ends......*/
.bookdetails a {
  float: right;
}

.list-icon {
  font-size: 10px;
  color: #c8c8c8;
}

.subject-btn {
  background-color: #ff6565;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 600;
}

.bookcontainer {
  border-radius: 10px;
  background-color: #fff;
  margin: 0px 10px 10px 10px;
  color: black;
  font-weight: 600;
  padding: 18px 20px 0px 20px;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
}

.bookcontainer:focus {
  border-radius: 10px;
  background-color: #fff;
  margin: 10px;
  padding: 20px 20px 0px 20px;
  filter: drop-shadow(2px 4px 6px #000);
}

.author-name {
  color: #6b6b73;
  font-size: 14px;
  font-weight: 600;
}

.booksection-author-name {
  color: #6b6b73;
  font-size: 12px;
  font-weight: 600;
  margin-top: -19px;
}

.para {
  font-size: 12px;
  color: #000;
  margin-top: -10px;
}

tbody {
  font-size: 14px;
  color: black;
  font-weight: 600;
}

thead {
  color: #6b6b73;
  font-size: 14px;
  font-weight: 600;
}

.details-show-background {
  background-color: #fff;
  margin: 10px;
  border-radius: 10;
}

.detail-headings {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}

.detail-headings2 {
  font-size: 14px;
  color: #000;
  font-weight: 300;
}

.booksection-container {
  margin: 10px;
}

.category-name {
  font-size: 13px !important;
  font-weight: 500 !important;
}

.category-img {
  height: 40px;
  width: 40px;
}

.dash {
  border: 2px solid black;
}

.modal-subheading {
  color: #6b6b73 !important;
  font-size: 13px !important;
  font-weight: normal !important;
}

select {
  width: 170px !important;
  float: right !important;
  border-radius: 7px !important;
  margin-right: 29px !important;
  font-size: 13px;
  color: black;
  font-weight: 500;
  border: 1px solid black;
}

.options {
  font-size: 15px !important;
}

.grey-circle {
  height: 50px;
  width: 50px;
  margin: 20px 0px;
}

.m-portlet__head_custom {
  border: none !important;
}

.btn-success {
  background-color: #53d476;
  border-radius: 9px;
  width: 90%;
  padding: 10px 1px;
  font-size: 12px;
}

.btn-pink {
  background-color: #ff6565;
  border-radius: 9px;
  width: 50px;
  padding: 10px 10px;
  font-size: 12px;
}

.time-heading {
  color: #a0a0a2;
  font-size: 13px;
  font-weight: 600;
}

input[type="file"i] {
  font-size: 13px;
}

.option-btn {
  border: 1px solid #c8c8c8;
  border-width: 0px 0px 2px 0px;
  border-radius: 0px;
}

.option-btn :focus {
  border: 1px solid #e58416;
  border-width: 0px 0px 2px 0px;
  border-radius: 0px;
}

.imagediv,
.textdiv {
  display: inline-block;
  box-sizing: border-box;

  padding: 10px;
}

.textdiv {
  width: 43%;
}

.imagediv {
  vertical-align: middle !important;
}

.green-text {
  color: #53d476;
  font-size: 13px;
  font-weight: 700;
  vertical-align: middle;
  margin: 6px;
}

.main-td {
  width: 54%;
}

.m--img-rounded {
  margin-right: 10px;
}

input[type="date"] {
  width: 43%;
  float: right;
}

/* -------------------------------------------- */
.m-subheader-custom-security {
  padding: 5px 42px 0 42px !important
}

.sq-btn {
  /*background: #e68516 !important;
  border-color: #e48416;
  color: white !important;
  border-radius: 40px;*/

  background: #ff9100 !important;
  border-color: #ff9100;
  color: white !important;
  border-radius: 40px;
  font-size: 14px;
  padding: 10px 22px;
  margin-left: 10px;
  font-weight: 500;
  /* filter: drop-shadow(2px 4px 6px #d9d9d9); */
  filter: drop-shadow(2px 5px 6px #bcbcbc);
}

.m-portlet .m-portlet__body-custom-security {
  padding: 1.2rem 0px !important;
}

.m-portlet .m-portlet__head-custom-security {
  /* border-bottom: 1px solid #d4d4d4 !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 212, 212); */
  padding: unset !important;
}

.row-background {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  -webkit-filter: drop-shadow(2px 4px 6px #d9d9d9);
  filter: drop-shadow(2px 4px 6px #d9d9d9);
}

.row-background.active {
  background-color: #eff0f5 !important;
}

.row-margin-0 {
  margin-right: 0px !important;
}

.sq-btn-1 {
  width: 50px;
}

.row-bottom-border {
  border-bottom: 1px solid #f1f2f7;
}

.row-header {
  font-size: 14px;
  font-family: Segoe UI Symbol;
  font-weight: 500;
  color: #343a40;
  padding-bottom: 5px;
}

.row-data {
  font-size: 13px;
  font-family: Segoe UI Symbol;
  font-weight: 500;
  color: #323233;
  padding-bottom: 5px;
}

.div-fix-height {
  max-height: 400px;
  overflow-y: auto;
}

.outline-remove {
  outline: none;
}

.m-portlet .m-portlet__head {
  height: 3.1rem !important;
}

.ct-label {
  font-weight: 700 !important;
}

.teacher-details-box {
  border: 1px dashed #969698;
  border-width: 0px 1px 0px 0px;
}

div#m_chart_security {
  color: black !important;
  font-weight: 700;
  bottom: 0;
}

.error-message {
  color: red;
  font-size: 11px;
  font-weight: 600;
}

.m-subheader .m-subheader__title-security {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-weight: bold;
  font-size: 30px;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #000;
}
.h2-custom[_ngcontent-c3] {
  font-size: 30px;
  margin-top: -5px;
}
.security-sub-heading {
  font-family: Poppins;
  font-size: 18px;
  font-weight: bold;
  color: #a0a0a2;
}
.security-attendance-heading {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #6b6b73;
}
.tab-pane-currentTime {
  background-color: #fff !important;
  border-radius: 10px;
  padding: 10px 10px;
}
/*.......................................media query code .............................................*/

@media (min-width: 992px) and (max-width: 1024px) {
}

@media (min-width: 992px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 575px) and (max-width: 767px) {
}

@media (min-width: 480px) and (max-width: 574px) {
}

@media (max-width: 479px) {
  .background2_security {
    padding: 19px 19px !important;
  }

  .m-subheader-custom-security {
    padding: 30px 19px 0 19px !important;
  }

  .nav.nav-pills.m-nav-pills--btn-sm .m-tabs__link-security {
    padding: 0.6em 1.4em;
    font-size: 0.7rem;
  }

  .m-widget14__chart {
    font-size: 10px !important;
  }

  .ct-label {
    fill: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.5rem !important;
    line-height: 1;
  }

  .bg-white-security {
    padding: 10px 13px !important;
  }
}
