<div class="m-subheader m-subheader-privacy" appunwraptag="">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title">
         Privacy Policy
        </h3>
      </div>
    </div>
  </div>
<div class="m-content m-content-mychild">
  <!--Begin::Main Portlet-->
  <div class="row">
    <div class="col-xl-12">
      <!--begin:: Widgets/Student list-->
      <div class="row mt-3">
        <div class="col-lg-12 col-md-12" >
          <div class="white-box-mychild mb-2">
            <iframe width="100%" height="400px" frameBorder="0" [src]="urlSafe"></iframe>
          </div>
        </div>
      </div>

    </div>
    <!--End::Main Portlet-->
  </div>
</div>
