/** Track list view bottom border for content */

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.m-widget4__info {
  margin-bottom: 15px !important;
}

.m-subheader-trackbus {
  padding: 30px 30px 0 42px !important;
}

/** title content style change */
.m-widget4__title {
  display: block;
  font-size: 20px;
  padding: 10px 0px 10px 0px;
}

/** Track status color change  */
.track-status {
  color: green !important;
}

/*  */
.m-widget4__sub {
  display: block;
}

b {
  font-weight: bold !important;
}

td {
  padding-right: 20px !important;
}

table {
  display: inline-block;
}

button {
  margin: 5px !important;
}

/* Map Heght */
agm-map {
  height: 400px;
}

.track-white-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
}

.m-portlet {
  -webkit-box-shadow: 0px 1px 15px 1px transparent !important;
  -moz-box-shadow: 0px 1px 15px 1px transparent !important;
  box-shadow: 0px 1px 15px 1px transparent !important;
  background-color: transparent !important;
}

.bus-details1 {
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
}

.bus-details2 {
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
}

.bus-date {
  color: #a0a0a2;
  font-size: 12px;
  font-weight: 500;
}

.bus-driver {
  color: #6b6b73;
  font-size: 12px;
  margin-top: -10px;
  font-weight: 500;
}

.route-heading {
  font-size: 18px;
  font-weight: 700;
}

.bus-number-track {
  float: right;
  color: #fff;
  background-color: black;
  padding: 6px 10px;
  border-radius: 10px;
  font-weight: 500;
}

.bus-block-box {
  display: inline-block;
  box-sizing: border-box;
  width: 22%;
  text-align: center;
}

.bus-block-box span {
  font-size: 12px;
  color: #6b6b73;
  font-weight: 700;
}

.bus-block-box p {
  font-size: 12px;
  color: #000;
  font-weight: 500;
}

.track-bus-status {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
}

.track-bus-button {
  display: inline-block;
  box-sizing: border-box;
  width: 65%;
}

.member-btn button {
  background-color: #ff9100;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
}

.track-bus-status p {
  color: #53d476;
  font-weight: 700;
}

.track-bus-button-align {
  justify-content: space-evenly;
  display: flex;
}

.dashboard-profile-pic {
  display: inline-block;
  box-sizing: border-box;
}
.dashboard-text {
  display: inline-block;
  box-sizing: border-box;
}
.dashboard-profile-pic img {
  height: 50px;
  width: 50px;
}

.m-widget4 .m-widget4__item-trackbus {
  display: table;
  /* padding-top: 1.15rem; */
  /* padding-bottom: 1.25rem; */
  background-color: #fff !important;
  padding: 8px 10px;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px #d9d9d9);
}

/*.......................................media query code .............................................*/

@media (min-width: 992px) and (max-width: 1024px) {
}

@media (min-width: 992px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  .bus-block-box span {
    font-size: 9px;
    color: #6b6b73;
    font-weight: 700;
  }

  .bus-block-box p {
    font-size: 10px;
    color: #000;
    font-weight: 500;
  }

  .track-bus-status p {
    color: #53d476;
    font-weight: 700;
    font-size: 13px;
  }

  .member-btn button {
    background-color: #ff9100;
    border-radius: 10px;
    -webkit-filter: drop-shadow(2px 4px 6px #d9d9d9);
    filter: drop-shadow(2px 4px 6px #d9d9d9);
    /* width: 71px; */
    font-size: 11px;
  }

  .bus-number-track {
    float: right;
    color: #fff;
    background-color: black;
    padding: 3px 10px;
    border-radius: 10px;
    font-weight: 500;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
}

@media (min-width: 480px) and (max-width: 574px) {
}

@media (max-width: 479px) {
  .bus-block-box span {
    font-size: 9px;
    color: #6b6b73;
    font-weight: 700;
  }

  .bus-block-box p {
    font-size: 10px;
    color: #000;
    font-weight: 500;
  }

  .track-bus-status p {
    color: #53d476;
    font-weight: 700;
    font-size: 13px;
  }
  */ .member-btn button {
    background-color: #ff9100;
    border-radius: 10px;
    -webkit-filter: drop-shadow(2px 4px 6px #d9d9d9);
    filter: drop-shadow(2px 4px 6px #d9d9d9);
    /* width: 71px; */
    font-size: 11px;
  }

  .bus-number-track {
    float: right;
    color: #fff;
    background-color: black;
    padding: 3px 10px;
    border-radius: 10px;
    font-weight: 500;
  }

  .m-widget4__item-track-bus {
    display: table !important;
    background-color: #fff !important;
    padding: 10px 23px !important;
    border-radius: 10px !important;
  }
}
