<div *ngIf="trackBus">
  <div class="m-subheader m-subheader-trackbus" appunwraptag="">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title">
          Track Buses
        </h3>
      </div>
    </div>
  </div>

  <div class="m-content">
    <div class="row">
      <div class="col-xl-12">
        <div class="m-portlet">
          <!--  m-portlet--full-height-->
          <div class="">
            <!-- m-portlet__body ng-class="{'selected-color' : i==selectedIndex}"-->
            <div class="tab-content">
              <div class="tab-pane active" id="m_widget4_tab1_content">
                <div class="m-widget6" *ngFor="let tb of track_bus; let i = index">
                  <div class="col-lg-4 col-md-4">
                    <!--<span class="float-right">{{notice.createdAt}}</span><br/>-->
                    <!--begin::Widget 14 Item-->
                    <div class="track-white-box">
                      <div class="bus-details1">
                        <p class="bus-date">
                          {{ tb.startTime | date: "d-MMM-y" }}
                        </p>
                        <p class="bus-driver">{{ tb.driver }}</p>
                      </div>
                      <div class="bus-details2">
                        <p class="bus-number-track">{{ tb.bus }}</p>
                      </div>
                      <div>
                        <p class="route-heading">
                          {{ tb.route }} {{ tb.direction }}
                        </p>
                      </div>
                      <div class="bus-block-box">
                        <span>Top Speed</span>
                        <p>{{ tb.topSpeed }} km/hr</p>
                      </div>
                      <div class="bus-block-box">
                        <span>Avg. Speed</span>
                        <p>{{ tb.topSpeed }} km/hr</p>
                      </div>
                      <div class="bus-block-box">
                        <span>Distance</span>
                        <p>{{ tb.topSpeed }}</p>
                      </div>
                      <div class="bus-block-box">
                        <span>Duration</span>
                        <p>{{ tb.duration }}</p>
                      </div>
                      <div class="track-bus-footer">
                        <div class="track-bus-status">
                          <p>{{ tb.status }}</p>
                        </div>
                        <div class="track-bus-button">
                          <div class="track-bus-button-align">
                            <div class="member-btn">
                              <button on-click="getTripPassenger(tb.tuid)" class="m-menu__link btn-sm">
                                <span class="m-menu__link-text">
                                  Members
                                </span>
                              </button>
                            </div>
                            <div class="member-btn">
                              <button on-click="getBusLocation(tb.tuid)" class="m-menu__link btn-sm btn-primary">
                                <span class="m-menu__link-text">
                                  Track
                                </span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--<div class="m-widget4__info">
                        <span class="m-widget4__title">
                          <b> {{tb.route}} {{tb.direction}} </b><span
                            class="float-right track-status">{{tb.status}}</span>
                        </span>
                        <span class="m-widget4__sub">
                          <table>
                            <tr>
                              <td> <b> Bus: </b> {{tb.bus}} </td>
                              <td> <b>Driver: </b>{{tb.driver}}</td>
                            </tr>
                            <tr>
                              <td> <b> Date: </b>{{tb.startTime | date: 'd-MMM-y'}}</td>
                              <td> <b>Time: </b>{{tb.startTime | date: 'h:mm:ss a'}}</td>
                            </tr>
                            <tr>
                              <td> <b>Top Speed: </b>{{tb.topSpeed}} km/hr </td>
                              <td> <b>Average Speed</b> {{tb.topSpeed}} km/hr</td>
                            </tr>
                            <tr>
                              <td> <b>Duration: </b>{{tb.duration}} </td>
                              <td> </td>
                            </tr>
                          </table>
                          <span class="float-right">
                            <button (click)="getTripId(tb.tuid)" class="m-menu__link btn btn-sm">
                              <i class="m-menu__link-icon fa fa-users"></i>
                              <span class="m-menu__link-text">
                                Members
                              </span>
                            </button>

                            <button on-click="getBusLocation(tb.tuid)" class="m-menu__link btn btn-sm btn-primary">
                              <i class="m-menu__link-icon fa fa-map-marker"></i>
                              <span class="m-menu__link-text">
                                Track
                              </span>
                            </button>
                          </span>
                        </span>-->

                      <!-- <span class="m-widget4__sub">
                         
                          </span>
                          <span class="m-widget4__sub"></span>
                         
                          <span class="m-widget4__sub">
                            
                          </span> -->
                      <!--</div>-->
                    </div>
                    <!--end::Widget 14 Item-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Map Popup Modal -->
<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
  aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-warning">Track Bus</h4>
        <a href="#" class="close" data-dismiss="modal">&times;</a>
      </div>
      <div class="modal-body modal-body-custom">
        <div class="col-md-12">
          <div class="map">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
              <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"
                [markerOptions]="markerOptions" [renderOptions]="dir.renderOptions"></agm-direction>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------------------ Passenger List --------------------------------------------->
<div *ngIf="passengerList">
  <div class="m-subheader m-subheader-trackbus" appunwraptag="">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <a (click)="getPassengerList()">
          <h3 class="m-subheader__title">
            <img src="././assets/images/keyboard_backspace-24px.png">Passenger List
          </h3>
        </a>
      </div>
    </div>
  </div>
  <div class="m-content">
    <div class="row">
      <div class="col-xl-12">
        <div class="m-portlet">
          <!--  m-portlet--full-height-->
          <div class="">
            <!-- m-portlet__body ng-class="{'selected-color' : i==selectedIndex}"-->
            <div class="tab-content">
              <div class="tab-pane active" id="m_widget4_tab1_content">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="m-widget4 m-widget4" *ngFor="let passenger of passengerList_data">
                      <div class="m-widget4__item m-widget4__item-trackbus">
                        <div class="m-widget4__img m-widget4__img--pic">
                          <img src="{{ passenger.avtarURL }}" alt=""
                            class="m--img-rounded m--marginless m--img-centered"
                            onError="this.src='././assets/images/avatar.jpg'" />
                        </div>
                        <div class="m-widget4__info">
                          <span class="m-widget4__title">
                            {{ passenger.name }}<br />
                          </span>
                          <span *ngIf="passenger.type.isClassTeacher">
                            Teacher
                          </span>
                          <span>
                            <!-- *ngif="passenger.type === ST"-->
                            {{ passenger.std }} {{ passenger.div }}
                          </span>
                          <span *ngIf="isClassTeacher">
                            Teacher
                          </span>
                          <div class="m-widget4__ext float-right">
                            <!--<a
                          href="#"
                          class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary"
                          (click)="onDelete(passenger.uid)"
                        >
                          Remove
                        </a>-->
                          </div>

                          <span *ngIf="passenger.type === Admin">
                            Admin
                          </span>
                        </div>
                      </div>

                      <!--end::Widget 14 Item-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
