<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Bootstrap Datetimepicker
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Forms
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Form Widgets
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Datetimepicker
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Bootstrap Date Time Picker Examples
					</h3>
				</div>
			</div>
		</div>
		<!--begin::Form-->
		<form class="m-form m-form--fit m-form--label-align-right">
			<div class="m-portlet__body">
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Minimum Setup
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<input type='text' class="form-control" id="m_datetimepicker_1" readonly placeholder="Select date & time"/>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Input Group Setup
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class='input-group date' id='m_datetimepicker_2'>
							<input type='text' class="form-control m-input" readonly placeholder="Select date & time"/>
							<span class="input-group-addon">
								<i class="la la-calendar-check-o glyphicon-th"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Enable Helper Buttons
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class='input-group date' id='m_datetimepicker_3'>
							<input type='text' class="form-control m-input" readonly value="1899-11-29 00:30"/>
							<span class="input-group-addon">
								<i class="la la-calendar glyphicon-th"></i>
							</span>
						</div>
						<span class="m-form__help">
							Enable clear and today helper buttons
						</span>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Orientation
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class='input-group date' id='m_datetimepicker_4_1'>
							<input type='text' class="form-control m-input" placeholder="Top left"/>
							<span class="input-group-addon">
								<i class="la la-check-circle-o glyphicon-th"></i>
							</span>
						</div>
						<div class="m--space-10"></div>
						<div class='input-group date' id='m_datetimepicker_4_2'>
							<input type='text' class="form-control m-input" placeholder="Top right"/>
							<span class="input-group-addon">
								<i class="la la-clock-o glyphicon-th"></i>
							</span>
						</div>
						<div class="m--space-10"></div>
						<div class='input-group date' id='m_datetimepicker_4_3'>
							<input type='text' class="form-control m-input" placeholder="Bottom left"/>
							<span class="input-group-addon">
								<i class="la la-check glyphicon-th"></i>
							</span>
						</div>
						<div class="m--space-10"></div>
						<div class='input-group date' id='m_datetimepicker_4_4'>
							<input type='text' class="form-control m-input" placeholder="Bottom right"/>
							<span class="input-group-addon">
								<i class="la la-download glyphicon-th"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Meridian Format
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class='input-group date' id='m_datetimepicker_5'>
							<input type='text' class="form-control m-input" placeholder="Select date and time" />
							<span class="input-group-addon">
								<i class="la la-calendar glyphicon-th"></i>
							</span>
						</div>
						<span class="m-form__help">
							Linked pickers for date range selection
						</span>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Date Only
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class='input-group date' id='m_datetimepicker_6'>
							<input type='text' class="form-control m-input" placeholder="Select date" />
							<span class="input-group-addon">
								<i class="la la-calendar glyphicon-th"></i>
							</span>
						</div>
						<span class="m-form__help">
							Only date selection
						</span>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Time Only
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class='input-group date' id='m_datetimepicker_7'>
							<input type='text' class="form-control m-input" placeholder="Select time" />
							<span class="input-group-addon">
								<i class="la la-calendar glyphicon-th"></i>
							</span>
						</div>
						<span class="m-form__help">
							Only time selection
						</span>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Modal Demos
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<a href="" class="btn btn-primary m-btn m-btn--pill" data-toggle="modal" data-target="#m_datetimepicker_modal">
							Launch Modal Date Time pickers
						</a>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions">
					<div class="row">
						<div class="col-lg-9 ml-lg-auto">
							<button type="submit" class="btn btn-success">
								Submit
							</button>
							<button type="submit" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--end::Form-->
	</div>
	<!--end::Portlet--><!--begin::Modal-->
	<div class="modal fade" id="m_datetimepicker_modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						Bootstrap Date Time Picker Examples
					</h5>
					<button type="reset" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="la la-remove"></span>
					</button>
				</div>
				<form class="m-form m-form--fit m-form--label-align-right">
					<div class="modal-body">
						<div class="form-group m-form__group row m--margin-top-20">
							<label class="col-form-label col-lg-3 col-sm-12">
								Minimum Setup
							</label>
							<div class="col-lg-9 col-md-9 col-sm-12">
								<input type='text' class="form-control" id="m_datetimepicker_1_modal" readonly data-z-index="1100" placeholder="Select date & time"/>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-3 col-sm-12">
								Input Group Setup
							</label>
							<div class="col-lg-9 col-md-9 col-sm-12">
								<div class='input-group date' id='m_datetimepicker_2_modal' data-z-index="1100">
									<input type='text' class="form-control m-input" readonly placeholder="Select date & time"/>
									<span class="input-group-addon">
										<i class="la la-calendar-check-o glyphicon-th"></i>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group m-form__group row m--margin-bottom-20">
							<label class="col-form-label col-lg-3 col-sm-12">
								Enable Helper Buttons
							</label>
							<div class="col-lg-9 col-md-9 col-sm-12">
								<div class='input-group date' id='m_datetimepicker_3_modal' data-z-index="1100">
									<input type='text' class="form-control m-input" readonly value="1899-11-29 00:30"/>
									<span class="input-group-addon">
										<i class="la la-calendar-plus-o glyphicon-th"></i>
									</span>
								</div>
								<span class="m-form__help">
									Enable clear and today helper buttons
								</span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-brand m-btn" data-dismiss="modal">
							Close
						</button>
						<button type="reset" class="btn btn-secondary m-btn">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--end::Modal--><!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Validation State Examples
					</h3>
				</div>
			</div>
		</div>
		<!--begin::Form-->
		<form class="m-form m-form--fit m-form--label-align-right">
			<div class="m-portlet__body">
				<div class="form-group m-form__group row has-success">
					<label class="col-form-label col-lg-3 col-sm-12">
						Success State
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class='input-group date' id='m_datetimepicker_1_validate'>
							<input type='text' class="form-control m-input" readonly placeholder="Select date & time"/>
							<span class="input-group-addon">
								<i class="la la-calendar-check-o glyphicon-th"></i>
							</span>
						</div>
						<div class="form-control-feedback">
							Success! You've done it.
						</div>
						<span class="m-form__help">
							Example help text that remains unchanged.
						</span>
					</div>
				</div>
				<div class="form-group m-form__group row has-danger">
					<label class="col-form-label col-lg-3 col-sm-12">
						Danger State
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class='input-group date' id='m_datetimepicker_2_validate'>
							<input type='text' class="form-control m-input" readonly placeholder="Select date & time"/>
							<span class="input-group-addon">
								<i class="la la-calendar-check-o glyphicon-th"></i>
							</span>
						</div>
						<div class="form-control-feedback">
							Sorry, that username's taken. Try another?
						</div>
						<span class="m-form__help">
							Example help text that remains unchanged.
						</span>
					</div>
				</div>
				<div class="form-group m-form__group row has-warning">
					<label class="col-form-label col-lg-3 col-sm-12">
						Warning State
					</label>
					<div class="col-lg-4 col-md-9 col-sm-12">
						<div class='input-group date' id='m_datetimepicker_3_validate'>
							<input type='text' class="form-control m-input" readonly placeholder="Select date & time"/>
							<span class="input-group-addon">
								<i class="la la-calendar-check-o glyphicon-th"></i>
							</span>
						</div>
						<div class="form-control-feedback">
							Shucks, check the formatting of that and try again.
						</div>
						<span class="m-form__help">
							Example help text that remains unchanged.
						</span>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions">
					<div class="row">
						<div class="col-lg-9 ml-lg-auto">
							<button type="submit" class="btn btn-primary">
								Submit
							</button>
							<button type="submit" class="btn btn-secondary">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--end::Form-->
	</div>
	<!--end::Portlet-->
</div>
