.modal_style{
  width: 10% !important;
  margin-left: 0% !important;
}/*
.text-center {
  text-align: center !important;
  padding: 0% 20% 0% 20% !important;
}*/

.m-subheader-notice {
  padding: 30px 30px 0 42px;
}

.float-right{
  float: right !important;
}

.notice-date{
  /*position: absolute !important;*/
  margin-top: 1%;
  /*padding-top: 10px;*/
  padding-right: 10px;
}

.m-widget4__item {
  border-bottom: none !important;
}

/*........................................ css code for events ...........................................*/



.sub-heading {
  color: #FF9100;
  font-size: 14px;
  font-weight: 600;
  font-family: Segoe UI;
}

.m-subheader .m-subheader__title {
  display: inline-block;
  padding: 7px 25px 7px 0;
  font-family: "Segoe UI" !important;
  font-weight: bold !important;
  font-size: 30px;
  font-weight: 500;
  vertical-align: middle;
  margin: 0 15px 0 0;
  color: #000;
}
.notice-sub-heading{
  color:#FF9100;
  font-size: 16px;
  font-weight: 500;
  font-family: Segoe UI;
  margin-top: -5px;
}
.create-btn {
  border: 2px solid #FF9100;
  background-color: #FF9100;
  color: #ffffff;
  float: right;
  border-radius: 25px;
  padding: 8px 25px 8px 25px;
  font-weight: 800;
  font-family: Segoe UI;
  font-size: 12px;
  text-decoration: none !important;
  letter-spacing: 1px;
  filter: drop-shadow(2px 5px 6px #bcbcbc);
}

.create-btn img {
  height: 12px;
  /* vertical-align: middle; */
  margin-top: -4px;
}


.main-heading{
  font-size:20px;
  color:#6B6B73

}
.fix-heading{
  font-size:20px;
  color:#6B6B73;
  
  background-color: #ffffff;
}
.date-heading{
  font-size:20px;
  color:#6B6B73;
  font-family: Segoe UI;

}
.notice-desc-box{
  margin-top: 20px;
  height:142px;
  padding:20px;
  width:100%;
  background-color: #ffffff;
  filter: drop-shadow(2px 4px 6px #D9D9D9);
  border-radius: 10px;
}

.notice-desc-heading{
  font-size: 16px;
  font-weight: 650;
  font-family: Segoe UI;
}
.desc-subheading{
  font-size: 12px;
  
  color: #6B6B73;
  font-family: Segoe UI;
}

.events{
  background-color: #ffffff;
  padding: 0px 40px 40px 40px;
  overflow-y:scroll;
  height: 300px;
  width: 100%;
  box-shadow: 0px 2px 3px 2px rgb(216, 215, 215);
  
 
}
.events-subheading{
  font-size: 12px;
  color: #6B6B73;
  font-weight: bold;
}
.events-sub-heading{
  font-size: 10px;
  color: #6B6B73;
  margin-top: -20px;

}
.Notice{
  background-color: #ffffff;
  padding: 0px 40px 40px 40px;
  overflow-y:scroll;
  height: 350px;
  width: 100%;
  box-shadow: 0px 2px 3px 2px rgb(216, 215, 215);

}
.notice-content{
  font-size: 10px;
  color: #6B6B73;

}
.see-more{
  color:#FF9100 !important;
  font-size: 10px;
  font-weight: 500;
  font-family: Segoe UI;
  float: right;
  text-decoration: none !important;
}
.time{
  font-size: 10px;
  color: #A0A0A2;
  margin-top: -20px;
  float: right;

}
.fix-box{
  position:-webkit-sticky;
  position: sticky;
  top:0;
  background-color: #ffffff;
  padding: 20px 0px 20px 0px;
}

.dateTiming{
  float: right;
  font-size: 12px;
  
  color: #6B6B73;
  font-family: Segoe UI;
}
.modal-side-text{
  color: #6B6B73;
  font-size: 12px;
}
.drop-category{
  border: 2px solid #000000;
  background: none;
  color: black;
  border-radius: 25px;
  float: right;
  padding: -10px;
  font-size: 12px;
}
.dropdown-menu li a{
  font-size: 12px;
}
.text-box{
  border:2px solid #ebedf2;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  font-size: 15px;
  color: #000000;
}
.text-box:focus{
  border:2px solid #FF9100;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  font-size: 15px;
  color: #000000;
}
.textareabox{
  font-size: 10px;
}
.audience-btn{
  font-size:10px;
  border:2px solid #6B6B73;
  border-radius: 25px;
  padding: 5px 15px;
  

}

.btn-submit2{
  color:#fff;
  border: 2px solid #FF9100;
  background-color: #FF9100;
  border-radius: 25px;
  float: right;
}
.label-text{
  color: #6B6B73;
  font-size: 12px;
}
.notice-btn-view{
  float: right;
  border:1px solid #FF9100;
  background: none;
  font-weight: 500;
  border-radius: 7px;
  color: #FF9100;
  padding: 5px 10px;
  font-size: 10px;
  position: absolute;
  bottom: 9px;
  margin-left: 71%;
}
.header-size{
  padding-top:20px !important;
  padding-bottom:10px !important;
 
}
.header-size-view{
  padding-top:20px !important;
  padding-bottom:10px !important;
 
}

.modal-heading{
  color: #FF9100 !important;
  font-size: 24px;
}
.btn-close{
  color:#FF9100;
  background-color: #fff;
  border: 1px solid #f0f1f6;
  border-radius: 28px;
  width: 83px !important;
  float: right;
}
.btn-close:hover{
  color:#000;
  background-color: #f0f1f6;
 
  border-radius: 28px;
}

.btn-submit{
  color:#fff;
  border: 2px solid #FF9100;
  background-color: #FF9100;
  border-radius: 28px;
  width: 83px;
  float: right;
  
}
.error-message{
  color: red;
  font-size: 11px;
  font-weight: 600;
  font-family: Segoe UI;
}
.notice-title-box{
  display: inline-block;
  width: 50%;
  padding: 0px 15px;
  
}
.notice-addbtn-box{
  display: inline-block;
  width: 50%;
  padding: 0px 15px;

  
}

a:hover{
  text-decoration: none;
}