<div class="m-subheader m-subheader-notice">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="notice-title-box">
          <h3 class="m-subheader__title">Notices</h3>
          <!--<p class="sub-heading">so far</p>-->
        </div>
        <div class="notice-addbtn-box" *ngIf="role == 'admin' || role == 'coadmin'  || role == 'school'">
          <a class=" create-btn text-white mt-3 btn-sm " href=" #" data-toggle="modal" data-target="#m_modal_7"><img src="././assets/images/plus.png">
            &nbsp;CREATE</a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-4 col-md-6" *ngFor="let notice of notice_list1;  let i=index">
          <div class="notice-desc-box">
            <span class="dateTiming font-weight-bold">{{notice.dateTime | date:'d MMM, y'}}</span>
            <p class="notice-desc-heading">{{notice.type}}
            </p>
            <p class="desc-subheading ">
              {{ (notice.message.length>6)? (notice.message | slice:0:45)+'..':(notice.message) }}</p>
            <a href="#" class="notice-btn-view pull-right" data-toggle="modal" data-target=""
              on-click="getNoticeDetails(notice)">VIEW</a>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-4 col-md-6" *ngFor="let notice of notice_list2;  let i=index">
          <div class="notice-desc-box">
            <span class="dateTiming font-weight-bold">{{notice.dateTime | date:'d MMM, y'}}</span>
            <p class="notice-desc-heading">{{notice.type}}
            </p>
            <p class="desc-subheading ">
              {{ (notice.message.length>6)? (notice.message | slice:0:45)+'..':(notice.message) }}</p>
            <a href="#" class="notice-btn-view pull-right" data-toggle="modal" data-target=""
              on-click="getNoticeDetails(notice)">VIEW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="m_modal_7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <!--[formGroup]="userForm" (ngSubmit)="onSubmit()"-->
      <div class="modal-content">
        <div class="modal-header header-size">
          <h5 class="modal-heading font-weight-bold" id="exampleModalLabel4">
            Add Notice
          </h5>
          <button type="button" class="close modal_style" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-lg-6">
              <p class="modal-side-text">Create a notice in minutes, no matter how big or small the occasion </p>
            </div>
            <div class="col-lg-6">

              <a href="#" data-toggle="modal" data-target="#m_modal_4" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel3" aria-hidden="true"
                class="audience-btn pull-right mb-2">Audience</a>



            </div>
          </div>
          <!--<label class="form-control-label">-->
          <!--Broadcast Notification-->
          <!--</label><br/>-->
          <div class="form-group"
            [ngClass]="{'has-error': userForm.get('type').errors && (userForm.get('type').touched || userForm.get('type').dirty)}">
            <!--<label class="form-control-label">-->
            <!--Broadcast Notification-->
            <!--</label><br/>-->
            <select [ngModel]="object" formControlName="type" class="form-control text-box" required>
              <option placeholder="Selected Notification Type" *ngFor="let object of type" [ngValue]="object">{{object}}
              </option>
            </select>
            <span *ngIf="userForm.get('type').errors && (userForm.get('type').touched || userForm.get('type').dirty)"
              class="help-block">
              <span *ngIf="userForm.get('type').errors.required" class="error-message">
                Please select type!
              </span>
            </span>
          </div>
          <pre class="text-center">{{userForm.value.audience}}</pre>
          <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Description for Notice...." formControlName="message"
              id="message-text" required></textarea>
            <span
              *ngIf="userForm.get('message').errors && (userForm.get('message').touched || userForm.get('message').dirty)"
              class="help-block">
              <span *ngIf="userForm.get('message').errors.required" class="error-message">
                Please fill description!
              </span>
            </span>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <label class="label-text">Date and Time</label>
              <!--<input type="date" class="search_categories mt-2" formControlName="date" required></div>
            <input type="time" class="search_categories mt-2" formControlName="time" required>-->
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                      <input type="date" class="search_categories mt-2 text-box" formControlName="date" required>
                      <span
              *ngIf="userForm.get('date').errors && (userForm.get('date').touched || userForm.get('date').dirty)"
              class="help-block">
              <span *ngIf="userForm.get('date').errors.required" class="error-message">
                Please fill date!
              </span>
            </span>
                  </div>
                  <div class="col-lg-6 col-md-6">
                      <input type="time" class="search_categories mt-2 text-box" formControlName="time" step="2" required>
                  </div>
                </div>

              <!--<div class="form-group">
                
                <input type="date" class="search_categories mt-2" formControlName="date" required>
                <input type="time" class="search_categories mt-2" formControlName="time" step="2" required>-->
                <!--<input type="datetime-local" class="form-control" formControlName="dateTime"
                  placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2013-12-31T00:00:00">

                  <span *ngIf="userForm.get('dateTime').errors && (userForm.get('dateTime').touched || userForm.get('dateTime').dirty)" class="help-block">
                      <span *ngIf="userForm.get('dateTime').errors.required" class="error-dateTime">
                        Please enter date and time!
                      </span>
                  </span>-->
                <!--<div class='input-group date' id='datetimepicker1'>
                              
                              <input type='text' class="form-control" formControlName="dateTime" />
                              <span class="input-group-addon">
                                  <img src="././assets/images/calendar_today-24px.png" class="glyphicon glyphicon-calendar">
                                  
                              </span>
                          </div>
              </div>-->
            </div>
          </div>
          <!-- <div class="col-lg-3">
                        <label class="label-text">End Date</label>
                        <input name="setTodaysDate" class="search_categories date-picker" type="date"
                        formControlName="date">
                        
                    </div>
                    <div class="col-lg-3">
                        <label class="label-text">Start Time</label>
                        <input class="search_categories time-picker" type="time" formControlName="time">
                    </div>
                    <div class="col-lg-3">
                        <label class="label-text">End Time</label>
                        <input class="search_categories time-picker" type="time" formControlName="time">
                    </div>

                  </div>-->


        </div>
        <!--<div class="row m-3">
          <div class="col-lg-6">
            <button type="button" class="btn btn-close text-center btn-block" data-dismiss="modal">
              Cancel
            </button>

          </div>
          <div class="col-lg-6">
            <button type="submit" class="btn btn-submit btn-block ">Submit</button>
          </div>
        </div>-->
        <div class="row mt-1 mb-3">
          <div class="col-lg-12">

            <button type="button" class="btn btn-close btn-sm mr-3" data-dismiss="modal">
              CANCEL
            </button>
            <button type="submit" class="btn btn-submit btn-sm mr-2 " [disabled]= "userForm.valid">
              SAVE
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <form [formGroup]="userForm">
      <div class="modal-content">
        <div class="modal-header">

          <div class="modal-body">
            <h5 id="exampleModalLabel1" class="font-weight-bold">
              Select Audience
            </h5>
            <div *ngFor="let data of audience">
              <input type="checkbox" (change)="onChange(data.audiences, $event.target.checked)" [formControlName]="audience">
              {{data.audiences}}<br>
            </div>



            <button type="submit" class="btn btn-submit pull-right btn-sm" data-dismiss="modal">
              ok
            </button>



          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<!-----------------------------------------modal code-------------------------------------------------->


<div class="container" *ngIf="noticeDetails">
  <div class="modal fade" id="m_modal_10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header header-size-view">
          <h2 class="modal-heading font-weight-bold">Notice</h2>
          <a href="#" class="close" data-dismiss="modal">&times;</a>
        </div>
        <div class="modal-body">
          <span class="dateTiming font-weight-bold">{{noticeDetails.dateTime | date:'d MMM, y'}}</span>
          <p class="notice-desc-heading">{{noticeDetails.type}}
          </p>
          <p class="desc-subheading ">
            {{ noticeDetails.message }}</p>
            <span class="desc-subheading font-weight-bold mt-3" >Sent To: {{noticeDetails.audience}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
